[2017-01-23 14:06] ron666 commented on #2013
Ok let me take a look and keep you posted. Thanks

[2017-01-23 14:24] ron666 commented on #2011
@ricking06 Please take a look at https://github.com/johndyer/mediaelement-plugins.git; you can download the repo and install any of the plugins just referencing in the `<script>` tag. Hope this works for you. Thanks.

[2017-01-23 14:24] #2011 closed

[2017-01-23 14:46] ron666 commented on #2013
I'll encourage you to submit a ticket for Wordpress so they do the necessary adjustments. I've seen that there are some things they need to modify in their end to make the latest version to work

[2017-01-23 14:48] nupamore commented on #2010
Here is link that can be accessed by mobile.
http://nupamore.github.io/test/3.0.1.html

In the mobile, it's fixed to one too. Only show or only hide.
How do you automatically hide it and make it appear when play or pause it?
My question was solved. Thanks to your comments.

[2017-01-23 14:52] OFarukCaki commented on #2013
I appreciated your help. Thank you very much :)

[2017-01-23 14:55] ron666 commented on #2013
You are welcome. I'll close this ticket but let me know if you receive any feedback from them

[2017-01-23 14:57] ron666 commented on #2010
When it's only show, yes it will automatically hide. I'll check for the only hide. Thanks

[2017-01-23 14:57] #2010 closed

[2017-01-23 17:27] ron666 commented on #2008
This issue was moved to johndyer/mediaelement-plugins#1

[2017-01-23 17:27] #2008 closed

[2017-01-23 17:28] ron666 commented on #1919
This issue was moved to johndyer/mediaelement-plugins#2

[2017-01-23 17:28] #1919 closed

[2017-01-23 17:28] ron666 commented on #1891
This issue was moved to johndyer/mediaelement-plugins#3

[2017-01-23 17:28] #1891 closed

[2017-01-23 17:28] ron666 commented on #1874
This issue was moved to johndyer/mediaelement-plugins#4

[2017-01-23 17:28] #1874 closed

[2017-01-23 17:29] ron666 commented on #1598
This issue was moved to johndyer/mediaelement-plugins#5

[2017-01-23 17:29] #1598 closed

[2017-01-23 17:29] ron666 commented on #1205
This issue was moved to johndyer/mediaelement-plugins#6

[2017-01-23 17:29] #1205 closed

[2017-01-23 18:23] ricking06 commented on #2011
Yes the https://github.com/johndyer/mediaelement-plugins.git; works thanks

[2017-01-23 19:29] ron666 opened #2014 "chapters display"
_From @ron666 on January 23, 2017 17:29_

_From @hitechwebsites on September 24, 2015 9:40_

Hi,
When using chapters in Firefox 41 the widths are set at 2%, 3%, 3%, 3% ...... and the last one has the remaining space. Would it not be more practical to set the chapters as a dropdown menu with greater widths. At present this is not very user friendly
Chapter bar:
![chapter_bar](https://cloud.githubus

[2017-01-23 19:29] ron666 commented on #2014
@hitechwebsites Can you provide a URL where we can test this please?

[2017-01-23 19:29] ron666 commented on #2014
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2017-01-23 19:29] ron666 commented on #2014
The idea is to add a button to display them; something like this:
<img width="250" alt="screen shot 2017-01-23 at 2 27 22 pm" src="https://cloud.githubusercontent.com/assets/910829/22219287/30433a92-e178-11e6-90f4-6d149987970a.png">
This will be part of the track package.

[2017-01-23 20:07] DeysonOrtiz opened #2015 "Certain Vimeo Embeds Stutter when played after pause."
Hello and good day.

I have no clue on what may cause this. When I downloaded your demo the Vimeo embed works fine. But when I add my own video to the demo of MediaElements, the video stutters after it is unpaused after the first pause.  When I add the demo video you had used it plays correctly.

This happens on both my Wordpress site and the demo index page that is included with your ME download.

[2017-01-23 21:01] ron666 commented on #2015
Thanks for pointing this. Let me take a look and keep you posted

[2017-01-23 21:02] ron666 commented on #1998
Any updates on this?

[2017-01-23 21:04] ron666 commented on #2002
If no other comments on this I'll close this ticket tomorrow

[2017-01-23 21:05] daveyshindig commented on #1998
Hi. Apologies for the delay, I had lots of plans over the weekend. I will check again in the next few hours.

[2017-01-23 21:06] DeysonOrtiz commented on #2015
Thank you! :)

[2017-01-23 21:24] ron666 commented on #1998
Thanks. Keep me posted

[2017-01-23 21:56] ron666 commented on #2015
@DeysonOrtiz Please download the latest version. I found out that some code wasn't supposed to be there and that was causing some events to be triggered multiple times. I tested your video and it's fine now, as well as the original one on the demo. Please test and let me know. Thanks

[2017-01-23 22:18] DeysonOrtiz commented on #2015
Thank you!  The original Vimeo you had provided had worked great, it was when I had added my videos that they did not.  :)

Thank you so much.  I will test it out as soon as possible.    Thank you :)

[2017-01-23 22:20] DeysonOrtiz opened #2016 "Load & play on hover, show thumbnail again on hover out"
Out of curiosity, is this possible with your plugin using Vimeo embed?  Please watch the hover effect on thumbnails to see what I mean: https://pixabay.com/en/videos/list/?q=dance&image_type=video&cat=&min_width=&min_height=

Thank you for all your hard work and have an amazing day!

[2017-01-23 22:46] ron666 commented on #2016
Not currently. You can add a Feature request in https://github.com/johndyer/mediaelement-plugins and we will assess his feasibility.

[2017-01-23 22:46] #2016 closed

[2017-01-23 22:47] ron666 commented on #2015
Yeah I realized that there was a double call on an event that caused this. Let me know if it worked for you, and if you haven't starred our project yet, I invite you to do so we can have more visibility and improve the ranking of the product. Also invite your peers to star it ;)

[2017-01-23 23:22] daveyshindig commented on #1998
I can confirm that mediaelementplayer loads in Meteor using NPM without errors now in my project. Both relative and absolute paths work for me. For the pluginPath, I use the build directory. This resolves the TypeError issue.

The player still does not play my audio stream. Using `setSrc` to point to a file ending in ".mp3" will let me play the file, though. I've looked through a whole bunch of di

[2017-01-23 23:47] ron666 commented on #1998
Yes please that's a separate issue. Thanks for confirming this and if you haven't starred this repo I invite you to do it so we can have more visibility

[2017-01-23 23:48] #1998 closed

[2017-01-24 00:04] DeysonOrtiz commented on #2016
Where exactly do we add feature requests. Thank you :)

[2017-01-24 00:05] ron666 commented on #2016
Add an issue in the repo that I posted above

[2017-01-24 01:33] stevemayhew opened #2017 "False positive on hasTouch in OS X 10.11.2 with Firefox"
With firefox 50.1.0, this code in TOT constants.js false positives:

[code]
That is because ontouchstart is in window, from the browser console, no other scripts loaded:

[2017-01-24 02:17] stevemayhew commented on #2017
I see this code is taken from Modernizr (https://github.com/Modernizr/Modernizr/blob/0b3cd01/feature-detects/touchevents.js#L40) which is also wrong and there is lots of web debate about it.

Seems the best practice is to not depend on touch detection at all...   Looking at the use of HAS_TOUCH in media element it would seem that would be the simple approach.

[2017-01-24 04:34] ron666 commented on #2017
If you can propose a different solution I can check it

[2017-01-24 05:01] ron666 commented on #1998
Just FYI I don't know which browser you tested but at least I tried Chrome, FF and Safari using the following markup and it worked:
[code]
and the JS config like this:
[code]
I used the demo file for this test and the result is consistent in the 3 browsers mentioned above:
<img width="425" alt="screen shot 2017-01-24 at 12 00 56 am" src="https://cloud.githubusercontent.com/assets/910829/22234720/3

[2017-01-24 09:00] MosheL commented on #1975
thanks. working on RTM.

[2017-01-24 09:01] MosheL commented on #1974
Thanks! tested.

[2017-01-24 10:56] Bluxart commented on #2013
The problem is the jQuery version provided by WordPress. I tested with jQuery 1.9.1 and works, but if I use the default jQuery version the media-element produce the error.

[2017-01-24 11:19] #2002 closed

[2017-01-24 11:22] ron666 commented on #2013
@Bluxart Do you know what's the difference between jQuery standalone and the one provided by Wordpress?

[2017-01-24 11:39] ron666 commented on #2017
@stevemayhew Just FYI, I went ahead and tested this in FF 50.1.0 and I got `false`.
<img width="978" alt="screen shot 2017-01-24 at 6 38 49 am" src="https://cloud.githubusercontent.com/assets/910829/22245805/dd652adc-e1ff-11e6-9c40-29e42c7eec26.png">

[2017-01-24 12:48] DeysonOrtiz commented on #2016
Thank you!  Done! :)

[2017-01-24 12:52] Bluxart commented on #2013
I think WordPress used a version of jQuery < 1.9.1
This is a list of the jQuery files included into last version 4.7: http://core.svn.wordpress.org/tags/4.7/wp-includes/js/jquery/

If i used your script mediaelemen-and-player.js the error is in this string:
`t.$media = t.$node = $(node); `

[2017-01-24 12:54] ron666 commented on #2015
Any updates on this?

[2017-01-24 13:23] DeysonOrtiz commented on #2015
Not yet,  Just finished doing my morning email replies.  Will get on it right now.  :)

[2017-01-24 13:29] ron666 commented on #2015
Great no worries man :)

[2017-01-24 13:43] DeysonOrtiz commented on #2015
Ok.  It works great!  Thank you!!  :)

The stutter is gone and the iframe works.

I do have 2 questions:
Can we add our own poster frame with the iFrame code?
Is there another way to hide Vimeo controls other than going to Vimeo and manually?  Some pages I want controls and in other parts, I do not.

Thank you for all your hard work and have an amazing day! :)

[2017-01-24 14:10] ron666 commented on #2015
Thanks. If you add to your video tag the `poster` attribute and you should be fine.
[code]
There is a trick to hide Vimeo controls but I haven't really tested it and I don't like it personally: http://www.cssplay.co.uk/menu/cssplay-vimeo-hide-control-bar.html

Closing this issue now. Thanks.

[2017-01-24 14:10] #2015 closed

[2017-01-24 14:15] kovacskri opened #2021 "jQuery not found in Drupal 7"
Version 3.0.1 doesn't seem to work with Drupal 7.

The library is included and the javascript files are loaded in the following order:
1. jquery.js?v=1.7.2 (have also tried 1.6-1.10 versions with no luck)
2. jquery.once.js?v=1.2
3. drupal.js
4. mediaelement-and-player.js?v=3.0.1
. . .
18. custom_video.js

The content of custom_video.js is very basic, just the usual Drupal structure, an once wrappe

[2017-01-24 14:17] DeysonOrtiz commented on #2015
Thank you!  Have a great day!

[2017-01-24 14:19] ron666 commented on #2021
Thanks for pointing this. No there's no place where window.jQuery is being called. Have you tried with jQuery 1.9.1. I had a previous ticket when they found out that the version of jQuery had a lot to do to fix this.

[2017-01-24 14:26] kovacskri commented on #2021
Thanks for the quick response, I have tried out every version between 1.6 and 1.10, none of them worked.
As I can see it, mediaelement finds the jQuery, creates the plug-in, but instead of using that, it tries to use the global $, which is undefined.

[2017-01-24 14:37] ron666 commented on #2021
Thanks. I'll check this ASAP and let you know.

[2017-01-24 14:49] ron666 commented on #2021
Can you point me to what do I need to do to install MEJS in Drupal 7, please?

[2017-01-24 14:52] DeysonOrtiz opened #2022 "Remove player controls on Vimeo."
Hello and good day.  I have just come across this article on Vimeo on a newish feature to hide controls.
I was wondering if we could get it to work on your Player:  https://vimeo.com/forums/feature_requests/topic:278001

Here are the parameters to adjust controls, mute and turn off loop:

<iframe src="https://player.vimeo.com/video/161202098?api=1&loop=0&mute=0&background=1" width="500" height="28

[2017-01-24 14:57] ron666 commented on #2022
I'll take a look and let you know. Thanks

[2017-01-24 14:58] DeysonOrtiz commented on #2022
Thank you :)

[2017-01-24 15:28] ron666 commented on #2021
Nevermind, I got it installed now. Looking at it today

[2017-01-24 16:21] kovacskri commented on #2021
I didn't use the module that is out there, it's not maintained anymore and is a total mess.

I wrote a custom module, and included two hooks:
`/**
 * Implements hook_library().
 */
function modulename_content_library() {
  $path = libraries_get_path('mediaelement');
  $libraries = [];

  $libraries['mediaelement'] = [
    'title' => 'Media Element',
    'website' => 'https://github.com/johndyer/me

[2017-01-24 16:48] ron666 commented on #2022
@DeysonOrtiz Please download the latest version. It includes a mechanism to append those query arguments to hide controls. Let me know if it works for you. Thanks

[2017-01-24 18:04] ron666 commented on #2021
@kovacskri Can you please download the latest version and check this again? I found a fix for it, but it needs jQuery 1.7+, since some elements like `on`, `off` are not available in prior versions. Let me know if it works for you. Thanks

[2017-01-24 18:11] DeysonOrtiz commented on #2022
Great it works!  I will just have to now turn on some of your player's controls to be able to pause the video manually if we want..  :)

[2017-01-24 18:12] ron666 commented on #2022
You mean not autoplaying it?

[2017-01-24 18:15] ron666 commented on #2013
@OFarukCaki and @Bluxart please download the latest version of the package. Seems that it was missing some variables inside the package bc another user reported the same with Drupal. So I tested this with Drupal and now it works.

[2017-01-24 18:32] Globulopolis opened #2024 "'Type error' with jQuery.noConflict();"
Hi!
Trying to upgrade from mejs 2.x to latest 3.0.1 and found a bug.
If jQuery.noConflict(); is activated when I see an error
`TypeError: $ is not a function  mediaelement-and-player.js:3786:24`
https://github.com/johndyer/mediaelement/blob/master/build/mediaelement-and-player.js#L3790

How I can fix it?

[2017-01-24 18:32] DeysonOrtiz commented on #2022
I have the autoplay off already. When I have your controls and Vimeo's controls off I am not able to stop it.  So I will need to figure out how to manually pause the video until the Hover On/Off controls are ready.  I hope that makes sense :)

[2017-01-24 18:37] ron666 commented on #2024
Can you download the latest version and test this again please? I just added a fix related to that same issue

[2017-01-24 18:40] ron666 commented on #2022
As far as I'm concerned you should be able to pause it using the Play/pause button from the control bar; also clicking on the video itself should pause it. Are you not experiencing the same behaviors I'm describing?

[2017-01-24 18:43] DeysonOrtiz commented on #2022
Clicking the video does not pause it.  I believe Vimeo had disabled it with this new feature.  Eventually, I would want a Hover to Play and Hover off to Pause.  In the meantime, I will turn on your pause and play controls on the bottom. :)

[2017-01-24 18:46] Globulopolis commented on #2024
@ron666 seems an issue now fixed. Thx

[2017-01-24 18:46] #2024 closed

[2017-01-24 18:47] ron666 commented on #2024
Thank you for checking this

[2017-01-24 18:49] ron666 commented on #2022
The thing is the player by default should be hiding after a second or 2 if nothing is specified. I'll take a look on this. Thanks for reporting this

[2017-01-24 19:01] DeysonOrtiz commented on #2022
Thank you.  :)  You rock! :)

[2017-01-24 19:02] Globulopolis opened #2025 "Using i18n in mediaelementJS 3"
Hi!
Looks like current docs is outdated for latest meJS, ecause I got an error `TypeError: mejs.i18n.locale is undefined` and cannot set up language for container in success callback. It's always load default language.
[code]

[2017-01-24 19:06] ron666 commented on #2025
OK I'll update the documentation. The way you should do it now it's by using `mejs.i18n.language('ru')` and make sure you have loaded the Russian translation file before setting this up

[2017-01-24 19:06] ron666 commented on #2025
Can you point me where in the documentation you saw this issue? Just to make sure I track all possible references

[2017-01-24 19:11] Globulopolis commented on #2025
https://github.com/johndyer/mediaelement/blob/master/docs/installation.md#language

[2017-01-24 19:11] OFarukCaki commented on #2013
I tried again with new files. Now player appears as black screen only, no playing or any buttons, just black screen. Here is the demo url: http://msdos.org/deneme/

[2017-01-24 19:12] ron666 commented on #2025
Thank you. Check that again and you should see the update now.

[2017-01-24 19:13] ron666 commented on #2013
I see the same error that was stated above. I may need to install Wordpress again and test it on my side. I'll keep you posted but definitely it should work now. Drupal users are now fine. And they had the same issue that you are seeing

[2017-01-24 19:16] Globulopolis commented on #2025
Thank you, now it's working like a charm.

[2017-01-24 19:16] #2025 closed

[2017-01-24 19:17] ron666 commented on #2025
You are welcome :)

[2017-01-24 21:22] ron666 commented on #2022
@DeysonOrtiz The clicking in the video doesn't work yet. I need to figure out a smart way to detect when you click inside the iframe. But the controls are hiding/showing properly now. Please download the latest version and check it again please. Thanks.

[2017-01-24 21:31] DeysonOrtiz commented on #2022
Maybe the clicking can be optional.  When eventually the Hover to Play works the click will be needed to open up the product page.

[2017-01-24 21:41] DeysonOrtiz commented on #2022
Ok installed the latest update.  Looks good.  I had added some CSS to hide the controls and play button and they only appear now on Hover.   Thank you :)

[2017-01-24 22:19] ron666 commented on #2022
You are welcome can I close this ticket?

[2017-01-24 22:54] DeysonOrtiz commented on #2022
Yes sir.  Thank you :)

[2017-01-24 22:58] #2022 closed

[2017-01-25 03:17] ron666 commented on #2021
Just FYI I tested it on my local Drupal and worked
<img width="1050" alt="screen shot 2017-01-24 at 10 17 09 pm" src="https://cloud.githubusercontent.com/assets/910829/22276621/e4d61e06-e282-11e6-90b1-6bb09e190f30.png">

[2017-01-25 03:30] ron666 commented on #2013
OK. I tested it on my local environment and it worked. Things I modified on Wordpress (not framework) to test this:

1. Copied all the `build` files inside `wp-includes/js/mediaelement` folder
2. On `wp-includes/js/mediaelement/wp-mediaelement.js` I commented the lines related to silverlight and changed the line `if ('flash' === mejs.pluginType)` to `if ( mejs.rendererName.match(/flash/gi) !== nul

[2017-01-25 10:00] OFarukCaki commented on #2013
It is now worked, thank you very much.

[2017-01-25 11:11] ron666 commented on #2013
You are welcome

[2017-01-25 11:11] #2013 closed

[2017-01-25 13:52] kovacskri commented on #2021
Thanks for your help, it even works with jQuery 1.7 for me.

[2017-01-25 13:52] #2021 closed

[2017-01-25 14:02] ron666 commented on #2021
You are welcome

[2017-01-25 14:14] ron666 commented on #2017
This is also a test from Browserstack using Mac OSX El Capitan with FF 50.0 (the only one available at that moment before upgrading to 51.0)
![screen shot 2017-01-25 at 9 13 24 am](https://cloud.githubusercontent.com/assets/910829/22293709/a44e591e-e2de-11e6-9b0d-ca9a91ea3144.png)

[2017-01-25 14:14] #2017 closed

[2017-01-25 14:15] ron666 commented on #2017
Closing this issue. If needs to be reopen, please let us know. Thanks.

[2017-01-25 16:30] ricking06 opened #2026 "Mediaduration undefined on handleMouseMove when video is not played"
When the video is not started playing yet and if we try to move mouse over the time rail the `timefloat` does not move because in the function `handleMouseMove`  its using

https://github.com/johndyer/mediaelement/blob/master/build/mediaelement-and-player.js#L1719

[code]

Since `media.duration === undefined` it dosent runs.
Therefore  where can i modify the code so `media.duration` gets the value

[2017-01-25 16:37] ron666 commented on #2026
Let me take a look at this and I'll keep you posted. Thanks

[2017-01-25 19:09] ron666 commented on #2026
You don't need to do anything in the code; the easiest approach is to set the `preload` attribute to `metadata` and with that you will be able to know the duration of the media before playing it. For more information, please visit https://www.stevesouders.com/blog/2013/04/12/html5-video-preload/

[2017-01-25 19:09] #2026 closed

[2017-01-25 23:36] ron666 commented on #1997
Any updates on this?

[2017-01-26 09:59] Muthukrish92 opened #2027 "Youtube link not getting shown as in my webpage"
I followed your https://github.com/johndyer/mediaelement/blob/master/docs/usage.md

to get the youtube working but it doesnt seem to load the youtube videos for me. also tried to add the plugin using the same and added the plugin but still it doesnt seem to work.
here is my code:
<html>
<head>
<script src="http://dev.local:81/Resources/Asset/mediaelement-and-player.min.js"></script>
<script src="h

[2017-01-26 11:58] ron666 commented on #2027
@Muthukrish92 I see some things that are not right with your code. Posting the proper code:
[code]
1. jQuery must be set before MediaElement.js
2. pluginPath like it says is just the path not the reference to the Flash file (also I encourage not to use spaces within the string)
3. In the documentation, it states: as example using HLS, meaning that you don't need all that is there, since you were t

[2017-01-26 11:58] #2027 closed

[2017-01-26 15:33] DeysonOrtiz opened #2028 "Hide bottom player controls when using a poster frame."
Hello and good day!
I had wanted to know what the best way to hide the bottom controls only on the poster frame.  The big play button can stay, but I would like to hide the bottom controls during the poster frame.

Thank you for your hard work and have an amazing day!

[2017-01-26 15:52] ron666 commented on #2028
You can try setting `hideVideoControlsOnLoad` to true. That way it won't show up at the beginning, but once you mouse over the video the controls will be display.

[2017-01-26 16:12] ricking06 opened #2029 "Facebook Non 16:9 video display problem"
The video you provided in the facebook plugin example https://www.facebook.com/johndyer/videos/10107816243681884/ `(16:9)

but if i try to use a different resolution video

https://www.facebook.com/BestofVines/videos/2539522849404092/ (4:3 i think)

The video looks abnormal http://i.imgur.com/R4EwJ40.png

What i think is happening that the video fills the width i.e `640px` and adjusts the height,

[2017-01-26 16:22] DeysonOrtiz commented on #2028
Love it!  :)  Thank you :)

[2017-01-26 16:22] ron666 commented on #2029
Yeah Facebook is still limited on what they can offer us. I'll take a look and keep you posted. Thanks.

[2017-01-26 16:23] ron666 commented on #2028
You are welcome

[2017-01-26 16:23] #2028 closed

[2017-01-26 16:28] DeysonOrtiz opened #2030 "Add additional element to player’s controls layer"
Hello,

Is there a way to hook in or add additional buttons to the media player.  For example, I would like to add a div that holds a Favorite button, the title of the product and a buy now button.

The goal would be for these to all appear when the mouse hover along with the player controls and they also disappear after some time just like the controls.

Please let me know if this makes sense.

[2017-01-26 16:48] ron666 commented on #2030
The `mediaelement-plugins` repo contains at least 2 enhancements to the control bar: skip back and jump forward. Take a look at them to know how can you add new buttons. Once you create your plugin, just reference it in the `features` list in the player configuration and in the order you want them:
[code]

[2017-01-26 16:48] #2030 closed

[2017-01-26 16:59] ron666 commented on #2029
I saw that if you don't set `max-width` property or `width="100%" height="100%"`, and you set fixed width and height in the video tag, the video gets set properly. Let me know if that works for you
[code]
![screen shot 2017-01-26 at 11 52 26 am](https://cloud.githubusercontent.com/assets/910829/22341431/cb44f358-e3be-11e6-8f21-1560e05b44a2.png)

[2017-01-26 17:35] DeysonOrtiz commented on #2030
Thank you!  I will test this out.  Is this is the correct link to the plugins:  https://github.com/johndyer/mediaelement-plugins ?

[2017-01-26 18:11] ron666 commented on #2030
Yes it is :)

[2017-01-26 18:18] ricking06 commented on #2029
That is possible but i wanted the video player to be of constant height/width 16:9 and the video inside fitted. but unfortunately its the mistake of facebook .
Thanks anyways.

[2017-01-26 18:35] ron666 commented on #2029
No problem. Closing this issue

[2017-01-26 18:35] #2029 closed

[2017-01-26 18:48] DeysonOrtiz commented on #2030
Is this something I would need a developer to create a plugin?

[2017-01-26 18:55] DeysonOrtiz commented on #2028
Hello,  I am so sorry.  I had thought I had it, but it does not seem to work.  I am using the Demo sample in your download.  Is this the right way to add the code to hide controls on poster frame?

[code]

Thank you :)

[2017-01-26 19:05] ron666 commented on #2030
probably so; in the documentation on that repo I provided sort of a template that is needed to make sure it will work with MEJS, but if you are not a Javascript developer I'd recommend it

[2017-01-26 19:06] ron666 commented on #2028
No, in the configuration with MEJS:
[code]

[2017-01-26 19:28] DeysonOrtiz commented on #2030
Ok.  Thank you.  :)

[2017-01-26 20:12] DeysonOrtiz commented on #2028
Where exactly do we place this config file?  Thank you.

[2017-01-26 20:24] ron666 commented on #2028
It's not a file. Just when you reference mediaelementplayer that's where you should put the flag in brackets. Take a look at the demo.js file and check how's done there

[2017-01-26 20:41] DeysonOrtiz commented on #2028
Ha.  I was just going to ask you if we need to load the Demo.js.  I was trying to reverse engineer this:  https://jsfiddle.net/9ghv61fj/

However, when I try to recreate it on the Download demo and remove the demo.js it does not work.

I will take a look at the demo.js now.  Thank you!

[2017-01-26 20:44] DeysonOrtiz commented on #2028
I had thought that adding this would do the trick:  I have much to learn :)
'''
            <script type="text/javascript">
          $('video').mediaelementplayer({
                hideVideoControlsOnLoad: true,

            });
            </script>
'''

[2017-01-26 20:51] DeysonOrtiz commented on #2028
Ok.  This is what I had done to get it to work.  I opened the Demo.js and introduced the following code to it:

[code]

[2017-01-26 21:22] DeysonOrtiz commented on #2028
Ok.  I think I got it.

From what I understand, the demo.js that is provided is in order to get the demo page to work.  So would think that there is more code in the demo.js than I need.   Am I correct?  :)

Thank you again! :)

[2017-01-26 21:32] ron666 commented on #2028
Exactly the code it's just to show other things on that demo file what you need to be concerned is what is related to the instantiation of mediaelementplayer. That's all :) I'm glad you figured out

[2017-01-26 22:14] DeysonOrtiz commented on #2028
Great!  Is there a demo.js that is just the basics?

For example, I have been adding this to the current Demo.js to get it to work the way I want.  But I do not know what code I can delete that is not needed.
[code]
Thank you!! :)

[2017-01-26 23:50] ron666 commented on #2028
All code before the line `$('video, audio').mediaelementplayer` can be removed. From the config in the `demo.js`, just leave the `pluginPath` element if you are gonna support DASH, HLS, MP4 or MP3. That would be it

[2017-01-27 06:51] Muthukrish92 commented on #2027
hi Ron, Thanks a lot for quick response, I understood the points 1 ,2 and 3 you made thanks for the information i am able to understand how it works now!..
but i have some questions for further understanding

1.Although i didn't use "var player = mejs.players[playerId];" to assign value to the variable "player" the function "player.play();" worked when i loaded the media file from local host where

[2017-01-27 07:52] Muthukrish92 commented on #2027
Okay i found a solution for the error .. In the "mediaelement-and-player.min.js"  source is given as "//www.youtube.com/youtubeApi" so i just added a "http" in front it works now.

but please answer my other calrifications thanks

[2017-01-27 09:46] NemoStein commented on #2001
I do have a similar problem. On Chrome (Win10) I still get this:
[code]

I'm using ME 3.0.1 (NPM)

[2017-01-27 11:21] ron666 commented on #2001
@NemoStein The error only appears on Chrome and it shouldn't prevent you to use the plugin. I'm still figuring out the best way to get rid of that error. I'll keep you posted about this

[2017-01-27 11:34] ron666 commented on #2027
The use of the `playerId` code is to a cross-browser solution; if it worked without it, that's fine but I don't know if other browsers that are more strict will be ok with it.

You got the `file://` because you tested your page directly and not from a page in a virtual host in your machine (which is what you need to test a broader variety of media types in the end). If you put your file inside a f

[2017-01-27 17:02] stevemayhew commented on #2017
Thanks, working on a way to not require touch detection at all, will share
on a branch after testing it more

On Wed, Jan 25, 2017 at 6:15 AM Rafael Miranda <notifications@github.com>
wrote:

[2017-01-27 17:27] ron666 commented on #2017
Great. I appreciate it

[2017-01-27 17:51] DeysonOrtiz commented on #2028
Hello.  Thank you.

I have removed the code before and left everything after and it stopped the player from working.  All it shows are the poster images:

Here is the code:

[code]

[2017-01-27 18:22] DeysonOrtiz opened #2032 "Hide player controls on Pause."
Hello and good day.

The goal is to have the bottom controls hide when the video is paused.  Also, I want to hide the same controls on page load.  So in the goal is that the bottom player controls are not be shown whenever the video is paused as the play button will be shown.

This is what I have added to the features.  The on pause was found on another page on Github.

[code]

Thank you for all y

[2017-01-27 18:26] DeysonOrtiz opened #2033 "Show large play middle button on hover"
Hello and good day.

When the video first loads and also when the video is paused, can we hide the large center play button unless there is a mouse over?

The reason is that I want the poster images to have nothing over them unless we have a mouse over them. Should I use CSS for this or is there a feature for this already, that I have not seen.

Thank you and have a great day! :)

[2017-01-27 18:29] ron666 commented on #2028
You still have some pieces left. This is the correct code you will need:
[code]

[2017-01-27 18:30] ron666 commented on #2033
I'll check this; we might need new config element to achieve it, but I'll keep you posted

[2017-01-27 18:30] ron666 commented on #2032
I'll check this; we might need new config element to achieve it, but I'll keep you posted

[2017-01-27 18:31] DeysonOrtiz commented on #2033
Thank you!! :)

[2017-01-27 18:42] DeysonOrtiz commented on #2028
Nice.  A breath of fresh air!  Thank you!!! :)

[2017-01-27 18:43] DeysonOrtiz commented on #2032
Thank you :)

[2017-01-27 18:43] ron666 commented on #2028
You are welcome :)

[2017-01-27 19:03] ron666 commented on #2033
I'd recommend for this one to use strictly CSS since this is one of the core behaviors of the player and it's a secondary validation that the video is indeed paused.

[2017-01-27 19:03] #2033 closed

[2017-01-27 19:15] ron666 commented on #2032
@DeysonOrtiz OK the element `hideVideoControlsOnPause` is now available in the player. Download the latest version and please test it

[2017-01-27 19:42] DeysonOrtiz commented on #2032
Thank you!  That works great.

One thing, when I have the player set to: showPosterWhenEnded: "true",  The controls show up underneath when the poster appears:

https://mmt.staging.wpengine.com/testing-dual-header/

Thank you :)

[2017-01-27 19:42] DeysonOrtiz commented on #2033
Got it!  Thank you! :)

[2017-01-27 19:57] ron666 commented on #2032
Thank you for pointing this. I'll take a look and let you know when it's fixed

[2017-01-27 20:02] ron666 commented on #2032
Well I checked that and that's the expected behavior. The controls on any other player must be displayed when the video ends to trigger another action

[2017-01-27 20:07] #2032 closed

[2017-01-27 21:07] SeventhCycle commented on #2004
One last question before I can go in and do browser testing on 3.0.2 :)

One of the big features of 3.0 is HLS.js support - so we can play HLS files natively in an HTML5 with browsers such as Firefox and Chrome.

On this page:
https://github.com/dailymotion/hls.js/tree/master

They provide this example to test if HLS is available:

[code]

It looks like the Hls variable isn't available directly wh

[2017-01-27 21:35] ron666 commented on #2004
Yes it is. Under media.hlsPlayer. Check the Usage document and it will give you what you need

[2017-01-27 22:29] DeysonOrtiz commented on #2032
Oh ok,  I had wanted to make the player match to when the video load with no bottom controls.
Can the controls be hidden after a few seconds?  Thank you :)

[2017-01-27 22:32] DeysonOrtiz opened #2034 "Show poster on Pause."
Hello, again.  :)

Right now we have the ability to show poster on end.  However, is there a way to show poster on pause?    Thank you.

Loving this new media player!  Great work! :)

[2017-01-27 23:39] ron666 commented on #2032
Yes you just need to change the startTime elements. Check the API document to get the names of the 3 elements related to that

[2017-01-27 23:40] ron666 commented on #2034
Not yet but it can be integrated soon

[2017-01-28 06:08] ron666 commented on #2007
@isantolin Now FLV available on the website

[2017-01-28 06:08] #2007 closed

[2017-01-28 06:27] ron666 commented on #2034
@DeysonOrtiz The configuration element `showPosterWhenPaused` is now available; please download the latest version and let me know if it works. Thanks

[2017-01-28 12:13] DeysonOrtiz commented on #2034
Woo hoo!  Awesome!

Thank you!  As always, you rock good sir!  :)

[2017-01-28 12:14] #2034 closed

[2017-01-28 12:37] DeysonOrtiz commented on #2032
I will research on how to do this.  Thank you :)

[2017-01-28 12:56] DeysonOrtiz opened #2035 "Enable / Disable progress bar tool tip not working."
Hello,

It seems that the:  enableProgressTooltip: "false", is not working.
I have added it to the other parameters as such:

[code]

Did I do something incorrectly?  Thank you and have a great day! :)

[2017-01-28 13:00] ron666 commented on #2035
Just a recommendation: don't put quotes when you use boolean values (true/false), because Javascript will consider them as true. Try removing them and see if that works for you

[2017-01-28 13:03] DeysonOrtiz commented on #2035
That was the problem.  Thank you!!!! :)  Have an amazing day! :)

[2017-01-28 13:03] #2035 closed

[2017-01-28 13:29] ron666 commented on #2035
You too :)

[2017-01-28 13:53] mehmetakalin opened #2036 "anyone having problems with youtube videos"
I'm getting error 'Cannot play media. No decoders for requested formats: video/x-youtube' in Firefox and Chrome, any suggestions?

[2017-01-28 14:09] ron666 commented on #2036
Can you post the URL so I can check it please? As far as I've seen it's just a warning but it shouldn't prevent you to play the video. The `video/x-youtube` is a custom format and FF doesn't like custom MIME types

[2017-01-28 17:28] ron666 commented on #2004
Yeah that doesn't create any conflicts at all just make sure you call it before mediaelement and you will be fine. Also refer to the Usage documentation to get more info about how to set up the HLS renderer (which is the one I put as an example)

[2017-01-28 22:24] SeventhCycle commented on #2004
Thanks for pointing me to the usage doc. I have the HLS Renderer set up as needed and the include work great. Thank you again!

One thing I haven't seen in the usage doc: removing the player.

In 2.0, I used a call like this to remove the player:

[code]

Idea here that it would go through and remove the player window.

I noticed that in 3.0.2, that no longer seems to work, however, this does:

[c

[2017-01-28 23:31] ron666 commented on #2004
Please check the test/player.html file and see how it is destroyed. Thanks for pointing that I'll add that in the docs

[2017-01-29 00:59] #2036 closed

[2017-01-29 05:11] SeventhCycle commented on #2004
I noticed that doing $(this).remove() seems to just remove the mediaelements player elements, but doesn't actually destroy the <video> tag itself. It's kind of interesting when this happens, as the system will automatically error out when going from playing an M3U8 file to being unable to.

I'm doing something like this:

[code]

I hope this helps on that front for anybody who asks this.

Okay, la

[2017-01-29 05:25] ron666 commented on #2004
The purpose of "destroying" the player is simply destroy the MediaElement player and the `player.remove` does it. If you need to destroy the whole video tag, then you'll have to do it the way you are saying, although I don't understand why you'll need to remove the source tags first

[2017-01-29 08:33] SeventhCycle commented on #2004
"I don't understand why you'll need to remove the source tags first"

When I do a remove on the player and it's playing an HLS file, I see this in the console:

[code]

I was trying to avoid having the regular HTML5 player reload the M3U8 file since it can't be interpreted in a normal video player, but that seems to not work. So I guess disregard that part.

Okay, now I tried doing this
[code]

An

[2017-01-29 09:26] ricking06 opened #2037 "Slider Mousedown Mouseup Pause Play Video Feature"
Lets say im watching a video and i wish to slide the rail.
But when im sliding, the player is still playing which is very annoying and downside usability.

So i edited the function and used `forcedHandlePause` bool to  pause on mousedown ( if player is playing). and then play on mouseup(if forcedHandlePause == true) .

But for some reasons the t.current is not changing position while sliding.(i,e

[2017-01-29 13:17] ron666 commented on #2004
You must put the code of the media.hlsPlayer as I indicated in the documentation (inside a setInterval); that way you will be able to use it without that issue

[2017-01-29 13:30] ron666 commented on #2037
Let me take a look on this. This is a good enhancement since it's related to accessibility. I'll keep you posted

[2017-01-29 13:42] MosheL opened #2038 "HTML5 Player: Object.getOwnPropertyDescriptor(node, propName) is null"
Windows 10, Chrome 56, IE11 (last version).

I was trying to find why I can't skip video.
I was stepped to this function:
[code]

` node.currentTime` == 7.62822`
` node[propName] == 7.62822'
`Object.getOwnPropertyDescriptor(node, propName) == null`
`Object.getOwnPropertyDescriptor(HTMLMediaElement.prototype, 'currentTime') == {...}`
`Object.getOwnPropertyDescriptor(HTMLMediaElement,  'currentTime'

[2017-01-29 13:47] MosheL opened #2039 "Chrome: HAS_TOUCH is true on standard computer"
` !!('ontouchstart' in window)`
` true`
`navigator.maxTouchPoints = 12`

We need a better way to detect touch screens, and  computer with touch screens but also a mouse and keyboard, that need to be handled diffrently.

[2017-01-29 13:52] ron666 commented on #2038
I had removed that conditional in the latest version of the player since I got that error as well. You should be fine now

[2017-01-29 13:55] ron666 commented on #2039
Thanks for pointing this. Currently working on a better solution that doesn't require the detection of touch considered not accurate

[2017-01-29 15:54] ron666 commented on #2038
Please download the latest version; I added a different mechanism to check if the variables are read-only. Let me know if it works for you. Thanks

[2017-01-29 15:56] ron666 commented on #2001
@NemoStein can you download the latest version via GitHub and test this please? I just added a conditional to avoid these errors. Let me know if it worked for you. Thanks

[2017-01-29 15:58] ron666 commented on #2039
@MosheL Related to #2017

[2017-01-29 17:28] ron666 commented on #2004
@SeventhCycle Just put that code inside a `setInterval`, as described on [Usage of Renderers](https://github.com/johndyer/mediaelement/blob/master/docs/usage.md#renderers-usage). Just a note, Android, MS Edge and Safari support HLS natively, so if you plan to use hls.js events, they won't work

[2017-01-29 17:33] ron666 commented on #2037
I checked your code, but I couldn't find what was wrong. I'd like to integrate it as a part of the core functionality, but if you can provide me a URL where I can see your issue and provide a solution I'd appreciate it

[2017-01-29 18:15] Er-c opened #2040 "Is there anyway to use mejs to play youtube as audio?"
That's my question, is there anyway to make it so that you can display a youtube video or playlist using only the basic audio controls. This would be a tremendously useful feature. Thanks for your time.

[2017-01-29 18:17] ron666 commented on #2040
@Er-c Let me check it and I'll keep you posted. Can you provide me an example on how this is being used currently? I think using just the audio tag should be enough but I may be wrong

[2017-01-29 18:57] ricking06 commented on #2037
Here's the link https://jsfiddle.net/6qcvj1en/ with the modified build/player.js

If you look closely.
Whenever you slide the handle by keeping the cursor inside the rail progress bar its working fine.

The issue is : as soon as you hold left mouse button and slide handle and if your cursor **moves out**  of the progress rail (while youre still holding left mouse ) youll see a [stop sign](https://

[2017-01-29 19:09] ricking06 commented on #2040
It was there in v2

[2017-01-29 19:10] ron666 commented on #2037
I tried using Chrome on OSX and I couldn't replicate it. Which OS and browser are you using? I know it is difficult but can you provide me a screen recording of what you are experiencing so I can see what's going on, please?

[2017-01-29 19:20] ricking06 commented on #2037
heres a screen capture https://sendvid.com/ku8xf3tl

im using windows 8.1 chrome

[2017-01-29 19:46] SeventhCycle commented on #2004
Just a headsup that this does not work:

[code]

However, this does:

[code]

My goal here is to get the video to auto-play regardless of which renderer is used.

This will work for me, but from a usability standpoint, it may make sense to have a setInterval() within the player code itself so that automatically starting the video doesn't require multiple code paths.

Or, an autostart configuration

[2017-01-29 20:56] Er-c commented on #2040
@ron666 I tried the audio tag like so:

[code]

I may not be implementing it properly. It does render the audio controls, it's just that it errors out.

Thank you.

[2017-01-29 21:30] ron666 commented on #2004
Did you tried using autoplay in the video tag? That also should work. I'll check the integration of the setInterval element in the core since that will reduce code on the end users. I'll keep you posted about this. Thanks

[2017-01-29 21:31] ron666 commented on #2037
Thanks I'll check it later

[2017-01-29 21:31] ron666 commented on #2040
Ok I'll take a look and keep you posted about this

[2017-01-29 21:36] Er-c commented on #2040
@ron666 You're the best, I really appreciate it. I'm pretty new to all of this stuff (web dev etc.) so I have a feeling it's a simple error on my part. Really appreciate your assistance.

[2017-01-30 04:03] ron666 commented on #2040
@Er-c Please download the latest version of the plugin and test the following code (changing the paths to CSS and JS respectively):
[code]
Let me know if it works for you.

[2017-01-30 04:06] ron666 commented on #2004
Also, the code doesn't need double play() methods:
[code]
That should work as well

[2017-01-30 04:13] ron666 commented on #2037
Thanks for providing me the screen recording; I tried to replicate your bug on Chrome and FF on Mac OSX (since I don't have a Windows machine) and I wasn't able to do it. This might be more a behavior on Windows.  One thing I did do was to put the `forcedHandlePause` variable before the mouse events like this:
[code]
I don't know if that helps or not but let me know so I can integrate this in the

[2017-01-30 09:21] Er-c commented on #2040
@ron666 I tried your suggestion in two separate ways. Using CDN and local files (to the CSS / JS). Under both, I made progress, in that it no longer displays 'error' on the bar. But the issue I now face is that clicking the Play button is non-reactive. It won't play.

Here is the CDN version I tried:

[code]

Perhaps I'm making a silly amateur mistake. I really appreciate your assistance with this

[2017-01-30 09:26] Muthukrish92 commented on #2027
Thanks a Lot !!

[2017-01-30 09:34] ricking06 commented on #2040
It works https://jsfiddle.net/zgxowgay/

[2017-01-30 10:13] ricking06 commented on #2037
ok so after doing a lil bit of diggin i found that changing the currentTime on handlemousemove was expensive on low ram(4gb) when there were lots of ui along with the videoplayer.

So instead of chaning the currentTime of video on handlemousemove im chaning the currentTime of video on mouseup when  forcedHandlePause is true. and also i modified the updateSlider/updateCurrentTime with a fakeTime va

[2017-01-30 11:13] ron666 commented on #2037
Yes please anything that is performance or accesibility related is always good to integrate. Create the PR and I'll take a look. Thanks

[2017-01-30 11:56] ron666 commented on #2040
@Er-c You need to use the local files, since the CDN doesn't reflect any changes yet since I haven't pushed a new release yet. But as @ricking06 said, it works now. Check his Fiddle. By the end of this week I'll push a new version if I complete some tweaks that need to be in place. Thanks

[2017-01-30 11:56] #2040 closed

[2017-01-30 11:57] #2038 closed

[2017-01-30 11:57] #2037 closed

[2017-01-30 12:12] MosheL commented on #2039
Update: I think you need to skip this check, and check via event handlers. my laptop can use these both options.

something like this:

http://stackoverflow.com/questions/14530734/handle-both-mouse-and-touch-events-on-touch-screens

[2017-01-30 12:53] ron666 commented on #2039
I'll check this definitely. Thanks

[2017-01-30 14:15] ron666 commented on #2004
@SeventhCycle Just FYI I tested the `autoplay` attribute and removed the `media.play()` code in `success` callback in your example and worked perfectly like that.

[2017-01-30 20:06] Er-c commented on #2040
@ron666, Ok amazing, that makes all kinds of sense. Thank you so much.

[2017-01-30 23:53] SeventhCycle commented on #2004
@ron666: In this case, the autoplay seems to consistently works in all cases, so that's the route I'm going to use for my code. I'll let you know if there's any issues on that front when I start more involved browser testing.

But just to let you know, the two copies of media.play() are needed for either formats that aren't using hls_native

http://seventhcycle.net/mejs/hls_test/

1. Try playing t

[2017-01-31 01:03] ron666 commented on #2004
Lol I know. Well as a last thing I'll make sure to check the autoplay on the native renderer and that would be it. Thanks for testing this and I'm glad you are good with this player and its improvements

[2017-01-31 04:50] ron666 commented on #2004
FYI, I used the following code and `autoplay` worked with MP4 and HLS just fine:
[code]

[2017-01-31 12:58] khashabawy opened #2042 "native player is shown before page completes loading"
Hay guys ,

I have a VoiceOver platform and i use your great mediaelement plugin

i have removed V2 and replaced it with V3 but i have an issue that the native HTML5 audio player appears

in V2 i solved this issue by using CSS rule

`audio{
display:none !important;
}`

but in V3 this trick did not work
![xxx](https://cloud.githubusercontent.com/assets/400698/22465586/24b07b1a-e7c5-11e6-9999-bd24fd

[2017-01-31 14:17] ron666 commented on #2042
Ca you point where are you seeing the audio tag? I checked your site and I couldn't see it

[2017-01-31 14:22] ron666 commented on #2042
Oh ok, I see what you mean. I'd suggest to use this:
[code]
and in your `success` method add:
[code]
Let me know if that works

[2017-01-31 16:13] khashabawy commented on #2042
thanks @ron666
yes it worked , but the old trick was better and faster , any ideas why not working for this version ?

[2017-01-31 16:23] ron666 commented on #2042
No idea, and maybe it was faster, but that way you are really gonna display the player once everything is ready. If you try to apply some plugin to a hidden element (display: none), it can sometimes not catching the plugin properly

[2017-01-31 16:23] ron666 commented on #2042
As far as I saw your solution should work, but the code is dense and I couldn't see anything

[2017-01-31 16:26] ron666 commented on #2042
Can this ticket be closed?

[2017-01-31 18:17] #2042 closed

[2017-01-31 20:13] daveyshindig opened #2044 "Player not rendering in Meteor project"
Greetings!

I'm still having trouble getting the audio player to render in my Meteor project. Using the demo on a page created for testing purposes, the player looks like this in FF:

<img width="687" alt="screen shot 2017-01-30 at 21 07 02" src="https://cloud.githubusercontent.com/assets/3336967/22479545/3b271ecc-e792-11e6-9711-c24d9060e3ee.png">

It basically looks the same an all the browsers.

[2017-01-31 20:16] ron666 commented on #2044
Can you provide me a URL that I can use to check this issue please?

[2017-01-31 20:17] daveyshindig commented on #2044
@ron666 it's difficult to do that since I'm developing on a local host. let me see what I can do and I'll get back to you in hopefully just a few minutes, thanks!

[2017-01-31 20:18] ron666 commented on #2044
You are welcome. Happy to asssit you with this

[2017-01-31 20:23] ron666 commented on #2044
Or at least post all the code you are using and I'll try to install a local Meteor site to check it

[2017-01-31 20:25] daveyshindig commented on #2044
Thanks again! I'm setting up ngrok as a temp host so you'll be able to see how it's running.

[2017-01-31 20:33] daveyshindig commented on #2044
Here's the instance (via Ngrok): http://ef4f21df.ngrok.io/test

I'm trying to run the demo code there. I'll push the test code momentarily so I can link here.

[2017-01-31 20:36] daveyshindig commented on #2044
Here are the files I've setup for testing: https://github.com/daveyshindig/radiOMG/tree/master/imports/ui/components/test

Right now they're configured to use the demo.

[2017-01-31 20:54] ron666 commented on #2044
OK let me check it and I'll keep you posted

[2017-01-31 21:33] ron666 commented on #2044
OK First thing I see is a bunch of errors in JS in the URL you provided me; check those first
<img width="645" alt="screen shot 2017-01-31 at 4 32 37 pm" src="https://cloud.githubusercontent.com/assets/910829/22485253/f41db130-e7d2-11e6-8add-1ade848c9cb9.png">

[2017-01-31 22:57] daveyshindig commented on #2044
Ah, my apologies. I see the issue. I have pointed all the script links in `test.html` to the correct location now, and the CSS link too. I removed the link to `test.js`, as that script is now loaded in Meteor's `onRendered()` callback. Now the player renders, but it doesn't play anything when I click.

[2017-01-31 22:58] SeventhCycle commented on #2004
@ron666 Autoplay will work just fine. Thank you so much for This is a lot simpler than what we had to use before.

I did find an odd player bug on this page, though:

How to reproduce:
1. Go here http://seventhcycle.net/mejs/hls_test/
2. Choose mp4 from the dropdown. Video will start.
3. Choose HLS from the dropdown. Video will start.
4. Press pause. Video won't pause.

I can't reproduce this on C

[2017-01-31 23:02] daveyshindig commented on #2044
Hmm, I see it works when I put the (document).ready function into a `setTimeout` callback with a 1000ms wait. I think the issue may be that meteor's `onRendered` function is executing all the JS demo code _before_ the DOM is rendered, even though it is not supposed to do that.

[2017-01-31 23:11] daveyshindig commented on #2044
OK, I'm trying my own stream now instead of the demo. The player will stream in Chrome and Safari, but not Firefox. I'm not seeing any errors in the console.

[2017-02-01 00:18] ron666 commented on #2004
Ok I'll take a look and keep you posted. Thanks for testing this

[2017-02-01 00:26] ron666 commented on #2044
I'd strongly suggest you to reduce the code you are trying to use; in your test.html just load the `audio` tag you need; and in the `test.js` just use:
[code]
I'm gonna install Meteor and do a sample and I'll post the code here and report my results.

[2017-02-01 00:42] ron666 commented on #2044
I'll describe my steps so you can see what I did so far; I tested on Chrome, FF and Safari and worked for me:

1. Created a new project: `meteor create player && cd player`
2. Installed all dependencies: `meteor npm install`
3. Installed MediaElement.js: `meteor npm install mediaelement`
4. Run the project: `meteor`
5. Modified the `client` files with this:
**main.html**
[code]
**main.js**
[code]

[2017-02-01 00:53] daveyshindig commented on #2044
It will at least render now when delete all my mejs-related CSS and manually load the CSS in a <link>.

But it still will not play. Nothing I try will get it playing. I've ripped out every bit of CSS and customization (which worked fine in 2.x!!) and nothing helps and I'm starting to really go crazy with frustration here. I have it set up _exactly_ as you specify, but it just doesn't work for me i

[2017-02-01 01:05] ron666 commented on #2044
Instead of using mediaelement/player use mediaelement/all and try again

[2017-02-01 01:17] ron666 commented on #2044
I think I know what's the issue when using mediaelement/player and I will release the fix for this between tomorrow or Thursday so just use mediaelement/all for now and you should be fine

[2017-02-01 01:22] daveyshindig commented on #2044
I was confused how it could work just fine when I load the demo, but not at all in my header.

Then I tried loading all the scripts from the demo, and reduced that to just this one:
```<script src="/mejs/mediaelement-and-player.min.js"></script>```
and with that my player now works in the header.

I think the trouble might be with the pluginPath. The files are all there at /mejs/ (ie. http://ef4f2

[2017-02-01 01:27] ron666 commented on #2044
Well if it doesn't find a file it indicates an 404 error in console as far as I've seen. Like I said, with what you have it should work, but I can see that there is an issue with `mediaelement/player` and I will fix it and release it as soon as possible.

[2017-02-01 01:37] daveyshindig commented on #2044
Sure. I'm glad I've at least found a workaround. I'd been trying on and off for weeks. Happy to see this seems to work with all the other code in the `mediaelementplayer()` init that I had earlier. Now hopefully I can get the player styles to look right. Have there been a bunch of changes to the CSS besides making replacing `mejs-` with `mejs__` for BEM? Maybe I should expect to restyle given the

[2017-02-01 01:37] #2044 closed

[2017-02-01 01:42] ron666 commented on #2044
No in terms of the CSS no they hadn't been any major changes (other than the BEM naming class convention switch); just removed unnecessary styles and added PostCSS. When the next version comes, can you test again for me using `mediaelement/player` in your Meteor file, please? Just to confirm it will be solved.

[2017-02-01 10:44] xpetter opened #2045 "Uncaught TypeError in Chrome 56"
Error in Chrome 56:

Uncaught TypeError: Cannot assign to read only property 'duration' of object '#<HTMLVideoElement>'
    at HTMLVideoElement.d.(anonymous function) [as setDuration] (http://cdn.jsdelivr.net/mediaelement/latest/mediaelement-and-player.min.js:25:27102)
    at HTMLUnknownElement.e [as setDuration] (http://cdn.jsdelivr.net/mediaelement/latest/mediaelement-and-player.min.js:12:12536)

[2017-02-01 11:47] ron666 commented on #2045
Thanks for pointing this. The fix is already implemented but until I release the next version it won't be reflected on the CDN

[2017-02-01 11:47] #2045 closed

[2017-02-01 12:55] an1rk4 opened #2046 "flash fallback not playng new src"
[code]

all that I did, always playing the track that was set first.
how can I play a different track?

[2017-02-01 14:25] ron666 commented on #2046
I'll take a look and keep you posted

[2017-02-01 19:20] ron666 commented on #2046
@ale-grosselle I wanted to know if you can assist me with this since I'm not an expert on AS3. Please download the latest version of the plugin so have the latest fixes. This is the code I used:
[code]

[2017-02-01 19:20] ron666 commented on #1997
Closing this issue since no updates have been posted for the past 2 weeks. If you want us to reopen it, let us know. Thanks

[2017-02-01 19:20] #1997 closed

[2017-02-02 12:03] ron666 commented on #2046
@ale-grosselle Nevermind. I figured out with @an1rk4 help thank you

[2017-02-02 12:05] ale-grosselle commented on #2046
Hi raphael, ok.

For ant request, i am here!

Il 02/feb/2017 13:03, "Rafael Miranda" <notifications@github.com> ha
scritto:

[2017-02-02 12:08] ron666 commented on #2046
Thanks @ale-grosselle I appreciate it

[2017-02-02 13:27] DeysonOrtiz opened #2048 "Responsive Grid with video."
Hello and good day,

I having a challenge creating a responsive grid with media elements since grids use percentages.  Is there a trick to get this to work? I have tried to use Fill & Auto but, I get mixed results.

Is there a responsive grid you would recommend best with MediaElements or any suggestions.  Thank you and have an amazing day! :)

[2017-02-02 13:39] ron666 commented on #2048
Have you tried `responsive` in the `stretching` configuration?

[2017-02-02 14:13] DeysonOrtiz commented on #2048
Ok.  I will try it.  Thank you very much! :)

It is my understanding that the documentation makes it seem that the responsive is a result of "auto" and not its own mode:

`Stretching modes for video player. If auto is set, player will try to find the max-width and max-height CSS styles to turn it into responsive mode;`

[2017-02-02 14:30] BackuPs opened #2049 "Media elements audio buttons do not align correctly"
Hi

Checkout image below

The audio buttons for a mp3 file do not align properly.

Pls fix.

/* Start: CONTROL BAR */
.mejs__controls {
    padding: 5px 10px;
}

![image](https://cloud.githubusercontent.com/assets/6078370/22553308/86f4dec2-e95c-11e6-86c9-8b72e1b336da.png)

Thanks

[2017-02-02 14:32] ron666 commented on #2049
I'll add this soon. Thanks

[2017-02-02 14:33] ron666 commented on #2049
Although I don't see any issues on the main website, can you send a URL so I can see this issue somewhere else, please?

[2017-02-02 14:44] ron666 commented on #2048
well it is true if the `video` tag is something like this:
[code]
then `auto` takes place

[2017-02-02 14:49] Instagit opened #2050 "UI doesn't work"
I'm trying to add the MediaElement player to Nextcloud (https://github.com/nextcloud/files_videoplayer/tree/mediaelement) to test if it can replace Video.js.

I initialize the player and it seems to work, but the UI is unresponsive. The play button doesn't disappear, the progress bar doesn't work and is not clickable. There are no errors in the JS console. Do you have an idea what would cause this

[2017-02-02 14:49] ron666 commented on #2050
Can you share a URL so I can see what's the issue, please?

[2017-02-02 14:51] ron666 commented on #2050
Also make sure you use the latest version (3.1.0)

[2017-02-02 14:59] Instagit commented on #2050
Version 3.1.0 fixes it. Thank you!

[2017-02-02 14:59] #2050 closed

[2017-02-02 15:14] DeysonOrtiz commented on #2048
Oh ok.  I was not aware that there was a responsive setting.  Thank you.  The responsivness seems to work on the page load as I expected.

However, I have another error and I do not if the cause is a mediaelement.js setting or in the grid itself.

To see the error, please click on the pagination number #9 at the link below:
Also,  I had turned off the preview hover plugin while the website is in d

[2017-02-02 15:20] ron666 commented on #2048
Ok I'll check this and keep you posted

[2017-02-02 15:22] DeysonOrtiz commented on #2048
Thank you very much! :)

[2017-02-02 15:25] ron666 commented on #2048
I see 2 errors and none of them are related to the plugin; I'd start from there.
<img width="893" alt="screen shot 2017-02-02 at 10 25 23 am" src="https://cloud.githubusercontent.com/assets/910829/22555531/fa0b8e54-e931-11e6-8c0f-62877b49541b.png">

[2017-02-02 15:36] DeysonOrtiz commented on #2048
Thank you.  :)
Are you using firefox or Chrome.

[2017-02-02 15:53] DeysonOrtiz commented on #2048
Thank you.  I have removed those 2 errors.
The issue seems to be that I do not have a defined height.  Once I add it, it seems to work.

Thank you for all your amazing work and help.  Have a great day! :)

[2017-02-02 16:19] DeysonOrtiz commented on #2048
I spoke too quickly.  Every time I change the pagination page the mediaelements goes out of the height size.

[2017-02-02 16:25] DeysonOrtiz commented on #2048
Maybe this current grid is not the best one to use Media Elements.  I will search other ways to do it, before I lose my hair :)

Thank you :)

[2017-02-02 17:02] BackuPs commented on #2049
Hi sure

here it is  http://cleanstrikingr.backupsdemo.nl/shortcodes/video

[2017-02-02 17:22] GezwiZ opened #2051 "IE8"
Does version 3 still support IE8 (I'm guessing not)? I'm getting the following errors in the developer console in IE8:

  Object doesn't support this property or method  jquery-3.1.1.min.js, line 3 character 43
  Object doesn't support this property or method  jquery-3.1.1.min.js, line 3 character 43
  Object doesn't support this action  mediaelement-and-player.min.js, line 26 character 22252
  Ob

[2017-02-02 17:51] ron666 commented on #2051
No it doesn't support it anymore

[2017-02-02 17:51] #2051 closed

[2017-02-02 17:51] ron666 commented on #2048
You are welcome closing this ticket now since it's not related to the plugin

[2017-02-02 17:51] #2048 closed

[2017-02-02 18:19] ron666 commented on #2046
@an1rk4 Please download the latest version and test it. It should be good now

[2017-02-02 18:25] ron666 commented on #2049
The problem I see is that there's a `audio_frame` DIV that has a fixed height, and the player is taking its height; if you change the height of it to `40px` that's what you will need

[2017-02-03 07:14] BackuPs commented on #2049
Hi

Thank you for pointing that out to me but it still leaves me with one issue. The audio player is bigger then screensize when you get to mobile cellphone portrait mode. It does not size down.  Any idea where that is coming from?

[2017-02-03 07:37] BackuPs commented on #2049
never mind.... i found that one also... sorry for the inconvenience.

[2017-02-03 07:56] BackuPs commented on #2049
Please add max-width to the .mejs__container because when you parse a width into the options and you get below that width on screen size it does not size down for the audio div that has the .mejs__container

.mejs__container {
    max-width: 100%;
}

[2017-02-03 08:38] astr0junk commented on #2046
we fixied it again. add 'canplay' method support (which trigger on opened media connection) and update AS and SWF files. @an1rk4 will send new PR today, and we will have a correct working version of a flash fallback.

[2017-02-03 11:21] ron666 commented on #2049
If you need to use the old theme, just use the `classPrefix: 'mejs-'` config element, and you will see that there's a "legacy" stylesheet. Use it and you should be fine; now the reason I didn't add the mx-width in the stylesheet is because not everybody wants to make the tags responsive, since there are 3 different stretching modes: `none`, `responsive` and `fill`. If you check the demo file, the

[2017-02-03 14:27] ron666 commented on #2004
@SeventhCycle Sorry for taking too long. Download the latest version from GitHub and let me know if the issue with FF you described above is solved. Let me know. Thanks for reporting this

[2017-02-03 14:29] ron666 commented on #2049
Just FYI, I just added the style for the demo file as described above. Download the latest version of the player from GitHub and you should see it

[2017-02-03 14:38] BackuPs commented on #2049
Thank you for all the detailed info i will adjust my css and javascripts. :-)

[2017-02-03 14:44] ron666 commented on #2049
You are welcome. Can I close this issue?

[2017-02-03 14:47] BackuPs commented on #2049
Yes please  ! Have great weekend !

[2017-02-03 15:00] ron666 commented on #2049
Thank you. You too!

[2017-02-03 15:00] #2049 closed

[2017-02-04 00:32] SeventhCycle commented on #2004
@ron666 I went ahead and ran the build script to update Unfortunately, it looks like it's still there.
http://seventhcycle.net/mejs/hls_test/

Please let me know if you can repeat on your end.

FYI, my user agent is: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:51.0) Gecko/20100101 Firefox/51.0

[2017-02-04 02:16] ron666 commented on #2004
You need to download the latest version from this website; if you use NPM you won't get the fix

[2017-02-04 03:04] ron666 commented on #2004
The NPM fix for this will be available when I push the next version so meanwhile test it downloading directly and you should be fine

[2017-02-05 02:29] ron666 commented on #2039
@stevemayhew and @MosheL can you check `has_touch_removal` branch and let me know if it works for you, please? The HAS_TOUCH was only meant to target mobile devices so I just replaced that flag with IS_IOS and IS_ANDROID, and that should be enough. But I need confirmation about this so if you can help me with this I'd appreciate it

[2017-02-05 11:13] anomaly-stalker opened #2055 "Flv video is not playing when swf file is on cdn"
I'm trying to play flv video from the page located at abc.com. But the swf files used by player are located at other domain e.g. dif.com/mediaelement-flash-video.swf. And I'm facing with errors that "getDuration", etc.. methods are not found. The param "allowScriptAccess=always" is set for embedded swf object. Probably the access is not permitted in the swf file.

[2017-02-05 12:38] ricking06 opened #2056 "RTMP unknown URL scheme"
Im using nxing rtmp module to stream live videos from my obs

I can play the stream via vlc media player using this url(network stream) `rtmp://127.0.0.1:1935/app/test`

When using the mediaelement player im getting `GET rtmp://127.0.0.1:1935/app/test unknown url scheme`

[code]

[2017-02-05 13:41] ricking06 commented on #2056
looks liek problem was in rtmp module . im closing this

[2017-02-05 13:41] #2056 closed

[2017-02-05 17:30] ron666 commented on #2056
Glad you figured out

[2017-02-05 17:34] ron666 commented on #2055
The errors related to getDuration should be fixed in this latest version; please download it from GitHub, since the release is not ready yet, so you can test. About the use of CDN SWF files, this is the first time I hear somebody tries to use it like that, honestly. I'll check this since it might be related to a `securityDomain` property. I'll keep you posted, but my recommendation is to put the f

[2017-02-06 05:06] SeventhCycle commented on #2004
Okay, I'm seeing the fix in place. Looks good from what I can see.

Is this in 3.1.1? Or not available just yet as a release?

Thanks.

[2017-02-06 07:58] lugir opened #2057 "Audio is detected as Infinity stream, how to fix it?"
Hi,

I'm using mediaelment for audio play, when I use mp3 files inside my site, they're always be detected as infinity stream, shows "Live broadcast'  when play it. But if I change the mp3 url to an outside resource (e.g http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3 in MediaElement front page), it works fine, audio length and status bar shows up.

Is there some thing wrong with my ser

[2017-02-06 11:12] ron666 commented on #2004
Not available yet as a release

[2017-02-06 11:52] ron666 commented on #2057
Probably you need to check the server setup, as well as the process of how to the audio files are being generated. Often, the duration is not being passed during the audio encoding and might be the real cause of your issue. I'm not an expert on audio, but that's a start point for you.

[2017-02-06 11:52] #2057 closed

[2017-02-06 12:02] lugir commented on #2057
All mp3 files are normal uploaded audio files, not generated by a script or other programs. I also downloaded the sample mp3 file from MediaElement.js frontpage - http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3 - then uploaded it, still can't parse audio length.

So I'm wondering if there're things need to be configured in the web server? but I don't have a clue where to get start. alre

[2017-02-06 12:06] ron666 commented on #2057
I'll try to find some sources that can help you; I haven't had any luck yet. I'll keep you posted

[2017-02-06 12:12] lugir commented on #2057
Thanks, and I'll try to figure it out too, will update this post if find any solution.

[2017-02-06 13:47] ron666 commented on #2046
Closing this issue since fix has been merged

[2017-02-06 13:47] #2046 closed

[2017-02-06 13:49] ron666 commented on #2055
I have added security domain access in the files now; however, this change won't be reflected until I push the next release so the CDN can reflect them. Is there a way you can install them in a different domain and test this with your code, please?

[2017-02-06 13:57] ron666 commented on #2055
Just download the latest version from GitHub

[2017-02-06 14:51] ron666 commented on #2039
I merged the `has_tocuh_removal` branch on master so you don't have to rely on HAS_TOUCH; I verified all the code that used it and it is safe the approach I took. Closing this issue

[2017-02-06 14:51] #2039 closed

[2017-02-07 01:19] lugir commented on #2057
Hi, after some research and compare the headers of different mp3 urls, seems like GZip causes this issue, after add following directive into .htaccess file to prevent mod_deflate gzip, problem solved.
`RewriteRule \.mp3$ - [T=audio/mpeg,E=no-gzip:1]`

[2017-02-07 04:26] ron666 commented on #2057
Glad you figured out

[2017-02-07 06:16] anomaly-stalker commented on #2055
Fixed! Thank you!

[2017-02-07 06:16] #2055 closed

[2017-02-07 07:30] weituotian opened #2058 "how to seek to the specified time?"
can not seek?
why do not exposed the method?
it is very userful!
![u 2477565898 579492503 fm 116 gp 0](https://cloud.githubusercontent.com/assets/7270968/22681826/4cb98b58-ed4a-11e6-8a70-8bdd4d9fbea1.jpg)

[2017-02-07 09:06] astr0junk commented on #2058
maybe native setCurrentTime will solve you problem?

[2017-02-07 11:28] ron666 commented on #2058
You can use `setCurrentTime`, or to start video in a specific time, use the `#t` element like this: `http://vodflash.tv5monde.com/focus/legendes/4fils.mp4#t=240`. The latter is native behavior and supported.

[2017-02-07 11:28] #2058 closed

[2017-02-07 12:42] weituotian commented on #2058
the native method mean document.getElementById('myvideo').setCurrentTime();

or using player.setCurrentTime()?

which is right?
![default](https://cloud.githubusercontent.com/assets/7270968/22691512/c54ad6dc-ed75-11e6-9441-be2e4a547f9e.jpg)

[2017-02-07 12:48] astr0junk commented on #2058
mediaElement.setCurrentTime((e.originalEvent.offsetX/e.currentTarget.clientWidth)*mediaElement.duration);

where mediaElement is instance of mediaelement object.

something like that..

[2017-02-07 15:23] Er-c opened #2060 "SVGs for play/pause not showing up"
I installed mejs on a site I am working on. It works, insofar as all functionality is there and I could not be more pleased. Thank you so much. I am using s3 and cloud front with Jekyll if that matters.

My issue is probably crazy simple. The play/pause icon does not render. I see that it's trying to pull the icons from `mysiteurl/assets/stylesheets/mejs-controls.svg`

Curious how I would set abou

[2017-02-07 16:06] ron666 commented on #2060
Do you have a URL I can check?

[2017-02-07 16:26] Er-c commented on #2060
Yes. And thank you.

https://45c.io/politics/NSC-Shakeup/

[2017-02-07 16:58] ron666 commented on #2060
I think this comes from your stylesheet directly on the style `.mejs__button>button`; try to change the `background` with the right path where the `mejs-controls.svg` file is

[2017-02-07 18:05] Er-c commented on #2060
Okay, so the theme I am using utilizes gulp to store icons in separate SVG files. Upon build (this is Jekyll) with gulp, I am able to tell it to gulp the icons which takes all of my separate icons and thrusts them into one single file in the _includes of my site. No Surprise, this is called `icons.svg`.

So the first thing I tried was taking the mejs svg file I found here on GitHub and put it in a

[2017-02-07 20:00] ron666 commented on #2060
Yeah keep me posted. Closing this issue since it's not related to the plugin itself

[2017-02-07 20:00] #2060 closed

[2017-02-08 01:41] weituotian commented on #2058
I am confused about there is no setCurrentTime method in the [document](https://github.com/johndyer/mediaelement/blob/master/docs/api.md)!

![u 1171615743 42639056 fm 21 gp 0](https://cloud.githubusercontent.com/assets/7270968/22719906/bfa605f4-ede2-11e6-90ad-5b345e3b07f8.jpg)

[2017-02-08 02:29] mziwisky opened #2062 "Caption file XSS vulnerability"
We're using our own fork of mejs at Instructure, and recently patched an XSS vulnerability.  We allow users to upload their own caption files, and we serve them exactly as we received them.  mediaelement inserts the content as HTML without any kind of sanitization.  This fix inserts the content as text instead.

https://github.com/instructure/mediaelement/pull/15

You may have the intention to all

[2017-02-08 03:32] ron666 commented on #2058
@weituotian You can use that method. I'll expand the documentation with more methods. Thanks for pointing that

[2017-02-08 03:34] ron666 commented on #2062
Indeed. That's a good point. I'll check this before I release the next version and see what I can add, or simply for now the `text` method will be enough. Thanks for pointing this.

[2017-02-08 04:02] weituotian commented on #2058
thanks a lot, @astr0junk @ron666 for solving my problem

![u 2594961288 1331693740 fm 23 gp 0](https://cloud.githubusercontent.com/assets/7270968/22723027/0a0e4de6-edf6-11e6-957f-430f4ada551e.jpg)

[2017-02-08 04:13] ron666 commented on #2058
You are welcome

[2017-02-08 11:40] ron666 commented on #2062
@mziwisky In the new version I worked on a method like this, but I'd like to get your feedback about it, so I can integrate it in the next release. Please let me know and hope to hear from you soon, since I'm planning the next release no later than Friday.
[code]

[2017-02-08 13:33] ron666 commented on #2062
Nevermind. I will include this only for captions since it doesn't seem that I'll need this anywhere else. Thanks

[2017-02-08 13:33] #2062 closed

[2017-02-08 13:49] DeysonOrtiz opened #2064 "Media Elements in Wordpress"
Hello and good day,

Is this something I should include into Wordpress if we want to use custom versions of Media Elements?

https://github.com/justintadlock/theme-mediaelement/tree/dev

Thank you and have a great day!

[2017-02-08 14:00] ron666 commented on #2064
I never heard of this one; you can try it, but if so, just make sure you use the `mediaelementplayer-legacy.css` stylesheet, and also in the player configuration you set `classPrefix: 'mejs-'` to make it compatible

[2017-02-08 14:00] #2064 closed

[2017-02-08 14:10] DeysonOrtiz commented on #2064
Thank you :)

[2017-02-08 16:16] tiffwyatt commented on #1873
This bug seems to have reappeared? I just tested the video player on http://www.mediaelementjs.com using Safari 10.0.3 and the behaviour is exactly the same as described by knomedia in the first post on this issue.

I can't tab through the controls of the player itself, nor can I navigate to any link after the player, because I keep losing focus and getting sent back to the first safari tab.

Can

[2017-02-08 16:30] ron666 commented on #1873
Yeah I can see this. Odd. I'll try to check what's going on with this.

[2017-02-08 16:31] ron666 commented on #1912
I could try to do something about it, but since Wordpress is relying on this player for many websites, if I introduce something here I may end up breaking many themes. So closing this issue until figuring out a better way to deal with this

[2017-02-08 16:31] #1912 closed

[2017-02-08 16:34] ron666 commented on #1873
This seems to be an issue with Safari itself. I tested this with YouTube and it behaves the same. @tiffwyatt can you confirm this?

[2017-02-08 16:47] tiffwyatt commented on #1873
No, sorry, can't confirm. YouTube is working nicely in Safari, can navigate using only the keyboard without any problems.
Strange …

[2017-02-08 16:55] ron666 commented on #1873
OK I'll check some more. If you find anything let me know

[2017-02-08 18:51] isantolin opened #2065 "Chromecast Support"
@ron666  A lot of players now includes Chromecast support
- VideoJS: https://github.com/benjipott/video.js-chromecast
- Flowplayer: https://flowplayer.electroteque.org/chromecast

Its a good feature, because in the case of Flowplayer is a pay plugin

[2017-02-08 19:00] isantolin opened #2066 "[Renderer] Twitch support"
@ron666 Another good feature is the ability to embed Twitch streams

https://github.com/justintv/Twitch-API/blob/master/embed-video.md

Its very controllable via Javascript

[2017-02-08 19:00] ron666 commented on #2065
@isantolin Thanks. I'll check this

[2017-02-08 19:18] isantolin opened #2068 "Question about "johndyer/mediaelement-plugins""
I think that repository is too hidden and is maintained by official maintainers (is not a third party content). Then, should be merged into "johndyer/mediaelement" on a directory called "extras"

[2017-02-08 19:26] ron666 commented on #2068
The player itself as it stands should remain like it is for size purposes; the plugins repo is strictly to expand the player and that is the main distinction between one and the other

[2017-02-08 19:26] #2068 closed

[2017-02-09 11:11] yang06061079 opened #2069 "Uncaught TypeError: Cannot read property 'destroy' of undefined(…) mediaelement-and-player.min.js:25"
After I migrate the mediaelement from 2.16.4 to 3.0.0,the video can play,but the chrome browser console the error "Uncaught TypeError: Cannot read property 'destroy' of undefined(…) mediaelement-and-player.min.js:25 ".
is my use method error or is it a bug?
Thank you very much!
![image](https://cloud.githubusercontent.com/assets/18298611/22780963/8844ffc4-eefb-11e6-8e1c-f0b3f6d2b154.png)

[2017-02-09 11:15] yang06061079 commented on #2069
I initialize the meidaelement like this:

new MediaElementPlayer("#video-player", {
                    success: function (mediaElement, originalNode) {
                        videoPlayer = mediaElement;
                        videoPlayer.setSrc(videoUrl);
                    }
                });

[2017-02-09 11:25] yang06061079 commented on #2069
I replace the  mediaelement-and-player.min.js file with mediaelement-and-player.js,the error  printscreen is like this:
![qq 20170209192106](https://cloud.githubusercontent.com/assets/18298611/22781416/5cccff0c-eefd-11e6-90d1-834cd7baa15b.png)

[2017-02-09 11:48] ron666 commented on #2069
Please download the latest version; your error was fixed in 3.1.1

[2017-02-09 12:01] #2069 closed

[2017-02-09 14:35] anomaly-stalker opened #2070 "Troubles with youtube playback"
Hi.
I'm trying to play a youtube video and I need the controls to be hidden when the playback is started (After mejs.play() call). However when hideVideoControlsOnLoad setting is set "true" I'm facing an error with youtube playback in fullscreen. When the controls are hidden in the fullscreen I can't show them back.
Also, there is a second minor issue with youtube: Click on the volume slider, hold

[2017-02-09 14:44] ron666 commented on #2070
Do you have a CodePen or URL you can share where I can see your issues and check them please?

[2017-02-09 14:51] ron666 commented on #2070
I see the issue with the volume; I'll check it I just need you to show me the first one

[2017-02-09 15:21] anomaly-stalker commented on #2070
![mejs](https://cloud.githubusercontent.com/assets/11961226/22789612/86f894e8-eef4-11e6-9a67-b015b5626972.png)
Just add hideVideoControlsOnLoad: true to player settings in demo.js

[2017-02-09 16:00] ron666 commented on #2070
So I add that and select the YouTube video, play it and click the fullscreen button? Or do I need to do something else?

[2017-02-09 16:49] ron666 commented on #1873
@knomedia I found out that this piece on the code causes the lost of focus in Safari:
[code]
Any thoughts on how this could be affecting Safari?

[2017-02-10 02:05] yang06061079 commented on #2069
It solves my problem.Thank you very much!

[2017-02-10 02:22] ron666 commented on #2069
You are welcome

[2017-02-10 05:14] ron666 commented on #2014
@hitechwebsites Now chapters are displayed as a new button (like Captions do currently). Closing this issue now.

[2017-02-10 05:14] #2014 closed

[2017-02-10 07:07] anomaly-stalker commented on #2070
Yes. After that do not interact with the player until the controls panel will not be hidden. And then try to show it back.

[2017-02-10 12:02] ron666 commented on #2070
Perfect I'll check this and keep you posted on both issues.

[2017-02-10 12:32] kachaj7 opened #2072 "'mejs-time-loaded' in progress doesn't change the width on resize."
I'm updated the player from 2.17 to 2.23.5.
But the progress bar don't work properly for  me. When I stop the Video after view seconds, the span with class 'mejs-time-loaded' doesn't resize when I change the browser width.

I have compared with old Version and on resize the argument was empty.  In newer Version the argument of setProgressRail should be the empty too?
[code]

[2017-02-10 13:01] ron666 commented on #2072
Unfortunately I don't have a lot of reference on older versions; the current version I maintain is 3.x if you find the issue in the latest version I'll be happy to take a look at

[2017-02-10 20:38] mziwisky commented on #2062
I mentioned blacklisting some culprits that i thought of off the top of my head, but I'd probably actually use a whitelist approach instead because i'm sure there are nefarious things I didn't think of, and there seem to be some well maintained third-party options out there that I'd trust to do the job.  But it sounds like you've got a path forward 👍

[2017-02-10 21:16] FrankLeinbach opened #2075 "Problem with MediaElement over MediaElementPlayer"
When instantiating MediaElement over MediaElementPlayer, your _classCallCheck looks like it shouldn't be called in MediaElement as it is in MediaElementPlayer as you setup one as a direct function/class and the other as an instance.  It always throws the "Cannot call a class as a function" error for MediaElement.

[2017-02-11 05:58] ron666 commented on #2075
Can you download the latest version and check if this is an issue? I tested the following code and everything worked fine:
[code]

[2017-02-11 06:00] ron666 commented on #2070
I know the root of both issues: when moving inside an iframe, there's no way to detect those events since it's a cross-origin issue. So I'm working on adding a layer next to each iframe, so it can overlay the iframe and the events are executed properly. I'll let you know when it's ready

[2017-02-11 06:01] ron666 commented on #1873
@evanhuntley can you advise on this, please? You have more experience dealing with this type of quirks for accessibility than myself.

[2017-02-11 06:03] ron666 commented on #2072
I checked this in the latest version and I couldn't find any issues with resizing. If you need this issue to be reopen, please let us know. Thanks

[2017-02-11 06:03] #2072 closed

[2017-02-11 14:29] ron666 commented on #2070
@anomaly-stalker Ready. Download the latest version and you shouldn't get any of the errors you listed above. Let me know

[2017-02-11 15:54] FrankLeinbach commented on #2075
Will do, thanks.  Probably won't be until Monday though

On Feb 11, 2017, at 12:58 AM, Rafael Miranda <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you download the latest version and check if this is an issue? I tested the following code and everything worked fine:

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"

[2017-02-13 08:45] lugir opened #2076 "API not working in iOS and cause 'NotAllowedError'"
Hi, we're use API play() to play next audio after an audio play is ended, script works fine in PC and android, but not working in iOS.

If user click play button first, then the API will work, seems like mediaelement player can't receive API call unless user clicked it once.

by call `mejs.players.mep_0.media.play()` directly, will get a 'NotAllowedError'

[2017-02-13 11:12] ron666 commented on #2076
Just use `mejs.players.mep_0.play()` and you should be fine. If i stated that in the documentation can you point it out so I can modify it please?

[2017-02-13 13:12] anomaly-stalker commented on #2070
Thank you. The player behavior become better! However in the fullscreen mode, after the controls were hidden one should click on the player to show them back. And such click pauses playback. It would be great if controls will show after the mouse move. But this is minor.

Thank you again!

[2017-02-13 13:16] FrankLeinbach commented on #2075
This appears to work.  I’m not sure what the issue was.

Thank you.

From: Rafael Miranda [mailto:notifications@github.com]
Sent: Saturday, February 11, 2017 12:58 AM
To: johndyer/mediaelement <mediaelement@noreply.github.com>
Cc: Frank Leinbach <fleinbach@testsys.com>; Author <author@noreply.github.com>
Subject: Re: [johndyer/mediaelement] Problem with MediaElement over MediaElementPlayer (#2075)

[2017-02-13 13:17] ron666 commented on #2070
I'll check this since I tested it last time and by just moving the mouse in full screen you could see the controls; maybe I forgot to push something but I'll keep you posted

[2017-02-13 13:17] ron666 commented on #2075
You are welcome

[2017-02-13 13:17] #2075 closed

[2017-02-13 13:43] ron666 commented on #2070
Yeah I tested them just now and it displays the controls by moving the mouse. Closing this issue now. Thanks for testing this

[2017-02-13 13:43] #2070 closed

[2017-02-13 14:51] anomaly-stalker commented on #2070
I found that was my mistake. When I'm initializing player via setSrc method everything works perfectly!

[2017-02-13 14:53] ron666 commented on #2070
Perfect! I'm glad this is sorted out.

[2017-02-13 22:57] ron666 commented on #2076
Also consider that mobile devices have a constrain that states you cannot autoplay a video/audio unless you perform a click first

[2017-02-14 01:38] lugir commented on #2076
I've been tried both `mejs.players.mep_0.play()` and `mejs.players.mep_0.media.play()`, mep.0.play() return undefined in console, and mep_0.media.play() return 'NotAllowedError'. Documentation is fine, I just thought media.play() 's error message may help you locate the problem.

In my case, there are 3 seperated audios in one page, after one ended, the next one should start to play. If mobile dev

[2017-02-14 02:04] ron666 commented on #2076
If you click one and then change the source and invoke play it should autoplay; that's the only thing I can think of right off my head. I'm happy to check a URL with your issue, but other than that there's not much I can say about this one. If you consider it can be closed please do.

[2017-02-14 03:21] #2076 closed

[2017-02-14 04:48] ron666 commented on #2065
Since I don't have a Chromecast device, what's the expected output for this?

[2017-02-14 04:49] ron666 commented on #2066
Just for curiosity, how popular is Twitch?

[2017-02-14 09:55] anomaly-stalker opened #2077 "Youtube video gets stuck"
There are 2 similar issues with youtube video playback.

First one:
1. Create new instance of MediaElementPlayer;
2. Call 'play' and immediately call 'pause' while the player did not finish initialization.
3. Result: youtube video gets stuck and player is not responding when user clicks 'play'
To repeat this issue reload the page with pen example (https://codepen.io/anomaly-stalker/pen/YNBxdP) and

[2017-02-14 11:20] ron666 commented on #2077
Thanks. I'll check them and let you know when they are fixed

[2017-02-14 11:31] isantolin commented on #2066
@ron666
"...By early 2014, Twitch becomes the fourth largest source of Internet traffic during peak times – surpassing MTV at peak times, and MSNBC during non-peak times. Twitch is acquired by Amazon.com. By January 2015, Twitch reaches had more than 1.5 million broadcasters and 100 million visitors per month..."

- https://en.wikipedia.org/wiki/Timeline_of_Twitch.tv
- Alexa Rank 84 http://www.ale

[2017-02-14 11:56] ron666 commented on #2066
Thanks for the info; very useful. I'll keep you posted on any progress

[2017-02-14 12:02] ron666 commented on #2077
This is more an issue of implementation:

For point 1, I'd say do not call `pause()`; it's not gonna prevent anything once you hover into another element of the gallery
For point 2, the Play button should be hidden, so I'm checking why this is not happening.

[2017-02-14 12:04] ron666 commented on #2077
Also, I fixed an issue with mistmatch between `MediaElement` and `MediaElementPlayer`, so you won't need to use `#player1` when calling `MediaElementPlayer`; just use `player1`. This is available when you download the latest version of the package from GitHub

[2017-02-14 12:22] anomaly-stalker commented on #2077
For point 1, If I will not call 'pause', then the video playback continues, but the gallery will show another item. For example, a user starts watching the video (the first element of the gallery), then after playback was started he switches the gallery to another item. In such case, video playback will not be stopped, but a user will not see the video.

[2017-02-14 12:27] ron666 commented on #2077
So when you hover the item, the purpose it's just to pause the video; if you click the item you load the new source. Am I right?

[2017-02-14 12:29] ron666 commented on #2077
And just for curiosity, do you load a video by default in your project? or this CodePen reflects exactly what you are doing?

[2017-02-14 12:46] anomaly-stalker commented on #2077
![image](https://cloud.githubusercontent.com/assets/11961226/22929241/a21c8b00-f2cb-11e6-8d18-e8c11a390bb4.png)
Use case:
I have a number of video files youtube, flv, mp4. Initially, the gallery contains a set of thumbnails.
When the user clicks on the thumbnail, the new instance of MediaElement is created and in success callback 'play' method is called. if a user hovers over another gallery item

[2017-02-14 12:48] ron666 commented on #2077
I see . I'll play with this some more and keep you posted. Thanks for reporting this

[2017-02-15 02:06] ron666 commented on #2077
@anomaly-stalker Copy/paste the following code and let me know if it solved your issues. What I did is to set the first thumbnail's URL by default so the player can render properly. Then I implemented the hover behavior to emulate what you described me above, and that's when I realized that the problem you were having is a race issue between `play` and `pause`; so I fixed that in the code.

[code]

[2017-02-15 04:12] smasam opened #2078 "RTMP audio issues"
Hi,

I have issues playing RTMP audio, in the first place the player is unable to display the audio duration, which is landing in to other side effects like the progress is not shown, it does not allow the user to seek through the audio. I found that the flash plugin is not returning the duration property, I think this is causing all the problems as other features like showing the audio progress a

[2017-02-15 05:05] ron666 commented on #2078
Can you post a URL so I can see the issue please?

[2017-02-15 05:27] smasam commented on #2078
I am not on a public domain, you cannot access my server, is there any place that I try out the snippet.

[2017-02-15 06:34] anomaly-stalker commented on #2077
@ron666 this is not a case for me :-(
I have different instance of MediaElement for each gallery item. This example is close to the real case: http://codepen.io/anomaly-stalker/pen/pRYbbX
1. Hover over the first thumbnail
2. Wait a couple of seconds and click on the player
3. Then immediately hover over another gallery item.
Then if you hover over the first item again the first player with youtube

[2017-02-15 07:26] ron666 commented on #2078
Try CodePen

[2017-02-15 11:25] ron666 commented on #2077
The only thing I can advise here is to move the `setSrc` method out of the conditional, like this:
[code]
That way, if the user hovers accidentally other image, you will load it properly and avoid this issue

[2017-02-15 11:26] SMen1 opened #2079 "Pause Event not picked up on embedded YouTube"
Hi
Moving to v3 from 2.6 I have a found a couple of things (see also multiple events firing when jumping to new play position):

With YouTube embeds now there is no pause event logged though play and playing are fine, and pause is fine with local / direct video playback.

$('#myplayerid').mediaelementplayer({
        success: function(mediaElement, originalNode) {

			 mediaElement.addEventListene

[2017-02-15 11:26] ron666 commented on #2078
Or post your code here

[2017-02-15 11:36] anomaly-stalker commented on #2077
I found the root reason: YoutubeApi sometimes does not call onStateChange event for called " youTubeApi.pauseVideo();"

[2017-02-15 11:37] SMen1 opened #2080 "Multiple events firing when jumping to new play position"
Hi
Moving from version 2.6 to 3.00 I have multiple events firing when a user jumps forward on playback.
Previously using the events example if a user jumped I could listen for playing playing, or playing play playing.
Now it is firing:
pausedplayplayingpausedplayplayingplaying for a single jump. Is this correct, or an issue?

This happens either with individual event listeners for an mediaplayerin

[2017-02-15 11:38] ron666 commented on #2079
@SMen1 Thanks for pointing this. The multiple events is expected since that's how YouTube works: first triggers a `pause`, then triggers a `play` and finally a `playing` event when jumping to a new position. I fixed the absence of `pause` event. Please download the latest version from GitHub and let me know

[2017-02-15 11:41] ron666 commented on #2077
I just literally fixed something for YouTube events. Please check your CodePen again and let me know.

[2017-02-15 11:44] ron666 commented on #2080
See #2079

[2017-02-15 11:44] #2080 closed

[2017-02-15 11:49] ron666 commented on #2077
If not, I'd suggest to use the approach I mentioned above.

[2017-02-15 11:50] smasam commented on #2078
That saves my time, I was searching for some RTMP audio stream available on web.

here is the code, it very simple, basic code

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> New Document </TITLE>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>HTML5 MediaElement</title>

[2017-02-15 11:51] ron666 commented on #2078
Thanks. I'll check this and keep you posted

[2017-02-15 11:52] smasam commented on #2078
Thank you, basically I even tested with a feature to see if duration is returned by the player, it does not

[2017-02-15 12:10] SMen1 commented on #2079
Thank you that response was speed of sound... the pause event is firing now for YouTube - brilliant - confirmed.
Regarding the "pause play, playing" when a user jumps to a new playing position I am expecting this but

for local direct video I am getting:

pause play playing pause play playing playing

and YouTube

pause play playing pause play playing play playing

Now I do have two videos on the

[2017-02-15 12:29] ron666 commented on #2079
Ok I'll check your scenario and keep you posted

[2017-02-15 12:32] SMen1 commented on #2079
My Update - if I only have one video then it only fires the single sequence, so the question is : should it be firing twice even when only one video is playing or active at a time - perhaps I have to actively set something now, with more than one video on a page.

Many thanks for looking.

[2017-02-15 12:47] ron666 commented on #2079
Yes it should fire once per active video; let me see what needs to be added/fixed once I make my test case

[2017-02-15 15:50] ron666 commented on #2079
@SMen1 Thanks for the patience. Please download the latest version from GitHub and let me know if you are seeing the multiple events. I found out that a play was being triggered when it shouldn't. I made a good deal of testing and seems to be working for me. But just confirm

[2017-02-15 16:55] ron666 commented on #2078
@ale-grosselle Can you help me with this? Seems like the meta data is not being passed but I can't figure out why

[2017-02-15 16:56] SMen1 commented on #2079
Hi, no problem at all. I have downloaded the latest but I am getting pausedplayplayingpausedplayplayingplaying for local mp4 and pausedplayplayingplayplaying for YouTube.

I have emptied my cache etc. reloaded, but I won't be able to properly reset everything and test properly until 9 ish am +2 GMT tomorrow. But I am glad to help and so will resume tomorrow.

I have had a couple of issues starting

[2017-02-15 21:40] ron666 commented on #2079
@SMen1 I'm posting my HTML so you see how I tested it and the result I obtained using the latest version:
[code]
<img width="366" alt="screen shot 2017-02-15 at 4 38 51 pm" src="https://cloud.githubusercontent.com/assets/910829/22996638/76c519a4-f39d-11e6-9114-88f9ee12abde.png">

[2017-02-16 11:41] isantolin commented on #2065
When a Chromecast is configured on Browser, a Player with Chromecast support adds a Button to broadcast content to device.
![sample](https://cloud.githubusercontent.com/assets/264640/23019977/fa99253e-f42b-11e6-9942-012f2b2835e7.jpg)

If you dont have a Chromecast, you can use Cheapcast app to emulate

[2017-02-16 12:27] ron666 commented on #2079
Any updates on this?

[2017-02-16 12:27] ron666 commented on #2077
Any updates on this?

[2017-02-16 12:31] SMen1 commented on #2079
Many thanks, yes ... you caught me typing it in ... I think this might be browser dependent.

These results are after creating a new folder to source the v3 files and replicating your code, with the exception of the two videos (using my own), but with mp4 then YouTube as per your example.  I get the same as you with Chrome for player 2  (which is the sequence I was expecting). With mp4 though I wa

[2017-02-16 12:51] ron666 commented on #2079
Send me a link so I can look at it please

[2017-02-16 13:03] SMen1 commented on #2079
OK

http://www.globaldistrict.com/_administration/members_images_includes/testing_medialementv3.asp

On 16/02/2017 13:51, Rafael Miranda wrote:

[2017-02-16 13:05] ron666 commented on #2079
OK I'll check this and let you know

[2017-02-16 15:25] ron666 commented on #2077
Closing issue since PR has been merged into master. Thanks for reporting this

[2017-02-16 15:25] #2077 closed

[2017-02-16 19:54] ron666 commented on #2079
@SMen1 After a lot of testing I ended up confirming that this is an issue with Firefox, and even YouTube itself has the issue. To prove it, just copy the following markup and perform the same action of sliding the rail and you will see the same behavior (in this case, 2 `playing` actions being executed):
[code]
So on my side there's nothing more I can do about this. Thanks for reporting this thoug

[2017-02-16 19:54] #2079 closed

[2017-02-16 23:51] ron666 commented on #1873
@tiffwyatt can you download the latest version and use the `keyboard-fix` branch and test it in different browsers along with Safari, please? I think I figured out the best way to do this, but I need to make sure this is 100% tested before merging to master. Any feedback in the next few days I'd appreciate it since I'm planning to release the next version at the beginning of next week. Thanks

[2017-02-16 23:52] ron666 commented on #1873
@isantolin Is this something you can assist me as well please? This is for accessibility purposes so it's a matter of using keyboard properly in different browsers (the ones described on README).

[2017-02-17 08:58] yang06061079 opened #2083 "Error:Uncaught (in promise) DOMException: The element has no supported sources. mediaelement-and-player.js:725"
Hello,When I use the mediaelement of vesion 3.1.1 on the wechat of iphone6 and iphone se,the video cann't play.So I debug the mediaelement on the wechat web developing tool of version 0.7.0.when I press the play button,it console the error "Uncaught (in promise) DOMException: The element has no supported sources. " on "mediaelement-and-player.js:725 ".
On chrome,it has not any error.
On android,it

[2017-02-17 09:02] tiffwyatt commented on #1873
@ron666 Yes, will test this later today and let you know if it works. Thanks for looking into this!

[2017-02-17 09:39] yang06061079 commented on #2083
The mediaelement demo of version 3.1.1 also has the same error on wechat.The printscreen is below:
![image](https://cloud.githubusercontent.com/assets/18298611/23060242/dae3b17a-f537-11e6-958b-db9866afca75.png)

[2017-02-17 11:13] ron666 commented on #2083
How can I test wechat? Never heard of it before

[2017-02-17 11:15] ron666 commented on #2083
The other thing is currently we are on 3.1.2 version and other bugs were fixed there as well do you mind testing that version as well?

[2017-02-17 11:17] ron666 commented on #2078
@an1kr4 since you recently worked at something related with the shims can you assist me as well?

[2017-02-17 11:19] smasam opened #2084 "RTMP video has problem playing video from an offset, part of the video"
Hi,

I have requirement to play part of the the video, but I am facing issues playing RTMP video,  HTTP stream works fine.

To give more details Let's say there is video with duration 120 seconds, but I am interested to play only part of it say from 30th second to 60 second, i.e. start from 30th second and end at 60th second. RTMP never plays more over throws some errors. The same works fine in 2.

[2017-02-17 11:30] ron666 commented on #2084
Thanks for pointing this. I'm trying to get some assistance to fix issues with AS3 since I'm not an expert but I'll take a look at 2.x version and see what's missing on 3.x. Thanks

[2017-02-17 11:31] ron666 commented on #1873
@tiffwyatt You are welcome. Keep me posted

[2017-02-17 12:01] ale-grosselle commented on #2078
Hi Miranda,
Mediaelement flash implementation don't handle hls metadata event.
It provide play, pause, seek but not metadata event.
So we have to implement handle logic

Il 15/feb/2017 17:55, "Rafael Miranda" <notifications@github.com> ha
scritto:

[2017-02-17 12:04] ron666 commented on #2078
@ale-grosselle Thanks for your reply. This issue is for RTMP, not HLS.

[2017-02-17 12:21] ron666 commented on #2078
@smasam Do you have a valid RTMP; I'm trying to access it but it's denying me access

[2017-02-17 12:28] SMen1 commented on #2079
I ran your earlier test using Mediaelement's v2 pushing the players into
an array (demo/mediaelementplayer-events), and for whatever reason, this
catches any repetitions and refires, so while playing, clicking on the
time rail results as follows:

for mp4: playing is followed by single "playing"

for YouTube: playing is followed by a single "play playing".

I can't get this to work with the v3 med

[2017-02-17 12:38] ron666 commented on #2079
Yes please send the feature request and I'll take a look at it

[2017-02-17 12:52] SMen1 commented on #2079
OK I don't think I can label it as a feature request so posting as a new
issue. Many thanks - hope correct.

On 17/02/2017 13:38, Rafael Miranda wrote:

[2017-02-17 12:55] ron666 commented on #2079
Yes I'm the one labeling them so don't worry

[2017-02-17 12:59] SMen1 opened #2085 "Medialement V2 style push to array for catching events."
Hi,
When catching events, Mediaelement's v2 technique, which pushes the players into an array (demo/mediaelementplayer-events), catches any repetitions and refires greatly simplifying the management of these:

so for mp4: playing is followed by single "playing" when clicking on the timerail
and for YouTube: playing is followed by a single "play playing".

I can't get this to work with the v3 media

[2017-02-17 14:01] ron666 commented on #2085
@SMen1 By default, the plugin already puts the instance(s) of the player(s) in an array inside `mejs.players` is that what you are talking about? If so the best way to achieve what you are doing here is like this:
[code]
Please let me know

[2017-02-17 14:30] ron666 commented on #2084
BTW can you post a valid RTMP link? It seems that I can't access them

[2017-02-17 14:36] ron666 commented on #2083
@yang06061079 Just FYI, I tested the main website (http://www.mediaelementjs.com) in the WeChat app on iPhone and it worked. Attaching a screenshot
![img_3476](https://cloud.githubusercontent.com/assets/910829/23069214/94995e7e-f4f4-11e6-91b2-5587b016edee.PNG)

[2017-02-17 14:41] ron666 commented on #2084
Also, download the latest version from GitHub. I pushed a commit with some fixes for Flash video as well

[2017-02-17 14:42] ron666 commented on #2078
@smasam I pushed a fix that solved some issues in Flash video; please download it from GitHub and let me know. @ale-grosselle just FYI

[2017-02-17 16:48] isantolin commented on #1873
@ron666 at night i will test

[2017-02-17 17:43] ron666 commented on #1873
Thanks @isantolin

[2017-02-17 21:51] DeysonOrtiz opened #2086 "setDimensions. How does this work"
Hello and good day.
I am trying to figure out a solution for responsive grids and came across this. How do setDimensions work?  Thank you. :)

[2017-02-17 22:38] ron666 commented on #2086
This method sets the width and height under certain conditions: if a `max-width: 100%` or if `stretching` is `responsive` is detected for the video tag it will turn it into responsive; otherwise, if the `stretching` is set to `fill` it will run some specific calculation and crop and adjust the video to the parent container. Finally if any of those conditions is not met it will only set the width a

[2017-02-17 22:38] #2086 closed

[2017-02-18 23:27] dmongrel opened #2087 "Force specific renderer?"
Is there a way to force a specific renderer (html5)?  All of my video will be video/mp4, but the URLs come obfuscated from a content management system, so there is no extension or filename to look at.  I do supply the type="video/mp4" on the video tag, but the player has to start empty until a user chooses something to play.  In my setup I always know the type so having a way to set that properly

[2017-02-19 01:48] ron666 commented on #2087
Use `renderers` configuration for this; it accepts an array of key names for renderers. Read the Use of Renderers section on Usage documentation. If you have any other questions, please let me know. In your case you might need to do something like this:
[code]

[2017-02-19 01:48] #2087 closed

[2017-02-19 02:34] dmongrel commented on #2087
Hi @ron666 ,

I've read all the docs, install, migration, api guide, etc.  I am using the renderers configuration, and it is in fact set exactly as you have suggested.  From what I've seen in the source, however, this array is only a list that will be checked against, and it can still fail.  If I use the demo and a standard media URL like http://hostname:port/filename.mp4, it works fine.

With my

[2017-02-19 12:00] DeysonOrtiz commented on #2086
Thank you! :)

[2017-02-19 13:58] ron666 commented on #2087
Thanks for pointing this I'll take a look and improve this.

[2017-02-19 14:14] 7huo opened #2088 "demo Language Simplified Chinese (zh-CN)"
![zh](https://cloud.githubusercontent.com/assets/2534718/23103130/c7acdb3a-f6f0-11e6-95ed-4943cb4f6980.png)

[2017-02-19 14:17] 7huo opened #2089 "demo Language Simplified Chinese (zh-CN)"
`diff --git a/demo/index.html b/demo/index.html
index fb4c5f9..d1799e5 100644
--- a/demo/index.html
+++ b/demo/index.html
@@ -84,7 +84,7 @@
                     <option value="ro">Română / Romanian (ro)</option>
                     <option value="ru">Русский / Russian (ru)</option>
                     <option value="sk">Slovensko / Slovak (sk)</option>
-                    <option value="zh-cn">

[2017-02-19 14:17] #2088 closed

[2017-02-19 15:02] DeysonOrtiz opened #2090 "Lazy Load Poster Images"
Hello and good day!
Do you happen to know of a way to lazy load the poster images for when we have several video posters loading?

Thank you and have a great day. :)

[2017-02-19 16:21] ron666 commented on #2089
Thanks for pointing this. I'll get it fixed soon

[2017-02-19 16:21] #2089 closed

[2017-02-19 16:29] ron666 commented on #2090
To be honest I don't know. Take a look at this; might help you
https://www.appelsiini.net/projects/lazyload

[2017-02-19 16:29] #2090 closed

[2017-02-19 17:45] DeysonOrtiz opened #2092 "Feature request for a Video Poster Opacity transition controls."
Hello and good day!

Is it possible to add a control option for the video poster?  Instead of it hiding or reappearing immediately, could we have it fade in and out over the video?  An idea is to add time control 0 being no transition and 1+ in milliseconds.  Please let me know what you think.  Thank you and have an amazing day!  :)

[2017-02-19 19:25] DeysonOrtiz commented on #2090
Thank you. I will take a look at your link.  I have seen many for images, but not yet for video posters.  Thank you and have a great day! :)

[2017-02-20 00:40] DeysonOrtiz opened #2093 "Found a responsive grid that works perfect with MediaElements"
In case anyone else asks or is stuck. I have tested a few and this responsive grid works right out of the box with MediaElements :  http://flexrgrid.com

Enioy!  Have a great day!

[2017-02-20 01:04] ron666 commented on #2093
Great. I'll add this in the documentation for reference. Thanks for the info

[2017-02-20 01:04] #2093 closed

[2017-02-20 01:05] ron666 commented on #2092
You might be able to do it without an option. You can try to do it with the loadedmetadata event and CSS

[2017-02-20 12:44] DeysonOrtiz commented on #2092
I have not used events.  I will have to do some research to figure out how they work.  Do you know of any tutorials that go into that?  Thank you :)

[2017-02-20 12:44] DeysonOrtiz commented on #2093
You are very welcome. :)

[2017-02-20 16:09] ron666 commented on #2092
Basically it's a matter of doing something like this for your case:
[code]

[2017-02-20 16:10] #2092 closed

[2017-02-20 16:10] ron666 commented on #2092
You might need to play with transition effects but this gives you an idea of how to do it

[2017-02-20 16:44] DeysonOrtiz commented on #2092
Add this to my demo.js:
[code]

[2017-02-20 16:49] ron666 commented on #2092
Yeah that should do it just play with animation in case you want to achieve something fancier but you are on the right track

[2017-02-20 17:24] DeysonOrtiz commented on #2092
I do not see anything happen on my tests.  Which parameter  would control the duration of the opacity?  Thank you :)

[2017-02-20 18:36] ron666 commented on #2092
You have to use jQuery for that. `animate` will do the trick

[2017-02-20 18:48] ron666 commented on #2087
Can you provide a URL to test a fix that might be the one you need for this, please?

[2017-02-20 19:10] ron666 commented on #2087
Nevermind I tested this fix with this markup and it works now
[code]
Thanks for pointing this; now it's fixed

[2017-02-20 19:14] ron666 commented on #2085
Any updates on this?

[2017-02-20 19:14] ron666 commented on #2084
Any updates on this?

[2017-02-20 19:15] ron666 commented on #2083
Any updates on this?

[2017-02-20 19:15] ron666 commented on #2078
Any updates on this?

[2017-02-20 19:15] ron666 commented on #1873
Any updates on this?

[2017-02-20 19:43] SMen1 commented on #2085
It looks as though the difference is that the array is pushed into the
success function in the version 2 events demo, but not in the v3 code
you described

success: function (mediaElement, domObject) {

then the array

// add this mediaelement to the mediaElementPlayers array
           mediaElementPlayers.push(mediaElement);

but I have not been able to redo the v3 array you described above in
th

[2017-02-20 19:56] tiffwyatt commented on #1873
Hi, sorry, took me a while to get round to testing …
But have done so now and it's looking good! Keyboard-only navigation in Safari is working well. Also tested in Firefox (51.0.1) and Chrome (56.0.2924.87), no problems.

[2017-02-20 21:32] ron666 commented on #1873
how about IE? Have you been able to try MS Edge, or any version between 9 and 11?

[2017-02-20 21:32] ron666 commented on #1873
If you confirm no issues at all also with IE, I'll merge this fix

[2017-02-21 00:16] tiffwyatt commented on #1873
@ron666 As I am on a Mac I tested IE 9, 10, 11 and Edge using https://crossbrowsertesting.com. Didn't encounter any problems while navigating keyboard-only. Will test Edge on a Windows machine at my office tomorrow morning and let you know – but as far as I can see your fix is working well.

[2017-02-21 01:32] yang06061079 commented on #2083
Thank you for you reply.I test my project after I update the mediaelement to 3.1.2.It still don't play on wechat on iphone6.But the demo in http://www.mediaelementjs.com can play.I compare my project and  you demo and can't find any useful solution method,so I have to reback the mediaelement to version of 2.16.4.
However,thank you very much!

[2017-02-21 02:21] ron666 commented on #2083
If you provide me a URL with the demo where I can see the issue I can help you. But this seems more a problem of the demo file and not the plugin itself.

[2017-02-21 02:21] ron666 commented on #2085
Sounds good. Thanks and keep me posted about this please.

[2017-02-21 02:22] ron666 commented on #1873
Great! Well let me know ASAP so I can put the fix in place for the next release. Thanks for testing this

[2017-02-21 05:25] smasam commented on #2084
Still has the same problem, let me check for an RTMP link and send it accross

[2017-02-21 05:27] smasam commented on #2078
Thanks for looking in to the issue.

I tested, but still has same issue

[2017-02-21 08:27] tiffwyatt commented on #1873
@ron666 Just tested with Edge and Chrome on Windows 7 – working well! Thanks a lot for fixing this.

[2017-02-21 11:18] DeysonOrtiz opened #2094 "All candidate resources failed to load. Media load paused."
Hello and good day.

It seems I am getting these errors when the videos load in FireFox:  All candidate resources failed to load. Media load paused.
Also, Specified “type” attribute of “video/vimeo” is not supported. Load of media resource https://vimeo.com/xx failed.

Please let me know what I may have done wrong. https://mmt.staging.wpengine.com/

Thank you and have a great day! :)

[2017-02-21 11:25] ron666 commented on #2094
No it's nothing wrong. Firefox is trying to detect this MIME type that doesn't exist (is custom and basically only used for the plugin). Are you having any issues by playing the videos because of this? If not disregard the message or remove the `type` attribute

[2017-02-21 11:25] #2094 closed

[2017-02-21 11:26] ron666 commented on #1873
Perfect. Great news. The fix has been integrated now and will be available in the CDN for next release. Closing this ticket now

[2017-02-21 11:26] ron666 commented on #2084
Thanks I'll wait for it

[2017-02-21 11:27] ron666 commented on #2078
Can you send me a RTMP so I can test this please?

[2017-02-21 13:57] yang06061079 commented on #2083
I text my web page on the mediaelement.js of version 3.1.2,it still don't play on wechat on iphone6 or iphone SE.The URL is: [http://test-api.v2gogo.com/live/html/detail.html?id=ac9298af67864329b48c7d6158791cdb](url).You can see the console error "Error:Uncaught (in promise) DOMException: The element has no supported sources. mediaelement-and-player.js:725 " on The wechat web developing tool.It's

[2017-02-21 13:59] yang06061079 commented on #2083
I text my web page on the mediaelement.js of version 3.1.2,it still don't play on wechat on iphone6 or iphone SE.The URL is: [.You](http://test-api.v2gogo.com/live/html/detail.html?id=ac9298af67864329b48c7d6158791cdb) can see the console error "Error:Uncaught (in promise) DOMException: The element has no supported sources. mediaelement-and-player.js:725 " on The wechat web developing tool.It's dow

[2017-02-21 14:00] yang06061079 commented on #2083
I text my web page on the mediaelement.js of version 3.1.2,it still don't play on wechat on iphone6 or iphone SE.The URL [is:](http://test-api.v2gogo.com/live/html/detail.html?id=ac9298af67864329b48c7d6158791cdb) .You can see the console error "Error:Uncaught (in promise) DOMException: The element has no supported sources. mediaelement-and-player.js:725 " on The wechat web developing tool.The down

[2017-02-21 14:01] yang06061079 commented on #2083
I text my web page on the mediaelement.js of version 3.1.2,it still don't play on wechat on iphone6 or iphone SE.The URL is: [.my web page](http://test-api.v2gogo.com/live/html/detail.html?id=ac9298af67864329b48c7d6158791cdb) can see the console error "Error:Uncaught (in promise) DOMException: The element has no supported sources. mediaelement-and-player.js:725 " on The wechat web developing tool.

[2017-02-21 14:04] yang06061079 commented on #2083
I text my web page on the mediaelement.js of version 3.1.2,it still don't play on wechat on iphone6 or iphone SE.The URL is: [.my web page](http://test-api.v2gogo.com/live/html/detail.html?id=ac9298af67864329b48c7d6158791cdb) can see the console error "Error:Uncaught (in promise) DOMException: The element has no supported sources. mediaelement-and-player.js:725 " on The wechat web developing tool.

[2017-02-21 19:08] SMen1 commented on #2085
I tried but I just can't get the v2 technique to work.  I will resume
again tomorrow. I just do not understand why targetting the id rather
than just "video" is not preventing the "repeat fires"

This is v2 in progress:
http://www.onekana.com/project_view.asp?interactiveid=228

if you press "play" on this page and then let it go to the next it
should play both the presentation and the media for  y

[2017-02-21 19:43] ron666 commented on #2085
Yeah just let me know when you have it ready. I'm sure that I tested the markup I pasted above and it worked properly, but I see that you have a lot of JS/CSS in this project, so it's hard for me to see what are you missing here

[2017-02-21 21:39] jimmywarting commented on #2065
+1

While we are at it. How about adding AirPlay also?

[2017-02-22 06:58] yang06061079 commented on #2083
@ron666 I text my web page on the mediaelement.js of version 3.1.2,it still don't play on wechat on iphone6 or iphone SE.The URL is: .my web page can see the console error "Error:Uncaught (in promise) DOMException: The element has no supported sources. mediaelement-and-player.js:725 " on The wechat web developing tool.It's download url wechat web developing tool:
Thank you vech much for you help!

[2017-02-22 11:55] ron666 commented on #2083
Is the web developing tool available for Mac? I can't read Chinese unfortunately

[2017-02-22 12:44] ron666 commented on #2083
Nevermind I got it installed on my Mac. Checking this right now

[2017-02-22 13:56] ron666 commented on #2083
One thing to note is that even when I try to play regular MP4 or YouTube, nothing happens in the emulator, but I can play them in the phone itself. I don't what might be causing this. I'll keep checking but you say that the issue is only on iPhone 6 correct?

[2017-02-22 15:34] SMen1 commented on #2085
OK so I looked back at the events example in the version 2 demo folder,
and I noticed that the timerail did not fire for my mp4, so I have
uploaded the code that I have used that is working, with everything
stripped out (yes there is a lot of JS)

version 2 code stripped to essentials:
http://www.globaldistrict.com/_administration/members_images_includes/testing_medialementv2.asp

version 3 code y

[2017-02-22 15:41] ron666 commented on #2085
OK I'll take whatever you have and post the HTML based on your example here so you give it a try. Remember to always download the latest version from GitHub since it had had some fixes lately. I'll keep you posted

[2017-02-22 16:13] SMen1 commented on #2085
OK thank you will do.

On 22/02/2017 16:41, Rafael Miranda wrote:

[2017-02-22 18:42] DeysonOrtiz opened #2096 "Does Preload=none work with vimeo videos?"
Hello and good day.
I have set preload none with a video/vimeo embed.  However, when looking at the console I see several Vimeo elements load.  Is there something I am doing incorrectly?

Here is the code I am using:

[code]

Thank you and have a lovely day! :)

[2017-02-22 19:05] ron666 commented on #2096
No that's correct. Since the player has to create an iframe for it, that's what the iframe does, and we don't have any control over it.

[2017-02-22 19:05] #2096 closed

[2017-02-22 19:06] ron666 commented on #2096
This applies to any renderer that generates iframes

[2017-02-22 19:15] DeysonOrtiz commented on #2096
Ah.  Got it.  Makes sense.  Thank you :)

[2017-02-22 22:59] ron666 commented on #2085
My apologies. I forgot to push a fix for the progress bar. Just download the latest version from here and test it again with the same markup. This time I confirmed completely that it gives the proper events. Just keep in mind that in v2, there were missing events and the behavior of the progress bar was different. In v3, we changed it so it will have a better performance by pausing media and then

[2017-02-22 23:32] SMen1 commented on #2085
Fantastic, and thank you for yours.

Late here but I will give it a go tomorrow pm (GMT + 2). I was able to
work with the "play playing - 'user time rail click' - play playing"
with YouTube, and the "playing - user time rail click - playing" with
mp4 in mediaelement v2.

In v3 I think the main thing for me is that you don't repeat the
sequence "play pause playing play pause playing" or such, or, I

[2017-02-22 23:35] ron666 commented on #2085
No worries. Keep me posted and hope this solves all your issues.

[2017-02-23 02:06] yang06061079 commented on #2083
Yes,my project using mediaelement of version 3.1.2 cann't play on iphone6 and iphone SE,but it can play on iphone5 and ipod.Is it the  plugin's compatibility problem?My project url is:[my project url](http://test-api.v2gogo.com/live/html/detail.html?id=ac9298af67864329b48c7d6158791cdb).

[2017-02-23 02:09] yang06061079 commented on #2083
Yes,my project using mediaelement of version 3.1.2 cann't play on wechat on iphone6 and iphone SE,but it can play on iphone5 and ipod.Is it the plugin's compatibility problem?My project url [my project url](http://test-api.v2gogo.com/live/html/detail.html?id=ac9298af67864329b48c7d6158791cdb).

[2017-02-23 02:15] yang06061079 commented on #2083
I tested you demo on the wechat developing tool of windows,although it can play,it also has the same console error of "Error:Uncaught (in promise) DOMException: The element has no supported sources. mediaelement-and-player.js:725".You can test it.So it also may be the wechat's compatibility problem.

[2017-02-23 03:07] ron666 commented on #2083
Yes I'm tempted to say is a compatibility problem in WeChat because I don't see anything different if I play the demo on iPhone's Safari

[2017-02-23 03:10] ron666 commented on #2083
I'll close this since it's only affecting this app and not in browser. We'll keep researching and I encourage you to check the compatibility issue on your side as well

[2017-02-23 03:10] #2083 closed

[2017-02-23 03:22] yang06061079 commented on #2083
Ok,I will.
Thank you very much for you contribution to the html5 video player.
You are my modal and desire other's software engineers's admire.

[2017-02-23 09:19] Levan777 opened #2097 "Probably a bug"
Hi,

It is probably a bug or something else is wrong.

When you start playing audio and then hit loop button, audio will start over when it finishes playing, but if you, while playing, will navigate through timeline for at least one time, it will not start over again, you will have to press play button again and wait till end.

[2017-02-23 10:45] san8work opened #2098 "Not work in Mac safari"
this player not work in mac safari browser. muted feature not work in iPad. Auto play not work in apple.

[2017-02-23 11:16] ron666 commented on #2098
Can you share a URL to check this issue please?

[2017-02-23 11:16] ron666 commented on #2097
Can you share a URL where I can check this please?

[2017-02-23 12:11] SMen1 commented on #2085
OK - I am still getting a repeated string but shorter and faster so a
solution occurs to me using a timeout to just make sure I get the last
in the string to trigger my other actions while removing the string
before listening for more events.

So just a simulation (sorry if this was obvious):

http://www.globaldistrict.com/_administration/members_images_includes/testing_medialementv3.asp

code:

<

[2017-02-23 12:16] xpetter opened #2099 "Wrong url in comment"
URL in comments point to http://www.mediaelement.com
should be http://www.mediaelementjs.com/

[2017-02-23 12:33] ron666 commented on #2085
You are welcome and glad I could assist you on this. Closing issue now

[2017-02-23 12:33] #2085 closed

[2017-02-23 12:36] ron666 commented on #2099
Thanks for pointing this. This is now fixed.

[2017-02-23 12:36] #2099 closed

[2017-02-23 13:11] jdavidlopez commented on #806
Hi,

This is still an issue, apparently.

Youtube video + poster: Poster not showing up on Safari (iPhone), just the video.

Thanks.

[2017-02-23 13:43] ron666 commented on #806
Can you provide a URL where I can see this issue please?

[2017-02-23 14:35] DeysonOrtiz commented on #2096
Do you think something like this could help increase load times?  It seems to do both videos and iframes: https://github.com/ressio/lazy-load-xt#iframe-embedded-videos-youtube-vimeo-etc

[2017-02-23 16:06] DeysonOrtiz commented on #2092
Thank you :)

[2017-02-23 17:39] ron666 commented on #2096
Probably, but the issue is to implement it on the player. This assumes only video/iframes that are already in the markup. The player creates the iframes and that's when the real issue comes

[2017-02-23 20:25] DeysonOrtiz commented on #2096
Understood good sir.  Thank you for looking into.  Have a great day! :)

[2017-02-24 04:07] san8work commented on #2098
http://demo33.advancewebsites.com/
http://theme7.advancewebsites.com/
mac safari version is 5.1.4

[2017-02-24 04:10] san8work commented on #2098
Auto play not work in mobile and iPad. muted work in mobile but not in iPad.
i waste much of time to add this player in site, but now i found issue, can you solve this

[2017-02-24 04:11] ron666 commented on #2098
You are using a really old version of the package. The one I see is 2.8.1, and currently the latest one is 3.1.3. With old version I can't guarantee that all browsers will work. If you upgrade you shouldn't get any errors.

[2017-02-24 04:13] ron666 commented on #2098
Closing this one, and once you update, if you still have issues, we can reopen this. Thanks.

[2017-02-24 04:20] san8work commented on #2098
ok i will try

[2017-02-24 11:45] san8work commented on #2098
update version 3.1.3 not work in window 8 safari version 5.1.7
,but my old version work well in safari 5.1.7

this main site http://www.mediaelementjs.com/ videos work fine in Firefox but not work in safari 5.1.7

[2017-02-24 11:47] ron666 commented on #2098
Ok I'll check this. You tested only on Win 8 correct?

[2017-02-24 11:47] san8work commented on #2098
yes

[2017-02-24 11:47] ron666 commented on #2098
OK I'll check this with Browserstack and let you know my findings. Thanks

[2017-02-24 11:48] san8work commented on #2098
thanks

[2017-02-24 11:58] ron666 commented on #2098
I just checked on Browserstack using WIn8 Safari 5.1.7 and it worked.
<img width="1182" alt="screen shot 2017-02-24 at 6 56 53 am" src="https://cloud.githubusercontent.com/assets/910829/23302832/90ee693a-fa5e-11e6-90b2-a2e2b6a204af.png">
<img width="1176" alt="screen shot 2017-02-24 at 6 58 12 am" src="https://cloud.githubusercontent.com/assets/910829/23302847/a22ab488-fa5e-11e6-8235-9cd550abf275.

[2017-02-24 12:09] san8work commented on #2098
​but i cant see any video here.

On Fri, Feb 24, 2017 at 5:28 PM, Rafael Miranda <notifications@github.com>
wrote:

[2017-02-24 12:12] san8work commented on #2098
https://gm1.ggpht.com/FjxzXLlt_8R6ZyNejR4wP-4tOt2VseIXh-say3ecsDOnJ80-U-L3Ea3wzbGBdGdiTrLLWGJlXVMbdfBkF74HLpXZLygN36bz1GkekZly_a1AIyShNTTxXM5osAsP5FAsT1w_OBqnnn80HDR-VoBCMjnrK63jjgNy9oPVm7Y1fozmXjIIO2OR1YxEkbS9NOChxv_pLeJGPNSJrQVb7a7m3Yw7nIza-_k4nx2cPvdrJvs3_n57Q4uNuPEY-hdJT3vftKG8fhBldaQePr_N3vuasESa_DJcy_GnDBEGzG8IcweiebaYcrTuINH63I-M8ylEN9q-aXjyWXrd8f12EZCAFheb7MvTpE8Vq4WjajwfK-0TcWqbb0kkzHyd7f

[2017-02-24 12:26] ron666 commented on #2098
This URL is sending me to a 403 page

[2017-02-24 12:29] san8work commented on #2098
i send you a mail with this screen shot, please check

[2017-02-24 12:32] san8work commented on #2098
here i minimize screen for batter viiew.

On Fri, Feb 24, 2017 at 5:56 PM, Rafael Miranda <notifications@github.com>
wrote:

[2017-02-24 12:42] ron666 commented on #2098
I haven't received it yet

[2017-02-24 12:46] ron666 commented on #2098
Can you send the link so I can verify it on Browserstack please?

[2017-02-24 16:53] eposjk commented on #2065
By the way: There is a Web Presentation API ( https://developer.mozilla.org/en-US/docs/Web/API/Presentation_API ) which is already supported by Chrome (seems to be for Chromecast) with an experimental Polyfill which should work without Chromecast ( https://mediascape.github.io/presentation-api-polyfill/ ). What about using that?

[2017-02-24 22:14] jdavidlopez commented on #806
Sure: http://testsite.davidlopez.co.uk/

The poster appears in Desktop (Chrome/Safari/FF) and **doesn't appear at all in Safari iPhone** (iOS 10.x)

There's another point in desktop but I think that's more related to z-index issues (attached).
![Uploading Screen Shot 2017-02-24 at 23.12.32.png…]

[2017-02-25 00:47] ron666 commented on #806
Thanks I'll check this and keep you posted

[2017-02-25 04:15] san8work commented on #2098
http://rival-solutions.com/projects/video_player/index.html
this is test file with update version not work in window 8 safari browser 5.1.7

[2017-02-25 04:18] san8work commented on #2098
also not work in iPad 3rd(6.0)

[2017-02-25 04:20] san8work commented on #2098
![img_24022017_173530_0](https://cloud.githubusercontent.com/assets/20087671/23328088/c33647d2-fb3f-11e6-8366-afac8498115a.png)

[2017-02-25 04:31] san8work commented on #2098
ios_ipad-3rd- 6 0 _6 0_portrait
![ios_ipad-3rd- 6 0 _6 0_portrait](https://cloud.githubusercontent.com/assets/20087671/23328172/55f820bc-fb41-11e6-916c-e4595e940a9d.jpg)

[2017-02-25 04:37] ron666 commented on #2098
With iOS in general we support only iOS8+, nothing below. I checked your site on Win8 Safari and I was able to see it
<img width="1282" alt="screen shot 2017-02-24 at 11 33 14 pm" src="https://cloud.githubusercontent.com/assets/910829/23328210/2d019bf4-faea-11e6-9e26-bb8f6e97d25f.png">

[2017-02-25 05:02] ron666 commented on #806
@jdavidlopez This should be fine now; please download the latest version from here and use it your website. Now you should even see the play button properly on YouTube renderers, as well as the poster image. Thanks

[2017-02-25 05:03] ron666 commented on #2098
I really don't know what to say about what you are seeing with Win8, because I can see it. Can you send me screenshots of Firebug Console to have a little clue. I don't have a physical Win8 machine to test this. I used Browserstack and everything is fine

[2017-02-25 09:32] san8work commented on #2098
![image](https://cloud.githubusercontent.com/assets/20087671/23330071/5b219404-fb6b-11e6-8995-c66a08c70db6.png)

[2017-02-25 09:33] san8work commented on #2098
![image](https://cloud.githubusercontent.com/assets/20087671/23330084/964220bc-fb6b-11e6-88b3-b214bef29726.png)

[2017-02-25 09:47] san8work commented on #2098
![image](https://cloud.githubusercontent.com/assets/20087671/23330177/8efa22a8-fb6d-11e6-9d92-a089d330db74.png)

[2017-02-25 09:50] san8work commented on #2098
![image](https://cloud.githubusercontent.com/assets/20087671/23330084/964220bc-fb6b-11e6-88b3-b214bef29726.png)

[2017-02-25 12:30] ron666 commented on #2098
Can you do me a favor and download the latest version of the plugin, and test again, please? I used a different approach to determine the source on the Flash renderer. See if that works for you

[2017-02-25 12:44] ron666 commented on #2098
Thanks for sending me the screenshots they really helped. I'll wait for your confirmation

[2017-02-25 13:00] ron666 commented on #2097
I tested this using `mediaelement-plugin` repository and the latest version of the MEJS plugin. I couldn't reproduce that error. Tested on Chrome, FF and Safari

[2017-02-25 17:03] dmongrel opened #2104 "Controls don't maintain order when certain features are reset."
The playback features/controls can switch their order after the player is initialized, if a feature is reset, e.g. tracks.js.  Tracks, if reset will "t.controls.appendTo" the end of the controls, always placing it at the end (is normally 2 before the end in my desired config), instead of replacing itself in the user's requested position.  Based on the current design of MEJS, the only way to mainta

[2017-02-25 17:39] ron666 commented on #2104
Can you share a URL when you see this behavior, so I can have it as a baseline of what's the current behavior and how to solve this, please?

[2017-02-26 05:56] dmongrel commented on #2104
I don't have a public URL, and I had to switch back to reiniting the player, however, I will see if I can get it up in a gist using the demo or something else small.

In the meantime if you set your features as:
`vpClass.vid = new MediaElementPlayer('myVideo', {
...
features: ['playpause', 'current', 'progress', 'duration', '**tracks**', 'volume', 'fullscreen', 'time']
...`
with the player initial

[2017-02-26 06:16] ron666 commented on #2104
Thanks I appreciate it. You can post the HTML here if its easier for you. Either way, I'll wait for your feedback on that and I'll start to work on that this week

[2017-02-26 08:51] leocaseiro commented on #2065
How about this example, is with mediaelement.js, isn't?
http://amoravhad.com/projects/vCast-jQuery/index.html

[2017-02-26 10:35] jimmywarting commented on #2065
Would like something more internal support rather then having some plugin. Casting is something that everyone would want

[2017-02-26 12:01] leocaseiro commented on #2065
Hi @jimmywarting

Thanks for your reply.

 I'm sorry, it was only a reference that uses `mediaelement.js`.

The demo app [CastVideos-chrome](https://github.com/googlecast/CastVideos-chrome) should help with the code as well.

[2017-02-26 12:03] leocaseiro commented on #2065
The [vCast-jQuery](http://amoravhad.com/projects/vCast/demo/wp-content/themes/twentyfourteen/js/functions.js) uses a lot from [CastVideos.js](https://github.com/googlecast/CastVideos-chrome/blob/master/CastVideos.js)

[2017-02-26 13:03] ron666 commented on #2065
Thanks all for your comments. I'll check the documentation about this and start working on it. I'll try to include AirPlay. This ticket should be logged in `mediaelement-plugins` repo BTW

[2017-02-26 14:55] jimmywarting commented on #2065
videojs also has plugin for casting

https://github.com/benjipott/video.js-chromecast
https://github.com/jgubman/videojs-airplay

[2017-02-26 15:30] DeysonOrtiz commented on #2096
Hello and good day!

I had wanted to know if it would be too much trouble to implement or patch into Lazy Load XT I had linked above?  I am curious as this would save considerable time, plus it could help as we could also take advantage of the video poster lazy load as well as the Vimeo Lazy load.

Please let me know what you would advise and think.  Thank you for your valuable time and have an am

[2017-02-26 22:38] ron666 commented on #2096
It will take a lot of work to integrate it given that has impact on the core and all the renderers. So for now it can't be addressed. Sorry

[2017-02-27 02:21] ron666 commented on #2098
Any updates on this?

[2017-02-27 04:11] san8work commented on #2098
http://rival-solutions.com/projects/video_player/index.html
this test file is with update version 3.1.3

[2017-02-27 08:22] jdavidlopez commented on #806
Hi @ron666

Testing with the last available (3.1.3) no poster for Youtube in Safari iOS, I'm afraid.

[2017-02-27 11:12] ron666 commented on #806
Did you downloaded the latest version from GitHub? I haven't released this fix officially

[2017-02-27 11:15] ron666 commented on #2098
You need to download the latest version from GitHub some of the fixes haven't been released yet officially. Let me know and if it hasn't been fixed attach new screenshots of you Firebug please

[2017-02-27 11:21] ron666 commented on #2084
@an1rk4 Can you check the VideoMediaElement.as and assist me with this, please?

[2017-02-27 11:24] #2097 closed

[2017-02-27 11:27] BackuPs opened #2107 "TypeError: $ is not a function on self hosted video line 3809:24"
TypeError: $ is not a function[Learn More]

If i use the latest version  of media elements i get a js error in a page with a self hosted video. It works fine in version 2.35 but not in 3.1.x

![media-elements](https://cloud.githubusercontent.com/assets/6078370/23359683/b573ce90-fce7-11e6-9f29-e71587c97517.png)

[http://champion.backupsdemo.nl/portfolio/mp4-self-hosted](url)

How to fix this?

[2017-02-27 11:30] ron666 commented on #2107
I'll check this and let you know. Thanks for reporting this

[2017-02-27 11:36] BackuPs commented on #2107
If i change $ to JQuery  the problem shifts to a new line after changing that to jQuery it shifts to another line etc etc.  f.e. 4889:10

![jquery01](https://cloud.githubusercontent.com/assets/6078370/23360027/69a39ebc-fce9-11e6-841c-5bef9112835f.png)

[2017-02-27 11:39] ron666 commented on #2107
I installed Wordpress on my machine and I'm unable to reproduce this without replacing the $ symbol. Do you have jQuery.noConflict activated or something like that?

[2017-02-27 11:42] BackuPs commented on #2107
Not that i am aware of.  But if i add at line 3791 the following code

		$=jQuery;  it is solved

[2017-02-27 11:43] BackuPs commented on #2107
i can get you ftp access if you want. But you will have to contact me

[2017-02-27 11:52] ron666 commented on #2107
That's weird because that element was added on line 3497:
[code]

[2017-02-27 12:00] ron666 commented on #2107
Which version of Wordpress you are using?

[2017-02-27 12:01] BackuPs commented on #2107
4.7.2

[2017-02-27 12:03] ron666 commented on #2107
OK I'l download that and let you know. Thanks

[2017-02-27 12:07] BackuPs commented on #2107
Ron

I am setting up a test server for you.  You can get access if you want. I am right now importing all demo content.

I can add my skype id if you want and then remove it again as i dont want it out in public.  I then can give you access to the server.

Just let me know if you want such

Best regards,
BackuPs

[2017-02-27 12:10] ron666 commented on #2107
Yes that would be fine.

[2017-02-27 12:12] BackuPs commented on #2107
do you have a skype id?  you can send it to backups[at]home.nl  i will remove this message after receiving your email

[2017-02-27 12:14] ron666 commented on #2107
ron666999

[2017-02-27 12:51] DeysonOrtiz commented on #2096
That is ok. :)

I just wanted to double check before I went and changed all the links to the HTML 5 files Vimeo provides.

Out of curiosity, since I want to do this right from the start, Vimeo Provides direct links to the videos.  Which ones do should I use ( I had posted the formats below)?

Also, since the video hover preview movies are smaller than 640px width, is there a way to use this file f

[2017-02-27 12:56] jdavidlopez commented on #806
My bad, @ron666, I understood the last released version. Within the master branch it works as expected in every browser.

[2017-02-27 13:02] ron666 commented on #806
Perfect! Thanks for reporting this

[2017-02-27 16:51] ron666 commented on #2107
Thanks for your assistance. The fix for the jQuery.noConflict() has been put into the master branch. Closing this issue now

[2017-02-27 16:51] #2107 closed

[2017-02-28 12:25] ron666 commented on #2096
Sorry for the delay answering this: https://github.com/lewisnyman/posterfill may help you with the poster images.

About the formats: in my experience, I always prefer live stream but it all depends on what you are trying to achieve with them. If you use high definition for your responsive layout, users with low-bandwidth are gonna experience a big delay. That's all I can advise you, since in my f

[2017-02-28 12:55] DeysonOrtiz commented on #2096
Hello and good day. Thank you for your response and link.

My goal is for product showcase.  So each product will have a video that goes with it.  Here is a recent example:  https://motionmastertemplates.com/box-creator-template-pack/

There is no need for download at this point. I have never used Live Stream, but I am interested if it provides a better experience.

Thank you and have a great day!

[2017-02-28 19:00] 7huo opened #2108 "Flash player can not render and autoplay"
`
            //mejs.Renderers.order = ['flash_hls', 'flash_dash'];

            $('video').mediaelementplayer({
                renderers: ['flash_hls', 'flash_dash', 'flash_video','flash_audio'],
            });`

such as: http://www.hitow.net/7huo/flash.html

[2017-02-28 20:07] ron666 commented on #2108
You haven't set the path for the Flash shims using `pluginPath`; once you do it you should be fine

[2017-02-28 20:22] ron666 commented on #2108
Also, keep in mind that FLV now can be played natively, and Flash should be only a fallback. We are trying to move away of Flash and be more a HTML5 only player. This is what you should do:
[code]

[2017-02-28 23:43] ron666 commented on #2108
Just download the master branch from GitHub and test this; the autoplay is something I'm checking

[2017-03-01 00:31] ron666 commented on #2108
What you can do for now is to do the following to autoplay:
[code]

[2017-03-01 06:51] 7huo commented on #2108
Thanks for your help in 3.2.2. Now it works.
[http://www.hitow.net/7huo/mediaelement-7huo/demo/flash.html](url)
[http://www.hitow.net/7huo/mediaelement-7huo/demo/hls.html](url)

[2017-03-01 06:53] 7huo commented on #2108
Thanks for your help in 3.2.2. Now it works.
http://www.hitow.net/7huo/mediaelement-7huo/demo/flash.html
http://www.hitow.net/7huo/mediaelement-7huo/demo/hls.html

[2017-03-01 09:34] 7huo commented on #2108
Auto play can not be controlled.

autopaly false:
http://www.hitow.net/7huo/mediaelement-7huo/demo/hls.html

autopaly ture:
http://www.hitow.net/7huo/mediaelement-7huo/demo/hls_autoplay.html

[2017-03-01 11:15] ron666 commented on #2108
Use this for now:
[code]
I need to check the SWF files but it's gonna take some time since I'm not an AS3 expert. But with this you are covered. Let me know

[2017-03-01 11:18] #2108 closed

[2017-03-01 11:48] ron666 commented on #2104
@dmongrel I almost have this feature ready. I'm just trying to test multiple scenarios and fix whatever I missed. I'll let you know when ready. Thanks

[2017-03-01 19:48] ron666 commented on #2104
@dmongrel Please download the master branch and test your scenario. I tested a considerable amount of permutations and it worked just fine, but I want your validation on this. Please let me know

[2017-03-01 23:18] Levan777 opened #2110 "How to handle Youtube VEVO restriction"
Hi,

I'm facing this youtube license problem, After days figuring out how to exclude non embadable videos searched by youtube data api, seems like some videos still go through, so mediaelement can't play them. So I need some error handling when this happens, for example to skip this kind of video and play next automatically. is there anything like that?

thanks

[2017-03-01 23:23] ron666 commented on #2110
If you provide our URL with your issue I will take a look. Thanks oh thank you

[2017-03-01 23:34] Levan777 commented on #2110
URL is blocked for public, it's under dev, but I can open up for you if you'll give me your ip, pm?

[2017-03-01 23:53] ron666 commented on #2110
Or at least post the code you are using so I can try to replicate your issue and provide some guidance

[2017-03-02 01:32] NathanBillington opened #2111 "v3.0 HLS playlist segment chunks being loaded before play pressed"
I have just upgraded from v2.19 to v3.0 and now when a HLS stream is used, the player starts to download each playlist segment chunk even when the play button hasn't been pressed. The old version would only start downloading the segments once the user has pressed play. It's even happening on the demo on the homepage of http://www.mediaelementjs.com/ (in both Chrome & FF)

This is causing the users

[2017-03-02 02:53] ron666 commented on #2111
@mangui can you assist me on this please?

[2017-03-02 05:17] ron666 commented on #2110
The player has an `error` callback in the configuration, so whenever you are dealing with an error you can do anything you want inside the callback. Something like this:
[code]
I tested this using this method (just printed a `console.log` if an error occurs) and used this YouTube video as a test: https://www.youtube.com/embed/1kIsylLeHHU; it loads it but when you try to play, the error comes on sc

[2017-03-02 05:17] #2110 closed

[2017-03-02 05:23] ron666 commented on #2098
Any updates on this using the master branch?

[2017-03-02 06:28] biaselectronics opened #2112 "Feature request: marker for indexes during audio playback"
It would be great to have indexes/markers kept externally displayed in audio files as marks on the player

For example if we send variables like below to the player then perhaps colored bars similar to the position marker could appear over the specified times and on hover the description appeared in a stylable area
Time     Description
1:33:12 Beethoven Sonata
2:55:04 Coke Ad

![mediaelementsaudio

[2017-03-02 08:44] Levan777 commented on #2110
Thanks for help

Here is a link with latest ME script and a basic html, console log not firing....

http://www.design.ge/me_test.html

[2017-03-02 10:39] astr0junk commented on #2108
i think our team will fix it soon

[2017-03-02 10:46] mangui commented on #2111
sure, while looking at MEJS hls.js config, it looks like [autoStartLoad](https://github.com/johndyer/mediaelement/blob/master/src/js/renderers/hls.js#L128) is set to true,
see description here : https://github.com/dailymotion/hls.js/blob/master/doc/API.md#autostartload
you might review that, and set it to false, then manually call `hls.startLoad()` when user presses play

[2017-03-02 11:43] ron666 commented on #2112
@biaselectronics If you go to https://github.com/johndyer/mediaelement-plugins you will find a markers plugin. Documentation on configuration is there as well

[2017-03-02 11:43] #2112 closed

[2017-03-02 11:45] ron666 commented on #2108
@astr0junk Thanks; if can also take a look of issues #2078 and #2084 I'd appreciate it

[2017-03-02 11:46] ron666 commented on #2111
@mangui Thanks I'll check this; @NathanBillington I'll give you an update when this is ready. Thanks for reporting this

[2017-03-02 11:53] NathanBillington commented on #2111
Good hustle guys! Appreciate the quick response! Got a live event for iHeartRadio which I'm using the player for so would be great to have a fix. V3.0 is much cleaner than 2.19. Good work so far!

[2017-03-02 11:58] mangui commented on #2111
I would say that, for live, you shouldn't set autoStartLoad to true.
for VoD, it might make sense in some cases.
it is a bit similar to the video preload attribute

[2017-03-02 12:00] ron666 commented on #2111
Thanks for the hint @mangui I'll work on this and let you know when this is solved

[2017-03-02 12:08] NathanBillington commented on #2111
I'd actually set the preload attribute to false on my test.

[2017-03-02 12:11] ron666 commented on #2111
Yeah but it doesn't have any effect since it's in the hls configuration where the startLoad() method is being called.

[2017-03-02 12:33] mangui commented on #2111
maybe you can do something like

`config.autoStartLoad = (video.preload === 'auto');`

[2017-03-02 12:57] ron666 commented on #2111
@mangui What's the proper way to determine the current position? I see that when you use startLoad() the argument is a number, and by default it's -1. How can I retrieve the position if I pause the player?

[2017-03-02 12:58] ron666 commented on #2111
Nevermind, I don't think I need to call startLoad(X) if I pause and then play again

[2017-03-02 12:58] mangui commented on #2111
indeed.

[2017-03-02 13:11] ron666 commented on #2111
@mangui I think I got it solved; I'll push this change and @mangui if you have time right I'd really appreciate if you could take a look to it. Just to make sure I didn't miss anything. I tested on the demo file, and it worked as expected. Just need another pair of eyes

[2017-03-02 13:14] ron666 commented on #2111
Specifically, https://github.com/johndyer/mediaelement/commit/7fd4cc9ff7b0811068506f2b8ddc6e832708e2d0

[2017-03-02 13:34] Levan777 commented on #2110
problem solved

thanks

[2017-03-02 14:20] ron666 commented on #2111
@mangui Thanks for your review. I addressed all the items you mentioned. You are welcome to review it one more time (https://github.com/johndyer/mediaelement/commit/f7d2d8d1546b4233c16eb7552af8ac4b0aedb4e8), but it is basically a modification of what you suggested, and I added a `stop()` method to use `stopLoad()` from hls.js. If you approve it, I'll create the bundles again

[2017-03-02 14:43] ron666 commented on #2111
@mangui My last question before I close the loop on this: I checked dash.js and even they have a method that avoid downloading fragments while media is paused to save a lot of bandwidth. Do you think it's smart enough to implement the `stopLoad()` if the media is paused in MEJS?

[2017-03-02 14:50] ron666 commented on #2111
Something like:
[code]

[2017-03-02 15:39] ron666 commented on #2111
@mangui Disregard my previous comments. Thanks for all your help! @NathanBillington please download the master branch and test again; you should be fine now

[2017-03-02 15:57] ron666 commented on #2111
@NathanBillington I tested mediaelementjs.com and it's working as expected. Thanks for reporting this. Closing this issue now

[2017-03-02 15:57] #2111 closed

[2017-03-02 18:56] jaap-marcus opened #2113 "Windows 10 RTMP stream not working"
I am unable to play a RTMP stream from Wowza server. How ever on Windows 10 its only playing the m3u8 stream is there a way to make  sure when the m3u8 stream is not availble to let it play

Under Firefox, Safari and Chrome its working with out a problem.

		<video id="livestream" height="400px" width="600px">
			<source src="rtmp://wowza_server/live/mp4:filename.sdp">
		</video>

		<script>
		$(d

[2017-03-02 19:59] ron666 commented on #2113
I need to check this, since on Win Edge 14 there's a condition to bypass a validation since it forbids access to navigator.plugins. I'll check this again and let you know when fixed. Thanks

[2017-03-02 20:19] ron666 commented on #2113
Turns out that Browserstack had an issue before with this, now it seems to be fixed. So I just put the fix for this and you should see this working now. Thanks for reporting this

[2017-03-02 20:19] #2113 closed

[2017-03-02 20:33] ron666 commented on #2113
Just download the master branch and test it. I'll do a new release soon and it will be available on CDNs and NPM

[2017-03-02 21:00] jaap-marcus commented on #2113
On this side it seems to be working without any problems thank you for the fix.

[2017-03-03 01:01] NathanBillington commented on #2111
Perfect! Works great. Thanks for the speedy response time!!

[2017-03-03 01:37] ron666 commented on #2111
You are welcome :)

[2017-03-03 07:18] dmongrel commented on #2104
@ron666 thanks.  I will take a look at it this weekend.  Sorry I couldn't get an example up for you earlier.

[2017-03-03 09:16] dmongrel commented on #2104
@ron666 Yes, this is exactly what I needed.  It retains control position without having to do a full re-init of the player.  Thanks much!  For the record, I start with my video player blank, with an empty source in my video element, with a dummy track.  So for anyone who is trying to work with setSrc and DOM manipulated/added track elements:

Init the player (as you normally would) then do the fol

[2017-03-03 11:14] ron666 commented on #2104
Thank you for reporting this. I'm glad it worked for you

[2017-03-03 11:14] #2104 closed

[2017-03-03 11:15] #2098 closed

[2017-03-03 14:11] astr0junk opened #2114 "need to add preload attribute for mozilla"
I find a little bug in Mozilla FF (41-50 versions). if Audio tag have no preload attribute audio events lifecycle are broken. Html5 will not trigger canplay event while javascript trigger 'play' event programmaticly.

so i think we must add workaround for this situation.

[2017-03-03 14:33] ron666 commented on #2114
If they don't have a preload we can add it by default to none; would that work?

[2017-03-03 14:51] ron666 commented on #2114
I tested this on FF 50 using Browserstack and I couldn't find any issues. Is this something related to the Flash shims only?

[2017-03-03 15:02] astr0junk commented on #2114
Preload none will works. We found this bug in 43 version. Some users says that it can be in 50-51. It's not reliable information.

[2017-03-03 15:27] ron666 commented on #2114
Ok I'll add it soon. Thanks for reporting this.

[2017-03-03 17:11] ron666 commented on #2114
The feature was added. Thanks for reporting this. Closing issue

[2017-03-03 17:11] #2114 closed

[2017-03-05 19:14] jimmywarting opened #2116 "Strive away from using jQuery?"
I'm asking myself this: is it really necessary nowadays? It was good before when there was a lot of perks and browsers didn't follow the standard, but they are decent now. I didn't use jQuery on my site until mediaelement required it

I'm fine with including jquery but would be happier without dependencies. lots of es5/6 features solves most of the stuff today.

Not really saying that we should go

[2017-03-05 19:34] ron666 commented on #2116
It's on my plans to remove it soon. I'm gathering all the pieces I will need to transform and the methods or polyfills I'd need and then I'll start with it. Thanks for keeping that on the radar

[2017-03-05 20:44] jimmywarting commented on #2116
Sounds grate 👍

[2017-03-06 01:55] yeszao opened #2117 "Do I must add class="mejs__player" to <video> or <audio> tag"
1.
Hello, I found I must add `class="mejs__player"` to `<video>` and `<audio>` tag to use player, or mediaelement doesn't work.

It will be very convinions If installation.md can add introduction about these.

2.
An other problem, the desctiption on official website said:

[code]

I think it should be `mejs__player`, isn't it?

[2017-03-06 03:21] ron666 commented on #2117
Thanks for pointing this. I'll be fixing this parts of the documentation soon

[2017-03-06 03:40] ron666 commented on #2117
For the first point if you don't use JavaScript to instantiate the player it won't work

[2017-03-06 03:41] ron666 commented on #2117
The Usage section tells the many ways it can be done but if you need more details I'll add it to avoid any confusion

[2017-03-06 03:41] yeszao opened #2118 "How can I set fixed width and set height auto?"
Hi,

I'm now have an requirement that I need a fixed width and responsive height.

I had tried to set `videoWidth` to fixed value and `videoHeight` to `auto`, but failed.
Also, I adjusted `stretching` parameter to `fill`, But it fill same black color in the player.

Do you have any advise on it.
Thanks!

[2017-03-06 04:24] yeszao commented on #2117
Ok 👍

[2017-03-06 04:30] ron666 commented on #2118
Use the `width` and `height` attributes for the `video` or `audio` tags, set the stretching to `none` and perhaps CSS to achieve the desired behavior

[2017-03-06 04:30] #2118 closed

[2017-03-06 04:40] ron666 commented on #2117
I added a specific section, short but concise, in the Installation section about Player setup, and fixed the issue on the main site. Thanks for reporting this. Closing issue now

[2017-03-06 04:40] #2117 closed

[2017-03-06 14:39] PaulVrugt commented on #1157
Hello,

I'd like to re-open the issue. We reported this issue years ago and are still waiting for a fix.

I signed in with a different account since I don't know the credentials of our general "Infoland" account anymore. But we are still waiting for this issue

[2017-03-06 14:52] ron666 commented on #1157
Thanks for reporting this. I'll take a look at this and let you know when the fix is going to be ready.

[2017-03-06 14:53] ron666 commented on #1157
Is this issue only related to Chrome on Android, or to the Android Stock Browser?

[2017-03-06 15:29] PaulVrugt commented on #1157
Right, I dove into the issue. I think that in the new 3.0 version the issue doesn't exist anymore. It's been years since we change any mediaelementjs implementation. I'll plan to update to the latest version and see if we still encounter the issue.

I propose you re-close the issue, and if we are able to reproduce it with the latest version I'll report it and we can re-open the issue.

Thank you f

[2017-03-06 15:48] ron666 commented on #1157
OK keep me posted and, if needed, I'll be happy to take a look at this. Thanks

[2017-03-06 15:48] #1157 closed

[2017-03-08 12:00] harhoo opened #2119 "Firing an event when closed caption/subtitle chosen"
It would be really useful for to have an event fired when a subtitle is chosen. One use-case for this would be so we can track how useful they are, which languages people want etc. It looks like this currently isn't possible. Is there any chance of this being added in, or (on the off-chance I'd have time and ability to do this) would you accept pull requests?

[2017-03-08 12:33] ron666 commented on #2119
Definitely submit a PR and I'll be happy to take a look

[2017-03-08 13:06] ron666 commented on #2119
Let me check today and I'll assess how much time it will take me. Maybe not long but I'll let you know today before you start working on something

[2017-03-08 13:41] ron666 commented on #2119
Unfortunately, I need to continue working on removing all the jQuery dependencies on the plugin and it's gonna take some time. So you are welcome to submit a PR so I can review it. Thanks in advance for any help you can provide

[2017-03-08 17:28] tiffwyatt commented on #1873
@ron666 Really sorry, but I just noticed the Safari keyboard navigation bug isn't completely resolved after all. Before your fix, the behaviour was:

"I can't tab through the controls of the player itself, nor can I navigate to any link after the player, because I keep losing focus and getting sent back to the first Safari tab."

Now, after the fix, I can tab through the controls of the play itsel

[2017-03-08 17:41] Levan777 opened #2120 "change audioVolume direction on the fly"
Hi,

I'm trying to change audioVolume option from horizontal to vertical based on window size, eg to make it responsive, is it possible somehow? Or options can't be changed once the player is already rendered?

thanks!!

[2017-03-08 18:16] matotiker opened #2121 "flash shim doesn't work on webos/android"
Flash shim (hls too) works on windows pc but doesn't work on android/chrome browser or webos.
On version 2.* worked for hls (demo tvray.net)

[2017-03-08 19:06] ron666 commented on #1873
I see. I'll try to check this ASAP and keep you posted. Thanks

[2017-03-08 19:10] ron666 commented on #2121
For this (since it's a Wordpress site) I don't know if you updated all the things (including the `wp-*` prefixed files inside the `wp-includes/js/mediaelement` folder. I couldn't find where is the call for `mediaelementplayer()`, and that's the key. Check this link and follow all teh steps there: https://core.trac.wordpress.org/ticket/39686

[2017-03-08 19:12] ron666 commented on #2120
For this one, it can't change currently once the the payer is rendered

[2017-03-08 19:12] #2120 closed

[2017-03-08 19:26] Levan777 commented on #2120
Rafael,

I’ve managed to change audioVolume option after render like this:

player.options.audioVolume = “vertical”;

but it need to be re-rendered. Can you tell me how it should be reinitialized with new settings?

Thanks!!

From: Rafael Miranda [mailto:notifications@github.com]
Sent: Wednesday, March 08, 2017 11:12 PM
To: johndyer/mediaelement <mediaelement@noreply.github.com>
Cc: Levan777 <lev@

[2017-03-08 19:31] ron666 commented on #2120
Try calling `playerInstance.buildvolume(player, controls, layers, media)`, where:
[code]

[2017-03-08 19:42] Levan777 commented on #2120
I’m initializing player like this:

$('#mainPlayer').mediaelementplayer({

audioVolume: “horizontal”,

…….

});

Then:

var playerId = $('#mainPlayer').closest('.mejs__container').attr('id');

var mainPlayer = mejs.players[playerId];

changing default option:

mainPlayer.options.audioVolume = "vertical";

then, when I call that function, temporarily without options:

mainPlayer.buildvolume();

con

[2017-03-08 19:55] ron666 commented on #2120
Interesting let me check this and ping you back

[2017-03-08 20:07] ron666 commented on #2120
Did you try mainPlayer.media.buildvolume?

[2017-03-08 20:10] Levan777 commented on #2120
Thanks Rafael, I'll check it in a minute

Sent from my iPhone

[2017-03-08 20:24] Levan777 commented on #2120
Uncaught TypeError: Cannot read property 'buildvolume' of undefined

From: Rafael Miranda [mailto:notifications@github.com]
Sent: Thursday, March 09, 2017 12:08 AM
To: johndyer/mediaelement <mediaelement@noreply.github.com>
Cc: Levan777 <lev@design.ge>; Author <author@noreply.github.com>
Subject: Re: [johndyer/mediaelement] change audioVolume direction on the fly (#2120)

Did you try mainPlayer.me

[2017-03-08 21:20] Levan777 commented on #2120
Rafael,

I’m managed to change it within mediaelement.js file:

buildvolume: function buildvolume(player, controls, layers, media) {

var _s = this;

$("body").click(function() {

$(".mejs-mute").remove();

                _s.options.audioVolume = "vertical";

                _s.buildvolume(player, controls, layers, media);

});

….

It works, changes volume direction perfectly, but I can’t access

[2017-03-08 21:33] ron666 commented on #2120
I tested the code from the demo file and if I add the following inside the callback to set new sources:
[code]
It works.

[2017-03-08 22:01] Levan777 commented on #2120
Rafael,

You are the father of the children!!

I’ve made a little mistake initializing instance:

var playerId = $('#mainPlayer').closest('.mejs__container').attr('id');

mainPlayer = mejs.players[playerId];

the container class has to be .mejs-container instead of .mejs__container! mainPlayer was undefined initially. But interesting is that this instance was working! As I told you earlier, pause

[2017-03-08 22:06] ron666 commented on #2120
Well I'm glad I was able to help you man ;)

[2017-03-08 22:18] Levan777 commented on #2120
You made stressless sleeping possible for me tonight :D  thanks!!!

By the way, I was thinking about equalizer things to add to the player, what do you think? Or it’s too far away from reality that all browsers will support this idea in short period of time?

From: Rafael Miranda [mailto:notifications@github.com]
Sent: Thursday, March 09, 2017 2:07 AM
To: johndyer/mediaelement <mediaelement@norepl

[2017-03-08 22:49] ron666 commented on #2120
To be honest I never thought about it. I'm inclined right now to say yes, it's too soon. But we can always reassess this. Right now my priority is to rewrite the player to make it framework agnostic, so no more jQuery dependencies are in the code.

[2017-03-08 23:27] Levan777 commented on #2120
Great, well I think that this player must be a standard! Great work!! I really appreciate. It just made my project a lot easier to develop… except of some difficulties understanding source code of course :)

From: Rafael Miranda [mailto:notifications@github.com]
Sent: Thursday, March 09, 2017 2:49 AM
To: johndyer/mediaelement <mediaelement@noreply.github.com>
Cc: Levan777 <lev@design.ge>; Author <

[2017-03-08 23:32] ron666 commented on #2120
Thanks man :) It's been a lot of effort to make the player high quality again, but still there's work to be done. And it's thanks to people who report issues that we can make this better :)

[2017-03-08 23:37] Levan777 commented on #2120
Keep going!!! I’m already a big fan of you guys!

From: Rafael Miranda [mailto:notifications@github.com]
Sent: Thursday, March 09, 2017 3:33 AM
To: johndyer/mediaelement <mediaelement@noreply.github.com>
Cc: Levan777 <lev@design.ge>; Author <author@noreply.github.com>
Subject: Re: [johndyer/mediaelement] change audioVolume direction on the fly (#2120)

Thanks man :) It's been a lot of effort to ma

[2017-03-09 05:14] ron666 commented on #2121
OK I tested your demo on Browserstack and I found a bug. So I fixed it but I'll need you to download the master from GitHub and install it on your WordPress website so we can verify that is all fixed now. Let me know if that solved your issue, since I think Browserstack has blocked Flash on Chrome completely so I can't give you certainty that the issue got completely fixed.

[2017-03-09 05:15] ron666 commented on #1873
Do you have a URL I can use to replicate the issue?

[2017-03-09 05:50] 7huo commented on #2107
@ron666  jQuery.noConflict() is not Conflict.

![qq 20170309134519](https://cloud.githubusercontent.com/assets/2534718/23737637/48ef5ee8-04cf-11e7-95cb-89bc4233a6d6.png)

![qq 20170309134530](https://cloud.githubusercontent.com/assets/2534718/23737646/517a3c90-04cf-11e7-9d6a-1f8ae1c6119e.png)

[2017-03-09 08:51] tiffwyatt commented on #1873
You can test this on http://www.mediaelementjs.com:

Start tabbing from the top of the page and keep going until you reach the last control in the "Big Buck Bunny" Video (the fullscreen control).
Now, if you press tab once more, focus _should_ move on to the select element "Try other media sources" under the video. But it doesn't, instead focus gets lost. Pressing tab again moves focus up to the f

[2017-03-10 01:16] ron666 commented on #1873
@tiffwyatt this is an issue with Safari, so I have submitted a bug report for this. Let's wait and see what they say

[2017-03-10 06:25] Greggoms opened #2122 "Missing elements after FTP upload"
While I was using Live Preview in Brackets, everything looked fine and in order. After using FileZilla to upload the webpage, the controls on the video and audio disappeared! If I hover over where they should be, the subtitle option and, volume option will pop up, but the buttons themselves, including the big play button on startup, are nowhere to be seen. First picture shows live preview version,

[2017-03-10 06:51] 7huo opened #2123 "jQuery.noConflict() invalid"
If two JS files use “$” will conflict。
Use “jQuery.noConflict() ”avoid conflict。

It work in mediaelementjs 2.x

![48ef5ee8-04cf-11e7-95cb-89bc4233a6d6](https://cloud.githubusercontent.com/assets/2534718/23785035/957cb428-05a0-11e7-97d2-e75a211d265d.png)
![517a3c90-04cf-11e7-9d6a-1f8ae1c6119e](https://cloud.githubusercontent.com/assets/2534718/23785041/9c20ae38-05a0-11e7-9be5-873f134b3e10.png)

li

[2017-03-10 07:06] 7huo commented on #2122
Try binary
![image](https://cloud.githubusercontent.com/assets/2534718/23785520/09b44b4c-05a3-11e7-8f50-718afc177873.png)

[2017-03-10 08:14] Greggoms commented on #2122
Didn't work :(

[2017-03-10 08:26] tiffwyatt commented on #1873
@ron666 Okay, thanks!

[2017-03-10 11:07] ron666 commented on #2123
this issue was reported before and got fixed in 3.x version

[2017-03-10 11:07] #2123 closed

[2017-03-10 11:56] ron666 commented on #2122
Check your server config maybe it's not accepting SVG or it's not set the MIME type for it, because the SVG sprite is there

[2017-03-10 14:05] 7huo commented on #2123
Mediaelement can play ，But after using jQuery.noConflict (), $ is still equal to jQuery, no release.

[2017-03-10 17:27] 7huo commented on #2123
row 4284-5309 use `(function ($)){  ……   }(_mejs2.default.$);`
but row 3843 unused `(function ($)){  ……   }(_mejs2.default.$);`
row 3850-3852 is error code, will cause a “$” conflict.
![qq 20170311011509](https://cloud.githubusercontent.com/assets/2534718/23805361/84415d5a-05f8-11e7-98be-4b817a5ba526.png)
![qq 20170311011544](https://cloud.githubusercontent.com/assets/2534718/23805577/695c3edc-05f

[2017-03-10 19:20] ron666 commented on #2123
So you are saying that piece doesn't work?

[2017-03-10 19:29] 7huo commented on #2123
if I use `jQuery.noConflict(); `，then relinquish jQuery's control of the $ variable.
mediaelement outside code "$" should be “undefined” .

[2017-03-10 19:40] ron666 commented on #2123
I guess what I'm failing to see it's why this is affecting you. Given the way the plugin is bundled you don't have that scope to rely on undefined variables unless they truly are. If the plugin detects jQuery it will use it for other dependencies or plugins that the player may need

[2017-03-10 19:42] ron666 commented on #2123
And this is a crucial piece that was introduced to support all were press themes that are already there so it will be difficult to remove this

[2017-03-10 19:44] ron666 commented on #2123
Sorry I meant Wordpress

[2017-03-10 19:53] 7huo commented on #2123
So I can only replace `$(` to `jQuery(` ,avoid this problem
[mediaelement-and-player.zip](https://github.com/johndyer/mediaelement/files/834967/mediaelement-and-player.zip)

[2017-03-10 19:56] ron666 commented on #2123
Ok let me check this with more detail and come up with the solution that satisfies everybody. The problem is that some are using Zepto as well it's not just jQuery

[2017-03-10 19:57] ron666 commented on #2116
You can see the progress on the `MEJS-standalone` branch; any questions/comments let me know

[2017-03-10 20:01] 7huo commented on #2123
Maybe you should consider abandoning these JS libraries #2116

[2017-03-10 21:13] Greggoms commented on #2122
I'm still somewhat new to web designing, and I've spent a few hours trying to figure out how to set the MIME type. its been a long and complicated process. Microsoft told me i need to use the IIS Manager, so I have that up now. I know how to add MIME extensions, but am not sure if it matters what the extension is or if there is a specific type I need to set it to.

[2017-03-10 21:14] ron666 commented on #2123
I'm glad you brought that up because that's my focus currently. I finished phase 1 so next week I'll start with phase 2 and it won't be more issues with this ;)

[2017-03-10 22:16] ron666 commented on #2122
There must be a specific file like an httpd.conf file; I don't know the specifics on IIS

[2017-03-10 22:51] ron666 commented on #2122
https://www.w3.org/services/svg-server/ See if this helps

[2017-03-11 00:39] ron666 commented on #2122
Since this is not an issue with the plugin closing this issue now. Thanks for reporting this

[2017-03-11 00:39] #2122 closed

[2017-03-11 05:11] ron666 commented on #2121
Verified via Browserstack that the issue was fixed and I didn't see any errors. Just use the master branch in your website. I'll release the next version next week. Closing this issue now. Thanks

[2017-03-11 05:40] matotiker commented on #2121
First of all, thanks for your work.
The issue was not resolved. updated to master branch.
in 2.* version flv on flash shim didn't worked, only hls were streamed ok.
in this version flv and hls streams do not play.
And another minor issue you have to reload the player in order to not have a "render not found" message to be displayed, when you change the source

[2017-03-11 11:30] ron666 commented on #2121
If you can provide the URL where HLS and FLV don't play I'd appreciate it. And this is only for Android correct? Since FLV won't work at all on iOS since it doesn't accept Flash and it doesn't have MSE

[2017-03-11 11:37] ron666 commented on #2121
And also if you can indicate which versions of Android did you test it would be helpful given that I tried browserstack for this issue

[2017-03-11 13:04] matotiker commented on #2121
I had some issues with flash on Android 4.2. reinstalled flash apk now works ok

[2017-03-11 13:04] #2121 closed

[2017-03-11 13:28] ron666 commented on #2121
Glad to hear that and thanks for reporting this

[2017-03-12 21:34] ron666 commented on #1873
@tiffwyat Btw I'll be releasing the 4.x version soon that basically removes all jQuery from the code base (with the exception of the code turn it into a plugin); could you assist me on testing the plugin once it's ready?

[2017-03-13 03:18] wuhecong opened #2128 "Can mediaelement support more codings, especially some early coding"
i 'd tried to transform a PC website to  the mobile mode(no my own site).Unfortunatly,the site is so old that it still uses the flash and its video is the. flv format.
Maybe fortunately,i found the 'flv.js' repo and got it try.it failed--error that it doesn't support the video's coding.then i downloaded the video and found it's vp6f coding which the 'flv.js'  doesn't support.
in my longtime search

[2017-03-13 04:03] ron666 commented on #2128
I use popular packages to integrate them with MEJS, and although I do it that way I can't speak for the very specifics of each one of them. Certainly in the future I'll try to add more packages but in your specific situation the best solution for you is to transform FLV to MP4, since FLV may be supported natively with flv.js, but on iOS that's not possible (mobile constrains). MP4 is universal and

[2017-03-13 04:03] #2128 closed

[2017-03-13 09:22] tiffwyatt commented on #1873
@ron666 Yes, just let me know what you need me to test.

[2017-03-13 11:21] BackuPs commented on #2107
Hi Ron

We still have a issue with TypeError: $ is not a function[Learn More]  on lines 4761 and 4762....  They need the same patch as the one before.

![melelemts-noconflict](https://cloud.githubusercontent.com/assets/6078370/23852208/ee0a3352-07e6-11e7-85ba-78f3008cf9a3.png)

The moment i add this on line 4749 it is fixed.

`		// To avoid jQuery.noConflict() issues
		if (typeof _mejs2.default.$

[2017-03-13 11:23] BackuPs opened #2129 "TypeError: $ is not a function on self hosted video line 4761 and 4762 on Audio file Jquery No Conflict"
Hi Ron,

We still have a issue with TypeError: $ is not a function[Learn More]  on lines 4761 and 4762....  They need the same patch as the one before.

![melelemts-noconflict](https://cloud.githubusercontent.com/assets/6078370/23852208/ee0a3352-07e6-11e7-85ba-78f3008cf9a3.png)

The moment i add this on line 4749 it is fixed.

             `// To avoid jQuery.noConflict() issues
		if (typeof _mejs

[2017-03-13 11:45] ron666 commented on #2129
I'd suggest you to wait like 2 weeks I'm currently working on removing jQuery from the plugin you can see the progress on the mejs-standalone branch. This week I'll be completing the phase 2 and then to test this

[2017-03-13 11:45] BackuPs commented on #2129
Ow ok. Thank you ! Then please close the ticket

[2017-03-13 12:24] #2129 closed

[2017-03-14 10:49] dleffler opened #2131 "Are Demos still coded correctly?"
Several of the Demo files still use the 'media.pluginType' call...does this need to change to rendererName?

[code]

[2017-03-14 11:29] ron666 commented on #2131
Yes, `pluginType`, as stated on the section `Migrating from 2.x to 3.x`, was removed and needs to be changed with `rendererName`

[2017-03-14 11:29] #2131 closed

[2017-03-14 14:17] mitrii opened #2132 "After switching source from live to file url progress not showing"
https://jsfiddle.net/yo792duh/
Click "live", after media loading in progress bar written "Live Broadcast". If click "file" progress not showing and remains the title "Live broadcast".

[2017-03-14 14:31] ron666 commented on #2132
Thanks for reporting this. I'll get it fix as soon as possible and ping you back.

[2017-03-14 17:41] ron666 commented on #2132
Please download the master branch and test this again. The fix is in place and once you confirm this is solved, I'll release the change. Thanks

[2017-03-14 17:53] jimmywarting commented on #2065
The advantage with presentation api vs chromecast is that you can also cast to some TV's with DIAL (discovery and launch)

[2017-03-14 19:02] ron666 commented on #1873
@tiffwyatt please download the `mejs-standalone` branch and test it please it shouldn't be any difference between the behaviors in master. You can use the demo file and please test as many devices/browsers as possible (including IE9+, Android and iOS). This is a big change given that I'm removing jQuery completely and I just need to make sure that I don't miss anything. You can also test the keybo

[2017-03-14 19:04] ron666 commented on #1873
@isantolin can you assist in testing the branch I mentioned above please?

[2017-03-14 21:10] kardeiz opened #2133 "Controls display incorrectly when bundling CSS, JS, SVG separately"
I'm following the instructions at [Add Script and Stylesheet](https://github.com/johndyer/mediaelement/blob/master/docs/installation.md#2-add-script-and-stylesheet), with version 3.2.3 (as a jQuery plugin).

While the SVG file does load, the controls are displayed incorrectly:

<img src="http://i.imgur.com/8CZeHdu.jpg"/>

Everything works fine when I put the SVG and CSS in the same folder. What am

[2017-03-14 22:28] ron666 commented on #2133
Can you send me the URL where you are experiencing issues, please?

[2017-03-15 01:36] ron666 commented on #2116
@jimmywarting this is completed, but I'd appreciate if you can help me testing the `mejs-standalone` branch; the demo file will be sufficient for testing purposes. My focus should be IE9+, Chrome, Safari, FF, Android 4+ and iOS 8+. Any help you can provide me or feedback will be very welcome.

[2017-03-15 05:53] mitrii commented on #2132
Thanks! Problem solved

[2017-03-15 07:02] jimmywarting commented on #2116
I don't have Windows, and iOS.
But I can test FF, Blink, Safari 10 on Mac later

[2017-03-15 10:12] ron666 commented on #2132
Glad it got fixed

[2017-03-15 10:12] #2132 closed

[2017-03-15 10:13] ron666 commented on #2116
Perfect that's a good start

[2017-03-15 11:21] bricev opened #2134 "mediaElement.readyState always equals to 0"
Hi,

I'm migrating from v2.0 to v3.0 in an app that sometimes happen to play FLV videos. Saddly, your awsome implementation of `flv.js` can't do the job as those FLVs use MP3 audio codec and it seems it's not compliant for the moment (https://github.com/Bilibili/flv.js/issues/51).

So I need to use the `flash_video`  renderer. It works except that the `readyState` property is always equal to 0. I'

[2017-03-15 12:35] ron666 commented on #2134
Well only thing I can say is that `preload` shouldn't be false; values are `none`, `meta` or `auto` but that's it. If that doesn't work, you may need to send me the URL and check it

[2017-03-15 13:57] bricev commented on #2134
Sorry Rafael, my bad!! Value for `preload` is `none`.
[code]

And I need it to keep this value.

[2017-03-15 14:03] kardeiz commented on #2133
I don't have a public URL to share, but I put together a minimal replication here: [kardeiz/me-issue-2133](https://github.com/kardeiz/me-issue-2133). (The video is just the first streamable MP4 I could find from the Internet Archive.)

[2017-03-15 14:24] geoffreyzhao opened #2135 "mejs-duration time display incorrect in HLS live video"
When I play HLS live video , the duration time dispaly  incorrect. The HLS video is live. The duration time does not increase over time. Sorry, my english is not well. I think you know what I mean.

[2017-03-15 15:09] ron666 commented on #2135
If it's live you don't get a time duration. What is what you are experiencing?

[2017-03-15 15:16] ron666 commented on #2133
Gotcha. Good catch. You need to add this:
[code]
to your `.mejs__overlay-button` CSS rule. I'll update this on the documentation right now. Thanks

[2017-03-15 15:16] #2133 closed

[2017-03-15 15:17] ron666 commented on #2133
Added to documentation. Thanks for reporting this.

[2017-03-15 15:18] ron666 commented on #2134
Can you provide a URL to check this, please?

[2017-03-15 15:36] kardeiz commented on #2133
Thanks for identifying the issue! However, in testing this, it looks like you also need to redefine all of the `mejs__* > button` rules that define a `background-position`. From a quick scan, it looks like those are:

    .mejs__play > button {
        background-position: 0 0;
    }

    .mejs__pause > button {
        background-position: -20px 0;
    }

    .mejs__replay > button {
        back

[2017-03-15 15:40] ron666 commented on #2133
Just check the documentation update. You won't need to this whole thing. Just do what it says now and you should be fine

[2017-03-15 15:40] ron666 commented on #2135
Or can yo provide a URL so I can see this, please?

[2017-03-15 15:42] kardeiz commented on #2133
Whoops, sorry, didn't see that! Works great.

[2017-03-15 16:05] ron666 commented on #2133
Glad to know it worked for you

[2017-03-15 17:10] bricev commented on #2134
Here is a demo link:
https://developers.libcast.com/player/flv.html

The native HTML5 player works like a charm. Also works perfectly with an HLS stream:

- https://developers.libcast.com/player/video.html
- https://developers.libcast.com/player/live.html

[2017-03-15 17:15] bricev commented on #2134
Note that I have withdrawn the `native_flv` renderer for the reasons exposed above.
Therefore I force usage of the `flash_flv` renderer.

[2017-03-15 17:56] ron666 commented on #2134
@bricev Please download the master branch and test this; the `readyState` in the shim should have been outside of the conditional. Now it seems to be fine. Let me know

[2017-03-15 21:59] isantolin opened #2136 "[Render] AAC, FLAC, OGG, VORBIS, OPUS Play"
Because some archives includes any of that encodings its good include Support

AAC: https://github.com/audiocogs/aac.js
FLAC: https://github.com/audiocogs/flac.js
VORBIS: https://github.com/audiocogs/vorbis.js
OGG: https://github.com/audiocogs/ogg.js
OPUS: https://github.com/audiocogs/opus.js

[2017-03-16 03:24] ron666 commented on #2116
Keep me posted if anything comes up please

[2017-03-16 03:28] geoffreyzhao commented on #2135
Sorry,  I used mediaelementjs in my local dev ENV. So I can not give you a URL to see it.
You are right that If it's live I don't get a time duration. Maybe I just need a timer to display how long the live has in processing. And in fact, I do it just like this.  I create a new timer in the success callback function and display the timer.

I think you can add a property, such as 'isLive' . If set t

[2017-03-16 04:12] ron666 commented on #2135
You are welcome. Glad you figured this out

[2017-03-16 04:12] #2135 closed

[2017-03-16 06:30] sonalitailored opened #2137 "Unable to play Audio on iphone device"
Hello,
I am facing the problem with the audio play on iPhone devices.It works fine for desktop & Android device.
Please find attached link below:
https://www.balancedview.org/index.php?lang=en&option=com_hwdmediashare&view=mediaitem&layout=popup&id=9400&tmpl=component.
When I trace the issue I get to know that "loadedmetadata" event was unable to trigger for iPhone devices.
Can you please help wit

[2017-03-16 08:15] Jezza opened #2138 "Reintroduce the download file fallback."
If I remember correctly, if it couldn't play the file, it would have created a download link.
I'm assuming it was removed for a reason, if so, it was probably a good one.

I have a workaround, if people need one.
Just create a download renderer, load it last, and return true for canPlayType.
Then the create function will be called, and you can basically just take over the entire renderer at that p

[2017-03-16 08:50] jimmywarting commented on #2116
The first thing i tried was just loading the demo without starting up a server

![skarmavbild 2017-03-16 kl 09 20 34](https://cloud.githubusercontent.com/assets/1148376/23987446/ec87467e-0a29-11e7-8aea-2d750735cbfe.png)

Ofc, this problem goes away when serving it from http. But i think the `closest of null` could be fixed at least.

you don't have to do anything about sniffing the url and see if

[2017-03-16 08:56] jimmywarting commented on #2116
This happened when i tried `none original dimension`

![skarmavbild 2017-03-16 kl 09 55 06](https://cloud.githubusercontent.com/assets/1148376/23988498/c8827b54-0a2e-11e7-9a86-c3606f4b16d0.png)
![skarmavbild 2017-03-16 kl 09 55 18](https://cloud.githubusercontent.com/assets/1148376/23988497/c8810b70-0a2e-11e7-9545-d865e6ff0839.png)

[2017-03-16 08:58] bricev commented on #2134
Thank you so much! Your fix works perfectly :)

[2017-03-16 09:00] jimmywarting commented on #2116
in firefox when i jumped by clicking on the progress bar
it shows the stripes all the time:

![skarmavbild 2017-03-16 kl 09 59 22](https://cloud.githubusercontent.com/assets/1148376/23988638/59b10910-0a2f-11e7-898f-018bbca221d1.png)

[2017-03-16 09:10] jimmywarting commented on #2116
in safari I got a little surprised when i enter fullscreen while having the devtool open
![skarmavbild 2017-03-16 kl 10 02 21](https://cloud.githubusercontent.com/assets/1148376/23988748/f0682924-0a2f-11e7-9c49-3367f6807d3d.png)

Guess there is nothing that can be done about it. only developers will experience this...
it's supposed to show the dev tool but it gets black when toggeling the fullscre

[2017-03-16 09:15] jimmywarting commented on #2116
When i changed the source from twitch to vimo it shows 2 videos

![skarmavbild 2017-03-16 kl 10 13 08](https://cloud.githubusercontent.com/assets/1148376/23989077/540f989e-0a31-11e7-9695-8552ed38d3da.png)

Not sure if it's wrong with the player or the demo.js
didn't go in to depth

[2017-03-16 10:12] ron666 commented on #2134
Glad to know that.

[2017-03-16 10:12] #2134 closed

[2017-03-16 10:14] ron666 commented on #2116
Thanks for testing this. I'll check these items and let you know when ready for another round of testing. I appreciate the help on this

[2017-03-16 10:20] ron666 commented on #2137
I'll check this and let you know

[2017-03-16 10:21] ron666 commented on #2138
Yes, please. If you wanna submit a PR for this, I'll be happy to review it. Thanks for pointing this

[2017-03-16 11:28] ron666 commented on #2116
Ok all the issues you posted have been fixed (except the on in Safari, that I can't do anything, but I like the idea of a plugin for it). Please check the branch again and let me know your feedback. Thanks

[2017-03-16 12:07] ron666 commented on #1873
Just make sure you download the latest version of the branch since I have fixed some issues pointed by other users please

[2017-03-16 12:22] jimmywarting commented on #2116
the stripes on firefox is still always visible when you jump

the .mejs__time-buffering never gets hidden even doe you have the hole video downloaded to the buffer

[2017-03-16 12:29] jimmywarting commented on #2116
I notice another thing...

Better if you try it then explaining it to you or show screenshot...

If you start playing something and then change the video source... you can notice that the pause button is shown instead when the video is not playing. It should show the play button instead.

[2017-03-16 12:41] ron666 commented on #2116
My apologies. I didn't push the fix for the time buffering. It's pushed now, so please download the latest version. I'll check this last one you pointed out. Thanks.

[2017-03-16 12:42] ron666 commented on #2137
I checked the main website on iOS and works fine. I'm tempted to say it's an encoding issue with your file. Check the [Resources](https://github.com/johndyer/mediaelement/blob/master/docs/resources.md) page and see if anything of that can help you. Thanks.

[2017-03-16 12:42] #2137 closed

[2017-03-16 12:45] jimmywarting commented on #2116
FYI the pause icon is also visible on the audio also when you change source

[2017-03-16 12:51] jimmywarting commented on #2138
Chrome's default player now has a download button when you are playing a video
Just saying...

[2017-03-16 13:01] Jezza commented on #2138
Not if the fallback for flash, or something kicks in.
And assuming they're using chrome.

And the download button doesn't always show up.

[2017-03-16 13:08] ron666 commented on #2116
FYI I figured out the issue with the pause button. Download the latest version of the `mejs-standalone` branch and give it a try

[2017-03-16 13:24] jimmywarting commented on #2116
It's looking good now 👍

[2017-03-16 13:39] ron666 commented on #2116
Perfect. Just summarizing, which browsers did you test? and did you test on Android 4+ or iOS 8+?

[2017-03-16 14:17] jimmywarting commented on #2116
I have only tested this on Mac
Firefox 52
Safari 10.0.3
Chrome 56

[2017-03-16 15:50] ron666 commented on #2116
OK do you have the possibility of testing Android? I can test iOS

[2017-03-16 17:53] ron666 commented on #2138
This one was in the old version but given the new approach we took this weapon carry it over so I need to check if we really need a renderer or just a piece of code

[2017-03-16 18:06] ron666 commented on #2136
Thanks. Although sounds like a good idea, the major focus nowadays is either streaming sources, MP3 or OGV. I don't know if it's worth adding more than we need for now. I'll explore the OGG and VORBIS in a future phase

[2017-03-16 18:16] Jezza commented on #2138
It would be a lot easier with just some code inlined, instead of a renderer.
If the download was a renderer, there's some workarounds within that you have to do as well, as the renderer is expected to have a number of functions implemented on the returned value from `create`.

[2017-03-16 18:45] ron666 commented on #2138
I'll work on this tonight in the `mejs-standalone` branch, and I'll let you know when it's ready so you can test it. This branch will become the 4.0 version of this player soon

[2017-03-16 22:27] ron666 commented on #2138
@Jezza Can you give me a URL that can cannot be played so I can test this, please?

[2017-03-17 02:19] ron666 commented on #2138
@Jezza I tried a test case using a dummy MIME type to check this. If you download the `mejs-standalone` branch and test it, please let me know if it works for you. Thanks

[2017-03-17 02:20] ron666 commented on #2116
I tested IE9 - 11 and all looks good

[2017-03-17 04:49] sonalitailored commented on #2137
Hello,

Did you check on iPad or iPhone devices?
Can you please share snapshot for the same with us?
As we tried with different media but was not able to play any of audio file.
Can you please let us know what kind of encoding issue it might be?

Thanks

[2017-03-17 04:52] sonalitailored opened #2141 "Unable to play Audio on iPhone and iPad device"
Hello,
I am facing the problem with the audio play on iPhone devices.It works fine for desktop & Android device.
Please find attached link below:
https://www.balancedview.org/index.php?lang=en&option=com_hwdmediashare&view=mediaitem&layout=popup&id=9400&tmpl=component.
When I trace the issue I get to know that "loadedmetadata" event was unable to trigger for iPhone devices.

We got a reply that "I

[2017-03-17 07:25] Jezza commented on #2138
Sorry, was asleep.
Basically, to get it to fail, you just add any type that `mejs` doesn't support.
In our case, it was just a mov.

I'll give it a shot, and report back.

[2017-03-17 09:37] Equipement opened #2142 "I can't read a FLV video (codec FLV1) with MediaElement v 3.2.4"
Hello

With MediaElement v 3.2.4, i can read a FLV video (codec H.264) but i can't read a FLV video (codec FLV1).

If i use mediaelementplayer.js and not mediaelement-and-player.js, i can read a FLV video (codec FLV1).

Thanks

[2017-03-17 09:46] Equipement opened #2143 "Fullscreen problem with FLV video (codec FLV1) mejs v 2.23.5 and v 3.2.4"
Hello

With MediaElement v 2.23.5 when i read a FLV video (codec FLV1) in fullscreen, the video display in the browser and some HTML elements of the page are displayed over the video.

See the print screen below.
![fullscreen_flv_codec_flv1](https://cloud.githubusercontent.com/assets/26480722/24037128/ed389108-0afc-11e7-9936-a2d39cc60117.jpg)

With MediaElement v 3.2.4, there is the same problem.

[2017-03-17 10:17] ron666 commented on #2143
Are you experiencing this issue with the latest version of the package?

[2017-03-17 10:29] ron666 commented on #2141
@sonalitailored Yes, I tried with my iPhone 5S and it worked. [Handbrake](https://handbrake.fr/docs/en/latest/get-handbrake/download-and-install.html) can help you to optimize your media sources for Web. The `loadedmetadata` cannot be triggered on iOS; that's a constrain for those devices, so using this tool might be a good start to fix the issues on your media. Only thing I really noticed is that

[2017-03-17 10:35] ron666 commented on #2142
The problem is that `mediaelementplayer.js` is not trying to use native FLV support: is using Flash only. So in your case you will need to do something like this:
[code]

[2017-03-17 10:35] #2142 closed

[2017-03-17 10:37] ron666 commented on #2138
Perfect. Keep me posted please

[2017-03-17 12:16] jimmywarting opened #2144 "document.createEvent depricated"
When i added the `elm.remove()` polyfill i saw this code

[code]
I was thinking of removing it as well and when i looked at MDN to try and see browser support for it i was notified that `document.createEvent` is now deprecated

[2017-03-17 12:27] ron666 commented on #2144
I see. We need to see in terms of supporting IE9+; I think for the rest of the browsers it will be fine to change this.

[2017-03-17 12:30] ron666 commented on #2144
Let me know what you think about this: https://blog.garstasio.com/you-dont-need-jquery/events/#sending-custom-events

[2017-03-17 12:33] ron666 commented on #2144
Oh, I just found this polyfill, so I think we can go forward with this: https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent

[2017-03-17 12:34] jimmywarting commented on #2144
It seems like IE9 supports it according to mdn? so we don't need that polyfill?

[2017-03-17 12:35] ron666 commented on #2144
According to the link above:

[2017-03-17 12:36] jimmywarting commented on #2144
Ah, didn't see that part 👍

[2017-03-17 12:36] ron666 commented on #2144
OK I'll do this in a minute. We'll require another round of tests. Are you up for it?

[2017-03-17 12:37] jimmywarting commented on #2144
Won't be able to test IE, only have Mac + I'm at work atm, but i can help you test it later

[2017-03-17 12:39] ron666 commented on #2144
perfect I'll let you know when it's ready

[2017-03-17 12:59] ron666 commented on #2144
@jimmywarting The implementation is now in `mejs-standalone`. I tested this on IE9+ and worked. Thanks for pointing this. Keep me posted about your testing

[2017-03-17 12:59] #2144 closed

[2017-03-17 14:49] Equipement commented on #2142
Thank you for this solution.
It works !

[2017-03-17 15:15] Equipement commented on #2143
I am experiencing this issue with MediaElement v 2.23.5 and with the latest package v 3.2.4.
The test site is on my PC and is not accessible via Internet.

With this simple test page below (and a FLV video with FLV1 codec), in fullscreen the video display in the browser :
[videoflv.txt](https://github.com/johndyer/mediaelement/files/850980/videoflv.txt)

[2017-03-17 15:45] ron666 commented on #2143
Can you provide the URL for the file, please? I can't test this since the source is local

[2017-03-17 17:04] Equipement commented on #2143
URL of the video :
[](https://contrib.spip.net/IMG/flv/tgv_record.flv)

[2017-03-17 19:10] ron666 commented on #2143
Thanks. I checked this, and I think your issue is with other HTML elements' `z-index`. You either put a higher `z-index` in your `embed` tag, or remove the one in your HTML elements. I couldn't replicate your issue. Let me know

[2017-03-17 19:12] ron666 commented on #2141
Since this issue is not related to the plugin itself, I'm closing this issue. Thanks.

[2017-03-17 19:12] #2141 closed

[2017-03-17 19:25] Equipement commented on #2143
With MediaElement v 3.2.4 (and v 2.23.5), in fullscreen, the video (FLV codec FLV1) display in the browser and not on the entire screen.
With MediaElement version 2.15 this problem doesn't exist (in fullscreen the video is on the entire screen).

[2017-03-17 19:28] ron666 commented on #2143
I see. I need to take a look at that version. I'm not familiarized with older versions since my focus was since 2.20. I'm tempted to say (based on what I saw in the current AS files) that it used the native Fullscreen approach and it stopped in latter versions. I need to find out why this happened.

[2017-03-17 19:29] ron666 commented on #2141
If you have any more questions, please let me know in this ticket

[2017-03-18 15:09] ron666 commented on #2138
Don't forget that this fix is on the mejs-standalone branch. Any updates on this?

[2017-03-18 16:53] Jezza commented on #2138
Yeah, sorry.
We had a slight emergency at work, and ended up sending most of the day working with that.
Sorry about that.

Had a glance at the code, and it seems fine.
The only functional difference between my download renderer and the replacement code, is my code offers a link for each of the sources.

So, if you had an mp4, and an avi, it'll link both of them with their names as the text, and th

[2017-03-18 18:29] ron666 commented on #2138
Yeah if you can test this on Monday I'd appreciate it. I don't think it will be difficult to provide links for each element so let me explore that and I'll keep you posted

[2017-03-18 18:30] ron666 commented on #2138
Maybe the Mime type won't be that important given that it is spelled in the URL for each source. Is there a reason why that could be useful?

[2017-03-18 18:33] Jezza commented on #2138
I mean, practically, no.
The only reason it's even there, was for testing purposes, and I just forgot to remove it.
So, yeah, if you ditch that part of it, that's perfectly reasonable.

I only mentioned it because I had some of the html on hand, and felt an obligation to explain why it was there. :)

But yeah, it's not necessary at all.