[2016-08-10 21:01] masterhafid commented on #1467
Open in here im move your script in a folder example to folder A and im includ in my script and still not not work. But im move folder A to folder example still work. I think this issue. Sory sir

[2016-08-10 21:51] rekcuFniarB commented on #1670
Here are demos:

[ogg and mp3 supplied](http://1oxlg3d.xip.io/share/tmp/test/MediaElementJSTest/example-with-2-sources.html). Chromium plays mp3 instead of expected ogg playback. In the network view You can see that [mp3 file is used](http://i.imgur.com/N4dONgq.png).

[ogg only supplied](http://1oxlg3d.xip.io/share/tmp/test/MediaElementJSTest/example-with-ogg-only.html). No playback, player crashe

[2016-08-10 23:07] ytrezq commented on #1582
@ron666 : No I don’t have any author’s free ᴡᴍᴠ file that I can upload.

[2016-08-10 23:14] ytrezq commented on #1582
@ron666 : it seems you fixed it.

[2016-08-11 00:08] birbilis commented on #895
So, was this ever fixed or not? You can find code to play wav with Silverlight (not 24-bit) also at http://ClipFlair.codeplex.com, see Media subfolder in source code.

[2016-08-11 02:13] andyh4 commented on #1606
v2.20 fixed it in Chrome, and I was able to modify the css to get it to work in FF.  I think it had something to do with conflicting z-indeces.

[2016-08-11 04:21] #1582 closed

[2016-08-11 04:22] ron666 commented on #1606
@andyh4 If you can share your modification to see if they can be integrated for FF I'd be great. I'll close this issue now

[2016-08-11 04:22] #1606 closed

[2016-08-11 05:00] ron666 commented on #1584
@ytrezq Will this be an issue for the player? Is there a URL we can test any issues related to what you described here?

[2016-08-11 05:02] ron666 commented on #1462
@Bugsbane Can you provide a URL to test this, please? Is this still an issue?

[2016-08-11 05:04] ron666 commented on #1538
@html5fun What happens if you remove the event you described in your code and simply call ```javascript mediaElement.play();``` after the setCurrentTime method?

[2016-08-11 05:06] ron666 commented on #1532
@adageamar Do you mean playing it just referring to a DB entry?

[2016-08-11 05:06] ron666 commented on #1529
@AFerreli Is this still an issue?

[2016-08-11 05:08] ron666 commented on #1509
@cyberfunk Is this resolved?

[2016-08-11 05:31] Bugsbane commented on #1462
I'm now using Nextcloud 9.0.53 instead of ownCloud 7, and I'm no longer seeing the issue, so something obviously changed in either ownCloud, Nextcloud or the version of media Element along the way. Not sure what, but I'm unfortunately not in a position to replicate this any more.

[2016-08-11 05:57] cyberfunk commented on #1509
@ron666 It's been over a year since I posted this. I never figured out how to get a Next/Previous button implemented. Any suggestions?

[2016-08-11 06:43] hkasera commented on #1679
@ron666 Sure, I will send one as soon as possible. Thank you!

[2016-08-11 10:23] ytrezq commented on #1584
@ron666 : it prevent playing ᴡᴍᴠ files.

[2016-08-11 10:46] ron666 commented on #1462
@Bugsbane Thanks for your response. We'll close this issue and we can always reopen it if appears in the future.Thanks!

[2016-08-11 10:46] #1462 closed

[2016-08-11 10:49] ron666 commented on #1679
@hkasera You are welcome. Closing this issue now in favor of a PR

[2016-08-11 10:49] #1679 closed

[2016-08-11 10:58] ron666 commented on #1509
@cyberfunk The GitHub repo @takid1412 pointed out above is a good example of how to display those buttons. Check http://mediaelementjs.com/examples/?name=loop in the Setup section, and that way you can either use that repo or create your own feature. Let us know if that worked for you.

[2016-08-11 11:09] ron666 commented on #1400
@sylvainpolletvillard Can you provide a URL so we can test this, please?

[2016-08-11 11:58] cyberfunk commented on #1509
After looking at the combination of custom code and 3rd party hacks/plugins I put together back when I set up my music pages I've decided to leave everything as is. It took so much work and fine tuning to get everything looking and functioning the way I wanted back then that changing anything now would be more trouble than it's worth. Being a self taught WordPress/html warrior can be a double edge

[2016-08-11 11:58] #1509 closed

[2016-08-11 12:48] ron666 commented on #895
@professor99 I'm not sure. Do you a URL that points to a WAV file to check if this issue was fixed?

[2016-08-11 12:57] ron666 commented on #1558
@r3wt This is not part of the project itself; I'd recommend you to ping the author of the repo above; what you describe is an issue on that side, not on this plugin.

[2016-08-11 12:57] #1558 closed

[2016-08-11 13:04] ron666 commented on #1508
@ffoodd Is this still an issue?

[2016-08-11 13:05] ron666 commented on #1510
@sahilshah50 Is this still an issue?

[2016-08-11 13:14] ron666 commented on #1504
@vdavyskiba Is this still an issue?

[2016-08-11 13:15] ron666 commented on #1502
@martintilma Can this issue be closed?

[2016-08-11 13:16] ron666 commented on #1502
@martintilma Closing issue since #1469 was merged already

[2016-08-11 13:16] #1502 closed

[2016-08-11 13:17] ron666 commented on #1496
@salman7788 Is this still an issue? The URL you provided is broken

[2016-08-11 13:22] ale-grosselle commented on #1764
Hi @ron666 if you set the fullscreen mode before the play event fired, all work fine.
Infact on success callback i call detectFullscreenMode and i see the the most appropriate fullscreen mode even if I haven't clicked play
I prepare a pull request so you can check my code

[2016-08-11 13:24] ron666 commented on #1491
@jaepage Is this still an issue? If so, can you provide a URL to test this, please?

[2016-08-11 13:31] ron666 commented on #1497
@joney-pinkman Is this still an issue?

[2016-08-11 13:35] ron666 commented on #1495
@martintilma The question is: why do you need the player inside a label? I don't think that's valid HTML following standards. The correct output must be something like this:
[code]

[2016-08-11 13:36] ron666 commented on #1488
@jakemmarsh Currently, on 3.x-dev branch we are working on integrating SoundCloud for the future. Please check if that works for you

[2016-08-11 13:37] ron666 commented on #1481
@jrglasgow Closing this since a fix for this was merged already

[2016-08-11 13:37] #1481 closed

[2016-08-11 13:38] ron666 commented on #1479
@jomeier Is this still an issue with the latest version of the plugin?

[2016-08-11 13:39] ron666 commented on #1477
@braamgenis Closing this since it seems to be resolved already

[2016-08-11 13:39] #1477 closed

[2016-08-11 13:41] ron666 commented on #1470
@stereobooster Thanks for this tip. We'll explore this and see how feasible is the implementation of this approach

[2016-08-11 13:41] ron666 commented on #1460
@talamkhani Is this still an issue?

[2016-08-11 13:45] ron666 commented on #1459
@che-effe Is this still an issue?

[2016-08-11 13:47] ron666 commented on #1452
@LukaszGrela Thanks for reporting this; there are some configuration elements not listed on the website yet. We need to update them, or provide a more comprehensive list on the README.md file.

[2016-08-11 13:48] ron666 commented on #1449
@nsediq You should use the standalone version of it; please refer to https://github.com/johndyer/mediaelement/blob/master/README.md#3-startup for more details

[2016-08-11 13:48] #1449 closed

[2016-08-11 13:48] ron666 commented on #1432
@josephfusco Is this still an issue?

[2016-08-11 13:48] ron666 commented on #1431
@jcoto4 Is this still an issue?

[2016-08-11 13:50] ron666 commented on #1426
@zerocrates Is this still an  issue?

[2016-08-11 13:51] ron666 commented on #1424
@LukaszGrela Is this still an issue?

[2016-08-11 13:51] ron666 commented on #1407
@fvsch Is this still an issue?

[2016-08-11 13:52] ron666 commented on #1414
@gregfr Is this still an issue?

[2016-08-11 13:55] ron666 commented on #1402
@Af0x Is this still an issue?

[2016-08-11 13:56] ron666 commented on #1401
@gajdot Is this still an issue? If so, can you provide a URL when we can check this issue?

[2016-08-11 13:57] ron666 commented on #1264
@nfreear I have a question, since I'm not familiarized a lot with Accesibility: why do we need a transcript having closed captioning?

[2016-08-11 13:57] gajdot commented on #1401
Wow, this was reported more then a year ago :D I don't know, but next week if I have time I'll check it.

[2016-08-11 14:01] zerocrates commented on #1426
Seems not.

The `clip` style was added by somebody a while ago and on top of that the screenreader text isn't being moved offscreen anymore, despite the class name.

[2016-08-11 14:06] josephfusco commented on #1432
@ryanjwilke I originally discovered this on teamtreehouse.com where I saw you were using mediaelement.js for the course videos. At the time of reporting this the videos there did not auto play like they do now so it is difficult to use the original steps to reproduce.

@ron666 I also tested the issue originally on the mediaelement demo site and confirmed it was a bug. Testing again on he demo site

[2016-08-11 14:06] #1432 closed

[2016-08-11 14:09] fvsch commented on #1407
Not an issue anymore in Firefox 49.

I haven’t looked into whether it‘s a code change on your side or if Firefox changed how they do outlines (doesn’t look like it).

[2016-08-11 14:09] #1407 closed

[2016-08-11 14:49] ron666 commented on #1426
@zerocrates Thanks for your response. Closing this issue now

[2016-08-11 14:49] #1426 closed

[2016-08-11 14:50] ron666 commented on #1401
@gajdot Thanks for your response. Keep us posted

[2016-08-11 15:01] ron666 commented on #1716
@SeregaSpaceApp Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-11 15:01] #1716 closed

[2016-08-11 15:06] ron666 commented on #1680
@GeorgySerga Have you tried to add the event in the success method?

[code]

[2016-08-11 15:08] ron666 commented on #1654
@alijaffar Can this issue be closed per comments above?

[2016-08-11 15:16] etherElric commented on #1620
Hi,
when I first asked this question, I was using mediaelement 2.16 or 2.18.
Now, with 2.20.1 and 2.22.0, I notice that the behaviour seems to have changed.

Here is a test link : http://www.gestionradioqc.com/test/test-mediaelement.php

It seems that when the player starts, the currentTime is now the latest HLS segment.
When I seek to 0, I actually seek to the first segment in the list. Therefore

[2016-08-11 15:19] Af0x commented on #1402
hi, long time :-) I don´t know anymore because I selected a different Skin. Regards

[2016-08-11 15:54] r3wt commented on #1558
A year later? You people are sad

[2016-08-11 16:06] sylvainpolletvillard commented on #1400
It's been a while, things probably changed with chrome and mediaelement updates. I'll try to reproduce it back from vacation

[2016-08-11 17:43] che-effe commented on #1459
I believe that this has been resolved.

[2016-08-11 17:43] #1459 closed

[2016-08-11 17:47] ron666 commented on #1402
@Af0x Thanks for your response. I'll close this and we can always reopen it if it appears in the future

[2016-08-11 17:47] #1402 closed

[2016-08-11 17:48] ron666 commented on #1558
@r3wt I'm sorry we replied until now. We are trying to make some changes to be more prompt and active when issues come. Thanks for your feedback.

[2016-08-11 17:48] ron666 commented on #1400
@sylvainpolletvillard Thanks for your response. Keep us posted about this

[2016-08-11 19:02] ron666 commented on #1790
@ale-groselle could you provide a URL with an HLS file to test this and make sure we will cover thos scenario for the 3.x-dev branch we are currently working, please?

[2016-08-11 19:03] ron666 commented on #1790
My apologies I thought the link you provided above didn't work anymore

[2016-08-11 20:08] birbilis commented on #895
Try http://www.wavsource.com/

[2016-08-11 20:36] ale-grosselle commented on #1790
Hi,
I have tested this m3u8 url:
http://thronqa-view.thron.com/api/xpublisher/resources/weebopublisher/getContentDescriptor.m3u8?clientId=thronqa&contentId=9f63b7df-6060-45ec-87b2-26407463ddb8&channelType=STREAMHTTPIOSHD&v=10

and it works correctly; isn't it?

Il 11/ago/2016 21:03, "Rafael Miranda" <notifications@github.com> ha
scritto:

[2016-08-11 23:11] SeventhCycle commented on #1599
Hi @ron666,

I went ahead and updated the player that's here:
http://seventhcycle.net/mejs/shim_problem/
It's using 2.22.0 that's listed on the front of the mejs site.

By default, it's using mode:"shim", but I added a flag in the PHP script here so that you can turn this off and have it load the HTML5 player for comparison.

1. The volume control shows up now, so it looks like that part is fixed

[2016-08-11 23:30] ron666 commented on #1790
Yes it does

[2016-08-12 02:29] Bugsbane commented on #1462
Perfect. Thanks for your work on Media Element!

[2016-08-12 06:36] sahilshah50 commented on #1510
Hello Ron,
I am not sure. We tried to work around this a lot at that time, but we could not get things to work smoothly. So we eventually switched on to another plugin. I won't be able to test this out. I am okay if you want to close this.
Regards,
Sahil.

[2016-08-12 09:09] LukaszGrela commented on #1424
I havent seen this issue recently so I guess not

[2016-08-12 09:39] GeorgySerga commented on #1680
@ron666 I can't say already, sorry. You can close this issue as irrelevant, or leave it as a reminder to test this feature.
If you need some help, I may try to quickly bootstrap the player at home, to test this event.

[2016-08-12 10:39] #1680 closed

[2016-08-12 10:39] #1424 closed

[2016-08-12 10:39] #1510 closed

[2016-08-12 11:03] talamkhani commented on #1460
with chnages mentioned above this issue solved for me...

[2016-08-12 11:03] #1460 closed

[2016-08-12 12:37] ron666 commented on #291
@mdgbayly Is this still an issue?

[2016-08-12 12:46] ron666 commented on #280
@Fab1en Is this still an issue?

[2016-08-12 12:46] ron666 commented on #1143
@darylhedley Is this still an issue?

[2016-08-12 13:23] ffoodd commented on #1508
Hi,
The demo on the website still has this bug. I guess it's using the last player version. Just tab to the play button, use space or enter to click it, then hit space again to see the bug happen.

I know it's very specific but since every button should be activated when hitting space bar, letting this event bubble through the entire player and fire the play/pause event is weird. Using other butto

[2016-08-12 16:09] ron666 commented on #1508
@ffoodd I tested this on Chrome and I'm unable to replicate it following these steps:

1. Press tab until I reach the Play/Pause button in the video
2. Use space bar to start playing it
3. Pressed space bar again to stop it

 And it stopped. Am I missing a step here? Was this on a specific browser?

[2016-08-13 12:13] ron666 commented on #1599
@SeventhCycle thanks for your response; if you can send me a zip with the files it will be very useful

[2016-08-13 12:27] ron666 commented on #1752
Closing this issue since no answer was posted in more than 2 weeks. Let us know if you need to reopen this issue. Thanks!

[2016-08-13 12:27] #1752 closed

[2016-08-13 12:28] ron666 commented on #1742
@miklu521 Closing this issue since no answer was posted in more than 2 weeks. Let us know if you need to reopen this. Thanks!

[2016-08-13 12:28] #1742 closed

[2016-08-14 00:56] gregfr commented on #1414
It was a long time ago (in a galaxy not so far away ;-) )...
For me HLS is now the only transport, so I haven't used MEJS since then. If HLS is now supported, I'll give it a try :-)

[2016-08-14 04:48] vivekannan commented on #1683
In my app, I have changed it into something like this,

    function showControls() {
        //show controls code
       this.media.addEventListener('timeupdate', this.timeUpdateCallback);
    }

    function hideControls() {
        //hide controls code
       this.media.removeEventListener('timeupdate', this.timeUpdateCallback);
    }

    function timeUpdateCallback() {
       // notice the th

[2016-08-14 04:51] vivekannan commented on #1706
I think the problem is at mep-feature-tracks.js line: 336

    if (t.tracks[i].kind == 'subtitles' && t.tracks[i].isLoaded) {

It only looks for tracks with kind 'subtitles'. It's either this line, or some of the other lines that do the same ind checking.

[2016-08-14 04:58] vivekannan commented on #1796
@Kaito23 "doesn't hide the overlay" When? After seeking video? After loading video?

[2016-08-14 11:08] ron666 commented on #1683
Thanks for sharing your answer. Did you by any chance tested the PR linked to this issue? Just to verify that it solves your issue as well from the core

[2016-08-14 11:09] ron666 commented on #1706
Thanks we'll check this and we'll keep you posted

[2016-08-14 15:26] vivekannan commented on #1683
Yeah, this should work. This was my initial solution. Shall I close the issue?

[2016-08-14 15:56] vivekannan commented on #1538
Maybe try using 'seeked' eventListener instead of 'canplay'?

[2016-08-15 02:43] ron666 commented on #1683
@vivekannan You can close this one once it's merged into the master branch. I'll let you know when this happens

[2016-08-15 03:55] ron666 commented on #898
@iikku If you set a file without the extension but you indicate the type, plugin shouldn't have any problems. Is this still an issue?

[2016-08-15 08:04] iikku commented on #898
I'm not using this project anymore and cannot comment either way.

[2016-08-15 10:57] ron666 commented on #898
@iikku Thanks for your response. We'll close this issue and we can always reopen it if it appears in the future. Thanks!

[2016-08-15 10:57] #898 closed

[2016-08-15 13:37] asker2410 opened #1806 "Streaming from database"
How Can I stream video from mysql database using mediaelement?

[2016-08-15 15:17] ron666 commented on #1806
@asker2410 Get the content on a file (i.e, media.php) and make sure you set the right headers, specially Content-Type (http://stackoverflow.com/questions/20022517/how-to-play-a-video-in-a-database-blob-using-php).

If you are using ASP.net, read http://www.aspsnippets.com/Articles/Upload-Save-Retrieve-and-Play-MP4-Video-files-with-live-streaming-from-Database-in-ASPNet-using-C-and-VBNet.aspx.

Let

[2016-08-15 15:29] ron666 commented on #489
@hadar33 Is this still an issue?

[2016-08-15 15:33] ron666 commented on #473
@tamborinegal I tested IE8 and I don't see it as an issue. Closing it for now, and we can always reopen it in the future

[2016-08-15 15:33] #473 closed

[2016-08-15 15:38] ron666 commented on #436
@LaurentGoderre or @phinze Is this still an issue?

[2016-08-15 18:59] swissspidy commented on #1792
If it's of any help, for translating singular & plural strings in WordPress we were looking at [Jed](https://github.com/SlexAxton/Jed) recently. Its maintainer is now focused on [messageformat.js](https://github.com/messageformat/messageformat.js) though which allows doing similar.

[2016-08-16 07:52] Fab1en commented on #280
I can confirm this is still an issue in version 2.22.0. I used an MP4 video streamed from Akamaï : with html5 player I can go to any place in the video and the player start almost instantly, whereas with flash (shim mode) I have to wait until the video is downloaded to the point I have clicked before it can start playing.

In HTML5 mode, I see that the requests have a "Range" header with "bytes=27

[2016-08-16 08:22] ffoodd commented on #1508
Oh sorry I didn't mention it, I'm using Firefox. I don't replicate the bug on Chrome either. Maybe a browser bug?

[2016-08-16 10:58] ron666 commented on #280
@Fab1en Thanks for your help; we are currently working on some improvements for the Flash player; can you provide the URL you used for testing, so we know this is not an issue anymore once we finish? And what browser did you use for testing?

[2016-08-16 11:11] ron666 commented on #1508
@ffoodd Probably. I'll test it today and let you know

[2016-08-16 12:58] Fab1en commented on #280
Here is the url I used for testing : http://vodflash.tv5monde.com/focus/legendes/4fils.mp4.
I ran the demo called "MediaElementPlayer - Default" with this URL on Firefox 48.0 (Ubuntu 16.04).

[2016-08-16 19:35] SeventhCycle commented on #1599
@ron666 Here you go:
http://seventhcycle.net/mejs/mejs.zip

It's a little on the hefty side due to the example video. Please let me know if you need anything else on my end.

[2016-08-16 22:06] #1806 closed

[2016-08-17 02:36] jaepage commented on #1491
No need for the at-ping, please. Also, the issue seems to be resolved now, thanks.

[2016-08-17 02:36] #1491 closed

[2016-08-17 02:57] ron666 commented on #1796
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-17 02:57] #1796 closed

[2016-08-17 02:58] ron666 commented on #1753
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-17 02:58] #1753 closed

[2016-08-17 03:00] ron666 commented on #1740
Closing this issue per comments above. If you'd like to reopen this, let us know. Thanks!

[2016-08-17 03:00] #1740 closed

[2016-08-17 03:02] ron666 commented on #1705
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-17 03:02] #1705 closed

[2016-08-17 03:02] ron666 commented on #1694
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-17 03:02] #1694 closed

[2016-08-17 03:03] #1682 closed

[2016-08-17 03:04] ron666 commented on #1672
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-17 03:04] #1672 closed

[2016-08-17 03:06] ron666 commented on #1666
@johndyer Thoughts?

[2016-08-17 03:06] ron666 commented on #1663
@manoj382 Is this still an issue?

[2016-08-17 03:07] ron666 commented on #1662
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-17 03:07] #1662 closed

[2016-08-17 03:09] #1659 closed

[2016-08-17 05:55] asker2410 commented on #1806
Any java code reference?

[2016-08-17 12:48] ximifire commented on #1666
It actual right now. I have used last time PostCSS with sass syntax. Easy can play customization. If no objections i can do it on PreCSS with some plugins.

[2016-08-18 04:47] ron666 commented on #1527
@jaredq I don't think that's possible; the player accounts only for available files. If the browser cannot play the file it will try using a shim. But that's a different workflow.

[2016-08-18 04:48] ron666 commented on #1522
@chudy771 Is this still an issue?

[2016-08-18 04:49] ron666 commented on #1520
@serapol Is this still an issue?

[2016-08-18 04:49] ron666 commented on #1517
@jraoatlogic Is this still an issue?

[2016-08-18 04:50] ron666 commented on #1485
@isaachinman Not right now. Can you elaborate more this, please?

[2016-08-18 04:54] ron666 commented on #1403
@Af0x The stop method is not natively supported; only through the shim. The closest to this is to create a feature where the player pauses and sets the current time to zero.

[2016-08-18 08:31] isaachinman commented on #1485
Wow, this was like a year and a half ago. I'm not really involved in web audio API stuff anymore, sorry.

[2016-08-18 08:31] #1485 closed

[2016-08-18 17:22] ron666 commented on #1792
@swissspidy Thanks, I'll take a look to them

[2016-08-18 17:32] #1735 closed

[2016-08-18 17:42] ron666 commented on #1656
@powerpoint Do you have a URL when we can test this? I haven't been able to replicate any issues with the current code on IE8

[2016-08-18 17:46] ron666 commented on #1684
@Usua Is this still an issue?

[2016-08-18 18:26] ron666 commented on #1634
@canadaduane I updated the tag to the latest one; from now on they will be tagged. Thanks for reporting this.

[2016-08-18 18:26] #1634 closed

[2016-08-18 19:35] hikrishn opened #1809 "On IOS10 , playing a wav file using https gives Failed to load resource: Plug-in handled load, safari"
On IOS10 beta, safari browser, when we try to play a wav file from a source which is https then
the player does not play the file. instead gives below error "Failed to load resource: Plug-in handled load""

[2016-08-19 01:11] #1683 closed

[2016-08-19 01:45] MelAntipam opened #1810 "Wrong aspect ratio before playing when preload="none""
Hi,

I'm trying to use mejs in a responsive design with self-hosted mp4 video files. Basically, my code is similar to the responsive demo example:
[code]
**Before playing the video**, changing the browser window width leads to an erroneous player aspect ratio: the ratio width/height of  the container div can get very wrong.

To be more specific, after having changed the browser width, I can see:
`

[2016-08-19 02:39] ron666 commented on #1775
@jaepage Just follow the instructions on **compile_swf.sh** and you won't need to do this; after that run ```grunt html5only```

[2016-08-19 02:39] #1775 closed

[2016-08-19 02:44] ron666 commented on #1568
@uharbachou Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-19 02:44] #1568 closed

[2016-08-19 02:49] ron666 commented on #1806
@asker2410 https://coderanch.com/t/518509/JDBC/databases/store-retrieve-video-file-database

[2016-08-19 03:23] ron666 commented on #1810
@MelAntipam Thanks for reporting this. Can you provide a URL where we can test this, please?

[2016-08-19 04:13] #1691 closed

[2016-08-19 08:17] MelAntipam commented on #1810
@Ron666,

Thanks for your ultra fast answer.

Even simpler than setting up a website:
- here is a slightly modified version of /demo/mediaelementplayer-responsive.html from the current 2.22.0 release (package called johndyer-mediaelement-2.22.0-35-g402c35d): [ar_bug-mediaelementplayer-responsive.zip](https://github.com/johndyer/mediaelement/files/426534/ar_bug-mediaelementplayer-responsive.zip)
-

[2016-08-19 10:15] ron666 commented on #1810
Thanks. I'll take a look and keep you posted

[2016-08-19 10:18] ron666 commented on #1809
Can you provide a URL where we can check this issue please?

[2016-08-19 18:32] martingaudioso opened #1812 "Resize when is muted"
In audio player, if your window is resized when player is muted then volume control change to unmuted.
I fix it changing this line:

			t.container.on('controlsresize', function() {
				positionVolumeHandle(media.volume);
			});

To:

			t.container.on('controlsresize', function() {
				if (media.muted) {
					positionVolumeHandle(0);
					mute.removeClass('mejs-mute').addClass('mejs-unmute');

[2016-08-19 18:48] hikrishn commented on #1809
its our intranet or prod.. i don't have a site to provide.. sorry..

[2016-08-20 05:18] ron666 commented on #1812
@martingaudioso Thanks for noticing this. We'll integrate this in a future release

[2016-08-21 10:45] hikrishn commented on #1809
I find that the issue is that when the call is made to get the wav file from the server, the jsessionid cookie is not in the request header.  You can replicate this using a simple mediaelement js implementation where the wav source file is on a server that needs jsessionid. Please advise on a solution?

[2016-08-22 04:00] ron666 commented on #1809
@hikrishn Unfortunately this issue is difficult to replicate on my end given that I don't have a server with those specifications; on a side note, I'm not sure if a wav file can be played on IOS, given that the default supported types are mp4, mp3 and m3u8

[2016-08-22 10:16] JanSichula commented on #1037
+1 from me

I am presently working on a project where we need to publish videos in two resolutions for our church video archive (360p for users on cellphone networks with limited data plans and 720p for all the rest) . We do want to implement DASH at this phase as manual switching should perfectly cover our needs. Is  there any way to implement such a solution by means of mediaelement.js

[2016-08-22 10:18] JanSichula commented on #475
Hello,

I am presently working on a project where we need to publish videos in two resolutions for our church video archive (360p for users on cellphone networks with limited data plans and 720p for all the rest) . We do want to implement DASH at this phase as manual switching should perfectly cover our needs. Is there any way to implement such a solution by means of mediaelement.js?

[2016-08-22 10:34] ron666 commented on #1772
@khalid11 Check https://developers.google.com/youtube/iframe_api_reference#setPlaybackQuality; that gives you the basics to call the YouTube quality, and also check http://mediaelementjs.com/examples/?name=loop in order to create a new feature in the controls. Let us know if you have any questions. Thanks!

[2016-08-22 10:34] #1772 closed

[2016-08-22 10:35] ron666 commented on #1771
@mwjigar Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 10:35] #1771 closed

[2016-08-22 10:37] ron666 commented on #1764
#1811

[2016-08-22 10:38] ron666 commented on #1759
@scotepi Is this still an issue?

[2016-08-22 10:41] ron666 commented on #1757
@jpking72 Is this still an issue? I tried on Chrome and FF and when existing fullscreen mode it returns to the original position, not to the top

[2016-08-22 10:42] ron666 commented on #1754
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 10:43] ron666 commented on #1749
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 10:43] ron666 commented on #1744
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 10:45] ron666 commented on #1737
@wschwaiger We'll check this and keep you posted. Thanks

[2016-08-22 10:45] ron666 commented on #1711
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 10:45] #1711 closed

[2016-08-22 11:18] ron666 commented on #1706
@qq1211178784 There's a PR you can test (#1800); let me know if that works for you. Thanks

[2016-08-22 11:19] ron666 commented on #1696
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 11:19] #1696 closed

[2016-08-22 11:22] #1754 closed

[2016-08-22 11:26] ron666 commented on #1663
@manoj382 Closing issue per comments above. Thanks!

[2016-08-22 11:26] #1663 closed

[2016-08-22 11:27] ron666 commented on #1652
@TGC32 Is this still an issue?

[2016-08-22 11:28] ron666 commented on #1647
@che-effe There's currently a 3.x-dev branch in which the JS version of HLS is integrated; please test and let us know your thoughts. Thanks

[2016-08-22 11:36] ron666 commented on #1729
@isantolin Closing issue since the branches mentioned above have been removed

[2016-08-22 11:36] #1729 closed

[2016-08-22 11:40] ron666 commented on #1812
@martingaudioso PR created to solve this issue (#1813). Please test it and let us know. It will be merged in the next release

[2016-08-22 11:40] ron666 commented on #1764
@ale-grosselle Please test PR #1811 and let us know if that works for you

[2016-08-22 11:41] ron666 commented on #1630
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 11:41] #1630 closed

[2016-08-22 11:41] ron666 commented on #1633
@jiangbing9293 Is this still an issue?

[2016-08-22 11:42] ron666 commented on #1637
@mturco Is this still an issue?

[2016-08-22 11:42] ron666 commented on #1641
@karpikpl Is this still an issue?

[2016-08-22 11:43] ron666 commented on #1635
@shaunbowe Is this still an issue? If so, can provide a URL we can test, please?

[2016-08-22 11:45] ron666 commented on #1628
@optomaton Is this still an issue? If so, can you provide a URL we can test this, please?

[2016-08-22 11:58] ron666 commented on #1626
@Rorchach Is this still an issue?

[2016-08-22 12:00] axnd commented on #1431
@ron666 I can't reproduce the issue on 2.18.2 anymore.

[2016-08-22 12:01] #1431 closed

[2016-08-22 12:02] ron666 commented on #1625
@superuntitled Closing issue since it has been merged

[2016-08-22 12:02] #1625 closed

[2016-08-22 12:06] ron666 commented on #1611
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 12:06] #1611 closed

[2016-08-22 12:10] ron666 commented on #1555
Closing issue since file is added currently

[2016-08-22 12:10] #1555 closed

[2016-08-22 12:10] ron666 commented on #1552
@anil789 Is this still an issue?

[2016-08-22 12:12] ron666 commented on #1532
@adageamar Refer to this issue: #1806

[2016-08-22 12:12] #1532 closed

[2016-08-22 12:12] ron666 commented on #1530
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-22 12:12] #1530 closed

[2016-08-22 12:54] ron666 commented on #1517
@jraoatlogic Maybe this will help you: https://www.youtube.com/watch?v=ynQC_-LFkRk?

[2016-08-22 12:56] ron666 commented on #1598
@hitechwebsites Can you provide a URL where we can test this please?

[2016-08-22 12:57] ron666 commented on #1590
@KULTI1995 Is this still an issue? Keep in mind that to display subtitles on iOS you need to transcode the VTT captions in the video. Android is a different story

[2016-08-22 12:58] karpikpl commented on #1641
Hey @ron666
I'm no longer working with this code base, I'm not able to verify this :/

[2016-08-22 12:59] ron666 commented on #1589
@jilykate Closing this issue since line you stated has changed. We can always reopen it if you experience this in the future. Thanks!

[2016-08-22 12:59] #1589 closed

[2016-08-22 13:01] ron666 commented on #1583
@ytrezq I'm finishing a new PR that improves documentation (#1805); let me know your thoughts

[2016-08-22 13:29] ron666 commented on #1641
@karpikpl Thanks for your response. We'll close this issue and we can always reopen it if appears in the future. Thanks!

[2016-08-22 13:29] #1641 closed

[2016-08-22 14:06] mturco commented on #1637
No, it looks to be resolved (at least following my own steps to reproduce). Thanks!

[2016-08-22 14:16] ale-grosselle commented on #1764
@ron666 It does not work for me because "canplay" event fired only when user click play button.
If user clicks fullscreen button before play button, user will use fake html5 fullscreen.

It creates this uncorrect user experience:
1) User click fullscreen using fake html5 fullscreen
2) User exit to fullscreen
3) User click Play button
4) User enter in fullscreen mode using real html fullscreen
Poin

[2016-08-22 14:28] shaunbowe commented on #1635
Sorry, we switched to a different media player. I no longer have the code that reproduced this but from what I remember it was just a simple page that played a flv file over rtmp. It is possible it had something to do with invalid/missing flv metadata.

[2016-08-22 16:42] astephenb commented on #1764
@ale-grosselle I have a quick PR our that addresses this: #1811

[2016-08-22 16:43] #1637 closed

[2016-08-22 16:47] ron666 commented on #1635
Probably we will explore this issue and keep you posted

[2016-08-22 16:49] ale-grosselle commented on #1764
Hi @astephenb I have tested your solution but attaching on canplay event don't solve the problem.

If you use loadstart event instead of canplay, works fine.
For your problem, if you use loadstart instead of canplay event work fine?

[2016-08-22 17:13] astephenb commented on #1764
@ale-grosselle It seemed to work for us. I can give `loadstart` a try.

[2016-08-22 21:19] bzb2 opened #1816 "mediaelement does not work consistently on firefox and chromium"
Using mediaelement2.22.1
let ff=FireFox v48
let ch=Chromium Version 51.0.2704.79
Test system is lubuntu 16.04.01 xenial
All test files are local to the test system.

[code]

To interpret the chart, let's take a look at the 1st 2 row sections.
For mimeType=video/3gpp, the player does not work properly for both firefox and chromium.
For mimeType=video/webm, For firefox, the player displays the video

[2016-08-23 02:56] bzb2 opened #1817 "location of subtitle files are important"
I have a webpage showing a video from the web with a local subtitles file.  When the subtitle file is place outside of the directory containing the webpage, subtitles are not shown in the video.  The sample webpage is shown below.  You can create a sample webVTT file from http://mediaelementjs.com/media/mediaelement.vtt  Once the subtitle file is created, place the file outside of the directory co

[2016-08-23 03:02] qq1211178784 commented on #1706
It works,Thanks for your great job!

[2016-08-23 05:03] vivekannan commented on #1706
@ron666 hey! could you help me out with the flash player (action script files) that is built into this player. Can I directly send you an email with my query?

[2016-08-23 07:55] dazweeja commented on #1759
This is still an issue in 2.22.0. It occurs at line 754 of mediaelement-and-player.js when pluginType is 'youtube':

`this.pluginApi.setSrc(mejs.Utility.absolutizeUrl(url));`

This fails because 'this.pluginApi' is a YT.Player which doesn't have a setSrc method. It will need to be replaced with some code like this to work:

[code]

Or alternatively delete the exisiting player and create a new one.

[2016-08-23 07:58] jiangbing9293 commented on #1633
yes , but i think there maybe  a problem ie11.

[2016-08-23 11:35] ron666 commented on #1633
@jiangbing9293 Can you provide a URL where we can test this, please?

[2016-08-23 11:42] ron666 commented on #1706
@qq1211178784 I'm not an expert on ActionScript, but I can try to help you.

[2016-08-23 12:57] ale-grosselle commented on #1764
Thx @ron666 Merged pr #1811

[2016-08-23 12:57] #1764 closed

[2016-08-23 19:12] ron666 commented on #1759
Thanks for your comments. I'll check the code above with YouTube and native player to make sure everything is fine and I'll add it to the core method. Thanks!

[2016-08-24 02:04] dazweeja commented on #1759
I've been playing around some more with this and one issue is that loadVideoById from the YouTube API will autoplay regardless of the current state of the player. This seems undesirable. I implemented a event-based solution to this and then struck another issue where removeEventListener does not seem to be functional on the YouTube API. Anyway, I do have a working solution which autoplay the video

[2016-08-24 03:48] jiangbing9293 commented on #1633
OK.  http://media.lvzaina.cn:10020/?stream=ZW5NQHUUA2

[2016-08-24 04:51] ron666 commented on #1633
@jiangbing9293 I tested this on Browserstack using WIn7 IE11 and Win8 IE11 and everything worked

[2016-08-24 04:53] ron666 commented on #1817
@bzb2 Thanks for pointing this. I know that CORS need to be enabled in order to get subtitles to work, or having them in the same domain as the player is. Regardless of that, I'm going to add this as a part of a PR related to documentation improvements. Feel free to take a look at #1805

[2016-08-24 04:55] ron666 commented on #1816
@bzb2 Thanks for pointing this. We'll explore this issue and keep you posted

[2016-08-24 06:46] jiangbing9293 commented on #1633
yes i test it on win7 wasworked, but not test it on win8.
and i test it on win10 ie11 was not worked well.

[2016-08-24 09:15] cody1991 commented on #1280
I still has this problem: http://a.impingo.me/static/liveDev/index.html

when i resize the window ,the embed will resize it's height.

[2016-08-24 11:01] ron666 commented on #1633
@jiangbing9293 I tried Win10 IE11 on Browserstack and works

[2016-08-24 11:01] #1812 closed

[2016-08-24 11:03] #1744 closed

[2016-08-24 11:05] ron666 commented on #1666
@ximifire If it's your desire, create a PR with this so we can evaluate it.

[2016-08-24 11:06] ron666 commented on #1638
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-24 11:06] #1638 closed

[2016-08-24 11:13] ron666 commented on #1629
@jlgrall Is this still an issue?

[2016-08-24 11:23] ron666 commented on #1406
@LukaszGrela Is this still an issue?

[2016-08-24 12:36] #1635 closed

[2016-08-24 13:33] dayfuaim opened #1819 "Duration "-1 hr" issue"
I have several movies in more than 1 hour length each.
But mediaelement.js shows after 'preload="metadata"' that duration is less by 1 hour (i.e. 11:16 instead of 1:11:16).
When hovering progress bar, I see the same issue – "duration MOD 1 hour" (00:00 goes after 59:59).
If I press Play, everything is fine.
Please, fix this.
URL to check: http://baza.medhold.ru/test/index1.php

[2016-08-24 13:51] dayfuaim commented on #1819
I think I found the fix for this:
`		forceHours: true,
		currentTimeFormat: "hh:mm:ss",
		timeFormat: "hh:mm:ss",
`
in options (I found these options in mediaelement-and-player.js).
These options are not listed in documentation. Please update.

[2016-08-24 15:04] ron666 commented on #1819
Thanks for pointing this out. There's a PR related to improve the documentation feel free to check it and let me know if that works for you #1805

[2016-08-24 16:32] crirus commented on #1587
OK< I spent two days looking at code and solution, it simply doent load a video passed via query string... any idea?

[2016-08-24 16:58] ytrezq commented on #1583
I M currently abroad, no proper internet access to look at this

[2016-08-24 20:03] ron666 commented on #1585
Closing this issue since fix was merged

[2016-08-24 20:03] #1585 closed

[2016-08-24 20:11] ron666 commented on #1037
Thanks for your response. Currently the player doesn't support DASH but we are working on a 3.x-dev branch and we can include it there. We'll keep you posted

[2016-08-24 20:32] ron666 commented on #1280
@cody1991 Which browser are you using? I checked this on Chrome, set the zoom, and I couldn't reproduce this

[2016-08-24 20:44] ron666 commented on #854
@redtopia There is a PR where I address all those items. Feel free to check #1805

[2016-08-24 20:45] ron666 commented on #1311
@MoritzGiessmann Thanks for pointing this. I have a PR that improves documentation. Feel free to check #1805

[2016-08-24 20:47] ron666 commented on #1571
@shaileshsitestrokes There is a PR that allows you to set markers (#1814). Check it and let us know if it works for you

[2016-08-24 20:53] ron666 commented on #1494
@almeidaz How about when you switch tabs, you trigger a window resize using jQuery? This might work because the players are hidden and when they become visible they need to catch the right dimensions.

[2016-08-24 20:53] ron666 commented on #1436
@AFerreli Is this still an issue?

[2016-08-24 20:55] ron666 commented on #1419
@Seb33300 Have you tried using the style="width=100%;height=100%" in your video tag along with the div with Bootstrap classes?

[2016-08-24 20:58] ron666 commented on #1410
There is a PR that allows an event to be fired when ready (#1802). Please test it and let us know if that works

[2016-08-24 21:02] #1749 closed

[2016-08-25 00:04] jiangbing9293 commented on #1633
ok， i closed this issue.

[2016-08-25 00:04] #1633 closed

[2016-08-25 02:04] cody1991 commented on #1280
@ron666 Chrome,too..see the gif below.

![gif](https://cloud.githubusercontent.com/assets/3488257/17954049/cd09aaea-6aaa-11e6-9a53-b3cafd8b6ea2.gif)

[2016-08-25 03:56] ron666 commented on #1280
So the issue is the initial dimensions of te video correct?

[2016-08-25 04:29] ron666 commented on #1632
@ollie007 Is this still an issue? If you indicate in the configuration stretching: "responsive" that should work

[2016-08-25 05:32] cody1991 commented on #1280
@ron666 ~no~ I want the initial dimensions as same as the dimensions after window resize.(embed is truly full width all the time)...

[2016-08-25 09:31] dayfuaim commented on #1819
Thanks a lot!
That's what's been needed. :)

[2016-08-25 10:45] ron666 commented on #1280
Thanks for the clarification. I'll explore this issue and keep you posted when I have something

[2016-08-25 10:52] ron666 commented on #1210
@alexvanniel There is a PR that addresses this issue, although we are waiting on WordPress team to give us thumbs up to complete it (#1413). Feel free to check it.

[2016-08-25 10:52] #1210 closed

[2016-08-25 10:53] ron666 commented on #310
Is this still an issue?

[2016-08-25 10:55] #415 closed

[2016-08-25 10:55] ron666 commented on #429
Is this still an issue?

[2016-08-25 10:57] ron666 commented on #503
Is this still an issue?

[2016-08-25 10:58] ron666 commented on #1352
Closing this since conversation continues on PR #1413

[2016-08-25 10:58] #1352 closed

[2016-08-25 11:01] ron666 commented on #1738
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-25 11:01] #1738 closed

[2016-08-25 11:08] ron666 commented on #1737
@wschwaiger I tested this on Safari and worked using something like this:
[code]
or this:
[code]
Let me know if that works for you

[2016-08-25 11:09] #1726 closed

[2016-08-25 11:20] ron666 commented on #1435
@seewhy17 First of all, you need to call the mediaplayer and create an instance:

[code]

after that, bind a click event on the thumbnails that sets a new source and plays the youtube video
using [this approach](http://stackoverflow.com/questions/38789310/uncaught-typeerror-this-pluginapi-setsrc-is-not-a-function/38791988#38791988) with the ```player``` variable created above:
[code]

We are worki

[2016-08-25 11:58] ron666 commented on #762
@peterh-capella I'm working on debugging this and I'll keep you posted. Sorry for the late notice

[2016-08-25 12:03] ron666 commented on #762
@peterh-capella I tested this and seems to be working using the latest version. Can you confirm this, please?

[2016-08-25 12:05] ron666 commented on #1704
@dazweeja I created #1802 to fix this. Feel free to check it and let me know if it works for you

[2016-08-25 12:09] #1785 closed

[2016-08-25 12:10] #1706 closed

[2016-08-25 12:15] peterh-capella commented on #762
I'm leaving on a vacation to Barcelona tomorrow, so I won't have time to
test this until I return. Can you keep it open until 9 September?

--
Peter Hentges
Interactive Developer

[2016-08-25 12:17] wschwaiger commented on #1737
no. sorry. not working. I figured it may have a connection to the type of the variable I am using. But also no luck.

Any other ideas?

Many thanks

[2016-08-25 12:21] #603 closed

[2016-08-25 12:21] ron666 commented on #603
Closing issue since fix has been merged. Thanks @evertslagter for reporting this and my apologies for the late response to this

[2016-08-25 13:31] ron666 commented on #1737
Do you have a URL we can check?

[2016-08-25 13:31] ron666 commented on #762
Sure thing

[2016-08-25 13:39] wschwaiger commented on #1737
sure - http://www.richardjames.co.uk

Many thanks

[2016-08-25 14:31] isantolin opened #1821 "Version on Main page is not up-to-date"
The version on "Download Latest" icon is not the same than the Github Version

2.22.0
http://mediaelementjs.com/

2.22.1
https://github.com/johndyer/mediaelement

@johndyer can correct this?

[2016-08-25 14:44] isantolin commented on #1600
I dont have an URL, to reproduce that error you need to
* Install Drupal
* Install MediaElement Module https://www.drupal.org/project/mediaelement
* Install libraries on sites/all/libraries
* Test on Admin > Configuration > Multimedia > Mediaelement.JS

This error is experienced on all IE, Firefox & Chrome browsers

[2016-08-25 19:15] ron666 commented on #1600
@isantolin Thanks. To keep you on the loop, I figured out what is the problem: seems like a ```controlsresize``` events is being fired at the beginning and that causes to the next couple of lines (which incidentally happen to store some variables required in further steps) not to be saved. That's why the progress bar is not updated. I'm working on fixing this and I'll let you know when I have the

[2016-08-25 20:21] isantolin opened #1822 "GA & UA Duplicated Plugins"
Currently, Google Analytics has been merged With Universal Analytics and GA Deprecated

https://support.google.com/analytics/answer/4457764?hl=en

That plugins are duplicated. Anyone can remove the google mep-feature-googleanalytics.js deprecated code?

https://github.com/johndyer/mediaelement/blob/master/src/js/mep-feature-googleanalytics.js
https://github.com/johndyer/mediaelement/blob/master/sr

[2016-08-25 20:37] ron666 commented on #1822
Sure thanks for noticing this

[2016-08-25 21:42] ron666 commented on #1600
@isantolin I have a PR that solves the issue (#1824). Please test it and let me know if it works for you. Thanks

[2016-08-25 21:46] ron666 commented on #1822
@isantolin I checked these files and, although they might be removed, they are not harming anything since they are not part of the build process. @johndyer Any thoughts on this?

[2016-08-25 23:58] isantolin commented on #1600
@ron666 Completely fixed and resolved!!! Merge!

[2016-08-26 03:40] ron666 commented on #1725
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:40] #1725 closed

[2016-08-26 03:41] ron666 commented on #1471
@jezhodges Is this still an issue?

[2016-08-26 03:42] ron666 commented on #1437
@GT4 Is this still an issue?

[2016-08-26 03:43] #1511 closed

[2016-08-26 03:44] ron666 commented on #1573
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:44] #1573 closed

[2016-08-26 03:45] #434 closed

[2016-08-26 03:45] ron666 commented on #1562
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:45] #1562 closed

[2016-08-26 03:45] ron666 commented on #1473
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:45] #1473 closed

[2016-08-26 03:46] ron666 commented on #1425
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:46] #1425 closed

[2016-08-26 03:46] ron666 commented on #1404
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:46] #1404 closed

[2016-08-26 03:46] ron666 commented on #1484
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:46] #1484 closed

[2016-08-26 03:46] ron666 commented on #1483
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:46] #1483 closed

[2016-08-26 03:47] ron666 commented on #1474
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:47] #1474 closed

[2016-08-26 03:47] ron666 commented on #1490
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:47] #1490 closed

[2016-08-26 03:48] ron666 commented on #1720
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:48] #1720 closed

[2016-08-26 03:48] ron666 commented on #1578
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:48] #1578 closed

[2016-08-26 03:48] ron666 commented on #1566
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:48] #1566 closed

[2016-08-26 03:48] ron666 commented on #1685
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:48] #1685 closed

[2016-08-26 03:48] ron666 commented on #1674
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 03:48] #1674 closed

[2016-08-26 03:52] ron666 commented on #1646
@SergXIIIth PR #1805 contains something for that method. Feel free to check it. Thanks!

[2016-08-26 13:03] isantolin opened #1825 "Correct the Support Table"
The "Browser and Device support" table in http://mediaelementjs.com/ is very outdated
* Silverlight is Unsopported in Chrome since Version 45 https://en.wikipedia.org/wiki/Microsoft_Silverlight#Desktop_computers
* Opera and Chrome Supports h264 as HTML5 http://caniuse.com/#search=h264
* Edge Supports MPEG-4 as HTML5 http://caniuse.com/#search=mpeg-4 (FLV)
* MP3 Supported as HTML5 on Safari, Opera,

[2016-08-26 13:49] paulozoom commented on #1819
The fix that @dayfuaim proposed doesn't really solve the issue, it just works around it. I'm implementing an audio player, and most times, the audio clips are under an hour, and in those cases, I don't want to force to show `00:HH:MM` before every duration, only when the audio clip really exceeds 60m. Can either @dayfuaim or @ron666 reopen this?

[2016-08-26 13:55] ron666 commented on #1825
@isantolin Thanks for pointing this; I'll add this as a part of PR #1805

[2016-08-26 13:57] ron666 commented on #1819
@paulozoom If you want to create a PR for this, let me know; otherwise, I'll check this. Thanks.

[2016-08-26 14:09] paulozoom commented on #1819
@ron666 I'm taking a look at https://github.com/johndyer/mediaelement/blob/master/src/js/mep-feature-time.js but can't, for the life of me, understand what's causing this. All calls to updating the duration time (or current time for that matter) are being done with `mejs.Utility.secondsToTimeCode`, and the options argument is always `(t.options)`, so it's not clear to me why, before hitting play,

[2016-08-26 14:28] paulozoom commented on #1819
Further investigation, I tried this before hitting play, with `preload="metadata"` in the `<audio>`.

* Calling `.media.duration` on the player instance gives me `3946.6056`, which is correct, but the duration shows as 05:46, not 01:05:46.
* Manually calling `.updateDuration()` on the player instance doesn't produce any effect.
* Manually calling `.load()` on the player instance doesn't produce an

[2016-08-26 14:40] ron666 commented on #1825
@isantolin Can you check https://github.com/johndyer/mediaelement/pull/1805/commits/1718a928f1f7e5833e93a8c0d451e2a773c528b7 to make sure it is useful, please?

[2016-08-26 14:41] ron666 commented on #1819
@paulozoom  No I haven't seen this before, if you have a URL we can test, I'd appreciate it

[2016-08-26 14:44] ron666 commented on #1476
@jaredq We are investigating this. We'll keep you posted about any progress on this

[2016-08-26 14:47] ron666 commented on #1581
@SeventhCycle There's a PR that supports hls.js to play HLS natively if browser allows it (#1776). Feel free to test it and provide comments

[2016-08-26 14:47] ron666 commented on #1487
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-26 14:47] #1487 closed

[2016-08-26 14:48] ron666 commented on #1433
@shacharz We have a PR (#1776) that uses hls.js to support MSE. Feel free to test it and provide comments

[2016-08-26 14:52] paulozoom commented on #1819
I was able to find the cause for the bug: https://github.com/johndyer/mediaelement/blob/9812c6f9530dd3e6dc5eb366b2cb5f69139ac768/src/js/mep-player.js#L766

The method which changes the time format is only being called on the `timeupdate` event, and it should also be called on the `loadedmetadata` event. If I manually make the calls which are in the `timeupdate` event, the correct duration is displ

[2016-08-26 14:54] isantolin commented on #1825
@ron666 i think its good

[2016-08-26 15:00] ron666 commented on #1737
@wschwaiger I think the only thing I noticed is the `'use strict'` at the beginning of your code. My only recommendation for testing purposes is to get rid of it and add an event
[code]
Let me know

[2016-08-26 15:27] ron666 commented on #1819
I think for the sake of simplicity I'd go with the first option you mentioned above but I'll tests it to make sure

[2016-08-26 15:52] ron666 commented on #1819
I don't have a file that lasts that long to test this, can you provide one?

[2016-08-26 18:56] jezhodges commented on #1471
I couldn't say, as I'm not longer using mediaelement

[2016-08-26 20:36] #1471 closed

[2016-08-27 05:27] ron666 commented on #1819
@paulozoom I prepared a PR that solves this (#1826). Test it and let me know if it works

[2016-08-27 05:34] #1600 closed

[2016-08-27 05:37] ron666 commented on #1710
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:37] #1710 closed

[2016-08-27 05:37] ron666 commented on #1681
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:37] #1681 closed

[2016-08-27 05:38] ron666 commented on #1654
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:38] #1654 closed

[2016-08-27 05:38] ron666 commented on #1640
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:38] #1640 closed

[2016-08-27 05:39] ron666 commented on #1608
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:39] #1608 closed

[2016-08-27 05:39] ron666 commented on #1605
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:39] #1605 closed

[2016-08-27 05:39] ron666 commented on #1604
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:39] #1604 closed

[2016-08-27 05:41] ron666 commented on #1567
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:41] #1567 closed

[2016-08-27 05:41] ron666 commented on #1565
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:41] ron666 commented on #1563
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:41] #1563 closed

[2016-08-27 05:41] ron666 commented on #1538
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:41] #1538 closed

[2016-08-27 05:42] ron666 commented on #1529
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:42] #1529 closed

[2016-08-27 05:42] ron666 commented on #1526
@ashishsl Is this still an issue?

[2016-08-27 05:42] ron666 commented on #1504
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:43] ron666 commented on #1497
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:43] #1497 closed

[2016-08-27 05:43] ron666 commented on #1496
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:43] #1496 closed

[2016-08-27 05:43] ron666 commented on #1479
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:43] #1479 closed

[2016-08-27 05:43] ron666 commented on #1416
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:43] #1416 closed

[2016-08-27 05:44] #1414 closed

[2016-08-27 05:45] ron666 commented on #1401
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:45] #1401 closed

[2016-08-27 05:45] ron666 commented on #1400
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:45] #1400 closed

[2016-08-27 05:47] ron666 commented on #1699
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:47] #1699 closed

[2016-08-27 05:47] ron666 commented on #1667
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-27 05:47] #1667 closed

[2016-08-27 13:26] ron666 commented on #1467
@masterhafid I think maybe it's because of the files location. Review PR #1805 and see if that solves your problem

[2016-08-27 13:48] ron666 commented on #1599
@SeventhCycle Sorry for not giving you an update before. About the absence of sounds I agree with you. That may be a Flash limitation as you stated. I'll be checking during these days the fullscreen issue and the loading when scrubbing ahead. I'll keep you posted

[2016-08-27 13:48] ron666 commented on #1471
Thanks for your response. We'll close this issue and we can always reopen it if appears in the future.Thanks!

[2016-08-27 13:55] ron666 commented on #1587
@crirus I'll check this and keep you posted, since I don't know if there are some specifics about how to stream from Facebook

[2016-08-27 14:16] crirus commented on #1587
ok, thanks, mean time I got JWplayer 5 that works like in above comments

[2016-08-28 23:55] dazweeja commented on #1704
Looks good to me. Thanks!

[2016-08-29 04:33] #1668 closed

[2016-08-29 04:36] ron666 commented on #1508
@ffoodd Sorry for my late response. I played with this quite some time, and I found out that Firefox is not consistent on how it manages the keydown event. I have a PR on its way to fix this, but if you can provide any information about how FF manages keyboard events and how it prevents the events bubble effectively I can create something less "hacky", since I'm just targeting Firefox to prevent c

[2016-08-29 04:41] ron666 commented on #605
@jbhorsewriter7 The loop and autoplay you are passing are strings and the code accounts to be booleans. Please test that and let me know if that works for you.

@ammmir We are investigating that issue. We'll keep you posted

[2016-08-29 07:14] ffoodd commented on #1508
@ron666 I'll try to find this out. Thanks for the effort!

[2016-08-29 10:53] ron666 commented on #1643
@feulix Thanks for pointing this. I'll create a PR and keep you posted about this.

[2016-08-30 02:06] cody1991 commented on #1280
I will look forward to the good news.  :-D

[2016-08-30 03:51] ron666 commented on #1669
Closing issue since fix has been merged

[2016-08-30 03:51] #1669 closed

[2016-08-30 03:53] ron666 commented on #1642
@redstrike If you can provide more information on how to supported it will be appreciate it, since I'm not familiarized on what's involved to make a plugin supported by Typescript

[2016-08-30 03:54] ron666 commented on #1411
@serafin34 Is this still an issue?

[2016-08-30 03:55] ron666 commented on #1375
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-30 03:55] #1375 closed

[2016-08-30 03:56] ron666 commented on #1372
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-30 03:56] #1372 closed

[2016-08-30 04:00] ron666 commented on #904
@mleder Is this still an issue?

[2016-08-30 04:01] ron666 commented on #944
@Tamehome Is this still an issue?

[2016-08-30 04:03] ron666 commented on #1186
@gregfr Is this still an issue? Currently, after those lines you stated there are other more that actually do the work you describe as a solution:
[code]

[2016-08-30 04:05] ron666 commented on #1579
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-30 04:05] #1579 closed

[2016-08-30 04:05] ron666 commented on #1617
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-30 04:05] #1617 closed

[2016-08-30 04:05] ron666 commented on #1468
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-30 04:05] #1468 closed

[2016-08-30 04:06] ron666 commented on #1495
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-30 04:06] #1495 closed

[2016-08-30 04:08] ron666 commented on #1143
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-30 04:08] #1143 closed

[2016-08-30 04:10] #1527 closed

[2016-08-30 11:05] ron666 commented on #1819
Closing issue since fix has been merged

[2016-08-30 11:05] #1819 closed

[2016-08-30 13:05] ron666 commented on #1280
@cody1991 I think I have a clue; but I'll need you to use version 2.21.2 to check if issue is there in the Flash player file. If so, I need to keep digging. Let me know you findings

[2016-08-30 13:19] ron666 commented on #1810
@MelAntipam I created a PR that seems to fix this issue (#1828). Please test it and let me know

[2016-08-30 13:38] ron666 commented on #1810
@MelAntipam My apologies; I found other issue on this, so I need to come back and fix the PR. I'll let you know when it's ready

[2016-08-31 01:32] ron666 commented on #1759
@dazweeja I created a PR based on your comments; please test it and let me know if it works for you

[2016-08-31 02:12] cody1991 commented on #1280
@ron666 the issue is still there..
[DEMO](http://a.impingo.me/static/live-mongo/index.html)

[2016-08-31 02:13] ron666 commented on #1280
Thanks @cody1991 I'll keep researching this and keep you posted

[2016-08-31 02:16] ron666 commented on #1410
@trongnguyentcec I created a PR that solves this issue (#1829). Feel free to test it and let me know if it works for you. You will require to add the ```autoplay``` attribute to make it work

[2016-08-31 02:18] ron666 commented on #1435
@seewhy17 I created a PR that solves the issue with setting the source properly, not using the link above, but the true ```setSrc``` method (#1829). Feel free to test it and let me know if it works

[2016-08-31 02:30] ron666 commented on #1673
@denytjandra Closing this issue since I confirmed that using the latest version, and the follwoing markup, the Captions button is being displayed

[code]

[2016-08-31 02:30] #1673 closed

[2016-08-31 02:48] ron666 commented on #1692
@MicJarek I created a PR that solves this issue by adding a configuration flag to enable/disable the tooltip on progress bar (#1830). Feel free to test it and let me know if it works

[2016-08-31 07:52] OlivierJaquemet commented on #1792
For information, and absolutely not as a suggestion of implementation, but just to provide somes resources to better understand the issues and why properly adding L10N is very difficult ... :

- the Unicode CLRD (Common Locale Data Repository) chart for language plural rules (and it is just for plural... they are many more charts for dates, timezone, etc ...)
 http://www.unicode.org/cldr/charts/28

[2016-08-31 13:46] #1642 closed

[2016-08-31 19:48] Pawluczkowycz commented on #904
I have this issue in Safari 10.0, Mac 10.12.  I've found ...mep_0.media.duration === Infinity.

[2016-08-31 20:43] ron666 commented on #904
Thanks for pointing this. Can you provide a URL where we can check this please?

[2016-08-31 21:12] SeventhCycle commented on #1599
@ron666 I went ahead and updated the test URL here:
http://seventhcycle.net/mejs/shim_problem/

This is using release 2.22.1-54-g507c935, which is available on the front page of the mejs website.

2) Scrubbing still appears to be an issue here. I imagine you haven't checked on that yet (which is okay!), but just wanted to note that the new release didn't end up fixing it automatically. :)

3) The

[2016-08-31 21:27] SeventhCycle commented on #1581
@ron666: Does this change the way the load order is handled?

For example:

- Take, for instance, IE10. It doesn't have hls.js support, and (from what I recall), it doesn't have native HLS support.
- Also, anything < Firefox 42 won't have support for this.

With the above example:

 <source type="application/x-mpegurl" src="/members/content//upload/testset/testset.m3u8" />
 <source type="video/mp4

[2016-09-01 00:33] ron666 commented on #1599
Thanks. I am currently checking some issues with the video dimensions so this can be part of it; I haven't had the time to check the scrubbing issue but I'll keep you posted. I haven't forgotten about this ;)

[2016-09-01 10:51] #1692 closed

[2016-09-01 10:54] ron666 commented on #1410
Closing issue since fix has been merged

[2016-09-01 10:54] #1410 closed

[2016-09-01 10:55] ron666 commented on #1435
Closing issue since fix has been merged

[2016-09-01 10:55] #1435 closed

[2016-09-01 10:55] ron666 commented on #1704
Closing issue since fix has been merged

[2016-09-01 10:55] #1704 closed

[2016-09-01 10:55] ron666 commented on #1759
Closing issue since fix has been merged

[2016-09-01 10:55] #1759 closed

[2016-09-01 10:57] mediaclap opened #1831 "we have no control in audio player with chromium."
we have no control in audio player with chromium.

http://i.stack.imgur.com/Mfqqw.png

[2016-09-01 11:43] ron666 commented on #854
Closing issue since fix has been merged

[2016-09-01 11:43] #854 closed

[2016-09-01 11:43] ron666 commented on #1311
Closing issue since fix has been merged

[2016-09-01 11:43] #1311 closed

[2016-09-01 11:43] ron666 commented on #1452
Closing issue since fix has been merged

[2016-09-01 11:43] #1452 closed

[2016-09-01 11:43] ron666 commented on #1524
Closing issue since fix has been merged

[2016-09-01 11:43] #1524 closed

[2016-09-01 11:44] ron666 commented on #1583
Closing issue since fix has been merged

[2016-09-01 11:44] #1583 closed

[2016-09-01 11:44] ron666 commented on #1646
Closing issue since fix has been merged

[2016-09-01 11:44] #1646 closed

[2016-09-01 11:45] ron666 commented on #1817
Closing issue since fix has been merged

[2016-09-01 11:45] #1817 closed

[2016-09-01 11:45] ron666 commented on #1825
Closing issue since fix has been merged

[2016-09-01 11:45] #1825 closed

[2016-09-01 11:49] ron666 commented on #1042
@szepeviktor Can you provide some guidance about what's required to convert a plugin into a ES6 module, please? I'm not well familiarized with it

[2016-09-01 11:59] #1504 closed

[2016-09-01 12:21] szepeviktor commented on #1042
Try this page https://github.com/systemjs/systemjs/blob/master/docs/es6-modules-overview.md

--
+36204242498
Ezen a készüléken sok az elütés.
Elnézést!

On September 1, 2016 1:49:24 PM CEST, Rafael Miranda <notifications@github.com> wrote:

[2016-09-01 12:22] ron666 commented on #1810
@MelAntipam Try to change the following line:
[code]

with:
[code]

and let me know if that works so I can create a new PR to fix this issue

[2016-09-01 12:22] szepeviktor commented on #1042
Google for
jquery plugin es6 module

--
+36204242498
Ezen a készüléken sok az elütés.
Elnézést!

On September 1, 2016 1:49:24 PM CEST, Rafael Miranda <notifications@github.com> wrote:

[2016-09-01 15:47] ron666 commented on #1831
Thanks for pointing this. It came to my notice that there are some issues with chromium and we are checking this. We'll keep you posted

[2016-09-01 17:23] Pawluczkowycz opened #1832 "Audio does not play in IE9"
The video plays fine in IE9, but the audio does not. The src is set but ...,mep_0.media.duration === NaN.  Please see mediaelementjs.com for an example.

Does anyone have any ideas? I need to support IE9. I have browsed the issues looking for a solution, but I'll keep looking..

[2016-09-01 17:32] Pawluczkowycz commented on #904
http://codepen.io/pawluczkowycz/pen/dpyOop

Again it is in Safari 10.0, Mac 10.12

[2016-09-01 19:47] Pawluczkowycz commented on #904
Maybe it is related to Issue #1664 ? The way Safari deals with Header Range fields(?), not a mejs issue?

[2016-09-01 20:24] isantolin opened #1833 "Embedding Vimeo video overlays just control bar but not controls"
When i tried to embed a Vimeo video in MediaElement, Overlays the control bar but not appears the ME controls. This error appears on Chrome, Firefox, IE...

![captura de tela 2016-09-01 as 17 19 45](https://cloud.githubusercontent.com/assets/264640/18182919/54fddf80-7068-11e6-9479-5729c9e5e2a9.png)

Code

[code]

[code]

[2016-09-02 04:12] ron666 commented on #1833
@isantolin Thanks for pointing this issue. First of all, make sure you include froogaloop library. Then make sure your video tag has controls on it. I'll keep researching about this

[2016-09-02 04:17] ron666 commented on #1620
@etherElric  This is more related to implementing hls.js to seek the live segment. There's a PR prepared for this (#1776). Please test it and let me know if it works for you

[2016-09-02 04:47] celloexpressions commented on #1425
Sorry about the slow response.

Yes, this is still an issue on some videos, although testing with a few, there is no loading indicator between iterations on others. Both I'm testing with are .mp4 only and fairly small, so not sure what the distinguishing factor is.

[2016-09-02 06:51] LukaszGrela commented on #1406
Hi, I havent seen anything recently so I guess it could be closed,
thanks

[2016-09-02 06:51] #1406 closed

[2016-09-02 08:45] MelAntipam commented on #1810
@ron666  Sorry for the late answer.

Unfortunately, I don't think it fixes the issue.

My understanding is that container width and height are retrieved and set using jquery width() and height() functions that round values. It works great until you dynamically change the values which leads to an accumulation of rounding errors.

When video metadata have been received (preload="auto" or video is be

[2016-09-02 10:23] ron666 commented on #904
Yeah it's possible. I have never seen something like that, and the fact you are testing in a beta OS makes it more likely to be a browser issue more than a coding issue

[2016-09-02 10:32] prionkor commented on #904
A possible explanation may be if you the medadata for the file is not available.

[2016-09-02 12:01] MelAntipam commented on #1810
@ron666 It just occured to me that this issue was already mentioned by @gvsboy in #1711. His fix is very similar to mine except I've not added any option.

[2016-09-02 13:42] isantolin commented on #1833
@ron666 Froogaloop library is no [longer developed](https://github.com/vimeo/player-api). I included the current Vimeo library to header
[code]

and Still appearing the error "You need to include froogaloop for vimeo to work" on Console

[2016-09-02 19:34] etherElric commented on #1620
**@ron666** I updated my test page with mediaelement 2.22.1: [https://www.gestionradioqc.com/test/test-mediaelement.php](https://www.gestionradioqc.com/test/test-mediaelement.php)

The behaviour is still pretty much the same as 2.20.1 and 2.22.0:
My HLS live stream has 10 segments of 10 seconds each, therefore it ranges from 0 to 100 seconds of content.
When I start the player, it reads second 70

[2016-09-02 20:01] etherElric commented on #1620
Ah, I added 2 other buttons:
Seek to 10 and Seek to 30
All the seek buttons that I have created basically just call mediaElement.setcurrentTime(x);

In the end, it seems like the seek doesn't work correctly.
When seeking to 0 or to 300 (so, passed the "max time" contained in the HLS file), it works fine.
But when I start seeking to 10 and 30 and I switch back and forth, I end up trying to read inv

[2016-09-02 20:10] etherElric commented on #1620
Ah, great. I just realized that I tested with the latest release of mediaelement instead of your pull request ¬.¬
I'll update my tests and come back...

[2016-09-04 04:03] ron666 commented on #1810
@MelAntipam Exactly. The line I sent you above is related to #1714 fix without including any options. That's why I asked you to change it to play with resizing dimensions, and therefore, push this as a PR, since I saw more issues being posted related to the player size.

[2016-09-04 04:04] ron666 commented on #1833
@isantolin I found out that there's a new API to use with Vimeo. This will require an update on how Vimeo is used. I'll keep you posted about it

[2016-09-04 04:06] ron666 commented on #1832
@Pawluczkowycz I tested this on Browserstack using Win7 IE9 and it worked.

[2016-09-04 04:10] ron666 commented on #1403
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-04 04:10] #1403 closed

[2016-09-04 04:12] ron666 commented on #489
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-04 04:12] #489 closed

[2016-09-04 04:12] ron666 commented on #436
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-04 04:12] #436 closed

[2016-09-04 04:13] ron666 commented on #1684
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-04 04:13] #1684 closed

[2016-09-04 04:13] ron666 commented on #1522
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-04 04:13] #1522 closed

[2016-09-04 04:15] #1565 closed

[2016-09-04 11:31] ron666 commented on #381
Closing issue since #1829 solves this and it's merged already

[2016-09-04 11:31] #381 closed

[2016-09-04 12:51] ron666 commented on #1436
@AFerreli This seems to be related to the fix on #1714 let me know if it works for you

[2016-09-04 12:52] ron666 commented on #1042
@szepeviktor Thanks I'll check this

[2016-09-04 13:01] ron666 commented on #291
I'll create a PR to integrate this workflow and solve this in the core package. I'll keep you posted

[2016-09-04 13:07] kirsun opened #1835 "MediaElement does not play immedieately when first chunk is loaded."
I am having the issue in playing the audio in my website. When the play button clicked, the song gets loaded correctly, but do no play after first chunk is loaded. It waits till the song loads upto 2.2mb 2.3mb and later on, we could hear the song. I dont know what is the issue. please check the website www.kannadaremix.in  and try to play any song in that website to understand the exact issue i am

[2016-09-04 13:17] ron666 commented on #291
@chrowe and @quinncomendant I created a PR that integrates this fix (#1836); please test it and let me know if it works for you

[2016-09-04 15:25] kirsun commented on #1835
I am streaming the songs mp3 with php readfile ().

[2016-09-04 15:57] ron666 commented on #1835
sounds like an encoding issue of your files. Read http://rigor.com/blog/2016/01/optimizing-mp4-video-for-fast-streaming to see if that helps you

[2016-09-04 16:08] kirsun commented on #1835
Excellent article, helped me a lot. Problem exists. But minimized.

[2016-09-04 17:01] #1835 closed

[2016-09-05 03:13] ron666 commented on #1789
@lucozhao I created a PR that makes the translations available (#1834). Please test it and let me know if it works for you

[2016-09-05 03:14] ron666 commented on #1422
@LukaszGrela What's the behavior you are trying to get exactly by using that approach with MediaElement?

[2016-09-05 03:18] ron666 commented on #1658
@etherElric I think the events you are looking for can be achieved by using hls.js. There's a PR for that (#1776). We'll be also looking to integrate more events/errors in the Flash version, but test this PR and let me know if it works for you

[2016-09-05 07:19] mediaclap commented on #1831
thanks i've test in V3 its ok !

thanks for resolve this bug in v2.

[2016-09-05 07:25] LukaszGrela commented on #1422
To have poster for audio file, and not need to convert audio into video with static image:)

[2016-09-05 12:08] ffoodd commented on #1508
Hi,

I just ran a few `console.log()`to see where Firefox and Chrome are diverging.

It seems that Firefox goes a step further than Chrome. They both goes by [keydown](https://github.com/johndyer/mediaelement/blob/03ecc44f3b080a5b5d23133392dc9a1129e6066b/src/js/mep-player.js#L1274), then [keyActions for space bar key](https://github.com/johndyer/mediaelement/blob/03ecc44f3b080a5b5d23133392dc9a1129

[2016-09-05 12:19] ffoodd commented on #1508
As a complementary thought, I also found [this SO explaining that the problem also exists for the mute button](http://stackoverflow.com/questions/33865582/spacebar-should-not-be-used-to-control-2-functionalities-together). Indeed, when focusing on the mute button and pressing the space bar (to mute the video, obviously) in Firefox you also play/pause the video (which is  weird).

The same way, whe

[2016-09-05 13:49] ron666 commented on #1508
This is great information. I'll see what we can do with this, given that this is a browser related issue. Thanks for this info and I'll keep you posted on any progress

[2016-09-05 14:03] ron666 commented on #1422
Ok I'll check this and keep you posted on any progress.

[2016-09-05 14:29] mediaclap commented on #1831
when the final V3 was release ?

[2016-09-05 14:45] ron666 commented on #1831
It has not been released yet is still work in progress but once we resolve the final bugs in the queue we'll get our whole attention to it

[2016-09-05 14:49] ron666 commented on #1831
So you mean in 3 is fixed but not in 2?

[2016-09-05 15:41] mediaclap commented on #1831
yes in v.3 is fixed but not in V.2

[2016-09-05 19:56] martintilma commented on #1495
Your command came in during my holiday. While I'm caching up my e-mail I stumbled op on your mail again.
According to: https://www.w3.org/TR/html5/forms.html#the-label-element (Phrasing content) it is allowed to place an audio tag inside a label. In our application the content is provided externally, I don't have control over the content. That's how the audio shows up inside the label.

[2016-09-05 21:37] MelAntipam commented on #1810
@ron666 Your proposed fix does not work because the issue is mainly caused by rounding errors done when storing newHeight as a style attribute, just below your line:
[code]
 And even if the height was stored as a fractional number using jQuery .css() instead of .height(), it is rounded again when the value is retrieved, for instance by `t.media.getAttribute('height')` in the `nativeHeight()` funct

[2016-09-05 22:07] ron666 commented on #1495
then the workflow you described above seems correct if there's something it's not on your control. Finding the right target for the click event is the key

[2016-09-05 22:36] ron666 commented on #1810
Thanks for the work in this. I may need to play with your solution to account for more scenarios but if you can think about any other let me know since this is a valuable fix that needs to be released as soon as possible

[2016-09-06 07:52] wschwaiger commented on #1737
Hi,

Sorry. It is not working. I inserted the new event right after the 'ended'
event but it messes with all the rest of the browsers. Meaning the player
is then not working in Chrome for example.?

How do we proceed.

Thanks again for looking into this.

W

On 26 August 2016 at 17:00, Rafael Miranda <notifications@github.com> wrote:

--
*di(fh) wolfgang schwaiger*
*cell:* +43 664 11 44 690 | UID:

[2016-09-06 12:12] Pawluczkowycz commented on #1832
Strange. My Win7 + IE9 combination does not work. Vista + IE9 does, but not on Win7. Any suggestions?

[2016-09-06 18:04] ron666 commented on #1832
I'll test in Browserstack and let you know what I find.

[2016-09-07 02:26] ron666 commented on #1821
@johndyer Can you update to 2.23.0, please?

[2016-09-07 02:28] ron666 commented on #1809
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-07 02:28] #1809 closed

[2016-09-07 02:28] ron666 commented on #1652
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-07 02:28] #1652 closed

[2016-09-07 02:28] ron666 commented on #1626
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-07 02:28] #1626 closed

[2016-09-07 02:28] ron666 commented on #1552
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-07 02:28] #1552 closed

[2016-09-07 02:28] ron666 commented on #1598
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-07 02:42] ron666 commented on #1622
There's work implemented on 3.x-dev branch that includes now M-DASH. Feel free to review and provide feedback. Thanks

[2016-09-07 14:38] skarnl commented on #1566
This is still an issue. Will occure when you run the systemjs-builder.

[2016-09-07 17:15] elucidat commented on #1832
I'm seeing this too - IE9 + Win7 on browserstack.
Strangely an audio player works - just not a video player.

[2016-09-07 17:17] Pawluczkowycz commented on #1832
So the reverse of mine? My video works but audio does not.

[2016-09-07 17:36] elucidat commented on #1832
Oh sorry - not being clear -

I find that a player playing video (ie a <video> tag) - like the top one here -
https://www.dropbox.com/s/m7m7v9j49xip9wn/Screenshot%202016-09-07%2018.34.40.png?dl=0
- plays video but not audio -

And an <audio> only player (https://www.dropbox.com/s/ydys3qsds886he2/Screenshot%202016-09-07%2018.35.48.png?dl=0) does play audio...

[2016-09-07 17:36] elucidat commented on #1832
Missing word -
And an AUDIO only player (https://www.dropbox.com/s/ydys3qsds886he2/Screenshot%202016-09-07%2018.35.48.png?dl=0) does play audio...

[2016-09-07 18:05] Pawluczkowycz commented on #1832
Okay, I went to jsfiddle and added a video and an audio tag but _no mediaelement.js_ , and got the following screenshot. Does this suggest it is a problem with my local version of IE9 or Windows 7? Here too, video tag works but not audio.

![jsfiddleaudiovideo](https://cloud.githubusercontent.com/assets/7142610/18322931/2de7e2ac-7503-11e6-85e6-2f77c61d3483.JPG)

[2016-09-07 18:10] elucidat commented on #1832
I'm not sure <video> or <audio> tags are expected to work natively in IE9 are they? They would both use the Flash fallback I think - so you'd need mediaelement.... It would also depend what format your files are -

[2016-09-07 18:28] ron666 commented on #1737
@wschwaiger I'll take a look into your your source code and see what's going on, and I'll let you know

[2016-09-07 21:50] ron666 commented on #1832
So based on comments can this issue be closed?

[2016-09-07 23:58] Pawluczkowycz commented on #1832
Would you concur that it is the browser or the OS? Do you have any
guesses--I still feel a little lost?

On Wed, Sep 7, 2016 at 5:50 PM, Rafael Miranda <notifications@github.com>
wrote:

[2016-09-08 02:21] ron666 commented on #1832
I'll concur is your OS based on my test and @elucidat tests

[2016-09-08 06:06] tmabs commented on #1561
Good day to you all, leandroprx which hosting company do you use, because am also facing this issue. The video was playing fine on localhost but when i uploaded the website it was displaying error loading resource. Thanks in anticipated favorable reply.

[2016-09-08 10:59] ron666 commented on #1262
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-08 10:59] #1262 closed

[2016-09-08 10:59] ron666 commented on #1264
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-08 10:59] #1264 closed

[2016-09-08 11:03] ron666 commented on #1488
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-08 11:03] #1488 closed

[2016-09-08 11:03] ron666 commented on #1757
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-08 11:03] #1757 closed

[2016-09-08 11:03] ron666 commented on #1647
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-08 11:03] #1647 closed

[2016-09-08 11:03] ron666 commented on #1628
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-08 11:03] #1628 closed

[2016-09-08 11:04] ron666 commented on #1494
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-08 11:04] #1494 closed

[2016-09-08 11:39] #1832 closed

[2016-09-08 11:56] elucidat commented on #1832
Yes - it seems that this is to do with an audio codec missing. Also Browserstack appears to have an issue playing audio.

The workaround if you do have the problem, is to use mode:shim for IE9 - which forces the use of Flash rather than playing natively.

[2016-09-08 12:48] andynd opened #1838 "Sourcechooser broken"
Commit 12c79f2692d2063a8789139a535229c07fe7ff10 from @rtackett breaks the sourcechooser for us.

The source chooser will never expand with his commit, if we revert just the `src/js/mep-feature-sourcechooser.js`, everything works fine,

[2016-09-08 13:49] leandroprz commented on #1561
I was using StableHost but they weren't able to solve the issue so I moved to A Small Orange and the problem was solved right away.

[2016-09-08 13:51] ron666 commented on #1838
@andynd Thanks for pointing this. I'll check it and keep you posted

[2016-09-08 14:21] tmabs commented on #1561
Thanks bro, i really appreciate.

[2016-09-08 14:31] leandroprz commented on #1561
You're welcome, good luck!

[2016-09-09 00:03] davehax opened #1840 "Unable to specify playerVars for YouTube iFrame API"
The playerVars for the YouTube iFrame API are currently hard coded as:

[code]

A side effect of this is that you can't specify that a YouTube video should play inline and not full screen in Safari on iOS 10

[2016-09-09 00:46] ron666 commented on #1840
@davehax Thanks for pointing this. I'll create a PR to address this and keep you posted

[2016-09-09 00:54] ron666 commented on #901
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-09 00:54] #901 closed

[2016-09-09 00:55] ron666 commented on #1838
@andynd Does PR #1839 fixes your issue?

[2016-09-09 17:42] tennety commented on #1838
Created #1841 in favor of #1839

[2016-09-09 17:45] tennety commented on #1838
@andynd #1713 may also be helpful to your issue

[2016-09-10 04:52] ron666 commented on #1629
Closing this issue since it has been more than weeks with no answer. Please feel free to reopen bug if it still appears

[2016-09-10 04:52] #1629 closed

[2016-09-10 04:54] ron666 commented on #1571
Closing this issue since it has been more than weeks with no answer. Please feel free to reopen bug if it still appears

[2016-09-10 04:54] #1571 closed

[2016-09-10 19:54] ron666 commented on #291
Closing issue since fix has been merged

[2016-09-10 19:54] #291 closed

[2016-09-11 01:01] ron666 commented on #1566
An you expand on the systems-builder? I haven't heard about it

[2016-09-12 17:42] ron666 commented on #1840
@davehax I created a PR that solves this issue (#1842); please test and let me know if it works for you

[2016-09-13 04:28] ron666 commented on #1590
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:28] #1590 closed

[2016-09-13 04:28] ron666 commented on #1461
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:28] #1461 closed

[2016-09-13 04:28] ron666 commented on #1419
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:28] #1419 closed

[2016-09-13 04:28] ron666 commented on #1632
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:28] #1632 closed

[2016-09-13 04:29] ron666 commented on #429
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:29] #429 closed

[2016-09-13 04:29] ron666 commented on #1526
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:29] #1526 closed

[2016-09-13 04:29] ron666 commented on #1411
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:29] #1411 closed

[2016-09-13 04:30] ron666 commented on #944
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:30] #944 closed

[2016-09-13 04:30] ron666 commented on #1186
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-13 04:30] #1186 closed

[2016-09-13 04:35] ron666 commented on #1620
@etherElric Thanks for the update. I'll keep checking this and keep you updated

[2016-09-13 04:36] Tamehome commented on #944
@ron666 I haven't had a chance to re-test the issue recently, so if I experience the issue again, I will re-open the issue.  Thanks!

[2016-09-13 11:46] pixelastic commented on #1831
I can confirm the same display bug in `Chromium Version 52.0.2743.116 Built on Ubuntu, running on Ubuntu 16.04 (64-bit).`

With the following generated markup:
![image](https://cloud.githubusercontent.com/assets/283419/18472531/50b93e66-79b8-11e6-9f2c-dc125b90cb2c.png)

[2016-09-13 12:35] mediaclap commented on #1831
yes is exactly the same problem. We use chromium embeded in PC app. it is very important to us that it works.

[2016-09-14 17:35] isantolin commented on #1822
@ron666 @johndyer I Think its better add "3.0" and "Feature" tag to Issue

[2016-09-14 18:23] ron666 commented on #1822
@isantolin Yes I'm currently working on 3.0 and I'll remove this there

[2016-09-16 10:54] ron666 commented on #1670
@rekcuFniarB Thanks for your patience. I created a PR that solves this issue (#1843). Please test it and let me know.

[2016-09-16 10:54] ron666 commented on #1831
@mediaclap  Thanks for your patience. I created a PR that solves this issue (#1843). Please test it and let me know.

[2016-09-16 10:56] ron666 commented on #1816
@bzb2  Thanks for your patience. I created a PR that solves this issue (#1843). Please test it and let me know.

[2016-09-16 10:56] ron666 commented on #1520
@serapol Thanks for your patience. I created a PR that solves this issue (#1843). Please test it and let me know.

[2016-09-16 11:02] ron666 commented on #1833
@isantolin I have integrated Vimeo into 3.x-dev branch. Check one of the test files to acknowledge this issue has been solved there

[2016-09-16 14:07] isantolin commented on #1833
@ron666 i tested on localhost with this code:

Header:
[code]

Body
[code]

And has this error:

[2016-09-16 14:38] ron666 commented on #1833
@isantolin Don't test it with localhost; create a vhost with a fake domain because Vimeo as well as other renders don't like the localhost approach. Please let me know if that works for you

[2016-09-16 15:02] isantolin commented on #1833
@ron666 now i testing on External Virtualhost without sucess.
I will send to you the url via Email to test

[2016-09-16 15:19] ron666 commented on #1833
@isantolin Thanks. I replied to your email. It's a matter of the URL you are passing to the player

[2016-09-16 15:31] isantolin commented on #1833
@ron666 i cant do a PR on that branch but you can pickup the file to add in "test" folder as reference

[2016-09-16 15:32] ron666 commented on #1833
@isamtolin I'll add that test in a minute. Thanks

[2016-09-16 19:07] ron666 commented on #1833
@isantolin Test added

[2016-09-17 17:54] #1520 closed

[2016-09-17 19:09] tech2685 commented on #1816
Test

[2016-09-17 22:52] ron666 commented on #1831
Closing this issue since PR was merged and per comments on #1843

[2016-09-17 22:52] #1831 closed

[2016-09-17 22:54] ron666 commented on #1816
Closing this issue since PR was merged and per comments on #1843

[2016-09-17 22:54] #1816 closed

[2016-09-17 22:54] ron666 commented on #1670
Closing this issue since PR was merged and per comments on #1843

[2016-09-17 22:54] #1670 closed

[2016-09-18 00:32] ron666 commented on #1833
Closing issue since work has been done on 3.x-dev branch

[2016-09-18 00:32] #1833 closed

[2016-09-18 00:33] ron666 commented on #1822
Closing issue since work was done on 3.x-dev branch

[2016-09-18 00:33] #1822 closed

[2016-09-18 15:36] sarowerj opened #1844 "mejs-time-rail not showing when using inside bootstrap collapse"
Hi,
This plugin is working properly in my project. But when I am using it inside the bootstrap collapse, the loaded bar is not showing for collapsed panel. For the first panel it is working properly. When I open another panel by clicking the title, then media player appearing, media playing but not showing the `mejs-time-buffering, mejs-time-loaded`. Can any one help me please?

*\* It's my audio

[2016-09-19 03:23] ron666 commented on #1840
Closing this issue since fix has been merged

[2016-09-19 03:23] #1840 closed

[2016-09-19 11:05] ron666 commented on #1844
@sarowerj I tested this on Chrome and I can see the them being displayed; which browser you are experiencing issues with?

[2016-09-19 13:28] isantolin opened #1846 "[3.0] Invoke API libraries with https by default"
@ron666 Nowadays, all APIs are served with https for user security. I think, all libraries should be invoked with https:// by default

- https://github.com/johndyer/mediaelement/blob/3.x-dev/src/js/mediaelement-renderer-facebook.js
//connect.facebook.net/en_US/sdk.js to https://connect.facebook.net/en_US/sdk.js

- https://github.com/johndyer/mediaelement/blob/3.x-dev/src/js/mediaelement-renderer-v

[2016-09-19 13:33] ron666 commented on #1846
@isantolin Thanks for pointing this out. I'll change this today

[2016-09-19 13:38] ron666 commented on #1846
@isantolin Change added in 3.0 version

[2016-09-19 13:38] #1846 closed

[2016-09-19 13:39] isantolin opened #1847 "Main Site Hosted on Github Pages"
@ron666 @johndyer to make quick contributions to http://mediaelementjs.com/ page, i think should be migrated to https://pages.github.com/
- https://help.github.com/articles/quick-start-setting-up-a-custom-domain/
- https://help.github.com/articles/adding-or-removing-a-custom-domain-for-your-github-pages-site/

[2016-09-19 16:40] isantolin commented on #1622
@ron666 do you have a code Snippet to put on "test" folder and test M-DASH?

[2016-09-19 16:43] ron666 commented on #1622
@isantolin I'll create one in a minute

[2016-09-19 16:48] ron666 commented on #1622
@isantolin Done

[2016-09-19 16:52] isantolin commented on #1622
@ron666 Today at night i will test, Thanks

[2016-09-19 17:03] ron666 commented on #1622
@isantolin Thanks for your help. Just keep in mind that for old browsers we don't have support on M-Dash, so I'm exploring dash.as as an alternative to play them using Flash, but is still an ongoing research

[2016-09-19 22:04] ron666 commented on #1581
@SeventhCycle Thanks for bringing this up. Currently in the 3.x-dev branch you will be able to play HLS files in browsers that don't support it natively by using Flash as a fallback. It's a really interesting scenario the one you are describing but let me know if the current state of the player works for you

[2016-09-19 22:06] ron666 commented on #1587
@sobytes In the 3.x-dev branch we are only considering the approach of using video tag and iframe as well. Let me know if that works for you

[2016-09-19 22:35] ron666 commented on #1556
@adsonnunes Have you checked the example they gave on https://github.com/wayou/audio-visualizer-with-controls and added mediaelement library as a part of it?

[2016-09-19 22:43] ron666 commented on #1422
@LukaszGrela Please check 3.x-dev branch; there's a test file for HTML5 that solves your issue. Let me know if it works for you

[2016-09-20 05:48] isantolin commented on #1622
@ron666 i added to tests MSEdge and IE11
Linux
- Chrome: OK
- Firefox: OK

Windows
- MSEdge: OK
- IE10, IE11: Cant Play
[code]
(no debug info)
- IE8: Errors
[code]

[2016-09-20 10:27] ron666 commented on #1622
@isantolin Thanks for testing this. Results are expected, since M(PEG)-Dash will play in IE11 Win 8 and above. That's why I'm currently researching the possibility of creating a Flash fallback

[2016-09-20 13:54] isantolin commented on #1622
@ron666 i think Silverlight fallback too. Windows 8 and 10 has Silverlight installed by default but not Flash

[2016-09-20 14:28] gavrochelegnou commented on #1622
This looks great ! Thanks a lot.
Regarding the fallback I think that :
- anyone with a pre-recorded video can use the mp4 file as a fallback.
- anyone that uses MDash for live streaming can use HLS & RTMP as fallback, as all server side solutions that handles MpegDash also handles thoose two streaming protocol.

[2016-09-20 18:07] ron666 commented on #1622
@isantolin and @gavrochelegnou Thanks for the suggestions; I kinda agree with @gavrochelegnou since I've seen that for most users they tend to do a M(PEG)-Dash + HLS approach, since it's mode standardize HLS than M-Dash. So we can encourage the use of 2 sources (one M-Dash and another as a fallback, either MP4 or HLS). Let me know your thoughts about this, because that same principle for native HL

[2016-09-20 18:21] isantolin commented on #1622
@ron666 @gavrochelegnou in my opinion, having two or multiple Streams / Sources for the same content can be Expensive for servers bandwidth and the idea (and the Philosophy of mediaelement i think) is provide the fallbacks to fix the technical segmentation and reproduce all with less sources

[2016-09-20 18:40] ron666 commented on #1622
@isantolin yes it's true. The fallback idea is the ideal scenario but it is also a limitation in terms of those technologies giving support to those new formats. If you find any sources related to integrate dash.as in a custom player and also if silver light can play m-dash let me know please. Meanwhile I'll continue working with what I know from Flash

[2016-09-20 21:30] ron666 commented on #1475
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-20 21:30] #1475 closed

[2016-09-21 04:00] ron666 commented on #1437
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-21 04:00] #1437 closed

[2016-09-21 04:09] ron666 commented on #280
@Fab1en I've been working in 3.x-dev branch, can you test this on that branch to make sure the issue is gone once we release it, please?

[2016-09-21 04:10] ron666 commented on #310
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-21 04:10] #310 closed

[2016-09-21 04:24] ron666 commented on #762
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-21 04:24] #762 closed

[2016-09-21 04:24] ron666 commented on #904
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-21 04:24] #904 closed

[2016-09-21 04:26] ron666 commented on #1037
Closing this issue to continue thread on #1609

[2016-09-21 04:26] #1037 closed

[2016-09-21 04:27] ron666 commented on #1433
Closing this issue to continue thread on #1609

[2016-09-21 04:27] #1433 closed

[2016-09-21 17:48] ron666 commented on #1508
@ffoodd Sorry for the delay; I created a PR that solves this issue (#1848). Please test it and let me know if it works for you. Thanks.

[2016-09-22 10:56] ron666 commented on #1847
@isantolin This sounds very interesting. Although, I don't have that privilege. @johndyer Thoughts?

[2016-09-22 11:35] ffoodd commented on #1508
Hi @ron666, I just tested and it works fine now :)

Only tested in Firefox 48, but since you're using UA sniffing I guess it wouldn't cause any trouble to other browsers.

Thanks!

[2016-09-22 16:04] ron666 commented on #1508
Closing issue since fix has been merged

[2016-09-22 16:04] #1508 closed

[2016-09-22 16:19] ron666 commented on #1595
@SeventhCycle Can you check if in 3.x-dev branch is this an issue as well?

[2016-09-22 16:49] ron666 commented on #1622
@isantolin by the way have you thought on testing HLS and MPEG-Dash on mobile devices as well? That would help tremendously to increase the confidence on the release of the 3-x.dev branch

[2016-09-22 17:02] ron666 commented on #1584
@ytrezq Unfortunately, it is not a way to play wmv and wma anymore. Major players such as JwPlayer, VideoJS and Flowplayer are not even considering this format at all, so we are dropping support for them as well, given that they are only-IE propieritary formats

[2016-09-22 17:02] #1584 closed

[2016-09-22 17:03] ron666 commented on #1476
@jaredq  Unfortunately, it is not a way to play wmv and wma anymore. Major players such as JwPlayer, VideoJS and Flowplayer are not even considering this format at all, so we are dropping support for them as well, given that they are only-IE propieritary formats

[2016-09-22 17:03] #1476 closed

[2016-09-22 23:56] albell opened #1849 "Reduce CSS selector specificity?"
For maintainability, I prefer to override the existing selectors rather than edit them in place, so that I can easily just paste in future stylesheet updates. Doing things this way requires triple and quadruple selectors all up and down my override stylesheet, which are:
- longer to type
- harder to understand
- larger on the wire
- less readable in dev tools

and generally discourage customizatio

[2016-09-23 01:35] ron666 commented on #1849
@albell If you propose a PR for this we'll be happy to review it. Thanks for your interest

[2016-09-23 01:45] ron666 commented on #1795
@moloko Can you test 3.x-dev branch and confirm if this is an issue, please? I'm working almost 100% on that branch to release it ASAP

[2016-09-23 02:23] ron666 commented on #1737
@wschwaiger Sorry for not giving an update. My only suggestion is to try to enable the call twice to see if that fixes it. It's a little hard to see what else is in the rest of the code giving that it's compressed. Let me know if it works for you

[2016-09-23 10:33] moloko commented on #1795
Looks pretty good to me @ron666.

Tested in IE11, Edge, Chrome and Firefox (all latest version on latest Win10)

[2016-09-23 17:32] albell commented on #1849
Okay, great. We should probably converge on some core principles prior to any overhaul. Here is the approach I suggest:

1.  Every element gets an class, prefixed by ‘mejs’. This allows it to be targeted directly, atomically. This is done fairly well already, but it’s not entirely consistent across the stylesheet. E.g. you have the six-selector monster:
[code]
2. Selector depth should never go hig

[2016-09-24 06:07] ron666 commented on #1789
Closing this issue since fix has been merged

[2016-09-24 06:07] #1789 closed

[2016-09-24 06:08] ron666 commented on #1838
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-09-24 06:08] #1838 closed

[2016-09-25 12:28] ron666 commented on #1795
@moloko Thanks for testing. I'll just indicate that this is fixed on 3.x-dev branch and close this ticket

[2016-09-25 12:49] ron666 commented on #895
@professor99 Can you test this on 3.x-dev branch, given that right now is my major focus, please?

[2016-09-25 13:44] ron666 commented on #1849
I agree on everything you have stated. The next major release will come with 3.x-dev so if you wanna create a PR there it will be better. At this point that's my major focus

[2016-09-25 14:14] moloko commented on #1795
:thumbsup:

[2016-09-25 15:17] #1795 closed

[2016-09-25 19:21] tech2685 commented on #1422
hey this its  theodore burgess would like to have a chat  in regards
to u all getting out of my pc

On 9/19/16, Rafael Miranda <notifications@github.com> wrote:

[2016-09-26 03:02] ron666 commented on #1187
@OlivierJaquemet Is this something you are interested to address if you plan to work on the PR for the plurals in translations?

[2016-09-26 03:53] ron666 commented on #1370
@MoritzGiessmann The fix is now included on 3.x-dev branch; please test it and let me know

[2016-09-26 13:01] ron666 commented on #1810
@MelAntipam Sorry for my late update. If you can test this issue on the 3.x-dev branch I'd appreciate it, given that right now is my major focus to release that branch, and all the major fixes and improvements are being done there

[2016-09-26 13:02] ron666 commented on #575
@lhwparis This issue seems to be fixed on 3.x-dev branch; please test and let me know

[2016-09-26 13:03] ron666 commented on #1436
@AFerreli This issue seems to be fixed in 3.x-dev branch; please test and let me know

[2016-09-26 14:45] comede opened #1851 "youtube Video loops"
even if i explicitely set the option loop = false all youtube videos are looping.

$('video,audio').mediaelementplayer({loop:!1}); => loops width youtube Videos in iFrame.

[2016-09-26 15:43] OlivierJaquemet commented on #1187
@ron666 Not sure I can free up some time for that right now. Though it would clearly be needed, specially GPL licence is violated in mejs current state !

Would you be ok to include external dependencies ?
Such as messageformat.js (MIT license), Yahoo FormatJS (BSD and custom licencse) or any other very light JS library providing good I18N ?

I'm clearly not a specialist regarding dependency manag

[2016-09-26 16:10] ron666 commented on #1851
@comede can you test this on 3.x-dev branch please?

[2016-09-26 17:00] albell commented on #1849
Ok, cool. Do you have a roadmap or summary of any other changes in 3.* that it might be useful to be aware of?

[2016-09-26 17:49] ron666 commented on #1849
The main changes are oriented to the core, not the player itself. Of course some minor adjustments must occur to make this new approach to work but other than that it should remain the same. If you wanna test your work use `/test/test-3.html` file that currently uses the full player

[2016-09-27 07:52] evertslagter commented on #603
:+1:

[2016-09-27 16:49] comede commented on #1851
i get error when i load "mediaelementplayer-player.js". Has API changed?

ReferenceError: Can't find variable: mejs
global code — mediaelementplayer-player.js:1608

[2016-09-27 17:29] ron666 commented on #1851
@comede Can you share a URL where I can see this issue? When I do my tests I don't see this

[2016-09-28 00:17] #1821 closed

[2016-09-28 00:32] ron666 commented on #1851
Sounds like you missed to include files; please check the test-3.html file in that branch to know what to include

[2016-09-28 04:15] ron666 commented on #887
@johndyer What are your thoughts about this?

[2016-09-28 20:26] ron666 commented on #1622
After more coding I determined to use the approach described by @/gavrochelegnou now that the renderers have a smarter algorithm to play the first file they can play; please check `/tests/mdash.html` file and test it; as far as I saw there's no issues in terms of bandwidth

[2016-09-28 20:58] Globulopolis opened #1854 "Docs: Mediaplayer internationalization"
Hi!
I see `lang` folder in `build` and try to use them but w/o success, because lack of documentation.
Can anyone help?

[2016-09-28 21:42] ron666 commented on #1622
My apologies for the inconvenience.  Please take a look into the demo folder on there is a file that shows how to set translation. I'll write  documentation about it  in the next couple of days

[2016-09-28 21:53] ron666 commented on #1854
My apologies for the inconvenience. Please take a look into the demo folder on there is a file that shows how to set translation. I'll write documentation about it in the next couple of days

[2016-09-28 22:19] ron666 commented on #1854
@Globulopolis I just created documentation about setting translations. Check `Installation` section and let me know if that works for you. Thanks

[2016-09-29 00:37] yoime opened #1855 "3.x feature - ES6"
Why not also to write new code on es6?

[2016-09-29 01:47] isantolin opened #1856 ""alpha.html" test report"
@ron666 please check this bugs and try to fix, and i will check this and the other files when the are fixed. I think that these are 70% of the bugs

**Chrome & Firefox (Last Linux / Windows)**
console has a confusing debug. Shows
[code]
But the file isnt present on demo files and doesnt shows a console error

**MsEdge & IE11**
Plays with native player and has the same behaviour respect to missing

[2016-09-29 03:42] ron666 commented on #1856
@isantolin Thanks for your testing. Indeed the file name was wrong so I changed to one that actually exists once you download the media files from the https://github.com/johndyer/mediaelement-files and it should work now

[2016-09-29 03:45] ron666 commented on #1855
@yoime As far as I understand ES6 is not supported in all browsers, and we have to give support to at least IE8+. Correct me if I'm wrong

[2016-09-29 03:49] ron666 commented on #1856
Also keep in mind that all these tests are made with a simple player which is only intended for testing purposes; the full player is the target for release. Right now the only file that accounts for the full player is `/test/test-3.html`

[2016-09-29 04:03] ron666 commented on #620
@bobslaede Branch 3.x-dev now displays a console error when no Flash is installed or disabled; please test and let me know

[2016-09-29 09:14] Globulopolis commented on #1854
Thank you @ron666.
1. Almost all buttons in player stay in English, only `mejs.mute` and `mejs.mute-toggle` translated.
2. Is any other solution exists for adding language? I mean what the changing language of the `<head>` is not good idea(imho) at least for me.

Console show no errors.
PS! Can't create jsfiddle example.

[2016-09-29 10:22] yoime commented on #1855
For old browsers used babel, This tool transform es6 code to es5.

[2016-09-29 11:05] ron666 commented on #1854
@Globulopolis Thanks for pointing this error out. The sequence has something to do with this, so I'll work on fixing this ASAP. Setting the language in the `<html>` tag is optional as documentation states

[2016-09-29 13:55] johndyer commented on #887
Yes, I do think a rewrite would be helpful. I'd hate to blow up people's
work, but it would be nice to have a much smaller list of files in there.

I'm totally fine with removing all the files I originally used and
replacing them with smaller files.

It'd be great to have an mp4, webm, and mp3 file in there that were all
over 1 minute (so the controls function properly), but under 5mb total to
kee

[2016-09-29 15:37] ron666 commented on #1854
@Globulopolis The issues are fixed; please check the demo again and let me know

[2016-09-29 16:07] ron666 commented on #887
I'd basically not put any media in the `/media/` folder; just a README file that indicates that you need to download the media from  https://github.com/johndyer/mediaelement-files to make the demos and test to work

[2016-09-29 16:35] koenpunt commented on #887
You could then make mediaelement-files a submodule. Although maybe that's not common practice

[2016-09-29 17:11] Globulopolis commented on #1854
Ok @ron666, now it's works like a charm. Thank you for fix. Waiting for release. :)

[2016-09-29 17:30] #1854 closed

[2016-09-29 17:31] ron666 commented on #1854
@Globulopolis I'll release by the end of the day or tomorrow.

[2016-09-29 17:57] isantolin commented on #1856
@ron666 at night i will test

[2016-09-29 18:00] ron666 commented on #1856
@isantolin Thanks for your help

[2016-09-29 19:41] michaelbucklin commented on #1851
I too was experiencing this and found the problem. With version 2.23.1, the problem is on line 2959. This is inside of the 'ended' event listener, and 't.media.pause()' is being called instead of 't.media.stop()'. If you change this line of code it will fix the looping issue.

If you don't change this, the pause function is called instead of the stop function. On Lines 702 - 715, you can see the c

[2016-09-29 22:05] albell opened #1858 "Player: loaded/current/buffering widths should be CSS percentages, not pixel units"
I am encountering numerous layout errors on viewport resize. The timeline and the volume control sometimes don't quite fit on the same line during/after a resize. It's basically a 1 pixel rounding error. It looks glitchy and breaks layout.

In general, elements that stretch should be sized in percentages. Listening for viewport resize and running a debounced callback that outputs new inline widths

[2016-09-29 22:05] albell commented on #1849
Thanks, I hope to submit a working PR in a week or so.

[2016-09-29 22:48] ron666 commented on #1858
Of course any improvements that you can suggest are very welcome.

[2016-09-29 22:50] ron666 commented on #1849
From a conversation with @johndyer:
"Also, I did see the note about making the CSS less specific and I think it'd be fine to get it down to one class each since they are all prefixed."

[2016-09-30 02:17] ron666 commented on #1855
@yoime All the code has been written right now in vanilla Javascript. Does this tool can assist on migrating what we have in the event we decide to go with ES6: https://lebab.io/try-it?

[2016-09-30 02:27] ron666 commented on #438
@evanhuntley Is there anything that we can add in the core package to set captions using the keyboard based on your experience?

[2016-09-30 02:35] yoime commented on #1855
@ron666 Yeah, looks correct. it can help anyway

[2016-09-30 12:06] comede commented on #1851
@ron666 Sorry, I did not recognize, that i have to include all these single files and there is no baked one.

@michaelbucklin Thanks. I loaded the 2.23.1 and fixed the line in the code. That solved my issue.

[2016-09-30 12:06] yoime commented on #1858
i will consider it too

[2016-09-30 13:07] ron666 commented on #1849
@albell In addition to this, there are missing some elements in some of the features CSS, like the skipback.png button and no icon for jumpforward. It would be good to address those issues as well

[2016-09-30 14:07] johndyer commented on #1849
Yeah, I'm not sure of the best strategy for including images for plugins.
In the initial design, I wanted to keep it to one CSS file and one SVG
file, and then let plugins have their own images. I do like the idea of
inlining them (for another project I work on this is part of the build
process), but we'd probably need a second CSS file without them to keep it
small for theme developers...

On Fri

[2016-09-30 14:29] ron666 commented on #1851
@comede  and @michaelbucklin Fix has been put in place; it will be available for next release. Thanks for your help

[2016-09-30 14:29] #1851 closed

[2016-09-30 15:49] ron666 commented on #556
@alvincrespo Code documented for 3.x-dev branch; please let me know if that works for you

[2016-10-01 00:33] isantolin opened #1862 ""test-3.html" test report"
**Chrome & Firefox (Last Linux / Windows / Android)**
**On Load html**
[code]

[code]

**On Play MP4/WebM**
- When i Clicks over the video cant Pause but shows that debug
[code]
The click over video tries to pause player3 and player2 instance instead player1
But when the video is paused and click over the video, works well

- When i tries to change the volume using the slider, shows that error
[co

[2016-10-01 00:57] isantolin commented on #1862
@ron666

[2016-10-01 02:33] ron666 commented on #1862
@isantolin thanks for testing this. I'll take a look on these issues and see what we can do

[2016-10-01 06:06] ron666 commented on #1862
@isantolin To give you an update, the volume issues and the click to play/pause were addressed. The issues on IE I'm investigating but one of them is because the MIME type in your machine has not been set (http://stackoverflow.com/questions/31873375/loading-webvtt-track-in-ie); IE8 issue I'll investigate more but if I test it on Browserstack and I cannot replicate it we will be in better shape. Th

[2016-10-01 06:32] ron666 commented on #1523
@aswitalski Thanks for pointing this out; please test `/test/test-3.html` on 3.x-dev branch and let me know if it works for you the fix I set to prevent this issue.

[2016-10-01 06:52] ron666 commented on #1067
@albell Also consider this when you work on the theme, since it is a default behavior on many players nowadays. If you have it sorted out, I'll hook the functionality to display it

[2016-10-01 12:30] ron666 commented on #1849
@albell As an update I found the file missing for skip back and added it into 3.x-dev

[2016-10-01 12:31] ron666 commented on #1862
@isantolin New update: the skipback error has been resolved as well

[2016-10-01 12:38] ron666 commented on #503
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-01 12:38] #503 closed

[2016-10-01 12:39] ron666 commented on #375
@NePheus Is this still an issue?

[2016-10-01 12:39] ron666 commented on #605
@jbhorsewriter7 and @ammmir Issue has been fixed

[2016-10-01 12:39] #605 closed

[2016-10-01 13:25] ron666 commented on #1581
@SeventhCycle To keep you on the loop, HLS will be played in old browsers. A proof I created to show this possible scenario is when you use M(PEG)-DASH and HLS together. On one set of browsers DASH will play perfectly but in old browsers HLS will be played as well as iOS

[2016-10-01 14:14] isantolin commented on #1862
@ron666 For mime Types error i think you will add an .htaccess example to files

[code]

[2016-10-01 14:33] ron666 commented on #1862
@isantolin that's something stated already in the documentation as the initial step to install the plugin. I'll add some more mime types in there

[2016-10-01 15:10] ron666 commented on #1855
@yoime Please take a look into 3.x-dev-es6 branch and let me know what else needs to be placed there to make it work completely

[2016-10-01 15:10] ron666 commented on #1042
@szepeviktor Please take a look into 3.x-dev-es6 branch and let me know what else needs to be placed there to make it work completely. This will be a second iteration once 3.x-dev branch is released

[2016-10-01 15:15] ron666 commented on #1610
@boustanihani I'm preparing a package.js for the 3.x-dev branch; once it's ready what is the next step, or is that all is needed?

[2016-10-02 02:18] ryneeverett commented on #1576
Looking at the mediaelement home page in an VM with flash installed. The video player works, but the audio player fails with the javascript error "Access is denied."

[2016-10-02 17:31] ron666 commented on #887
Not common and problematic in my experience

[2016-10-02 17:39] ron666 commented on #1862
Closing this ticket now since test and fixes were put in place

[2016-10-02 17:39] #1862 closed

[2016-10-02 17:40] ron666 commented on #1856
Closing this ticket since test and fixes were done

[2016-10-02 17:40] #1856 closed

[2016-10-02 17:41] ron666 commented on #1609
3.x-dev now has full support for native HLS; please consider testing in that branch

[2016-10-02 18:31] szepeviktor commented on #1042
Thank you!

While searching the code of that branch I cannot find `define` (AMD module) or `export` (ES6 module).
Please advise.

[2016-10-02 18:33] szepeviktor commented on #1042
Although I've found `window.MediaElement = mejs.MediaElement;`

I think there should be a *global* release and an *ES6 module* release.

"Global guys" (99%) do not know what to do with an ES6 module,
"JavaScript guys" dislike script with globals.

[2016-10-02 20:42] ron666 commented on #1042
What I did was just to take all the code right now written and then translating it into ES6 entirely. I'm not creating a module; the code itself is in ES6 but given that I don't have a lot of experience with it I needed to know what else do I need to do.

[2016-10-02 21:02] szepeviktor commented on #1042
Basically [JavaScript modules](http://exploringjs.com/es6/ch_modules.html) are self-contained parts of a software. Modules may depend on other modules.

Each and every module has a *return value*. It is passed to the module depending on it.
Click the link above.

[2016-10-03 03:57] ron666 commented on #1564
This fix has been placed now in 3.x-dev branch; please confirm and let me know if it works for you

[2016-10-03 04:13] ron666 commented on #1576
@ryneeverett I tested this on Browserstack and I didn't see any issues. It may have something to do with your VM configuration

[2016-10-03 10:24] magesh7j opened #1864 "Stop loop and play video only a number of times in mediaelement"
Hi,
 i am using mediaelement .i want to play video only a number of times and after get stop..Is there option in it..or need write external script.

Thanks in advance.

[2016-10-03 10:25] ron666 commented on #1864
@magesh7j You will need to write your own Javascript to achieve this

[2016-10-03 10:29] magesh7j commented on #1864
Hi Rafael,

Can You tell the where we need to write the script. to achieve this.

Already i did this, like below (but not working.)

*<video width="320" height="240" loop="loop" >*
*  <source src="StuartTree_Animation_Final-1.mp4" type="video/mp4">*
*</video>*

*<script>*
*  $(document).ready(function(){*

* $('video').removeAttr("loop");*
* $('video').attr("autoplay","1");*

*   var count=0;*
*

[2016-10-03 10:48] ron666 commented on #1864
Try to enclose the logic related to the `end` event inside the `success` method on the player. Like this:

[code]

[2016-10-03 10:50] #1470 closed

[2016-10-03 10:51] ron666 commented on #900
@lewisnyman Thanks for noticing this issue, but since there's a solution implemented already using the source you indicated, we are closing this issue

[2016-10-03 10:51] #900 closed

[2016-10-03 10:53] ron666 commented on #1280
@cody1991 Sorry for my late response. I'd like you to test 3.x-dev branch to see if this issue still persists. To do that, take a look on the `/test/test-3.html` file since right now there are no compiled elements you can use. Let me know your findings.

[2016-10-03 10:53] ron666 commented on #1844
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-03 10:54] ron666 commented on #1556
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-03 10:54] #1556 closed

[2016-10-03 10:55] ron666 commented on #1864
@magesh7j Let me know if it works; if so, can you close this ticket, please?

[2016-10-03 10:57] ron666 commented on #1849
@johndyer We can use multiple SVG images and then create a sprite with them. I know you can achieve this with `gulp` but I'm not sure of you can do this with `grunt`

[2016-10-03 13:56] eikoni opened #1865 "HLS type not passed in JS"
Hi,
I need to pass an hlsstream in a script (not from _source_ tags),
but here it does't work (no issue) :

_$('video').mediaelementplayer({
type: ['**application/x-mpegURL**'],
features: ['fullscreen','volume'],
mode: 'auto',
success: function(media, node, player) {
media.setSrc('http://test.com/video.m3u8');
media.load();
media.play();
}
});_

This work fine for : type: ['video/mp4'], not for HL

[2016-10-03 17:33] ron666 commented on #1865
@eikoni You need to pass a Flash variable to be used in the `<object>` or `<embed>` tag, since HLS is currently only supported using Flash.

[code]

[2016-10-03 17:48] albell commented on #1849
I'm pro-inline-SVG and anti-sprite. Sprites are more inflexible when a developer wants to effect a subtle tweak, like making a button icon slightly larger or smaller, darker or lighter, because the `background-position`s all need to be recalculated in a very non-obvious fashion. The editability and style-ability are both poorer developer experiences. A sprite is also an extra HTTP request in HTTP1

[2016-10-03 18:16] albell commented on #1858
I think this change would be compatible with any existing or future theme. It wouldn't change any class names. @johndyer can you advise on this?

[2016-10-03 19:27] eikoni commented on #1865
Works like a charm in the last version (_2.32.2_).
I don't understand - why we need plugin ?, but it's great like this :

_var **video_type**='application/x-mpegURL',
**video_url**='http://test.org/video.m3u8';

$('video').mediaelementplayer({
pluginPath: 'mediaelementJS/build/',
type: [**video_type**],
pluginVars: ['file='+**video_url**],
features: ['fullscreen','volume'],

success: function(medi

[2016-10-03 20:29] ron666 commented on #1865
@eikoni We need it right now since hls.js is not integrated, but it will in the next version currently being developed. Thanks. Closing this issue

[2016-10-03 20:29] #1865 closed

[2016-10-03 23:01] albell commented on #1858
Digging a bit more, In tandem with this, I think we should just rip out `setControlsSize` completely. The logic there is really tortured and the `while` loop on the railwidth has noticeably bad performance. If I'm not mistaken, all the layout math done here can be done both faster and with greater flexibility using CSS `calc()`.

[2016-10-03 23:54] yoime commented on #1858
@albell yeah! will be great to configure this
through the "config theme". i mean either any fixed width or flexible(depends of container)

[2016-10-04 03:48] ron666 commented on #887
@johndyer are we doing then the rewrite for 3.0 version? And if so I'd recommend not to put any files at all to keep the repo small

[2016-10-04 06:58] NePheus commented on #375
I updated the files _flashmediaelement.swf_, _mediaelement-and-player.min.js_ and _silverlightmediaelement.xap_. The same problem still exists. And furthermore I cant play the video in Firefox anymore. I just have a black background there and no controls.

[2016-10-04 10:31] ron666 commented on #375
Can you provide a IRL where I can see this issue please?

[2016-10-04 10:54] ron666 commented on #1792
@OlivierJaquemet I'm working on replacing the current i18n implementation with something similar but simplistic, given that for our needs we just need basic translations and the plurals. I'll keep you posted about this.

[2016-10-04 14:55] albell commented on #1855
I support this move to ES6, but I think there are much more pressing issues for a 3.x release, including getting some kind of linting working on all source files. This is essential for basic contribution checks. The big question is whether to add jshint into the current build (as I have done in my <a href="https://github.com/albell/mediaelement/tree/bem-naming">branch</a> just in order to be able

[2016-10-04 15:06] albell commented on #1849
@ron666 I have put together a working <a href="<a href="https://github.com/albell/mediaelement/tree/bem-naming">branch</a> with most of these changes. I have mostly changed class names, and added them to elements where they did not exist. I renamed "offscreen" to "screen-reader-only", because I think it's more semantic. (I think of "offscreen" as something that's about to slide in from the edge of

[2016-10-04 15:37] isantolin opened #1866 ""test-3.html" test report (cbd7787)"
@ron666 I made the test using the files with the last commit at cbd7787
# Chrome & Firefox (Last Linux / Windows / Android)
## On Load html
[code]

## On Play MP4/WebM
No Errors, Warnings or Stanger behaviours

## Youtube Player
Youtube Branding and pause logo, Still visible. No Errors

## MP3 Audio
No Errors, Warnings or Stanger behaviours

# MsEdge
## On Load

## On Play MP4/WebM
- On Pause and

[2016-10-04 15:53] isantolin commented on #1866
(Updated the MP3 Player behaviour, press F5)

[2016-10-04 18:39] albell opened #1868 "Reformat config options in API docs into an alphabetized markdown table"
They're difficult to consult as written. The striped tables used further below for methods and events are much easier to follow.

How about three columns: name, default value, and a description? If you like the change I will put together the PR.

[2016-10-04 18:40] ron666 commented on #1868
@albell I'm ok with it go for it

[2016-10-04 18:41] ron666 commented on #1866
@isantolin Thanks for testing. This shows that we are in a very stable place now. @johndyer FYI.

Closing this issue now

[2016-10-04 18:41] #1866 closed

[2016-10-04 18:47] isantolin opened #1869 ""alpha-2.html" test report (cbd7787)"
@ron666
# Chrome & Firefox (Last Linux / Windows / Android)
- No debug for Stop, Back 30 sec., Forward 30 Sec, Mute on both Players
- Dailymotion: Cant seek video
- Dailymotion: On click speaker shows that error
[code]
- Dailymotion: On slide volume shows that error
[code]
- Vimeo: Still visible controls on switch source
- Facebook: Still visible controls on switch source
- RTMP: On click speaker

[2016-10-04 19:01] Dimasmagadan commented on #1684
yes, still can see this error
FF 49.0

[2016-10-04 19:56] ron666 commented on #1869
Thanks I'll fix any issues so one more est can be performed

[2016-10-04 19:59] ron666 commented on #1855
This will be a next step after we launch 3.0 version. Certainly it can be started but right now the priority is to get the release launched. After that we can come back to this issue

[2016-10-04 20:08] isantolin commented on #1869
@ron666 when you fix that issues i will perform a new test

[2016-10-04 20:21] ron666 commented on #1684
Do you have a URL where I can see this issue?

[2016-10-04 20:57] isantolin opened #1870 "Still Pending Technologies on Flash"
Some issues in Flash Play on Issue #1869 is related to still not implemented technologies

(Possible Fixes?)
- OGG over Flash: https://github.com/FrancisVarga/flex-ogg-example
- MPEG-DASH over Flash: http://castlabs.com/open-source/dashas/

[2016-10-04 21:01] ron666 commented on #1870
@isantolin  With OGG you mean video or audio? About MPEG-DASH, for now we'll use fallback on HLS but we are trying to see how to integrate a Flash fallback for it

[2016-10-04 21:17] isantolin commented on #1870
@ron666 OGG Audio it's possible, but Theora/OGV video i cant found any way to playback on Flash :(

[2016-10-04 21:26] ron666 commented on #1870
I'll check that but might need a library to play OGV video. I'll research some more. Thanks

[2016-10-04 23:01] ron666 commented on #1869
@isantolin Most of the issues have been resolved; some issues cannot be fixed, since they are related to the iframes themselves. We are thinking of dropping support on IE8 and older browsers in this version. The IE10 error is expected since you deactivated it

[2016-10-04 23:10] ron666 commented on #1849
@albell Yeah I'll review it tomorrow and let you know my feedback. Thanks for your work on this

[2016-10-04 23:10] ron666 commented on #1849
@albell Your PR doesn't exist anymore

[2016-10-04 23:11] ron666 commented on #1849
@albell The link to your branch is broken. Let me know when it's fixed so I can check it

[2016-10-04 23:44] albell commented on #1849
Oops, sorry, must have been a typo. Here in the `bem-naming` branch:

https://github.com/albell/mediaelement/tree/bem-naming

[2016-10-05 00:09] isantolin opened #1871 ""alpha-2.html" test report (6cad67f)"
@ron666 about drop support for IE8, with flash the player works GREAT, some non-fixable issues can put in a "FAQ" Page

# Chrome / Firefox
- Dailymotion: On click play (and fires play() event) the player shows as the player isnt pushed play
![image](https://cloud.githubusercontent.com/assets/264640/19094522/d85805e6-8a66-11e6-81b7-9a010475adf7.png)
- Dailymotion: Sometimes on play, the video start

[2016-10-05 01:11] ron666 commented on #1871
@isantolin On Edge I was able to play MPD using Browserstack; the first issue with Dailymotion is because the video is playing an advertisement prior the real video. MPD will only play on Win 8 IE11 for now. I'll investigate more the second issue of Dailymotion and the renderer not found effect. Thanks for testing this again

[2016-10-05 01:14] ron666 commented on #1871
@isantolin Can you confirm the second issue you listed of Dailymotion is fixed? I just pushed a minor fix

[2016-10-05 01:28] isantolin commented on #1871
@ron666 Fixed!

[2016-10-05 01:37] ron666 commented on #1871
@isantolin Thanks I just need to check the renderer one and I'll close this ticket.

[2016-10-05 01:42] ron666 commented on #1599
@SeventhCycle Can you check 3.x-dev branch and test if you have issues 2 and 3, please? I did some modification and since it's been my focus of development, I need to know if it's fixed there. Thanks in advance

[2016-10-05 03:46] #1869 closed

[2016-10-05 03:51] ron666 commented on #324
@rubikzube Is this still an issue?

[2016-10-05 03:56] ron666 commented on #1587
Closing this issue since Facebook support is now part of 3.x-dev branch and no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-05 03:56] #1587 closed

[2016-10-05 06:41] NePheus commented on #375
I dont have the possibility to show you a live example of my project (restricted to internal only). I tried to build one on jsfiddle, but I think its not possible with the references. https://jsfiddle.net/fLexw6gn/

[2016-10-05 10:20] ron666 commented on #375
Well if you can copy/paste your code it will be fine

[2016-10-06 01:09] yoime commented on #1666
@ron666
this issue must be reopened i working on it
thank you

[2016-10-06 03:38] ron666 commented on #1422
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-06 03:38] #1422 closed

[2016-10-06 03:39] #1864 closed

[2016-10-06 04:03] ron666 commented on #280
@Fab1en According to https://helpx.adobe.com/adobe-media-server/dev/configure-dynamic-streaming-live-streaming.html:

I've seen most of the major players using that approach. If you try to implement it just with HTTP doesn't work. You can seek but the player's position starts from the beginning

[2016-10-06 10:26] dmnkhhn commented on #1566
Sorry guys, the reply took almost a year and in the meantime I totally forgot about this issue. ;-)
I can't provide any further information as we have ditched mediaelement.js in favor of Plyr.io

The error occured in our gulp task where we were using the babel-loader (https://github.com/babel/babel-loader).
From what I can see in the commit log, the main problem was 'mediaelementplayer.js' and we

[2016-10-06 11:37] ron666 commented on #1849
@albell Sorry I'll review this today. The only way I test this is by using the `/test/tes.html` file and add whatever library is missing (including features). In this case, I haven't used any of the Ads features we have, but the rest of them I had. I check the file in Browserstack in the major browsers and with that I determine if it's ok or more fixes need to be done.

[2016-10-06 15:44] ron666 commented on #1187
@jeffo18 A PR refactored all this file to avoid this issue (#1867) please let me know if that works for you. @OlivierJaquemet FYI

[2016-10-06 15:45] ron666 commented on #1737
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-06 15:45] #1737 closed

[2016-10-06 16:01] rubikzube commented on #324
Unsure. I haven't used mediaelement in about five years now. If no one else has chimed in, it's probably best to close this

Sent from my pocket leash

[2016-10-06 16:22] #324 closed

[2016-10-06 16:25] ron666 commented on #324
Thanks for your response. We'll close this issue and we can always reopen it if appears in the future.Thanks!

[2016-10-06 16:50] ron666 commented on #1849
@albell I saw that your branch is not fully up-to-date with the recent changes; second thing, I tried to test it using `/test/test.html` file and there are a lot of things broken on the UI. You can use that file to test from now on, as well as `/test/alpha-2.html` once you merge the 3.x-dev branch into yours.

**General overview of video**
<img width="728" alt="screen shot 2016-10-06 at 12 47 18 p

[2016-10-06 22:33] albell commented on #1849
Thanks, I will revisit this in a couple days when I have time. In general, are you receptive to adding jshint to the project? I find linting really useful, esp for collaborative work.

[2016-10-06 22:55] ron666 commented on #1849
@albell I'm OK using it. I use it in other projects and it always helps to create quality code. So I'm all for it

[2016-10-06 23:15] knomedia opened #1873 "safari keyboard only nav broken in mediaelement"
Within Safari v 10.0 (the latest Safari for my OS at the time), when using the keyboard to navigate a page with mediaelement, focus gets lost, and sent back to the `<body>` making it impossible to navigate the page for keyboard only users.

Steps to reproduce:
- navigate to [mediaelementjs.com](http://mediaelementjs.com)
- use `<tab>` to move focus around the page
  - you may need to option+tab de

[2016-10-06 23:40] ron666 commented on #1873
I can only say that if there's an issue related to that the first place to look at is `mep-player.js` and look for `focus` and `focusout` strings as a way to start. Do you have the same issue in the `test/test.html` file?

[2016-10-07 00:42] SeventhCycle commented on #1599
@ron666 I apologize for my ignorance on this one.
I went ahead and downloaded the 3.x-dev branch here:
https://github.com/johndyer/mediaelement/archive/3.x-dev.zip

I'm trying to see how to compile what's there into the regular files that are available to download (e.g: mediaelement-and-player.min.js).

I could have sworn there was a document somewhere on how to get started. Can you point me in th

[2016-10-07 00:48] SeventhCycle opened #1874 "Virtual Reality / 360 Support"
Hello,

There have been 4-5 people in the past week who have messaged me lately asking about VR support in mediaelements.js.

Two of the web players that have been pointed to as examples are:
https://krpano.com/
https://developer.jwplayer.com/jw-player/demos/innovation/360-video/

I'm opening this ticket to see:
1. If there's any plans for this in the near or mid future.
2. If there isn't, if this

[2016-10-07 01:09] ron666 commented on #1599
Run `grunt html5only` in the root of your project and then run `sh compile_swf.sh`. The documentation about this is on the Contribution Guidelines for more information

[2016-10-07 01:10] ron666 commented on #1874
We'll need to research but once 3.0 version is out it will be very easy to plug this new video type. It will all depend on other factors and if we can manipulate the video the same way we are doing it now. I'll keep you posted about this

[2016-10-07 01:12] ron666 commented on #1868
In 3.x branch I set a table only for the MediaElement object. If you do the MediaElementPlayer part we'lol get this sorted out completely

[2016-10-07 11:50] web-engineer opened #1875 "iOS10 issue with playback fail error handler called - works in iOS9!"
Now I don't know if this is specific to our setup - example on your site **does** play.

What I'm finding is that iOS9 is fine, iOS10 is not fine...

More detail...

Site is serving video over HTTPS - is setup securely so there may be config issues there... Playback is also fine in all other browsers we have tested.

When we use the player the **error** handler is triggered on iOS10 only.

Using S

[2016-10-07 12:54] ron666 commented on #1875
@web-engineer Yes definitely sounds like an issue with server configuration or how the media was encoded. I'm not expert in that area but mostly when I've heard about these types of situations it's always related to those 2 topics

[2016-10-07 13:01] web-engineer commented on #1875
Trouble with this is that I can also remove all the secure settings/headders stuff and try over plain HTTP and same problem.

Codec _should_ not be a problem - what is frustrating us is that this all works fine in iOS9 so something has changed but what it is we're struggling to work out.

We only use MP4, h256 media - baseline profile 3, FFMPEG encoder settings as follows -

ffmpeg -threads 0 -i S

[2016-10-07 13:16] web-engineer commented on #1875
This sounds similar on the apple forum -
https://forums.developer.apple.com/message/158745#158745

Looks like this is a bug with apple - I'll chase them also and raise with them. Will post response if I get one... note - were using aac encoding too...

[2016-10-07 13:21] web-engineer commented on #1875
Another observation - in chrome the player does show, and it tries to play - but gets stuck buffering.

[2016-10-07 13:51] web-engineer commented on #1875
OK - last ditch attempt, just uploaded one of these videos to a test server and linked direct - it worked therefore it's go to be Apache... Was preparing an example to report to Apple, but this kinda points back to configuration still...

[2016-10-07 14:36] web-engineer commented on #1875
Well made some progress that further proves the problem is apache, completely mimicked the script setup on the other host (so its a stream in video tag) and it works so much be config.

When Ive worked it out I'll post the solution - if we can pinpoint it!

[2016-10-07 14:42] ron666 commented on #1875
@web-engineer Thanks for digging into this.

[2016-10-07 15:24] web-engineer commented on #1875
Oh dear.... i've just inverted my test and tried this a few ways around ... my latest test has taken me full circle...

When i disable mediaelement and just use the video tag I am getting playback, as soon as i use this enhancement it breaks and gets an error...

I'm going to try and script a fallback to improve this - putting a simple shell together to prove the problem was not reproducing the er

[2016-10-07 15:42] web-engineer commented on #1875
When running alongside the framework to retrieve the video stream (rather than separating out the stream code) it doesn't work - looks like the framework may be influencing the output of the http stream (its a Laravel project).

This has been tricky to debug - I think the trick for anyone having trouble with MJS is to try without it first and make sure your video tags would have worked - if they d

[2016-10-07 15:51] web-engineer commented on #1875
To confirm - i reckon the reason it looks broken in my case with MJS is that MJS is validating the resource and telling us its not playable (by that device), which is why we get the error trapped - in this instance that is correct and MJS is doing its job. In iOS9 and every other browser we've tested the media **does** play - this still doesn't mean the problem is with the player, there must be so

[2016-10-07 16:06] knomedia commented on #1873
just confirmed that the issue exists for me in the `test/test.html` and in the `demo/index.html` files as well.

i'll keep digging, thanks for the potential starting place

[2016-10-07 16:08] ron666 commented on #1873
@knomedia You are welcome. Keep us posted about your findings

[2016-10-09 10:33] marjune163 opened #1876 "Hi johndyer, can you publish newer version to npmjs.org?"
Hi johndyer, can you publish newer version to npmjs.org?

[2016-10-09 15:24] ron666 commented on #1870
@isantolin just to keep you posted I'm working in the Dash fallback and I think by the end of this week I'll have it ready. Right now it works but there's no way to manipulate the media with control bar

[2016-10-09 17:11] isantolin commented on #1870
@ron666 When you get ready that feature just keep in touch to test it

[2016-10-10 09:03] web-engineer commented on #1875
Solved - the fix was at the script side...

Basically - at some point suspect it may be because of an older version (just upgraded recently to the latest tagged release) the player wasn't working and our application uses localstorage to store if the player has thrown an error and falls back to the shim player when this happens.

Problem being that when iOS10 started not liking the player the fallb

[2016-10-10 09:03] #1875 closed

[2016-10-10 12:34] ron666 commented on #1870
@isantolin You can test DASH support now using dash.as; I'm checking with John about the Video OGG

[2016-10-10 12:35] ron666 commented on #1610
@boustanihani A `package.js` file is now in place. Please let me know if that's enough to create a Meteor package. Right now the version is still on alpha and cannot be published on Meteor but as soon as it's released we'll do it. Just let me know if that's all we need. Thanks

[2016-10-10 12:37] ron666 commented on #1810
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-10 12:37] #1810 closed

[2016-10-10 12:37] ron666 commented on #1595
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-10 12:37] #1595 closed

[2016-10-10 12:38] ron666 commented on #895
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-10 12:38] #895 closed

[2016-10-10 12:38] ron666 commented on #1370
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-10 12:38] #1370 closed

[2016-10-10 12:38] ron666 commented on #575
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-10 12:38] #575 closed

[2016-10-10 12:38] ron666 commented on #1436
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-10 12:38] #1436 closed

[2016-10-10 12:40] ron666 commented on #1622
@gavrochelegnou and @isantolin We have support now for Native and Flash for M(PEG)-DASH.

[2016-10-10 12:43] ron666 commented on #1868
@albell I have to speed this since version is in alpha state at this point and we are trying to close loop on some things. I'm going to refactor the table and close the ticket, so you can focus on the BEM issues you had. Thanks

[2016-10-10 12:43] #1868 closed

[2016-10-10 13:18] isantolin commented on #1870
@ron666 the file to test is "alpha-2.html"?

[2016-10-10 13:42] ron666 commented on #1870
@isantolin Yes please and also `/test/mdash/html`

[2016-10-10 16:03] gavrochelegnou commented on #1622
Wahoo !
Thanks a lot,  I will test that !

[2016-10-10 21:41] #1871 closed

[2016-10-10 22:00] ron666 commented on #1870
@isantolin As an update, OGG can only be played in certain browsers and what I've found so far is that the best option is to use MP3 for audio and MP4 for video as fallback

[2016-10-11 03:14] isantolin opened #1877 ""mdash.html" test report (baaa261)"
@ron666
# Chrome / Firefox
- No errors, warnings or stranger behaviours

# MsEdge (Works but...)
- On Load
XML5602: Unexpected end of input.
Line: 1, Column 2

# IE11 (w/ Flash)
- No errors, warnings or stranger behaviours

# IE11, 10, 8 (w/o Flash) - Doesnt Work
 - SCRIPT5007: Unable to get property 'canPlayType' of undefined or null reference
mediaelement-core.js, line 91 character 6

# IE10 (w/

[2016-10-11 03:22] isantolin commented on #1877
@ron666 tomorrow at night i will test "alpha-2.html" file

[2016-10-11 10:31] ron666 commented on #1877
@isantolin Thanks for testing this; just FYI at this point if the user doesn't have Flash in older browsers it is not gonna work. So the results are expected. About the controls on IE8, this simple player uses SVG and IE8 doesn't support SVG. Given that this version of the player was meant to be used for testing first phases of 3.x-dev branch, no fallback mechanism to use PNG or JPG instead of SVG

[2016-10-11 10:31] #1877 closed

[2016-10-11 10:32] #1870 closed

[2016-10-11 10:40] ron666 commented on #1877
@isantolin As an update the simple player doesn't have any code to deal with fullscreen in old browsers. That's why you saw that message in console and nothing happened. As long as fullscreen is working on the full player we will be fine. Thanks

[2016-10-11 10:41] ron666 commented on #1622
Thanks @gavrochelegnou you will need to use the 3.x-dev branch to test this. We'll release this soon, but right now is not available on the master branch

[2016-10-11 11:14] #556 closed

[2016-10-11 11:17] ron666 commented on #375
@NePheus at this point in the 3.0 version Silverlight will not be supported anymore as well as WMV and WMA formats, since they are not standards and other major players don't give support to them. Only HTML5 and Flash will be supported.

[2016-10-11 11:30] NePheus commented on #375
@ron666 Thanks to let me know.

[2016-10-11 11:46] #375 closed

[2016-10-11 11:47] #1581 closed

[2016-10-11 14:01] gavrochelegnou commented on #1622
Thanks looks awesome !
I tried different streams from http://dashif.org/reference/players/javascript/1.4.0/samples/dash-if-reference-player/
So far i noticed :
When multiple sources are defined (like in the example mdash.html with mpd + m3u8) and that the mpd has subtitles, the subtitles are shown twice (some times 4 times during preload)
Example stream with subtitles : http://irtdashreference-i.a

[2016-10-11 14:36] ron666 commented on #1622
Thanks for noticing this I'll check this issue and keep you posted

[2016-10-11 14:55] ron666 commented on #1622
@gavrochelegnou I think this is more related to dash.js library than the player itself, since for the examples there's no `<track>` file added as a source so that's what the player can control; if they are embedded it's a different story. Would you mind to post an issue for the people on dash.js and let them know about this? If you want subtitles with Flash you'll need to add the `<track>` file an

[2016-10-11 15:39] web-engineer commented on #1875
Also since found the issue was related to the framework we're using not understanding the seek data sent with the requests initially, somehting has changed in iOS 9.3 or newer - we've now coded around it - if you experience the videos not playing this may be because the requests for video are subtly the latest version of iOS and in our instance this caused the server to not understand the request.

[2016-10-12 02:33] ron666 commented on #1643
@feulix The fix is now in place in the 3.x-dev branch; please test it and let me know if it works for you. This branch will be released soon. Thanks

[2016-10-12 04:03] ron666 commented on #1873
@knomedia I tested using option + tab and I was able to focus properly using 3.x-dev branch; please let me know if it works for you as well in that branch

[2016-10-12 08:30] gavrochelegnou commented on #1622
Ok i will try to reproduce the problem with dash.js alone.
For the flash fallback it seems that subtitles are not working with dashas, we can use the webvtt for VOD videos but not for live videos. Not a frequent use case given the amount of work required to produce them but worth keeping in mind.

[2016-10-12 14:47] ron666 commented on #1792
Closing this one since fix has been merged

[2016-10-12 14:47] #1792 closed

[2016-10-12 14:47] ron666 commented on #1187
Closing this one since fix has been merged

[2016-10-12 14:47] #1187 closed

[2016-10-12 15:11] edgehero commented on #1876
I have pretty much the same question with bower
Im dying to use the awesome functionalities of 3.0 ( i currently really need the facebook video support) when is it planned to be released?

[2016-10-12 15:26] ron666 commented on #1876
@edgehero We need to finalize some details in the branch and some last questions to be answered and hopefully by the end of the month. We are pushing as hard as we can to get it released as soon as possible

[2016-10-12 22:36] SeventhCycle commented on #1599
Hi @ron666: Thanks! With a little bit of work, I was able to compile the software and get it in place.

Looking here:
http://seventhcycle.net/mejs/shim_problem/

I'm seeing that the system doesn't appear to be honoring the "shim" argument at all now. It's now loading the HTML5 version regardless of whether or not I specify the shim.

Can you take a look on your end and let me know if I'm doing any

[2016-10-12 22:49] SeventhCycle commented on #1609
Hello,

I'm currently trying this out on the 3.0-dev build.
I'm seeing:

Specified “type” attribute of “application/x-mpegurl” is not supported. Load of media resource /mejs/hls_test/upload/testset/testset.m3u8 failed.

The player source looks something like this:
<video width="960" height="540" id="mediabox">
<source type="application/x-mpegurl" src="/mejs/hls_test/upload/testset/testset.m3u8" />

[2016-10-13 01:02] isantolin opened #1880 ""alpha-2.html" test report ( fffd590)"
@ron666

# Chrome / Firefox
- Vimeo: Volume isnt works
- MPD: On click play fires two events
[code]
On pause triggers duplicated events
[code]
On unpause triggers two events (one i think wrong)
[code]
# IE8 (Isnt works) - w/ Flash or w/o Flash
[code]

# IE 10, 11 (w/o Flash)
- No Renderer found

# IE 10, 11 (w/Flash), Edge
- sintel_vod.mpd: Cant load without error

[2016-10-13 03:24] ron666 commented on #1880
Thanks I'll check these issues and close the ticket

[2016-10-13 03:34] ron666 commented on #1609
You can use any the `test/hls.html` file. Let me know if it works for you

[2016-10-13 03:50] ron666 commented on #1599
@SeventhCycle Please make sure you download the latest version of the 3.x-dev branch and before you load the player use the following line:
[code]
That will ensure you are using Flash only. Use the `test/flash.html` file to test your issue as well. Let me know if it works for you.

[2016-10-13 04:16] ron666 commented on #1880
@isantolin The duplicated events is because once one player is playing it will stop any other player, so it is expected; I fixed the issues with IE8 and the Vimeo issue as well. If you deactivate Flash, M(PEG)-DASH won't work at all; the issue with the file sintel_vod.mpd is related to the file itself, not the player. So I removed that one to ensure that the test suite works 100%. Let me know if i

[2016-10-13 04:18] #1880 closed

[2016-10-13 05:01] SeventhCycle commented on #1599
@ron666: Okay, this seems to work here:
http://seventhcycle.net//mejsdev/test/flash.html

Which is very promising.

1) The mute button does not seem to work at all at the moment.
2) Scrubbing is same, unchanged. But I don't think you've addressed that yet. :)
3) I've noticed some of the time when changing between fullscreen and regular size that the player bar seems to take up 100% of the screen.

[2016-10-13 05:06] SeventhCycle commented on #1609
@ron666: Thoroughly impressive. This is awesome!

I realized why it didn't work. The system will recognize the type attribute of "application/x-mpegURL", but it won't recognize "application/x-mpegurl"

Looks like there's an issue with case here. MIME types should be case insensitive, so looks like a small bug that needs fixing. :)

[2016-10-13 05:23] ron666 commented on #1609
@SeventhCycle I just fixed that. If you download the latest version and try again that should be fixed

[2016-10-13 12:26] ron666 commented on #1599
@SeventhCycle After checking all the code and your points, here are my answers:

Reason being is because either you the plugin can't find the right location for the Flash swf files; to do that just add these in the player configuration:
[code]

I fixed this; the wrong value was passed and that's why it didn't work but it should. Thanks for pointing this

Once you fix http://seventhcycle.net/mejs/s

[2016-10-13 20:26] isantolin opened #1884 "Unification of "mediaelement" and "mediaelement-files""
I Think Its a good idea do an unification of the repositories "mediaelement" and "mediaelement-files"

[2016-10-13 23:56] ron666 commented on #1884
I'm not in favor of putting heavy files in the repo I'd rather find the MP4, MP3 and WebM sources from Internet and just use those rather than storing them

[2016-10-14 07:23] SiddiquiImran commented on #1833
Hi ron666,

I am facing the same issue with library version "2.23.3"

![image](https://cloud.githubusercontent.com/assets/20870175/19378924/0e67984c-920d-11e6-85df-c8ebbec5d216.png)

[2016-10-14 10:53] ron666 commented on #1833
@SiddiquiImran as stated above this has been fixed on 3.x-dev branch and we'll release it soon. On 2.x it will require a lot of rewriting to make it work again since Froogaloop is deprecated now

[2016-10-14 10:57] ron666 commented on #620
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-14 10:57] #620 closed

[2016-10-17 01:09] ron666 commented on #1280
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-17 01:10] ron666 commented on #1523
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-17 01:10] #1523 closed

[2016-10-17 01:16] ron666 commented on #1855
@albell and @yoime As an update JSLint has been integrated in 3.0 version so a future iteration will consist in translating this into ES6 notation. I'll update the 3.x-dev-es6 branch with the latest version using Lebab tool as a start

[2016-10-17 10:30] ron666 commented on #1884
On 3.0 version I didn't include any files since I found some good sources online. We'll define in these days what would be the final approach for this.

[2016-10-17 10:34] ron666 commented on #1564
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-17 10:34] #1564 closed

[2016-10-17 10:37] #1884 closed

[2016-10-17 21:48] barmintor opened #1887 "AudioElement in flash player does not support RTMP"
As far as I can tell, only VideoElement supports RTMP- there's no handling in AudioElement.load that corresponds to the _isRTMP handling in VideoElement.

[2016-10-18 00:10] ron666 commented on #1887
@barmintor Can you test this on the 3.x-dev branch to confirm if this is an issue there please?

[2016-10-18 02:19] barmintor commented on #1887
I'm happy to check tomorrow, but maybe worth observing that there's no mention of RTMP in AudioElement.as in 3.x-dev-es6, either (unlike VideoElement.as). Is there other handling that should be picking it up?

[2016-10-18 02:30] ron666 commented on #1887
Just use rtmp protocol and use type as audio/rtmp and let me know. I tried video but no audio and just use 3.x-dev not the other one

[2016-10-18 03:30] barmintor commented on #1887
Ah, I see. I'll try to get back to you tomorrow, but I think there's no reason to think it would work in the audio element, if it doesn't in master and the RTMP logic hasn't been ported from the VideoElement sprite. More soon, thanks!

[2016-10-18 11:33] SiddiquiImran commented on #1833
thanks @ron666 ,
which branch i can use for version 3 of the plugin?

[2016-10-18 12:12] ron666 commented on #1833
The 3.x-dev branch

[2016-10-18 12:12] ron666 commented on #1833
We'll release it soon

[2016-10-18 12:28] ron666 commented on #1887
Of course, let me know your findings so I can check the code and integrate whatever is needed. Thanks

[2016-10-19 10:14] edgehero commented on #1876
would be awesome, you guys are doing amazing work

[2016-10-19 12:22] SiddiquiImran opened #1889 "issues in ios"
Hi @ron666
**I am using "3.x-dev" repository code**
We have recently integrated medicament library in our app

where we provide urls from different source like from other server, youtube and etc..

in case of mp4 from other server:
when i click on video it opens video in fullscreen  is there anyway to not to show in fullscreen by default

![img_0429](https://cloud.githubusercontent.com/assets/2087

[2016-10-19 12:47] ron666 commented on #1889
You are using the simple player not the full player; now there are compiled files you can use instead of that player. Let me know if you have any other issues. As far as full screen goes, there's no way to avoid it since that's native behavior for iOS

[2016-10-19 15:40] ron666 commented on #1889
If you can provide me a URL so I can check if there are any other potential issues I'd appreciate it

[2016-10-19 23:06] MartinTheriault3333 commented on #1889
http://martinetamis.wixsite.com/vrxxx

[2016-10-20 04:50] SiddiquiImran commented on #1889
thanks, @ron666

How can i integrate full player, is there any link for that??

**URL for your testing purpose:**
https://dev1apps.mobilebc.de/CFAE4896-64B3-4E8B-AC6B-3D4B47037573/staging/index.html#MBCWorkflow-layout?Id=15998

**you can use Neo reader as well as you can download previewer app from following urls**
https://itunes.apple.com/us/app/mbc-apppreviewer/id1090336199?l=de&ls=1&mt=8
https:

[2016-10-20 05:00] ron666 commented on #1887
Also feel free to check the PR related to Flash improvements since I use OSMF to play media with the shims.Test RTMP audio there and let me know . Thanks

[2016-10-20 06:52] SiddiquiImran commented on #1889
@ron666

I have also hosted version three code as demo application:
https://dev1apps.mobilebc.de/mediaelement-3.x-dev/demo/index.html
in this mp4 is not playing
https://dev1apps.mobilebc.de/mediaelement-3.x-dev/test/youtube.html
in youtube i am not able to make it full screen when i click on fullscreen control.

[2016-10-20 10:57] ron666 commented on #1889
@SiddiquiImran Thanks. The MP4 as you stated is not playing so I need to replace it since I've noticed other issues with it. But YouTube demo is using the simple player. The other one is using full player.

For https://dev1apps.mobilebc.de/CFAE4896-64B3-4E8B-AC6B-3D4B47037573/staging/index.html#MBCWorkflow-layout?Id=15998 you already included the library but there's no JS code to initiate the full

[2016-10-20 12:10] SiddiquiImran commented on #1889
actually we adding controls in screen dynamically

so whenever we found a video control definition we do like that
here inputOption  is parent control inside which we want video control.

`videoControlHtml += '<video class="flex-video"  id="' + ctrId + '" width="' + vw + '" height="' + vh + '">';
                                    videoControlHtml += '<source src="' + val + '"></video>';

[2016-10-20 12:37] ron666 commented on #1889
Thanks for pointing that out. You are doing it but I see the code is commented. That's why I don't see the player using MediaElementJS

[2016-10-20 12:47] SiddiquiImran commented on #1889
sorry for the time being i was trying for iframe, please check again i have enabled it again

[2016-10-20 12:50] SiddiquiImran commented on #1889
i also have changes youtube link so you will also able to play youtube video

[2016-10-20 12:52] SiddiquiImran commented on #1889
one more question
why it's showing error in console like that
mediaelement-and-player.min.js:13 Make sure you have Flash enabled; otherwise, download the latest version from https://get.adobe.com/flashplayer/

[2016-10-20 12:54] ron666 commented on #1889
I'm aware of this. I'll get it fixed soon

[2016-10-20 13:09] MartinTheriault3333 commented on #1889
thank

2016-10-20 8:52 GMT-04:00 SiddiquiImran <notifications@github.com>:

--
Je Vous remerci

[2016-10-20 14:07] FrankDaze commented on #1609
Hi,

I downloaded the lastest version of your 3x dev branch but I have the same problem like SeventhCycle. In the HTML5 player it says there is no valid decoder for 'application/x-mpegurl'.

The next problem that I have is CORS.
My link looks like this: http://toggo-hlse-vod.dcp.adaptive.level3.net/602401/608361/manifest.m3u8?tlm=hls&streams=SSX06981B0201F0L_L.mp4.m3u8:1200&amp;stime=2016102015411

[2016-10-20 14:34] ron666 commented on #1609
Thanks @FrankDaze for pointing this. I'll fix the first issue right now so you can test again

[2016-10-20 14:37] ron666 commented on #1609
Ok please download the latest version and test please. I'll investigate about your issue with CORS and how to deal with it and keep you posted. Thanks

[2016-10-20 14:56] jrglasgow opened #1891 "Add support for audioTracks"
For accessibility reasons we need the ability to have Audio Descriptive tracks which allow blind users to know what is happening in the video.

The audio track HTML element which is not yet supported buy all browsers would cone a long way toward helping with this issue.

http://www.w3schools.com/tags/av_prop_audiotracks.asp

[2016-10-20 14:59] FrankDaze commented on #1609
thanks for the fast support.

I downloaded it again and checked the /test/hls.html file, but now it's absolutely not working anymore.
Still get the message in Firefox 'application/x-mpegurl' is not supported and the is no decoder for application/x-mpegurl, application/x-mpegurl

I think the CORS sollution could be in the hls.js file. I have seen pages where they added crossdomain: true to the ajax

[2016-10-20 15:15] shacharz commented on #1609
@FrankDaze The cors issue, looks just like normal cross domain restriction. The stream's token is not valid anymore which the servers reponds with 401 for and in addition to that the server's 401 doesn't contain Access-control-allow-origin:* header so the browser yells about cors

[2016-10-20 15:21] ron666 commented on #1609
@FrankDaze My apologies I had a typo and I pushed without noticing it; please test it again

[2016-10-20 15:26] FrankDaze commented on #1609
@shacharz yes, you are right, the server don't has the Access-Controll-Allow-Origin yet, but it's also not playing this Video: http://toggo-hlse-vod.dcp.adaptive.level3.net/DART/manifest.m3u8?tlm=hls&streams=werbung_in.mp4.m3u8:1200&stime=20161020154119&etime=20161020164619&token=025940ed6ee16efac2679

Token is at the moment still alive. If i throw the URL in my mediaelementjs 2.16.4 it will be pl

[2016-10-20 15:36] ron666 commented on #1889
OK download the latest version, test again and let me know if you still see the console.error, please

[2016-10-20 15:37] ron666 commented on #1609
Can you provide the URL you are using to test this, please? I just updated 3,x-dev branch, so you may need to download the latest version

[2016-10-20 19:02] ron666 commented on #1609
@FrankDaze In previous versions HLS was playing using Flash which had the crossdomain enabled. Here seems like there are no CORS headers. Please check this issue: https://github.com/dailymotion/hls.js/issues/322

The issue with MIME types was addressed a couple of  hours ago. Thanks

[2016-10-20 19:05] ron666 commented on #1889
For the fullscreen by default on MP4 there are some workarounds but I don't how effective they are or if they will disrupt the video (http://stackoverflow.com/questions/5054560/can-i-avoid-the-native-fullscreen-video-player-with-html5-on-iphone-or-android)

For the double play button I'll restrict the displaying for iPhone and the iframe renderers (except DailyMotion) and keep you posted

[2016-10-20 22:35] ron666 commented on #1889
@SiddiquiImran Removed double play button for MP4 on iOS as well as YouTube and Facebook since they have it natively by default. Please download latest version and let me know.

[2016-10-20 22:36] ron666 commented on #1889
@MartinTheriault3333 Also check latest version and let me know if it works properly for you

[2016-10-21 05:29] ron666 commented on #280
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-21 05:29] FrankDaze commented on #1609
@ron666 thanks for the help. We will ask Level3.net to add the CORS headers. Then I will also test your last update.

[2016-10-21 05:37] ron666 commented on #1873
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-21 05:39] ron666 commented on #112
Closing this issue to favor #1739

[2016-10-21 05:39] #112 closed

[2016-10-21 07:16] SiddiquiImran commented on #1889
Hi @ron666 ,

Thanks for the quick reply, both issues are done.
but i found another isseue i have added one more video control with vimeo url but all url's giving this error:

Refused to display 'https://vimeo.com/187819553' in a frame because it set 'X-Frame-Options' to 'sameorigin'.

[2016-10-21 07:50] Fab1en commented on #280
@ron666 : sorry for the delay.
I don't know much about delivering video streaming over HTTP, so I'm afraid I cannot challenge your technical arguments. However, I know that some other video players provide the ability to seek a later point into HTML5 video without waiting the complete video file download up to that point. [Look at this online demo using jPlayer](http://www.jplayer.org/latest/demo-

[2016-10-21 07:52] Fab1en commented on #280
It seams I cannot reopen this issue.

[2016-10-21 08:07] zif002 opened #1892 "Not watching resize at IPad"
I have truble at Ipad resize video. Controls panel not resize width screen
I decide this problem that
http://stackoverflow.com/questions/40164202/mediaelement-js-control-panel-not-resize-on-ipad-safari/40171325#40171325

[2016-10-21 10:18] ron666 commented on #1889
That URL gives a whole page and that's why you get that error; check in the test folder the file Vimeo.html to see the right structure of the URL for Vimeo

[2016-10-21 10:30] ron666 commented on #280
Thanks for the research on this. I closed this one since the topic was related to Flash and my answers were pointing to that topic: I'll check what you found for HTML5 and see what we can do

[2016-10-21 10:30] ron666 commented on #280
Thanks for the research on this. I closed this one since the topic was related to Flash and my answers were pointing to that topic: I'll check what you found for HTML5 and see what we can do

[2016-10-21 10:35] ron666 commented on #1892
@zif002 Which version of the player you are using, since that piece of code is not for `orientationchange`, but for `resize`

[2016-10-21 10:36] ron666 commented on #1889
Something like https://player.vimeo.com/video/[VIMEO ID]?title=false&byline=false&portrait=false

[2016-10-21 10:41] SiddiquiImran commented on #1889
Hi @ron666 ,

thanks for pointing the issue.
have you found any other way for fullscreen view as i added properties as described in the
(http://stackoverflow.com/questions/5054560/can-i-avoid-the-native-fullscreen-video-player-with-html5-on-iphone-or-android)

but it's not working.

[2016-10-21 10:52] ron666 commented on #1889
@SiddiquiImran no. Like it says it may not work; only for native apps that's feasible. The fullscreen mode when playing is native behavior on MP4 and there's nothing we can do about it. If no more issues, please close this ticket. Thanks!

[2016-10-21 11:58] SiddiquiImran commented on #1889
thanks @ron666 , appreciate that.

Hi @MartinTheriault3333
Can I close this issue if all ok at your side??

[2016-10-21 13:07] alindt opened #1893 "Always runs in flash player mode on Linux+Chrome"
- I'm using the latest version (v2.23.2) and it always uses flash mode on Linux+Chrome even though the browser plays the movie natively just fine (Chromium 53.0.2785.143).
- On Linux+Firefox and Windows+Chrome/Firefox ME runs just fine and plays the movie natively.
- The movie used is Big Buck Bunny (H.264/MP4) from [here](http://www.quirksmode.org/html5/tests/video.html).

e.g. with this HTML (&l

[2016-10-21 13:55] ron666 commented on #1893
Thanks for pointing this. Can you test this with 3.x-dev branch and see if the issue is still there please?

[2016-10-21 14:37] FrankDaze commented on #1609
@ron666 I need to play Ads before the main hls video. If in the HlsNativeRenderer settings the autoStartLoad is set to true, it's always loading the main video which is first set. But I have a script which is checking on play, if ads should be played or not and then I have to change the source temporarily for the Ad and after the Ad is ended back to the main video url. But it seems to ignore the c

[2016-10-21 14:39] ron666 commented on #1609
@shacharz You can configure the params for the native HLS like this:

[code]
Let me know if that works for you

[2016-10-21 15:03] FrankDaze commented on #1609
yes, this way it stops autoStartLoad. The documention of hls.js says "autoStartLoad, if set to false, an explicit API call (hls.startLoad(startPosition=-1)) will be needed to start quality level/fragment loading."

Will the player do that automatically or is there also a way for me to set that?

[2016-10-21 15:12] ron666 commented on #1609
Within the success function in the ME instantiation, try to see if you can access that call:
[code]
Let me know if that works for you

[2016-10-21 15:57] FrankDaze commented on #1609
I think this will be the same as autoStartLoad: true, but it gives me an idea how to solve my problem.

But now my ealiest test for this is monday morning. I will tell you if this will work.

thanks

[2016-10-21 16:17] ron666 commented on #1609
You are welcome; please keep me posted about your findings. I want to get this version as stable as possible

[2016-10-21 20:14] knomedia commented on #1873
apologies for going dark. verified that the issue is not found on the 3.x-dev branch.

[2016-10-21 20:30] ron666 commented on #1873
Great news! Thank you very much

[2016-10-21 20:30] ron666 commented on #1893
@alindt Perfect. Thank you for verifying this. I'll close this ticket since 3.0 version will be released soon

[2016-10-21 20:30] #1893 closed

[2016-10-22 12:38] ron666 commented on #1620
Sorry for the delay. If you check https://github.com/dailymotion/hls.js/blob/master/API.md there are some values for live streaming that are worth checking (all prefixed with `live` for reference. Please test this with the 3.x-dev branch and test those configuration files according to your needs via
[code]
Keep me posted on your findings and hope this help you

[2016-10-22 12:46] ron666 commented on #1415
`t.selectedTrack` Is what gives you the information you need in terms of which language was selected; in the first call (unless specified in the player configuration) the default selected language is none. So with your method you can detect any changes and using the variable above to get what you want. Closing this issue since no work is required inside the plugin

[2016-10-22 12:46] #1415 closed

[2016-10-22 12:48] #1280 closed

[2016-10-22 15:14] TB54 commented on #1796
Hello,
I think I have the same problem, or at least the same kind of issue. (sorry in advance for my bad english, I'm french...)

I'm using your video player on wordpress, whith this code :
`[video mp4="" poster=""]`

I have a page with two of those video links. When I load my page for the first time (the video has not been loaded yet by the browser), before I start any video...

http://ledebut.fr

[2016-10-24 04:00] #1889 closed

[2016-10-24 05:01] ron666 commented on #1887
@barmintor Make sure you set the media type `audio/rtmp` for this

[2016-10-24 05:02] ron666 commented on #1739
@Jinkwon Can you test 3.x-dev branch to see if this issue has been properly addressed, please?

[2016-10-24 05:02] ron666 commented on #1658
@etherElric  Can you test 3.x-dev branch to see if this issue has been properly addressed, please?

[2016-10-24 06:43] FrankDaze commented on #1609
I tried that, but I get an error message -> TypeError: media.startLoad is not a function

[2016-10-24 08:32] FrankDaze commented on #1609
I think I found the problem in my script.

When I get the list of possible Ad files, the script is checking for a suitable format:

if(this._mediaElement.canPlayType(this._adVideo.mediaFiles[i].mimeType))

But the answer of this._mediaElement.canPlayType(this._adVideo.mediaFiles[i].mimeType) is always an empty string. this seems to be a problem of preload=false but if I set preload to true or auto

[2016-10-24 09:44] ale-grosselle opened #1895 "On fullscreen out, mediaElement calculates dimension even if setDimensions param is set to false"
Hi!
I am using medialementjs with setDimensions forced to false.
Now, I have a fluid (%) player and if I try to do this in an Android mobile device:
1) Potrait mode
2) Go to Fullscreen
3) Landscape Mode
4) Exit to Fullscreen
5) Player dimension are broken because are calculated when player is in Portrait mode and now is in landscape

[2016-10-24 09:57] ale-grosselle commented on #1895
PR: #1897

[2016-10-24 10:03] FrankDaze commented on #1609
if I call this:  this._mediaElement.src
I don't get my real video link, I get each time the media source as result, which looks like this: mediasource:http://elex2.dev.eoa.de/826eb3cd-1a55-4f0c-acb0-61187abc15ba

That make it impossible to compare the source of the player with my original video link. This is because you use now 2 video tags:

`<mediaelementwrapper id="rtliVideovideo2742">
<video i

[2016-10-24 10:18] ron666 commented on #1609
Can you try using `media.originalNode` to obtain the original file name? Today I'll check how to integrate the methods from HLS to the media instance

[2016-10-24 10:19] ron666 commented on #1609
Try `media.originalNode.getAttribute('src')`

[2016-10-24 10:53] ron666 commented on #1609
@FrankDaze Just for reference, there's a way to call the methods from `hls.js` but is not documented yet. I'll document that today.

[code]

[2016-10-24 13:46] FrankDaze commented on #1609
yeah, that is what I needed. media.originalNode give me the video node that I need.

At the moment I have a testing break, because the Ad server is not sending Ads anymore. I wait for an answer of the Ad publisher, if there is a call which forces the server to send a test video Ad.

[2016-10-24 13:56] ron666 commented on #1609
Sounds good. Keep me posted and thanks for testing this.

[2016-10-24 15:22] barmintor commented on #1887
@ron666 sorry it's taking so long, we're trying to push a release out (that is just using a video element for the RTMP audio). I did try setting the type to audio/rtmp on the released code, to no avail. As I understand it, RTMP requires Flash handling to stream, and https://github.com/johndyer/mediaelement/blob/3.x-dev/src/flash/flash-video/VideoElement.as has that handling, but I don't see anythi

[2016-10-24 15:36] ron666 commented on #1887
As far as I saw the audio is just for MP3; all the RTMP is done through the video shim

[2016-10-24 16:07] ron666 commented on #1887
And can you provide me with a URL with an RTMP audio source so I can also test on my side please?

[2016-10-24 20:21] ron666 commented on #1876
Version in NPM up to date

[2016-10-24 20:21] #1876 closed

[2016-10-24 21:13] ron666 commented on #1895
@ale-grosselle Isn't setDimensions forced to false in your statement above that caused this issue?

[2016-10-24 21:31] ron666 commented on #1887
@barmintor Just to keep you on the loop, I tested the following RTMP audio (rtmp://s3b78u0kbtx79q.cloudfront.net/cfx/st/mp3:fake_empire-cbr) and it worked. Check the `test/flash.html` file and you will see.

[2016-10-24 21:36] barmintor commented on #1887
@ron666 you should also be able to test against rtmp://firehose.cul.columbia.edu:1935/mediacache/_definst_/mp3:access/ifp/secretariat/Digitized/Audio/Amigos_da_Agua_12311994/Amigos_da_Agua_12311994_01_01_s.mp3

[2016-10-24 22:50] ale-grosselle commented on #1895
@ron666 i want to force `setDimension` to false because I don't want that library calculates size using javascript.
Even if I set the parameter to false, When player goes to fullscreen, the plugin set width and height using javascript invalidating my css.
I expect that the library does not change the player size if setDimension to false.

[2016-10-24 22:50] ron666 commented on #1887
@barmintor Yes it works for me; replace the src in `test/flash.html` and you will see

[2016-10-24 22:52] ron666 commented on #1895
I see. I'll merge your PR once we release 3.0 version; or if you prefer, create a PR based on that so it gets available once we release 3.0

[2016-10-24 22:57] ale-grosselle commented on #1895
OK @ron666 Tomorrow morning (Now is 1:00 am in Italy) I am going to prepare a PR based on 3.x dev branch.
Thanks

[2016-10-25 05:54] SeventhCycle commented on #1599
@ron666 Out of curiosity, did anything change in the 3.0 build?
I'm attempting to build a script that unzips and builds the software.

[code]

On the "npm install" part, I'm getting this:

[code]

I believe it's related to package.json, but can you either let me know if there's anything I need to update here, or if there's a fix I should apply here before trying again?

Thanks.

[2016-10-25 07:56] MosheL opened #1898 "Facebook embedded video do not work on HTTP."
I am trying to use Facebook Embedded, on HTTP website. Its doesn't works and I am reciving this error message:

`Uncaught SecurityError: Blocked a frame with origin "..." from accessing a frame with origin "https://www.facebook.com".  The frame requesting access has a protocol of "http", the frame being accessed has a protocol of "https". Protocols must match.`

[2016-10-25 10:12] ron666 commented on #1599
Indeed it is because of the version and since we haven't released this new version yet you won't find it on NPM

[2016-10-25 10:15] ron666 commented on #1599
Until it's released the only thing you could do is trying to change the version number to the latest (2.23.4)and that will do the trick

[2016-10-25 10:15] ron666 commented on #1599
Can this ticket be closed?

[2016-10-25 10:17] ron666 commented on #1898
Can you provide a URL or the iframw code to check how you are setting it up? You are testing this on the 3.x-dev branch?

[2016-10-25 10:18] ron666 commented on #1898
The issue is because you are using a URL that starts with https; change it to http and that might solve it

[2016-10-25 10:25] ron666 commented on #1895
@ale-grosselle Thank you. I'll close this ticket since I reviewed the PR and it makes sense. I'll wait for you fix to include it in the 3.x-dev branch

[2016-10-25 10:25] #1895 closed

[2016-10-25 10:26] MosheL commented on #1898
tried with HTTP

    	<video width="640" height="360" class="mejs-player" id="player1" preload="none" controls>
			<source src="http://www.facebook.com/johndyer/videos/10107816243681884/" >
		</video>

did not solve.

[2016-10-25 10:27] MosheL commented on #1898
@ron666  I can send a link but not on public

[2016-10-25 10:47] ron666 commented on #1898
Sure send it to my email; you will find it on my profile

[2016-10-25 11:26] ron666 commented on #1898
@MosheL It should be fixed now; in the test file, the renderer was missing. Please let me know if that worked. Thanks

[2016-10-25 11:57] FrankDaze commented on #1609
@ron666
ok it's all working well for me now. media.originalNode.getAttribute('src') was the most helping clue.

My player is now playing pre and postrolls + VAST Ad files.

thanks again

[2016-10-25 12:06] ron666 commented on #1609
You are welcome. Glad everything is working for you.

[2016-10-25 13:21] ale-grosselle commented on #1895
Hi @ron666 PR #1899

[2016-10-25 14:37] FrankDaze commented on #1609
In the mediaelement-and-player.js, I removed the `<span>` tag for the loading animation and mapped the background animation directly on the surrounding DIV, because otherwise the gif has a black instead of a transparent background:

    loading =
		$('<div class="mejs-overlay mejs-layer">' +
		'<div class="mejs-overlay-loading"></div>' +
		'</div>')
		.hide() // start out hidden
		.appendTo(layers

[2016-10-25 14:41] ron666 commented on #1609
@FrankDaze Thanks. I'll check it and integrate it in the core package

[2016-10-25 14:54] FrankDaze commented on #1609
oh my fault.....

I haven't seen that the surrounding DIV has got a nearly black gradient background by css.
Please ignore my last posting.

[2016-10-25 15:01] ron666 commented on #1609
Sounds good. I think we will be ready soon to release this version. Thanks for testing it

[2016-10-25 15:09] ron666 commented on #1898
Can this ticket be closed?

[2016-10-25 15:09] ron666 commented on #1887
Can this ticket be closed?

[2016-10-25 15:09] ron666 commented on #1892
Can this ticket be closed?

[2016-10-25 15:10] #1887 closed

[2016-10-25 15:10] barmintor commented on #1887
Yes, looks fixed to me.

[2016-10-25 15:10] barmintor commented on #1887
Thanks for all the help, @ron666 !

[2016-10-25 15:17] ron666 commented on #1887
You are welcome. Thank you for testing this

[2016-10-25 15:17] MosheL commented on #1898
need to check it.  thanks

[2016-10-25 16:52] MosheL commented on #1898
Update: I was re-downloaded the test file.
It works, but the Facebook  Play/Stop/Progress toolbar is visible and make things ugly.

[2016-10-25 17:30] ron666 commented on #1898
Unfortunately, this is a limitation on Facebook embed (as well as Vimeo) so nothing we can do about it

[2016-10-25 17:36] MosheL commented on #1898
If this is correct, we must disable the ME toolbar on this case.

[2016-10-25 19:40] ron666 commented on #1898
@MosheL After some research I was able to achieve the hiding of controls; please download the latest version of 3.x-dev branch and let me know. Thanks

[2016-10-25 20:05] MosheL commented on #1898
1. Thanks !

2. still not resizable on build. on the origin size it works OK.

[2016-10-25 21:06] ron666 commented on #1898
Thanks. I'll check this and keep you posted ASAP about the fix

[2016-10-25 21:48] ron666 commented on #1643
Closing this issue since no answer has been posted in 2 weeks. If you want to reopen this issue please let us know. Thanks!

[2016-10-25 21:48] #1643 closed

[2016-10-25 21:52] ron666 commented on #1609
Closing this issue since support is ready in 3.0 version and it will be released soon

[2016-10-25 21:53] ron666 commented on #1622
Closing this issue since support is ready in 3.0 version and it will be released soon

[2016-10-25 21:53] #1622 closed

[2016-10-25 22:38] SeventhCycle commented on #1599
Okay. I changed the version number and managed to get the package to build. I went ahead and copied all the new files from ./build into the /mejs/mp/ folder.

I then added
				pluginPath: '/mejs/mp/',

to the page.

Looks like the flash still isn't loading:
http://seventhcycle.net/mejs/shim_problem/

Interestingly, I'm not seeing any sort of requests to load a SWF file in the Firefox debug console

[2016-10-25 23:26] ron666 commented on #1599
Are you using a relative path to find the shim locations? If you turn on Firebug you will see the error

[2016-10-25 23:27] ron666 commented on #1599
And thanks for testing this before launching the 3.0 version; all feedback is very welcome

[2016-10-25 23:45] ron666 commented on #1599
@SeventhCycle I just tested your URL above and it worked for me on Chrome. So I'll focus on checking why FF is not working properly

[2016-10-25 23:58] SeventhCycle commented on #1599
This may also help:
http://seventhcycle.net//mejsdev/test/hls.html

I took the flash video example you have and added this:
mejs.Renderers.order = ['flash_video'];

in the code so that the HTML player won't load. This may help you be able to reproduce this locally since it's a minor modification to the test code included in the dev branch.

[2016-10-26 00:27] ron666 commented on #1599
OK I'll take a look and let you know my findings. Thanks

[2016-10-26 01:37] ron666 commented on #1599
@SeventhCycle I found out what was the issue. Please download the latest version and you should be fine now

[2016-10-26 01:39] ron666 commented on #1887
Just FYI a last update was done. Feel free to download the latest version but you should be fine

[2016-10-26 02:42] ron666 commented on #1898
@MosheL Please download and test this again; I found some issues and took me some time to figure out why fullscreen was not behaving as it should with the full player

[2016-10-26 02:43] ron666 commented on #1609
@FrankDaze can you download the latest version and confirm everything is working as it should on your side, please? I found out some last bugs and I just need confirmation that we are still ok

[2016-10-26 05:38] FrankDaze commented on #1609
ok I will test it today

[2016-10-26 06:34] MosheL commented on #1898
1. Thanks.
2. It did not work while clicking on progress bar. if FB can't support this we can just hide it.

[2016-10-26 06:48] MosheL commented on #1898
Update: other tools on toolbar did not work, and also Play after video ended.

[2016-10-26 06:52] FrankDaze commented on #1609
@ron666 I tested it right now and from my side all looks fine.

[2016-10-26 10:11] ron666 commented on #1609
Thanks

[2016-10-26 10:14] ron666 commented on #1898
Yeah Facebook videos are not as mature as the other renderers and are very limited with the features we offer related to time wise; for now just remove any features that don't work and I'll check the play issue. That will be the last thing I can do in the Facebook side. Thanks

[2016-10-26 10:37] ron666 commented on #1898
@MosheL Fixed the issue with Play with video ended. Facebook right now doesn't account for a `timeupdate` event, making some of the features unusable. Please test and let me know. Thanks

[2016-10-26 11:04] ron666 commented on #1898
@MosheL Update: I was able to make the progress bar click to work. Also, most of the features related to time must be working right now; please confirm and let me know

[2016-10-26 11:06] MosheL commented on #1898
Update: FB  is working. I can skip the timeupdate and similar.

https://www.facebook.com/VirallUSA/videos/vb.201208910316415/204884829948823/
this is live. facebook live is in 1x1 and not in 16x9, so the Iframe  changed size and overflowed.

![image](https://cloud.githubusercontent.com/assets/2265043/19723763/6a37ebbe-9b85-11e6-93d7-26b7c228855d.png)

[2016-10-26 11:10] ron666 commented on #1898
I'll test setting dimensions for live videos I never considered that. Thanks for pointing this out

[2016-10-26 11:15] MosheL commented on #1898
update:

.mejs-mediaelement {overflow: hidden}
also, the Play event did not fired and the picture (`mejs-poster-img`) did not removed on this case. I can remove it manualy.

[2016-10-26 12:01] ron666 commented on #1898
I'll give you an update soon. That link is still active?

[2016-10-26 12:09] FrankDaze commented on #1609
@ron666 I have a last question. Is there a parameter to scale the video to fit the playersize?

I have seen the streching parameter, but this is streching the whole player, not only the video.

[2016-10-26 12:13] ron666 commented on #1609
There's no parameter that can do only video. Only the entire player. You can check FitVids plugin and see if that suits your needs

[2016-10-26 12:40] ron666 commented on #1898
I just used https://www.facebook.com/MdRaqibulHasanRana/videos/1121837361186419/ and no issues. The only thing I noticed is volume but I'm checking that right now. The link you posted is not active and that might be causing the issues you are seeing

[2016-10-26 12:50] ron666 commented on #1898
@MosheL I haven't found any information in regards of live videos and how to interact with them. I'll continue searching but as it is right now, Facebook renderer is very stable. Feel free to close this ticket if you consider it. Thanks

[2016-10-26 14:10] MosheL commented on #1898
The problem is the live video are closed so I can't add a realable link. also there is a diffrent  between RTMP-sourced live stream and phone-sourced live stream.

[2016-10-26 14:29] ron666 commented on #1898
For now there's a lack of documentation as you know so there's no much we can do at this stage. As soon as updates come to the Facebook videos we'll integrate them or simply use the iframe

[2016-10-26 14:48] MosheL commented on #1898
so close this and reopen a new one about the live problem?

[2016-10-26 15:13] ron666 commented on #1898
Yeah that's fine. Thanks

[2016-10-26 15:18] #1898 closed

[2016-10-26 15:46] ron666 commented on #1610
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-10-26 15:46] #1610 closed

[2016-10-26 16:16] MosheL opened #1902 "Facebook non-16x9 videos"
There is a diffrent between RTMP-sourced live stream and phone-sourced live stream.

The live stream you are used is a RTMP-sourced and its 16x9. if you will use a phone and start broadcasting (like this ugly test: https://www.facebook.com/admini/videos/10154655923894932/?pnref=story ) you will get a diffrent ratio.

![image](https://cloud.githubusercontent.com/assets/2265043/19723763/6a37ebbe-9b8

[2016-10-26 17:25] isantolin opened #1903 "[3.0] FLV support without flash"
@ron666
I discovered a Javascript library to play FLV over HTML5 without Flash

https://github.com/Bilibili/flv.js

[2016-10-26 17:57] ron666 commented on #1903
Thanks I'll check it and for a next iteration in 3.0 version I'll create a renderer if it's well supported

[2016-10-26 18:59] isantolin opened #1904 "Wiki Still valid?"
The documentation on

https://github.com/johndyer/mediaelement/wiki

is still valid or be replaced by

https://github.com/johndyer/mediaelement/blob/master/api.md

[2016-10-26 20:02] ron666 commented on #1904
Will be replaced by API configuration documentation

[2016-10-26 22:45] SeventhCycle commented on #1599
Here's what looks good.

1. Mute / volume control works as expected now.
2. Video loads without distortion with flash mode.
3. The seeking bar seems to work now on flash mode. Awesome!

Only thing left:
1. http://seventhcycle.net/mejs/shim_problem/
Try changing back and forth between fullscreen and regular size on Firefox. You'll see a temporary graphical glitch where the bottom bar spans beyond t

[2016-10-26 22:53] ron666 commented on #1599
Ok  thanks for your time testing this. I will check the details but as it is right now I think the 3.0 version it's really solid. You can close this ticket as I am aware about the full screen issue and I'll keep you posted about any progress on the full screen issue

[2016-10-26 22:56] SeventhCycle commented on #1599
Sure. Is there a separate bug I can follow? I'll close this out and reply there if so.

[2016-10-26 22:58] ron666 commented on #1599
Just create a separate bug and close this one so we can keep track of this particular issue thanks

[2016-10-26 23:00] #1599 closed

[2016-10-26 23:01] SeventhCycle opened #1905 "Graphical Glitch when resizing between fullscreen and inline."
http://seventhcycle.net/mejs/shim_problem/

Try changing back and forth between fullscreen and regular size on Firefox. You'll see a temporary graphical glitch where the bottom bar spans beyond the length of the screen / browser. Most of the time, it quickly adjusts size to fit the browser window. Sometimes, it stays in place.