[2017-08-24 11:38] rafa8626 commented on #2360
They are selectable but once the caption menu is open, tab again to focus on the first element

[2017-08-24 11:44] Instagit commented on #2360
I got it to work once, but don't even know how. When hovering the captions icon and using arrow up/down the volume controls come up.

[2017-08-24 11:45] rafa8626 commented on #2360
When the caption button is focused, tab once more. That gives you access to the elements inside the menu using up/down arrows. If you are just focused on the button, up/down will trigger the volume manipulation

[2017-08-24 11:46] rafa8626 commented on #2360
It works like that for now, but there is still a ticket to mimic what YouTube does: create a single button that controls all captions, speed, quality, etc. but I never got to work on it

[2017-08-24 11:46] Instagit commented on #2360
Ok, that works.

[2017-08-24 11:47] rafa8626 commented on #2360
Great! Should I close this ticket?

[2017-08-24 11:47] #2360 closed

[2017-08-24 11:48] Instagit commented on #2360
Done. Thanks again! :)

[2017-08-24 11:51] rafa8626 commented on #2360
You are welcome

[2017-08-24 23:06] rmeske commented on #2359
Hello, I have download the latest mediaelement-master-v4.2.5.37 and am no longer seeing this issue.

Thanks!

[2017-08-25 01:50] KhodyrevDS opened #2369 "Option poster not working without poster attribute"
If I set poster option it does not apply without poster attribute
[code]

[2017-08-25 14:48] dstrivelli opened #2371 "Chapters are only triggering every other click"
We are using MeJS to provide chapter support to our users. They have found that navigating by chapter menu requires two clicks to jog the video. For example: click on chapter 1 time, works. Click again, nothing happens, click 3rd time, works fine, click 4th time, nothing happens.

I have embedded the most recent version of the player and have found this problem is occurring in Chrome, Firefox, and

[2017-08-25 18:19] rafa8626 commented on #2371
Try the master branch. We had a fix for it this week. Let me know

[2017-08-25 18:29] dstrivelli commented on #2371
Just pulled and checked, verified I'm using the new files, still the same behavior. Chapter event occurs every other click.

[2017-08-25 18:52] rafa8626 commented on #2371
Ok I'll check this as soon as I can thanks

[2017-08-28 00:01] rafa8626 commented on #2369
Thanks for reporting. The fix has been pushed now. Please download master branch and let me know .

[2017-08-28 02:21] rafa8626 commented on #2371
Please download the master branch and confirm this issue has been fixed. Thanks for pointing it out and please star the project to support it

[2017-08-28 07:43] KhodyrevDS opened #2372 "Cant customize order of plugin's layer"
I cant append my custom layer after overlay-play layer, because features initialized before layers creation.

Here you can see ads layer from https://github.com/mediaelement/mediaelement-plugins/blob/master/src/ads/ads.js
`layers.insertBefore(player.adsLayer, layers.querySelector(`.${t.options.classPrefix}overlay-play`));`
but layers.querySelector(`.${t.options.classPrefix}overlay-play`) always em

[2017-08-28 07:56] KhodyrevDS commented on #2369
Waiting in the NPM

[2017-08-28 07:56] #2369 closed

[2017-08-28 10:58] rafa8626 commented on #2372
Please download master branch and test this again; I re-arranged some code that used to be in a different position. Let me know. Thanks for reporting this

[2017-08-28 12:49] dstrivelli commented on #2371
Just pulled from master and tested, looks like it's working as expected! Also, before this fix, the empty area to the right of the text was not triggering events for that row, but that is now working as expected as well.

Thank you for your expedience!

[2017-08-28 12:49] #2371 closed

[2017-08-28 12:50] rafa8626 commented on #2371
You are welcome. Glad everything was solved on your side

[2017-08-29 18:53] theomathieubhvr opened #2373 "Audio HLS not working on IE11 (Windows 7 only)"
Hi,

We are trying to make an audio stream works on IE11. It does but not with Windows 7.

IE11 is saying : _**ERROR : Unknown MIME Type.**_

Any idea why ?
Thanks.

[2017-08-30 22:42] rafa8626 commented on #2373
Do you have a URL to show the issue?

[2017-08-31 07:20] devin87 opened #2374 "Please update hls.js to 0.8.1"
Its has a lot of bugfixes and improvement.

[2017-08-31 10:53] rafa8626 commented on #2374
Thanks. hls.js has been upgraded in the master branch. A release will come up by the end of this week. Please star the project to support it

[2017-08-31 10:53] #2374 closed

[2017-08-31 11:59] theomathieubhvr commented on #2373
Sure !

http://www.985fm.ca/

[2017-08-31 13:22] rafa8626 commented on #2373
@theomathieubhvr I saw this error when starting your page
![screen shot 2017-08-31 at 9 21 46 am](https://user-images.githubusercontent.com/910829/29925297-e2b91e6e-8e2d-11e7-89e5-692e70f66514.png)

[2017-08-31 13:22] theomathieubhvr commented on #2373
This is now weirdly fixed by using a video tag and doing this :

[code]

[2017-08-31 13:26] rafa8626 commented on #2373
Generally the unknown MIME type error refers to the fact that your server (or the server where media is being delivered) doesn't have the right MIME type for this source. Just applying
[code]
in your Apache config should have solved this. See https://walterebert.com/playground/video/hls/

[2017-08-31 13:31] theomathieubhvr commented on #2373
Ok I think we can close this. Thanks !

[2017-08-31 13:32] #2373 closed

[2017-08-31 13:34] rafa8626 commented on #2373
You are welcome. Please star the project to support it. Thanks

[2017-08-31 14:17] twobyte opened #2375 "Conflict with Youtube API"
When I activate mediaelement it breaks the player.setSize method of the Youtube API integration that already exists on the page:

[code]
I’ve removed a few functions for brevity but essentially this script works unless mediaelement is loaded to support a video elsewhere on the page, then I get an error saying player.setSize is undefined.

[2017-09-01 15:03] hthomison1078 commented on #2373
I'm cleaning laptop installing antivirus w firewall and repairing my
accounts I will post updates. Thank you.

On Aug 30, 2017 17:42, "Rafael Miranda" <notifications@github.com> wrote:

[2017-09-01 15:12] sgtlambda opened #2376 "Video automatically going to native fullscreen on "first play" in iOS"
Is there any way to prevent the default behaviour in iOS of going to native fullscreen when the video is first started? Note that once native fullscreen is exited and the video is then resumed, it then plays inline and allows going to the "fake fullscreen" mode using the fullscreen button in the player controls. In this case "fake fullscreen" is the desired functionality, as "fake fullscreen" supp

[2017-09-01 15:13] hthomison1078 commented on #2373
Will Forward

On Aug 31, 2017 08:22, "Rafael Miranda" <notifications@github.com> wrote:

[2017-09-02 04:51] rafa8626 commented on #2376
Just use `playsinline` and `webkit-playsinline` attributes in the video tag; that should help. Also, if you are using YouTube, I'd suggest to use the configuration element `youtube: {playsinline: 1}` in the player config:
[code]
Please star the project to support it. Thanks

[2017-09-02 04:51] #2376 closed

[2017-09-02 04:52] #2372 closed

[2017-09-03 14:12] sgtlambda commented on #2376
Thank you so much!
[code]
Did the trick like you said. Have it starred already! I'll see if I can recommend the project elsewhere as well. Thank you for the great work maintaining this so actively.

[2017-09-03 14:29] rafa8626 commented on #2376
You are welcome. Unfortunately I'm not maintaining it anymore I'm just wrapping things up for the big upgrade in WordPress. I accept PRs and check periodically issues

[2017-09-04 07:19] pateldhruv1993 opened #2378 "Vimeo, Twitch videos show default Video controls AND MediaElements video controls"
I've got mediaelement working fine with youtube and dailymotion but for vimeo and twitch videos/streams are giving me some problems.

Vimeo videos load fine and play but they show their own video controls right under mediaelements video controls. Same is true for twitch as well. If its not really possible to hide Vimeos and Twitch's video controls, is there a way to show default video controls for

[2017-09-04 09:21] jesperlandberg opened #2379 "Autoplay on IOS/Android?"
This is not really an issue thread.. just wanted to know if this support autoplay on mobile devices?

[2017-09-04 23:53] Trentwa commented on #2379
? What I'm doing

[2017-09-04 23:54] Trentwa commented on #2379
How do I find out

[2017-09-05 01:22] xgqfrms-gildata commented on #771
https://github.com/facebook/draft-js/issues/42#issuecomment-327046069

[2017-09-05 13:29] rafa8626 commented on #2379
You might be able to, but you need to read this first: https://stackoverflow.com/questions/42160528/html5-autoplay-video-in-mobile-device#answer-42161532. Please star the project to support it. Thanks

[2017-09-05 13:29] #2379 closed

[2017-09-05 13:32] rafa8626 commented on #2378
The only caveat with Vimeo is that, unless you own the videos and you deactivate the control bar from Vimeo website, there's no way to hide them. With Twitch I don't think there's a way to do this. Currently there's no way to set the default video controls, for in which case you may not need MEJS. As for the Twitch issues, there's not a lot of documentation about how to deal with some of the issue

[2017-09-05 13:33] rafa8626 commented on #2375
The thing is that MEJS generates some wrapper methods, including for YouTube, to set the video size. If you provide a Fiddle to reproduce this issue we can give you a better guidance on how to deal with this

[2017-09-07 06:57] mhspelt opened #2380 "Facebook embed broken"
When using a Facebook URL as the video source, the video will not load in Firefox 55.0.2. It works in Chrome.

See for example the demo on your own front page.

[2017-09-07 09:13] jkathir opened #2381 "How to embed mp3 player in datatable"
Hi,

Assume i have 5 rows and have links of mp3 file in each row of a cell.

How to integrate the mediaelement? Can the mediaelement auto-detect all such links and add mp3 player near to it?

Thanks.

[2017-09-07 10:24] Kelvinhokc opened #2382 "vastAdTagUrl is able to use url link?"
http://demo.tremorvideo.com/proddev/vast/vast_inline_nonlinear.xml
http://demo.tremorvideo.com/proddev/vast/vast_inline_linear.xml
http://demo.tremorvideo.com/proddev/vast/vast_wrapper_linear_1.xml
http://demo.tremorvideo.com/proddev/vast/vast_wrapper_linear_2.xml
http://demo.tremorvideo.com/proddev/vast/vast_wrapper_nonlinear_1.xml
http://demo.tremorvideo.com/proddev/vast/vast_wrapper_nonlinear_2

[2017-09-07 13:20] betterthanclay commented on #2378
Regarding vimeo, there is a neat little workaround you can do with CSS which seems to be pretty solid - it's effectively just making the iframe big enough so the controls aren't overlapping the video, then hiding the overflow on the container.

It's probably worth putting some kind of qualifier class in the container selector (add a .vimeo class to your container div and the selectors below) so it

[2017-09-07 19:50] rafa8626 commented on #2380
I didn't experience any issues using FF 55.0.3
<img width="626" alt="screen shot 2017-09-07 at 3 48 44 pm" src="https://user-images.githubusercontent.com/910829/30182243-237d2ac4-93e4-11e7-8eb9-742cbd227e98.png">
<img width="627" alt="screen shot 2017-09-07 at 3 48 51 pm" src="https://user-images.githubusercontent.com/910829/30182244-237fdc4c-93e4-11e7-9da7-71affcd44b9d.png">

[2017-09-07 19:53] rafa8626 commented on #2382
The Ads plugin is currently limited; I'm working on updating it using Google IMA SDK. If you test them and confirm they all work using it I'll try to get the plugin ready as soon as possible. Thanks. Here's the link: https://developers.google.com/interactive-media-ads/docs/sdks/html5/vastinspector?player=h5

[2017-09-07 19:54] rafa8626 commented on #2381
Read the documentation on how to instantiate the player. It doesn't auto-detect media. You have to do it manually. See also demo/demo.js for more information on how to achieve this. Please star the project to support it. Thanks

[2017-09-07 19:54] #2381 closed

[2017-09-07 19:56] rafa8626 commented on #2382
Also, please star the project to support it. Thanks

[2017-09-08 19:32] mhspelt commented on #2380
Sigh, one of my social media cookie blocking plugins was a bit too enthusiastic. Should have tested that first. Sorry!

[2017-09-08 19:32] #2380 closed

[2017-09-08 19:33] rafa8626 commented on #2380
No worries. Glad you figured out. Please star the project to support it. Thanks

[2017-09-09 08:46] kisha94 commented on #2375
2375

[2017-09-11 04:02] nitroshadow opened #2383 "Multiple facebook videos"
There is a problem when there are more than one facebook videos:

**The controls :** play button, progress bar and volume only works for the last facebook video.

The first facebook video will play automatically (**note: autoplay is not enabled**) after these actions were done on the last facebook video
- click big play button on last facebook video
- click big pause on last facebook video
- click

[2017-09-11 04:22] nitroshadow opened #2384 "Use the Facebook SDK in another language"
Enabling the use of the Facebook SDK in another language.

Currently only the `en_US` lang can be used in: https://github.com/mediaelement/mediaelement/blob/master/src/js/renderers/facebook.js#L354

Is it possible to change it by retrieving the value of the `lang` attribute of the `html` element and / or via the options.

And also if the SDK has already been loaded by other previous scripts (ex: l

[2017-09-11 23:42] dstrivelli opened #2385 "Large number of chapters overflows the player window vertically"
I am working with a video that has somewhere around 30 chapters. When the chapter menu is selected, it opens as expected, but the list is cut off and there is no easy way to access those chapters. We tried switching to full screen, which will cure the ailment if your screen is large enough, but does not really solve the issue.
<img width="755" alt="screen shot 2017-09-11 at 7 42 11 pm" src="https:

[2017-09-12 05:48] krishnapriyaMandadi opened #2386 "Mediaelement: Unable to play RTMP audio"
Hi,
We are trying to use the latest version of mediaelement player in our application to play the videos and audios. We observed that RTMP audio is not getting played.
I tried playing RTMP audio in http://www.mediaelementjs.com/ by selecting source as RTMP. There also, it is not getting played.
Could you please look into this.

[2017-09-12 08:09] DarrenWong commented on #2385
I think you can add a fix height and set overflow-y: scroll to .mejs__chapters-selector-list should be ok. Only test on the dev tools directly.

example as below

[code]

[2017-09-12 11:06] krishnapriyaMandadi opened #2387 "RTMP video: Video is not honoring height and width properties of video tag"
Hi,
We are trying to use the latest version of mediaelement player in our application to play the videos and audios. We observed one issue while playing RTMP video. The video is not rendering based on the width and height that we provided for the video tag. However, the issue is not observed once we maximize the video and then exit the full screen.

Here is the sample file which has rtmp url also.

[2017-09-12 12:19] rafa8626 commented on #2387
@milax can you check this please?

[2017-09-12 12:20] rafa8626 commented on #2386
@milax can you check this please?

[2017-09-12 12:22] rafa8626 commented on #2384
It certainly can be integrated as an option; I'll explore this renderer soon and push the change. Thanks

[2017-09-12 12:23] rafa8626 commented on #2383
I'll check this soon. Thanks for reporting this issue

[2017-09-12 12:25] rafa8626 commented on #2375
Since no Fiddle or replay has been posted in more than a week we will close this issue; if you like to be reopened, please let us know. Thanks

[2017-09-12 12:25] #2375 closed

[2017-09-12 12:27] rafa8626 commented on #2382
I confirmed that your xmls can be dealt via Google IMA SDK so I will let you know when the plugin is ready. Thanks

[2017-09-12 13:48] dstrivelli commented on #2385
Agreed, thank you CSS ninja.

[2017-09-12 13:48] #2385 closed

[2017-09-12 13:50] smasam opened #2388 "play event is not triggered by flash plugin"
Hi,

I have a requirement where in, I will listen to "play" event on media and do some job. It all works fine for HTTP URL videos, but when it comes to rtmp the play event is not getting triggered, which means my handler is never getting executed, basically this player uses flash plugin to play RTMP or any other natively unsupported formats, looks like flash has issue raising this trigger. Here is

[2017-09-12 13:52] dstrivelli opened #2389 "Pressing fullscreen before video loaded hides all controls permanently"
I've noticed that when I'm first loading a page, when the full-screen button is pressed before the video is loaded in, the frame will expand to black and the controls get hidden. If you go back to the normal frame mode, the controls are still missing and the page requires a refresh to get them back.

[2017-09-12 13:58] dstrivelli opened #2390 "Media error: Format(s) not supported or source(s) not found"
I'm getting very spotty loading of a variety of files. Users in Chrome for mac, Firefox, IE11, and Edge are reporting seeing this error and no functionality.

The native HTML5 video player works just fine, so I'm having a hard time debugging the problem and cannot replicate on my personal machine. What can I do to debug with my users?

[2017-09-12 16:17] moduval opened #2391 "HE-AAC in internet explorer 11"
I struggle setting up MediaElements to play a HE-AAC stream in internet explorer. It work in all browser (chrome, firefox) but I cannot make it work in IE 11.

I know this is possible with a flash fallback as it work with Muse Radio Player: https://www.muses.org/

I don't want to use muse because there is no API and I want to be able to display my player the way I designed it.

Is there a way to m

[2017-09-12 19:50] rafa8626 commented on #2388
@milax can you check this please?

[2017-09-12 19:54] rafa8626 commented on #2391
Renderers must give you what you need; using a conditional to check if you are using IE11 must help you with that and then combined with the `renderers` array element should solve your issue. Something like:
[code]

[2017-09-12 19:54] rafa8626 commented on #2389
I'll check this soon. Thanks for reporting it

[2017-09-12 19:57] rafa8626 commented on #2390
A Fiddle is a good start point to debug this. Now maybe the way the player is being implemented could be an issue, or maybe (but it entirely sure) the media source itself

[2017-09-12 19:59] moduval commented on #2391
After trying with flash only renderer. It dosen't work either. It's like the mediaelement flash fallback dosen't work for this kind of stream. Maybe there is some variables missing in the code for flash for HE-AAC?

[2017-09-12 20:01] rafa8626 commented on #2390
Maybe it's then internet bandwidth for what you are describing

[2017-09-12 20:02] rafa8626 commented on #2390
Or OS versions

[2017-09-12 20:03] rafa8626 commented on #2391
You are right. The Flash fallback doesn't have a way to render this type of media; only a regular MP3 for what it seems

[2017-09-12 20:09] moduval commented on #2391
Is this a feature that could be added easily to the flash fallback ?

[2017-09-12 20:16] rafa8626 commented on #2391
I'm not sure it is easy to integrate; you might consider combining the player with a JavaScript audio decoder library like https://github.com/audiocogs/mp3.js/

[2017-09-12 20:17] rafa8626 commented on #2390
You have to consider that if they have installed other plugins in the browsers that also affects the media being played

[2017-09-12 20:18] rafa8626 commented on #2388
Which version of the player are you using?

[2017-09-12 20:18] dstrivelli commented on #2390
Interesting, I'll see what info I can gather along those lines from various affected folks.

[2017-09-12 20:20] moduval commented on #2391
Not sure it's gonna work as written in there documentation:

Web Audio API is not supported in Internet Explorer 11

[2017-09-12 20:25] rafa8626 commented on #2391
I don't know of a Flash library to enhance this unfortunately. If I find one I'll let you know but as it right now, the player cannot play those type of files

[2017-09-13 01:46] rafa8626 commented on #2384
Please download the master branch and test this configuration:
[code]
I refactor the Facebook renderer and now it will check if the `FB` object exists; if so, it will use the current configuration. Otherwise, it loads the SDK properly. Thanks for reporting this and please star the project to support it

[2017-09-13 01:47] rafa8626 commented on #2383
Please download the master branch and test this again. With the refactor, I fixed this issue and you should be able to manipulate each video properly. Please let me know and star the project to support it. Thanks

[2017-09-13 01:49] rafa8626 commented on #2389
Do you have a fiddle where I can see this issue please?

[2017-09-13 01:50] #2390 closed

[2017-09-13 02:29] rafa8626 commented on #2378
@pateldhruv1993 I have fixed the issues with Twitch; please download the master branch and let me know. There was a typo that was preventing to live streams to be played. Thanks

[2017-09-13 02:37] dstrivelli commented on #2389
Will provide tomorrow.

[2017-09-13 04:06] smasam commented on #2388
Its the latest 4.2.5

[2017-09-13 07:03] pateldhruv1993 commented on #2378
@rafa8626 I went to one of my previous commits when mediaelement was working and changed the js files with the new one. This time around the Stream worked but the VOD (which used to work before) and clips didn't. But you might want to wait for other people to try it out as I wasn't able to test it extensively.

[2017-09-13 10:47] rafa8626 commented on #2378
I tried https://www.twitch.tv/videos/109010497, https://www.twitch.tv/videos/172666951, https://www.twitch.tv/videos/172147829 and worked for me. I noticed a little typo when using URLs like https://player.twitch.tv/?video=40464143, but it is fixed now.

[2017-09-13 10:48] rafa8626 commented on #2378
Please download the master branch and test one more time. It should be fine now. Thanks

[2017-09-13 10:51] rafa8626 commented on #2391
Can you provide me a URL where I can see your issue, please? Just to check the Flash audio

[2017-09-13 11:14] rafa8626 commented on #2387
@krishnapriyaMandadi please test again; I found a typo that was causing this. Let me know. Thanks and please star the project to support it

[2017-09-13 11:15] rafa8626 commented on #2388
Can you provide a Fiddle where I can see your issue please?

[2017-09-13 11:30] rafa8626 commented on #2386
@krishnapriyaMandadi If I use git.com/mediaelement/mediaelement/master/build/mediaelement-and-player.js I can play RTMP; the website is not using this version. Can you confirm you can play the audio using the URL above please?

[2017-09-13 11:49] smasam commented on #2388
Fiddle is unable to load flash plugin due sandboxing, do you know of any settings in fiddle which will not add sandbox attribute to fiddle iframe, even if you have sample code in fiddle that uses flash plugin  would be great

[2017-09-13 12:06] rafa8626 commented on #2388
You can just create a .txt file and attach it here. Just to test the master branch

[2017-09-13 15:07] moduval commented on #2391
Here is the stream URL i try to make it work in IE 11: http://cfnjzp.mine.nu:9700/stream

[2017-09-13 16:31] nitroshadow commented on #2384
thanks for the fix it works very well

[2017-09-13 16:31] #2384 closed

[2017-09-13 16:36] nitroshadow commented on #2383
Thanks for the fix it works very wel and it was fast!

I have a question, when there are really a lot of facebook videos in the same page, it takes about 45-50 http requests per video, is there a way to reduce or is that how it is designed by Facebook? I thought of putting them in playlist to avoid having several hundreds of request (but i need the poster, title, views, etc.). thank you

(feature)

[2017-09-13 17:26] rafa8626 commented on #2383
Yeah with the requests there's nothing you can do about it. As for the titles and the views maybe could be implemented but I'm not sure if doing it with the current approach would work since the markup is generated dynamically

[2017-09-13 17:47] rafa8626 commented on #2383
Thanks for starring the project. Closing issue now

[2017-09-13 17:47] #2383 closed

[2017-09-13 17:47] nitroshadow commented on #2383
Thanks :)

[2017-09-13 18:01] milax commented on #2386
@rafa8626 that's strange, of course, I'll take a look at this problem soon

[2017-09-13 18:03] rafa8626 commented on #2386
Thanks @milax use https://rawgit.com/mediaelement/mediaelement/master/build/mediaelement-and-player.js since that's the URL that had several of your fixes already. Keep me posted

[2017-09-13 18:04] rafa8626 commented on #2386
That also might have something to do with the PR you planned to work on https://github.com/mediaelement/mediaelement/pull/2368

[2017-09-14 04:21] rafa8626 commented on #2391
Doing some research, I found this: https://support.jwplayer.com/customer/portal/questions/9578529-ie11-aac-error-loading-media-file-not-found let me know if that helps you

[2017-09-14 05:14] krishnapriyaMandadi commented on #2387
Verified with latest bits. Working fine. Thanks

[2017-09-14 05:21] krishnapriyaMandadi commented on #2386
With git.com/mediaelement/mediaelement/master/build/mediaelement-and-player.js, I am able to play the audio. But there are some usability issues.
1. I am not able to pause and play the audio
2. The end time is always showing 00:00
3. Seek bar is not showing the progress of the audio
3. Seek to a point is not working.

[2017-09-14 05:42] smasam commented on #2388
[load.html.txt](https://github.com/mediaelement/mediaelement/files/1301803/load.html.txt)

Change the plugin path to point to your test system.

The are console logs, one can find timeupdate event is getting triggered but not the play event. Play event is only triggered after the complete video is played and user clicks on replay.

Also I see loadedmetadata is triggered multiple times where as vid

[2017-09-14 09:25] regionbbs opened #2393 "timeupdate event is not fired in IE11"
Hello,

I implemented a video player with caption timeline tracking to help users to map their video progress. Player version is v4.2.5.

My customer reported it's not worked on IE11, I tested in my environemnt (IE11 v11.608.15603) and confirmed this issue.

I use console.log() to output time message in handler of **timeupdate event**, but it's not fired.

However, **it works on Chrome (v61) and F

[2017-09-14 10:05] #2387 closed

[2017-09-14 10:12] rafa8626 commented on #2393
Can you provide a Fiddle where I can see the issue please?

[2017-09-14 10:13] rafa8626 commented on #2386
@milax FYI

[2017-09-14 10:24] regionbbs commented on #2393
Sorry, I can't use fiddler because it needs to connect our caption data.

But I can provide a test URL to you:
http://v2.dao365.tw/VideoDetail.aspx?Cond=32be6e8c-e78b-4b88-855c-873561a74935

Thank you.

[2017-09-14 10:25] rafa8626 commented on #2388
@milax Can you check this please? Thanks

[2017-09-14 10:27] rafa8626 commented on #2393
Thanks I'll check this as soon as I can

[2017-09-14 10:30] regionbbs commented on #2393
![image](https://user-images.githubusercontent.com/1799428/30425047-755a72c0-997a-11e7-89cf-c1707afe8987.png)

Let me to explain screen means.

In normal status, you can play video (left), and caption list (right) will focus when player time is reached.
You can use Chrome or Firefox to confirm normal status, and use IE11 to do, issue will be reproduced.

[2017-09-14 12:06] rafa8626 commented on #2388
@smasam I tested your file with the master branch and I see the play event being fired. Can you confirm this please?
<img width="1278" alt="screen shot 2017-09-14 at 8 06 10 am" src="https://user-images.githubusercontent.com/910829/30428947-9dc0ef70-9923-11e7-8867-025f162509a6.png">

[2017-09-14 13:06] rafa8626 commented on #2393
Can you test this with the master branch please? Some fixes were done in the past for HLS that might solved your issue. Let me know

[2017-09-14 13:09] regionbbs commented on #2393
OK, let me test.

[2017-09-14 13:19] regionbbs commented on #2393
It's not worked in master branch.
I also update hls.js to v0.8.2, but still not worked too.

[2017-09-14 13:55] moduval commented on #2391
I cannot change the type of the streaming as it is not managed by me.
But with their player: http://cfnj.net/direct2.htm
they are using muse radio player (https://www.muses.org/) and it is working in IE11.

The reason I do not want to use muse radio player is because i need to detect start and stop on the player and there is no API with this player.

Maybe MediaElement could use the same flash con

[2017-09-15 01:17] rafa8626 commented on #2391
@milax Could you explore this link and see if it can be integrated properly with either Audio or Video Flash shims, please? http://www.adobe.com/devnet/flashplayer/articles/hd_video_flash_player.html

[2017-09-15 04:35] smasam commented on #2388
Hi Rafel,

I tested with master branch, it still does not fire play event. It gets fired only when I pause and click on play, just once, to trigger it again I had to pause and play, in short pausing and click on play triggers one play event.
![image](https://user-images.githubusercontent.com/23189249/30466715-556253ba-99fd-11e7-85d1-fae12fc777ed.png)

Regards
Srinivas Masam

[2017-09-15 06:14] KhodyrevDS opened #2394 "Inner iframe size"
Mediaelement changes inner iframe size in the setFillMode function.
PS. Iframe is used in the plugin. #

[2017-09-15 07:45] milax commented on #2391
@rafa8626 when I got a free minute I'll take a look at things you have asked me about. I work full time at some company and fully loaded with other tasks, sorry

[2017-09-15 10:06] milax commented on #2388
@smasam
Play event will be triggered for the first time if you add play listener out of load meta data event callback.

So just change your code

[code]

To
[code]

It happens because "play" event triggered earlier than "loadedmetadata"

[2017-09-15 10:07] milax commented on #2388
You can check it out here http://htmltricks.ru/test/mediaelement/master-15-09-17/demo/load.html

[2017-09-15 10:14] rafa8626 commented on #2391
@milax no worries I understand that just want to keep track of those things

[2017-09-15 10:36] rafa8626 commented on #2393
@regionbbs I used your same markup for the video tag (without the source inside of it)
[code]
and used the following Javascript for testing, and I see the Javascript firing the `timeupdate` event in every browser (including IE11 using Browsertack):
[code]
<img width="1021" alt="screen shot 2017-09-15 at 6 30 19 am" src="https://user-images.githubusercontent.com/910829/30478699-129aca70-99e0-11e7-9

[2017-09-15 10:36] #2393 closed

[2017-09-15 10:43] rafa8626 commented on #2393
The interesting thing is that if I use your source with the approach above, IE displays an error:
<img width="1023" alt="screen shot 2017-09-15 at 6 42 15 am" src="https://user-images.githubusercontent.com/910829/30478965-2277695c-99e1-11e7-8d96-59f5d85f9061.png">
Even when I looked at your page in IE11, it didn't load. Also, you might have to check your source

[2017-09-15 10:43] rafa8626 commented on #2394
Can you provide a URL where I can see this please?

[2017-09-15 10:58] milax commented on #2386
@rafa8626 yep, all points mentioned by @krishnapriyaMandadi were noticed by me on demo page earlier and that's the thing I wrote about in #2368

So, I think this bug can be closed because it is about not played RTMP (it is played fine with latest source code from master) and all those usability issues might be converted into separate issue to work with and close after the fix

[2017-09-15 11:03] rafa8626 commented on #2386
@milax Thanks for looking at this. I'll just rename this ticket to reflect the issues described above so you can use it for future PR @krishnapriyaMandadi FYI

[2017-09-15 11:05] rafa8626 commented on #2382
I'll close this issue while I continue working on the plugin. This is also not an issue for this area but for the plugins repo. I'll let you know when ready

[2017-09-15 11:05] #2382 closed

[2017-09-15 11:09] milax commented on #2391
@rafa8626 I just read all thread and unfortunately I can't help with the subject. I'm not an expert in ActionScript, all fixes I've done so far related to issues in already existing funtionality but not implementing something new. I was able to debug the code but to write something from scratch I have luck of knowledge and experience.

[2017-09-15 11:20] KhodyrevDS commented on #2394
Only for old version http://dev-portal.videonotion.com/web/p/preview?v=d30ab3e8-2581-4c59-8a03-ed3e27e151ef

[2017-09-15 11:34] rafa8626 commented on #2391
No worries. I will try eventually to integrate this. I'm also not an expert on AS3 myself

[2017-09-15 14:45] opnsec opened #2395 "Security issues"
Hi,

I would like to report various security issues in ME, on what channel can we talk ?

[2017-09-15 16:18] jimmywarting commented on #2388
Plz stop using flash

[2017-09-15 16:23] jimmywarting opened #2396 "play() request was interrupted by a new load request"
not sure why but i'm getting this error with v4.2.5
[code]

![skarmavbild 2017-09-15 kl 21 31 34](https://user-images.githubusercontent.com/1148376/30500121-467f5414-9a5d-11e7-96a9-c6a0a4167975.png)
![skarmavbild 2017-09-15 kl 21 29 58](https://user-images.githubusercontent.com/1148376/30500122-46c48f84-9a5d-11e7-8156-70fdaec28dce.png)

[2017-09-15 18:09] rafa8626 commented on #2396
can you share a URL where I can see this issue, please?

[2017-09-15 18:10] rafa8626 commented on #2396
and can you reproduce this on the master branch?

[2017-09-15 18:11] rafa8626 commented on #2395
We don't have set up any channels but I can share my email address to discuss that. Let me know so I can share it and remove it

[2017-09-15 18:25] opnsec commented on #2395
ok I'm ready!

[2017-09-15 18:26] rafa8626 commented on #2395
rafa8626@gmail.com

[2017-09-15 18:46] rafa8626 commented on #2394
The nature of the setFillMode is that everything inside the main container will be affected to preserve aspect. The only way to avoid modifying their aspect is via CSS and using `important!` at the end of the CSS rule (`width: 400px !important;`). That way JS cannot override it

[2017-09-15 18:50] #2395 closed

[2017-09-15 18:50] #2394 closed

[2017-09-15 19:18] vickylance opened #2397 "Is jQuery still required?"
I am trying to use this in a Vue Application and thereby I have avoided jQuery in my Application at all cost, so I just wanted to know is jQuery still required by this plugin.

Because after seeing this issue #2116 I believe that jQuery dependency has been removed.

But the documentation still says to include the jQuery so I was confused.
Please help me in this regard.

[2017-09-15 19:32] jimmywarting commented on #2396
I notice that it's coming from dash.js

possible something about when i'm setting the src...

[2017-09-15 19:46] rafa8626 commented on #2396
I fixed something a long back ago... but maybe for your scenario it broke if you can provide a Fiddle so I can check it and fix it I'd appreciate it

[2017-09-16 05:13] KhodyrevDS commented on #2394
This iframe is not container, that is problem. It is located inside player

[2017-09-16 05:46] smasam commented on #2388
If you see the http stream, which plays with out any plugin, you can see loadmetadata is triggered first, even 2.x used to follow the same, why can't the current player do the same

[2017-09-16 12:04] rafa8626 commented on #2394
That's what I meant: since the player sometimes renders iframes there's no way to filter which ones should be resized. That's why the CSS solution is the approach you should use

[2017-09-16 12:05] rafa8626 commented on #2397
You can use it without jQuery but the support to use it as a plugin is still there.

[2017-09-16 12:05] #2397 closed

[2017-09-16 12:05] rafa8626 commented on #2397
Please star the project to support it. Thanks

[2017-09-18 02:07] KhodyrevDS commented on #2394
It's working, thanks. But, please, think about restrict selector by layer

[2017-09-18 03:31] rafa8626 commented on #2396
@jimmywarting Please download the master branch and test again. It should be good now

[2017-09-18 11:50] rafa8626 commented on #2388
As @milax indicated, changing your code to what he proposed will allow you to display the play event. You are using preload with `metadata` causes different behaviors across browsers. If you wanna keep using it, it's ok but you truly need to make adjustments to your code.

[2017-09-18 15:57] mhspelt opened #2398 "Facebook video's don't play sound initially"
I tested on different browsers (Chrome without plugins and a clean Edge) on Windows. When playing a Facebook video (e.g. the one at mediaelementjs.com) initially the video seems muted. Clicking the speaker icon does not work. The sound only starts when I actually move the volume slider from its initial position.

[2017-09-18 16:28] jimmywarting commented on #2396
Don't see any errors any more

[2017-09-18 17:12] rafa8626 commented on #2396
Sounds good. Thanks for reporting this

[2017-09-18 17:12] #2396 closed

[2017-09-18 17:13] rafa8626 commented on #2398
Thanks for reporting I'll check this soon

[2017-09-18 23:29] mhspelt commented on #2398
Can confirm that the issue is browser independent: I also got this report from another Windows user, _and_ just tried it on Ubuntu (4.4.0-93 kernel) with both Firefox and Chrome.

[2017-09-19 04:15] rafa8626 commented on #2398
Can you try the master branch and see if this issue is there, please? I made a major rewrite on FB render to solve several issues and I think that one got solved as well but let me know

[2017-09-19 05:18] krishnapriyaMandadi commented on #2386
Hi,
Can we know the timelines for the fix as we need to certify against the latest version of mediaelement player.

[2017-09-19 06:31] mhspelt commented on #2398
Thanks, the master branch seems to work. Will this get published to CDN shortly or should I just go and pull the code from here?

[2017-09-19 10:11] rafa8626 commented on #2398
I will release the new version later today. Thanks for confirming this and please star the project to support it

[2017-09-19 10:11] #2398 closed

[2017-09-19 10:16] rafa8626 commented on #2386
I'm not sure since the fix is not on my hands. Once a PR is ready for this, I'll review and merge into master. @milax I don't know if you can provide an estimated time to answer this question

[2017-09-19 10:55] milax commented on #2386
@rafa8626 @krishnapriyaMandadi yes, I can't provide ETA unfortunately but I'll do this as the first thing

[2017-09-19 11:00] rafa8626 commented on #2386
@milax Thanks keep us posted please

[2017-09-19 14:30] iomihai opened #2400 "RTMPS compatibility"
Hello,

I started using RTMPS (RTMP over SSL) served through a NGINX stream proxy.
The stream plays fine in ffplay.
The stream would not load in mediaelement.

I have patched VideoMediaElement.as by adding `_connection.proxyType = "best";` at line 76 and 178.

This suits me fine but would not work for other proxy types.

You could have proxyType as a configuration parameter to enable users to chan

[2017-09-20 07:45] coder4life opened #2401 "Add Support to Clips Player for Twitch"
There is a secondary player in the Twitch ecosystem

For example:
https://clips.twitch.tv/AssiduousLachrymoseRutabagaFeelsBadMan

It would be nice if MeidaElement could process these as well.

[2017-09-20 08:52] KhodyrevDS opened #2402 "setFillMode is working incorrect"
parent = window.frameElement; is null in cross-origin situations, see setResponsiveMode  for parent determination

[2017-09-20 11:26] rafa8626 commented on #2402
Can you provide an example of a situation where it doesn't work? A URL where I can see the error

[2017-09-20 11:47] rafa8626 commented on #2401
Unfortunately, clips are non-interactive so they cannot be integrated with MEJS. Thanks for requesting this, and please star the project to support it

[2017-09-20 11:47] #2401 closed

[2017-09-20 11:49] rafa8626 commented on #2400
So basically you need to enable 2-3 arguments: `shimConnectionType`, `shimPort` and `shimStreamDelimiter`, correct?

[2017-09-20 18:41] coder4life commented on #2401
I am a bit curious what you mean by non-interactive, meaning there is no API?

[2017-09-20 18:41] rafa8626 commented on #2401
Exactly. The iframe cannot be controlled via Javascript

[2017-09-20 19:17] coder4life commented on #2401
So I did some digging. The Twitch Staff has stated they have put this on their todo list, but that has been several months ago.

It might be possible to still get this to work by directly loading the mp4 file that is returned in the API to MediaElementJS

For example here is a mp4 version
480 version
https://clips-media-assets.twitch.tv/vod-168932512-offset-6515.083333333333-60-854x480.mp4

720 ve

[2017-09-21 03:59] rafa8626 commented on #2389
Closing issue since no update has been posted in a week. If you like this to be reopened, please let us know

[2017-09-21 03:59] #2389 closed

[2017-09-21 04:02] KhodyrevDS commented on #2402
https://jsfiddle.net/eL9f9uz1/

[2017-09-21 04:22] rafa8626 commented on #2402
Please test master branch and let me know if it works with the new flow

[2017-09-21 04:23] rafa8626 commented on #2388
Closing issue since was proven that player dispatches `play` event under circumstances listed above. If you want to reopen this issue, let us know

[2017-09-21 04:23] #2388 closed

[2017-09-21 09:47] iomihai commented on #2400
I could use other delimiter so you do not have to add a port shim.
Thank you.

[2017-09-21 11:41] rafa8626 commented on #2400
Please download master branch and test this please; the new parameters are `proxyType` and `streamDelimiter`

[2017-09-21 12:06] hkbeer opened #2403 "What is the advantage of using this JS"
So sorry I am totally new to this JS.
Would be pleased to know what advantage over native HTML5 player ?
Would be pleased if somebody can list some...

and I can see plug in has Google Analytic.
How is this video player to do with Google Analytic ? Sending how many people have watched to GA ?

Thanks

[2017-09-22 01:37] rafa8626 commented on #2403
You can play some media types like HLS and M-DASH everywhere and with native HTML5 video you can't in all browsers. About GA, the details are specified here: https://github.com/mediaelement/mediaelement-plugins/blob/master/docs/google-analytics.md

Hope that helps. Thanks and please star the project to support it

[2017-09-22 01:37] #2403 closed

[2017-09-22 08:56] JSteunou opened #2404 "muted video attribute does not work"
At least on youtube & vimeo. Not tested on others.

[2017-09-22 09:08] chenesan opened #2405 "HLS stream not playing when the tab is in the background in mobile Chrome"
Hi,
Given source [https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8](https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8) or the hls audio source demo on [mediaelement demo page](http://www.mediaelementjs.com/)
It's ok to play it in Chrome/Android when the tab is in background.
But once I swit

[2017-09-22 17:43] rafa8626 commented on #2405
That's a browser issue according to https://stackoverflow.com/questions/36562529/html5-audio-tag-not-playing-sound-for-the-very-first-of-unfocused-tab-in-chrome

[2017-09-23 01:06] chenesan commented on #2405
Thanks for your rapid reply @rafa8626 😄

I'm wondering if it's a problem in mediaelement about HLS.

I think it's not about the browser issue in your link because I'm sure for other types of audio source mobile Chrome doesn't pause the player when it's in the background.
You can reproduce it like by the following steps on mobile chrome and [www.mediaelementjs.com](www.mediaelementjs.com):

(1)On t

[2017-09-23 04:28] rafa8626 commented on #2405
You may wanna ask first on HLS.js about this. If it was an issue on the player, all media will experience the same problem. Try that first and from there will see next steps

[2017-09-23 10:27] iomihai commented on #2400
Both parameters work.

Thank you so much!

[2017-09-23 10:49] rafa8626 commented on #2400
You are armonice. Glad to know they worked

[2017-09-23 10:49] #2400 closed

[2017-09-23 12:24] chenesan commented on #2405
Ok, I'll go to ask this on HLS.js. Thanks!

[2017-09-23 12:26] rafa8626 commented on #2405
You are welcome. Please star the project to support it

[2017-09-23 13:27] rafa8626 commented on #2404
I tried with version 4.2.6 and YouTube and Vimeo are muted setting the `muted` property on the video tag.
[code]

[2017-09-23 13:27] rafa8626 commented on #2404
Please star the project to support it. Thanks

[2017-09-23 14:51] JSteunou commented on #2404
I ll try on monday and check the installed version I was using.

[2017-09-23 14:53] rafa8626 commented on #2404
Ok sounds good. Remember to test the master branch to confirm that the Dailymotion issue has been fixed; otherwise, with 4.2.6 you must be covered for the rest of the renderers

[2017-09-23 18:25] iomihai opened #2406 "RTMP/S connection issues"
Hello,

I am using the player for some RTMP / RTMPS streams and there is an extra call when loading the streams: `GET https://[url:port]/static/bower_components/mediaelement/build/camera2 404 (Not Found)` issued by the player.
The RTMP[S] link is rtmp[s]://[url:port]/live/camera2
I am loading the player from `/static/bower_components/mediaelement/build/`
The HTTPS call always fails (because camera

[2017-09-24 04:12] rafa8626 commented on #2406
If you can provide a URL so I can test this I'd appreciate it

[2017-09-24 13:21] rafa8626 commented on #2386
@milax Just FYI the root of this issue is that the `metaDataHandler` is not passed on audio for a reason I haven't figured out yet, so we need to figure out a way to get the duration of the audio, and that will solve this issue.

[2017-09-24 13:27] rafa8626 commented on #2406
@milax Can you assist on this please? We need to compare between 4.2.3 and master changes

[2017-09-25 03:59] rafa8626 commented on #2406
@iomihai Can you do me a favor and comment lines 468 and 584 on the VideoMediaElement.as and compile again from the master branch, please? Since I don't have a URL to test this issue and there are not a lot of samples available I want to test if those first lines are the issue. If not, let's try with anything related to the `_timer` element. Let me know

[2017-09-25 04:05] #2405 closed

[2017-09-25 04:33] chenesan commented on #2405
Hi,
Finally I found out that in Chrome on Android the mediaelement uses html5 renderer because mobile Chrome supports HLS stream natively. And the pause event happened when switching background is triggered by browser:

![2017-09-25 11 49 07](https://user-images.githubusercontent.com/7620906/30792460-0f5276e6-a1ed-11e7-9908-09d9ef57f529.png)

The call stack only records the event handler without t

[2017-09-25 09:12] iomihai commented on #2406
Hello,

It looks to me the same. The streams loads occasionaly and there is an extra call to the 404 link I specified above.
BTW the lines to comment were `case "NetStream.Buffer.Flush":` and `_stream.inBufferSeek = true;` ?
I'm sorry but I cannot provide a sample stream. I know it is frustrating having untestable issues.
I am working a instruction list to build a environment (I will use a Ubuntu

[2017-09-25 10:15] JSteunou commented on #2404
Ok so the bug I was reporting was with 4.2.6 and still present with master (at least the last build)
Using Chrome on desktop
[code]

[code]

[2017-09-25 10:17] JSteunou opened #2407 "playsinline is not forwarded as youtube options"
Youtube handle `playsinline` as an option but that's also a `video` attribute. Would be nice to see it forwarded.

See this example

[code]

[code]

[2017-09-25 11:02] rafa8626 commented on #2404
Oh I see. I tested this with the full player, not with the shim. I'll check this and let you know

[2017-09-25 12:01] rafa8626 commented on #2404
@JSteunou please download the master branch and test this; I found out there was a typo in some of the validations to check if the original video had the muted attribute, so for Facebook, Vimeo and YouTube this was the case, but now it is solved. Please let me know

[2017-09-25 12:01] rafa8626 commented on #2407
@JSteunou Please download the master branch and confirm this is enabled now

[2017-09-25 14:24] JSteunou commented on #2404
Ok for youtube & vimeo, but dailymotion has the reverse issue. It starts always muted event when muted attribute is not present.

[2017-09-25 14:25] JSteunou commented on #2407
LGT :+1:

[2017-09-25 14:45] rafa8626 commented on #2404
Thanks I'll look at that and get it fixed

[2017-09-25 19:50] rafa8626 commented on #2407
Thanks. Closing this issue now

[2017-09-25 19:50] #2407 closed

[2017-09-25 19:51] rafa8626 commented on #2404
Please download the master branch and take a look at it. It should be fine now

[2017-09-25 20:19] iomihai commented on #2406
I have new information.
My player has 2 sources one HLS and a RTMP and I force the RTMP to be first by using `'renderers' : ['flash_video', 'native_hls', 'flash_hls', 'native_dash', 'flash_dash'],` to loar the RTMP stream first.
When I remove the HLS source the extra 40 call dissapears but the stream is still failing to load often.

I have configured a quick and dirty test environment. I use Ubunt

[2017-09-26 07:40] JSteunou commented on #2404
Works fine now, thank you!

[2017-09-26 08:19] JSteunou opened #2408 "controls attribute is not forward as option to renderer"
At least for youtube & dailymotion

[code]
I have to

[code]

* Youtube uses `controls: 0|1`
* Dailymotion uses `controls: true|false`

[2017-09-26 08:29] JSteunou commented on #2404
Sorry, there is an issue with dailymotion renderer when passing in options like `{dailymotion: {controls: true}}` it crash

[code]

The issue is around https://github.com/mediaelement/mediaelement/blob/master/src/js/renderers/dailymotion.js#L437 `params` is undefined.

That might be not linked to the commits around the `mute` issue (this issue). Do you want me to open another issue instead?

[2017-09-26 09:26] JSteunou opened #2409 "Dailymotion is broken under firefox linux / ubuntu"
Issue under Ubuntu, firefox 55 with mediaelement 4.2.6 & master

Very specific case, because it seems to work under Windows.

![capture du 2017-09-26 11-20-05](https://user-images.githubusercontent.com/2323127/30852657-ce6bc4d2-a2ac-11e7-8619-43860e1f02c9.png)

It says:

Going on http://www.mediaelementjs.com/ it works, but I dont know which version it uses.

[2017-09-26 09:30] JSteunou commented on #2404
And on the muted issue DM says as a warning in the console

[code]

[2017-09-26 11:13] rafa8626 commented on #2404
About the warning there's nothing I can do, since that's part of how Dailymotion handles the API, and I tried to properly mute the media, but it seems like it doesn't call the `apiready` event. Since it's just a warning there's nothing to worry about. About the other issue I just fixed it. Let me know if it works for you. Thanks for your help

[2017-09-26 11:14] rafa8626 commented on #2409
It uses 4.2.5, but that shouldn't be the issue since in last version I didn't modify anything related to Dailymotion. In the website I'm not setting any `type` attribute on the sources. It just tries to detect the media through their URL. Maybe that's why you don't see the error there

[2017-09-26 11:28] rafa8626 commented on #2408
Please download the master branch and confirm this is now available. I tested all renderers and the ones that had this missing were YouTube, DailyMotion and Facebook, but now they do. Thanks

[2017-09-26 11:29] rafa8626 commented on #2402
Closing this issue since change is in master branch and works in the usual scenarios. Thanks

[2017-09-26 11:29] #2402 closed

[2017-09-26 12:15] JSteunou commented on #2409
I do not set `type` either. I will search if there is some differences or specificities to firefox ubuntu

[2017-09-26 12:50] JSteunou commented on #2408
For youtube it works but not for dailymotion: controls was always hidden before, they are always shown now.

[2017-09-26 12:52] JSteunou commented on #2404
no crash on dailymotion with params, that's good.

about muted after apiready, should the `muted` option be passed as parameter to the player instead of being called after?

[2017-09-26 13:00] rafa8626 commented on #2404
No, I'm using a condition to ensure those values are set before the apiready event. But I've had issues trying to figure out why the apiready event is not fired

[2017-09-26 13:05] rafa8626 commented on #2408
My bad I forgot to add something in the renderer. It is fixed now; please download the master branch and confirm

[2017-09-26 13:05] rafa8626 commented on #2404
Can this issue be closed?

[2017-09-26 13:13] theomathieubhvr opened #2410 "Recent issue with Safari : running an audio without an user action"
Hi,

Since recently, when I try to run an audio element without and user action (after an HTTP call, for example), Safari fails (the audio does not run) and shows this error :

**_Unhandled Promise Rejection: NotAllowedError (DOM Exception 35): The request is not allowed by the user agent or the platform in the current context, possibly because the user denied permission._**

![screen shot 2017-09

[2017-09-26 13:23] theomathieubhvr commented on #2410
https://www.reddit.com/r/webdev/comments/71nkym/safari_11_has_a_major_change_to_web_audio_api/

https://webkit.org/blog/7734/auto-play-policy-changes-for-macos/

https://webkit.org/blog/6784/new-video-policies-for-ios/

[2017-09-26 13:30] JSteunou commented on #2404
sure!

[2017-09-26 13:30] #2404 closed

[2017-09-26 13:36] JSteunou commented on #2408
Waiting for the git push ;)

[2017-09-26 13:37] rafa8626 commented on #2408
Sorry I didn't realized that my credentials failed. Now it is pushed

[2017-09-26 13:41] iomihai commented on #2406
for rtmps add this at the end of nginx.config

[code]

[2017-09-26 14:00] JSteunou commented on #2408
Ahah dont worry, it happens.

All fixed :+1:

[2017-09-26 14:00] #2408 closed

[2017-09-26 14:44] JSteunou commented on #2409
Ok, I think I found the root. Firefox seems to try to download from the source (which is a link to dailymotion) even with `preload="none"`

[2017-09-26 14:56] JSteunou commented on #2409
that explains the errors that firefox could display about not being enable to read `x-video/dailymotion` format and sometimes `text/html` format, but I found that's not link to the player not being loaded. The major error is logged from DM script inside the iframe,

[code]

it miserably failed on `dmp.create` call

[2017-09-26 14:56] rafa8626 commented on #2409
Gotcha. This is something you may have to report directly to them, since it's not on my control

[2017-09-26 15:00] JSteunou commented on #2409
Yep, I think this is on their side.

[2017-09-26 15:00] #2409 closed

[2017-09-26 15:06] rafa8626 commented on #2410
Can you provide a Fiddle where I can see this issue please?

[2017-09-26 20:21] rafa8626 commented on #2406
I'll check this as soon as I have some free time

[2017-09-27 13:50] theomathieubhvr commented on #2410
It's not mine but this one shows the issue.

https://jsfiddle.net/outaTiME/m0fj0dLz/

After more research I still don't think this is an issue on your side, but something that safari (and chrome in january 2018) requires now.

So maybe you only need to add a disclaimer on your README ;)

[2017-09-27 14:21] theomathieubhvr commented on #2410
https://www.macworld.com/article/3206724/websites/how-to-stop-autoplay-videos-in-safari-11.html

Following this link you could be able to make fiddle.js autoplay its videos.

[2017-09-27 14:23] rafa8626 commented on #2410
So if this is not on the player, can you create a PR to state this on the README please?

[2017-09-28 17:04] JSteunou opened #2411 "Vimeo render always return false to muted"
I was checking the `muted` attribute on a vimeo video and mediaelement always return `false`, either the video is muted or not.

[2017-09-28 17:08] rafa8626 commented on #2411
Can you provide me a URL where I can see the issue, please?

[2017-09-28 17:15] rafa8626 commented on #2411
nevermind I think I found it. Please download the master branch and let me know

[2017-09-29 01:31] rafa8626 commented on #2410
Done. Note added on README. Thanks for pointing this and please star the project to support it

[2017-09-29 01:31] #2410 closed

[2017-09-29 07:45] JSteunou commented on #2411
Yep, good to me!

[2017-09-29 07:45] #2411 closed

[2017-09-29 14:38] JSteunou opened #2412 "playing event does not trigger with vimeo"
`play` is triggered though

[2017-10-02 02:10] nehloo opened #2413 "setCurrentTime() error if video never played"
I'm getting these errors if I attempt to setCurrentTime() for a video that never ever started playing. The error is not thrown if the video previously played. Any ideas please?

Code causing the error:
`player.setCurrentTime(intVal); // where intVal is an integer representing seconds`

Errors:
`TypeError: a.g.o().toFixed is not a function. (In 'a.g.o().toFixed(3)', 'a.g.o().toFixed' is undefined)

[2017-10-02 02:34] rafa8626 commented on #2412
Please download the master branch and confirm the playing event is being triggered now. Thanks for reporting this

[2017-10-02 07:34] JSteunou commented on #2412
Triggered, sure, but not as precise than youtube or dailymotion. For example, setting `muted` after `playing` event does not work some times because it's not really in playing state.

[2017-10-02 07:53] JSteunou commented on #2412
I have this bug for both dailymotion & vimeo. If you load & start & video as muted, then pause, than play, 50% of the time, setting `muted` in the `playing` event callback does not work. I had to cheat with a setTimeout which is ugly.

[2017-10-02 08:11] JSteunou commented on #2412
I think I found out why. Setting some attribute like `muted` is in fact async. You might consider returning the Promise, because right now it is very difficult to know when the *commands* like play, pause, muted, ... are actually applied. I have to listen some event then stop listening it right after. Having the promise in return of each action would be more effective.

[2017-10-02 10:20] rafa8626 commented on #2412
Can you share a fiddle of what you are trying to achieve so I can have a test reference to fix this please?

[2017-10-02 10:21] JSteunou opened #2414 "Return promise for each async action"
Use case:

calling `play` return nothing so in order to know when the media is actually playing, we have to add an event listener just before calling `play` and remove it in the callback itself. Same thing for a lot of action like pause, muted, ...

example

[code]

This is quite ugly and old school. Would be very nice to be able to

[code]

I think this could be quite easy to achieve as a lot of

[2017-10-02 10:24] JSteunou commented on #2412
I made a more focused issue #2414 to explain the use case.

I consider this one ok as the 1st demand is solved ;)

[2017-10-02 10:24] #2412 closed

[2017-10-02 10:34] rafa8626 commented on #2414
In build/mediaelement.js, add on line 884 this:
[code]
and then, in the `else` code following that line, add a `return` so you will have the `return t.mediaElement.renderer[methodName](args);` for the `else` statement. See if that does the trick for you and then I'll push the code to the repo. Thanks

[2017-10-02 10:43] JSteunou commented on #2414
Thank you for the hint, I will try ;)

[2017-10-02 10:57] rafa8626 commented on #2414
I think I missed something else. Try also the code above for `assignMethod`:
[code]

[2017-10-02 10:57] rafa8626 commented on #2414
Note the return on `triggerAction` method. I think I missed that

[2017-10-02 12:46] JSteunou commented on #2414
I tried, I encounter some issues:

1. Youtube return a object which is not a promise (the player?)
2. Dailymotion return nothing
3. When the player is not ready, you are pushing action to a stack which return nothing. If each action is a Promise, maybe the stack should start with a `Promise.resolve` and chaining all actions with `.then` instead of a simple array push.

I know this is quite a chang

[2017-10-02 13:01] rafa8626 commented on #2414
Yeah that may require more work than I can handle right now. If you wanna submit a PR I'd be happy to review it

[2017-10-02 13:05] JSteunou commented on #2414
Same for me, I was working on a poc, but real life come up sooner than expected :(

[2017-10-03 15:39] bradyvercher opened #2415 "Global player configuration"
We're using MediaElement.js in several WordPress plugins and themes and need to register features for any player that exists on a page. With version 2.2.0, we were able to do something like this to proxy the `init()` method and register new features:

[code]

Now that 4.x is bundled in WordPress 4.9, that method is no longer available and it doesn't look like it's possible to configure players glo

[2017-10-03 20:58] cinematic6436 commented on #2040
Thanks for coming up with this! I noticed the file doesn't immediately play -- there's a 1-2 second pause before the audio begins. Can anything be done to fix this?

[2017-10-04 00:24] phirschybar opened #2416 "Switching src works fine in IE, FF, Chrome but fails in Safari"
Media element is great. Thank you for the amazing work.

I have the following:

**Set up:**
[code]

Switch on click:
[code]

In Safari's console I see that the track attempts to load but I get the error "An error occurred trying to load resource".

[2017-10-04 00:50] phirschybar commented on #2416
update: I got this working by using `player.media.load()` instead of `player.load()`

[2017-10-04 00:50] #2416 closed

[2017-10-04 20:15] C0nw0nk commented on #2199
I did <3 :)

[2017-10-04 20:22] rafa8626 commented on #2415
OK I'll take a look at this soon. Thanks for reporting this

[2017-10-04 22:18] bradyvercher commented on #2415
Looks like that took care of it. Thanks for the quick turnaround on this!

[2017-10-04 22:19] rafa8626 commented on #2415
Thanks for reporting this. Closing this issue and please star the project to support it

[2017-10-04 22:19] #2415 closed

[2017-10-06 14:21] cokol5 opened #2417 "Can't load video on ipad [Youtube]"
Browser: Google Chrome last, Safari

Players affected: YouTube
http://www.mediaelementjs.com/ , at Youtube video tab, on iPad Pro 9.7 when clicking on Play button, player can't load the video and start playing it.

[2017-10-06 14:39] rafa8626 commented on #2417
I tried on the Mac OS emulator with that iPad Pro 9.7. Clicking the button worked for me
<img width="417" alt="screen shot 2017-10-06 at 10 38 49 am" src="https://user-images.githubusercontent.com/910829/31283075-99b5fc84-aa82-11e7-9e4b-bb5be70b7b8d.png">

[2017-10-06 16:44] cokol5 commented on #2417
on pc - its ok, check on device

[2017-10-06 17:23] rafa8626 commented on #2417
Unfortunately I don't have that device

[2017-10-06 19:18] rafa8626 commented on #2417
If you can plug your device and provide the logs from Safari Console that could help to see what's the issue

[2017-10-06 19:21] rafa8626 commented on #2413
That doesn't look like MEJS code. Is this specific to a renderer? Do you have a Fiddle to reproduce the error?

[2017-10-10 09:12] lucash opened #2418 "iOS with native controls: setPoster() leads to error"
If an iOS device is used and the option iPhoneUseNativeControls or iPadUseNativeControls (depending on the device) is set to true, calling the method setPoster() leads to an error. This is due to the fact that this method uses t.container which is not defined if native controls are used.

I will propose a fix for this issue.

[2017-10-10 10:59] #2418 closed

[2017-10-10 15:30] te-online opened #2420 "Listen to error event while loading HLS livestream"
When using Media Element Player to load a HLS livestream, I used to do

[code]

This doesn't work anymore. (Worked in v4.2.3, doesn't work in v4.2.6).

The stream is only available at certain times. If it's unavailable I want to display a message instead of the player.

Also using the `error` function of the constructor doesn't work for me. It just doesn't get executed. I see however an error in t

[2017-10-10 21:03] rafa8626 commented on #2420
Can you provide a Fiddle where I can see the issue please?

[2017-10-11 02:16] rafa8626 commented on #2420
What I've seen more often is that you attach the events to media in the `success` callback:
[code]

[2017-10-11 09:20] te-online commented on #2420
Thanks for your response and patience.
Here are two examples that hopefully show the difference.

Current version: https://codepen.io/te-online/pen/JrZWqy
Older version: https://codepen.io/te-online/pen/JrZWqy

For me (Chrome, macOS) the old version fires the error event, the new one doesn't seem to fire any of the events. I also tried to add the event into the success callback, like you proposed.

[2017-10-11 10:38] rafa8626 commented on #2420
@te-online  Got it. Many things were fixed in 4.2.6 but I forgot to add one last conditional to trigger the error. Please download the master branch and test this again

[2017-10-11 12:16] te-online commented on #2420
@rafa8626 Thanks for your quick response. Works again with master! 🎉

[2017-10-11 12:16] #2420 closed

[2017-10-12 10:26] vijaykumarchettiar opened #2422 "how can configure the adaptive bit rate video"
how the player can be configure for HLS adaptive bit rated video playback which pick the lowest or highest or medium source url base on the users's connectivity speed or bandwidth and device screen?
is this medialementjs support adaptive bit rated videoplay of hls?

[2017-10-13 02:35] rafa8626 commented on #2422
If you use in the player configuration:
[code]
might help. This was taken from https://github.com/video-dev/hls.js/blob/master/doc/API.md

Please star the project to support it

[2017-10-13 02:38] rafa8626 commented on #2413
Closing this issue since no response has been provided in a week. If you like this to be reopened please let us know. Thanks

[2017-10-13 02:38] #2413 closed

[2017-10-13 02:38] #2422 closed

[2017-10-13 15:43] bradyvercher opened #2423 "Time format doesn't allow for dropping the leading zero for minutes"
Older versions of MediaElement.js defaulted to `m:ss` for the time format, so media under 10 minutes wouldn't display a leading zero for the current time and duration. The leading zero appears to be a default now and it's not possible to drop it by setting `{ timeFormat: 'm:ss' }`.

[2017-10-14 19:34] matotiker opened #2424 "media.generateError generates 2 events: bug or feature?"
var player_container=$('#video').mediaelementplayer( {
                      //your code here
                      success: function (media, originalNode,instance) {
                         //code here
                        media.generateError("generated error");
                      },
                      // fires when a problem is detected
                      error: function (e) {

[2017-10-15 02:55] vijaykumarchettiar commented on #2422
Thanks for the reply to queries/clarification. yes sure i go through it.

[2017-10-15 16:45] rafa8626 commented on #2424
The method `generateError` gives the real command to create both an error message in console and in the UI. So it is expected. I will check why error.message comes undefined but if you have a Fiddle to check this it would be helpful

[2017-10-15 18:29] rafa8626 commented on #2423
I’ll check this and let you know when ready. Thanks

[2017-10-16 02:50] allayli commented on #1642
@kblok Hi, is typescript definitions available now?

[2017-10-16 04:13] rafa8626 commented on #2423
@bradyvercher Please check PR https://github.com/xwp/wordpress-develop/pull/282 and test again. This should now include the option to use `timeFormat: 'm:ss'`. Thanks for reporting this

[2017-10-16 07:14] KhodyrevDS opened #2425 "Control bar disappears when mouse is over it"
It's will be good if control bar will be not disappear when mouse over it

[2017-10-16 11:18] rafa8626 commented on #2424
I have fixed the `undefined` error coming from `error` callback. Please download the master branch and confirm this please. Thanks and please star the project to support it

[2017-10-16 11:20] rafa8626 commented on #2417
Closing this issue since no answers have been posted in more than a week. If you would like this to be reopened, please let us know. Thanks and please star the project to support it

[2017-10-16 11:20] #2417 closed

[2017-10-16 14:08] davidyeiser commented on #2423
We have the same problem with leading hours. `timeFormat: 'h:mm:ss'` stills gives us `01:21:06` for example. Version 4.2.6, using with React.

[2017-10-16 14:13] davidyeiser opened #2426 "Add active class when media is playing"
I have a scenario in which I'd like to display certain control properties only when the media is playing. It would be nice to have a class that is applied to `.mejs__container` when the media is playing. e.g. `.mejs__active` I don't know how hard that is to do? Anyways, thanks for the great player, it has served us well!

[2017-10-16 14:43] rafa8626 commented on #2423
@davidyeiser Download the master branch in this project and let me know if it's fixed, please

[2017-10-16 14:55] rafa8626 commented on #2426
Just use an event to do this:
[code]
Please star the project to support it. Thanks

[2017-10-16 14:55] #2426 closed

[2017-10-16 15:41] te-online commented on #2420
Just one more question: Do you know when the next release containing this fix will be available?

[2017-10-16 15:44] bradyvercher commented on #2423
This appears to be working for my use case. Thanks!

[2017-10-16 15:56] rafa8626 commented on #2420
Once I have wrapped up work for WordPress, I'll release all these new changes. Probably by the beginning of November

[2017-10-16 15:57] rafa8626 commented on #2423
@bradyvercher Thanks for testing this. Closing this issue

[2017-10-16 15:57] #2423 closed

[2017-10-16 16:19] te-online commented on #2420
That's great news :-) Thank you!

[2017-10-16 16:19] rafa8626 commented on #2423
Great @davidyeiser glad it worked for you

[2017-10-17 11:44] kvz opened #2427 "Using mediaelement 👌"
Hey, at Transloadit we're big fans of Mediaelement. Let me know if you'd appreciate a PR that adds us to the endorsement section?

[2017-10-17 13:27] davidyeiser commented on #2426
Perfect, that did the trick! Thank you very much for the helpful response.

[2017-10-17 13:32] rafa8626 commented on #2427
@kvz Yes PRs are always welcome. Unfortunately I'm short of time but post it and I'll review as soon as I can. Thanks and please star the project to support it

[2017-10-17 13:32] #2427 closed

[2017-10-17 14:22] casper opened #2429 "Subtitle vertical position in fullscreen mode"
When watching in fullscreen the subtitles are at the bottom of the screen instead of at the bottom of the video itself. On widescreen movies it makes the subtitles appear far below the video frame itself.

How can I make the subtitles appear at the bottom of the video frame (instead of bottom of the screen) when in fullscreen?

[2017-10-17 16:53] rafa8626 commented on #2429
You may need to increase the `bottom` CSS property in the captions-layer. That would be my first guess

[2017-10-17 18:02] casper commented on #2429
The offset needs to be different depending on screen resolution and movie resolution. So you can't really hard-code a static offset :-/ The offset also needs to be different in full screen mode vs. windowed mode.

However I managed to create a quick and dirty fix for this. I'm putting the code here, in case someone else stumbles on this problem. This seems to work, at least on my browser, and trie

[2017-10-17 21:24] Luke-SF commented on #2309
This issue still exists, tested on Opera 41 on Ubuntu 16.04.
I see no js errors just error loading:
http://db3.indexcom.com/bucket/ram/00/05/64k/05.m3u8

on the http://www.mediaelementjs.com example.

[2017-10-17 21:45] JamesELP opened #2430 "Initial Setup with configuration issues"
I am using the Demo to figure out how to setup the MediaElement.  Previously, Flash was the primary method to display video MP4 and audio MP3.  Now that Flash is going away, I have been researching the best option to use to replace Flash.  I have tried following the documentation but have no luck figuring out a few concepts to work.  I used the demo to modify to try to complete the objectives.

1.

[2017-10-18 16:19] JSteunou opened #2431 "mediaelement.remove does not put back the original video element"
When destroying the mediaelement, I was expecting having back the original `<video>` element. Would that be possible?

[2017-10-18 16:26] JSteunou commented on #2431
I did it in my code, but if that could be inside mediaelement, that would be very cool :)

[code]

[2017-10-19 12:27] rafa8626 commented on #2431
Thanks I’ll take a look at this as soon as I can

[2017-10-19 13:27] JamesELP commented on #2430
I figured out #1 & 2, #5 is the most important aspect remaining.  How can I implement the transcript button to call a function in the controls on the demo?

[2017-10-20 01:45] sistematico commented on #1321
The parameter `forceLive` replace this code?

[2017-10-20 14:07] lucash opened #2432 "Using width of parent element and adapting height to it"
I would like to achieve that the mediaelement uses the full width that is available in the parent element. The height should be automatically adapted so no black borders are visible and the complete video is visible.

With older versions of mediaelement this was possible by setting css `width` and `height` of the `<video>` element to `100%` and setting `enableAutosize = false`. This does not work

[2017-10-20 17:06] rafa8626 commented on #1321
No it doesn’t

[2017-10-20 17:07] rafa8626 commented on #1321
ForceLive is mostly to avoid displaying the controls’ progress bar on a live source

[2017-10-22 15:43] rafa8626 commented on #2432
Stretching as none and the enableAutosize as false must help you; if not please provide a Fiddle to check your issue and I’ll try to check it as soon as I can

[2017-10-22 15:55] rafa8626 commented on #2425
This is standard in the video players, including VideoJS. It can be explored but definitely is a feature, not a bug

[2017-10-22 15:56] rafa8626 commented on #2429
If you can indicate how did you solve this, I could check what could be done in MEJS. Provide a Fiddle or code snippet and I'll check it as soon as I can. Thanks

[2017-10-22 15:57] rafa8626 commented on #2424
Closing this issue since change has been merged into master branch. Thanks and please star the project to support it

[2017-10-22 15:57] #2424 closed

[2017-10-22 16:05] rafa8626 commented on #2430
Sorry for the late response @JamesELP; since you have the answers for 1 and 2, I'll answer the rest:

Yes, it can. Just override the CSS `background` property in the `.mejs__container` selector

If you can indicate a way the documentation could be more clear (or even present a PR for it) please let me know

Yes it can; if you to https://github.com/mediaelement/mediaelement-plugins and you check th

[2017-10-22 16:10] rafa8626 commented on #2431
In the `src/js/player.js` code (which belongs to the mediaelement-and-player.js file), lines 1970-1973 and 2007 this is done. In the standalone version there's no `destroy` or `remove` method. If you can indicate which one are you using so I can verify this I'd appreciate it.

[2017-10-22 16:11] #2430 closed

[2017-10-22 16:13] rafa8626 commented on #2432
Oh I see what's going on. Something is bypassing the stretching and setting the width of the container ahead of time. I'll check this and let you know when ready

[2017-10-22 16:19] casper commented on #2429
This is how I fixed it on Plyr. Basically in fullscreen mode I calculate the shift offset `sh` based on screen height and video frame height, and then monkey patch the CSS style to move the subtitles upwards. However this probably needs to be tested on multiple resolutions to make sure it's working properly. So far on my two monitors it seems to be working OK:

[code]

[2017-10-22 16:45] rafa8626 commented on #2432
Have you used `stretching` as `responsive` or `fill` for your task?

[2017-10-22 16:47] rafa8626 commented on #2432
I used the demo file and added to the `#container` selector a specific width and I didn't see any issues with it

[2017-10-22 16:57] rafa8626 commented on #2429
@casper as a last request, can you provide screenshots of what you are getting currently in MEJS vs what you want to achieve please? Having a visual will help me to see the real result you are expecting. Thanks and please star the project to support it

[2017-10-22 17:22] casper commented on #2429
This is with Plyr, but it works essentially the same with MEJS. It seems the `video` element by default always put the subtitles at the bottom of the current container, regardless of the video frame size itself.

Here is without the patch, full screen:

![image](https://user-images.githubusercontent.com/25386/31864420-be6d352a-b765-11e7-9969-d94690353b5a.png)

...and with the patched CSS, the subt

[2017-10-22 17:59] rafa8626 commented on #2429
Gotcha. I see what you mean. I’ll check what can be done for this

[2017-10-22 20:57] JSteunou commented on #2431
In the standalone version the remove method is the node element native one. I dont know if it can be overridden.

[2017-10-22 21:11] rafa8626 commented on #2431
No you must be able to create your own method but the standalone doesn’t have a method for it

[2017-10-22 21:12] rafa8626 commented on #2431
It may be tricky to do that since the whole player takes the standalone and all the methods for the player itself. I’m not sure this is something I’d integrate as part of the core

[2017-10-22 21:14] rafa8626 commented on #2429
Do you have a test media URL for this? So I can confirm it has been integrated properly

[2017-10-22 22:28] casper commented on #2429
You can use media on this page, as it's suitably in wide screen format and includes captions:
http://iandevlin.github.io/mdn/video-player-with-captions/

Media link:
http://iandevlin.github.io/mdn/video-player-with-captions/video/sintel-short.mp4

VTT captions:
http://iandevlin.github.io/mdn/video-player-with-captions/subtitles/vtt/sintel-en.vtt

[2017-10-23 03:30] rafa8626 commented on #2429
@casper Please download the master branch and let me know if it works for you. Thanks

[2017-10-23 10:43] rafa8626 commented on #2431
@JSteunou Please download the master branch and test the `destroy` method I have integrated; I think it can't be overridden properly the `remove` method without hacking the code a lot, so I decided to integrate just a new method. Let me know if it worked for you and thanks always for your suggestions and testing

[2017-10-23 10:52] rafa8626 commented on #2406
@iomihai I'll try to check this issue this week and tell you my findings. Thanks for your patience

[2017-10-23 13:37] JSteunou commented on #2431
Works well!

I would just call `remove` before `removeAttribute` to avoid update the node element while still being attached and thus maybe trigger reflow / repaint.

[2017-10-23 13:39] JSteunou commented on #2431
Also I dont think the `cloneNode` is very useful

[2017-10-23 13:39] rafa8626 commented on #2431
I even think if we just destroy it we won't need to remove the ID, or is there a particular reason for it? The cloneNode is to remove all event listeners

[2017-10-23 13:45] rafa8626 commented on #2431
If you agree with this, I'll just remove the `removeAttribute` and close the issue

[2017-10-23 15:28] iomihai commented on #2406
Thank you for your support!
Version 4.2.3 works fine for me but it would be nice to be able to update in the future.

[2017-10-23 15:42] casper commented on #2429
Awesome. This now works in full screen, however in windowed mode, when there are black borders in the container, it doesn't readjust the subtitles.

I don't know why, but Plyr autosizes the height in windowed mode, so there are never black borders. MEJS seems to respect the `width` and `height` of the `video` element, which is fine I guess, but it produces black borders when `height` is bigger tha

[2017-10-23 15:47] rafa8626 commented on #2429
I see. I’ll check what I can do to mitigate this issue.

[2017-10-23 17:15] JSteunou commented on #2431
You have to remove the id attribute, because the original node does not have one. MediaElement add it.

[2017-10-23 17:17] rafa8626 commented on #2431
Oh gotcha I see what you are saying. So basically this is all ready, correct?

[2017-10-23 20:34] lupos opened #2433 "feature: can not dynamically update subtitles"
I may just be missing some docs some where because I found what seems to be relevant code. So pardon in advance if this is already covered somewhere.

Anyway I am using 1 player with multiple videos. I have created my own playlist and updating the video source works fine but I can't seem to find a way to actually update the subtitles successfully.

[2017-10-23 20:34] JSteunou commented on #2431
It seems so. Good job !

[2017-10-23 20:34] #2431 closed

[2017-10-23 20:55] rafa8626 commented on #2431
Thanks as always for the feedback

[2017-10-24 00:32] rafa8626 commented on #2429
Just for clarity what do you mean by `windowed mode`?

[2017-10-24 00:54] dknell opened #2434 "Soundcloud iframe visibility"
I'm curious why the soundcloud renderer sets the iframe style to `visibility: hidden`. I have the following video tag to load the soundcloud video:

[code]

And I register the mediaPlayer api like this:

[code]

The new iframe is created by mejs, but it is hidden. I can set it to `visibility: visible` and the soundcloud player shows up and works perfectly.

I see in the source that it is being set

[2017-10-24 08:44] KhodyrevDS opened #2435 "Empty error message with dashjs"
When assignMdashEvents is called I have variable "e"

[code]

assignMdashEvents function is called as

[code]
So we have no any message in the console

[2017-10-24 11:34] Instagit commented on #2433
You can remove or add elements from the list **mejs__captions-selector-list**.

[2017-10-24 12:49] lupos commented on #2433
@Instagit thanks so much for the answer. can you possible give me a bit more of an example of how that would work? I'm logging out the instance but I'm unsure how to find/access the method.

[2017-10-24 13:09] Instagit commented on #2433
Yeah, I don't think there's a method for that, but you can build the elements manually. Shouldn't be too difficult with jQuery or some library.

Maybe you can use detectSubs() from [this file](https://github.com/nextcloud/files_videoplayer/blob/mediaelement/js/viewer.js#L67) as guidance. I use it to detect subtitles and build a track list from them, but you can modify it to build list elements ins

[2017-10-24 13:09] casper commented on #2429
Basically anything not in full screen (normal browser window).

[2017-10-24 14:41] thiendang opened #2436 "How to add option download in MediaelementJs"
I want to add download audio in MediaelementJs. When users listen to audio, they can download the audio to their computer. How do I can add this feature? Thanks

[2017-10-24 15:19] rafa8626 commented on #2434
The intention was to use with the audio tag, not with video; it can be worked out so also the video tag used it. Thanks for pointing that out

[2017-10-24 15:37] rafa8626 commented on #2429
@casper Ok please download the master branch and let me know if it works for you on all your scenarios. Thanks

[2017-10-24 15:41] rafa8626 commented on #2435
The `assignMdashEvents` must have this structure now, where you get the console.error:
[code]
If not you have an old version of the package

[2017-10-24 15:48] rafa8626 commented on #2436
If you check https://github.com/mediaelement/mediaelement-plugins and check the src folder, you will have an example of how to add it on the control bar; your case is very simple, so I'd recommend to check Stop or Loop features. Please star this and the plugins projects to continue supporting them. Thanks

[2017-10-24 15:48] #2436 closed

[2017-10-24 15:56] rafa8626 commented on #2434
@dknell Please download the master branch and confirm you have the expected output with Soundcloud. Thanks for reporting and please star the project to support it

[2017-10-24 17:34] casper commented on #2429
Now it works in windowed mode too, but in full screen they moved up too high. Perhaps it's now adding the windowed offset to the full screen offset. The titles are now 2x higher in full screen. It was better in the previous version.

[2017-10-24 17:35] rafa8626 commented on #2429
Gotcha. I'm currently looking at it to see what's the issue. Thanks

[2017-10-24 17:46] lupos commented on #2433
so if i come in on a video that doesn't have subs that element doesn't exist to append to.

i found [this](https://github.com/mediaelement/mediaelement/issues/1415) and it seems like the user was attempting something similar. I'm just trying to figure out how to update the subs. I know its not built into native players which is exactly why it's the sort of thing a library like this should have in

[2017-10-24 20:03] lupos commented on #2433
ok so! I'm a jerk. Sorry last minute issues for an impending launch. Shame on me.

Anyway for anyone else ever looking just tossing the new tracks and adding new ones (html elements) and then calling `player.rebuildTracks()` does work, just not when you have a type other than "caption" or "subtitle" which i did. Yay user input.

So I guess feel free to close this. Thanks again for the help!

[2017-10-24 21:31] rafa8626 commented on #2429
I think I finally got it. I found out a bug when checking the native dimensions; please check the master branch again and let me know. Thanks

[2017-10-24 21:31] rafa8626 commented on #2432
I found a bug when checking the native dimensions, so the responsive dimensions now should be properly set now; please download the master branch and let me know using the `stretching` as `responsive`

[2017-10-25 03:02] thiendang commented on #2436
Dear Mr.Rafael Miranda,

Thanks you very much for supporting me, but I have a question: Why I not
use *mediaelement-and-player.min.js *in my project on Safari. I have
attached the image below, can you help me?
​

[2017-10-25 04:21] KhodyrevDS commented on #2435
it's true. But I'm talking about
[code]

[2017-10-25 04:23] rafa8626 commented on #2435
If you provide me a URL to check this I’ll try to provide the whole structure that you are looking for

[2017-10-25 06:12] KhodyrevDS commented on #2435
https://dev2-portal.videonotion.com/web/guest/preview?v=cdb5e00f-d5dc-4cc2-8b84-2970cf246ce5

[2017-10-25 09:10] lucash commented on #2432
Sorry for the late answer. The solution for the bug you found fixed my problem. Many thanks for your quick and great help!

[2017-10-25 09:15] #2432 closed

[2017-10-25 10:45] rafa8626 commented on #2435
Please download the master branch and verify the information you expect is correct. FYI, in your dash stream there were no errors at all (at least on my test) it was just a matter or removing the data to get everything working. Please let me know if it works for you now. Thanks

[2017-10-25 10:46] rafa8626 commented on #2432
You are welcome. Glad it solved your issue. Please star the project to support it

[2017-10-25 11:53] rafa8626 commented on #2436
I don’t see any images to help you

[2017-10-25 11:53] #2433 closed

[2017-10-25 12:18] casper commented on #2429
Nope :-/ Now it's back to the original behavior in windowed mode (subtitles at bottom of container), and in full screen the subtitles are on top of the boundary between the video frame and the black bars.

[2017-10-25 13:14] rafa8626 commented on #2429
This is what I see in normal mode (note that there are no more black lines in your video, since that was the last issue I found out in the plugin)
<img width="814" alt="screen shot 2017-10-25 at 9 11 14 am" src="https://user-images.githubusercontent.com/910829/32000417-98f64588-b964-11e7-8942-060184fa004c.png">
and this is what I see on full-screen
<img width="1440" alt="screen shot 2017-10-25 at

[2017-10-25 13:46] casper commented on #2429
That looks great, however the one I'm pulling from github right now behaves like this:

Windowed:

![image](https://user-images.githubusercontent.com/25386/32001978-fc8f4bfa-b9a3-11e7-9b98-e7a6f0e6037d.png)

Full screen:

![image](https://user-images.githubusercontent.com/25386/32001993-07738ad6-b9a4-11e7-9b18-0eb40ec2b206.png)

[2017-10-25 13:47] rafa8626 commented on #2429
What I showed you is what I pushed last night. If you can share the URL you are using now, I could check what's the issue with your setting

[2017-10-25 13:50] casper commented on #2429
http://multivac.dyndns.org/mejs/

[2017-10-25 13:55] rafa8626 commented on #2429
Oh. You are not assigning any `max-width: 100%` or `height: 100%` for responsiveness; the things I fixed apply on that scenario only given that you are hardcoding the dimensions of the video. By default, MEJS has a `stretching: auto`, which determines if your media is fluid or not, if not it will set the dimensions you indicated but no further calculations will be done; if fluid it will adjust eve

[2017-10-25 13:56] rafa8626 commented on #2429
I may try to adjust the captions in this scenario though, so let me take a look at it and let you know

[2017-10-25 13:59] casper commented on #2429
Ok I see. Yeah it would be great if it would cover the other scenarios too.

[2017-10-25 14:34] Amritesh opened #2437 "Video loading though buffered."
I am using chrome 61.0.3163.100 on my mac to record a playing video tag using captureStream.

Video alters between readyState 1 and 4 even though I have played through it once also in case of local video. Is it because of video decoding at browser side and if so is there any api I can use to check  how much video has been decoded till now.

[2017-10-25 17:00] rafa8626 commented on #2437
I think your case is more at the browser side and not the plugin. In the API we don't manage any of those states. Please star the project to support the project

[2017-10-25 17:00] #2437 closed

[2017-10-26 02:11] thiendang commented on #2436
Oops, I had send it in email, I used code below:
`<!DOCTYPE html>
<html>

<script src="https://code.jquery.com/jquery-2.2.4.min.js""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.6/mediaelement-and-player.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.6/mediaelementplayer.min.css" />

<body>
<audio controls cl

[2017-10-26 02:15] thiendang commented on #2436
Oops, I had send it in email, I used code below:

*<!DOCTYPE html>*
*<html>*
*<script src="https://code.jquery.com/jquery-2.2.4.min.js
<https://code.jquery.com/jquery-2.2.4.min.js>""></script>*
*<script
src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.6/mediaelement-and-player.min.js
<https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.6/mediaelement-and-player.min.js>"></script>*

[2017-10-26 04:31] rafa8626 commented on #2436
OGG is not supported in Safari at all. You must use either MP3 or streaming format such as HLS

[2017-10-26 08:07] KhodyrevDS commented on #2435
Now it's ok

[2017-10-26 08:35] janjouketjalsma opened #2438 "Youtube Iframe embed missing playlist parameter for looped videos."
We have seen an issue with the youtube embed code that is being generated when the "loop" parameter is used. It does not include the "playlist" parameter in the URL. This is an issue because:

https://developers.google.com/youtube/player_parameters#loop

I'm not exactly sure where to incorporate this in the code so no pull request yet.

[2017-10-26 10:11] #2435 closed

[2017-10-27 09:08] Instagit opened #2439 "Poster scaling changes before playback"
Hi,
the poster normally stretches to fill the player element. When you click play, between the click and the start of the video, the scaling disappears and the image displays with the original aspect ratio. You can observe this on the [demo page](http://www.mediaelementjs.com/) when the video takes a second to load.

When the aspect ratio is off by more than a few pixels, it can lead to things lik

[2017-10-27 10:43] rafa8626 commented on #2439
This week I fixed an issue related to dimensions. Can you download the master branch and indicate if the issue persists still please?

[2017-10-27 10:47] rafa8626 commented on #2438
I'm not sure MEJs supports the AS3 player, it uses iframe API. So I'm not sure this is an issue with the `loop` parameter in the current version of the player.

[2017-10-27 10:48] rafa8626 commented on #2438
Please star the project to support it. Thanks

[2017-10-27 12:32] janjouketjalsma commented on #2438
I have seen this in the player that appeared in the iframe embed. As I understand from the linked page the iframe embed does not nescesarily load one specific type of player.

See complete note about the "loop" parameter:
https://developers.google.com/youtube/player_parameters#loop

At the moment the generated iframe code does not loop on certain devices. On my desktop it loops fine but on a Raspb

[2017-10-27 13:23] rafa8626 commented on #2438
I see I’ll add it soon and let you know so you can test again.

[2017-10-27 13:42] rafa8626 commented on #2438
@janjouketjalsma Please download the master branch and confirm this is working as expected. Thanks

[2017-10-28 15:35] eliasmerzhaeuser opened #2440 "hidevideocontrolsonload not working"
Hello,
I am trying to hide the video controls, but the player weirdly displays the controls two times and I can't play the video at all.

I tried it with this code:
$('video,audio').mediaelementplayer({ hideVideoControlsOnLoad: true });

Cheers

[2017-10-30 04:14] sistematico commented on #1321
Thank you very much!

[2017-10-30 09:39] janjouketjalsma commented on #2438
In master (fd0e0cd51c870a91dc4d96dc3afd1284eeeecea8) it is now working as expected. Thanks!

[2017-10-30 10:23] rafa8626 commented on #2438
You are welcome. Closing this issue now. This change will be released in 4.2.7 in the next 2 weeks

[2017-10-30 10:23] #2438 closed

[2017-10-30 12:34] adamsargant opened #2441 "No Flash fallback and error thrown in Win10N IE11 and Edge"
When trying to play a video/audio file back in Windows10N (with no Media Feature Pack installed) in either IE11 or Edge, I was anticipating that media element js would fallback to flash if available, but it appears to be throwing a javascript error

In IE11 and Edge, using the media elementjs demo page for example, the console reports
`SCRIPT126: The specified module could not be found.
mediaeleme

[2017-10-31 07:22] kieusonlam opened #2442 "Need help using with Vue.js"
Hi everyone,

I don't know if I allow to post question here. Anyone here using Vue.js? I'm trying to create a components with Media Element but I got this error "MediaElement is not a constructor". Here is my file
[code]
any idea? By the way: I'm using Nuxt.js. I did try to require something like `require('mediaelement/full')`

[2017-10-31 12:29] rafa8626 commented on #2442
Depends if which version you are using but as far as I know you don’t need to use the MediaElementPlayer = require(...) since that might be overriding the MediaElementPlayer object

[2017-10-31 12:30] rafa8626 commented on #2440
I haven’t been able to reproduce this. The controls remain hidden until they detect that the mouse is over the area. Once the mouse is over the media, you will start to see the controls. Please star the project to support it. Thanks

[2017-10-31 12:31] rafa8626 commented on #2434
Closing this issue since change is now on master. Thanks and please star the project to support it

[2017-10-31 12:31] #2434 closed

[2017-10-31 12:52] eliasmerzhaeuser commented on #2440
Hello Rafael,

the controls are hidden in the beginning the way I tried it, but I cannot play the video anymore -  and there is still the opacity on the lower bar of the video, where the controls are. I doesn’t work on any browser.. I just want to hide the controls when the video is first loaded. The hover function when playing the video works normally and should stay.

This is how it looks on Chr

[2017-10-31 12:57] rafa8626 commented on #2440
You have a problem of nested elements. You need to check how you are calling MEJs on your side, because that's the reason you are having this behavior. See attached screenshot
![screen shot 2017-10-31 at 8 55 55 am](https://user-images.githubusercontent.com/910829/32224838-6b713424-be19-11e7-8cf7-393afe4be82b.png)

See the repetition of elements inside the `mediaelementwrapper` element

[2017-10-31 12:59] kieusonlam commented on #2442
@rafa8626 yes that is the problem. Thanks for your help 👍

[2017-10-31 12:59] #2442 closed

[2017-10-31 12:59] rafa8626 commented on #2440
I think your problem is that you are using the `mejs__player` class and also you are instantiating the player in latter JS code. Just use the class if you want and then in the markup of each video tag add `data-mejsoptions={hideVideoControlsOnLoad: true}`

[2017-10-31 13:00] rafa8626 commented on #2442
You are welcome. Please star the project to support it

[2017-11-01 08:49] thadino opened #2443 "using Vue.js i cant get it to work properly?"
Hello everyone,

I am not sure if i can post this here. Is there anyone who knows how i can get the currentTime of the a video's playtime using Vue.js?, i've tried alot of things but i just cant seem to access the videoplayer again after i've set it up once with this code:

``
<template>

    <div id="asd" style="background-color:black; height: 10%; width:100%">
      <video
        id="videoPlaye

[2017-11-01 15:44] rafa8626 commented on #2443
Have you tried `this.s.getCurrentTime()`?

[2017-11-01 17:27] jersobh commented on #1315
This still occurs.

[2017-11-01 17:28] jersobh commented on #1833
Still occurs on 4.2.6.

[2017-11-01 19:40] rafa8626 commented on #1315
This is not possible to achieve since currently the only way to hide Vimeo controls is through the admin area. There are hacks to achieve this but none of them really recommended

[2017-11-02 08:13] thadino commented on #2443
Yes. it seems like this.s = mediaElement does only work inside the mediaelementplayer function, once i'm out of it i get Uncaught TypeError: Cannot read property 'getCurrentTime' with console.log(this.s.getCurrentTime()) however if i do it inside the mediaelementplayer jquery part i get the current time using the same line as above (this.s.getCurrentTime())

[2017-11-02 11:33] rafa8626 commented on #2443
Can this ticket be closed?

[2017-11-02 13:07] #2443 closed

[2017-11-02 13:08] thadino commented on #2443
Thank you :-)

[2017-11-02 13:10] rafa8626 commented on #2443
You are welcome. Please star the project to support it

[2017-11-05 17:03] rafa8626 commented on #2440
Closing this issue since the problem was on implementation. Please star the project to support it

[2017-11-05 17:03] #2440 closed

[2017-11-05 17:04] rafa8626 commented on #2439
Closing issue since no updates have been posted in more than a week. If you would like this to be reopened let us know.

[2017-11-05 17:04] #2439 closed

[2017-11-06 09:36] Instagit commented on #2439
Still waiting for feedback myself, but it looks like it's fixed.

[2017-11-06 11:03] kblok commented on #1642
@allayli I haven't started yet, sorry about that :/

[2017-11-06 12:35] rafa8626 commented on #2441
Can you try downloading the master branch and test if this is still an error please?

[2017-11-06 13:31] Himani3010 opened #2444 "Disable right click in Youtube embed"
Is it possible to disable right click on Youtube player in order to restrict a user from viewing the right menu or downloading the source/video?

When I add a transparent layer, controls are not clickable anymore hence that is not a feasible solution

Thanks in advance!

[2017-11-06 16:16] Instagit commented on #2439
It seems the problem is not fixed. You can test it with the current index.html demo.

Use these files for poster and video source:

https://i.imgur.com/bXXc1ak.jpg
https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/2186/7/185934320/614199676.mp4?token=1509998633-0xcc55b5b7b51be1f4d19678f92059f94a3d23371d

[2017-11-06 17:06] Instagit commented on #2439
https://github.com/mediaelement/mediaelement/blob/master/build/mediaelement-and-player.js#L4850

Removing that event listener fixes the problem for me.

[2017-11-07 08:20] gordielachance commented on #2202
https://bugs.chromium.org/p/chromium/issues/detail?id=728108#c15

Any way to have another behaviour for Youtube ?

[2017-11-07 09:21] adamsargant commented on #2441
I still get the same error... here is Edge in Win10N on the mediaelementjs homepage demo

![mejsss1](https://user-images.githubusercontent.com/7512626/32485875-cd7373b6-c39c-11e7-8b06-b756f981936b.png)

[2017-11-07 11:14] rafa8626 commented on #2441
Ok I’ll try to check what is going on today. Thanks for checking with the master branch

[2017-11-07 13:19] rafa8626 commented on #2439
I’ll check if this is feasible since I’m not sure all the renderers have the playing event but all of them have the play event; removing this may have a bigger impact

[2017-11-07 13:24] rafa8626 commented on #2202
I don’t think so because the only way to render YouTube is through an iframe; SoundCloud can be played in native html audio tag if it’s desired so you can get away with it

[2017-11-08 10:36] Instagit commented on #2439
Even with the mentioned listener removed, the problem still occurs in Safari when autoplay is disabled by the browser (which I think is now the default). There are probably other events (preload?) that trigger the same behaviour. I'll try to find and post them here.

[2017-11-08 15:54] gordielachance commented on #2202
But does this mean that if I inject all the Youtube iframes when my playlist loads, it will work ?
Do you think this is a bad idea; for exemple if I load 100+ iframes ?

[2017-11-08 15:56] rafa8626 commented on #2202
I think in terms of DOM is not that big of a deal, but in terms of performance it is a big deal. 100+ iframes means 100+ requests (not considering the CSS/JS downloads your site may need). This will kill your site in mobile devices

[2017-11-08 16:02] Instagit commented on #2439
Apparently Safari fires play and playing events even when autoplay is disabled by the website settings... it's not really preventing autoplay, but pausing at the first frame or something like that, I guess to detect if there's an audio track. I hate that browser...

For MediaElement that means in current Safari versions the video poster and video scaling functionality is simply broken.

I'll proba

[2017-11-09 15:23] tsarma commented on #2444
have you tried this css
[code]

[2017-11-10 05:01] kenzouno1 opened #2445 "Player not play as soon as possible on iphone"
I have a playlist but on iphone when i next track player wait 5-6 seconds before play.
How to play as soon as possible
[https://audiotruyen.org/do-thi/do-thi-tuyet-sac-bang.html](https://audiotruyen.org/do-thi/do-thi-tuyet-sac-bang.html)

[2017-11-11 22:50] marmz commented on #1833
Same problem here. But maybe i found a way to fix it.

Vimeo's `<iframe src="">` query string accepts a "**background**" parameter, which if set to **1** seems to hide the control bar.
I made some tests, so inside `build/renderers/vimeo.js`, after line **364** added:

`queryArgs += '&background=1';`

and now Vimeo's bottom controls **are gone**.

But .. when i was just celebrating.. i discovered t

[2017-11-12 13:20] Himani3010 commented on #2444
Thank you, this works indeed !

[2017-11-12 15:56] Himani3010 opened #2446 "Autoplay does not work in mediaelement Youtube iframe"
I am not able to enable/disable the Autoplay in mediaelement Youtube iframe whereas I am able to show/hide the controls in mediaelement Youtube iframe

If I save the iframe
<iframe width="560" height="315" src=<?php echo $yturl;?>?controls=<?php $controls;?>&autoplay=<?php $autoplay;?>&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

In DOM it is loaded as follows:
<iframe class="me-pl

[2017-11-13 07:54] krishnapriyaMandadi commented on #2386
Gentle reminder !!
Any update on this, as we need to certify against latest stable version.

[2017-11-13 11:05] tsarma opened #2447 "How to stop auto playing of video on mobile safari"
- mejs version: "4.2.6"
- iPhone 7 with ios 11.1.1

In safari app, when I open http://bit.ly/2zHaVWP and play the youtube video. Just after playing the video, if I press home button, safari closes and return to home screen. Now when I reopen the safari, the video plays automatically. How can I avoid this auto playing.

[2017-11-13 11:21] #2444 closed

[2017-11-13 11:30] rafa8626 commented on #2446
Which version of the player are you using? Since most of the issues with YouTube renderer were resolved before?

[2017-11-13 11:34] rafa8626 commented on #2445
I think it's because the audio's index is not necessarily at the beginning of the file, causing that the progressive download starts with a delay, In https://github.com/mediaelement/mediaelement/blob/master/docs/resources.md check QTIndexSwapper or Handbrake to adjust your files.

Please star the project to support it. Thanks

[2017-11-13 11:34] #2445 closed

[2017-11-13 11:37] rafa8626 commented on #2446
Check in https://github.com/mediaelement/mediaelement/blob/master/docs/api.md#configuration the row about YouTube. You must upgrade to the latest version to take advantage of this. Please star the project to support it. Thanks

[2017-11-13 11:39] gmichlicki-neducatio opened #2448 "Seconds are counted from 0 to 60"
In currenttime display seconds are counted from 0 to 60, should be up to 59.

[2017-11-13 11:42] rafa8626 commented on #2448
can you provide a URL to see this issue please?

[2017-11-13 11:43] gmichlicki-neducatio commented on #2448
http://www.mediaelementjs.com/ ;)
You can see this in the player with bunny movie.

[2017-11-13 11:44] rafa8626 commented on #2448
Got it. I'll take a look and fix it soon. Thanks. Please star the project to support it

[2017-11-13 11:49] rafa8626 commented on #2386
@krishnapriyaMandadi I'll try to check this this week but I can't promise a fix since I'm not maintaining the project anymore, and this is a little bit beyond my expertise

[2017-11-13 12:01] rafa8626 commented on #2447
For what I've seen, there's no way to stop this; many sources indicate that the way to stop it is via phone config.

[2017-11-13 12:23] rafa8626 commented on #2448
@gmichlicki-neducatio This should be fixed now; please download the master branch and confirm, please. Thanks

[2017-11-13 12:23] #2447 closed

[2017-11-13 12:25] rafa8626 commented on #2441
Is this something I can test on Browserstack? Or how can I emulate your exact environment there, since I'm not sure how do you uninstall Media Feature Pack

[2017-11-13 12:25] jersobh commented on #1833
Maybe using the "playsinline" arg on iframe?

[2017-11-13 12:37] kenzouno1 commented on #2445
I know that but my customers want play as soon as possible.I do not know what to do anymore

[2017-11-13 13:01] rafa8626 commented on #2386
@johndyer Is this something you can assist with? I haven't been able to find a proper solution for this. @krishnapriyaMandadi Have you tried using the latest configuration, but in the `pluginPath` use a different version of the Flash files:
[code]

[2017-11-13 15:09] gmichlicki-neducatio commented on #2448
It works now! Thank you

[2017-11-13 15:34] rafa8626 commented on #2448
You are welcome 👍

[2017-11-13 15:34] #2448 closed

[2017-11-14 04:20] krishnapriyaMandadi commented on #2386
@rafa8626 Tried as you suggested. But, it is not working.

[2017-11-14 07:06] msudgh commented on #2350
i got the same error and in desktop mode it work's fine but in mobile agent mode i got `Uncaught (in promise) DOMException: The element has no supported sources.` error.

what's the problem?

[2017-11-14 11:17] rafa8626 commented on #2350
iOS reads HLS natively, and Android 4+ should do it as well. It’s either the configuration for the player or maybe a codec is missing and it cannot read the file properly, based on what you describe

[2017-11-14 12:05] rafa8626 commented on #2386
@ale-grosselle any insight that could help to solve this issue? It seems like a sequence of events but only for audio, no problems with video

[2017-11-14 12:06] rafa8626 commented on #2406
@ale-grosselle Could you provide some help with this please?

[2017-11-14 12:33] marmz commented on #1833
I tried to add
`&playsinline=1`
to IFRAME's src query string, but it doesn't seem to have any effect...

[2017-11-15 16:26] Himani3010 commented on #2446
Adding the code below resolved Autoplay issue except on Mobile devices

 var player = new MediaElementPlayer('#' + YTID,{
success: function(mediaElement, domObject) {
console.log("under success");
			<?php if ($autoplay == 1) { ?>
	        mediaElement.play();
	<?php } ?>
		}

});

Autoplay still doesn't work on mobile devices too. Please, can you help me with this

Thanks in advance!

[2017-11-15 16:36] rafa8626 commented on #2446
Try to use `playsinline` in the video tag and see if that works

[2017-11-15 19:41] Himani3010 commented on #2446
playsinline in the video tag didn't work

[2017-11-15 20:08] rafa8626 commented on #2446
Last consideration: autoplay can also be a constrain for the devices. What I've seen before is that in order to autoplay is that the video has to be muted by default; otherwise it doesn't work (at least with iOS is like that). Other than that, is strongly advised to avoid autoplay for mobile devices for unnecessary data consumption.

[2017-11-16 10:05] Nate82 opened #2449 "Set start volume to 100% (Wordpress)"
Not sure if I should ask this on the WordPress forums or not, but I just updated to WordPress 4.9 and they updated the MediaElement audio player https://make.wordpress.org/core/2017/10/30/mediaelement-upgrades-in-wordpress-4-9/ and now my code below doesn't work anymore.

I have this in my footer.php file to change the default start volume to 100% instead of 80% (why is the volume defaulted to 80%

[2017-11-16 11:27] Himani3010 opened #2450 "Inappropriate proportion of Youtube video"
After updating the WordPress to 4.9, Youtube video isn't displayed in incorrect proportion

[2017-11-16 11:32] Himani3010 commented on #2450
You can find the issue example here: https://drive.google.com/open?id=1AKAtKB402TEmD_w5gCeS5C6rK9yJ1vbD

[2017-11-16 15:30] rafa8626 commented on #2446
Hope that this could help you in some way. Please star the project to support it. Thanks

[2017-11-16 15:32] rafa8626 commented on #2449
I'd just add an event to ensure that the volume is set correctly
[code]

[2017-11-16 16:59] Himani3010 commented on #2450
This is the code I have used

<video id="wpws-video-player-mep">
	    <source type="video/<?php echo $type ?>" src="<?php echo $type == 'youtube' ? 'https://www.youtube.com/watch?v=' . $url.'&rel=0&showinfo=0' : urldecode($url) ?>">
	</video>
	<script>
	    jQuery(function ($) {
	    $('#wpws-video-player-mep').mediaelementplayer({
	    isClickable: false,
		    enableAutosize: true,
		    enableP

[2017-11-16 17:00] Himani3010 commented on #2450
<video id="wpws-video-player-mep">
	    <source type="video/<?php echo $type ?>" src="<?php echo $type == 'youtube' ? 'https://www.youtube.com/watch?v=' . $url.'&rel=0&showinfo=0' : urldecode($url) ?>">
	</video>
	<script>
	    jQuery(function ($) {
	    $('#wpws-video-player-mep').mediaelementplayer({
	    isClickable: false,
		    enableAutosize: true,
		    enablePseudoStreaming: true,
		    lo

[2017-11-16 17:00] Himani3010 commented on #2450
<video id="wpws-video-player-mep">
	    <source type="video/<?php echo $type ?>" src="<?php echo $type == 'youtube' ? 'https://www.youtube.com/watch?v=' . $url.'&rel=0&showinfo=0' : urldecode($url) ?>">
	</video>
	<script>
	    jQuery(function ($) {
	    $('#wpws-video-player-mep').mediaelementplayer({
	    isClickable: false,
		    enableAutosize: true,
		    enablePseudoStreaming: true,
		    lo

[2017-11-16 17:24] Himani3010 commented on #2450
<video id="wpws-video-player-mep">
	    <source type="video/<?php echo $type ?>" src="<?php echo $type == 'youtube' ? 'https://www.youtube.com/watch?v=' . $url.'&rel=0&showinfo=0' : urldecode($url) ?>">
</video>
<script> jQuery(function ($) { $('#wpws-video-player-mep').mediaelementplayer({
isClickable: false,
enableAutosize: true,
enablePseudoStreaming: true,
loop: false,
autoRewind: false,
enabl

[2017-11-16 17:24] Himani3010 commented on #2450
<video id="wpws-video-player-mep">
	    <source type="video/<?php echo $type ?>" src="<?php echo $type == 'youtube' ? 'https://www.youtube.com/watch?v=' . $url.'&rel=0&showinfo=0' : urldecode($url) ?>">
</video>
<script> jQuery(function ($) { $('#wpws-video-player-mep').mediaelementplayer({
isClickable: false,
enableAutosize: true,
enablePseudoStreaming: true,
loop: false,
autoRewind: false,
enabl

[2017-11-16 20:02] rafa8626 commented on #2450
Check if this snippet helps you:
[code]

[2017-11-16 20:49] Nate82 commented on #2449
@rafa8626  Am I writing the code correctly? It still doesn't work, always reverts to 80% after hitting play.

https://newtestsite.rockitpro.com/2017/04/19/stillatithook/

It's my test site so it's password protected. Password is: **123456**

[code]

[2017-11-16 20:51] rafa8626 commented on #2449
Try just using 1; if not trigger the change on the play event

[2017-11-16 20:53] rafa8626 commented on #2449
Or in the configuration of the player use startVolume: 1. That will ensure that always be 1 your initial volume

[2017-11-16 21:37] Nate82 commented on #2449
"if not trigger the change on the play event"

I'm not very knowledgeable about JavaScript so not sure what you mean by that? I tried using just "1" but that didn't work. I can change the WordPress core file **mediaelement-and-player.min.js** and edit the **startVolume** from .8 to 1 and it works but I'd rather not have to edit core files.

[2017-11-16 21:46] rafa8626 commented on #2449
You are not editing core files you just add the option before the success callback

[2017-11-16 21:52] rafa8626 commented on #2450
And make sure there are no css styles associated with an iframe inside of mediaelement because that also seems the case

[2017-11-16 22:42] Nate82 commented on #2449
@rafa8626 Thanks for the continued help, I don't know how to write the necessary code though, I'm a novice when it comes to JS. Can I buy you a cup of coffee through PayPal and you write the code that I need to make this work? (if that's allowed)

[2017-11-16 22:58] rafa8626 commented on #2449
It will be better a beer ;) lol. This is what you need:
[code]
or if you want to use events:
[code]
Personally, I like the first snippet better. Let me know if it works for you and please star the project to support it

[2017-11-16 23:12] Nate82 commented on #2449
1st one worked, thanks rafa! Shoot me your PayPal if you want a beer and I'll throw you a fiver :)

[2017-11-16 23:16] rafa8626 commented on #2449
My PayPal account is  kurtlennon69@yahoo.com.mx. I'll remove this as soon as you have it

[2017-11-16 23:31] rafa8626 commented on #2449
can I remove it?

[2017-11-16 23:32] Nate82 commented on #2449
yep, go ahead...i got it

[2017-11-16 23:32] rafa8626 commented on #2449
Thanks! Closing this issue now

[2017-11-16 23:32] #2449 closed

[2017-11-17 06:02] Himani3010 commented on #2450
Thanks, adding stretching: 'responsive' to the code resolved this issue

[2017-11-17 06:02] #2450 closed

[2017-11-17 06:17] Himani3010 opened #2451 "Pause button is not displayed in player"
The pause button is not displayed when the video is playing. Please find the screenshot here: https://drive.google.com/file/d/1Dku7uMdvcbzwDmjGHCKqrbUXBF6slocF/view?usp=sharing

In one of the dev-notes, it is mentioned that

In order to create themes compatible with it, it is required to add the classPrefix: mejs- in the player configuration, since latest version of MEJS switched to BEM naming con

[2017-11-17 11:09] Himani3010 commented on #2451
I forgot to mention, I experienced this issue after updating WordPress to version 4.9

[2017-11-17 11:36] rafa8626 commented on #2451
[code]

[2017-11-17 17:24] Himani3010 commented on #2451
It is not working yet

[2017-11-17 18:18] rafa8626 commented on #2451
Odd. Check your CSS rules and see if that's pointing to the right file and the background position is correct

[2017-11-18 12:39] Himani3010 commented on #2451
Yes, It is working after updating to the latest css file. Thanks again!

[2017-11-18 12:39] #2451 closed

[2017-11-18 14:19] ale-grosselle commented on #2406
hi @rafa8626 sure, i will check the problem next week!!

[2017-11-18 14:26] rafa8626 commented on #2451
You are welcome

[2017-11-18 14:27] rafa8626 commented on #2406
Thanks @ale-grosselle I will also appreciate your help on #2386

[2017-11-19 19:18] khashabawy opened #2452 "Random page elements issue"
I have a problem that non-clickable elements strangely appear beside the audio elements as shown in the screenshot
![33wed](https://user-images.githubusercontent.com/400698/32994368-1028ee6c-cd6f-11e7-9f1c-88a27fc0090d.png)

url
https://soundeals.com/user/NourAllam/samples/10

tested on firefox

if did not appear, please refresh multiple times

[2017-11-21 05:14] wikidson opened #2453 "when click progress control bar with fast speed , errors happen."
###
when drag the  progress control bar , errors happen.
<img width="1900" alt="qq20171121-131354 2x" src="https://user-images.githubusercontent.com/9945173/33056003-f7ab4268-cebd-11e7-8cc8-682adaf20362.png">

[2017-11-21 10:49] Himani3010 opened #2454 "MP4 video is being cut off after a few seconds"
MP4 video is cut after playing for 28 seconds. And the progress bar reaches till end automatically. Please, can you help me with this

[2017-11-21 19:35] ahmedfekry opened #2455 "facebook video only works once in fancybox."
I am using MediaElementJs in fancybox where i can show local,youtube and facebook videos in the facnybox. It is working fine with local videos and youtube videos, but in facebook videos it works fine in the first time i open the fancybox but after closing it it never works again, it always overflow the video height if the facebook video's height is large. here is my code.

`$(".fancybox")

[2017-11-22 09:22] hesamhesam commented on #2390
Thank you very much

[2017-11-24 04:56] vishnu-the-developer opened #2456 "How to implement waveform in mediaelement playlist plugin ??"
Can you please help me to integrate a waveform (wavesurfer) on mediaelement playlist plugin ? I integrated it with a hard coding in mediaelement-and-player.js. Can anybody answer this then i can share my js with you. Please help
Thanks

[2017-11-24 09:35] D3nnisH opened #2457 "Volume is still 0 if video was initially muted and then unmuted"
When i create a video `<video src="..." ... muted></video>` with options
[code]
then the video is muted. But when I unmute it by clicking on the volume icon, it is still at volume 0 (but it doesn't show the muted sign anymore):
![image](https://user-images.githubusercontent.com/7695721/33203018-fa31b3ee-d0fe-11e7-91ce-746142c78f06.png)

This is because the `startVolume` option is internally set to

[2017-11-24 09:42] bennykuang opened #2458 "Why does this plug-in repeatedly request video resources?"
Divide a full video into multiple TS video files, the user downloads the m3u8 file, play each specific video through the index address of the m3u8 file.When the video interrupt is played,this plug-in repeatedly request video resources.

[2017-11-26 05:38] dswhite42 opened #2459 "Migrating from 2.x to 4.x"
I apologize for what might be a very basic question, but I am just now learning about MediaElement, having inherited some old video code from a previous coder that I'm now trying to modernize.  (This page is designed to stream a video feed from a Wowza server.)  I read through the "Migrating from 2.x to 4.x documentation and also tried some of the code under demo/ to try to see where I was going w

[2017-11-28 09:03] jcdby opened #2460 "Can`t show replay button in IE"
After playing one audio in IE, the Play button should be shown as a Replay Button, but it was still shown as Play Button in IE. It works well in chrome.

I checked its events flow.There are a little bit differences between in chrome and IE. At the end of events flow, in IE, the "pause" event happened after "ended" event which caused the Replay button always be shown as Play button. Is there any go

[2017-11-28 10:04] jcdby commented on #2460
I have found line 4174 in mediaelement-and-player.js caused this problem. After I comment this line, both in IE or in chrome it works well.

 if (typeof t.media.renderer.stop === 'function') {
                            t.media.renderer.stop();
                        } else {
                            // t.pause();
                        }

I am just wondering what is its purpose for? Can I j

[2017-12-04 14:02] saeedrm6 opened #2461 "Customize Play Button in Playlist Plugin"
Hello Dear Raphael
I have play button in every row of my Table and also and audio tag like playlist demos of your repository... How can I switch audio tracks when I click of play buttons of rows?
![mediaelementjs](https://user-images.githubusercontent.com/10795997/33556416-15eb899e-d919-11e7-8118-ad8083a0cfb0.png)

[2017-12-04 21:09] owzim opened #2462 "Controls disappear right after scrubbing to a new position"
This behavior can be seen on the demo page: http://www.mediaelementjs.com/
Is that configurable? Did not happen in 2.x

[2017-12-05 06:29] krishnapriyaMandadi commented on #2386
Any update on this. We are waiting for this fix.

[2017-12-05 16:28] isabellarosati opened #2463 "Player in Scorm"
Hi!

I have to put the player in my scorm course.
I use Articulate Storyline to make my courses, and I have no idea how to put the player in my course.
I know I have to do it by index, but I don´t know how.
Does anyone already did this and can help me?
I really appreciate it.

Thanks!!

[2017-12-06 11:48] erizzolio opened #2464 "pauseOtherPlayers true is ignored on iphone device"
Hi,
I have multiple audio players in one page,I set pauseOtherPlayers: true, I can t get one paused when another audio is start by user click on play, on iphone device only, could you help me maybe?
Thanks!

[2017-12-07 04:20] #2454 closed

[2017-12-07 04:47] Himani3010 opened #2465 "error while embedding an Youtube iframe in to WP 4.9"
I have used this source while embedding the youtube iframe to mediaelement player. You can find the source code link below:

https://codepen.io/onigetoc/pen/EyKwBm

Please find the error screenshot here : https://drive.google.com/file/d/1VUhotVKpQYVGKTQsP-QCQXN5Wzs_QIxT/view?usp=sharing

[2017-12-07 20:54] saeedrm6 commented on #2461
any idea?

[2017-12-08 05:27] openbayou opened #2466 "reverse volume control?"
Right now, the default volume control has mute on the left and max volume on the right. Is it possible to reverse the control the volume, to have mute on the right and max on the left? Not really important if it can't be done.

[2017-12-13 02:52] yang06061079 opened #2467 "The mediaelement don't send referer property,so I can't avoid other people stealing my diretct broadcast links."
On mobile browser,I use m3u8 type to play my direct broadcast.
The first m3u8 file is requested by the browser,so request header contains the referer,I can get the m3u8 file successful.Look the printscreen below:
![image](https://user-images.githubusercontent.com/18298611/33919272-bcef763a-dff2-11e7-87d1-9c87a51ed226.png)
But from the second request by mediaelement,the referer property is missing,

[2017-12-14 08:03] rubengc opened #2468 "API events not triggered on YouTube videos"
I am listening for API events on all instances of mediaelement

This events are triggered with normal videos but not with videos coming from YouTube

[code]

Note: I am looking for this events on WordPress mediaelement instances, so I am not able to add listeners on mediaelement construct

[2017-12-15 07:17] thrijith opened #2469 "player height issue in wordpress 4.9.x"
after WordPress update icons were not displayed properly [this](https://github.com/mediaelement/mediaelement/issues/2451) helped to solve it but I am facing issues regarding player height.
thanks in advance
Before Update
![4 8 4mediaelement](https://user-images.githubusercontent.com/13589980/34030970-49839da8-e195-11e7-81ad-7a5fdcbc12dc.png)
After Update
![4 9 1mediaelement](https://user-images.gi

[2017-12-18 16:27] te-online commented on #2420
I'm afraid to have to say, that I experience this problem again with release 4.2.7. Was there any other change to this aspect after your changes in master I tested?

[2017-12-19 06:23] thrijith commented on #2469
@rafa8626 can please look into it?

[2017-12-19 11:15] rafa8626 commented on #2469
Just update mediaelement plugin. I think this issue was solved in the current version. By the way, WordPress is gonna update mediaelement soon to the latest version and that version includes the fix you are looking for I think

[2017-12-19 11:37] thrijith commented on #2469
@rafa8626  thanks for replying i am not sure what you meant by "Just update mediaelement plugin". can you please explain ?
thanks in advance

[2017-12-19 11:57] rafa8626 commented on #2469
Download the latest version of MediaElement from GitHub and just copy/paste the mediaelement-and-player (both uncompressed and minified) into the wp-includes/js/mediaelement folder

[2017-12-19 11:58] rafa8626 commented on #2457
If you create a PR that could solve this issue I'd be happy to review it

[2017-12-19 12:08] thrijith commented on #2469
Ok i will try  let you know

[2017-12-19 12:09] rafa8626 commented on #2465
Your problem is this line:
[code]
replace it with:
[code]
or
[code]
MEJS doesn't need jQuery selectors, it accepts the player ID string or the node

[2017-12-19 12:09] #2465 closed

[2017-12-19 12:11] rafa8626 commented on #2463
If you check the demo/index.html and demo/demo.js file inside the project it will give you a good start

[2017-12-19 12:14] rafa8626 commented on #2453
What you are showing here is an error with the HLS.js package not with MediaElement plugin. You may have to post this in that project

[2017-12-19 12:14] #2453 closed

[2017-12-20 06:40] thrijith commented on #2469
ok so I updated the scripts and tried again the issue is not fully fixed yet
here is the link to [the ui difference](https://drive.google.com/drive/folders/1ei47XQEicrJrRUAGUsO01sqnPH-gleTG) for your reference

[2017-12-21 11:02] Himani3010 opened #2472 "RTMP stream not playing"
I am trying to embed the rtmp stream rtmp://184.72.239.149/vod. But it's not working. In my console, following error is displayed:
http://pot.hpcashewnuts.com/custom-post/liop/build/mediaelement-flash-video.swf Failed to load resource: the server responded with a status of 404 (Not Found)

http://pot.hpcashewnuts.com/custom-post/liop/ is my website post url

Please can you help me with this?

[2017-12-21 14:52] Himani3010 commented on #2472
Do I need to include a pluginPath option in my js?

I am using mediaelement.js in the WordPress plugin and it seems that it is not getting the correct path
http://pot.hpcashewnuts.com/wp-includes/js/mediaelement/mediaelement-flash-video.swf

[2017-12-21 16:16] Himani3010 commented on #2472
Adding pluginPath: '<?php echo site_url(); ?>/wp-includes/js/mediaelement/' in js options resolved my issue

[2017-12-22 09:17] Himani3010 commented on #2472
Adding pluginPath:  '<?php echo site_url(); ?>/wp-includes/js/mediaelement/' resolved the issue in Chrome but still not working in Firefox and Mobile browser Safari

[2017-12-22 09:19] Himani3010 commented on #2472
I am using this link for testing: rtmp://184.72.239.149/vod/mp4:bigbuckbunny_1500.mp4

[2017-12-22 20:19] iamdubx opened #2473 "..."
...

[2017-12-23 14:06] #2473 closed

[2017-12-23 14:10] #2457 closed

[2017-12-23 14:17] rafa8626 commented on #2462
You can control the timer to make the controls disappear, check `controlsTimeoutDefault`, `controlsTimeoutMouseEnter` and `controlsTimeoutMouseLeave`. As far as I know, that's the only thing you could do to not make it disappear immediately. Please star the project to support it

[2017-12-23 14:18] rafa8626 commented on #2464
Do you have a Fiddle where I can see the issue? Which iPhone version?

[2017-12-23 14:21] rafa8626 commented on #2459
Check the demo folder: index.html and demo.js gives you all the markup and commands to make it work

[2017-12-23 14:21] #2459 closed

[2017-12-23 14:24] rafa8626 commented on #2455
Did you upgrade to the latest version of the plugin? I think that got solved in the most recent version

[2017-12-23 14:26] rafa8626 commented on #2460
Which version of IE are using that caused you this issue?

[2017-12-23 14:42] rafa8626 commented on #2461
The little play button is only to make a reference of what is being currently played. You can write a piece of JS to target `.mejs__playlist-selector-label>span`:
[code]
Something like that.

[2017-12-23 14:42] #2461 closed

[2017-12-23 14:42] rafa8626 commented on #2463
Generally you need the node ID, not the index. Or the node itself.

[2017-12-23 14:42] #2463 closed

[2017-12-23 14:44] rafa8626 commented on #2458
Not sure about this, since the plugin attempts to use native and `hls.js` approaches to play m3u8. If this happens in FF, IE11 or Chrome, that means it's using hls.js and you may need to contact hls.js to report this. If it's behavior of the browser I'm not sure what could cause it

[2017-12-23 14:45] rafa8626 commented on #2458
Please star the project to support it. Thanks

[2017-12-23 14:45] #2458 closed

[2017-12-23 14:45] rafa8626 commented on #2463
Please star the project to support it. Thanks

[2017-12-23 14:47] rafa8626 commented on #2441
Closing issue since were unable to reproduce this issue. If you like to be reopened please let us know

[2017-12-23 14:47] #2441 closed

[2017-12-23 14:49] rafa8626 commented on #2452
I tried several times with Chrome and FF 57 and nothing happened.

[2017-12-23 14:51] rafa8626 commented on #2469
Not sure if this is on MEJS anymore. Since you are experiencing this on WP, I'd suggest you to go to WP and check with them. This seems more a CSS issue than JS.

[2017-12-23 15:47] rafa8626 commented on #2468
This is because in 4.9.1 as far as I've seen the workflow, the YouTube is not using MEJS but the standalone iframe
<img width="1267" alt="screen shot 2017-12-23 at 10 43 40 am" src="https://user-images.githubusercontent.com/910829/34320726-5725c37a-e7ce-11e7-8768-68536a216ee9.png">
<img width="1314" alt="screen shot 2017-12-23 at 10 44 38 am" src="https://user-images.githubusercontent.com/910829/3

[2017-12-23 15:47] #2468 closed

[2017-12-23 17:11] rubengc commented on #2468
Thanks @rafa8626

[2017-12-23 17:13] rafa8626 commented on #2466
Currently this is not possible since you will have to modify the JS code to change the markup and modify the CSS associated with it

[2017-12-23 17:13] #2466 closed

[2017-12-26 04:58] KhodyrevDS commented on #2425
There is some controls on youtube which stops control bar disappear when mouse hover.  Time rais or sound volume for example.

[2017-12-27 20:22] johndyer commented on #2391
For this one, it looks like we need to make another Flash audio element that uses `NetStream` and  `NetConnection` like the video element. I'll put in a pull request soon.

[2017-12-27 22:02] johndyer commented on #2386
I'm creating a separate Flash audio streaming module. This should enable a few additional stream types including this one.

[2017-12-28 09:27] AlokGupta007 opened #2474 "DOMException: Coming in Chrom browser"
Hi,

I am using media element library for playing the video but this is giving error in chrome browser.
"Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause()."

My Chrome browser version is 63.
Please suggest what need to make changes for play the video.

Thanks
Alok

[2017-12-28 14:55] johndyer commented on #2391
Looking into it more deeply, it looks like Flash's default capabilities do not include playing the type of AAC stream you're using. The Muses player team has written their own AAC player, so we'd need to import that to play HE-AAC. I'd like to look into this more, but probably not for this release.

[2017-12-28 19:16] rafa8626 commented on #2472
RTMP won’t work on iOS since it requires flash and Apple doesn’t support Flash

[2017-12-28 19:31] rafa8626 commented on #2467
The mobile browser uses native HLS and MEJS doesn’t really have anything to do with processing the referrals. That sounds more like a different workaround to make it stick to your URL

[2017-12-29 05:42] crashinz commented on #2040
Is there an easier method yet?

This works, but how do I make the player smaller?

`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MediaElement.js 3.0 - audio/video unification library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/MediaElemen

[2017-12-29 06:19] crashinz opened #2475 "youtube audio only?"
i originally replied to this but its closed, figure better new topic..
https://github.com/mediaelement/mediaelement/issues/2040

i tried using the insert code for these but it didn't work right, someone mind explaining?

Test1.html - this works but the player is too big of width (copied from what er-c put), how do i lower?
Test2.html - this works but the player plays the video on far left of scree

[2017-12-29 12:48] Himani3010 commented on #2472
Thanks but RTMP plays neither in FireFox nor on Internet Explorer.

[2017-12-30 06:42] duythien opened #2476 "Question about config vast"
Hello

I have use plugin https://cdnjs.com/libraries/mediaelement-plugins, and try to config like below

[code]
Then I get some error like image below
<img width="713" alt="screenshot at dec 30 13-40-00" src="https://user-images.githubusercontent.com/1762691/34451908-fe7de18c-ed66-11e7-9273-de88b92b0d6e.png">

You can see live version at http://tv.molo.vn/video/we-make-it-awesome/

Anyone have som

[2018-01-06 03:06] acv-bacpd opened #2477 "startLanguage at new version error"
When i  try set auto start language but not work, but i try at low version (2) it work, plz check again

[2018-01-11 13:07] #2455 closed

[2018-01-13 16:47] Clorith opened #2480 "More debug flags/options for Native FLV"
Currently, you can enable or disable [two debug options](https://github.com/mediaelement/mediaelement/blob/master/src/js/renderers/flv.js#L55-L56), `enableDebug` and `enableVerbose`, by setting the `debug` option.

When using NativeFLV as the render, Transmuxing is also triggered, and these two flags alone are not enough to prevent the logger from running. A flv file with an incorrect audio encodi

[2018-01-17 14:15] rafa8626 commented on #2467
Closing this issue since no answer has been posted in more than 2 weeks. If you will like to reopen it, please let us know. Thanks

[2018-01-17 14:15] #2467 closed

[2018-01-17 14:16] rafa8626 commented on #2475
You are using an old version. In the new version just adding an audio tag with the YouTube source does the trick.

[2018-01-17 14:16] #2475 closed

[2018-01-17 14:16] rafa8626 commented on #2460
Closing this issue since no answer has been posted in more than 2 weeks. If you will like to reopen it, please let us know. Thanks

[2018-01-17 14:16] #2460 closed

[2018-01-17 14:16] rafa8626 commented on #2464
Closing this issue since no answer has been posted in more than 2 weeks. If you will like to reopen it, please let us know. Thanks

[2018-01-17 14:16] #2464 closed

[2018-01-17 14:16] rafa8626 commented on #2462
Closing this issue since no answer has been posted in more than 2 weeks. If you will like to reopen it, please let us know. Thanks

[2018-01-17 14:16] #2462 closed

[2018-01-17 14:17] rafa8626 commented on #2452
Closing this issue since no answer has been posted in more than 2 weeks. If you will like to reopen it, please let us know. Thanks

[2018-01-17 14:17] #2452 closed

[2018-01-18 04:07] crashinz commented on #2475
how do i make the player half the size? using new version with just <audio> tags my player has longer width than it used to

[2018-01-18 12:14] Himani3010 opened #2481 "Error: Cannot read property 'language' of undefined"
mediaelement-and-player.min.js?ver=4.9.2:1950 Uncaught TypeError: Cannot read property 'language' of undefined
    at mediaelement-and-player.min.js?ver=4.9.2:1950
    at mediaelement-and-player.min.js?ver=4.9.2:2064

A black screen is displayed instead of a video. Please, can you help me with this

Thanks in advance!

[2018-01-18 19:57] rafa8626 commented on #2476
You need to include the `ads` plugin as well. Both of them are needed

[2018-01-18 19:57] #2476 closed

[2018-01-18 19:58] rafa8626 commented on #2476
https://cdnjs.cloudflare.com/ajax/libs/mediaelement-plugins/2.5.0/ads/ads.min.js and https://cdnjs.cloudflare.com/ajax/libs/mediaelement-plugins/2.5.0/ads/ads.min.css before https://cdnjs.cloudflare.com/ajax/libs/mediaelement-plugins/2.5.0/ads-vast-vpaid/ads-vast-vpaid.min.js

Please star the project to continue supporting it

[2018-01-18 20:00] rafa8626 commented on #2474
Seems that you are trying to load and play and you are experiencing a race issue. Check this: https://developers.google.com/web/updates/2017/06/play-request-was-interrupted. It may help you. Please star the project to continue supporting it

[2018-01-18 20:00] #2474 closed

[2018-01-18 20:01] rafa8626 commented on #2469
Closing this issue since no more answers have been posted for more than 2 weeks. If you would like this to be reopened, please let us know. Thanks

[2018-01-18 20:01] #2469 closed

[2018-01-18 20:02] rafa8626 commented on #2477
Check the demo file, in specific the `demo.js` file. It describes how to set language now. Please star the project to support it

[2018-01-18 20:02] #2477 closed

[2018-01-18 20:15] thrijith commented on #2469
@rafa8626  WP new update also had same issues so i used the latest 4.2.8 which seems to have fixed the problem.

[2018-01-18 20:18] rafa8626 commented on #2469
Interesting. 4.2.8 didn't perform any modifications to the dimensions. Just to Flash files. But good to know it is fixed in your side

[2018-01-18 20:18] rafa8626 commented on #2469
Please star the project to support it. Thanks

[2018-01-19 10:30] DanielRuf opened #2482 "add LICENSE file"
So far there is no real LICENSE file. This would make it easier to directly see the used license and automatically check it.

[2018-01-19 12:52] rafa8626 commented on #2475
Just assign width to the audio tag and should be sufficient

[2018-01-20 18:29] mansoor-omrani opened #2483 "player.remove() throws exception for <audio> tag when cleaning 'fullscreen' feature"
When destroying the player created for an &lt;audio&gt; tag (using remove() method) an exception is thrown.

The exception is raised when cleaning 'fullscreen' feature.

When I traced the error, I noticed that the error happens in exitfullscreen() method at below section:

[code]

The error happens for t.node. Its style property is undefined.

I couldn't figure out how I can resolve the issue. I g

[2018-01-20 19:05] mansoor-omrani opened #2484 "suggestion: use abstraction for logging"
Using 'console' object and its methods (log, warn, error) to send a message to output seems the easiest choice for logging. However, it is best to abstract away the logger to avoid tight-coupling and following practices/techniques such as DI/IoC.

This way our code will not be dependent to 'console' and by implementing another object with the same interface as that in our abstract logger, we can s

[2018-01-23 11:44] jamesmgittins opened #2485 ""enableKeyboard" flag doesn't stop cursor keys affecting seek bar"
I'm using mediaelement as part of a smart TV application and need to create my own key handlers to control playback with the remote control. I've run into a problem where if the user clicks on the seek bar with the remote control's mouse pointer, the seek bar will then respond to left and right key presses even though I'm creating the instance with "enableKeyboard : false"

It seems like the t.sli

[2018-01-23 18:56] payflix opened #2486 "Chromecast Subtitles not working"
I want to move to mediaelement instead of videojs.
The chromecast plugin seems to work for media files but the subtitles are not displayed on the chromecast.

The subtitles are working in the web player but when casting they just disappear, could anyone help me out?

See source: [https://pastebin.com/raw/DU8AHQVy](https://pastebin.com/raw/DU8AHQVy)
Reference: [https://github.com/mediaelement/media

[2018-01-25 03:02] crashinz commented on #2475
i was able to solve by doing this
`audioWidth:` 252,
audioHeight: 30`

and by changing height to 35 in .mejs_control

resolved, thanke, star'd project

[2018-01-26 13:41] alpgul opened #2488 "How can I add a source to list and edit the source list?"
How can I add a source to list and edit the source list?

[2018-01-27 11:43] MuhdNurHidayat opened #2489 "Could this be made to support NicoNico too?"
NicoNico, or better known as Nico Nico Douga or NND is a Japanese video website but it do have English interface support to some extend.

Main website : http://www.nicovideo.jp/

Normal video pages URL are usually in format of
http://www.nicovideo.jp/watch/<video ID>

Embed video pages URL are usually in format of
http://embed.nicovideo.jp/watch/<video ID>

Embed video doesn't need login informati

[2018-01-27 22:32] ScalBrra opened #2491 "Time-Slider: Mouse tracking throughout the window"
Hi there !

Why the time-slider does not follow the mouse throughout the window like in the previous versions (<4.0.0) ?

This is the first time I write here, so I do not know how you are working :) I propose the following modification:

mediaelement-and-player.js @line 1882:

`               var events = ['mousedown', 'touchstart'];

		t.slider.addEventListener('dragstart', function () {
			retur

[2018-01-30 01:04] aad-webteam opened #2492 "Toggle caption option doesn't appear to work"
We only ever have one caption track on our videos, so I want the CC button to be a toggle instead of a popup.

I have included the toggleCaptionsButtonWhenOnlyOne="true" option but it doesn't appear to have any effect - I'm still getting the popup. I've tried it in Firefox, IE and Chrome and they all behave the same way.

The video plays and the captions work - it just ignores that toggle option.

[2018-01-31 08:34] smasam commented on #2386
Hi John,

When can we expect this feature, we are kind of waiting since long time.

[2018-02-01 17:23] lukehatfield opened #2493 "duplicate src attribute in video tag when using closed captioning with source tag"
I'm following the directions for [closed captioning](https://github.com/mediaelement/mediaelement/blob/master/docs/installation.md#use-of-closed-captioning-optional), but somehow a src="" attribute gets added to the video tag. It's already in it's own `<source>` element as illustrated in the docs, next to the `<track>` tag. This results in a skip and a double src download. The site is here: riverv

[2018-02-03 06:20] vibhi19 opened #2494 "Getting an error While using this player"
Please Take a look here

Submitted the issue in plugin https://github.com/mediaelement/mediaelement-plugins/issues/115

Here

[2018-02-03 11:39] vibhi19 commented on #2494
Hi
Thanks For Great work but one issue im getting right now and i dont know what causes it
here an screenshot of chrome console
<img src="https://i.imgur.com/Fk48WfB.jpg"></img>

Can You check and tell what can cause this issue

Here an another on frontend it add a black color frame in the site
<img src="https://i.imgur.com/ouVlfye.jpg"></img>

This Script in footer and css in head
css
`<link rel=

[2018-02-07 09:21] xiaosongxiaosong opened #2495 "Mediaelement always load flv.js/hls.js from remote in reactjs app"
#### When I use mediaelement in my reactjs app according to the following document
[https://github.com/mediaelement/mediaelement/blob/4.2.8/docs/usage.md#react](https://github.com/mediaelement/mediaelement/blob/4.2.8/docs/usage.md#react)

#### The current solution:
[code]

[2018-02-08 08:51] nadirlc opened #2496 "Setting YouTube configuration dynamically"
Hello,

We using the MediaElementJs playlist plugin and would like to load the YouTube configuration for each track before it is played. Is it possible to do this.

Thanks,
Nadir Latif

[2018-02-08 11:57] gordielachance opened #2497 "Soundcloud stream MP3 when rate limite is exceeded should fire an error"
Hi !
When I try to stream a MP3 from soundcloud (eg.
https://api.soundcloud.com/tracks/1339319/stream?client_id=XXX) and that my API limit has been reached, I get

In the console.
But it seems that medialements do not catch the error.

Here's what I get when I open that link in a new tab:

`{"errors":[{"meta":{"rate_limit":{"bucket":"by-client","max_nr_of_requests":15000,"time_window":"PT24H","nam

[2018-02-13 00:24] SeventhCycle opened #2499 "Destroying MEJS element in IE does not work when switching renderers."
Hello,

On Internet Explorer, I noticed an issue when trying to remove a player instance. You can see a demo of it here:
http://seventhcycle.net/mejs/ie/

Please try this on IE11.

On the initial load, I am using the native_hls renderer. The movie plays fine.

When I click "Load Video", I have the system attempt to load an MP4 file, and therefore don't set a renderer.

When I do this on IE, I noti

[2018-02-15 21:18] sravanthialuri opened #2500 "Unable to play HLS video file on IE11 "AUDIO/VIDEO: Unknown MIME type.""
![capture](https://user-images.githubusercontent.com/12192998/36281351-4ab15360-1295-11e8-82ed-d9b06d6cc551.PNG)

The HLS video keeps buffering and throws an error on IE11 console "AUDIO/VIDEO: Unknown MIME type."
I tried it on "http://www.mediaelementjs.com/" and also in my project. The other browsers like chrome and firefox works fine.

[2018-02-16 03:25] PWaddict opened #2501 "SoundCloud without Client ID ???"
Hi,

I'm interested on using your script for SoundCloud. So I downloaded all the files and tested the demo.

The method with the Client ID is working perfect without any errors:
`https://api.soundcloud.com/tracks/323195515/stream?client_id=95f22ed54a5c297b1c41f72d713623ef`

The only problem with that method is that SoundCloud have closed the request form for new Client IDs. So, I've tested the alt

[2018-02-20 10:18] jamiesmachon opened #2502 "Undefined Property"
Hello and good morning,
This is my first time on Githut so i hope this is not a repeat issue i have overlooked.  I am having the following error in my Chrome console.

Uncaught TypeError: Cannot set property 'enableAutosize' of undefined

My experience with this extension is limited so I am currently struggling to isolate the issue.

Here are some links to the development site if anyone can help.

[2018-02-20 16:34] jcdby commented on #2460
hi, @rafa8626 , sorry for late replying. I am using IE 11 that caused this issue. I think we could reopen it again.

[2018-02-21 11:05] paul-mediakitchen opened #2503 "Closed Captions - unable to select English on Android Phone (Samsung S7)"
It appears to be impossible to change the Closed Captions from None to English on an Android Phone.

[2018-02-21 12:33] PWaddict commented on #2501
I guess I'm gonna have to use YouTube as audio.

[2018-02-21 17:34] PWaddict opened #2504 "Playlist for YouTube doesn't auto switching track - PLEASE HELP"
@johndyer @rafa8626  I'm trying to use YouTube as audio with MediaElement Playlist but it doesn't auto switch on the next track when the current one is finished. I'm getting the following console error:

[code]

**Note:** If I manually click on the next track button then it works properly.

Here is my code:

[code]

Am I doing something wrong or it's a script issue? PLEASE HELP...

[2018-02-25 12:30] jamiesmachon commented on #2502
Bump!
Is there anyone that can help?
Many thanks in advance
Jamie

[2018-02-26 08:13] vibhi19 opened #2506 "Problem With adding support to iframe"
Hi I use this code to add support to youtube iframe for the player
[code]

The problem is that it start adding the player to every element that has iframe tag so can you provide any other code which only add support to YouTube dailymition   facebook and other suppoerted only instead of every element that has iframe

[2018-02-26 08:15] vibhi19 commented on #2506
For example it start adding support to google ads and jetpack comment system facebook page box

[2018-02-27 05:36] mangomkt opened #2507 "startLanguage"
In the latest version when I use
$('.vidplayer').mediaelementplayer({
  autoRewind: true,
  startLanguage: 'en'
});

it jumps to the player....if I use version 4.2.5 it does not do this.... is there a fix for this in the latest versions?

[2018-02-27 12:23] rafa8626 commented on #2506
Just use a specific class for your iframes (i.e., `class="media-player"`) or an attribute (i.e., data-player="true"):
[code]

[2018-02-27 15:25] vibhi19 commented on #2506
@rafa8626 Thank you very much for reply
Hi It works but I can't edit more than 2k post and add a class just as you Shown above
I have post from dailymotion Facebook YouTube in normal iframe like this one

<iframe src='https://www.youtube.com/embed/QILiHiTD3uc' frameborder='0' allowfullscreen></iframe>

Is there any other way i can Exclude Google ads Facebook like box and jetpack comments without E

[2018-02-27 15:28] rafa8626 commented on #2506
You may have to use selectors that target the `src` of iframes; something like this:
[code]

[2018-02-27 16:05] vibhi19 commented on #2506
@rafa8626 not working showing console error

![console error](https://user-images.githubusercontent.com/31093426/36739475-08518d1c-1c06-11e8-9889-464ada667882.JPG)

[2018-02-27 16:07] rafa8626 commented on #2506
Use quotes after `*=`; that should do it

[2018-02-27 16:13] vibhi19 commented on #2506
@rafa8626  Still same issue

[2018-02-27 16:21] rafa8626 commented on #2506
This worked for me:
[code]

[2018-02-27 16:27] vibhi19 commented on #2506
Can You check this url https://newsa2.com/smallfoot-teaser-trailer-1-2018-movieclips-trailers/
Not working for me whats creating the problem ?

[2018-02-27 16:31] rafa8626 commented on #2506
You have a `Uncaught SyntaxError: Unexpected end of input` so one of your inputs in the markup is not closed properly. I can't assist you more since this is not MEJS related anymore.

[2018-02-27 16:39] vibhi19 commented on #2506
This Is script im using I just copied as you wrote Sorry i know its frustating

Here is The code

[code]

[2018-02-27 17:28] vibhi19 commented on #2506
@rafa8626  Solve  Thank You Very Much Sorry Im Just started to learn jquery so I hard for me understand few things

[code]

[2018-02-27 17:28] #2506 closed

[2018-02-27 18:07] #2494 closed

[2018-02-27 18:07] vibhi19 commented on #2494
This is Problem when jquery doesn't load

[2018-03-01 13:05] vibhi19 opened #2508 "Load YouTube and other Supported Site Faster"
Hi
is there anyway we can load mediaelement YouTube player faster Like lazy load or something else

[2018-03-01 13:35] andixor opened #2509 "Time-Slider incorrect pointing in Pause mode (Youtube)"
Hi.
I found a problem with Time-Slider incorrect pointing on Youtube videos when player is in pause.
Clicking on timeline doesn't always moves TimeSlider to that point.
Please, check this video to reproduce.
https://youtu.be/u9IMqUla_IY

[2018-03-01 14:08] fadeli1 opened #2510 "Hls is not defined"
My environment:
cordova 6.5.0
android

My configuration:
[code]

In the end I got a mistake:
Hls is not defined

My debugging information：
![1](https://user-images.githubusercontent.com/1914030/36848771-2e632432-1d9d-11e8-9eec-b0a07cccacca.png)
![2](https://user-images.githubusercontent.com/1914030/36848779-343f142e-1d9d-11e8-979f-2a2b9e88ae66.png)

[2018-03-01 14:12] fadeli1 commented on #2510
I joined hls.js, everything is normal:
<script src="hls.js"></script>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="build/mediaelement-and-player.js"></script>

<link rel="stylesheet" href="build/mediaelementplayer.min.css" />

[2018-03-01 16:09] andixor commented on #2509
Seems like I found solution myself.
in line 1781 (function handleMouseup())
by replacing this line:
`t.setCurrentRail();`
with this one:
`t.setCurrentRailHandle(t.newTime);`

[2018-03-02 10:40] rameshmoorthy1303 opened #2511 "Is there any preroll sample code for MediaElementJS?"
Hi Guys,
I tried to implement the preroll ad in MediaElement JS, but I didn't get that. Please help me out.

[code]

[code]

[code]

[2018-03-02 16:37] wercyandrew commented on #1561
Solución de visualización de video por wercyandrew
Esta con .html por eso no se reproduce el video
http://leandroperez.com.ar/sample/08-2014_002.html
Tienes que colocarlo como 08-2014_002.mp4 para que funcione
https://leandroperez.com.ar/sample/08-2014_002.mp4

por eso no se cobra, compartamos el conocimiento libre

[2018-03-02 16:38] wercyandrew commented on #1561
Solución de visualización de video por wercyandrew
Esta con .html por eso no se reproduce el video
http://leandroperez.com.ar/sample/08-2014_002.html
Tienes que colocarlo como 08-2014_002.mp4 para que funcione
https://leandroperez.com.ar/sample/08-2014_002.mp4

por eso no se cobra, compartamos el conocimiento libre

[2018-03-03 18:59] jamiesmachon commented on #2502
Am I to believe that noone maintains this package anymore?

[2018-03-04 08:03] saeedrm6 opened #2513 "m3u8 audio get paused on changing applications in Mobile"
Hello
when I playing m3u8 audio file with mediaelementjs and I changing applications , the player get paused! but I dont have this problem with .mp3 files
How Can I set the player forced always play even I change the applications?

[2018-03-04 08:05] saeedrm6 commented on #2513
I have this problem just in chrome android browser

[2018-03-06 10:11] infloent opened #2514 "When using Youtube the 'success' callback fires before the Youtube API generates the iframe"
I haven't check if this happens with other sources, but for youtube on 'success' I had to add a data attr on the generated iframe but the iframe it's not available yet when the 'success' callback it's fired.

I had to use setTimeout for 2000ms so i have access, but this is not ok for a number of reasons.

I think it would be best when using external API's the 'success' callback only fires when tho

[2018-03-09 08:30] nhansmartosc opened #2515 "Safari Mobile, IOS 10.x setCurrentTime() click twice"
Hi
When i use Safari mobile, IOS 10.x, the function setCurrentTime() must click twice it does effect, can you help me
Thanks
Nhan

[2018-03-10 16:21] wodim opened #2516 "Streamings never stop downloading"
I have a few ME players in a webpage, configured with just `features: ["playpause",],`, and for some reason downloads never stop when I click the pause button or start playing another streaming.

Maybe ME doesn't know they are streamings? Is there a way to tell ME it's supposed to stop the download when I click pause?

[2018-03-13 02:37] alexlii1971 commented on #2390
Hello,

I got the same error in a wordpress.
but, this error only happens with Safari, the video play well with Chrome and Firefox.
And, please note that this error only happens on the site will SSL installed, any suggestion to resolve it.

I can provide Adminstrator account for your test.

Thanks.

Alex

[2018-03-13 02:48] alexlii1971 commented on #2390
Also, other people submit bug report at core.trac.wordpress.org:

https://core.trac.wordpress.org/ticket/42874#comment:7

Alex

[2018-03-13 06:00] alexlii1971 opened #2518 "Wordpress mediaelement plugin suggestion"
Hello,

**Wordpress mediaelement version control plugin**

I got problem with wordless 4.9.1 as following:

Media error: Format(s) not supported or source(s) not found

but, this error only happens with Safari, the video play well with Chrome and Firefox. And, please note that this error only happens on the site will SSL installed.
Also, other people submit bug report at core.trac.wordpress.org:
h

[2018-03-13 10:56] rafa8626 commented on #2502
@jamiesmachon Hi, I used to maintain the package but I don't anymore. However, I'll have a bug check this week and I'll try to answer to some of them. Thanks for your patience

[2018-03-13 10:59] rafa8626 commented on #2486
@payflix Thanks for reporting this. I'll check this and let you know my findings.

[2018-03-13 11:13] rafa8626 commented on #2518
@alexlii1971 There's a piece of code that transforms the media into a blob due to SSL. See https://github.com/mediaelement/mediaelement/blob/master/src/js/core/mediaelement.js#L100. This was introduced because of the issue reported in https://poodll.com/ios-10-and-html5-video-and-html5-audio-on-https-sites/. Try to comment that piece and let me know how you are experiencing this issue, and we may

[2018-03-13 11:14] rafa8626 commented on #2516
@wodim To truly stop a streaming, you must basically set the source to nothing. Otherwise, `playpause` only stops the rendering, but not the downloading

[2018-03-13 11:15] rafa8626 commented on #2515
@nhansmartosc I'll check this. Please star the project to continue supporting it

[2018-03-13 11:15] rafa8626 commented on #2516
Please star the project to continue supporting it

[2018-03-13 11:20] rafa8626 commented on #2511
@rameshmoorthy1303 You need to add `https://cdnjs.cloudflare.com/ajax/libs/mediaelement-plugins/2.5.0/ads/ads.js` and `https://cdnjs.cloudflare.com/ajax/libs/mediaelement-plugins/2.5.0/ads/ads.css` before the `vast` plugin. Please star the project to continue supporting it

[2018-03-13 11:20] #2511 closed

[2018-03-13 11:21] rafa8626 commented on #2510
@fadeli1 Thanks for noticing this. I'll add a note in the documentation about it. Please star the project to continue supporting it

[2018-03-13 11:21] #2510 closed

[2018-03-13 11:23] rafa8626 commented on #2508
@vibhi19 Not currently. It can be explored but at this point we are only taking PRs and bug fixes. Please star the project to continue supporting it

[2018-03-13 11:23] #2508 closed

[2018-03-13 11:24] rafa8626 commented on #2509
@andixor Thanks for noticing this. Is this something that happens only in YouTube, or other sources as well?

[2018-03-13 11:25] rafa8626 commented on #2507
@mangomkt I'll check this. Thanks for noticing this. Please star the project to continue supporting it

[2018-03-13 11:25] #2516 closed

[2018-03-13 11:26] rafa8626 commented on #2504
@PWaddict I'll check this. Thanks for noticing this. Please star the project to continue supporting it

[2018-03-13 11:27] rafa8626 commented on #2503
@paul-mediakitchen I'll check this. Thanks for noticing this. Please star the project to continue supporting it

[2018-03-13 11:28] rafa8626 commented on #2502
@jamiesmachon Where can I see this error? I accessed your website but IDK where to start

[2018-03-13 11:29] rafa8626 commented on #2501
@PWaddict Thanks for checking this. I'll see if the rendered can accept this URL, and let you know. Please star the project to continue supporting it

[2018-03-13 11:29] rafa8626 commented on #2500
@sravanthialuri Is this still an issue for you?

[2018-03-13 11:30] rafa8626 commented on #2499
@SeventhCycle Thanks. I'll check this soon

[2018-03-13 11:31] rafa8626 commented on #2497
@gordielachance I'll take a look at it soon

[2018-03-13 11:32] rafa8626 commented on #2496
@nadirlc Currently this is not possible. Worth exploring but right now we are only accepting PRs and bug fixes

[2018-03-13 11:32] rafa8626 commented on #2496
@nadirlc Please star the project to continue supporting it

[2018-03-13 11:32] geegeegee22 opened #2519 "How to remove mediaelement controls for vimeo videos?"
I encountered this issue where the controls of media element are not showing. This is only happening on vimeo videos. Controls are showing in youtube videos.
I tried to fix it using but my code doesn't work. Please help
![image](https://user-images.githubusercontent.com/13595956/37339213-ddddde38-26f4-11e8-9049-79f6987b4b83.png)

[2018-03-13 11:35] rafa8626 commented on #2495
@xiaosongxiaosong Thanks I'll update the documentation in a bit

[2018-03-13 11:35] #2495 closed

[2018-03-13 11:36] rafa8626 commented on #2493
@lukehatfield I'll take a look. Thanks and please star the project to support it

[2018-03-13 11:37] rafa8626 commented on #2492
@aad-webteam Thanks for noticing this. I'll check this soon. Please star the project to continue supporting it

[2018-03-13 11:38] rafa8626 commented on #2491
@ScalBrra I'll take a look and see what are the implications of introducing your modification. If you can create a Pull Request and submit it, it will be easier to review

[2018-03-13 11:40] rafa8626 commented on #2489
@MuhdNurHidayat The problem is that, if the NND doesn't provide an API to interact with the videos, MEJS cannot work with it. For what I've seen, they just allow you to upload videos but that's it

[2018-03-13 11:40] #2489 closed

[2018-03-13 11:41] rafa8626 commented on #2485
@jamesmgittins I'll check this soon. Thanks and please star the project to support it

[2018-03-13 11:42] rafa8626 commented on #2483
@mansoor-omrani Definitely a bug. I'll look at it soon. Thanks and please star the project to support it

[2018-03-13 11:43] rafa8626 commented on #2481
@Himani3010 Can you post a Fiddle where I can see this please?

[2018-03-13 11:44] rafa8626 commented on #2519
@geegeegee22 The controls are removed but you still have the style for the control bar. Set the background to transparent and, potentially, `z-index: 0` and that should do it. If you have a Fiddle, please share it

[2018-03-13 11:52] rafa8626 commented on #2484
@mansoor-omrani Thanks for the suggestion. At this point we are only accepting PRs and bug fixes

[2018-03-13 11:57] geegeegee22 commented on #2519
i do need the style of the control bar for the youtube. i just need to remove the control bar for the vimeo videos. And i am sorry i do not have fiddle. I tried to fix this using this code but no luck `if (mediaSource == 'vimeo') {
                $('.mejs-container .mejs-controls').css('display: none !important;');
            } `

[2018-03-13 12:00] rafa8626 commented on #2519
That doesn't work in jQuery. You cannot set an `!important` attribute like that. You may need to set a new class with that element.
[code]
and then your code will be:
[code]

[2018-03-13 12:00] #2519 closed

[2018-03-13 12:01] rafa8626 commented on #2519
Please star the project to support it

[2018-03-13 12:04] rafa8626 commented on #2507
@mangomkt I have checked this option using the latest version (4.2.8) and the demo file and it is working. Is this still an issue for you?

[2018-03-13 12:24] alexlii1971 commented on #2518
Hello @rafa8626 ,

Thanks, I would like to try, would you please confirm whether it is right to comment  the following piece of code, thanks a lot.

[code]

[2018-03-13 12:25] rafa8626 commented on #2518
Try to comment all the `if` statement inside `processURL` and we can start there

[2018-03-13 12:26] ScalBrra commented on #2491
Hi! Ok, I will do that !

[2018-03-13 12:40] wodim commented on #2516
Gracias.

[2018-03-13 12:57] alexlii1971 commented on #2518
@rafa8626

thanks. and sorry for my poor english.

there are only two processurl, and only one if statement,

should I comment this part at screenshot: http://prntscr.com/iql6w6

if not, do you might comment that and send me by email : alexlii at yahoo dot com?

Thanks.
Alex

[2018-03-13 13:23] alexlii1971 commented on #2518
@rafa8626

I found the file of mediaelement.js in wordpress is quite different with the one here.

Do you mean I should comment the mediaelement.js file in wordpress, right?

I attached the one in wordpress, and would you please have a check?

thanks.

Alex
[mediaelement.js.zip](https://github.com/mediaelement/mediaelement/files/1806995/mediaelement.js.zip)

[2018-03-13 13:25] rafa8626 commented on #2518
The one in Wordpress must have the same method so comment the lines I indicated in the one from Wordpress and see if that helps

[2018-03-13 13:32] jamiesmachon commented on #2502
Hi @rafa8626
I have reintroduced the line of code that broke the Media Player. I temporarily commented it out so I could view my pages properly.  If you load the Homepage or the Discography page the error occurs and prints out in the inspectors console.

If you require any type of access to the site please let me know.

I hope you can help me out here
Best Regards
Jamie

[2018-03-13 13:43] alexlii1971 commented on #2518
Thanks,

Here is what I comment: http://prntscr.com/iqly55

and here is the video post on the site with SSL

you will find it still does not play in Safari, but it works in Chrome and Firefox.
https://support.lovcour.com

Any other suggestion?

Alex

[2018-03-13 13:53] rafa8626 commented on #2518
Seems like Safari itself doesn't like the file at all. You must check how it is encoded because that might be the reason. IE and Safari sometimes have a hard time with media not encoded correctly

[2018-03-13 13:54] rafa8626 commented on #2518
But since this is an issue with the file and not with MEJS I'd close this. Please star the project to support it

[2018-03-13 13:54] #2518 closed

[2018-03-13 13:57] rafa8626 commented on #2492
@aad-webteam I didn't notice the whole markup you posted. That options must be set in the MEJS configuration, not in the video tag. Check the demo file included in this plugin and in the `demo.js` file add that option and it will work as expected. Thanks and please star the project to support it

[2018-03-13 13:57] #2492 closed

[2018-03-13 14:25] rafa8626 commented on #2499
@SeventhCycle Can you download the master branch and test to check that this is solved please? I don't have a Win machine and Browserstack was a bit slow so I couldn't verify 100% if this got fixed. Let me know

[2018-03-13 14:26] rafa8626 commented on #2483
@mansoor-omrani Can you download the master branch and test to check that this is solved please?

[2018-03-13 14:30] rafa8626 commented on #2515
Do you have a Fiddle I can check, please?

[2018-03-13 14:32] rafa8626 commented on #2485
@jamesmgittins Please download the master branch and let me know if this got fixed. Thanks

[2018-03-13 14:34] rafa8626 commented on #2482
@DanielRuf File included. Thanks and please star this project to support it

[2018-03-13 14:34] #2482 closed

[2018-03-13 14:44] rafa8626 commented on #2509
@andixor Seems like it is fixed and it doesn't affect other renderers. I'll push this to the master branch. Can you verify it is fixed in all the sources on your side, please?

[2018-03-13 14:50] geegeegee22 commented on #2519
are there any ways to use the controls of mediaelements-player instead of the controls of vimeo?

[2018-03-13 14:52] geegeegee22 commented on #2519
The issue is like this but i cant identify how you fixed it.
https://github.com/mediaelement/mediaelement/issues/1833

[2018-03-13 14:53] rafa8626 commented on #2519
The controls from MEJS work with Vimeo; the problem is that Vimeo, unless you configure your videos in such a way, doesn't allow you to hide the control bar. You need to check the demo files and see how the Vimeo works with the MEJS controls, even when Vimeo's controls are present. I didn't enabled the background mode because it was experimental and you cannot play media without being muted

[2018-03-13 15:00] nhansmartosc commented on #2515
Hi Rafa
Please see the link, then you click button Listen From Here
https://ieltsonlinetests.com/ielts-recent-actual-test-answers-vol-5-listening-practice-test-3

Regards

[2018-03-13 15:05] alexlii1971 commented on #2518
Thank.

Actually, I tested a lot of videos files, it should not be with the files.

This is a common issue:

https://stackoverflow.com/questions/4660189/cannot-view-quicktime-movies-over-https-in-safari-or-uiwebview

Thanks anyway.

Alex

[2018-03-13 15:06] geegeegee22 commented on #2519
Well my first goal is to use the controls of the media elements and player. and remove the controls of the vimeo. how do you do that?

[2018-03-13 15:08] rafa8626 commented on #2519
Like I said, if you don't have privileges to remove the control bar from Vimeo's website, there's nothing else to do. Somebody proposed a hack (http://jsfiddle.net/q12nakz3/4/) but it can mess the way the video is displayed, so that's why it's not implemented. And also, goes against the policies of Vimeo to hide the controls if you don't have access to the admin area

[2018-03-13 15:10] rafa8626 commented on #2518
You are welcome. Hope you get it solved on your side. Please star the project to support it

[2018-03-13 15:21] geegeegee22 commented on #2519
so if i hide the vimeo controls. how can i use the controls of the media element player?

[2018-03-13 15:28] rafa8626 commented on #2519
if you checked the demo file in this project you should be able to see how to use the controls of the plugin with Vimeo

[2018-03-13 16:23] rafa8626 commented on #2502
@jamiesmachon If I remember correctly, `MediaElementDefaults` doesn't exist anymore, after the 4.9 upgrade in WordPress. You need to remove it. See attached:
![screen shot 2018-03-13 at 12 16 12 pm](https://user-images.githubusercontent.com/910829/37354989-4304936a-26b9-11e8-95f7-30e2694a6f65.png)

[2018-03-13 16:23] #2502 closed

[2018-03-13 18:20] mangomkt commented on #2507
i will test it out and send you a codepen example if i have issues....

also was try to get it that when i unmute a video it goes to a preset
volume... right now it stays at 0

On Mar 13, 2018 6:05 AM, "Rafael Miranda" <notifications@github.com> wrote:

[2018-03-13 20:21] jamiesmachon commented on #2502
Hi @rafa8626,
Thanks greatly for your reply. I noticed when I commented out that particular line of code everything pretty much came back but I wanted to be sure it was the right thing to do from someone else who understands this package better than myself!

Many thanks and best regards
Jamie

[2018-03-13 20:23] rafa8626 commented on #2502
You are welcome. Please star the project to support it

[2018-03-13 21:00] PWaddict commented on #2501
Actually I've build a custom SoundCloud player using the [Widget API](https://developers.soundcloud.com/docs/api/html5-widget) based on this [sample](https://codepen.io/noname11/pen/KrmNgr) that I found and it's working perfect. Good luck with your script.

[2018-03-13 21:00] #2501 closed

[2018-03-13 21:03] PWaddict commented on #2504
I don't need this anymore as I have already mentioned in the other thread that I've build a custom SoundCloud player that do the job.

[2018-03-13 21:03] #2504 closed

[2018-03-13 21:04] rafa8626 commented on #2504
OK thanks for the update. Please star the project to support it

[2018-03-13 21:18] sravanthialuri commented on #2500
Hello @rafa8626, thank you for looking into it. Yes, it is still an issue.

[2018-03-13 21:55] rafa8626 commented on #2515
@nhansmartosc After a lot of research I think this has to do with iOS policies for autoplaying a video; I'm not sure if muting your media and then attempting to setCurrentTime and play will work, because they stated that in order to "autoplay" a video you must have a video muted and it must have user interaction

[2018-03-13 22:05] sravanthialuri commented on #2500
Yes, I tried it on our server. The problem is only with HLS/m3u8 videos on IE11 other browsers(Chrome/Firefox) and videos(MP4) seems to work fine.

[2018-03-13 22:09] rafa8626 commented on #2500
That's odd because I tested the main website on Browserstack using Win7 IE11 and I'm able to see it, even with the error being displayed:
<img width="1110" alt="screen shot 2018-03-13 at 6 08 11 pm" src="https://user-images.githubusercontent.com/910829/37372583-931ddbf6-26e9-11e8-9652-f4a23df7dbc2.png">

[2018-03-13 22:10] sravanthialuri commented on #2500
I believe there is some initialization issue. If I refresh the page and select the HLS then it won't work. But, if I switch from MP4 to HLS video then it works.

[2018-03-13 22:39] sravanthialuri commented on #2500
![image](https://user-images.githubusercontent.com/12192998/37373662-c2562faa-26d4-11e8-8b98-c034dbde030a.png)

[2018-03-13 22:40] sravanthialuri commented on #2500
![image](https://user-images.githubusercontent.com/12192998/37373695-e89cabf8-26d4-11e8-9240-3b10b0736a4b.png)

[2018-03-13 22:43] sravanthialuri commented on #2500
Does the above two screens ring any bell? FYI I'm running IE11 on Windows 8.1 Pro

[2018-03-14 02:50] dmdewey commented on #393
The captions will disappear in fullscreen mode but can be re-enabled in the iOS media player by tapping on the standard caption icon. The captions in fullscreen will display on both iPad and iPhone (iOS 11.x) if they are **VTT** captions and defined as a standard html5 video subtitles track. You still lose your custom chrome in fullscreen mode.

Subrip/SRT captions do not work the same way because

[2018-03-14 12:24] rafa8626 commented on #2500
I’ll test in that environment using Browserstack and let you know my findings

[2018-03-14 14:07] andixor commented on #2509
Currently i'm using only Youtube as a source on my site https://zouktube.net
but looks like others are fine.

[2018-03-14 14:33] laimonas opened #2521 "Memory leak player.remove();"
I have react component which uses mediaelement library.
This component simple creates new video and
on componentWillUnmount it removes it.
But as many time i go to this page with video, memory only increases.
This is not happening with other page which not uses mediaelement.
When i debug i see that players removed successfully and mejs.players array is empty.
By the way this react component is cre

[2018-03-14 14:54] rafa8626 commented on #2509
Thanks for testing. Please star the project to support it

[2018-03-14 14:54] #2509 closed

[2018-03-15 03:57] jmraker opened #2522 "Fullscreen issue on chrome in macos"
I updated a website on March 13 2018 to use mediaelementsjs 4.2.8
It's working good, but...
One user is having a problem with the full screen in Chrome on MacOS
  They are reporting that it works for them in Safari and chrome on Windows.
It seems that when their fullscreen controls disappear, the video shifts down
They made two videos that I uploaded to youtube

Do you know what is going on?

Thei

[2018-03-15 04:22] mangomkt commented on #2507
https://codepen.io/rsmm/pen/6f14f50cc90306e7068e82f8c4b4ce8d

Here is an example using the 4.2.8

*Curtis**Grant*
cg@mangomkt.com

On Tue, Mar 13, 2018 at 12:20 PM, Curtis Grant <cg@mangomkt.com> wrote:

[2018-03-15 11:02] gianjavier09 opened #2523 "Media element controls are not working for vimeo videos"
We are currently using media element player version 2.20.1 and the controls of media element is not working. Upgrading media elements will make major refactoring of codes in our site. But are there any ways to make the media element controls work on vimeo videos with our current media player version?

[2018-03-15 12:20] rafa8626 commented on #2507
For what I can see everything is fine what is your issue?

[2018-03-15 12:21] rafa8626 commented on #2523
Unfortunately no, because the old version uses a different Vimeo API that is outdated. The new version accounts for that new API in order to interact with Vimeo. Please star the project to support it

[2018-03-15 12:21] #2523 closed

[2018-03-15 12:23] rafa8626 commented on #2521
I did some fixes when removing the player; can you download the master branch and test if it still leaks memory? Probably because it may try to read/download the media even after removing the player

[2018-03-15 12:26] rafa8626 commented on #2456
Closing this issue since no answer has been in more than 2 weeks. If you would like to reopen it let us know

[2018-03-15 12:26] #2456 closed

[2018-03-15 12:27] rafa8626 commented on #2513
Not sure what could be the problem can you post a Fiddle to show the problem?

[2018-03-15 12:38] mangomkt commented on #2507
Is it not jumping to the bottom video when you click run?

On Mar 15, 2018 6:20 AM, "Rafael Miranda" <notifications@github.com> wrote:

[2018-03-15 13:15] rafa8626 commented on #2507
Yeah I saw that but I'm not sure if it's because how you setup the event for the window.scroll; not necessarily because of the player

[2018-03-15 13:16] mangomkt commented on #2507
Also is there a way too hide the video slider and just have a mute and
unmute button...when you unmute it goes to .8 volume

On Thu, Mar 15, 2018, 6:38 AM Curtis Grant <cg@mangomkt.com> wrote:

[2018-03-15 13:19] mangomkt commented on #2507
Any suggestions to set it up properly

On Thu, Mar 15, 2018, 7:15 AM Rafael Miranda <notifications@github.com>
wrote:

[2018-03-15 13:25] rafa8626 commented on #2507
For the configuration, you have to indicate which ones you want in the player config:
[code]
In terms of the scroll I don't have really an idea, but check this: https://stackoverflow.com/questions/4627203/jquery-trigger-action-when-a-user-scrolls-past-a-certain-part-of-the-page

[2018-03-15 18:33] Himani3010 opened #2524 "Error while setting up RTMP stream"
RTMP stream is not being played and in the console, I see the error below:

Please, can you tell me if the RTMP stream isn't configured correctly or some issue with mejs?

Thanks,
Himani

[2018-03-15 21:04] laimonas commented on #2521
@rafa8626 is ti possible to test next version using npm?

[2018-03-16 10:32] ammar17 opened #2525 "ended event not work in chrome 64"
Hello,
I have a problem that I encounter since version 64 of chrome on an audio file (it works well under FF)

The event "ended" is not sent at the end of the playback of this media but I can not find the nature of this problem.

To solve this problem, I re-encoded the sound with ffmpeg.

I have attached an example showing this problem (The first sound file sends the event "ended" at the end of th

[2018-03-18 10:37] musikdoktor commented on #652
This issue still happening.. and i can confirm in Chrome too..

[2018-03-18 13:19] rafa8626 commented on #2521
I’ll deploy next version this week

[2018-03-20 12:48] abhijitrakas opened #2526 "Removing source tag on safari"
Why removing source tag on safari browser? Is there any way to by pass this to keep 'source' tag as it is.
[ref](https://github.com/mediaelement/mediaelement/blob/6947dd0be2dfd8385f4f59ce59a49dab079a2095/build/mediaelement-and-player.js#L3745)

[2018-03-21 07:17] MartinTheriault3333 commented on #1889
Come network with me on Unity Connect

  #outlook a { padding: 0; }
  .ReadMsgBody { width: 100%; }
  .ExternalClass { width: 100%; }
  .ExternalClass * { line-height:100%; }
  body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
  table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
  img { border: 0; height: auto; line-heigh

[2018-03-21 16:22] saeedrm6 commented on #2513
this is m3u8 music post that you can test in android chrome web browser:
https://nava.ir/music/shahab-mozaffari-ghasam
when you change the application, the player get paused

[2018-03-25 17:17] thisanimus opened #2527 ".m3u8 live hls stream only loads first segment in Windows Chrome and FF"
I use mejs to play a live hls stream.  Everything has been working just fine but this morning Windows Chrome and FF could not play the hls stream.  They begin playing the first segment, but hang after the end of the first segment, and do not advance to the next.  Sometimes I can get it to throw an hlsError, but not always.  I'll post the error details as soon as I can generate them again.

[2018-03-25 17:57] thisanimus commented on #2527
[code]

[2018-03-25 18:24] thisanimus commented on #2527
Seems to be an issue with the latest hls.js:
[https://github.com/video-dev/hls.js/issues/1624](https://github.com/video-dev/hls.js/issues/1624)

[2018-03-26 06:09] #2496 closed

[2018-03-26 07:28] abhijitrakas commented on #2526
@rafa8626 will you please look into this?

[2018-03-26 10:44] rafa8626 commented on #2526
This was done because Safari had accessibility issues when creating the player. There’s currently no way to keep them, unless you prove that Safari has fixed the issue so we can remove that code and leave the source tags

[2018-03-28 01:05] rafa8626 commented on #2521
@laimonas New version has been released. Thanks

[2018-03-28 01:05] #2521 closed

[2018-03-28 01:06] rafa8626 commented on #2483
Closing issue since no answer has been posted in 2 weeks. Also, this has been addressed in latest version

[2018-03-28 01:06] #2483 closed

[2018-03-28 01:08] rafa8626 commented on #2515
Closing issue since no answer has been posted in 2 weeks. If you would like to be reopened, let us now. Thanks

[2018-03-28 01:08] #2515 closed

[2018-03-28 01:11] #2507 closed

[2018-03-28 01:11] rafa8626 commented on #2485
Closing issue since no answer has been posted in 2 weeks. If you would like to be reopened, let us now. Thanks

[2018-03-28 01:11] #2485 closed

[2018-03-28 16:52] abhijitrakas commented on #2526
@rafa8626  I found that [Safari](https://developer.apple.com/library/content/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/AudioandVideoTagBasics/AudioandVideoTagBasics.html) has support. Please take a look.

[2018-04-02 03:26] yingkong87 opened #2529 "hls stream can't play on oppo R11s"
I test demo on oppo R11s browser is ok, but when i try my stream "http://221.215.148.21:9001/hls/test4.m3u8"  got error like the follow img.
![b48cedd51a8f27c804fa0cb1adf85c91](https://user-images.githubusercontent.com/18375391/38181915-4f8b62be-3625-11e8-86e8-adb9c5d182b4.png)

the console has no error, Please help me to find the problem，Thanks in advance

[2018-04-04 05:01] Ginuc opened #2531 "Video volume mute"
how to create media element video (youtube video) volume

**mute & Un-mute**

 on a **custom button** click. ?
I had hidden all the controls  **(hideVideoControlsOnLoad: true,)**

[2018-04-04 13:14] suterma opened #2532 "MediaElements XSS vulnerability still unpatched?"
My security conscious web hosting provider reports XSS vulnerabilities in the following files:

The answer to https://security.stackexchange.com/questions/182830/how-can-javascript-files-represent-a-flash-based-xss-vulnerability led me to https://hackerone.com/reports/299112

According to the hackerone report, 4.2.8 already has the fix. Is this a regression problem and the bug was "unfixed" again

[2018-04-04 13:43] vavroom opened #2533 "Volume increase not working with keyboard"
This is an accessibility bug. When using only the keyboard, it is not possible to increase volume on the volume slider. It is possible to decrease volume with the arrow down key. But the arrow up should increase the volume.

Tested in Firefox, Safari, Chrome on OS X and Firefox, Chrome IE11 and Edge on Windows.

Can see it in action at https://a11yrules.com or on the player's site: https://www.med

[2018-04-04 18:08] mansoor-omrani commented on #2483
Hi

Sorry for replying late.

I downloaded the new version 2.4.9 from the master branch and tested my application.

The issue still remains.

I'm using the file '**mediaelement-and-player.js**' file.

The exception happens on line 5143.

[code]

It appears that after clean-up, 't.node' has an undefined value.

'**TypeError: Cannot read property 'getAttribute' of undefined**

[2018-04-04 20:28] sravanthialuri commented on #2500
Any update?

[2018-04-04 22:53] rafa8626 commented on #2500
I have tested this in you environment using Browserstack and I couldn't reproduce the error you described at all.

[2018-04-04 22:57] rafa8626 commented on #2532
The Hackerone website dictated that there was no XSS issue since those files were not included at all in WP. There is no regression in 4.2.9

[2018-04-04 22:57] #2532 closed

[2018-04-04 22:58] rafa8626 commented on #2531
See https://github.com/mediaelement/mediaelement/issues/2436 for more details

[2018-04-04 22:58] #2531 closed

[2018-04-04 22:59] rafa8626 commented on #2529
You may have to log this issue on https://github.com/video-dev/hls.js/ project for more information since that's the library the player uses for HLS

[2018-04-04 22:59] #2529 closed

[2018-04-04 23:00] rafa8626 commented on #2527
If this has been fixed in the latest version of HLS, let us know. I'll close this issue for now

[2018-04-04 23:00] #2527 closed

[2018-04-04 23:05] rafa8626 commented on #2526
I know it has support; the problem is that, because of the way the player is created, the children of the video/audio tag behave weird in Safari, causing the focus to get lost. If you comment  on `build/mediaelement-and-player.js` lines 3745-3787 and you use Tab in the demo file, and you confirm that there's no issue with the focus (meaning that the focus can go to the next element or the next pla

[2018-04-04 23:06] rafa8626 commented on #2525
I'm not an expert on audio; the only tools I could recommend for issues like this were the ones listed in https://github.com/mediaelement/mediaelement/blob/master/docs/resources.md. Other than that, it is not really a player's issue, but the media itself issue

[2018-04-04 23:06] #2525 closed

[2018-04-04 23:11] rafa8626 commented on #2513
I think the issue is because it's an HLS source. As far as I know, autoplay in audio may (or may not) work and every time you change sources in your website, you load a new song, and it requires manipulation from the user to play. Those are mobile policies nowadays.

[2018-04-04 23:11] #2513 closed

[2018-04-05 20:43] thisanimus commented on #2527
Fixed in hls.js v0.91

[2018-04-06 06:52] Ginuc opened #2534 "some flv fles video error "MediaError: CodecUnsupported Flv: Unsupported codec in video frame: 2""
MediaError: CodecUnsupported Flv: Unsupported codec in video frame: 2

[2018-04-12 12:45] qyl000scnew opened #2535 "Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause()."
Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().
in chrome

[2018-04-14 13:01] absdata commented on #2316
I have same issue. In Firefox it works fine, but in Chrome seek doesn't work.
Example link: https://api.zadarma.com/v1/pbx/record/download/2335abde941c43f9b80b6f44975053c131b6b24719871047e46701097bfb00f2/964b85cc07c3441fe9d663c9d50253be2bc16ebc109635d428fbb786b2535568/37622-1523708021.714417-79222593912-2018-04-14-171342.mp3

I have no idea how to solve the issue

[2018-04-18 12:57] akash-pal opened #2536 "setPoster is not a function"
`
   var player = new MediaElementPlayer(element[0], {
                    type: ['video/mp4'],
                    useFakeFullscreen : true,
                    poster: attrs.thumb,
                    success: function (mediaElement, domObject) {
                        mediaElement.setPoster(attrs.thumb);
                        mediaElement.setSrc(attrs.url);
                        mediaEleme

[2018-04-24 13:20] jnz31 opened #2538 "native_dash: autoplay does not work"
neather setting the `autoplay` attribute, nor using `data-mejsoptions='{"autoplay": true}'`
does make the player start on load, when using mpd file as source.

[mediaelement.js](http://clients.jensbuss.com/mediaelement/test.html)
[dash.js](http://clients.jensbuss.com/mediaelement/test-2.html)

[2018-04-26 06:56] C0nw0nk opened #2539 "Question | MediaElementJS"
So with the HTML5 Javascript video player isit possible to send/include custom Request Headers that are sent to the server when requesting chunks / full video for playback.
[code]

[2018-04-27 08:47] jnz31 commented on #2538
best thing is: when you load my example, it works. but if you reload the page, it doesn't

[2018-05-01 11:48] LS-TV opened #2541 "HLS Resume Bug"
When pausing a HTTP Live Stream and then resuming a few minutes later Media Element JS appears to play the remainder of the cache and then stalls.

Confirmed in latest versions of Firefox and Chrome on Windows and Ubuntu.

This problem has existed across the last couple of versions (if not further) and exists in:
mediaelement-mediaelement-4.2.9-0-g6d66563.zip
mediaelement-mediaelement-plugins-2.5.

[2018-05-01 12:00] LS-TV opened #2542 "Random Playlist Selection After Playback Problem"
If choosing an item to play from a HLS based playlist and there is a problem with the selected stream, Media Player JS will then play a different and completely random alternate stream in the list.

Ideally the player should either display an error message or at least the next entry in the playlist, not a random entry.

Confirmed in latest versions of Firefox and Chrome on Windows and Ubuntu.

Thi

[2018-05-02 19:13] dobro03 opened #2543 "How do I set the default volume to 100% in Wordpress audio player?"
I've seen some code that people suggest, but I am a novice when it comes to website code and I'm not sure exactly where in WordPress I put the code.  I've tried pasting their code in a few different places but it never works....  Luckily I know where I have pasted it and am able to delete it so I don't mess things up!

I'm using the built in audio player in WordPress but it defaults to 80% volume

[2018-05-03 16:12] dobro03 commented on #2543
Anyone have an idea on this?

[2018-05-03 21:04] Qoraiche commented on #2543
Hi @dobro03, you will find the default volume setting in the `wp-mediaelement.js` file (located in `wp-includes/js/mediaelement`):

In the line 86:

`settings.startVolume = 0.2;`

Set the `startVolume` setting to:

`settings.startVolume = 1;`

**Notes**:
* Don't forget that this option is overrided by user cookie.
* As long as WordPress include the minified version of `wp-mediaelement` (`wp-mediae

[2018-05-03 21:11] Qoraiche commented on #2536
Hi @akash-pal, can you explain your issue, please.

[2018-05-03 21:15] Qoraiche commented on #2524
can you provide a live example?

[2018-05-03 21:42] dobro03 commented on #2543
Thanks for the reply Qoraiche.  I looked in that file and it only goes to line 84.  Nothing after.  I also didn't see anything titled settings.startVolume =0.2 on the page.
When I did a search for this problem someone suggested going into the media element-and-player.js file and change startVolume on line 2992 1.0 from .8.    That didn't seem to do anything.

On your NOTES not sure won't either me

[2018-05-03 22:17] Qoraiche commented on #2543
Hello again @dobro03, oops sorry my mistake. the answer updated!

[2018-05-03 22:28] dobro03 commented on #2543
I never could find line 86 in that file, (only went to 84) BUT I did see startVolume .8 in 2 files:
mediaelement-and-player.js and mediaelement-and-player.min.js    I changed that to 1.0 and it still didn't work.  But thanks to Qoraiche I deleted cookies from my website in my browser and then that fixed the problem.  Thank you Qoraiche!

One last question:  when WordPress has an update do I have t

[2018-05-03 22:31] Qoraiche commented on #2543
@dobro03 did see my first updated answer?

[2018-05-03 22:41] dobro03 commented on #2543
Yes.  In my wp-mediaelement.js file it only goes to line 84.   I believe I have the correct file?   Any file that started with wp didn't have startVolume in the media element folder for some reason.  But I did see that in mediaelement-and-player.js and mediaelement-and-player.min.js

Will I always need to update this if WordPress does its many updates?  Thank you!

[2018-05-03 23:03] Qoraiche commented on #2543
@dobro03 , copy-paste the following gist & minify:

https://gist.github.com/Qoraiche/e597c6726de673b041dd1771259b94ba#file-wp-mediaelement-js-L42

[2018-05-03 23:44] dobro03 commented on #2543
Qoreaiche-

I am not a website guy so thank you for your patience.  So paste this in the wp-mediaelement.js file?  Do I just add this to the existing code at the bottom of that file OR do I overwrite the existing code.  Also, I looked up minify but I would be nervous to try to do that unless there is a plug-in that does that automatically?   Appreciate all your help.....

[2018-05-04 00:27] mohanagy opened #2544 "display multiple subtitle"
I may just be missing some docs somewhere because I found what seems to be relevant code. So pardon in advance if this is already covered somewhere.

Anyway, Is it possible to display multiple subtitles at the same time?
like one on top, and the other on bottom?

Regards

[2018-05-04 00:55] Qoraiche commented on #2543
it's okay, you can minify using an online [javascript-minifier](https://javascript-minifier.com/). and yes overwrite the `wp-mediaelement.min.js` file with the minified version of the gist I gave you.

[2018-05-04 02:27] dobro03 commented on #2543
Thank you so much!!

[2018-05-05 09:49] mohanagy commented on #2544
no one ?

[2018-05-05 14:26] Qoraiche commented on #2544
@rafa8626  is there any way to achieve this?

[2018-05-07 07:50] mohanagy commented on #2544
sad to hear that :(

[2018-05-07 15:19] Qoraiche opened #2545 "New Mediaelement plugin suggestion"
Hello @rafa8626, I've built a new mediaelement plugin named [mediaelement snapshot](https://github.com/Codecsocean/mediaelement-snapshot), can you please take a look and try it if it's okay I will send merge request to the mediaelement-plugins.

[2018-05-08 11:02] alrickUA commented on #1751
It seems possible now: https://webkit.org/blog/6784/new-video-policies-for-ios/

[2018-05-08 13:35] MuhdNurHidayat commented on #2544
is it possible to make like ...

make a video object or something which plays only subtitle floating above base video, while still syncing with the base video which have their own subtitle, so that multiple subtitle could be implemented in that way?

[2018-05-10 05:31] alexlii1971 commented on #1809
same issue.... seems still not resolved yet, right?

[2018-05-10 11:55] rafa8626 commented on #2545
Hi @Qoraiche currently I’m not the maintainer of this project you better reach John Dyer for this. My apologies

[2018-05-10 13:33] srghma opened #2546 "Audio: wrong size of control elements"
with

[code]

or

[code]

I get this
![2018-05-10-16 30 27-screenshot](https://user-images.githubusercontent.com/7573215/39872164-cd24a8a8-546f-11e8-9770-275cca9a8aed.png)

Expected:
size of elements is relative to player height

[2018-05-10 13:39] srghma commented on #2546
[code]

not helping too

[2018-05-10 15:16] Qoraiche commented on #2545
Hi @johndyer can you please take a look

[2018-05-10 15:34] Qoraiche commented on #2546
Try to create a new player size control function

[code]
then, call it every time the window was resized.

i hope this help

[2018-05-10 15:38] Qoraiche commented on #2542
Hi, can provide an example please

[2018-05-11 16:23] ajamaistoujours opened #2547 "Controls always visible on Android with Youtube video"
Hello from France and sorry for my poor english !
Checked with Chrome and Samsung browser on mediaelementjs.com : the controls bar never disappears.
Otherwise, when several youtube videos are in the same page, controls are presents only on the first one played.
They are hidden on the others and never appear. Only the Big Play button works.
Demo on https://ecolenoesis.org/ecole/inspirations

Howeve

[2018-05-13 15:53] mohanagy commented on #2544
I would love to that, but it is possible to style the track element?

[2018-05-14 05:09] LS-TV commented on #2542
Hi
Thanks for your response.

Please go to the following: [](http://live.livingstreams.tv/test.html)
The first 3 hls streams in the playlist have problems.

Selecting 'NON EXISTENT DOMAIN' in the playlist results in the player loosing all functionality and its menu and controls and showing an error:
Media error: Format(s) not supported or source(s) not found
Download File: http://sfkfuehgovudnskco

[2018-05-22 12:47] stephenwithav opened #2548 "Webm fails to play in Opera; works in Chrome."
See: the [What Our Clients Say](http://catchtalent.com/employer-brand-services/) section of the page.

    Media error: Format(s) not supported or source(s) not found
    mejs.download-file: http://catchtalent.com/wp-content/uploads/2017/02/bokeh2-Stock-video_1.mp4
    mejs.download-file: http://catchtalent.com/wp-content/uploads/2017/02/bokeh2-Stock-video.webm

Both videos exist.  The `webm` file

[2018-05-23 07:47] Paradiseoo opened #2549 "No pauses for buffering between videos when m3u8 playing"
I want to have an imitation of TV live streaming (pseudo streaming) on my website from m3u8 playlist.

Only one trouble:
how to do prebuffering for the next video in background?
Not to have pauses BETWEEN videos for buffering.

Anybody can help me?

Thanks a lot in advance.

[2018-05-23 23:30] wfendler commented on #2462
How can `controlsTimeoutDefault`, `controlsTimeoutMouseEnter` and `controlsTimeoutMouseLeave` be configured to keep the controls visible after scrubbing to a new position?
I can't seem to get that to work. They always go away immediately.

[2018-05-23 23:33] wfendler opened #2551 "Control fading transition duration"
Is there a way to adjust the transition duration on the controls? It looks like javascript is setting the opacity. If a class was added/removed for visibility this would allow others to set the transition behavior in CSS.

(Thanks for the work on this! 👍 )

[2018-05-29 04:07] allayli opened #2552 "frameElement is denied to access on IE"
https://github.com/mediaelement/mediaelement/blob/6d665634da067ac075cd49631e646c7b16f25510/build/mediaelement-and-player.js#L4504

`var isIframe = _window2.default.self !== _window2.default.top && _window2.default.frameElement !== null;`

_window2.default.frameElement will cause "Access is denied" on IE. Here is a better way to check isIframe. (Ref: [How to identify if a webpage is being loaded in

[2018-05-29 09:00] Kelly12345g opened #2553 "Video is not rendered in Carousel with mobile view"

[2018-05-29 13:59] welzfabian opened #2554 "en.js missing in mediaelement/build/lang/"
Should be in there or am I missing something?

[2018-05-31 07:28] LS-TV commented on #2541
Can anyone else confirm?

[2018-05-31 07:30] LS-TV commented on #2542
Can anyone confirm?

[2018-05-31 10:13] freeyland commented on #285
Hi, I want to be able to play all players at the same time. I want to create an app where you can select which hls stream I want to display on the screen.
How can I play multiple HLS streams on the same page?

Rgds,
F

[2018-05-31 16:09] Murphy1976 opened #2555 "MediaElement loading in FLV - CodecUnsupported, info = Flv"
I read a similar thread that possibly could have fixed this, but I'm still not having any luck.

**HTML:**
<video class="mejs__player" preload="auto" controls playsinline webkit-playsinline src="/local-path-to-my/video.flv"></video>

**JS:**
$('video, audio').mediaelementplayer({
     audioWidth: "100%",
     videoWidth: "100%",
     renderers: ['html5', 'flash_video', 'native_flv', 'youtube_ifram

[2018-06-02 05:26] mbf5923 opened #2556 "problem in safari 5.1.7"
hi
i have this problem in safari 5.1.17 on windows 10
i use latest version of mediaelement
i check your site with my safari and video in your main page not showing in safari too.
my site link for your test:
http://footballtel.ir/play/video/1017
this work fine in other browser

[2018-06-02 17:38] MuhdNurHidayat commented on #2489
do you actually mean something like these though?
- from the website itself, but only in Japanese: [http://dic.nicovideo.jp/a/ニコニコ動画api](http://dic.nicovideo.jp/a/%E3%83%8B%E3%82%B3%E3%83%8B%E3%82%B3%E5%8B%95%E7%94%BBapi)
- some code found online:
  - https://codepen.io/hayu/pen/wJWdBw
  - https://github.com/ra-gg/node-nicovideo-api
  - https://github.com/mo-san/niconico-tools
  - https://www.ruby