[2021-04-09 12:39] mathbarlow opened #2853 "Picture-in-Picture don't work when Player is load m3u8 LiveBroadcast"
hello everyone, I loved mediaelement, for now I have a problem with picture-and-picture, I load the m3u8 listing in the video source and it is displayed correctly, but when adding the picture-and-picture plugin, the button is displayed but it does not work.

the error in the catch of the js file, is the following:

DOMException: Failed to execute 'requestPictureInPicture' on 'HTMLVideoElement': Me

[2021-04-12 07:09] Micu22 opened #2854 "How to remove negative on hover highlight bar?"
I have styled the player a little bit, so it looks differently, but I cannot remove the on-hover negative highlight bar and make the positive bar show always and show from the beginning.
How the negative bar looks:
![image](https://user-images.githubusercontent.com/51614436/114354005-f6d7a400-9b6d-11eb-85a5-6b453812d367.png)
How a positive bar looks:
![image](https://user-images.githubusercontent.

[2021-04-13 17:24] dorianfm commented on #2821
This appears to be fixed by inserting

`e.preventDefault()` into mediaelement/srv/js/features/tracks.js  on line 208.

Which allows the selected track to be changed but prevents the default click action.

I've only done cursory testing of this; it's adequate for my needs but I'm not sure how robust it is.

Will submit a PR once I've tested it a bit more.

[2021-04-13 17:28] dorianfm commented on #2821
# `#```

[2021-04-15 15:45] nicolaspetitjean opened #2855 "Can't establish connection with rtmp server"
Hi there !
I'm trying to setup a small stream server with nginx and OBS Studio. Stream is ok with VLC. But I can't get it working with MediaElement. Here is my code:
[code]
No errors in console but a black player. What am I doing wrong ?

[2021-05-06 14:02] jo-soft opened #2856 "Responsive option missing in the docs or at least missleading"
The source  code [mentions](https://github.com/mediaelement/mediaelement/blob/master/src/js/player.js#L113) four stretching options in a comment. but the docs sounds like there are only three: auto, fill and none. (responsive is mentioned but sounds like its equivalent to auto). but [code-wise](https://github.com/mediaelement/mediaelement/blob/master/src/js/player.js#L986) all for options differ u

[2021-05-25 17:46] MojtabaFaal opened #2857 "Video in Bootstrap Modal"
Hello
I put the video in **Bootstrap modal**
I want the video size to fill the entire modal
I did everything but the video size is not fixed
Why does it change size?
Why ?

Video Only : [https://jsfiddle.net/MojtabaFaal/rbLdzxcf/82/](https://jsfiddle.net/MojtabaFaal/rbLdzxcf/82/)
Video + Bootstrap Modal : [https://jsfiddle.net/MojtabaFaal/41Lhvo35/16/](https://jsfiddle.net/MojtabaFaal/41Lhvo35/16/

[2021-06-02 07:18] mba8487143 opened #2858 "Ads are not working on mac , safari or ios"
I am using adsPrerollMediaUrl to show ads. Its working fine on windows chrome , but on mac or ios some time its showing ads but not showing skip ad button and sometime its not showing ads.

[2021-06-08 11:29] Thomas-A-Reinert opened #2859 "Accessibility Issue - tabindex on mejs__container"
Hi I just wanted to ask for the reason why `<div id="mep_0" class="mejs__container mejs__video" tabindex="0" role="application" aria-label="Video Player">` gets a tabindex="0" which makes it tabbable. The element per se has no function unlike the play-buttons etc.

This fails in all our internal as well as external accessibility tests as "a non-interactive elements get unneccessary focus". This al

[2021-06-26 12:25] dpxgit commented on #2837
The issue is getting closed, because it has no content.

[2021-06-26 12:25] #2837 closed

[2021-06-26 17:24] dpxgit commented on #2604
This doesn't seem to have anything to do with the mediaelementjs library, that's why I'm closing the issue. But if you want to go back to the page the user was last, you can use the history.back() JavaScript function: https://developer.mozilla.org/en-US/docs/Web/API/History/back

[2021-06-26 17:24] #2604 closed

[2021-06-26 18:45] dpxgit commented on #2852
@nsdanny2k I can't reproduce the problem. Can you add an example page or maybe a codepen, where the issue is happening?

[2021-06-26 20:41] dpxgit commented on #2844
This would be a new feature and is currently not supported. The `<video>` Tag needs to have the attribute **disablePictureInPicture** set, see: https://developer.mozilla.org/en-US/docs/Web/API/HTMLVideoElement/disablePictureInPicture

[2021-06-27 08:51] dpxgit commented on #2822
Closing the issue, because @jaapmarcus has already given the solution.

[2021-06-27 08:51] #2822 closed

[2021-06-27 13:13] dpxgit commented on #2820
Closing the issue because @jaapmarcus gave the solution. I also don't think this should be a feature of mediaelementjs, because cookies should be set by your website as part of a cookie consent solution to be conform with data privacy.

[2021-06-27 13:13] #2820 closed

[2021-06-27 13:43] dpxgit commented on #2815
@leandroprz Yes, you can add the marker-plugin to create chapters for your video: https://github.com/mediaelement/mediaelement-plugins/blob/master/docs/markers.md

From the docs:
_This plugin allows you to create Visual Cues in the progress time rail._

_Also, allows you to register a custom callback function that will be triggered every time the media reaches a marker._

[2021-06-27 13:43] #2815 closed

[2021-06-27 18:02] dpxgit commented on #2808
@jaapmarcus has given the solution, the playlist plugin is used for this purpose, that's why I'm closing this issue.

[2021-06-27 18:02] #2808 closed

[2021-06-27 20:14] dpxgit commented on #2798
@jaapmarcus has given the solution, there are two plugins, which you can use to integrate tracking, that's why I'm closing the issue.

[2021-06-27 20:14] #2798 closed

[2021-06-27 20:20] dpxgit commented on #2782
The problem seems to be solved by using the speed plugin as @harishnb mentioned, that's why I'm closing the issue.

[2021-06-27 20:20] #2782 closed

[2021-06-28 07:25] dpxgit commented on #2718
I'm closing the issue because the problem seems to be resolved, thanks to @jaapmarcus

[2021-06-28 07:25] #2718 closed

[2021-06-28 07:34] dpxgit commented on #2695
@throne1986 as @jaapmarcus mentioned, this is the default behaviour for mobile devices, because they have their own buttons to control the volume, that's why I'm closing the issue.

[2021-06-28 07:34] #2695 closed

[2021-06-28 09:40] dpxgit commented on #2689
Closing this issue, because it's a duplicate.

[2021-06-28 09:40] #2689 closed

[2021-06-28 19:55] dpxgit commented on #2721
We didn't encounter any problems like that with Android or Windows 10 using YouTube with mediaelementjs. I'm closing the issue because the problem seems to be solved. Please reopen if this is wrong and there is a bug to fix.

[2021-06-28 19:55] #2721 closed

[2021-06-29 06:50] dpxgit commented on #2710
I'm closing the issue because the problem seems to be solved. But I think it would be good to add installation examples for popular js frameworks here: https://github.com/mediaelement/mediaelement/blob/master/docs/installation.md

[2021-06-29 06:50] #2710 closed

[2021-06-29 08:22] jaapmarcus opened #2861 "Future of MediaElements"
I notice some activity from @dpxgit  lately via my notifications and I think it a good thing...  I know the last 18 months are crazy due to the pandemic...

How ever the last "build" / released version is now over 1 year old (March 2020).

My last pull request has been submitted over 1 year ago has still not merged and since then a lot of new PR have been submitted.  Haven't seen a lot from @karaw

[2021-06-29 17:00] dpxgit commented on #2861
Hello @jaapmarcus, yes we are trying to pick up the support for this project. We are starting with closing some of the already resolved issues, to get an overview of the current support needed. Thanks to you btw, I've seen that you are supporting the project in a lot of issues.

Next steps would be to merge some pull request and release a new version.

I would agree that removing the support for F

[2021-06-29 18:05] dpxgit commented on #2841
Thanks @jaapmarcus for the solution, it's also documented in the API docs: https://github.com/mediaelement/mediaelement/blob/master/docs/api.md#mediaelementplayer

Closing the issue.

[2021-06-29 18:05] #2841 closed

[2021-06-29 18:08] dpxgit commented on #2838
Closing the issue because @jaapmarcus said the solution. If it turns out to be a problem with the mediaelementjs library, please reopen the issue.

[2021-06-29 18:08] #2838 closed

[2021-06-29 18:16] dpxgit commented on #2830
@tomgross i don't think it is currently supported. All renderer are documented here: https://github.com/mediaelement/mediaelement/blob/master/docs/usage.md#use-renderers

[2021-06-29 18:39] jaapmarcus commented on #2843
No currently mediaelements does not support IMA SDK.

The ads plugin listed in only support html5 ads and flash ads it self...  I developed one in the past and use slightly modified version of it currently on my own website(s)

[2021-06-29 18:44] jaapmarcus commented on #2861
It is great news it got finally reanimated it again.  👍🏻

[2021-06-29 22:48] dpxgit commented on #2825
If I'm understanding this correctly this is referring to the installation documentation for drupal: https://github.com/mediaelement/mediaelement/blob/master/docs/installation.md#installation-in-drupal

@michaelroy1991 Doesn' the documentation  work for drupal 9 anymore? If not it would be nice to know the problems when using it with drupal 9.

[2021-06-30 07:25] dpxgit commented on #2810
@superboys2017 can you provide a codepen example? For me it seems like the variable **duurt** is not a real number, that's why you have the output of NaN. If you replace the variable **durrt** with a number, you can test if this is the cause. But without seeing the rest of the code, I can't say for sure.

[2021-06-30 12:24] dpxgit commented on #2797
I'm closing the issue because the problem seems to be solved. Thanks @sweetngx for the solution.

[2021-06-30 12:24] #2797 closed

[2021-06-30 18:41] dpxgit commented on #2788
I think the question can't really be answered without legal support. If you build a service, which makes money from using the Youtube API, I suggest you get legal support to answer this question. But for now I think we won't change the implementation.

Closing the issue. If someone has more information on the topic, please feel free to add a comment or reopen the issue.

[2021-06-30 18:41] #2788 closed

[2021-06-30 21:54] dpxgit commented on #2787
I also can't reproduce this issue. Maybe it was something with the OS and browser version in perticular, but it works in all current browser versions. That's why I'm closing the issue. Please reopen if someone has more information on how to reproduce this issue.

[2021-06-30 21:54] #2787 closed

[2021-07-01 06:58] dpxgit commented on #2771
I'm closing the issue because @jaapmarcus gave the solution. If we need a feature to set the header in some other way, then please @jaguarli reopen the issue.

[2021-07-01 06:58] #2771 closed

[2021-07-01 07:07] dpxgit commented on #2768
I don't think there is a specific test for the dash options, but there is automated testing integrated. For video sources the test is here:https://github.com/mediaelement/mediaelement/blob/d8a667fd65560093fb227700a82805600ec9e8e3/test/player.tests.js#L95

[2021-07-01 07:10] dpxgit commented on #2763
For me this is working in Chrome without problems. I'm closing the issue because there is no response for an example for a while. Please reopen if the bug still exists with an example.

[2021-07-01 07:17] MrVerdierMUST commented on #2763
Apologies for leaving this here without further explanation. I seem to recall that the issue was caused by using the progress bar while using the chrome inspector. Viewing the page normally fixed it for me.

[2021-07-01 07:39] dpxgit commented on #2761
I also encountered this problem, we should find another solution, where the border can be set more easily.

[2021-07-01 07:44] dpxgit commented on #2756
I'm closing the issue because of the removal of Flash in the browsers. I don't think we will be adding new features like events to the Flash version. But I think the **loadstart** Event @jaapmarcus mentioned should work for this purpose.

[2021-07-01 07:44] #2756 closed

[2021-07-01 07:52] jaapmarcus commented on #2771
I have encountered the same issue in the past and the best way to solve the issue is with Nginx and don't brother with any header based authorisation sh*t...

https://github.com/jaapmarcus/nginx-secure-link/blob/e8a1b98a58bb27e5ab2572e277d37dc4a49f9060/nginx-secure.php#L29-L38

And modify Nginx config:
https://github.com/jaapmarcus/nginx-secure-link

I  this case it is  a plugin for Wordpress but

[2021-07-01 07:55] dpxgit commented on #2746
@igorko i guess the problem is that the player is initialized before the hls library is loaded. Can you provide an example for this issue?

[2021-07-01 07:59] dpxgit commented on #2739
I'm closing the issue because @karawitan gave the solution. The attribute **pauseOtherPlayers** is used for this purpose, you need to set it to **false**.

[2021-07-01 07:59] #2739 closed

[2021-07-01 07:59] jaapmarcus commented on #2857
Please try:

https://github.com/jaapmarcus/mediaelement-wordpress/blob/346c6eb612d6935ebe84fd92fd1961264b4ae8e3/media-element/mediaelement.js#L16-L19

player =  new MediaElementPlayer(this.id,settings);

[2021-07-01 19:42] dpxgit commented on #2707
I'm closing the issue because there is not enough Information in the issue. @JonLevy please reopen with more information, if this is still a bug.

[2021-07-01 19:42] #2707 closed

[2021-07-02 05:44] dpxgit commented on #2664
Maybe I'm overlooking something, but Youtube as a source and fullscreen works find for me here: https://www.mediaelementjs.com/

The example isn't online anymore to reproduce the issue, but unless someone can give me more information on how to reproduce the problem, I'm closing it for now. @vantan16 Please reopen if the bug still exists.

[2021-07-02 05:44] #2664 closed

[2021-07-02 06:14] dpxgit commented on #2642
@vchen-frick you need to set the plugin path, so mediaelement knows where to look: https://github.com/mediaelement/mediaelement/blob/master/docs/installation.md#2-add-script-and-stylesheet

[code]

Then you can add your plugin to the **features** array: https://github.com/mediaelement/mediaelement/blob/master/docs/api.md#mediaelementplayer

`List of features/plugin to use in the player; some will

[2021-07-02 21:17] dpxgit commented on #2626
@CarlFink I can't reproduce the problem, can you or someone provide an example for this?

[2021-07-02 21:19] dpxgit commented on #2625
@CeesV can you provide a full example, Part of your description seems to be missing.

[2021-07-02 21:24] dpxgit commented on #2623
@shyam-santra I think the solution needs to be an update of the mediaelementjs library, if the old version doesn't work for new ios versions.

Closing the issue, because of inactivity and found solution. Please reopen if there is still an issue.

[2021-07-02 21:24] #2623 closed

[2021-07-02 23:57] CarlFink commented on #2626
Notice the date. I filed this over two years ago. There have been 2 major versions of Lectora since then, and I no longer even use the code I was referring to.

[2021-07-03 17:10] dpxgit commented on #2611
@micker I'm not quite sure if understand your question correctly, but I think what you want is that the videoplayer currently playing gets a fixed position in a corner of the screen.

Here is the concept on how I would do it:
* Create an intersectionObserver to monitor if your videoplayer instances are not in viewport anymore: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_

[2021-07-03 21:04] dpxgit commented on #2615
@irieislaw4 currently this is not implemented and needs to be added as a new property.

[2021-07-03 21:08] dpxgit commented on #2610
I can't reproduce this Bug. Maybe this was broken in an oder version, but currently the player works fine when I test it on mobile devices.

Please reopen with more information on the mobile device if the bug is still happening.

[2021-07-03 21:08] #2610 closed

[2021-07-03 21:10] dpxgit commented on #2608
I don't have much experience with WordPress to test this Bug. Can someone help to verify the problem?

[2021-07-03 21:13] dpxgit commented on #2606
@cristobal85 i just tested the hls source on mediaelementjs.com and it works fine. Closing the issue because maybe it's already fixed. Please reopen if the bug still exists.

[2021-07-03 21:13] #2606 closed

[2021-07-03 21:15] dpxgit commented on #2603
Closing the issue because this seems to have nothing todo with mediaelementjs.

[2021-07-03 21:15] #2603 closed

[2021-07-03 23:08] dpxgit commented on #2602
I think the problem here is that the fullscreen button was disabled in the **features** property, so the button can't be found. A check to validate that the button exist would be good.

[2021-07-04 09:06] dpxgit commented on #2601
@tatdig Mixed content is always a problem when you mix http and https. I guess that one server supports upgrading the request to https and the other doesn't: https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content#upgrading_mixed-display_resources

I don't think this is a problem with mediaelementjs, that's why I'm closing the issue. If this isn't the solution and there is a bug in med

[2021-07-04 09:06] #2601 closed

[2021-07-04 10:21] dpxgit commented on #2595
@Qartvela that is not a feature implemented. But you could listen to the following events **canplay, playing, pause** https://github.com/mediaelement/mediaelement/blob/master/docs/api.md#events and set the **controls** property https://github.com/mediaelement/mediaelement/blob/master/docs/api.md#properties accordingly.

[2021-07-04 10:22] dpxgit commented on #2595
Closing the issue because the solution would be custom scripting. If there is still a problem, please reopen the issue.

[2021-07-04 10:22] #2595 closed

[2021-07-04 18:41] dpxgit commented on #2591
@bwflinn the problem seems to be with Apple and not with the mediaelementjs. I don't have deep knowledge about this but here is what i have found: https://stackoverflow.com/questions/60003027/ios-pwa-background-audio-support#:~:text=While%20playing%20audio%20in%20Safari,the%20screen%20pauses%20the%20audio.

It's a rather old thread, but nothing seems to have changend about this feature working on

[2021-07-04 18:41] #2591 closed

[2021-07-04 18:46] dpxgit commented on #2581
@strayangelfilms we are using mediaelement with ssl certificates on our websites for some time now and don't have this problem. I guess this is an old issue which resolved itself, that's why I'm closing the issue. If this issue still exist, please reopen the issue.

[2021-07-04 18:46] #2581 closed

[2021-07-04 18:48] dpxgit commented on #2578
Closing the issue because @karawitan gave the solution. If this is not the solution please reopen the issue.

[2021-07-04 18:48] #2578 closed

[2021-07-05 06:22] dpxgit commented on #2570
@DogByteMarketing This is because on mobile you have no hover to show them again like on desktop. So you would not have any controls at all for mobile.

Closing the issue because there is no problem here. If there is, please reopen the issue.

[2021-07-05 06:22] #2570 closed

[2021-07-05 06:24] dpxgit commented on #2568
I'm closing the issue because @casually-creative gave the solution.

If there is still a bug here, please reopen the issue.

[2021-07-05 06:24] #2568 closed

[2021-07-05 06:31] dpxgit commented on #2538
Closing the issue because @karawitan  gave the solution. If there is still work to do here, please reopen the issue.

[2021-07-05 06:31] #2538 closed

[2021-07-08 19:50] dpxgit commented on #2858
@mba8487143 can you give us a code example where it is not working, then I will have a look?

[2021-07-08 19:58] dpxgit commented on #2855
@nicolaspetitjean rtmp and hls are two different protocols. If you want to use an rtmp stream, you need to use a renderer which supports it see: https://github.com/mediaelement/mediaelement/blob/master/docs/usage.md#use-renderers

[2021-07-09 16:13] dpxgit commented on #2626
@CarlFink  Sorry for the long time to get an answer on this issue, we have just started to pick up support for this library and even if the issues are old, I want to give people the chance to still get some answers. From your answer I'm guessing that reproducing the error is not an option, that's why I'm closing this issue.

I'm hoping that we can help you with your issues faster in the future.

[2021-07-09 16:13] #2626 closed

[2021-07-09 16:27] dpxgit commented on #2801
@jenemde Has provied a pull request which is merged into master branch and will be released with the next version, that's why I'm closing the issue.

[2021-07-09 16:27] #2801 closed

[2021-07-11 06:23] dpxgit commented on #2853
@mathbarlow can you give us an example maybe in something like codepen, so I can have a look?

[2021-07-11 06:30] dpxgit commented on #2850
@Zorlin I've never tried to use m3u with mediaelementjs before, but as far as I can see it in the docs, mediaelementjs doesn't support it: https://github.com/mediaelement/mediaelement/blob/master/docs/usage.md#use-renderers

[2021-07-11 06:32] dpxgit commented on #2849
@vocationeers can you make a pull request with this code? Then I would test and merge it for the next version.

[2021-07-11 08:12] jaapmarcus commented on #2850
@dpxgit  HLS (m3u8) s supported by Media elements...

Use the HLS native render...
https://codepen.io/jaapmarcus/pen/LYyRJxM

See code pen for an example

[2021-07-11 17:53] dpxgit commented on #2850
@jaapmarcus you are absolutly right. Somehow I didn't make the connection when I saw the file format.

[2021-07-11 20:08] #2414 closed

[2021-07-12 09:23] jaapmarcus opened #2862 "npm ERR! notarget No matching version found for mediaelement@^4.2.17."
npm ERR! code ETARGET
npm ERR! notarget No matching version found for mediaelement@^4.2.17.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

[2021-07-19 09:41] chrizstone commented on #2358
I do have the same issue with version 4.2.16. Any idea how to solve this?

![Bildschirmfoto 2021-07-19 um 11 40 02](https://user-images.githubusercontent.com/5380618/126139829-c974c6a4-c555-48ef-ae2d-99638d1cb2b0.png)

[2021-07-27 14:25] lisklemenz commented on #2862
https://www.npmjs.com/package/mediaelement the Version 4.2.17 is not published at npm, but you can include via GitHub if u need fixes from this version.
Don't write the npm version in your package.json try this:
`    "mediaelement": "https://github.com/mediaelement/mediaelement#91ac946d22f2b9c3e0c93e6d241f079a63c9bbad",
`
It works fine for me

[2021-08-04 09:10] pepa-linha opened #2863 "Fullscreen on iPhone Safari when desktop website requested"
Hi,

if I want to view fullscreen video on iPhone in Safari, in case I have set "Request Desktop Website", fake fullscreen will appear instead of native.

![image](https://user-images.githubusercontent.com/4296423/128154581-2d7f4969-7b50-4c95-b037-9902189374ca.png)

If the "Request Desktop Website" option is active, then the user agent does not contain "iPhone" and the `&& Features.IS_IOS` [condit

[2021-08-04 09:24] pepa-linha commented on #2863
I am sorry I have version 4.2.16 (and.I don't know why), it was fixed in 4.2.17.

[2021-08-04 09:24] #2863 closed

[2021-08-04 09:31] pepa-linha commented on #2862
Is it possible publish new versions to NPM, please?

[2021-08-04 09:32] pepa-linha commented on #2863
https://github.com/mediaelement/mediaelement/issues/2862 :-(

[2021-08-04 10:06] lisklemenz commented on #2862
Look at  #2861 (dpxgit are support mediaelement) i think they need access rights for npm, so if it possible, try to use they way above.

[2021-08-04 20:46] pepa-linha commented on #2862
@lisklemenz  Thanks, I know it's possible, but I personally don't like it.
`yarn outdated` then is not very clear and doesn't suggest a new version of the  package (I think ... that's why I gave a thumbs down)

[2021-08-13 21:50] keev-studio opened #2864 "Play button and progress bar not changing when multiple players used"
hello, I implemented the page with multiple players and for some reason play button and progress bar is not reacting on some of them, anyone know what can be the issue?
https://codepen.io/keev/pen/MWmxRWa
thank you

[2021-08-25 11:53] rochapablo opened #2865 "Not sure how to work with"
Following the documentation I'm able to render the player using jQuery and `class="mejs__player"`. But when I try to use `new MediaElement('player')` it doesn't render.

*This Works*

[code]

*This Doesn't*

[code]

I'm able to see the event `console.log('canplay...');`, but there's not layout.

<img width="777" alt="image" src="https://user-images.githubusercontent.com/5365304/130785940-c4e7ee0e-

[2021-08-30 21:55] templeman commented on #2551
+1 for this - would love to be able to control fade behavior. Setting visibility via a class could offer nice flexibility (even allowing for custom easing).

[2021-09-06 15:27] dpxgit commented on #2862
@pepa-linha @jaapmarcus  The new version 4.2.17 is now published as a package on npmjs.com, that's why I'm closing the issue.

[2021-09-06 15:27] #2862 closed

[2021-09-14 21:50] osuosu opened #2868 "How to use Mediaelement with Amazon S3 presigned URLs?"
Hi,

I'm struggling with getting Mediaelement to use a presigned Amazon S3 URL to an audio file - is this possible? It seems to only work with direct links to the file i.e. without any parameters appended to the end of the URL like Amazon does when generating presigned URLs...

Any help greatly appreciated.

[2021-09-22 13:42] OlivierJaquemet opened #2870 "Use of strict mode in language files may lead to javascript error when used in a JS packer"
As explained by the [MDN documentation on strict mode](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode), using strict mode on global scope may lead to javascript error as it propagate the strict mode to other

Most of the medialement.js source files are using strict mode, but after the build process, they get scoped inside function.
However, language files are directl

[2021-09-26 12:42] tnbnicer commented on #2868
It used to work, didn't it? I hardly know what Amazon S3 is – I'm not qualified to comment, really, but I did find this commented out in the 4.16 demo.

`<option value="http://ep-lin-upload.s3.amazonaws.com/vupl_lin/F64/CDF/F64CDF3B0348471E95C244DE2DDDD3F3">MP4 (no ext.)</option>`

Maybe you can get hold of 4.16, or maybe it still works?

[2021-09-26 13:02] tnbnicer opened #2872 "New SVG template - why?"
I'm a little stumped as to why you need to change the SVG template in ME v5. For everyone?

It means "migrating". For everyone. In the demo, the controls are missing. Apparently someone forgot to migrate.

It also means, for developers designing SVG controls themselves to use, that they now have to paste their SVGs into the XML schema provided.

It was possible to change styles before, without too

[2021-09-26 19:24] tnbnicer commented on #2872
Are you folks sure you tested MediaElement version 5? See attached images from demo:
![audio-1](https://user-images.githubusercontent.com/49583362/134820805-711bef23-bc98-4c6c-a2a0-9b30d11c7c00.jpg)
![video-1](https://user-images.githubusercontent.com/49583362/134820823-af2fb03f-2a64-4e7e-9921-6b811f557ab2.jpg)
No controls visible. Windows 10 PC, every browser.

My "project" using MediaElement yie

[2021-09-27 12:25] tnbnicer commented on #2872
@dpxgit.
On my machines the SVG sprite does not display SVGs. I believe there is an error in the code with the sprite. Have you not noticed?

[2021-09-28 01:34] tnbnicer commented on #2872
This is the `mejs-controls.svg` with styles already attached, as it would be in 4.2.16.

[code]
SVG styles are easier to edit. More room for maneuver.

[2021-09-28 07:12] drekinov opened #2873 "Control buttons submit parent forms"
We were using latest v4 so we tried to switch to v5.

however change from https://github.com/mediaelement/mediaelement/commit/7d1845b475dd6d9d951343be485f5b65758a5dd7
lead to that clicking Play or any other button control lead to submit of parent form which was not the case with previous version.

Is there new way to handle that case or is that not expected side effect of the change.
probably othe

[2021-09-28 12:45] tnbnicer opened #2874 "Missing SVG controls and icons that don't swap."
I made a fresh start this morning after failing yesterday to upgrade to 5.

SVG icons did not display.

Something changed. Rebooting the computer? It worked. Icons were visible.

Since then I have been pondering the issue(s) I had yesterday: Quirky JavaScript. The 4.2.16 version player is/was unaffected.

Following a hunch, I discovered a 'path' problem. By default, the SVG sprite/template is loca

[2021-09-28 12:58] tnbnicer commented on #2874
I closed this issue, but I think it should stay in case others experience similar issues.

[2021-09-28 13:44] santosh1994 opened #2875 "MP3 not working in https://www.mediaelementjs.com/"
getting below error while playing mp3 from in https://www.mediaelementjs.com/
`Uncaught (in promise) DOMException: The element has no supported sources.`

browser - Chrome
Version  - 94.0.4606.61 (Official Build) (x86_64)

[2021-09-30 11:02] #2859 closed

[2021-10-01 11:48] dpxgit opened #2877 "Volume slider disappearing with individual settings"
When you manually set background-color to black and foreground-color to white in your browser, the horizontal-volume-slider becomes invisible. This affects accessibility and could be solved with border-colors.

![image](https://user-images.githubusercontent.com/80531038/135615073-ae09fc27-fbc2-4446-b4ea-8d6ca86a9403.png)

[2021-10-02 19:16] tnbnicer opened #2879 "SVG distortion using iconSprite"
MediaElement version 5.0.0 distorts and crops SVG icons.

**Cropping**:
Button controls cloned from an original SVG template, in the process of cloning, undergo cropping. Regardless of the icon. That is, the icons’ viewBox forfeits a pixel. If the viewBox is “0 0 17 17”, its cropped size, the size of the box that contains the button, becomes “0 0 16 16”.

In SVG terms the viewBox attribute sets th

[2021-10-05 18:19] tnbnicer commented on #2879
**Larger buttons**:
In 2017 MediaElement increased the standard button size to 20 by 20 pixels.

Let us remind ourselves of the 5.0.0 mission statement:

Currently, in 2021, MediaElement 5.0.0 maintainers propose reducing the button size, 18 by 18 pixels being sort of the maximum.

WCAG 2.1 compliance is important. I added a [PR](https://github.com/mediaelement/mediaelement/pull/2880), #2880, that

[2021-10-07 17:07] santoshpottumuthu opened #2884 "Media error: Format(s) not supported or source(s) not found SSL / iOS / Safari"
Hello Team,

We are using the media element player 4.2.16 in our project. We noticed issues like "Media error: Format(s) not supported or source(s) not found SSL / iOS / Safari" when videos played using SSL. whereas for NonSSL, we don't see any issue.

Any pointers/help will be appreciated.

Thanks
Santosh

[2021-10-07 17:12] santoshpottumuthu commented on #2581
https://github.com/mediaelement/mediaelement/issues/2884

[2021-10-19 14:50] alexvanniel commented on #2873
At first I thought I could fix thi sby setting enableKeyboard to false and by emptying keyAction (by setting it to []) but that did not really work. Every input control would trigger the submit action somehow. It was only when I set ALL of the buttons inside the player to type="button" that the unwanted sideeffect was "fixed". I tried to apply the code above to change the buttons, but that will le

[2021-10-28 10:39] thoreine opened #2888 "Consistent usage of space and return keys in all browsers"
During one of our WCAG/BITV tests, one tester complained that usage of space and return keys is not consistent on Chrome and Firefox. And most of all that the "learned usage" of the Space key on the small play button in the controls-bar to play pause on Firefox is not available.

Additionally, using Space on the fullscreen-button does nothing using Firefox and starts the Video on Chrome unlike in

[2021-10-30 06:38] MatthiasPeltzer opened #2891 "YouTube Videos not working since 5.0.3"
Hi there...

YouTube Videos are not working since 5.0.3 anymore with the browser message (Firefox) 'type="video/youtube" is not supported'. In 5.0.2 there is no problem.

My Video embed code is:

`<video class="youtube" style="width:100%;height:100%;" controls autoplay preload="none"><source src="'+ src +'" type="video/youtube" /><track src="'+ track +'" srclang="de" label="Deutsch" kind="subtitle

[2021-11-01 13:27] bret-miller commented on #2891
Same here. Works perfectly in 5.0.2, doesn't insert the iframe in 5.0.3 even when renderers=['youtube_iframe'].

[2021-11-02 10:00] jorunkel commented on #2875
Same here.

Browser: Firefox
Version: 93.0

[2021-11-04 13:03] dpxgit commented on #2891
Thanks @bret-miller and @MatthiasPeltzer we found a solution, its fixed in Version 5.0.4
Closing the issue.

[2021-11-04 13:03] #2891 closed

[2021-11-04 13:04] dpxgit commented on #2888
Thanks @thoreine for the solution, it's fixed.

Closing the issue.

[2021-11-04 13:04] #2888 closed

[2021-12-01 22:08] coolblades commented on #2874
getting the same issue when upgrade from 4.2.x to the latest.

[2021-12-08 21:07] guayerd opened #2894 "HLS mode not playing"
Hi, I cannot figure out why this manifest is not read by the Video Player:

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-STREAM-INF:BANDWIDTH=56882,CODECS="avc1.77.30,mp4a.40.33",RESOLUTION=640x480
chunklist_w1661698353.m3u8

any idea?

[2022-01-08 09:46] seb303 commented on #2874
I have the same issue with the latest released (v5.0.4)

As mentioned above, mejs-controls.svg is referenced in the JavaScript without any path, so the browser tries to load from the same directory as the current page, rather than from the css dir.

I don't believe this is "Quirky" JavaScript as originally stated.  It seems consistently broken across all different browsers that I've tried (Firefox

[2022-01-08 10:01] seb303 commented on #2874
Found a better workaround...

There's a parameter 'iconSprite' where the full path to the svg file can be specified when creating the player:
[code]

Would still be better if it would point to the right location by default.

[2022-01-08 14:09] tnbnicer commented on #2874
@seb303, it's a different workaround. Instead of changing source, it changes the player instance?

Anyway, the path should be fixed. You're right.

The averred "quirky javascript" is that 5.x breaks 4.2x. When you simply upgrade. For instance, the included demo doesn't work.

[2022-01-08 15:42] seb303 commented on #2874
Yes, my workaround is just changing the iconSprite value for this player instance.  No good if you want to make audio/video tags convert automatically, but works if the player is instantiated by JavaScript.

As for a proper fix:
It's not entirely straightforward to get the path from within JavaScript.  I believe document.currentScript can be used, but doesn't work in all browsers (not in IE or Ope

[2022-01-08 16:14] tnbnicer commented on #2874
Or having it in the root 'player directory' by default. But then there should be a demo, explaining/demonstrating the change, which not everyone is happy with.

[2022-01-14 15:17] OlivierJaquemet opened #2895 "Website mediaelement.js is not using latest 5.x"
The home page of http://www.mediaelementjs.com/ is still using the old 4.2.16 version as the player for the demo player.

It should probably be the 5.x if this version is considered the latest stable version (I hope it is 😅)
If 5.x is not stable, it should be the 4.2.17 which is the latest version of the 4.x branch.

[2022-01-14 15:19] OlivierJaquemet opened #2896 "Demo files are incorrectly bundled in 5.x build"
The following files are bundled in the 5.x build/ folder :
[code]

Problems :

- They are only needed for the demonstration
- They increase the size of the mejs build
- They increase the attack surface should those file had any vulnerability

Consider removing them altogether, or placing them a demo/ subfolder to make it obvious they are not needed in default installation.

[2022-01-16 17:59] rekcuFniarB commented on #2874
Thanks for solution. Unfortunately it doesn't fix the problem when using CDN: request to mejs-controls.svg fails with `not same-origin` error.

[2022-01-25 21:22] jintor opened #2897 "how to avoid scroll to top of the page when load"
When I invoke new MediaElementPlayer, the page go instantly to the top :( why ? and how to fix it ????

<video id="vid" ></video>

`<script>
	mediaelement_videoid = new MediaElementPlayer("vid", {
		speeds:["0.25","0.5","0.75","1.00","1.25","1.50","1.75","2.00"],
		features:["playpause","progress","volume","skipback","jumpforward","speed","fullscreen"],
		stretching:"responsive"
	});
</script>`

[2022-01-26 19:21] #2844 closed

[2022-01-26 19:22] #2826 closed

[2022-01-26 21:33] jintor commented on #2897
After a deep dive and some testing, I was able to "avoid" the scroll to the top of the page by enclosing the <video> tag with a <div> and that div with style display relative like this

`<div style="position:relative;" >
<video></video>
</div>`

[2022-02-07 11:05] dpxgit commented on #2877
This issue has been resolved, see mergen PR.

[2022-02-07 11:05] #2877 closed

[2022-02-10 13:34] Yahav opened #2900 "Opus support?"
Does this package support playback of Opus streams?
Modern browsers currently does have native Opus playback capabilities, except Safari on MacOS and iOS which can be resolved using js decoders.

[2022-02-12 17:48] keev-studio commented on #2874
Hi I have the same problem
If I add path to mejs-controls.svg in mediaelementplayer.min.css (.mejs__button>button{background-color:transparent url(../img/mejs-controls.svg)
I have another problem
Instead of play icon I have Stop icon, which is not changing when player starts
-time, progress and length time works normally

[2022-02-12 18:06] #2864 closed

[2022-02-12 19:15] tnbnicer commented on #2874
Changing the path in the CSS file should be unnecessary, provided the JS points to the right location, i.e., the location of mejs-controls.svg. You can change the path using either of the workarounds described above by seb303 or by myself.

Originally version 4.x had the SVG in the same folder with the CSS and the JS. Now, unless you apply a workaround, the JS points to the root folder, the folder

[2022-02-12 19:18] keev-studio commented on #2874
Thank you,
you right the JS point to the root and if mejs-controls.svg are there, its working.
P.S. for some reason the icons are shown very small (comparing to version 4) but they can be enlarged by CSS

[2022-02-12 19:31] tnbnicer commented on #2874
I'm using the old 4.x controls, modified to work with 5.x. They're the same size.
[mejs-controls.zip](https://github.com/mediaelement/mediaelement/files/8054350/mejs-controls.zip)
For comparison:
[mejs-controls-4.2.16.zip](https://github.com/mediaelement/mediaelement/files/8054361/mejs-controls-4.2.16.zip)
Do not use the 4.2.16 SVG controls with 5.x. It won't work.

[2022-02-15 13:29] magecaptain opened #2901 "Play Multiple Music at a same Time"
Is it possible to play multiple music simultaneously for example like below reference site:

https://lofi.co
https://my.bettersleep.com/sounds

Thanks in Advance

[2022-02-22 15:12] manudicrj commented on #2405
Hi @chenesan, I'm experiencing the same issue, is there a solution?

[2022-03-20 18:31] ismailaf opened #2902 "Exitfullscreen method calculate container problem"
I use BS 4x
enter fullscreen mode after close fullscreen mod  container div wrong calculate
temp solution bypass exitfullscreen method;
[code]
https://github.com/mediaelement/mediaelement/blob/d7c3afb386c80d78eda35954cd7cdc85eaf98d3f/build/mediaelement-and-player.js#L1504

[2022-04-03 08:31] SxtBox opened #2903 "player has many shortcomings"
Hello,
 I'm currently sending you some errors just for the playlist player
    this player has many shortcomings
    responsive player it does not work
    main poster does not display properly
your player here https://paidcodes.albdroid.al/Players/Stream_Secure/Playlist/Media_Element_JS_Playlist_Player/

    and main tag poster
    <video id="player1" style="width: 100%;height: 100%" controls="co

[2022-06-27 08:31] abdulazizaziz commented on #2444
I tried a lot but no solution

[2022-08-24 16:08] nooblag commented on #2895
Yes, would be great to see demos of latest version after all this time.

[2022-09-06 11:25] #2870 closed

[2022-09-06 11:26] dpxgit commented on #2870
Merged the pull request and will create a new version for the player soon.

[2022-11-16 03:41] onigetoc opened #2906 "Now you can remove Vimeo video controls - controls=0"
Now you can remove Vimeo video controls
controls=0

Hide Vimeo controls + autoplay
https://player.vimeo.com/video/108018156?controls=0&autoplay=1

[2022-11-21 12:32] DieterPagel commented on #2776
Has there been any further feedback on when the bug for playing FB videos on Chrome will be resolved?

[2022-11-21 13:19] brothercake commented on #2776
FYI this isn't something that MediaElement can readily fix, the problem is in the Facebook API.

[2022-11-21 14:20] DieterPagel commented on #2776
OK thanks. Didn't realize it was on Facebook's side. Do you know of any media players where FB might work, or is it across the board?

[2022-11-21 14:36] brothercake commented on #2776
Any media player that uses the Facebook API is gonna have this problem. Unless someone's come up with a hack or workaround, but I'm not aware of any.

[2022-11-21 14:43] DieterPagel commented on #2776
I found the below code which allows you to play a video in Chrome. Uses the embedded video class from FB

<html>
  <title>My Website</title>
<body>
  <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
  <h1>My Video Player</h1>
  <div class="fb-video"
    data-href="https://www.facebook.com/FacebookDevelopers/posts/10151471

[2022-11-26 15:35] nguyenvanlongxp commented on #2906
Please support play video ok.ru . It's a huge video website...
Thank you very much !