[2015-11-21 06:53] TGC32 opened #1652 "setSrc does not work"
Hi There,
I have been using mediaelement.
But it seems that the setSrc method is not working as it should be.
first using HTML5 video tag,
you need previous to element to the tag src="" to the video html tag
But when using flash, I do not know what to do. It does not seem to work.
Please advise

[2015-11-21 15:14] johndyer commented on #1652
It would help if you'd post your code.

On Sat, Nov 21, 2015 at 12:53 AM, TGC32 <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2015-11-21 18:31] TGC32 commented on #1652
Can you show a sample working for IE, Chrome and safari?
Where the source can be changed from jscript?

[2015-11-22 03:30] alijaffar commented on #1632
:-1:

[2015-11-22 03:34] alijaffar commented on #1477
:+1:
Almost did not notice this! Much thanks, guys.

[2015-11-22 04:22] alijaffar opened #1653 "YouTube API Player deprecated"
I noticed the deprecated version of YouTube's API is being used;

Am I right to change it to:

`youtubeUrl = 'http://www.youtube.com/embed?enablejsapi=1&amp;playerapiid=' + settings.pluginId  + '&amp;autoplay=0&amp;controls=0&amp;modestbranding=1&loop=0';`

https://developers.google.com/youtube/player_parameters#Selecting_Content_to_Play

[2015-11-22 04:30] alijaffar commented on #1637
:+1:
I concur and I add that it's a problem with FireFox 44, not Chrome or even IE/Edge, surprisingly. There's an issue with YouTube and the fullscreen button also -- with HTML5 and not flash.

[2015-11-22 05:06] alijaffar commented on #1626
Yes, in flash it is.

[2015-11-22 05:09] alijaffar commented on #1411
:+1:

[2015-11-23 03:45] alijaffar commented on #1637
Ok, so I have a new development: since my CSS sets it to 100%, it thinks it's in fullscreen mode already. I ran a test; I changed it to 99.999% and viola -- fullscreen works. But, being a perfectionist -- it doesn't sit right with me heh. Much better than my previous patch, though.

[2015-11-23 05:52] alijaffar opened #1654 "Plugin priority order & mode issues"
A) Plugin priorities: Regarding youtube videos -- when I set it as a priority, it tries to load yet nothing shows.
B) Mode: when I set the mode to native, youtube does not play.

Hmm. I'll look more into this, but I do not like that Flash is the default -- I'd like it to be the fallback now that most browsers are more modern and don't require flash to play some codecs.

[2015-11-23 13:57] johndyer commented on #1654
Yes. We kept flash to continue IE6 support but it's probably time to make
the iFratelli API higher in priority.

On Sunday, November 22, 2015, Ali Jaffar <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2015-11-23 14:24] johndyer commented on #1647
So is this more with FlashLS or does it directly involve mediaelement? I'm rearchitecting the core of mediaelement and separating out individual Flash files for this kind of thing, but also considering adding a JavaScript version of HLS.

[2015-11-23 19:25] ron666 commented on #1639
UPDATE: I was trying to make the video player to autoplay inside the canPlay event, so that caused the video not to be paused

[2015-11-23 19:25] #1639 closed

[2015-11-24 10:43] powerpoint opened #1656 "Minor Bug for IE8"
I found a minor bug within the mediaelement-and-player.js.
Starting on line 1199.

[...]
// test version of plugin (for future features)
pluginVersions = mejs.plugins[pluginName];
for (k=0; k<pluginVersions.length; k++) {
  pluginInfo = pluginVersions[k];
[...]

IE8 is not able to determin the length attribute, because it's an object. So I changed this to
[...]
pluginVersions = mejs.plugins[plugin

[2015-11-24 15:18] johndyer commented on #1656
We still want to support IE8 so this is great. Any chance you can submit a
pull request?

On Tue, Nov 24, 2015 at 4:43 AM, powerpoint <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2015-11-25 11:15] rawbin- opened #1657 "pluginPath option does not work in ie8 with different domain"
+  just download the code mediaelement-master.zip

+ set local host:
      127.0.0.1 demo.mediaelement.com test.mediaelement.com
      with local server starting up
+ copy the code /mediaelement-master/demo/mediaelementplayer.html  to mediaelementplayer-ie8problem.html

     add 	pluginPath: '//demo.mediaelement.com/mediaelement-master/build/',  to the options

        $('audio,video').mediaelemen

[2015-11-25 11:20] rawbin- commented on #1657
![code-diff](https://cloud.githubusercontent.com/assets/8169783/11396033/a285438e-93a9-11e5-8634-1a4f20853088.png)
![mediaelement-ie8problem](https://cloud.githubusercontent.com/assets/8169783/11396034/a2855626-93a9-11e5-984a-874e54c72607.png)

[2015-11-26 03:06] rawbin- commented on #1657
the former problem was solved by adding the   following option:

           // set to 'always' for CDN version
        flashScriptAccess: 'always',

   and then we got    "CallFunction is not defined with the instance" when we click the play button

    function __flash__addCallback(instance, name) {
      instance[name] = function () {
        return eval(instance.CallFunction("<invoke name=\""+n

[2015-11-26 03:19] rawbin- commented on #1657
+  just download the code mediaelement-master.zip

+ set local host:
      127.0.0.1 demo.mediaelement.com test.mediaelement.com
      with local server starting up
+ copy the code /mediaelement-master/demo/mediaelementplayer.html  to mediaelementplayer-ie8problem.html

     add 	pluginPath: '//demo.mediaelement.com/mediaelement-master/build/',  to the options

        $('audio,video').mediaelemen

[2015-11-26 03:42] rawbin- commented on #1657
the dynamic generated code looks like, and where can I find the source?:

	function __flash__arrayToXML(obj) {
		var s = "<array>";
		for (var i=0; i<obj.length; i++) {
			s += "<property id=\"" + i + "\">" + __flash__toXML(obj[i]) + "</property>";
		}
		return s+"</array>";
	}
	function __flash__argumentsToXML(obj,index) {
		var s = "<arguments>";
		for (var i=index; i<obj.length; i++) {
			s +=

[2015-11-26 03:50] rawbin- commented on #1657
It seems that the previous code was generated by flash, and my flash plugin for IE is version 19,0,0,245,  may the version compatibility cause the problem?

[2015-11-26 07:39] tesshsu commented on #1576
Hi, johndyer
I test in Native, but eventually we use another solution which is simply use embed tag instead of audio, just the audio style could not customis:

                        <div class="audio-player">

                            <audio id="audio-player" src="@string.Format("{0}{1}", currentEventVoiceUrl, Model.Item2.FirstOrDefault().CurrentEvent.CurrentEventLocalization.LinkToVoice)" ty

[2015-11-26 15:19] johndyer commented on #1657
It looks like IE is loading the SWF two times. The first one is from the
<object> tag which is still pointing to the '../build/' folder, and the
second looks like it is going to demo. But you might want to use the CDN
version of the SWF since you'll need that to cross domains.

On Wed, Nov 25, 2015 at 5:20 AM, 钌子_rawbin <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2015-11-26 16:48] alijaffar commented on #1654
Sounds good; I assume you mean iFrame API (YouTube)? Though I'm still getting familiar with ME, it's great so far.
:+1:

[2015-11-26 19:08] johndyer commented on #1654
Wow, that is one amazing autocorrect error. Yes, I meant <iframe> which is
already there, but not priority yet.

On Thu, Nov 26, 2015 at 10:48 AM, Ali Jaffar <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2015-11-28 14:56] rawbin- commented on #1657
YES, I just tried the debug version of SWF and it works. Also the CDN version in passing.
Then I refer to the source finding out the security config--allowDomain.
Based on all above, I add some custom callbacks to handle the 'ended' and 'click' event to reduce the difference of the interactive experience between PC and mobile devices.

Thank you very much for you nice work and answer

[2015-11-28 14:59] rawbin- commented on #1657
code below solves the above problems:

    $(function(){
        $('video,audio').mediaelementplayer({
            // name of flash file
            flashName: 'flashmediaelement-cdn.swf',
            // set to 'always' for CDN version
            flashScriptAccess: 'always',

            success:function(mediaElement, domObject,player){
                //console.log(mediaElement)

[2015-11-28 14:59] #1657 closed

[2015-11-30 22:54] jimmywarting commented on #1622
+1

It would feel quite idiotic to develop a silverlight/flash shim year 2016
![tumblr_inline_nxvzp9rewo1raprkq_500](https://cloud.githubusercontent.com/assets/1148376/11487153/983a0ba4-97bd-11e5-8085-eb534c978c4a.gif)

[2015-11-30 22:56] etherElric opened #1658 "Bubble up FlasHLS events"
Hi,
Is there a way to get access to the HLS events generated by FlasHLS?
For example, if the Flash returns an error 2032 (for many different reasons: 403, 404,...), I can't seem to be able to react to it.
In native HTML5, we get an error stating that a url cannot be read. But in the Flash fallback, we get nothing and thus, cannot react to this kind of error.

I'm particularly interested in knowing

[2015-12-01 08:46] bricev commented on #1622
You're missing the whole point of MediaElementJS my friend :)
How will you make a full JS Dash player work on IE8? Event Firefox will not support MSE until v42 (which is the current release since a few weeks ago only).

This is the genius part of this project: enabling devs to deal with modern techs, and let the shims emulating the behavior of HTML5 HTMLMediaElement API (with Flash/Silverlight if

[2015-12-01 09:07] gavrochelegnou commented on #1622
I kind of agree with both of you :)

Pro Shim :
- The point of mejs is to provide seamless fallback (although i would wonder if silverlight version is really used anywhere ?).
So having seamless DASH support with at least flash would be awesome :+1:

Con Shim
- Current server implementations (Adobe, ...) that include DASH (live or not) streaming already include RTMP/HLS fallback, which MeJs alread

[2015-12-01 13:41] jimmywarting commented on #1622
IE8-9 is dead to me. Microsoft won't even give support to those customer any longer.

"The only way to truly force the web to embrace modern open standards is to invalidate old technology."

[2015-12-01 21:36] andyh4 commented on #1609
This would be fantastic, especially as the Flash ship continues to take on water.

[2015-12-02 03:13] #994 closed

[2015-12-03 17:39] che-effe commented on #1647
JS version for HLS would be incredible! This is more with FlashLS. We've done more digging and found that fragments are not being skipped all together, but we're seeing a behavior of jumping from the middle of a segment (approx 5-6 seconds in) to the next fragment. Our Fragments are 30 seconds in duration, so the entirety of each segment is not being played.

[2015-12-03 19:19] che-effe commented on #1609
Please yes!

[2015-12-03 22:05] jimmywarting commented on #1609
+1

[2015-12-06 00:53] PrinceAnsong commented on #1611
+1

[2015-12-10 19:24] thomasjoyce opened #1659 "Is there a way to get mediaelement player that plays youtube video to be run as html5 instead of flash version?"
This is in reference of this issue:
https://github.com/johndyer/mediaelement/issues/1640

Looks like google is forcing folks not to use flash if possible.

We use media element player for youtube videos [flash version] and it plays automatically at the side of the site, google chrome pause the video each time when the site renders.

Any pointers on how to force media element player to run all yout

[2015-12-10 21:23] johndyer commented on #1659
Yes, both codebases are there, but we kept the Flash as default to ensure
support back to IE6 and 7. I need to put the iframe one back as the
priority as long as everyone is okay with IE8+ only support.

On Thu, Dec 10, 2015 at 1:24 PM, Thomas Chan <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2015-12-10 22:04] dustinbrownman opened #1660 "Cloning element for iOS causes issues"
[Here](https://github.com/johndyer/mediaelement/blob/master/src/js/mep-player.js#L351-L360), the element passed into `new MediaElementPlayer` is cloned on iOS. The reason stated in the comment is that DOM elements can't be moved on iOS Safari. That doesn't seem to be the case. Standard jQuery methods (`append`, `appendTo`, etc.) work just fine.

This creates issues with the element too. Any event

[2015-12-10 22:33] thomasjoyce commented on #1659
in the meantime, how do u change the default to use html5 instead of flash?
John, thanks for responding to us quickly...can you please point us to the
correct directions. thanks again.

for us, IE8+ only support is fine. we don't really care about IE in general
especially 6 ;-)

On Thu, Dec 10, 2015 at 1:24 PM, John Dyer <notifications@github.com> wrote:

[2015-12-11 03:17] johndyer commented on #1660
Yes, I think iOS has fixed this, so that code can be removed.

On Thu, Dec 10, 2015 at 4:04 PM, Dustin Brown <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2015-12-11 03:18] johndyer commented on #1659
I haven't looked at it in a bit, but I think there is some <iframe> api
code in there.

On Thu, Dec 10, 2015 at 4:33 PM, Thomas Chan <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2015-12-11 05:28] rounce commented on #1659
[code]

[2015-12-11 05:55] dustinbrownman commented on #1660
Excellent. Here's the PR: https://github.com/johndyer/mediaelement/pull/1661

[2015-12-11 06:21] thomasjoyce commented on #1659
hehe :- )  ... Ivan, thanks for pointing that out. I actually commented
that same piece of code
that you pointed out,... good to know i got it correct as well.

Hi John, no sweat...thanks for the quick response
and this amazing gift you share with us..and also an amazing helpful
community  :- )

On Thu, Dec 10, 2015 at 9:29 PM, Ivan L. Isaev <notifications@github.com>
wrote:

[2015-12-11 22:09] #1660 closed

[2015-12-14 13:31] feulix opened #1662 "Player still responds to keydown after focus change done with js"
When you change the focus with js to a DOM element other than the player, for instance an html input element, the player still responds to the keydown event.
This is because player.hasfocus isn't changed on a keydown event.
Suggested change: change player.hasFocus on keydown event.

From line 3213 in mediaelement-and-player.js:
[code]

[2015-12-21 22:20] manoj382 opened #1663 "YouTube API option does not work in IE Edge"
When fed a youtube URL as the source, the video briefly starts, but then consistently errors out with the message "An error occurred. Please try again later." I'm able to reproduce this with my local environment as well as with the [YouTube API example](http://mediaelementjs.com/examples/?name=youtube).

Tested on Windows 10 and IE Edge 20.10240.16384.0

[2015-12-22 09:08] uumeizi commented on #470
Hi gays,i'm facing this issue.And i had set Accept-Ranges,Content-Length on my java web server response Header like this :
response.setHeader("Accept-Ranges", "bytes");
response.addHeader("Content-Length", String.valueOf(fileLength));
But mediaelementandplayer.js Player Still shows NaN:NaN for total duration in iOS Browser
Anybody can help,please send a Email to me  929372647@qq.com
Thanks

[2015-12-22 09:23] uumeizi opened #1664 "Mediaelementandplayer.js shows NaN for total duration in mac safari"
Hi
When I use the Mediaelementandplayer.js Plugin audio player with an mp3 file in mac safari, I get "NaN:NaN:NaN" for the total duration label in the player bar. And the mediaElement.duration is infinity ,But With all other modern desktop broswers (Firefox, IE, Safari, Chrome), I don't have this error. If I change the audio src tag direct to the file source,It works fine,
My Java web Server respo

[2015-12-22 17:24] johndyer commented on #1664
I'm not sure why Mac Safari is reporting that, but I am adding some NAN detection to the player to help the display.

[2015-12-22 23:07] johndyer commented on #1663
I'm updating the player to favor the iframe API instead of Flash.

If you take the "video/youtube" entries out of mejs-namespace.js, does that work for you?

[2015-12-23 01:18] uumeizi commented on #1664
Johndyer,I'v add loadedmetadata event like this:
mediaElement.addEventListener("loadedmetadata", function() {
        	  console.log('mediaElement.duration:'+mediaElement.duration);
});

In all modern desktop broswers (Firefox, IE, Safari, Chrome),It works fine and shows the right number,But in mac Safari,It shows Infinity,I can hear the sound of the audio,But the total duration label shows "NaN:N

[2015-12-23 17:19] manoj382 commented on #1663
Removing "video/youtube" [here](https://github.com/johndyer/mediaelement/blob/master/build/mediaelement-and-player.js#L35) doesn't seem to work.

[2015-12-23 18:27] johndyer commented on #1663
Sorry, I meant from the Flash entry on https://github.com/johndyer/mediaelement/blob/master/build/mediaelement-and-player.js#L31

[2015-12-23 18:49] manoj382 commented on #1663
Cool, removing that works if I also remove the conditional here: https://github.com/johndyer/mediaelement/blob/master/build/mediaelement-and-player.js#L1502

[2015-12-24 00:02] Jinkwon opened #1665 "Capturing video shot"
Hi,
First of all, thanks for making great library.
I have some question.
Can I get screenshot image from mediaelement? Even it is flash, html5.
Is there are any api?

[2015-12-24 11:54] ghost opened #1666 "[Feature] Move from pure css to any preprocessor"
Right now rather important use any preprocessor. I suggest to use scss. May be other ideas about it?

[2015-12-24 16:56] ctoesca opened #1667 "Chrome: fallback "download file" is not visible"
the container "mejs-container svg mejs-video" has width and height in others browsers but not in Chrome.
Then the container with the link "Download file" with black background is not visible.

[2015-12-25 23:56] ghost opened #1668 "[Accessibility]Audio player without controls after press Tabs few times"
Also you can see on http://mediaelementjs.com/
1. Click play button on audio player
2. Click >4 times Tab and audio controls will be hidden.
Actual for IE11, Chrome47, Canary49. But it work rather strange in FF(Nightly too).

I don't know exactly does it bug or feature. But as i can see it rather strange from UX view point.
Thanks

[2015-12-26 13:37] ghost opened #1669 "[Feature] Support of wai aria attributes for screen reader"
I found that not at all controls with aria attributes.
 - Big play video button

[2015-12-27 15:11] rekcuFniarB opened #1670 "Chromium always falls back to flash"
Example:

[code]

Instead of playing ogg file it plays mp3 via flash plugin. Also `canPlayType()` function of audio element wrapped by mediaelement always returns empty string:

[code]

Tested only in Linux versions of Chromium 43 and 47. Firefox plays ogg.

If only ogg file provided, Chromium displays download link with no player. Without mediaelement ogg playback works well.

[2016-01-05 15:13] #1078 closed

[2016-01-06 22:52] campones commented on #337
in my case I could easily connect to my rtmp server, and seek through the video, but only audio was being played..  weird.  Had to give up with mediaelement

[2016-01-07 14:34] gavrochelegnou opened #1672 "Player does not respect alwaysShowControls: false during keyboard access"
Hello,
Maybe this is related to #548 where there is the oposite problem.
When the control bar is hidden (alwaysShowControls: false) and you control the playr via the keyboard (press the space bar to pause and then play the video, scrub with left/right ...) then the controls stay visible no matter what you do (even with focus out, click away ...)

[2016-01-09 10:16] denytjandra opened #1673 "captions/subtitle button track does not appear in fullscreen mode"
Hello,

anyone can help me?

why in mediaelementplayer-hls, the captions/subtitle button track does not appear from chrome,firefox dekstop in fullscreen mode with type = application / x - mpegurl and src format m3u8? but appears in normal mode

this is my code:

&lt;video width="680" height="420" id="player2" controls="controls"&gt;
&lt;source type="application/x-mpegURL" src="http://ip-wowza-serv

[2016-01-11 18:08] axnd commented on #1658
This doesn't seem to be isolated to FlasHLS, for the standard Flash Media Element polyfill I'm not getting network errors bubbled up to the JS error handler.

[2016-01-12 20:02] johndyer commented on #1658
We need to re architect the events but this is doable

On Monday, January 11, 2016, axnd <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-01-12 20:04] johndyer commented on #1673
It looks like that's running in flash mode. We have an update coming that
will allow cc in full screen flash but right now that doesn't work.

On Saturday, January 9, 2016, denytjandra <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-01-14 07:04] XiongYX opened #1674 "why flashcallback doesn't work at native test"

[2016-01-14 15:48] bricev commented on #1595
A new pull request has been proposed to allow byte-based seeking : https://github.com/johndyer/mediaelement/pull/1675

[2016-01-16 07:58] ethaizone opened #1676 "How to disable console.log that come from flash player?"
![mediaelement js_-_html5_video_player_and_audio_pla_2016-01-16_14-53-10](https://cloud.githubusercontent.com/assets/1168777/12371303/ecfc1340-bc60-11e5-9a57-4318d429e823.png)

I find and search all webstite and got no clue. Please tell me how to do it. This log spawn new js vm for each console.log(). This can cause memory leak later.

[2016-01-16 14:42] johndyer commented on #1676
This should only be in debug mode.

On Sat, Jan 16, 2016 at 1:58 AM, Nimit Suwannagate <notifications@github.com

--
John Dyer - http://j.hn/

[2016-01-16 19:39] MarcDK commented on #913
Did you succeed? Any code for lazy loading media element in Wordpress?

[2016-01-16 20:16] #913 closed

[2016-01-16 20:16] johndyer commented on #913
Now that MediaElement.js is part of the Wordpress core, you'd need to make
a change there to affect this.

On Sat, Jan 16, 2016 at 1:39 PM, Marc Tönsing <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-01-17 02:53] ethaizone commented on #1676
I set enablePluginDebug to false and it cannot disable it. I read all actionscript and found enablePluginDebug to false will make embed without debug=true and log should not appear but I don't know why it appear. I use swf from build directory of this project. Maybe I should recompile swf?

PS. Demo on mediaelementjs.com has log appear too.

[2016-01-17 03:21] ethaizone commented on #654
I tested and found same as you. If I set source is youtube and add subtitles, subtitle show normal but when I open fullscreen, it don't wotk.

For vimeo I don't care because they want you to pay for custom player. Pay them and ask them. I think dailymotion is more important than make it for vimeo.

[2016-01-17 04:48] ethaizone commented on #1676
I rebuild swf with flex and console log don't appear anymore. ^^

[2016-01-17 04:48] #1676 closed

[2016-01-17 14:38] johndyer commented on #654
This is because YouTube and daily motion currently use Flash which doesn't
allow the HTML captions to show on top in full screen mode. I need to swap
this out for iframe code. It's mostly done but I still need to remove some
fullscreen code that wa for earlier versions of Firefox.

On Saturday, January 16, 2016, Nimit Suwannagate <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-01-19 16:04] flobookdo opened #1677 "Gap between display and playing for audio element (firefox mac)"
Hi,
When I start reading (from 0) and then advance time (for 5s by example), display is correct but not the sound reading and finally for a track of 3min45, the total time increase to 3min50.
It's possible to reproduce it on http://mediaelementjs.com/ with audio example.
If I start directly in track I have no problem.
It's with firefox 43.0.4 on mac OSX 11.2, no problems on windows.
Is it a proble

[2016-01-20 15:55] GeorgySerga commented on #1652
@TGC32 from one of the online samples: `$('video')[0].player.setSrc(url);` . [mediaelementplayer-hls](https://github.com/pili-engineering/pili-html5-player-example/blob/master/mediaelement-2.16.4/demo/mediaelementplayer-hls.html) . Works in chrome and firefox on linux.

[2016-01-22 17:32] vogdb opened #1678 "Pass error cause to error option callback"
Hi! I'm trying to log errors of player and don't see how I can do it without extracting them from DOM structure. Can we pass error as an argument to `options.error`?

[code]

[2016-01-25 05:50] hkasera opened #1679 "MediaElement-Markers: A plugin for MediaElement.js"
I have created a small [plugin](https://github.com/hkasera/mediaelement-markers) for MediaElement.js that lets you add ___Visual Cues___ in the progress time rail.

![MediaElement marker](https://raw.github.com/hkasera/mediaelement-markers/master/markers.png "Marker")

Here is a small working [demo](http://jsfiddle.net/hkasera/a3dBe/11/) for the same.

I would like to add it to the MediaElement ma

[2016-01-25 10:18] flobookdo commented on #1664
Hi,
I've the same problem with Safari but not in all cases.
If my MP3 url is a direct access it's all right but if I use a server script to serve file Safari can't know the duration.
Here is a Stackoverflow where the is exposed : http://stackoverflow.com/questions/22213180/safari-doesnt-show-duration-of-mp3-served-from-php-correctly
But in my case, I don't have solution actually.

[2016-01-25 16:37] GeorgySerga opened #1680 "`fullscreenchange` event doesn't trigger on Android. `webkitfullscreenchange` works only on entering into fullscreen mode."
I need to trigger somehow the exit fullscreen mode on android, but can't find any solution so far. To me it looks like `fullscreenchange` should work in this case (due to name and purpose at least), but it doesn't. Are there any other ways to trigger this event or am I missing something?

[2016-01-27 00:52] #1429 closed

[2016-01-27 18:05] cmcneave opened #1681 "requested option to resize player to "theater" size"
As an alternative to full screen, a "theater mode" (a la Youtube) resize option would be very helpful when streaming video for clients with low bandwidth.  Our use of MediaElement is from within the Nunaliit Atlas system - GCRC/nunatliit.

[2016-01-28 15:41] giulianoriccio commented on #1567
This is happening to me, too.

Firefox 44, Media Element 2.19

If I open a private tab the example will load only on the first time. If I refresh the page, any successive request to youtube made by the player keeps loading and never ends (https://www.youtube.com/v/Lt6CUH9bVzI?version=3&controls=0&rel=0&showinfo=0&iv_load_policy=1)

[2016-01-29 11:21] sief opened #1682 "arrow keys trigger seek in all players on the page"
Hi,

you can reproduce this on http://mediaelementjs.com
Start the video and the audio and then seek by using the left/right arrow keys while the focus is on the pause button,

Tried this with Safari, Chrome, Opera and Firefox on OSX 10.11.2

Thanks

[2016-01-29 14:26] killerhis commented on #1628
Hope this will get fixed soon, waiting for ages for this feature!

Any ETA??

[2016-01-30 08:51] vivekannan opened #1683 "Update rail only if controls are visible."
'timeupdate' eventListener calls the updateCurrent and updateDuration methods even if the controls are hidden. This is unnecessary as tons of CPU cycles are wasted which results in bad battery life. So make the eventListener check controlsAreVisible.

[2016-02-01 04:57] ForeverPx commented on #783
i also have the same question

[2016-02-01 05:08] ForeverPx commented on #922
I have the same question

[2016-02-01 11:00] Usua opened #1684 "Firefox V44.0: Error Youtube type"
An error ocurred when Youtube video load in Firefox version 44.0:
El atributo "type" especificado de "video/youtube" no se admite. Ha fallado la carga del recurso de medios http://www.youtube.com/watch?v=XXXX

[2016-02-01 11:45] Usua commented on #1684
![captura de pantalla 2016-02-01 a las 12 44 34](https://cloud.githubusercontent.com/assets/2561591/12716539/a9826cd0-c8e1-11e5-91e8-1eaa97776868.png)

[2016-02-03 03:01] ForeverPx opened #1685 "features option not work in flash mode"
I remove the 'process' in features option, it work fine in html5 video mode , the process bar is disappear as i want.

But in ie8 , it was in flash mode . The process bar didn't disappear !

How can i remove the process bar in fullscreen flash mode ?

[2016-02-03 12:11] Zero-K commented on #1684
I'm getting the same issue. Even your example page doesn't work
http://mediaelementjs.com/examples/?name=youtube
![mediaelementjserror](https://cloud.githubusercontent.com/assets/351505/12781895/aac6166a-ca4d-11e5-923a-5bd19514c593.PNG)

[2016-02-03 12:20] johndyer commented on #1684
Looks like we'll need to change this to use an iframe and then take that
over instead of a video tag

On Wednesday, February 3, 2016, Zero-K <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-02-03 18:48] ijtichy commented on #1684
Is there a quick workaround to solve this issue? I get this error in older Firefox versions (e.g. 38), too. Think the problem only occurs with the newest flash version 20.0.0.286. Everything works fine on 19.0.0.245. Thanks.

[2016-02-04 00:26] johndyer commented on #922
No there is no way to control the flash fullscreen controls. We'll be
deprecating that so the controls are consistent.

On Sunday, January 31, 2016, Maxpan <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-02-04 00:56] ForeverPx commented on #922
thanks @johndyer

[2016-02-04 03:03] ivanteoh opened #1686 ""currentSrc" is called from wrong object in GA plugins"
`player.currentSrc` should be `player.media.currentSrc` in `mep-feature-universalgoogleanalytics.js` and `mep-feature-googleanalytics.js`

[2016-02-04 08:39] luckyluggi commented on #1684
I'm getting that error too.

[2016-02-04 08:51] Usua commented on #1684
On Safari too

[2016-02-04 22:27] ron666 opened #1688 "HLS not displaying closed captioning"
I setup my video tag using a **.m3u8** source, type as **application/x-mpegURL** and a track tag with a **.vtt** file; the CC button in MediaElementJS seems to be loading the captions but they are not being displayed. Any hints or thoughts about why this might be happening?

As a side note, I used Amazon Transcoder to generate the .m3u8 with captions

[2016-02-05 16:32] uumeizi commented on #1664
Hi   @flobookdo,
Thanks for your Answering,But I've read that case many times and tried in my case ,But It doesn't work。

[2016-02-05 22:50] johndyer commented on #1684
I've committed some changes that will shift the over to the iframe API for
YouTube which will restore functionality on Firefox.

However, I haven't tested all the changes yet for older browsers, so please
use with caution.

Download the latest source and build to use.

[2016-02-06 11:35] ijtichy commented on #1684
John, thank you so much for your help. I've tested the latest source and it still doesn't work for me with the newest flash version 20.0.0.286 on Firefox (e.g. 44.0). I can view the video only once. When I reload the page a try to start it again the screen remains black. I also still get the error Usua has in his screenshot above.

[2016-02-07 17:50] johndyer commented on #1664
I just committed a change that should at least remove the NaN. It'll be in the next official release.

[2016-02-07 17:50] #1664 closed

[2016-02-07 17:52] johndyer commented on #1684
Mmm... Youtube should be sending Firefox the HTML5 version of its player.

You'll always get the type error since it's not a real type, but then it
should be replaced by an iframe element with YouTube's HTML5 player inside.

JD

On Sat, Feb 6, 2016 at 5:35 AM, ijtichy <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-02-07 19:36] qua1ity commented on #1684
I'm also having this issue with Firefox (using the latest build). It simply won't play youtube videos with flash. If i completely disable flash in plugins, then the videos play, using the html5 player.

Also noticed that if i clear all my browser cache i can watch the video once, then if i refresh again its unplayable. Works fine in both chrome and IE.

Any updates on this issue?

[2016-02-07 19:55] ijtichy commented on #1684
With the newest build I still get the flash player. The problem is exactly the same as qua1ity describes it.  When you delete the browser history you can play the video once. To be precise, it depends on the check box "Site Preferences". If you delete them you can play the video again - but only once.

[2016-02-07 21:50] johndyer commented on #1684
Just to be clear, there is *not* no updated build. The updated files are in
/src/js/, so you can either use /test/test.html or run the grunt build. You
should see in the console "2.20.0.beta".

This version should do what @qua1ity describes by removing "video/youtube"
from the flash entry.

On Sun, Feb 7, 2016 at 1:55 PM, ijtichy <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-02-07 22:52] ijtichy commented on #1684
Thanks, John. Got it work using /test/test.html.

[2016-02-08 14:28] luckyluggi commented on #1684
Thanks! That works :)

[2016-02-08 14:35] qua1ity commented on #1684
Thanks, @johndyer. The files in /src/js/ seems to do it, making Firefox use the html5 player instead of flash (which works). However, some functions that i'm currently using in my project stops working accordingly.

For example the following code works perfectly fine with the build but not with the src one. Seems to work better in Firefox, compared to Chrome, but its very inconsistent. Sometimes "

[2016-02-08 16:44] kadarkwah commented on #1040
I had the same issue. I solved it by putting the flash***.swf file in the same directory as the mediaelement js file. try that

[2016-02-08 22:34] Zero-K commented on #1684
Thanks for the update @johndyer!
Just in case anyone else runs into this issue, you have to add "youtube" to your plugins list if you specify them in your options. Otherwise it just shows "Download File". Took me a little bit to figure out what I was doing wrong :)

[2016-02-09 12:07] ron666 commented on #1688
Is captioning currently supported by HLS in MediaElementJS?

[2016-02-11 20:45] rtackett opened #1689 "[Accessibility] 508 - Screen Reader Enhancements"
Screen readers cannot speak css visibility:visible and css visibility:hidden.  The following patch adjusts the .mejs-offscreen class and swaps out the jquery .css(visibility:visible/hidden) to add/remove the css class (.mejs-offscreen).

[2016-02-13 05:58] moonith commented on #1635
I am having the same issue. Pause event triggers ~3seconds before ended event. Which means eg. current time is not updating. Cant found any bug in js code. I guess it is flash related?

[2016-02-15 15:57] marco-c commented on #1609
+1

[2016-02-16 15:13] a4jp-com opened #1691 "I can't play multiple files on an iPhone page. Can you fix this?"
I can't play multiple files on an iPhone page. Can you fix this?

Here is a page with the problem.

http://igym.jp/test/

[2016-02-17 18:43] Magiweb commented on #1684
I'm fairly new to MediaElement.js, but appreciate the work that's gone into this. That said, this is a legitimate issue with Firefox - as pointed out not even your own Youtube demo page actually works.

@johndyer I'm trying to wrap my head around exactly what your instructions are that we're supposed to do in order to get Media Element to work in Firefox with Youtube; if you could please provide i

[2016-02-18 03:34] MicJarek opened #1692 "How to hide the mouseover 'time tracker' balloon on progress bar"
Is there a simple way to hide the bubble/balloon 'time tracker' when the mouse if moved over he progress bar?

[2016-02-18 14:54] jandrozd commented on #1684
@johndyer When can we see the update build of this bug? The solution of "src/js/" is not enough to finish some bugs. Like in @qua1ity comment. Some functions stops working.

[2016-02-19 14:51] johndyer commented on #1684
@qua1ity In my test page with 2 YouTube videos, it seems to work in both
Chrome and Firefox. What isn't working?

@jandrozd When you say "some functions stops working" can you explain what
isn't working?

On Thu, Feb 18, 2016 at 8:54 AM, jandrozd <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-02-19 15:17] mturco opened #1694 "Player fails to load in IE9-11 when JAWS is running"
When JAWS is running, the MediaElement player fails to load in IE (tested 9, 10, and 11). The YouTube player is displayed instead.

Steps to reproduce:
1. Run JAWS
2. Open IE and load a page with a MediaElement video
3. The player won't display

[2016-02-20 20:16] qua1ity commented on #1684
@johndyer the code example in my previous post is not working consistently with the html5 player. Sometimes player2 starts playing after player1 ends, and sometimes it doesn't. And it seems like chrome is doing worse in this case, but with flash it's all good.

Did you try this with youtube and the html5 player?

[2016-02-25 00:39] rtackett commented on #1689
Pull request was merged in to master.  Thanks @johndyer

[2016-02-25 00:39] #1689 closed

[2016-02-25 07:05] flobookdo commented on #1677
Hi,
Now in firefox 44.0.2 the problem disappeared.

[2016-02-25 09:50] uumeizi opened #1695 "Twitter login api with javascript"
Hello
I want to login using the Twitter api's. i read the documentation of the https://dev.twitter.com/web/sign-in/implementing but not getting any fruit full solution.Is there Any one have an example to to login using the Twitter api's with javascript
Thks。

[2016-02-25 21:10] michaelwdc opened #1696 "Applying padding-top to .mejs-controls results in progress bar functional issues on audio player"
Try this CSS on your audio player:

.mejs-controls { padding-top: 10px; }

Initialize the audio elements with this JS:

  jQuery('audio').mediaelementplayer({
  	features: ['playpause','progress','current','duration','volume'],
  });

Note that the audio player ends up throwing repeated NaN:NaN errors in the console if you try to click & drag the progress bar time drag-button, and that the progres

[2016-02-25 22:38] DrewML commented on #944
I ran into this issue today, and looked into it a bit more.

From what I can tell, this is being caused by an inconsistency between the way browsers process (or don't) the `href` property on DOM elements.

In `me-utility.js`, the following utility function exists:

[code]

Note that it relies on the `href` *property*, rather than the `href` attribute. In Firefox/Safari, the `href` property is uri-

[2016-02-25 22:52] DrewML commented on #944
I should add that, according to the spec, [an `href` attribute with a space in it is technically invalid](https://www.w3.org/TR/html-markup/a.html)

![spec screenshot](http://i.imgur.com/OFsikqM.png)

Maybe the fix is to uri-encode the value prior to it being passed through `absolutizeUrl`.

[2016-02-26 03:40] rtackett opened #1697 "Closed Caption Option do not appear in latest update (2.20.0)"
Closed captions do not appear in the latest build.  I will submit a pull request to fix the issue.

[2016-02-26 19:08] rtackett commented on #1697
Fjx applied.  Closing.

[2016-02-26 19:08] #1697 closed

[2016-02-29 18:58] sparkholiday commented on #1692
I'm still in the "looking over the code and pretending I understand it" stage with this, but if this `pluginMediaElement.currentTime = event.currentTime = player.getCurrentTime();` is in there, maybe kill it and see if that helps?

[2016-02-29 21:03] MicJarek commented on #1692
Hey sparkholiday,

Thanks for the suggestion.  Unfortunately the 2 instances found in the mediaelement-and-player.js had no affect.  What did do it though (with a little playing around) was adding visibility: hidden; to the .mejs-controls .mejs-time-rail .mejs-time-float.  You can either append the mediaelementplayer.css file or simply add a <style> snippet in your page to target ONLY specific pla

[2016-02-29 22:13] michaeldeeter commented on #1688
I also would like captions using HLS.

[2016-02-29 22:18] michaeldeeter opened #1699 "Could it be possible to not re-buffer if you seek to a segment that is within in buffer?"
I'm wondering if this could be possible.

Example: If I have a 10 minute HLS video, the player seems to buffer the first minute.  If I seek to 0:20, the player restarts the buffer.  Could it be made to use the buffer instead of restarting the buffer?

[2016-03-02 15:37] ron666 commented on #1688
Anybody knows any hints about how to address this issue? As it is right now, I think only JWPlayer can display closed captioning in HLS but I wonder if someone has a better understanding about how to achieve this with MediaElementJS, given that is a really nice feature, and also a requirement for accesibility

[2016-03-02 15:37] ron666 commented on #1688
@johndyer Any thoughts or plans to introduce this feature?

[2016-03-03 12:41] johndyer commented on #1688
@Rafael, do you have an example page I can take a look at?

On Wed, Mar 2, 2016 at 9:37 AM, Rafael Miranda <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-03-03 16:11] ron666 commented on #1688
@johndyer Here's my example page: http://release3.medsims.com/medsims/hls.php

[2016-03-04 03:59] sparkholiday commented on #1692
Ah, good to know! And good call on leaving the .css in tact -- that's probably going to save me about five hours of confusion somewhere down the line. Glad you got it worked out!

[2016-03-04 19:41] MicJarek commented on #1692
Yeah, now worries... although it would be nice if that feature was simply added to the JavaScript options you already set to initialize the player in your page... just a thought... :)

[2016-03-07 00:36] dazweeja opened #1704 "Fire canplay event when YouTube iFrame API onReady event is fired"
This is a very simple change but would help me immensely. Would it be possible to fire a canplay event when the YouTube iFrame API onReady event is fired?

For example, add these two lines:

// fire canplay event
mejs.YouTubeApi.createEvent(player, pluginMediaElement, 'canplay');

at ...
https://github.com/johndyer/mediaelement/blob/master/build/mediaelement-and-player.js#L1720

I'm trying to take

[2016-03-07 22:09] awrel34 commented on #1688
Hi guys, just to let you know that it works for me with subtitles.

Here is an example page, hope that it will help you narrow the issue on your side.
http://78.221.118.215/player/

Thanks John for this perfect player

[2016-03-08 00:12] johndyer commented on #1688
@Rafael in your example I can't seem to get your subtitles to load. It's a
0 bytes file. Does it load for you?

[2016-03-08 05:31] ron666 commented on #1688
@johndyer I changed the source of captioning and if I copy/paste that in my browser I can see the content of another VTT file not chunked; I don't know why it's not being loaded in the player. The real VTT files were encoded also in AWS Transcoder and it created an m3u8 file with the references of all the captioning files (with .ts extension) chunked for the sake of reading them properly. Does it

[2016-03-08 06:30] ron666 commented on #1688
@johndyer I used local files for MediaElementJS and it seemed to do the trick; do I need to get the JS files in the same directory as the swf files?

[2016-03-08 06:56] ron666 commented on #1688
@johndyer Thanks for looking at this; my problem was in another part of the code we created that was preventing the displaying of closed captioning in our system. This is really an awesome player!

[2016-03-08 06:56] #1688 closed

[2016-03-08 08:27] #760 closed

[2016-03-08 17:16] johndyer commented on #1688
Hooray. Glad to hear it!

On Tue, Mar 8, 2016 at 12:56 AM, Rafael Miranda <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-03-08 17:48] michaeldeeter opened #1705 "Weird experience when seeking to a segment boundary with HLS"
When using an HLS playlist file, if you attempt to seek close to a segment boundary, the player jumps back to the beginning of the previous segment.

The HLS playlist I'm using has 6.25 second segment lengths:
http://184.72.239.149/vod/smil:BigBuckBunny.smil/playlist.m3u8

My tests found these results:

Seeking to 6.23, 6.24, 6.25, or 6.26.... the player then jumps back to the beginning of the cli

[2016-03-09 06:14] qq1211178784 opened #1706 "vtt does't work when kind=captions on chrome"
`<video class="" controls="controls" id="player1" >
<source src="video/video.mp4" type="video/mp4">
 <track kind="captions" src="file.vtt" srclang="en" label="english" />
</video>`

[2016-03-11 14:25] jashalevenson opened #1707 "Close Caption Options Not Showing in FireFox or Safari"
Videos with captions are displaying in Chrome and IE11 but not Safari or Firefox. Any recommendations?

<img width="967" alt="pasted_image_3_11_16__9_13_am" src="https://cloud.githubusercontent.com/assets/6495284/13704668/0d419708-e76b-11e5-91b7-74e44f129920.png">

[2016-03-11 14:37] johndyer commented on #1707
Any chance you could post a link to the example? My guess would be that the
vtt files have an encoding or mimetype that Safari and Firefox don't like.

On Fri, Mar 11, 2016 at 8:25 AM, jashalevenson <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-03-11 17:05] briankulp opened #1708 "Fullscreen immediately closes when on any @2x device (in iframe)"
I realize this isn't exactly a bug, but rather expected behavior of the code handling the scenario of being fullscreen within an iframe, however we are running into this issue a lot with embedded video's when users are either trying to go fullscreen on a Retina MacBook or an Android device that is > @2x pixel density.

If someone wants to give any context on the underlying issue this code is preve

[2016-03-11 17:50] rtackett commented on #1707
@johndyer Please update the http://mediaelementjs.com/ site to use the latest version.  It may help troubleshooting.

[2016-03-12 02:10] navyseal1987 opened #1710 "Please help me mediaelement could not show youtube's advertise"
Dear Sir
I have used mediaelement for video youtube in my website. But I if i use it, youtube's advertise could not show in video. Please help me
Thank you so much

[2016-03-12 11:31] savoo opened #1711 "Poster image not display of video"
when i try to set this option to mediaelement.js
iPadUseNativeControls: false,
		// force iPhone's native controls
		iPhoneUseNativeControls: false,
		// force Android's native controls
		AndroidUseNativeControls: false,

to false poster image of video not displaying if it set to true then images display but it allows native fullscreen in ios.
So herer i don't want nativecontrol of device on video

[2016-03-14 18:23] uglymunky opened #1712 "No sound when using plugins and the `Audio` constructor"
The following works fine when using one of the plugins:

[code]

But doing it this way seems to fail silently and not play any sound (seems to happen with both, flash and silverlight plugins):
[code]

[2016-03-16 07:59] SeregaSpaceApp opened #1716 "Playing Youtube video works incorrectly in Firefox"
Please see at a video on main page: http://pavla-petra-hram.ru/ (site is in Russian, but it doesn't matter for video viewing).
How to reproduce bug in Firefox:
1) Start playing video
2) Pause playing video
3) Start playing video
Now big overlay play button is still displayed, though it mustn't. And play icon in toolbar isn't still changed to pause icon (although this button click pauses video play

[2016-03-16 13:57] NePheus commented on #375
Still same here with version 2.20.1.
Demo-video (Download the Windows Media file): https://archive.org/details/WildlifeHd

Just search for this snippet in mediaelement-and-player.js:
[code]
I made a console.log(this.pluginApi); before the if-statement. In Firefox I get the output "NPObject JS wrapper class {  }" (as green Object highlight). In IE11 I get the string-output "[object] { }" and this E

[2016-03-22 14:56] chrowe commented on #291
What ever happened with this?

[2016-03-23 07:52] SuriyaaKudoIsc commented on #1129
Close issue because of the very old activity.

[2016-03-23 07:52] #1129 closed

[2016-03-23 07:59] SuriyaaKudoIsc commented on #1304
Nobody answered. :-1:

[2016-03-23 07:59] #1304 closed

[2016-03-24 07:16] x09 opened #1720 ""Now playing" available for audio?"
Hi,

I use mediaelement for  audio stream (icecast2 streams). Server send metadata (artist, song title). How display it ?

[2016-03-24 12:44] 13twelve commented on #1708
It seems my fix from last year has now broken. I think I see the fix though. If you update:

`zoomedWindowWidth = zoomMultiplier * windowWidth;`

to:

`zoomedWindowWidth = windowWidth / zoomMultiplier;`

Then it fixes it for me on my rMBP and works on a standard monitor.

@briankulp can you confirm? If so can you comment in the pull request: https://github.com/johndyer/mediaelement/pull/1721

[2016-03-24 18:03] rjschie commented on #1708
Would anyone mind explaining why this chunk of code checking for window width vs screen width with margin of error is necessary? It seems like it's fixing a problem that's not longer relevant in Chrome (based on the comment about Chrome Version 17).

[2016-03-24 19:53] 13twelve commented on #1708
@rjschie I need to do some testing in other browsers to confirm I think!

[2016-03-29 08:50] vykulakov opened #1723 "Black screen after poster and before starting play video"
I placed player on a page by this code:
[code]

and

[code]

When I refresh the page the player shows first a poster, then the player shows the black screen (while the video is loaded) and then the player shows video.

How can I disable the black screen after showing poster and before starting play video?

[2016-03-29 14:09] cjbarth commented on #1625
Have you made a pull request for this? I've having the same issue.

[2016-03-31 08:31] ale-grosselle commented on #1609
Sorry but I don't understand, is the library included into player?

[2016-03-31 08:47] jraoatlogic opened #1724 "Embedded youtube video keep looping in iOS safari"
See example here: https://jsfiddle.net/dub2Ln62/3/, inside iOS safari, click to start the playback, once it's finished, it exits fullscreen then immediately start playing again. This does not occur on Chrome on Windows.

[2016-03-31 10:52] GT4 commented on #1609
@ale-grosselle Sadly, no. Mediaelementjs is still relying on Flash for HLS :(

[2016-03-31 20:01] canadaduane commented on #1708
We're hitting this issue as well and are leaning toward removing the Chrome 16 compatibility fix.

[2016-04-01 03:19] a4jp-com opened #1725 "The length of audio files isn't shown till after clicking the play button on my PC and iPhone."
The length of audio files isn't shown till after clicking the play button on my PC and iPhone.

The Wordpress team might need some help adding the updated files to the core.

https://core.trac.wordpress.org/ticket/36374#comment:12

[2016-04-04 18:56] tomchomiak opened #1726 "360 video"
I see that you can load 360 video through YouTube, though, they really dumb down the quality of the video. Any plans to add support for 360 video directly? Thank you

[2016-04-08 11:49] igaumann commented on #1684
In Firefox 45.0.1 the youtube-video is still not working.
I get the same Message like @Usua
The specified "type" attribute "video / youtube" is not supported.
All candidates for the resource could not be loaded. Media loading pauses.

[2016-04-11 10:12] 13twelve commented on #1708
I'm currently testing on a bunch of browsers but I'm leaning towards removing the Chrome 16 compatibility fix also. I'll kill my current pull request and do another. I'm also testing in various browsers on various screen sizes: http://jsbin.com/hijuvupimi/edit?js,console

[2016-04-12 14:17] seewhy17 opened #1727 "the volume section jumps out of the containter"
Am using the media element to play audio podcasts that go into the 2hour+ range;
the mejs-currenttime and mejs-duration gets into  6 digit and the mejs-horizontal-volume-slider jumps out off and out of the container
![issue](https://cloud.githubusercontent.com/assets/11295881/14463063/88118a32-00c1-11e6-9ca1-795dfb236812.PNG)

[2016-04-12 14:33] johndyer commented on #1727
Can you provide a demo URL? Are you on the latest version?

On Tue, Apr 12, 2016 at 9:17 AM, seewhy17 <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-04-12 14:45] seewhy17 commented on #1727
I just downloaded it, yesterday am on a testing local server

[2016-04-13 19:52] Ravi-n opened #1728 "Wmv Files and Chrome"
Hello,
Am trying to play wmv files with chrome using the silverlight plug in and it shows a download link ...
Chrome Version :49.0.2

[2016-04-13 19:54] Ravi-n commented on #1728
Hello,
Am trying to play wmv files with chrome using the silverlight plug in and it shows a download link ...
Can you please let me know how to run wmv files in chrome using mediaelement
Chrome Version :49.0.2

[2016-04-13 20:23] johndyer commented on #1728
Do you have silverlight installed?

On Wed, Apr 13, 2016 at 2:54 PM, Ravi-n <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-04-13 20:25] Ravi-n commented on #1728
Yes Silverlight is installed...

[2016-04-13 21:11] seewhy17 commented on #1727
you can replicate the issue here :http://rhemachapelonline.com/me-test/audio.php
![capture](https://cloud.githubusercontent.com/assets/11295881/14509530/a19b4f66-01c4-11e6-908b-86e7200b94ff.PNG)

[2016-04-14 14:36] seewhy17 commented on #1727
here is a demo url:
http://rhemachapelonline.com/me-test/audio.php

[2016-04-14 14:40] isantolin opened #1729 "Unused branches?"
@johndyer

https://github.com/johndyer/mediaelement/tree/dispatch-event-with-this

https://github.com/johndyer/mediaelement/tree/338-double-progress-from-flash-after-setsrc

https://github.com/johndyer/mediaelement/tree/development

Are unused branches?

[2016-04-15 12:36] silkentrance commented on #1466
In the mejs.YouTubeAPI it sets the iframe's src attribute to just "//www.youtube.com/player_api".
It think that this is a typo and should read "http://www.youtube.com/player_api".

[2016-04-15 15:07] johndyer commented on #1466
Thanks! No, that's not a typo. If you put "http" then it won't work on
"https" sites, so we just the // to allow it work on both protocols. The
only catch is local files where it might have trouble.

On Fri, Apr 15, 2016 at 7:36 AM, Carsten Klein <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-04-15 16:16] seewhy17 commented on #1727
????????

[2016-04-15 17:04] johndyer commented on #1727
Sorry I haven't had the chance to look at it. I'm guessing the hour sizing
is hitting after the resize of that timer and we need to fix the timing.

On Friday, April 15, 2016, seewhy17 <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-04-15 17:23] silkentrance commented on #1466
@johndyer thought as much, thanks for clearing this up. how about a protocol option that one can pass in on construction of the player instance? this could then be used instead and everything will work just fine in any situation.

[2016-04-15 18:08] silkentrance commented on #1466
@johndyer currently working on a PR for this, which also takes care of shockwave / vimeo, but I get an error on compile (uglify):

[code]

do you know, by any chance, what is causing this? the reported line does look sound to me...

[2016-04-15 21:10] doffe commented on #1466
@johndyer
I still just get a black screen not locale and tried with http and https in the js with same result, audioplayer works fine but cannot get the youtube api player working.

[2016-04-15 22:01] silkentrance commented on #1466
@doffe erm, the issue is still in there... see PR #1730

[2016-04-16 06:26] aressler38 commented on #1609
+1

[2016-04-20 05:18] worthwhileindustries commented on #1609
:+1:

[2016-04-21 09:47] lucash opened #1731 "onFocus for keyactions not working with multiple players on one page"
Using space to pause/play a video/audio file will also pause/play all other players on the same page.
This is reproducable on http://mediaelementjs.com/:
Start the example video on the top and pause it by pressing space. While the video file is paused, the audio file will start playing.

[2016-04-21 20:41] moduv5 opened #1733 "Update npm package to new tag (2.21.1 )"
It would be great to update the npm package to the latest tag (2.20.1). On bower it seems to be at the latest but currently in npm the latest version is 2.18.2.

Thank you

[2016-04-23 07:16] scheinercc opened #1734 "mediaelementjs.com - Browser and Device support table outdated"
Although I am not sure if it is the right place, I file this request regarding http://mediaelementjs.com/#devices here for now.

The table of browsers and devices supported seems to be outdated. The Flash image shows a "9" which I assume is the version - maybe it might be better to just remove it. And isn't "h.264 only" supported in Firefox since the https://bugzilla.mozilla.org/show_bug.cgi?id=79

[2016-04-25 21:45] tomchomiak commented on #1726
Any update? Just wanted to see if this feature that is on the roadmap for media element and/or if this is something that can be contributed to. Open source 360 video players that use Webgl already exist, http://flimshaw.github.io/Valiant360/. Though, I like media element and don't want to have to use a separate player for 360 video. 360 video is on the rise, so its definitely something that deserv

[2016-04-26 01:05] johndyer commented on #1726
Tom,
I'd like to, but I don't have it on a near-term roadmap. I have a larger
infrastructure change for a 3.0 release that I need to get out there, and
then this would be pretty easy to add. But if you need something in the
next month, I'd say go for something you know works.

On Mon, Apr 25, 2016 at 4:45 PM, Tom Chomiak <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-04-26 05:24] tomchomiak commented on #1726
No worries John. Thank you for the update. For the time being, will work on a creating a basic player that I can use for the 360 videos. Once 3.0 is released, would love to contribute to 360 video if its not on your immediate roadmap. Best of luck, John, and thanks for creating MediaElement!

[2016-04-29 06:58] seewhy17 commented on #1727
Hello John is this going to be fixed soon, cause am getting close to the end of the web project and i want to use your player

[2016-04-29 08:43] upunkt commented on #1635
I'm having a similar issue with the audio player. It stops playing some seconds before the end of the .mp3-file in Firefox. Sometimes it loads a portion of the missing seconds and plays a little more. It does not have to do with Flash in my case, Flash is disabled. Anyone else facing this?

[2016-04-29 08:47] upunkt commented on #1635
I'm having a similar issue with the audio player. It stops playing some seconds before the end of the .mp3-file in Firefox. Sometimes it loads a portion of the missing seconds and plays a little more. It does not have to do with Flash in my case, Flash is disabled. Anyone else facing this?

[2016-04-29 10:36] ron666 opened #1735 "No poster image for HLS videos"
When using HLS and fallback to Flash there's no way to add a poster image. Is that intentional? And if not, how can I set up that poster image?

[2016-05-03 11:04] 13twelve commented on #1708
New PR based on this thread: https://github.com/johndyer/mediaelement/pull/1736

[2016-05-04 10:06] wschwaiger opened #1737 "setCurrentTime not working in Safari"
Hi there,

First of all thank you for this awesome pice of JavaScript code.

I have problems getting the setCurrentTime() method to work in Safari. I noticed an issue back in 2013. Was that fixed/updated? Is there a solution other than switching to the flash version?

Many thanks,
Wolfgang

[2016-05-04 11:18] #1466 closed

[2016-05-05 06:06] Heshyo commented on #1720
I'm also interested in this. Also you may need to setup CORS.

[2016-05-05 19:48] johndyer commented on #1727
Finally got this fixed. Should be out in a day or two.

On Fri, Apr 29, 2016 at 1:58 AM, seewhy17 <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-05-05 19:49] #1727 closed

[2016-05-05 19:53] johndyer commented on #1720
Yeah, you'd need to hook into the metadata event on the player and then
display it manually.

Something like:

$('video').mediaelementplayer({success: function(media, player) {
  player.addEventListener('metadatareceived', function(data) {
    // do something with data
  });
});

On Thu, May 5, 2016 at 1:06 AM, Heshyo <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-05-05 20:05] johndyer commented on #1737
Hmmm... doing something like `$('video')[0].player.setCurrentTime(40)` works great for me. Do you have code to show that doens't work?

[2016-05-05 20:05] johndyer commented on #1734
Good point. Thanks for mentioning it. I need to overhaul the entire site, but this is a good place to start.

[2016-05-05 21:57] #1734 closed

[2016-05-06 09:46] Heshyo commented on #1720
@johndyer But don't we need to set `Icy-MetaData: 1` for the server to return the metadata?

[2016-05-07 12:01] scheinercc commented on #1734
Let me know if there is anything I can help with.

[2016-05-09 09:25] b3wii commented on #203
Fullscreen doesnt work with FF48 and Chrome 50

[2016-05-09 22:43] jaepage commented on #550
Four and a half years later, this is still a bug.

[2016-05-09 23:40] jaepage commented on #550
Solved by https://github.com/johndyer/mediaelement/pull/625.

[2016-05-10 18:33] andreibaracuda opened #1738 "Scrolling over a video on mobile devices causes the video to start playing"
Video starts playing on "touchstart" event on mobile devices.
MediaElement can't differentiate between tap and scroll.

Below is the workaround I used to get it to work right on mobile devices:
var isScrollOverVideo=false;
            $(".mejs-overlay-play").on("click", function (e) {
                $(this).closest(".videoBorder").find("video")[0].play();
            });
            $(".mejs-over

[2016-05-11 00:17] Jinkwon opened #1739 "Error event in flash fallback"
HTML5 video tag has error events.
But I couldn't find any "error event" handle codes in a flash fallback.
Do you have any plan to develop such as error events handling?

https://github.com/johndyer/mediaelement/blob/master/src/flash/htmlelements/VideoElement.as#L217

[2016-05-11 08:57] Jinkwon commented on #1739
I found this PR.
https://github.com/johndyer/mediaelement/pull/871

[2016-05-11 23:32] uharbachou commented on #1666
Is it really important?
can do scss + autoprefixer
but can be minor bugs in themes

[2016-05-12 10:12] Det20 opened #1740 "Need Scale Mode"
I was wondering that i can't find a property like scale. Currently the Video is cropped if the DIV / Browser is <> Video size. A function to full fill the complete Screen would be great.

[2016-05-12 16:26] krobing opened #1741 "was deleted the MediaPluginBridge object - Error"
the mejs.MediaPluginBridge object  was deleted of the library and reports an error on the method remove

[2016-05-12 18:05] uharbachou commented on #1666
@johndyer hi, can you review this part of code.
use gulp for it, but can do it for grunt later
gulp html5only-dev watch scss files.
gulp sass:sort sort styles in gulpfile. Want to do file config for sorting plugin.
may be you have any ideas about it?

[2016-05-15 09:08] MosheL commented on #1609
+1
it can be better than the flash.

[2016-05-18 00:41] andyh4 commented on #1609
It seems that finding a replacement for flash is increasingly critical in light of the Chrome devs' announcement that they will be dropping default support for flash by the end of 2016:
https://groups.google.com/a/chromium.org/forum/#!searchin/chromium-dev/HTML5$20by$20default/chromium-dev/0wWoRRhTA_E/__E3jf40OAAJ

[2016-05-20 20:05] mopi16 commented on #957
Any resolution with this?  I'm having the same issue.  W7, IE11, the video will not play:  "Error loading this resource".  It is strange because some videos will play, while others do not, regardless of how many times I re-render them.  For the life of me, I can't figure out what is different between the ones that do play and the ones that don't.

[2016-05-22 21:26] miklu521 opened #1742 "Arrow keys -- inconsistent behavior"
Upon startup, the player supports keyboard events for the arrow keys -- right-arrow for fast-forward and left-arrow for rewind. But when the mouse is clicked anywhere in the browser window, the keys stop working. This behavior has existed for several years.

[2016-05-22 21:36] johndyer commented on #1742
Yes, it's trying to only support keyboard codes when the player is focused.
You don't want the player to always override keys when doing something like
filling out a form.

On Sun, May 22, 2016 at 4:26 PM, miklu521 <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-05-22 22:17] miklu521 commented on #1742
Hi John - thanks for this great product!

Is there any way for me to tweak the code to preserve the keyboard events? It's a useful (and safe) feature in my application. Here's an example:

http://www.territorialairwaves.com/index.php?page=30&id=335

Thanks,
Mike Lucks

[2016-05-23 10:25] artifex404 commented on #957
Mopi16, try to re-encode with [handbrake](https://handbrake.fr/) for example. It did fix some issues for me.

[2016-05-23 14:23] mopi16 commented on #957
Thanks, artifex404.  You are correct.  Since I've posted, I have come to believe that it is the way I have encoded the file (I am using an instance of FFMPEG).  The strange thing is that some of the videos in the output stream work, while others do not.  And they do not work only for Windows 7, IE11.  At least I now have a place to start in working on my encoding scheme.  Thanks so much!

[2016-05-23 17:45] uharbachou commented on #1742
We can track also different input in form, is they not focused?. Then by default will be player change state and can conflict  with components like sliders and carousels.

[2016-05-25 05:05] hero2201 commented on #607
I am also want to do that. When I set new source and then set new poster Image! How to do that?

[2016-05-26 22:44] mbritton commented on #1427
Still no solution, I guess?

[2016-05-27 01:30] johndyer commented on #1427
Yes, as of iOS 7, Safari supports the <track> element. MediaElement.js can't automatically turn on the captions, but Safari's interface has a button to turn on captions.

[2016-05-27 01:30] #1427 closed

[2016-05-27 15:56] MinusPL opened #1744 "Getting message "Audio Player" and "Use Up/Down Arrow keys to increase or decrease volume.""
As title says. I can;t figure out how to disable it. Setting in CSS display: none; for mejs-offscreen affects also volume bar. Problem appears to be only in Chrome, I tested it under Microsoft Edge and everything is okay. I don't know if it is issue or maybe I'm doing something wrong. I'm posting also my code here.

http://pastebin.com/MYaB1eZk

Don't seek getSongData.php code. It's only for getti

[2016-05-29 22:53] tongro opened #1745 "."

[2016-05-29 23:28] #1745 closed

[2016-05-30 00:31] tongro opened #1746 "Catalan localisation"
Catalan i18n file attached.

[me-i18n-locale-ca.js.txt](https://github.com/johndyer/mediaelement/files/288627/me-i18n-locale-ca.js.txt)

[2016-05-30 01:39] evanhuntley opened #1747 "Possible to modify controls visibility timing?"
I have my video player controls set to automatically show/hide based on the user's mouse behaviors - but the controls take a little too long to fade out after mouse activity (for my needs).

Is it possible to speed up this timing without having to modify the core player JS?  I want to maintain mediaelement as a project dependency and still be able to pull in changes with Bower, etc, yet achieve a

[2016-05-30 09:45] sonnety opened #1748 "Preload option"

[2016-05-30 13:48] johndyer commented on #1745
It won't work with local files due to security restrictions in the browser.

On Sun, May 29, 2016 at 5:53 PM, tongro <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-05-30 13:50] johndyer commented on #1747
Unfortunately that's hardcoded at the moment. It'd be better if we changed
it to have some options like the ability to fade in/our or move up/down and
set the timing as you mentioned.

On Sun, May 29, 2016 at 8:39 PM, Evan Huntley <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-05-30 15:45] sonnety opened #1749 "Add a preload="none" option."
Hi i'm using mediaelement.js . I dynamically create a player and my player is not working when i add preload="none" option manually. How to add this dynamically ? I want to disable all preload option. Where can i edit preload option in the script of mediaelement-and-player.js ?

[2016-06-01 08:04] McGern commented on #1587
This is something I am also interested in finding out.

[2016-06-01 08:25] 3l-d1abl0 commented on #1228
Try setting the source as '' before removing.
`player.setSrc("");`

[2016-06-01 15:09] jlawrence-yellostudio commented on #1741
Same issue here.

[2016-06-03 11:15] g4mbit opened #1750 "Player skin not appearing on Safari Browser, OSX, Version 8.0.2 (10600.2.5)"
Tested on:
OS: Yosemite 10.10.1
Safari Version: Version 8.0.2 (10600.2.5)

I've embedded the video code to load youtube, all players working well on Chrome and Firefox however when in Safari, the youtube video loads but the player skins are not showing. I've also tried loading the demo versions but no chance of loading skins.

When I check the elements with the inspector, the nodes are actually em

[2016-06-03 11:39] wieloch commented on #862
I had this same exact problem. I found that I had to update the Flash support in Firefox (rtmp only works with Flash installed)

[2016-06-03 12:22] g4mbit commented on #1750
UPDATE:

I found out that MediaElement is not initalising at all, success handler is not calling at all.

[2016-06-03 13:22] g4mbit commented on #1750
I found the issue but can only request a merge later, if best will the @johndyer  or any contributor update this problem.

The problem is that in your youtube tag.src for yt api, instead of loading it off "//www.youtube.com/player_api", should load it through "https://www.youtube.com/player_api". Not too sure when did this happen but still good to find out.

[2016-06-03 13:22] #1750 closed

[2016-06-03 13:33] g4mbit commented on #1750
I notice the shim file in the source includes the scheme property but it is not reflected in the build, will update the build instead

[2016-06-03 14:07] g4mbit commented on #1750
Ok, after cloning the repo, I found out the master is already updated. Well I guess the last thing that needs to be updated will be the website. The download for users are downloading the version without the YT fix that has been implemented.

[2016-06-05 11:34] matt-bailey opened #1751 "Question: Can MEjs play video on iOS inline rather than fullscreen"
Apologies for not just trying this out myself, but my computer has recently died...

I have a client who's site is using MEjs to playback video. In a desktop browser when you pause the video the timestamp is recorded and the user can leave a comment. The user can then unpause the video to continue watching it and keep pausing it to leave notes as they wish.

However, currently on iOS the video ope

[2016-06-05 19:41] baronvongrant opened #1752 "Time Rail isn't showing up on media player & volume slider in wrong place"
The time rail/scrubber isn't loading on my player, regardless of browser, when I press play.

Additionally, the volume slider seems to show up over the pause/play button.

ANy advice on how to fix this would be greatly appreciated.

My site with player is here: http://thetvdudes.com/index.php/features/podcasts/564-the-tv-dudes-podcast-084-comics-issues

[2016-06-06 15:50] evanhuntley commented on #1747
Thanks John - I was able to achieve for now by extending the prototype (carefully), but definitely something I would suggest for a future iteration.  I was working on a full screen skin (similar to the Amazon Prime streaming player) and needed to control this.

[2016-06-06 15:50] #1747 closed

[2016-06-07 15:58] skajg opened #1753 "playing ok but method doesn't work on mobile browsers"
I'm trying to build my own steraming website using mediaelement.js for player with my centos server.
There are some struggles that I face during the developement.
The struggles are following :

Environment : centos, apache
Framework : mediaelement.js
Language : php, js, ...

- I have succeed to play video both on my laptap computer and mobile browsers.
But on my laptap browser(chrome,ie) it works

[2016-06-07 20:07] johndyer commented on #1751
Unfortunately, while Apple allows videos to play inline normally on iPads,
Apple still forces videos on iPhones to play fullscreen. If you build a
custom browser app you can override this but otherwise not.

There are a few libraries that fake it either with canvas or a secondary
audio tag that you could try

https://github.com/bfred-it/iphone-inline-video

On Sun, Jun 5, 2016 at 6:34 AM, Matt Bai

[2016-06-08 03:04] howieye opened #1754 "found xss"
=1>
ExternalInterface.call(setTimeout,this._jsCallbackFunction+(+ExternalInterface.objectID+,message,+txt.replace(pattern,’)+),0);(FlashMediaElement.as:483)

=2>
this.logMessage(stage: +stage.stageWidth+x+stage.stageHeight);(FlashMediaElement.as:151)

=3>
this.logMessage(file: +this._mediaUrl);(FlashMediaElement.as:152)
stack:
1. this.logMessage(file: +this._mediaUrl);(FlashMediaElement.as:152)
2.

[2016-06-08 10:16] matt-bailey commented on #1751
Thanks John. Interestingly I came across the same JavaScript solution that you mentioned. I'll look into it.

[2016-06-08 10:16] #1751 closed

[2016-06-10 15:52] evanhuntley opened #1755 "Bower does not have the latest tag"
When I try to upgrade to the latest version (2.21.2) via bower, I get an error:

`bower mediaelement#~2.21.2     ENORESTARGET No tag found that was able to satisfy ~2.21.2`

The upgrade fails.  If I just do:

`bower install mediaelement`

I end up with the 2.21.1 version every time.  Any ideas?

[2016-06-13 15:03] Tyllionaire opened #1756 "Using setSrc on iOS devices"
I'm building a website where I've got some YouTube like thumbnails which change the source of my mediaelement via data attributes. It works like a charm on desktop browsers but comes to an end on mobile ones (tested in safari and chrome mobile on iPhone and iPad).

Has anyone ever managed to get this working?

This is how it's done:
`player2.setSrc('media/vid/'+videoData[0]+'.mp4');`
`player2.load

[2016-06-14 11:40] Tyllionaire commented on #1756
Turned out, that switching the source files worked pretty well and the iOS devices had trouble starting the video after loading a new source because of the well known "autostart-issue" (http://stackoverflow.com/a/12496184).

[2016-06-14 11:40] #1756 closed

[2016-06-14 15:45] jpking72 opened #1757 "After exiting full screen, cannot use document body scrollTop"
I have long web page that scrolls vertically with several videos. The videos play, but if you enter full screen mode and then exit full screen mode, the page returns to the very top, regardless of where the video is on the page. I want it to return to the same place. Here is the code I'm using:

[code]
Here document.body shows the body tag, but the document does not scroll.   If I enter the comman

[2016-06-15 15:12] ron666 opened #1758 "Controls remain visible after clicking Play from control bar"
@johndyer In IE9 and IE10 you can start the video, pause it from the control bar and, if you click the Play button from the control bar rather than the big play button, the control bar disappears, but then comes back and remains there. Any hints of what is causing this?

[2016-06-15 15:20] scotepi opened #1759 "Uncaught TypeError: this.pluginApi.setSrc is not a function"
When changing the src of a YouTube video with player.setSrc() there is an error that it is not a function.

[code]

[code]

[2016-06-16 08:53] #1665 closed

[2016-06-16 18:24] evanhuntley commented on #1758
Same issue here!  I'm working on a full-screen skin, using the mejs-controls div as an overlay for the whole screen.  It actually works great, except for this same symptom in IE9 and IE10 - once you use that main play/pause button, the controls try to hide but keep coming back.

[2016-06-17 13:11] johndyer commented on #1758
Thanks for the alert. Are you on a touch-enabled device?

On Thu, Jun 16, 2016 at 1:24 PM, Evan Huntley <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-06-17 13:19] ron666 commented on #1755
Same issue here. I'm trying to get the latest but the tag is not up-to-date. Only reaches 2.21.1 version and crashes some of the current processes we have already

[2016-06-17 13:20] evanhuntley commented on #1758
No, testing it via Browserstack.  Need a screen recording?

[2016-06-17 15:56] jpking72 commented on #1757
I also use scrollTop with my navigation, and that breaks too after leaving full screen.

[2016-06-20 15:43] ron666 commented on #1758
Yeah. I used a regular computer with Win7 and IE10 and I was able to reproduce this issue. Any hints?

[2016-06-20 15:44] ron666 commented on #1755
@johndyer Any updates on this?

[2016-06-21 21:34] jaepage commented on #1726
+1 for 360 video support.

[2016-06-21 22:11] jaepage commented on #1726
@tomchomiak: May I ask what solution you found in lieu of MEJS supporting 360 video?

[2016-06-22 02:25] ron666 commented on #1758
@johndyer I'm creating a new branch and I'll request a pull to fix this

[2016-06-22 02:31] ron666 commented on #1758
@johndyer Here's the pull request: https://github.com/johndyer/mediaelement/pull/1760. Let me know your thoughts

[2016-06-22 09:01] ale-grosselle opened #1764 "detect fullscreen; why only on play?"
Hy @johndyer,
I want to know why you detect the better fullscreen mode only when video starts:
`media.addEventListener('play', function() { player.detectFullscreenMode(); });`

Can you call detectFullscreenMode on ready callback?

[2016-06-25 11:52] frontendpm opened #1765 "Fullscreen on youtube player doesn't works on Safari."
Hi,
to reproduce this please follow this steps:
1. open http://mediaelementjs.com/examples/?name=youtube in Safari on OS X
2. try to click on fullscreen button.
3. nothing happend, no fullscreen mode..
4. in console you can see an error:
`TypeError: b.media.webkitEnterFullscreen is not a function. (In 'b.media.webkitEnterFullscreen()', 'b.media.webkitEnterFullscreen' is undefined)`

How make it wo

[2016-06-28 00:15] CoolerExtreme opened #1766 "Streaming video doesn't work properly with Web Audio api"
I am trying to embed a remote video(from sites like youtube, vimeo, etc.) and use the analyzerNode from the Web api to create a music visualizer on the side while the video is playing.

This works perfectly fine for local video files, but when you use this for youtube or any other remote video links, then the analyzerNode fft outputs all 0s for some reason.
The video and audio still plays fine, it

[2016-06-28 16:40] johndyer commented on #1766
Unfortunately, youTube doesn't report that the same data you're looking for!

On Mon, Jun 27, 2016 at 7:15 PM, CoolerExtreme <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2016-06-28 16:48] zaichiict opened #1767 "Alway play video when mouseout"
My player run video with .m3u8, when mouseout video container then video pause. I want video alway play because user can add comment and see video.

[2016-06-28 17:19] zaichiict commented on #1767
I find a option: alwaysPlayMouseover: false => Player work!

[2016-06-28 17:19] #1767 closed

[2016-06-29 15:22] urtuk opened #1768 "video doesn't load and freeze the whole page"
hi,
everything is in the title. i'm on wordpress.

[2016-06-29 15:39] urtuk commented on #1768
its fine i changed 'preload'  => 'metadata' to 'preload'  => 'none' in wp-includes/media.php

[2016-06-29 15:44] urtuk commented on #1768
but now it's annoying to not have the file preview or the duration :/

[2016-06-29 16:09] johndyer commented on #1768
You could include a poster image.

On Wed, Jun 29, 2016 at 10:44 AM, urtuk <notifications@github.com> wrote:

--
John Dyer - http://j.hn/

[2016-06-29 16:41] urtuk commented on #1768
for 100+ videos will be hard xD

there is no other way to fix the issue?

[2016-06-29 21:54] urtuk commented on #1768
i have an other issue now, when i pause at one point the video, if i press play again 40+ seconds after, it stop loading, prevent other videos from playing aswell, and free the whole page.

[2016-07-01 21:27] baronvongrant commented on #1752
Still can't seem to figure this one out. Any suggestions?

[2016-07-04 09:57] wschwaiger commented on #1737
Thanks for reaching out. I almost missed your comment.

Please see my code in the attachment. Basically I am calling `mediaElement.setCurrentTime(timePlayed);`

[player.txt](https://github.com/johndyer/mediaelement/files/346046/player.txt)

[2016-07-06 00:54] #1242 closed

[2016-07-06 18:23] lucozhao opened #1769 "Firefox 47.0.1 always show "Error loading this resource""
I have a mp4 video file which has 307 redirect to cdn, and from network, it seems follow redirect works well, but mediaelement shows "Error loading this resource". Checked Safara/Chrome on my mac osx, they work well.

My mediaelement version is 2.18.2

[2016-07-06 20:43] friksa opened #1770 "unregisterPluginElement throws an exception when calling mediaplayer.remove()"
We are using mediaplayer to play a youtube video and it works great.  Thanks for a great project!

When unloading the page and cleaning up, we call mediaplayer.remove()... This results in an exception in being thrown in mediaelement-and-player.js line 894 complaining about this.pluginElement as undefined.  A check allows the rest of the cleanup to happen:

[code]

Can you please add this check to

[2016-07-07 16:19] mwjigar opened #1771 "Firefox not playing m3u8 file"
I tried to **m3u8** streaming and its working fine on chrome and safari but its **not playing in  Mozilla , IE, Opera (MAC), Chrome(MAC)** , Is there any way i can do this or it just don't supports.

[2016-07-10 15:46] ron666 commented on #1755
Thanks @johndyer! I see that we have now the latest tag

[2016-07-13 10:48] Babelfisch commented on #1748
+1

[2016-07-13 10:54] khalid11 opened #1772 "Youtube Quality Control with Mediaelementjs video player"
I want to integrate the youtube video quality control with the mediaelement.js player for playing youtube video with different quality.

Please let us know if anyone tries this or have any suggestions.

Thanks in advance

KK

[2016-07-13 12:53] johndyer commented on #1770
It's actually the `unregisterPluginElement` that's throwing the error, so we've removed that. Thanks!

[2016-07-13 12:55] #1770 closed

[2016-07-13 12:56] johndyer commented on #1769
Are you sure the MIME type is correct? Firefox is more picky about this.

[2016-07-13 12:58] johndyer commented on #1768
It sounds like if you want to use preload=metadata to get a poster image, it's going to slow down in the browser. but if you use preload=none or handle it dynamically you don't get a poster. Since this isn't directly related to MediaElement, I'm going to close this.

[2016-07-13 12:58] #1768 closed

[2016-07-13 12:58] #1766 closed

[2016-07-13 18:03] urtuk commented on #1768
It don't just slow down, it make the website crash, and when it doesn't crash, videos load only first 3 seconds and then crash. it's directly related to MediaElement..

[2016-07-14 04:51] ron666 commented on #1735
@johndyer Any hints on this one?

[2016-07-14 10:58] #1758 closed

[2016-07-14 11:01] ron666 commented on #1740
@Det20 I've worked on a stretching mechanism, and hopefully it will be merged soon. If you are interested, check it out on my fork

[2016-07-14 18:25] jaepage opened #1775 "How to build the SWC file and/or open the FLA file."
Step 3 of the Gruntfile says:

[code]

How am I to build the SWC file?

How do I open the FLA file? I downloaded and unzipped the Flex SDK, but I don't see how that's useful.

Thank you.

[2016-07-14 19:00] lucozhao commented on #1769
@rgnrok Thank. I tested and found poster="" is the culprit. After I removed this, it can play on Firefox latest version.

[2016-07-14 19:00] #1769 closed

[2016-07-15 03:18] ron666 commented on #1609
I'm currently working on the integration of hls.js with this amazing library. Feel free to check it and provide feedback (#1776).

[2016-07-15 22:09] ron666 commented on #1037
@johndyer I have a branch ready with the integration of hls.js with mediaelement; please let me know if you are interested in merging it. Thanks

[2016-07-18 01:05] ron666 opened #1777 "mediaelementjs.com broken"
@johndyer the website is referring to the file http://mediaelementjs.com/js/mejs-2.22.2/mediaelement-and-player.min.js when it should be referring to http://mediaelementjs.com/js/mejs-2.22.0/mediaelement-and-player.min.js. It's just a typo

[2016-07-18 01:10] ron666 commented on #1740
@Det20 The fill effect is now part of the project; please test it out

[2016-07-18 01:19] ron666 commented on #1771
@mwjigar I have a branch ready to support HLS in Chrome and FF using hls.js (#1776). Feel free to test it.

[2016-07-18 01:25] ron666 commented on #1678
Can this issue being closed?

[2016-07-18 02:31] johndyer commented on #1777
THanks!

[2016-07-18 02:31] #1777 closed

[2016-07-18 03:44] #1275 closed

[2016-07-18 03:44] ron666 commented on #1275
Already integrated

[2016-07-18 03:45] ron666 commented on #1735
@johndyer I prepared a fix for this issue (#1780); let me know your thoughts. Thanks

[2016-07-18 07:17] #1678 closed

[2016-07-18 12:50] rafa8626 commented on #1765
@frontendpm I have a fix branch for this (#1783) please test it and let me know if it works for you

[2016-07-19 05:58] marjune163 opened #1785 "What's the use of entries.times.start in mep-feature-tracks.js"
here is the code:
https://github.com/johndyer/mediaelement/blob/master/src/js/mep-feature-tracks.js#L668

My question is since `entries.times` is an array so why add the `start` attribute on it? seems it is not used anywhere else. Only items in `entries.times` has the `start` attribute. Is it a mistake or my misunderstanding?

[2016-07-20 15:25] hamedmoody opened #1788 "can i create custom player?"
hi
can i create custom player like this?
![capture](https://cloud.githubusercontent.com/assets/9475089/16992293/ed7458ce-4eb3-11e6-9c17-72c80ca03411.PNG)
Thanks

[2016-07-20 17:36] #981 closed

[2016-07-20 21:58] lucozhao opened #1789 "Is there any document about setting language dynamically based on browser language?"
See the translations under mediaelement/src folder, but could not find how to use them. My case is to show different mediaelement languages for different browser languages. The build file mediaelement-and-player.min.js seems not have included the translations.

[2016-07-21 14:52] ron666 commented on #1765
@frontendpm The fix has been merged, can you please close this issue?

[2016-07-21 15:14] #1765 closed

[2016-07-21 15:16] #1755 closed

[2016-07-22 10:34] ron666 commented on #1788
hi @hamedmoody you are talking about creating a theme. And that is possible using CSS and some Javascript to format time and the name you are displaying in the control bar. About the icon on the right, that looks like a custom plugin. Take a look at http://mediaelementjs.com/examples/?name=loop to have more reference about how to do it. And https://designshack.net/articles/css/custom-html5-audio-e

[2016-07-22 10:36] ron666 commented on #1788
Can you close this issue if you have no more questions, please?

[2016-07-22 10:43] ron666 commented on #1753
@skajg The link you provided doesn't work

[2016-07-22 10:49] ron666 commented on #1752
@baronvongrant I only see the Podcasts section and everything seems to be working fine. Can you point a section where you are experiencing the issue you describe? If it is not an issue, can you close this ticket, please?

[2016-07-22 10:50] ron666 commented on #1741
@krobing The fix was integrated on last release. can you close this issue, please?

[2016-07-22 10:53] ron666 commented on #1740
@Det20 Can this issue being closed?

[2016-07-22 10:56] ron666 commented on #1731
@lucash can you close this issue, please?

[2016-07-22 10:59] ron666 commented on #1716
@SeregaSpaceApp I tested on Firefox 47.0.1 and I didn't experience any issues. Are you having still issues? If not, feel free to close this ticket, please

[2016-07-22 11:47] #1731 closed

[2016-07-22 13:37] krobing commented on #1741
it's done, thank you

[2016-07-22 13:37] #1741 closed

[2016-07-23 03:40] hamedmoody commented on #1788
Ok, Thanks

[2016-07-23 03:40] #1788 closed

[2016-07-23 13:07] Det20 commented on #1740
Thanks. How can I use it? Do you have any example of this property? With parameters?

[2016-07-23 13:14] ron666 commented on #1740
Check demo/mediaelementplayer-stretching.html; the parameters are there, and if you wanna restrict the player to a certain container, just set the width and height of the container

[2016-07-24 05:04] Det20 commented on #1740
Test it. Thank you, it works.

But if it set "videoWidth: '100%", "videoHeight: '100%'" in mediaelementplayer settings and/or width="100%" height="100%" in <Video> Tag, it doesn't work. Maybe your can handle this?

[2016-07-24 05:50] ron666 commented on #1740
I will take a look on that and let you know. Do you have a test URL that I can check?

[2016-07-24 12:13] ron666 commented on #1740
You have to remember that the 100% values are to make the video responsive. If the plugin finds them, it's gonna try to make the video responsive

[2016-07-24 12:24] ron666 commented on #1733
The tags seems up to date. Is this still an issue? If not, can you close this issue please?

[2016-07-24 12:44] ron666 commented on #1723
Try modifying the CSS for mejs-container setting background to transparent or any color of your preference

[2016-07-24 12:45] ron666 commented on #1724
I tried the URL on an iPhone and it works. Can you confirm if this is still an issue? If not can you close it please?

[2016-07-25 02:53] jrao1 commented on #1724
Yes, I think it's still an issue, tested on iPhone 6+, iOS 9.3.2, Safari. I'm using a proxy, not sure if this could be the issue.

[2016-07-25 03:29] ron666 commented on #1724
Probably I tried with an iPhone 5s latest version and everything played correctly.

[2016-07-25 09:26] ale-grosselle opened #1790 "Hls Flash video reproduced with uncorrect aspectratio if m3u8 is without RESOLUTION value"
Hi,
If you try to reproduce this m3u8:
http://thronqa-view.thron.com/api/xpublisher/resources/weebopublisher/getContentDescriptor.m3u8?clientId=thronqa&contentId=9f63b7df-6060-45ec-87b2-26407463ddb8&channelType=STREAMHTTPIOSHD&v=10

you will see the video with incorrect aspect ratio:
![image](https://cloud.githubusercontent.com/assets/6173088/17096595/6cf0fd2e-525a-11e6-9bdb-cbc9005e1485.png)

Pro

[2016-07-25 09:37] ale-grosselle commented on #1790
Fix pull request: #1791

[2016-07-25 10:08] ideag opened #1792 "Missing plural forms for jump forward/back strings"
Skip back/jump forward strings do not allow for multiple plural forms (see [here](https://github.com/johndyer/mediaelement/blob/8adf73f1a2bec0b6867f83917ce8c491d01c1aa9/src/js/mep-feature-skipback.js#L7) and [here](https://github.com/johndyer/mediaelement/blob/8adf73f1a2bec0b6867f83917ce8c491d01c1aa9/src/js/mep-feature-jumpforward.js#L7)).

This does not present a problem in English language, as t

[2016-07-25 10:19] ron666 commented on #1724
Test without a proxy and let me know if it's still an issue since I haven't been able to reproduce it

[2016-07-25 13:44] #1733 closed

[2016-07-25 14:39] jrao1 commented on #1724
Yes, it looks like a proxy problem, it does work without proxy.

[2016-07-25 14:44] ron666 commented on #1724
Great! Can you close this issue please?

[2016-07-25 15:09] #1724 closed

[2016-07-25 16:35] ron666 commented on #1728
Do you have a URL to test this issue @Ravi-n?

[2016-07-25 16:37] ron666 commented on #1723
Can this issue be closed, @vykulakov?

[2016-07-26 05:26] vykulakov commented on #1723
I set a transparent background for the mejs-container and now after poster I see a white screen (my page's background). This is not solve my problem.

[2016-07-26 09:01] ale-grosselle opened #1793 "Safari Mac Fullscreen use Native Fullscreen"
Compared to previous versions, when on safari mac request fullscreen, shows the player with no skin:
![image](https://cloud.githubusercontent.com/assets/6173088/17132000/251374d4-5320-11e6-8224-2c1fc9d76bfa.png)

I expect the full screen on mac safari has the skin

[2016-07-26 09:08] ale-grosselle commented on #1793
PR: #1794

[2016-07-26 10:50] ron666 commented on #1723
@vykulakov My apologies I didn't notice you were using Flash; which browser are you using to test this? Also, I have a PR (#1780) that solves one issue with the Flash fallback. Take a look and check if it solves your issue.

[2016-07-26 11:06] ron666 commented on #1601
@yatinrandive-lynda can you close this issue, please?

[2016-07-26 11:07] ron666 commented on #1596
@skazhikadyadya The URL you provided is not working. Is this still an issue? If not can you close this ticket, please?

[2016-07-26 11:14] ron666 commented on #1576
@tesshsu IE8 should be supported, but also consider the Quirks mode and all the variations IE browsers can have. If you are using one, I think that could be a problem; otherwise, I've found that putting the mp4 or mp3 source and type within the audio/video tag works fine in IE8, and then you can have your other source tags. If this is not an issue anymore, can you close this ticket please?

[2016-07-26 11:20] ron666 commented on #1530
@voleoo I don't know if it helps, but these are the only events fired related to captions: http://www.html5rocks.com/en/tutorials/track/basics/#toc-events. Let me know if those work for you

[2016-07-26 11:22] ron666 commented on #1467
@masterhafid Is this still an issue? If not can you close this issue, please?

[2016-07-26 11:29] ron666 commented on #1682
@sief This is default behavior even in the major players. Try YouTube and do the same and you will find out that this behavior can be seen there too.

[2016-07-26 11:45] ron666 commented on #1742
@miklu521 You can use jQuery to bind events on your document's body
`$('body').on('keydown', function(e) {
   player.trigger('keydown');
});`

player in this case must be the instance of the active player. Let me know if that works for you

[2016-07-26 11:50] ron666 commented on #548
@peterh-capella Is this still an issue? If not, can you close this issue, please?

[2016-07-26 11:52] ron666 commented on #338
@dadaxr Can you close this issue?

[2016-07-26 11:53] ron666 commented on #434
@cointel Can you close this issue, please?

[2016-07-26 11:54] ron666 commented on #521
@xam1311 Is still an issue? If not, can you close it, please?

[2016-07-26 11:55] ron666 commented on #518
Is this still an issue? If not, can you close it please?

[2016-07-26 11:55] ron666 commented on #520
@firedev Is this still an issue? If not can you close it please?

[2016-07-26 11:56] xam1311 commented on #521
Not tested yet since 4 years, i can't remember how i manager this issue, we can close :/

[2016-07-26 11:56] #521 closed

[2016-07-26 11:56] ron666 commented on #545
@MauFournier Is this still an issue? If not can you close it please?

[2016-07-26 11:58] ron666 commented on #546
@jeremybanks Fix merged; can you close this issue, please?

[2016-07-26 12:00] ron666 commented on #585
@ryokenau Fix merged; can you close this issue, please?

[2016-07-26 12:01] ron666 commented on #551
@liuzuolin Is this still an issue? If not can you close it please?

[2016-07-26 12:02] ron666 commented on #555
@alvincrespo Is this still an issue? If not can you close it please?

[2016-07-26 12:32] dadaxr commented on #338
i can :)

[2016-07-26 12:32] #338 closed

[2016-07-26 12:49] vykulakov commented on #1723
I use the latest version of the Firefox and Chrome.

The latest version of MediaElement does not solve my problem.

[2016-07-26 13:48] #1601 closed

[2016-07-26 14:58] ron666 commented on #1723
Did you use the pull request branch I indicated above? Do you have a URL I can look at?

[2016-07-26 16:04] moloko opened #1795 "YouTube API video looping endlessly in some browsers"
In IE11 and Edge, YouTube video loops endlessly (even if you explicitly set `loop` to `false`).

You can see this occurring on the [YouTube API example](http://mediaelementjs.com/examples/?name=youtube).

The issue is more sporadic in Chrome, Firefox v47.0.1 and iPad/iOS 9.3.3 - I think it's the case that if you let it play through it then loops but if you use the seek bar to jump to near the end

[2016-07-26 16:06] moloko commented on #1795
added correct commit link, sorry about that!

[2016-07-27 06:44] vykulakov commented on #1723
I applied changes from your PR but the problem remained.

I made simple demo with the problem:
![black_screen_demo](https://cloud.githubusercontent.com/assets/15159594/17166267/8ee42174-53de-11e6-8b28-1da104121e05.gif)

[2016-07-27 08:44] firedev commented on #520
I guess it's not important anymore. Thanks.

[2016-07-27 08:44] #520 closed

[2016-07-27 10:49] ron666 commented on #1723
Is there a way you can provide me the URL so I can check it with Firebug? Seems like it could be a style on one of the layers

[2016-07-27 11:40] vykulakov commented on #1723
https://videmon.ru/mediaelement/demo/mediaelement-stream.html

[2016-07-27 13:22] ron666 commented on #1723
Ok. Try adding this CSS:
`.mejs-poster {display: block !important};`

If you want to get the poster image to cover the whole player and avoid the black bars, try adding after the line above this one:

`:root .mejs-poster img {display: block !important};`

Let me know if it worked for you

[2016-07-27 13:34] ron666 commented on #516
@lennym Is this still an issue? If not, can you close this issue, please?

[2016-07-27 13:35] ron666 commented on #524
@mrclay Is this still an issue? If not can you close this issue, please?

[2016-07-27 13:39] lennym commented on #516
@ron666 Literally no idea at all. It was opened more than 4 years ago so I don't even remember what project I was working on at the time - I'm certainly in no position to determine if it's still a problem.

Happy for you to do whatever you like with the issue though.

[2016-07-27 13:41] ron666 commented on #553
@raghavan-mk You are basically removing the the video tag with this line:
`$("#videoPlayer").empty().show(); var vid = ''; $("#videoPlayer").append(vid);` that's why you get that.  You should avoid using empty(). If that solves your issue, can you close this please?

[2016-07-27 13:43] ron666 commented on #516
@lennym Thanks for the quick response; the Flash file had evolved a lot, so I would consider this issue solved. Please close, and if in the event this arises again, we can create another one.

[2016-07-27 13:45] ron666 commented on #563
@owldesign This has been fixed; can you close this issue, please?

[2016-07-27 13:48] ron666 commented on #581
@Josua2012 Is this still an issue? If not, can you please close this issue?

[2016-07-27 13:49] ron666 commented on #583
@ghost Is this still an issue? If not can you close it please?

[2016-07-27 13:52] ron666 commented on #590
@ralphlevy Please try the most recent version of the plugin, and check if this is resolved. If so, please close this issue

[2016-07-27 13:57] ron666 commented on #595
@thisisnottravis Is this still an issue? If not can you close it please?

[2016-07-27 14:07] vykulakov commented on #1723
I added this CSS:
`.mejs-poster {display: block !important};`
and the poster became always close the video. I don't see the video!

[2016-07-27 14:11] #595 closed

[2016-07-27 14:37] ron666 commented on #1723
Even if you removed the !important attribute?

[2016-07-27 15:08] vykulakov commented on #1723
If I remove the !important attribute, then everything will work as before.

[2016-07-27 15:20] #563 closed

[2016-07-27 16:23] #545 closed

[2016-07-27 16:25] MauFournier commented on #545
Yeah, sorry @ron666 - That was a long time ago, unfortunately I don't remember if this solved it or I went with another solution at the time. Thanks for the help though!

[2016-07-27 16:49] mrclay commented on #524
I'll check this out soon.

[2016-07-28 04:24] ron666 commented on #1723
@vykulakov I haven't been able to create a demo from my machine, but I thought this might help:
`new MediaElementPlayer('#camera', {
	...
        success: function(media, dom) {
              media.addEventListener('canplay', function() {
                   $(dom).closest('.mejs-container').find('.mejs-poster').show();
              });
       }
});`

[2016-07-28 04:27] ron666 commented on #528
@firedev Is this still an issue? If not, can you close this issue, please?

[2016-07-28 04:28] ron666 commented on #529
@firedev Is this still an issue? If not, can you close this issue, please?

[2016-07-28 04:29] ron666 commented on #562
@eshrinivasan This seems to be resolved (i.e., http://mediaelementjs.com/examples/?name=youtube), can you close this issue, please?

[2016-07-28 04:30] ron666 commented on #573
@benzine Is this still an issue? If not, can you close it please?

[2016-07-28 04:32] ron666 commented on #592
@funkybob Is this still an issue? If not, can you close it please?

[2016-07-28 04:33] funkybob commented on #592
Ah... that was four years ago... I don't even remember what I was using it for...

[2016-07-28 04:33] #592 closed

[2016-07-28 04:34] ron666 commented on #610
@DerProctophantasmist Is this still an issue? If not, can you close this please?

[2016-07-28 04:35] ron666 commented on #565
@kitsunde Is this still an issue? If not, can you close this issue please?

[2016-07-28 05:45] #562 closed

[2016-07-28 05:48] PrinceAnsong commented on #562
Is there a way to trigger this within the player or is it due to some kind of configuration on the side of Youtube?

[2016-07-28 05:55] vykulakov commented on #1723
This solution is not work. You can check it on  this page https://videmon.ru/mediaelement/demo/mediaelement-stream.html

[2016-07-28 06:47] kitsunde commented on #565
I'm not usig this in anything anymore, so no idea. :P

[2016-07-28 06:47] #565 closed

[2016-07-28 08:47] #528 closed

[2016-07-28 08:47] #529 closed

[2016-07-28 11:06] #581 closed

[2016-07-28 11:10] ron666 commented on #1723
@vykulakov I finally made this work. First add 2 classes in your CSS like this:
[code]

then, modify your success method like this:

[code]

[2016-07-28 11:14] ron666 commented on #562
I believe this is part of Youtube

[2016-07-28 12:06] vykulakov commented on #1723
Thank you for the answer but this is quick and dirty hack.

I tried to solve the problem in this way but I'm looking a normal solution.

[2016-07-28 13:05] ron666 commented on #1723
@vykulakov Unfortunately there's nothing else to do, since this has something to do with your streaming system. I tested rtmp://dev.wowza.longtailvideo.com/vod/_definst_/sintel/640.mp4 and it doesn't display a black screen when starting to play

[2016-07-28 13:11] ron666 commented on #1723
Feel free to close this issue, since this is not related to the player itself

[2016-07-28 13:56] vykulakov commented on #1723
Ok, thank you for the answers.

[2016-07-28 13:56] #1723 closed

[2016-07-28 14:06] ron666 commented on #588
@SteveHiner Is this still an issue? If not can you close this issue please?

[2016-07-28 14:08] ron666 commented on #596
@proff Can this issue being closed?

[2016-07-28 14:12] ron666 commented on #600
@sunilw Is this still an issue? If not can you close this ticket please?

[2016-07-28 14:34] Kaito23 opened #1796 "Firefox does not hide mejs-overlay-loading"
Hey,

in firefox does not hide the ".mejs-overlay-loading"
chrome and internet explorer 11 work find.

Update:
the problem seem to appear on larger video files.

[2016-07-28 17:35] proff commented on #596
i don't have mac to try and don't use mediaelement. I do not care already :)

[2016-07-29 02:41] ron666 commented on #603
@evertslagter What's the reasoning behind the conditional you proposed here?

[2016-07-29 02:42] ron666 commented on #604
@isospin Closing issue now, since FF15 is now a really old browser

[2016-07-29 02:42] #604 closed

[2016-07-29 02:43] #649 closed

[2016-07-29 02:48] ron666 commented on #613
@leighmcculloch Is this still an issue?

[2016-07-29 02:49] ron666 commented on #642
@najamsk Is this still an issue?

[2016-07-29 02:50] #628 closed

[2016-07-29 02:50] ron666 commented on #655
@MowWow Now there are translations available; closing this one

[2016-07-29 02:50] #655 closed

[2016-07-29 02:51] ron666 commented on #650
@elruinnou Have you tried alwaysShowControls options from the newest version? Is this still an issue?

[2016-07-29 02:57] #633 closed

[2016-07-29 02:59] ron666 commented on #646
@elruinnou Closing this one since FF16 is now deprecated

[2016-07-29 02:59] #646 closed

[2016-07-29 03:00] ron666 commented on #648
@programmin1 Is this still an issue?

[2016-07-29 03:01] ron666 commented on #664
@toxin20 It is working now. Closing this issue

[2016-07-29 03:01] #664 closed

[2016-07-29 03:01] ron666 commented on #659
@nethatix Currently HLS and RTMP are supported now. Closing this issue

[2016-07-29 03:01] #659 closed

[2016-07-29 03:02] ron666 commented on #597
@liuzuolin Is this still an issue?

[2016-07-29 03:03] ron666 commented on #623
@joeworkman This has been integrated. Closing issue

[2016-07-29 03:03] #623 closed

[2016-07-29 03:05] ron666 commented on #622
@nborko Is this still an issue?

[2016-07-29 03:05] ron666 commented on #547
@benjamincoleman Can you provide a URL that shows this issue, please?

[2016-07-29 03:06] ron666 commented on #564
@orderb13 Closing this issue since FF13 is now deprecated

[2016-07-29 03:06] #564 closed

[2016-07-29 03:06] #630 closed

[2016-07-29 03:07] ron666 commented on #637
@cointel Is this still an issue?

[2016-07-29 03:08] ron666 commented on #674
@clodpated Is this still an issue?

[2016-07-29 03:08] ron666 commented on #577
@ghost Closing this one since FF14 is now deprecated

[2016-07-29 03:08] #577 closed

[2016-07-29 03:10] ron666 commented on #554
@alvincrespo Is this still an issue?

[2016-07-29 03:13] ron666 commented on #682
@pctj101 Is this still an issue?

[2016-07-29 03:15] ron666 commented on #701
@jpchatt Is this still an issue?

[2016-07-29 03:16] ron666 commented on #661
@mkra Is this still an issue?

[2016-07-29 03:16] ron666 commented on #685
@thenewguy Closing this one since FF17 is now deprecated

[2016-07-29 03:16] #685 closed

[2016-07-29 03:17] ron666 commented on #692
@ika18 Is this still an issue?

[2016-07-29 03:17] ron666 commented on #695
@klodeckl Is this still an issue?

[2016-07-29 03:18] #681 closed

[2016-07-29 03:20] ron666 commented on #634
@j1234d2003 Code has changed a lot in order to set player size; is this still an issue?

[2016-07-29 03:20] #676 closed

[2016-07-29 03:21] ron666 commented on #699
@jpchatt Is this still an issue?

[2016-07-29 03:24] ron666 commented on #720
@rulatir You can use mejs.players and look for the instance now. Is this still an issue?

[2016-07-29 03:25] #723 closed

[2016-07-29 03:49] leighmcculloch commented on #613
I believe so, I never found a way to solve the problem and I think I worked around it by removing the DOM element from the page to completely stop it from streaming. @anthonyeden inherited the _(ugle)_ code I'd written. @anthonyeden are you still using mediaelement.js in http://hope1032.com.au/player/?

[2016-07-29 03:58] anthonyeden commented on #613
@leighmcculloch

We re-implemented the player last year using the Wordpress-supplied MediaElement.js. It has a similar problem of stopping a live stream, so we did the same thing and just removed it from the DOM.

The trouble is starting the stream again. Some mobile browsers won't let you auto-play, so we have some device targeting to fix that again. Far from ideal. Needs a bit of a re-write.

[2016-07-29 05:34] ika18 commented on #692
@ron666 Sorry, I don't know. Cause it's been a long time from I found.

[2016-07-29 05:35] ika18 commented on #692
@ron666 Sorry, I don't know. Cause it's been a long time from I found.

[2016-07-29 10:58] ron666 commented on #692
@ika18 thanks. I'll close this issue and we can always reopen if it appears again in the future

[2016-07-29 10:58] #692 closed

[2016-07-29 13:06] ron666 commented on #593
@stoph Is this still an issue?

[2016-07-29 13:06] ron666 commented on #619
@jonathaneckmier Is this still an issue?

[2016-07-29 14:46] ron666 commented on #613
Thanks @leighmcculloch and @anthonyeden for your comments. We'll take a look at this to revisit this issue, and keep you posted about any progress on that

[2016-07-30 02:04] #585 closed

[2016-07-30 02:21] ron666 commented on #1796
@Kaito23 Can you provide a URL to test this, please?

[2016-07-30 02:46] ron666 commented on #1795
@moloko You are right. I noticed that in the YouTubeElement.as line 175, the flag _isEnded is true, and it should be false. Can you try changing it to false to see if the issue gets fixed? I don't have the tools to compile the Flash file accordingly

[2016-07-30 02:52] #640 closed

[2016-07-30 02:52] #717 closed

[2016-07-30 02:53] ron666 commented on #732
@mikesmullin Is this still an issue?

[2016-07-30 02:54] ron666 commented on #755
@seb303 Is this still an issue?

[2016-07-30 03:28] ron666 commented on #726
@clomads I added a PR for this; let me know if it works for you

[2016-07-31 12:14] ron666 commented on #1711
@savoo This is a constrain of iOS. It doesn't like any other player but its default (QuickTime). About the poster, where are setting it? In the config or in the video tag?

[2016-08-01 02:13] ron666 commented on #1707
@jashalevenson is this still an issue using the latest version?

[2016-08-01 02:14] ron666 commented on #1706
@qq1211178784 is this still an issue?

[2016-08-01 02:16] ron666 commented on #1695
@uumeizi closing this issue since this is not related to MediaElement plugin as far as your description is stating

[2016-08-01 02:16] #1695 closed

[2016-08-01 02:17] ron666 commented on #1694
@mturco is this still an issue?

[2016-08-01 02:25] rtackett commented on #1707
CC is working for me in Firefox 47. This can be closed. @jashalevenson , if you still have issues, please add comment.

[2016-08-01 02:34] #1707 closed

[2016-08-01 02:34] ron666 commented on #1677
@flobookdo Can this issue be closed?

[2016-08-01 02:35] ron666 commented on #1673
@denytjandra Is this still an issue?

[2016-08-01 02:36] ron666 commented on #1672
@gavrochelegnou Is this still an issue?

[2016-08-01 02:39] ron666 commented on #1662
@feulix Is this still an issue? Seems that the line has changed

[2016-08-01 02:40] ron666 commented on #1638
@Ahmed-Ammar Is this still an issue?

[2016-08-01 02:41] #1631 closed

[2016-08-01 02:42] ron666 commented on #1630
@Roli4711 Is this still an issue?

[2016-08-01 02:43] #1619 closed

[2016-08-01 02:44] ron666 commented on #1611
@troygrosfield Is this still an issue?

[2016-08-01 02:47] ron666 commented on #1603
@floriano12 When you talk about mobile, you mean iOS? Because in order to play RTMP you need Flash and iOS doesn't support it

[2016-08-01 02:50] ron666 commented on #1585
@alenognjen or @CallMeRev  Is this still an issue?

[2016-08-01 02:53] ron666 commented on #1573
@almeidaz You should try something like this:

[code]

Let me know if that works

[2016-08-01 02:53] ron666 commented on #1568
@uharbachou Is this still an issue?

[2016-08-01 02:54] ron666 commented on #1562
@Solaris41 Is this still an issue?

[2016-08-01 02:55] ron666 commented on #1555
@troygrosfield Is this still an issue?

[2016-08-01 02:55] #1554 closed

[2016-08-01 02:56] #1548 closed

[2016-08-01 02:57] ron666 commented on #1521
@blop Closing issue since package was updated 2 months ago

[2016-08-01 02:57] #1521 closed

[2016-08-01 02:58] ron666 commented on #1490
@Fuzzyma Is this still an issue?

[2016-08-01 02:58] ron666 commented on #1473
@pierrewebmaster Is this still an issue?

[2016-08-01 03:06] ron666 commented on #1463
@prince2016 Is this still an issue?

[2016-08-01 03:06] ron666 commented on #1456
@mindblender Is this still an issue?

[2016-08-01 03:06] #1455 closed

[2016-08-01 03:07] ron666 commented on #1448
@pkyeck Is this still an issue?

[2016-08-01 03:11] ron666 commented on #1425
@celloexpressions Is this still an issue?

[2016-08-01 03:14] ron666 commented on #1421
@israelidanny Is this still an issue?

[2016-08-01 03:19] ron666 commented on #1408
@yurevich1 Is this still an issue?

[2016-08-01 03:22] ron666 commented on #1404
@chiragvels Is this still an issue?

[2016-08-01 04:51] mindblender commented on #1456
@ron666 I honestly couldn't tell you.  I've moved onto a different project so no longer maintaining this code.

[2016-08-01 06:37] israelidanny commented on #1421
I don't remember to be quite honest, this was more than a year ago, and I might have just ended up using a different solution (not mediaelement), because this issue persisted.

[2016-08-01 09:21] Fuzzyma commented on #1421
When I used it the last time (which was some time ago, too), I had the same issue. Can't tell if it's still there

[2016-08-01 10:27] #1456 closed

[2016-08-01 10:28] #1421 closed

[2016-08-01 10:31] #1708 closed

[2016-08-01 10:32] ron666 commented on #1705
@michaeldeeteer is this still an issue?

[2016-08-01 10:53] ron666 commented on #557
@bborn Is this still an issue?

[2016-08-01 10:54] ron666 commented on #566
@roebuk Closing this one since iOS 5 is deprecated now

[2016-08-01 10:54] #566 closed

[2016-08-01 10:54] ron666 commented on #558
@Spica2  Is this still an issue?

[2016-08-01 10:56] ron666 commented on #714
@hmonglee  Is this still an issue?

[2016-08-01 10:56] #710 closed

[2016-08-01 10:56] #706 closed

[2016-08-01 10:57] ron666 commented on #705
@backflip  Is this still an issue?

[2016-08-01 10:57] ron666 commented on #703
@clwen Is this still an issue?

[2016-08-01 11:01] ron666 commented on #821
@djeglin Is this still an issue?

[2016-08-01 11:01] ron666 commented on #808
@gangr3na Try latest version and let us know if it worked for you

[2016-08-01 11:01] ron666 commented on #805
@gangr3na Is this still an issue?

[2016-08-01 11:02] ron666 commented on #953
@neojski Is this still an issue?

[2016-08-01 11:02] ron666 commented on #798
@raisen Is this still an issue?

[2016-08-01 11:03] #794 closed

[2016-08-01 11:03] ron666 commented on #791
@adrianbj Is this still an issue?

[2016-08-01 11:04] ron666 commented on #787
@nbibler Is this still an issue?

[2016-08-01 11:04] ron666 commented on #786
@

[2016-08-01 11:04] #786 closed

[2016-08-01 11:05] ron666 commented on #782
@hitplay Use the features array described in the documentation

[2016-08-01 11:05] #782 closed

[2016-08-01 11:07] ron666 commented on #776
@Brahmanathaswami Is this still an issue?

[2016-08-01 11:44] Spica2 commented on #558
can not tell. project with that issue is shut down. Issue is 4 years old now.

[2016-08-01 11:50] #558 closed

[2016-08-01 11:54] ron666 commented on #1487
@speron26 Is this still an issue?

[2016-08-01 11:54] ron666 commented on #1484
@jalam1 Is this still an issue?

[2016-08-01 11:55] ron666 commented on #1483
@chrisjchrisj I have a PR (#1780) related to this; please test and let us know if that worked for you

[2016-08-01 11:56] ron666 commented on #1474
@pierrewebmaster You should only call one instance of jQuery. If you can provide a URL to check this I'd appreciate it

[2016-08-01 12:54] ron666 commented on #1395
@kinkoazc This issue has been fixed; closing this issue now

[2016-08-01 12:54] #1395 closed

[2016-08-01 12:55] #1376 closed

[2016-08-01 12:56] ron666 commented on #1372
@TedAvery Is this still an issue?

[2016-08-01 12:57] Ahmed-Ammar commented on #1638
it happen only if the file is on another domain

[2016-08-01 12:57] ron666 commented on #1366
@szepeviktor you can bind events in the success function:
[code]

[2016-08-01 12:59] ron666 commented on #1638
@Ahmed-Ammar Have you checked your CORS? Given that is in a different domain CORS policies will apply. Do you have a URL that we can test?

[2016-08-01 13:01] ron666 commented on #1331
@Draco18s Is this still an issue?

[2016-08-01 13:03] ron666 commented on #1329
@mikaelh94 No it does not currently, maybe as a future enhancement. I'll close this issue but label it as Enhancement to be reviewed in the future

[2016-08-01 13:03] #1329 closed

[2016-08-01 13:04] ron666 commented on #1326
@binarykitchen Is this still an issue?

[2016-08-01 13:05] ron666 commented on #1325
@binarykitchen Event not available on events table. Closing this issue

[2016-08-01 13:05] #1325 closed

[2016-08-01 13:05] ron666 commented on #1328
@binarykitchen No event available. Closing this issue

[2016-08-01 13:05] #1328 closed

[2016-08-01 13:05] ron666 commented on #1322
@LeusMaximus Is this still an issue?

[2016-08-01 13:06] #1314 closed

[2016-08-01 13:06] ron666 commented on #1308
@Zackio Is this still an issue?

[2016-08-01 13:07] #1302 closed

[2016-08-01 13:09] ron666 commented on #1269
@Zero-K Is this still an issue?

[2016-08-01 13:11] Zackio commented on #1308
Hi Ron, thanks for looking at this issue. I haven't looked at this code for a long time so wouldn't be able to say if it works or not that. Bit rushed off my feet atm to look at it for you.

[2016-08-01 13:15] #1190 closed

[2016-08-01 14:36] nbibler commented on #787
Good question... I couldn't say. For most, if not all, current projects we're using VideoJS rather than MediaElement.

[2016-08-01 14:42] ron666 commented on #787
@nbibler Thanks for your response. We'll close this issue and we'll reopen if it raises in the future

[2016-08-01 14:42] #787 closed

[2016-08-01 16:23] Draco18s commented on #1331
Oh jesus christ, this is old. I have no idea. I don't even work for that company any more, much less whatever project it was that we needed it for.

(The example page is still up though)

[2016-08-01 16:39] szepeviktor commented on #1366
Thank you.
Could it be added to http://mediaelementjs.com/ ?

[2016-08-01 16:39] #1366 closed

[2016-08-01 16:41] ron666 commented on #1366
@johndyer Is this something we can add to http://mediaelementjs.com/ ?

[2016-08-01 16:52] kinkoazc commented on #1395
Great! Thank you!

[2016-08-01 19:20] clomads commented on #726
I appreciate you putting the effort into this, but I think the side project I was working on when I posted this fell stagnant due to time constraints. If I remember correctly what I was working on, that is...... maybe I'll dig it up and see what gross code I was writing back then and if I came up with a solution.

[2016-08-01 19:56] Brahmanathaswami commented on #776
I don't know... I abandoned attempts to do this... we defaulted to letting the user just click play icon.  Use case: Galleria slide show top of the WP post with a media elements audio player below... and the music/song would start immediately after the slideshow was loaded... but I could never get it to work. Abandoned for now...there were some older "mature" types on our team who are not into aud

[2016-08-01 20:21] ron666 commented on #776
@Brahmanathaswami thanks for your response. I'll close it for now and if anything happens we can reopen this issue

[2016-08-01 20:21] #776 closed

[2016-08-01 20:22] ron666 commented on #1331
@Draco18s thanks for your response; I'll test that URL and if I can't find the error using the latest package I'll close this issue

[2016-08-01 20:24] ron666 commented on #1308
@Zackio thanks for your response. Let me know your findings and if it's fine close this issue please

[2016-08-01 20:41] raisen commented on #798
@ron666 I'm not using this library at the moment, so I'm not sure if this is still an issue. Sorry about that.

[2016-08-01 20:41] #798 closed

[2016-08-01 20:52] Draco18s commented on #1331
Sure thing! Hope it has been fixed already. :)

[2016-08-01 21:25] binarykitchen commented on #1326
this is a very old ticket ;)

[2016-08-01 21:25] #1326 closed

[2016-08-02 09:56] pkyeck commented on #1448
don't know ... been too long.

[2016-08-02 10:11] #1448 closed

[2016-08-02 12:07] Zero-K commented on #1269
I've actually had to change the way we handled removing objects because of the error. So I really don't know.

[2016-08-02 12:20] #1269 closed

[2016-08-02 12:50] ron666 commented on #1790
@ale-grosselle Closing this since it is now merged on the master branch

[2016-08-02 12:50] #1790 closed

[2016-08-02 12:56] ale-grosselle commented on #1793
Merced, thx

[2016-08-02 12:56] #1793 closed

[2016-08-02 18:58] seb303 commented on #755
I'm note sure actually as we are still running an older version of mediaelement.  It's not something I have time to investigate at the moment, sorry.

[2016-08-02 19:27] ron666 commented on #755
@seb303 Thanks for your response. I'll close this issue and we can reopen if we detect this in the future

[2016-08-02 19:27] #755 closed

[2016-08-02 21:25] GLips commented on #654
I am very interested in finding a way to make this happen for YouTube embeds on iOS. From what I understand about both MediaElement and YouTube's embedding functionality, this isn't technically feasible though. @johndyer, do you know if that's true?

[2016-08-03 22:00] djeglin commented on #821
I'm afraid I don't know. I no longer work on the project which this was an issue on, nor for the company at which I worked on it. I would imagine that the code has moved on some in the almost 3 years since this was an issue, though.

[2016-08-03 22:05] ron666 commented on #821
Thanks for your response. I'll close it and we can reopen if it raises a concern in the future

[2016-08-03 22:05] #821 closed

[2016-08-04 02:35] adrianbj commented on #791
@ron666 - sorry I honestly don't know - I haven't updated the site in question beyond 2.9.1 as everything has been working fine. Have you found the problem yourself with recent versions?

[2016-08-04 03:40] ron666 commented on #791
@adrianbj no I haven't found any issues so far. I'll close this ticket. Thanks for your response

[2016-08-04 03:40] #791 closed

[2016-08-04 04:08] ron666 commented on #1331
@Draco18s I tested http://mediaelementjs.com/ on IE8 and I didn't find that error, so it has been fixed. I'll close this ticket.

[2016-08-04 04:08] #1331 closed

[2016-08-04 04:10] ron666 commented on #586
@moollaza Closing this issue since it is not replicable on Chrome anymore

[2016-08-04 04:10] #586 closed

[2016-08-04 04:12] ron666 commented on #644
@chartley Closing this issue since code has changed a lot and that line doesn't exist anymore

[2016-08-04 04:12] #644 closed

[2016-08-04 04:12] ron666 commented on #666
@michaek Is this still an issue?

[2016-08-04 04:13] ron666 commented on #673
@erlehmann Closing this issue since code has changed. We can always reopen this issue if appears again

[2016-08-04 04:13] #673 closed

[2016-08-04 04:14] ron666 commented on #704
@ika18 Is this still an issue?

[2016-08-04 04:15] ron666 commented on #709
@TeaSeaLancs Closing this issue since this conditional only plays video now, not loads it

[2016-08-04 04:15] #709 closed

[2016-08-04 04:16] #719 closed

[2016-08-04 04:16] ron666 commented on #728
@kanandaraj Is this still an issue?

[2016-08-04 04:17] ron666 commented on #745
@Starkmann Is this still an issue?

[2016-08-04 04:18] ron666 commented on #751
@david-treblig Is this still an issue?

[2016-08-04 04:21] ron666 commented on #770
@hitplay Do you mean using something the setSrc() method like this?
[code]

If so, this is currently supported. Let me know if that works for you

[2016-08-04 04:21] ron666 commented on #756
@seb303 Is this still an issue?

[2016-08-04 04:22] ron666 commented on #816
@dwisel Have you tested the latest version? If so, is this still an issue?

[2016-08-04 04:23] ron666 commented on #796
@apollolux Is this still an issue?

[2016-08-04 04:23] ron666 commented on #716
@thedigitalhawk Is this still an issue?

[2016-08-04 04:24] ron666 commented on #847
@SBoudrias Is this still an issue?

[2016-08-04 04:24] #851 closed

[2016-08-04 04:25] ron666 commented on #874
@dantaylor Closing issue since fix was merged before

[2016-08-04 04:25] #874 closed

[2016-08-04 04:26] ron666 commented on #888
@Pushplaybang Closing this since README.md contains that specifications

[2016-08-04 04:26] #888 closed

[2016-08-04 04:27] ron666 commented on #887
@koenpunt Is this still an issue?

[2016-08-04 04:27] ron666 commented on #900
@lewisnyman Is this still an issue?

[2016-08-04 04:28] ron666 commented on #836
@steros Is this still an issue?

[2016-08-04 04:30] SBoudrias commented on #847
3 year after, I don't know sorry :P

Haven't been working on video for a while.

[2016-08-04 04:31] ron666 commented on #847
@SBoudrias Thanks for the quick response. I'll close this issue and we can reopen it if it appears in the future

[2016-08-04 04:31] #847 closed

[2016-08-04 04:40] #602 closed

[2016-08-04 04:41] #600 closed

[2016-08-04 04:41] #553 closed

[2016-08-04 04:42] #890 closed

[2016-08-04 04:43] #862 closed

[2016-08-04 04:44] ron666 commented on #974
@pascale-jomedia Is this still an issue?

[2016-08-04 04:46] #957 closed

[2016-08-04 04:49] ron666 commented on #1003
@ToBeJazz Have you tried adding the following on your $.each() loop?
[code]

[2016-08-04 04:49] ron666 commented on #999
@FlashJunior Closing this since current version is 2.22.0

[2016-08-04 04:49] #999 closed

[2016-08-04 04:51] ron666 commented on #987
@FlashJunior Is this still an issue?

[2016-08-04 04:51] #1100 closed

[2016-08-04 04:52] #1054 closed

[2016-08-04 04:53] ron666 commented on #1052
@Wellming Is this still an issue?

[2016-08-04 04:56] ron666 commented on #1281
@Bengut Is this still an issue?

[2016-08-04 04:57] ron666 commented on #1387
@lesponce Is this still an issue?

[2016-08-04 05:10] ika18 commented on #704
@ron666 Closed it. Cause it's also very long ago issue.

[2016-08-04 05:10] #704 closed

[2016-08-04 08:38] denytjandra commented on #1673
Yes i am. so i use JW Player  now

[2016-08-04 08:43] lewisnyman commented on #900
Yes I think so, it depends if you want to solve it here or recommend another project. I solved this issue with https://github.com/lewisnyman/posterfill

[2016-08-04 10:15] koenpunt commented on #887
Yes it still is: (**188.28 MiB**)

[code]

Cloning with a depth of, for example, 100 is much more acceptable: (**18.77 MiB**)

[code]

But I still think that mediafiles should not be part of the repo.

[2016-08-04 10:36] steros commented on #836
Sorry currently no idea.
On Aug 4, 2016 06:28, Rafael Miranda <notifications@github.com> wrote:@steros Is this still an issue?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-04 11:08] ron666 commented on #836
@steros thanks for your response. I'll close this and we can reopen this if appears in the future

[2016-08-04 11:08] #836 closed

[2016-08-04 12:55] david-treblig commented on #751
Oh god... I can't even remember on what project I was working at the time. Sorry!

[2016-08-04 12:56] ron666 commented on #751
@david-treblig Thanks for your response. I'll close this ticket and we can always reopen it if it appears in the future.

[2016-08-04 12:56] #751 closed

[2016-08-04 13:22] ron666 commented on #1696
@michaelwdc I'm unable to reproduce this; if you have a URL we can check we'd appreciate it, otherwise, we can close this issue

[2016-08-04 14:19] seb303 commented on #756
Sorry, can't tell you as I'm still running an older version with my modification as described above.  If John fixed the Flash app not to send so many progress events then I guess it's ok now.

[2016-08-04 15:34] michaek commented on #666
@ron666 I'm not sure - it's been some time since I've used this library. Since it's not an issue that's affecting me any longer, do you think I should close it?

[2016-08-04 15:54] Fuzzyma commented on #1490
Yes ofc - the code was never fixed.
Here is a new link:
https://github.com/johndyer/mediaelement/blob/402c35d25666d09a1acd259491b8446f165eb4fb/build/mediaelement-and-player.js#L1312-L1313

I dont know why one would think about encoding `%` - makes no sense to me

[2016-08-04 16:11] #666 closed, assigned to nobody

[2016-08-05 06:00] ron666 commented on #756
@seb303 Thanks for your response. We'll close this ticket and we can reopen it if it appears in the future

[2016-08-05 06:00] #756 closed

[2016-08-05 13:48] alenognjen commented on #1585
Again, sorry for the bad English.
With settings in the files mediaelementplayer.css or mediaelementplayer.mini.css, which I wrote at my work right.
Example:
http://cokoladaforum.com/serije/video/snimci/Originals_S03E11.html

[2016-08-05 14:45] darkhunter32 commented on #1759
i got the same probleme today with some diging i answered myself
you can find it here
[](http://stackoverflow.com/questions/38789310/uncaught-typeerror-this-pluginapi-setsrc-is-not-a-function/38791988#38791988)

[2016-08-05 19:28] floriano12 commented on #1603
Thanks, @ron666

tell me please, how can build a player for iOS ?

you can modify my player ?

Thanks in advance !!

[2016-08-05 22:02] neojski commented on #953
@ron666, I don't actually know. I haven't been using mediaelement for more than 2 years.

[2016-08-05 22:13] ron666 commented on #953
@neojski Thanks for your response. I'll close this issue and we can always reopen it in the future

[2016-08-05 22:13] #953 closed

[2016-08-05 22:16] ron666 commented on #1603
@floriano12 There's nothing to do with iOS; you have to switch to HLS in order to support them.

[2016-08-05 22:16] #1603 closed

[2016-08-06 03:26] ron666 commented on #1490
@Fuzzyma Does this causes wrong width and/or height in your player? I'm not sure if it's meant to be encoded because of the Flash player and they way it processes all its variables. In this link explain some about the nature of this issue: https://www.drupal.org/node/2537318

[2016-08-06 03:29] ron666 commented on #636
@fsquad Is this still an issue?

[2016-08-06 03:29] ron666 commented on #638
@cointel Is this an issue?

[2016-08-06 03:30] ron666 commented on #689
@josh-helpert Is this still an issue, given that code has changed?

[2016-08-06 03:30] ron666 commented on #698
@yang-ling Is this still an issue?

[2016-08-06 03:31] ron666 commented on #702
@jpchatt Is this still an issue?

[2016-08-06 03:31] ron666 commented on #713
@jpchatt Is this still an issue?

[2016-08-06 03:31] ron666 commented on #724
@yang-ling Is this still an issue?

[2016-08-06 03:39] ron666 commented on #759
@thany Is this still an issue?

[2016-08-06 03:39] ron666 commented on #752
@hitplay Is this still an issue?

[2016-08-06 05:28] floriano12 commented on #1603
@ron666 and for HLS, you can show me a player... how can build a player for hls ?

[2016-08-06 12:10] ron666 commented on #1603
@floriano12 Check demo/mediaelementplayer-hls.html. Right now MediaElement can stream HLS. The trick here is how to generate the m3u8 file. My preference is always to use AWS services to do that. Check https://aws.amazon.com/elastictranscoder/ for more information.

[2016-08-06 12:12] ron666 commented on #1729
@johndyer I see that https://github.com/johndyer/mediaelement/tree/dispatch-event-with-this and https://github.com/johndyer/mediaelement/tree/338-double-progress-from-flash-after-setsrc were updated 2 years ago. Is there anything there you consider relevant to be integrated at least on development? Or can they be removed?

[2016-08-06 12:14] ron666 commented on #1754
@howieye I'm sorry but I find it a little difficult to see where is the potential XSS attack; can you explain which specific string and what is the proper way to prevent it, given that I'm not an expert on Actionscript, please?

[2016-08-06 12:18] ron666 commented on #1749
@sonnety Can you provide an example of this issue not working? I've added videos dynamically with the preload="none" in the HTML and it works for me

[2016-08-06 12:18] ron666 commented on #1748
@sonnety Closing this issue since it's a duplicate of #1749

[2016-08-06 12:18] #1748 closed

[2016-08-06 12:19] ron666 commented on #1746
@tongro Can you create a pull request for this?

[2016-08-06 12:20] #1746 closed

[2016-08-06 12:23] ron666 commented on #1744
@MinusPL Is this still an issue? I couldn't reproduce this on Chrome

[2016-08-06 12:32] ron666 commented on #1789
@lucozhao Thanks for reporting this; we'll check how to release the translations in the following releases

[2016-08-06 12:53] ron666 commented on #1785
@marjune163 Thanks for reporting this. Seems like this is leftover code from past development. I'll create a PR to remove it since I confirmed that it doesn't impact anything

[2016-08-06 12:59] ron666 commented on #1771
@mwjigar Check demo/mediaelement-hls.html; the player supports m3u8 files as well. Let us know if you have questions

[2016-08-06 15:07] Fuzzyma commented on #1490
It generates code like this from the first post.
However: I am not aware of all changes made to this lib and cant setup an example so fast.
Maybe I will come back to this later...

[2016-08-07 15:20] ron666 commented on #1585
@alenognjen I created a PR to solve this; you cannot use the minified version since it hasn't been compiled, but you can test it using the src/css/mediaelementplayer.css file directly. Let me know if it worked for you

[2016-08-08 02:57] yang-ling commented on #698
@ron666  I think this issue is resolved. I can play video on the official website.

* OS: Android 6.0; MIUI 7.5
* Model: XiaoMi 5
* Browser: Google Chrome

[2016-08-08 02:57] #698 closed

[2016-08-08 08:25] thany commented on #759
Thanks for the followup :)
Not really an issue anymore, since Opera-from-back-then is effectively dead. If it works in Chrome, it'll work in Opera now.

[2016-08-08 18:35] ron666 commented on #757
@seb303 Closing this one since the fix was merged

[2016-08-08 18:35] #757 closed

[2016-08-08 19:54] ron666 commented on #572
@yahreen Is this still an issue?

[2016-08-08 19:55] ron666 commented on #765
@sandeep-agiru Is this still an issue?

[2016-08-09 12:46] ron666 commented on #512
@tvpmb Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:46] #512 closed

[2016-08-09 12:46] ron666 commented on #555
@alvincrespo Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:46] #555 closed

[2016-08-09 12:47] ron666 commented on #554
@alvincrespo Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:47] #554 closed

[2016-08-09 12:47] ron666 commented on #552
@pudpoh Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:47] #552 closed

[2016-08-09 12:47] ron666 commented on #551
@liuzuolin Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:47] #551 closed

[2016-08-09 12:47] #550 closed

[2016-08-09 12:48] ron666 commented on #548
@peterh-capella Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:48] #548 closed

[2016-08-09 12:48] ron666 commented on #547
@benjamincoleman Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:48] #547 closed

[2016-08-09 12:48] ron666 commented on #524
@mrclay Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:48] #524 closed

[2016-08-09 12:50] ron666 commented on #1393
@brianchance Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:50] #1393 closed

[2016-08-09 12:50] ron666 commented on #1392
@gregfr Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:50] #1392 closed

[2016-08-09 12:50] ron666 commented on #1389
@jarben Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:50] #1389 closed

[2016-08-09 12:50] ron666 commented on #1380
@tn801534 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:50] #1380 closed

[2016-08-09 12:51] ron666 commented on #1379
@alessandrofrancesconi Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:51] #1379 closed

[2016-08-09 12:51] ron666 commented on #1377
@LorenDorez Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:51] #1377 closed

[2016-08-09 12:52] ron666 commented on #1375
@bpampuch Is this still an issue?

[2016-08-09 12:53] ron666 commented on #1374
@ousia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:53] #1374 closed

[2016-08-09 12:53] ron666 commented on #1373
@nirmala-CGI Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:53] #1373 closed

[2016-08-09 12:54] ron666 commented on #1371
@rixth Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:54] #1371 closed

[2016-08-09 12:55] ron666 commented on #1365
@casper Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:55] #1365 closed

[2016-08-09 12:56] ron666 commented on #1364
@os6sense Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:56] #1364 closed

[2016-08-09 12:57] ron666 commented on #1347
@manishtpatel Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:57] #1347 closed

[2016-08-09 12:57] ron666 commented on #1346
@eiabdulsamad Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:57] #1346 closed

[2016-08-09 12:58] ron666 commented on #1344
@jtheisen Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:58] #1344 closed

[2016-08-09 12:58] ron666 commented on #1343
@jeffreyspranza Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:58] #1343 closed

[2016-08-09 12:58] ron666 commented on #1338
@hxdev Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 12:58] #1338 closed

[2016-08-09 13:00] ron666 commented on #1336
@MosheL Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:00] #1336 closed

[2016-08-09 13:00] ron666 commented on #1335
@adrian-gray Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:00] #1335 closed

[2016-08-09 13:00] ron666 commented on #1334
@binarykitchen Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:00] #1334 closed

[2016-08-09 13:01] ron666 commented on #1333
@binarykitchen Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:01] #1333 closed

[2016-08-09 13:01] ron666 commented on #1332
@RonnyO Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:01] #1332 closed

[2016-08-09 13:02] ron666 commented on #1330
@itechtamil Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:02] #1330 closed

[2016-08-09 13:03] ron666 commented on #1281
@Bengut Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:03] #1281 closed

[2016-08-09 13:03] ron666 commented on #1277
@smolleyes Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:03] #1277 closed

[2016-08-09 13:03] ron666 commented on #1276
@rclai Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:03] #1276 closed

[2016-08-09 13:04] ron666 commented on #1266
@magnum79 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:04] #1266 closed

[2016-08-09 13:06] ron666 commented on #1265
@thomasjoyce Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:06] #1265 closed

[2016-08-09 13:06] ron666 commented on #1262
@nfreear Any updates on this?

[2016-08-09 13:06] ron666 commented on #1259
@justanotherguyme Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:06] #1259 closed

[2016-08-09 13:06] ron666 commented on #1258
@thomasjoyce Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:06] #1258 closed

[2016-08-09 13:08] ron666 commented on #1250
@trinzia You can always reference the player like this: ```javascript $('#player')[0].player.pause()```

Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:08] #1250 closed

[2016-08-09 13:08] ron666 commented on #1248
@fungland Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:08] #1248 closed

[2016-08-09 13:08] ron666 commented on #1244
@pxwm Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:08] #1244 closed

[2016-08-09 13:08] ron666 commented on #1241
@

[2016-08-09 13:09] ron666 commented on #1241
@Animalejourbano Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:09] #1241 closed

[2016-08-09 13:09] ron666 commented on #1238
@troygrosfield Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:09] #1238 closed

[2016-08-09 13:10] ron666 commented on #1234
@SeventhFromAdam Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:10] #1234 closed

[2016-08-09 13:10] #1233 closed

[2016-08-09 13:10] ron666 commented on #1232
@ankitbharathan Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:10] #1232 closed

[2016-08-09 13:10] #1228 closed

[2016-08-09 13:10] ron666 commented on #1227
@jay1990 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:10] #1227 closed

[2016-08-09 13:11] ron666 commented on #1223
@rickardliljeberg Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:11] #1223 closed

[2016-08-09 13:11] ron666 commented on #1222
@rickardliljeberg Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:11] #1222 closed

[2016-08-09 13:11] ron666 commented on #1219
@Minami-tori-shima Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:11] #1219 closed

[2016-08-09 13:12] ron666 commented on #1218
@AvniBhatt Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:12] #1218 closed

[2016-08-09 13:12] ron666 commented on #1217
@kuldeep I don't know if by just passing the URL to the src attribute in the video tag is enough. Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:12] #1217 closed

[2016-08-09 13:12] ron666 commented on #1216
@ryanrileysvi Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:12] #1216 closed

[2016-08-09 13:13] ron666 commented on #1182
@callanto Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:13] #1182 closed

[2016-08-09 13:14] #1181 closed

[2016-08-09 13:14] ron666 commented on #1179
@gregfr Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:14] #1179 closed

[2016-08-09 13:14] ron666 commented on #1178
@code-distillery Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:14] #1178 closed

[2016-08-09 13:15] ron666 commented on #1176
@danyj Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:15] #1176 closed

[2016-08-09 13:15] #1173 closed

[2016-08-09 13:15] ron666 commented on #1173
@havran  Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:15] ron666 commented on #1172
@gregfr Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:15] #1172 closed

[2016-08-09 13:16] ron666 commented on #1171
@drakmail Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:16] #1171 closed

[2016-08-09 13:16] ron666 commented on #1170
@xunderworldx Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:16] #1170 closed

[2016-08-09 13:16] #1169 closed

[2016-08-09 13:16] ron666 commented on #1167
@Blueblau Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:16] #1167 closed

[2016-08-09 13:17] ron666 commented on #1166
@rjarteta Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:17] #1166 closed

[2016-08-09 13:17] #1165 closed

[2016-08-09 13:17] ron666 commented on #1164
@gfreeau Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:17] #1164 closed

[2016-08-09 13:18] #1163 closed

[2016-08-09 13:18] ron666 commented on #1162
@lukebaker Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:18] #1162 closed

[2016-08-09 13:18] ron666 commented on #1161
@barellano Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:18] #1161 closed

[2016-08-09 13:19] ron666 commented on #1160
@nscnm87 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:19] #1160 closed

[2016-08-09 13:19] ron666 commented on #1158
@djuric Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:19] #1158 closed

[2016-08-09 13:20] ron666 commented on #1157
@Infoland Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:20] ron666 commented on #1155
@zarcode Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:20] #1155 closed

[2016-08-09 13:20] #1154 closed

[2016-08-09 13:20] ron666 commented on #1151
@peterh-capella Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:20] #1151 closed

[2016-08-09 13:20] ron666 commented on #1150
@wolfgang42 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:20] #1150 closed

[2016-08-09 13:20] ron666 commented on #1148
@Mayank-J Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:20] #1148 closed

[2016-08-09 13:21] ron666 commented on #1102
@trinzia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:21] #1102 closed

[2016-08-09 13:21] ron666 commented on #1101
@rounce Closing this since it was merged a feature related to this in the past

[2016-08-09 13:21] #1101 closed

[2016-08-09 13:22] ron666 commented on #1099
@leonardder Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:22] #1099 closed

[2016-08-09 13:22] ron666 commented on #1098
@anjumraheel Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:22] #1098 closed

[2016-08-09 13:22] ron666 commented on #1096
@YakupIpek Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:22] #1096 closed

[2016-08-09 13:23] #1092 closed

[2016-08-09 13:25] ron666 commented on #1091
@trinzia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:25] #1091 closed

[2016-08-09 13:25] ron666 commented on #1089
@dazzlee Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:25] #1089 closed

[2016-08-09 13:26] ron666 commented on #1088
@roebuk Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:26] #1088 closed

[2016-08-09 13:28] #1086 closed

[2016-08-09 13:28] #1084 closed

[2016-08-09 13:29] #1081 closed

[2016-08-09 13:29] ron666 commented on #1080
@muhammedbasilsk Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:29] #1080 closed

[2016-08-09 13:29] ron666 commented on #1073
@karok Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:29] #1073 closed

[2016-08-09 13:30] ron666 commented on #1072
@jimmytidey Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:30] #1072 closed

[2016-08-09 13:30] ron666 commented on #1069
@lisbakke Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:30] #1069 closed

[2016-08-09 13:30] ron666 commented on #1068
@DavidPrevot Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:30] #1068 closed

[2016-08-09 13:31] ron666 commented on #1792
@ideag Any suggestions for a library that allows this?

[2016-08-09 13:31] ron666 commented on #1772
@khalid11 We'll investigate this and keep you posted

[2016-08-09 13:33] ron666 commented on #1764
@ale-grosselle I think this has to do with the fact that fullscreen needs to be detected when there's user interaction.

[2016-08-09 13:33] ron666 commented on #1738
@andreibaracuda Can you provide a URL so we can check this?

[2016-08-09 13:33] ron666 commented on #518
@canadaduane Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:33] #518 closed

[2016-08-09 13:33] #546 closed

[2016-08-09 13:34] ron666 commented on #557
@bborn Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:34] #557 closed

[2016-08-09 13:34] #561 closed

[2016-08-09 13:34] ron666 commented on #572
@yahreen Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:34] #572 closed

[2016-08-09 13:34] ron666 commented on #573
@benzine Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:34] #573 closed

[2016-08-09 13:35] ron666 commented on #576
@vladikoff Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:35] #576 closed

[2016-08-09 13:35] ron666 commented on #583
@ghost Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:35] #583 closed

[2016-08-09 13:35] ron666 commented on #584
@ritdaw Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:35] #584 closed

[2016-08-09 13:35] ron666 commented on #587
@bartlewis Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:35] #587 closed

[2016-08-09 13:35] ron666 commented on #588
@SteveHiner Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:35] #588 closed

[2016-08-09 13:35] ron666 commented on #590
@ralphlevy Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:35] #590 closed

[2016-08-09 13:36] ron666 commented on #593
@stoph Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:36] #593 closed

[2016-08-09 13:36] ron666 commented on #594
@liuzuolin Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:36] #594 closed

[2016-08-09 13:36] ron666 commented on #648
@programmin1 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:36] #648 closed

[2016-08-09 13:36] #643 closed

[2016-08-09 13:37] ron666 commented on #642
@najamsk Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:37] #642 closed

[2016-08-09 13:37] ron666 commented on #638
@cointel Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:37] #638 closed

[2016-08-09 13:37] ron666 commented on #637
@cointel Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:37] #637 closed

[2016-08-09 13:37] ron666 commented on #636
@fsquad Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:37] #636 closed

[2016-08-09 13:37] #635 closed

[2016-08-09 13:37] ron666 commented on #634
@j1234d2003 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:38] #634 closed

[2016-08-09 13:38] ron666 commented on #631
@ninteddie Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:38] #631 closed

[2016-08-09 13:38] #629 closed

[2016-08-09 13:38] ron666 commented on #622
@nborko Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:38] #622 closed

[2016-08-09 13:38] ron666 commented on #619
@jonathaneckmier Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:38] #619 closed

[2016-08-09 13:38] ron666 commented on #618
@nrako Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:38] #618 closed

[2016-08-09 13:39] ron666 commented on #614
@erwin16 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:39] #614 closed

[2016-08-09 13:39] ron666 commented on #611
@joshspivey Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:39] #611 closed

[2016-08-09 13:40] ron666 commented on #610
@DerProctophantasmist Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:40] #610 closed

[2016-08-09 13:42] ron666 commented on #607
@dennisjose  and @hero2201 You can do it with the following code:
[code]
Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:42] #607 closed

[2016-08-09 13:43] ron666 commented on #606
@lhwparis Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:43] #606 closed

[2016-08-09 13:43] ron666 commented on #599
@CoenWarmer Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:43] #599 closed

[2016-08-09 13:43] ron666 commented on #597
@liuzuolin Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:43] #597 closed

[2016-08-09 13:44] ron666 commented on #596
@proff Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:44] #596 closed

[2016-08-09 13:48] ron666 commented on #716
@thedigitalhawk Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:48] #716 closed

[2016-08-09 13:48] ron666 commented on #714
@hmonglee Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:48] #714 closed

[2016-08-09 13:48] ron666 commented on #713
@jpchatt Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:48] #713 closed

[2016-08-09 13:48] ron666 commented on #712
@wtatters Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:48] #712 closed

[2016-08-09 13:49] ron666 commented on #705
@backflip Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:49] #705 closed

[2016-08-09 13:49] ron666 commented on #702
@jpchatt Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:49] #702 closed

[2016-08-09 13:49] #701 closed, assigned to nobody

[2016-08-09 13:49] ron666 commented on #699
@jpchatt Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:49] #699 closed

[2016-08-09 13:49] #697 closed, assigned to nobody

[2016-08-09 13:49] ron666 commented on #695
@klodeckl Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:49] #695 closed

[2016-08-09 13:49] ron666 commented on #694
@msgilligan Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:49] #694 closed

[2016-08-09 13:50] ron666 commented on #689
@josh-helpert Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:50] #689 closed

[2016-08-09 13:50] #688 closed, assigned to nobody

[2016-08-09 13:50] ron666 commented on #687
@ousia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:50] #687 closed

[2016-08-09 13:51] #683 closed

[2016-08-09 13:51] ron666 commented on #682
@pctj101 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:51] #682 closed

[2016-08-09 13:51] #677 closed

[2016-08-09 13:51] ron666 commented on #674
@clodpated Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:51] #674 closed

[2016-08-09 13:51] #653 closed

[2016-08-09 13:51] #652 closed, assigned to nobody

[2016-08-09 13:52] ron666 commented on #651
@gerritvanaaken Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:52] ron666 commented on #650
@elruinnou Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:52] #650 closed

[2016-08-09 13:55] ron666 commented on #772
@ediebold Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:55] #772 closed

[2016-08-09 13:56] ron666 commented on #771
@elrancid Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:56] #771 closed

[2016-08-09 13:56] #770 closed, assigned to nobody

[2016-08-09 13:56] #767 closed, assigned to nobody

[2016-08-09 13:57] ron666 commented on #766
@vbguyny Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:57] #766 closed

[2016-08-09 13:57] ron666 commented on #765
@sandeep-agiru Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:57] #765 closed

[2016-08-09 13:57] #764 closed

[2016-08-09 13:57] #763 closed

[2016-08-09 13:57] #759 closed

[2016-08-09 13:57] #754 closed

[2016-08-09 13:58] #753 closed

[2016-08-09 13:58] ron666 commented on #752
@hitplay Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:58] #752 closed

[2016-08-09 13:58] ron666 commented on #750
@MaartenW Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:58] #750 closed

[2016-08-09 13:58] #748 closed

[2016-08-09 13:58] ron666 commented on #745
@Starkmann Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:58] #745 closed

[2016-08-09 13:58] ron666 commented on #744
@RawNews Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:58] #744 closed

[2016-08-09 13:59] ron666 commented on #732
@mikesmullin Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:59] #732 closed

[2016-08-09 13:59] ron666 commented on #731
@inuyaksa Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:59] #731 closed

[2016-08-09 13:59] ron666 commented on #729
@rall Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:59] #729 closed

[2016-08-09 13:59] ron666 commented on #728
@kanandaraj Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 13:59] #728 closed

[2016-08-09 14:00] ron666 commented on #726
@clomads Thanks for your response. I found out that it is still an issue and could be useful for others to have this available. Closing issue now

[2016-08-09 14:00] #726 closed

[2016-08-09 14:23] ron666 commented on #724
@yang-ling Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:23] #724 closed

[2016-08-09 14:23] ron666 commented on #720
@rulatir Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:23] #720 closed

[2016-08-09 14:23] ron666 commented on #718
@jaynotani Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:23] #718 closed

[2016-08-09 14:29] ron666 commented on #1586
@che-effe We'll explore this and see how feasible is to be implemented

[2016-08-09 14:32] ron666 commented on #654
@GLips I'm not really aware of this but it's worth exploring it. We'll keep you posted about this.

[2016-08-09 14:33] ron666 commented on #661
@mkra Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:33] #661 closed

[2016-08-09 14:33] ron666 commented on #703
@clwen Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:33] #703 closed

[2016-08-09 14:35] ron666 commented on #774
@lhwparis Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:35] #774 closed

[2016-08-09 14:35] ron666 commented on #777
@YakupIpek Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:35] #777 closed

[2016-08-09 14:35] ron666 commented on #783
@sravanrekandar Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:35] #783 closed

[2016-08-09 14:35] ron666 commented on #785
@hitplay Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:35] #785 closed

[2016-08-09 14:36] ron666 commented on #796
@apollolux Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:36] #796 closed

[2016-08-09 14:36] #797 closed

[2016-08-09 14:36] ron666 commented on #802
@jbdemonte Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:36] #802 closed

[2016-08-09 14:36] #805 closed

[2016-08-09 14:36] ron666 commented on #806
@wtatters Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:36] #806 closed

[2016-08-09 14:36] ron666 commented on #807
@wtatters Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:36] #807 closed

[2016-08-09 14:37] ron666 commented on #808
@gangr3na Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:37] #808 closed

[2016-08-09 14:37] #809 closed

[2016-08-09 14:37] ron666 commented on #810
@gangr3na Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:37] #810 closed

[2016-08-09 14:37] ron666 commented on #816
@dwisel Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:37] #816 closed

[2016-08-09 14:37] ron666 commented on #818
@bzmillerboy Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:37] #818 closed

[2016-08-09 14:37] #822 closed

[2016-08-09 14:38] ron666 commented on #823
@mrEmpty Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:38] #823 closed

[2016-08-09 14:43] #828 closed

[2016-08-09 14:43] ron666 commented on #829
@chriho Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:43] #829 closed

[2016-08-09 14:43] ron666 commented on #831
@peterh-capella Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:43] #831 closed

[2016-08-09 14:44] ron666 commented on #835
@markjaquith Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:44] #835 closed

[2016-08-09 14:44] ron666 commented on #843
@wnolfm Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:44] #843 closed

[2016-08-09 14:44] #844 closed

[2016-08-09 14:44] ron666 commented on #846
@dotcore Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-09 14:44] #846 closed

[2016-08-09 14:44] #852 closed

[2016-08-09 14:58] che-effe commented on #1586
I did in the meantime make a workaround for this by creating a js HLS manifest parser looking through the manifest for the program dates and exposing it through a public property.
`**
     * Populates programDates with an array of strings matching
     * the ISO timestamp pattern
     */
    _dataParse: function(data) {
      this.programDates = [];
      var r = new RegExp(/(\d{4}-\d{2}-\d{2}T\d{

[2016-08-09 14:58] #1586 closed

[2016-08-09 20:17] Blueblau commented on #1167
Just fine...

[2016-08-10 02:58] GLips commented on #654
Thanks @ron666. We did do some more digging on our end and ended up pretty convinced it's not technically feasible. Our workaround solution is to embed raw video from another source, which works just fine.

[2016-08-10 10:49] ron666 commented on #654
@GLips Thanks. Closing this issue now

[2016-08-10 10:49] #654 closed

[2016-08-10 10:51] ron666 commented on #896
@professor99 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:51] #896 closed

[2016-08-10 10:51] ron666 commented on #895
@professor99 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:52] ron666 commented on #894
@professor99 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:52] #894 closed

[2016-08-10 10:52] ron666 commented on #886
@kanedo Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:52] #886 closed

[2016-08-10 10:52] ron666 commented on #880
@hearthis Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:52] #880 closed

[2016-08-10 10:53] ron666 commented on #877
@tarunranka Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:53] #877 closed

[2016-08-10 10:53] #872 closed

[2016-08-10 10:53] #870 closed

[2016-08-10 10:54] ron666 commented on #869
@tomrossi7 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:54] #869 closed

[2016-08-10 10:54] ron666 commented on #866
@jbhorsewriter7 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:54] #866 closed

[2016-08-10 10:54] ron666 commented on #864
@khacoder Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:54] #864 closed

[2016-08-10 10:54] ron666 commented on #863
@tsarma Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:54] #863 closed

[2016-08-10 10:55] ron666 commented on #861
@pctj101 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:55] #861 closed

[2016-08-10 10:55] ron666 commented on #860
@picoben Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:55] #860 closed

[2016-08-10 10:55] ron666 commented on #858
@ThatOneGuyDotNet Closing issue since PR was merged

[2016-08-10 10:55] #858 closed

[2016-08-10 10:55] ron666 commented on #857
@lgm313 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:55] #857 closed

[2016-08-10 10:56] ron666 commented on #856
@malevolence Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:56] #856 closed

[2016-08-10 10:56] ron666 commented on #892
@philippe-jomedia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:56] #892 closed

[2016-08-10 10:57] ron666 commented on #855
@redtopia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:57] #855 closed

[2016-08-10 10:57] ron666 commented on #853
@redtopia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:57] #853 closed

[2016-08-10 10:58] ron666 commented on #815
@anand2sharma Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:58] #815 closed

[2016-08-10 10:58] ron666 commented on #775
@programmin1 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 10:58] #775 closed

[2016-08-10 10:58] #516 closed

[2016-08-10 11:00] ron666 commented on #901
@elo2112 Can you provide a URL to test this?

[2016-08-10 11:00] #902 closed

[2016-08-10 11:00] ron666 commented on #903
@jbhorsewriter7 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:00] #903 closed

[2016-08-10 11:01] ron666 commented on #905
@lewisnyman Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:01] #905 closed

[2016-08-10 11:01] ron666 commented on #906
@pmccauley Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:01] #906 closed

[2016-08-10 11:02] ron666 commented on #908
@uniqname You have to remove all elements from features option, described in documentation.

[2016-08-10 11:02] #908 closed

[2016-08-10 11:02] #909 closed

[2016-08-10 11:03] ron666 commented on #910
@Papipo Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:03] #910 closed

[2016-08-10 11:03] #914 closed

[2016-08-10 11:03] #915 closed

[2016-08-10 11:03] ron666 commented on #916
@yitwail Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:03] #916 closed

[2016-08-10 11:04] ron666 commented on #921
@jc364 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:04] #921 closed

[2016-08-10 11:04] #922 closed

[2016-08-10 11:04] ron666 commented on #926
@dmoath Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:04] #926 closed

[2016-08-10 11:04] ron666 commented on #928
@joeauty Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:04] #928 closed

[2016-08-10 11:05] ron666 commented on #929
@joeauty Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:05] #929 closed

[2016-08-10 11:05] ron666 commented on #931
@ecsmike Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:05] #931 closed

[2016-08-10 11:05] ron666 commented on #933
@rclai Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:05] #933 closed

[2016-08-10 11:05] ron666 commented on #934
@divdax Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:05] #934 closed

[2016-08-10 11:06] ron666 commented on #935
@sumobi Yes that's the right approach

[2016-08-10 11:06] #935 closed

[2016-08-10 11:06] ron666 commented on #936
@sumobi Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 11:06] #936 closed

[2016-08-10 11:06] #938 closed

[2016-08-10 12:45] ron666 commented on #984
@Micka33 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:45] #984 closed

[2016-08-10 12:45] ron666 commented on #983
@carolinmoll Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:45] #983 closed

[2016-08-10 12:45] ron666 commented on #980
@jefferyto Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:45] #980 closed

[2016-08-10 12:45] ron666 commented on #979
@tdx3000 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:45] #979 closed

[2016-08-10 12:46] #978 closed

[2016-08-10 12:46] ron666 commented on #977
@jayarjo Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:46] #977 closed

[2016-08-10 12:46] ron666 commented on #974
@pascale-jomedia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:46] #974 closed

[2016-08-10 12:46] ron666 commented on #972
@chrisdpeters Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:46] #972 closed

[2016-08-10 12:47] ron666 commented on #969
@asherber Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:47] #969 closed

[2016-08-10 12:47] ron666 commented on #968
@scymen Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:47] #968 closed

[2016-08-10 12:47] ron666 commented on #967
@FrankLeinbach Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:47] #967 closed

[2016-08-10 12:47] #965 closed

[2016-08-10 12:48] ron666 commented on #942
@ejlofgren Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:48] #942 closed

[2016-08-10 12:49] ron666 commented on #946
@joaolemos Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:49] #946 closed

[2016-08-10 12:55] ron666 commented on #947
@GaryNiederhelman Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:55] #947 closed

[2016-08-10 12:55] ron666 commented on #948
@simonwebdesign Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:55] #948 closed

[2016-08-10 12:56] ron666 commented on #949
@manik21 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:56] #949 closed

[2016-08-10 12:56] ron666 commented on #950
@vasuvasu Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:56] #950 closed

[2016-08-10 12:56] ron666 commented on #955
@Topbot Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:56] #955 closed

[2016-08-10 12:56] ron666 commented on #959
@genericandy Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:56] #959 closed

[2016-08-10 12:56] ron666 commented on #960
@cedrics Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:56] #960 closed

[2016-08-10 12:57] ron666 commented on #961
@vicsanca Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:57] #961 closed

[2016-08-10 12:57] ron666 commented on #962
@bwaaaaaa Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:57] #962 closed

[2016-08-10 12:57] ron666 commented on #964
@dzucconi Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 12:57] #964 closed

[2016-08-10 13:03] ron666 commented on #985
@FlashJunior Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:03] #985 closed

[2016-08-10 13:03] #986 closed

[2016-08-10 13:04] ron666 commented on #987
@FlashJunior Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:04] #987 closed

[2016-08-10 13:04] #989 closed

[2016-08-10 13:04] ron666 commented on #990
@melinda2011 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:04] #990 closed

[2016-08-10 13:04] ron666 commented on #991
@ptailang Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:04] #991 closed

[2016-08-10 13:04] ron666 commented on #993
@ghost Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:04] #993 closed

[2016-08-10 13:04] ron666 commented on #996
@SteadyEddy Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:04] #996 closed

[2016-08-10 13:05] #997 closed

[2016-08-10 13:05] ron666 commented on #998
@bryanmi Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:05] #998 closed

[2016-08-10 13:05] ron666 commented on #1001
@luciamaestro Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:05] #1001 closed

[2016-08-10 13:05] ron666 commented on #1002
@bauernbengel Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:05] #1002 closed

[2016-08-10 13:05] ron666 commented on #1003
@ToBeJazz Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:05] #1003 closed

[2016-08-10 13:05] ron666 commented on #1004
@jordanbrown Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:05] #1004 closed

[2016-08-10 13:06] ron666 commented on #1006
@Arshak410 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:06] #1006 closed

[2016-08-10 13:06] ron666 commented on #1007
@joshdvx Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:06] #1007 closed

[2016-08-10 13:06] ron666 commented on #1010
@masterbee Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:06] #1010 closed

[2016-08-10 13:06] ron666 commented on #1011
@pwmckenna Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:06] #1011 closed

[2016-08-10 13:06] ron666 commented on #1013
@mkra Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:06] #1013 closed

[2016-08-10 13:06] ron666 commented on #1014
@pwmckenna Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:06] #1014 closed

[2016-08-10 13:06] #1015 closed

[2016-08-10 13:07] #1016 closed

[2016-08-10 13:07] ron666 commented on #1017
@afercia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:07] #1017 closed

[2016-08-10 13:07] ron666 commented on #1019
@b-abdelmajid Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:07] #1019 closed

[2016-08-10 13:08] ron666 commented on #1023
@discern Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:08] #1023 closed

[2016-08-10 13:08] ron666 commented on #1024
@chadwickcole Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:08] #1024 closed

[2016-08-10 13:08] ron666 commented on #1026
@stevel4857 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:08] #1026 closed

[2016-08-10 13:09] #1028 closed

[2016-08-10 13:09] ron666 commented on #1029
@dariusj18 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:09] #1029 closed

[2016-08-10 13:09] ron666 commented on #1032
@nicobrinkkemper Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:09] #1032 closed

[2016-08-10 13:09] #1034 closed

[2016-08-10 13:09] ron666 commented on #1035
@MurugananadhanK Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:09] #1035 closed

[2016-08-10 13:10] ron666 commented on #1039
@leodavesne Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:10] #1039 closed

[2016-08-10 13:10] ron666 commented on #1041
@lolmaus Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:10] #1041 closed

[2016-08-10 13:10] ron666 commented on #1042
@szepeviktor Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:11] ron666 commented on #1043
@sanishan Check the documentation using keyActions element. Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:11] #1043 closed

[2016-08-10 13:11] lolmaus commented on #1041
You close a feature request because it's old? T_T

[2016-08-10 13:12] ron666 commented on #1044
@jibon57 Before instantiating the player you can call a preloader gif in the video area, and then with the success action either continue displaying it, or in the event canplay hide it. Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:12] #1044 closed

[2016-08-10 13:12] ron666 commented on #1046
@hrvoj3e Create a pull request for this. Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:12] #1046 closed

[2016-08-10 13:12] ron666 commented on #1047
@lisbakke Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:12] #1047 closed

[2016-08-10 13:13] ron666 commented on #1048
@karok Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:13] #1048 closed

[2016-08-10 13:13] ron666 commented on #1049
@hyperrjas Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:13] #1049 closed

[2016-08-10 13:15] szepeviktor commented on #1042
I think a global JavaScript is not modern.
Please consider implementing it, it is a copy&paste job.

As of now AMD is not modern :(
It is ES6 module time.

[2016-08-10 13:15] ron666 commented on #1041
@lolmaus We are working on a dev branch currently that will give support at least to OGG. Please take a look if you are interested

[2016-08-10 13:16] ron666 commented on #1042
@szepeviktor Thanks for your comments. We'll look to implement this soon

[2016-08-10 13:17] lolmaus commented on #1041
This particular issue was a request to update the info on the website.

[2016-08-10 13:23] ron666 commented on #1064
@neoswf Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:23] #1064 closed

[2016-08-10 13:23] ron666 commented on #1063
@neoswf Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:23] #1063 closed

[2016-08-10 13:23] ron666 commented on #1059
@damiansmith86 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:23] #1059 closed

[2016-08-10 13:24] ron666 commented on #1057
@druidoff Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:24] #1057 closed

[2016-08-10 13:24] ron666 commented on #1056
@druidoff Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:24] #1056 closed

[2016-08-10 13:24] ron666 commented on #1053
@Wellming Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:24] #1053 closed

[2016-08-10 13:24] ron666 commented on #1052
@Wellming Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:24] #1052 closed

[2016-08-10 13:24] ron666 commented on #1051
@rtessler Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:24] #1051 closed

[2016-08-10 13:26] ron666 commented on #1725
@a4jp-com Can you provide a URL to test this, please?

[2016-08-10 13:27] ron666 commented on #1712
@uglymunky Is this still an issue?

[2016-08-10 13:27] ron666 commented on #1103
@camflint Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:27] #1103 closed

[2016-08-10 13:28] #1104 closed

[2016-08-10 13:28] #1105 closed

[2016-08-10 13:28] ron666 commented on #1107
@diegocst90 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:28] #1107 closed

[2016-08-10 13:28] ron666 commented on #1108
@krish0005 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:28] #1108 closed

[2016-08-10 13:29] ron666 commented on #1109
@bitnol Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:29] #1109 closed

[2016-08-10 13:29] ron666 commented on #1110
@SoftCreatR Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:29] #1110 closed

[2016-08-10 13:30] ron666 commented on #1041
I see. @johndyer Is this something it can be added in the next release?

[2016-08-10 13:31] #1145 closed

[2016-08-10 13:33] ron666 commented on #1142
@akrillo89 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:33] #1142 closed

[2016-08-10 13:33] ron666 commented on #1141
@kumarashishsinha58 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:33] #1141 closed

[2016-08-10 13:33] ron666 commented on #1139
@DveMac Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:33] #1139 closed

[2016-08-10 13:33] ron666 commented on #1137
@sivanraj Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:33] #1137 closed

[2016-08-10 13:33] ron666 commented on #1134
@trinzia Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:33] #1134 closed

[2016-08-10 13:34] ron666 commented on #1132
@jaggeh Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:34] #1132 closed

[2016-08-10 13:34] ron666 commented on #1131
@krishnapriyaMandadi Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:34] #1131 closed

[2016-08-10 13:34] ron666 commented on #1130
@x870381 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:34] #1130 closed

[2016-08-10 13:34] #1124 closed

[2016-08-10 13:34] ron666 commented on #1122
@mtk4 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:34] #1122 closed

[2016-08-10 13:35] ron666 commented on #1118
@FlorianWerndl Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:35] #1118 closed

[2016-08-10 13:35] ron666 commented on #1117
@farneman Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:35] #1117 closed

[2016-08-10 13:35] ron666 commented on #1115
@dexstar Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:35] #1115 closed

[2016-08-10 13:36] ron666 commented on #1114
@dexstar Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:36] #1114 closed

[2016-08-10 13:37] #1112 closed, assigned to nobody

[2016-08-10 13:37] ron666 commented on #1146
@kumarashishsinha58 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:37] #1146 closed

[2016-08-10 13:37] ron666 commented on #1185
@gregfr Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:37] #1185 closed

[2016-08-10 13:39] ron666 commented on #1189
@Manbearpixel Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:39] #1189 closed

[2016-08-10 13:40] ron666 commented on #1192
@knucKles12 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:40] #1192 closed

[2016-08-10 13:40] ron666 commented on #1193
@eroltoker Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:40] #1193 closed

[2016-08-10 13:40] #1197 closed

[2016-08-10 13:40] #1198 closed

[2016-08-10 13:40] ron666 commented on #1200
@canadaduane Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:40] #1200 closed

[2016-08-10 13:40] #1201 closed

[2016-08-10 13:41] ron666 commented on #1202
@sebmasterid Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:41] #1202 closed

[2016-08-10 13:41] ron666 commented on #1203
@dzendzula Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:41] #1203 closed

[2016-08-10 13:41] ron666 commented on #1205
@info2000 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:42] ron666 commented on #1206
@TundraTech Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:42] #1206 closed

[2016-08-10 13:42] ron666 commented on #1291
@chemerisuk Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:42] #1291 closed

[2016-08-10 13:42] ron666 commented on #1297
@xafve Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:42] #1297 closed

[2016-08-10 13:43] #1305 closed

[2016-08-10 13:43] ron666 commented on #1204
@darylhedley Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:43] #1204 closed

[2016-08-10 13:44] ron666 commented on #1207
@faizanqadri Set mode:auto_plugin. Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:44] #1207 closed

[2016-08-10 13:44] ron666 commented on #1208
@hsdk123 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:44] #1208 closed

[2016-08-10 13:44] ron666 commented on #1209
@ghost Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:44] #1209 closed

[2016-08-10 13:45] ron666 commented on #1211
@alexvanniel Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:45] #1211 closed

[2016-08-10 13:45] ron666 commented on #1213
@lubert Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:45] #1213 closed

[2016-08-10 13:46] ron666 commented on #1214
@zumek Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:46] #1214 closed

[2016-08-10 13:46] ron666 commented on #1215
@MoritzGiessmann Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:46] #1215 closed

[2016-08-10 13:47] #1283 closed

[2016-08-10 13:47] ron666 commented on #1285
@quinncomendant Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:47] #1285 closed

[2016-08-10 13:48] ron666 commented on #1286
@mmcglynn Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:48] #1286 closed

[2016-08-10 13:48] ron666 commented on #1289
@slj Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:48] #1289 closed

[2016-08-10 13:49] ron666 commented on #1356
@israelidanny Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:49] #1356 closed

[2016-08-10 13:49] ron666 commented on #1367
@Alex220 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:49] #1367 closed

[2016-08-10 13:49] ron666 commented on #1381
@apsolut Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:49] #1381 closed

[2016-08-10 13:49] #1382 closed, assigned to nobody

[2016-08-10 13:50] ron666 commented on #1387
@lesponce Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:50] #1387 closed

[2016-08-10 13:51] #1397 closed

[2016-08-10 13:51] ron666 commented on #1399
@trongnguyentcec Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:51] #1399 closed

[2016-08-10 13:54] ron666 commented on #1720
@x09 Use this as a reference: http://stackoverflow.com/questions/4911062/pulling-track-info-from-an-audio-stream-using-php/4914538#4914538.

Let us know if it worked

[2016-08-10 13:55] ron666 commented on #1634
@johndyer Any thoughts on this?

[2016-08-10 13:57] ron666 commented on #1578
@r3wt Can you provide a URL to test this, please?

[2016-08-10 13:58] ron666 commented on #1566
@DoHahn Can you describe a scenario when this is happening for you? Is this still an issue?

[2016-08-10 13:59] ron666 commented on #1307
@computerlyrik Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 13:59] #1307 closed

[2016-08-10 14:00] ron666 commented on #1306
@jezreeljay Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:00] #1306 closed

[2016-08-10 14:00] ron666 commented on #1308
@Zackio Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:00] #1308 closed

[2016-08-10 14:00] ron666 commented on #1311
@MoritzGiessmann Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:00] ron666 commented on #1315
@BHEADRICK Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:00] #1315 closed

[2016-08-10 14:01] ron666 commented on #1316
@BHEADRICK Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:01] #1316 closed

[2016-08-10 14:01] #1319 closed

[2016-08-10 14:01] ron666 commented on #1321
@nicolasschabram Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:01] #1321 closed

[2016-08-10 14:02] ron666 commented on #1322
@LeusMaximus Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:02] #1322 closed

[2016-08-10 14:02] #1323 closed

[2016-08-10 14:02] #1324 closed, assigned to nobody

[2016-08-10 14:02] ron666 commented on #1327
@binarykitchen Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:02] #1327 closed

[2016-08-10 14:19] ron666 commented on #1408
@yurevich1 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:19] #1408 closed

[2016-08-10 14:19] ron666 commented on #1463
@prince2016 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 14:19] #1463 closed

[2016-08-10 14:45] ron666 commented on #1685
@ForeverPx can you provide a URL to test this, please?

[2016-08-10 14:45] ron666 commented on #1674
@XiongYX Can you elaborate more on this by providing an example?

[2016-08-10 14:46] #1677 closed

[2016-08-10 14:52] ron666 commented on #1683
@vivekannan Thanks for pointing this. We are preparing a PR to solve this issue

[2016-08-10 14:59] ron666 commented on #1726
@tomchomiak The 3.x-dev branch is now available if you wanna start contributing with the support for 360 videos

[2016-08-10 15:01] ron666 commented on #1728
@Ravi-n Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 15:01] #1728 closed

[2016-08-10 15:02] ron666 commented on #1704
@dazweeja Thanks for pointing this. I'll create a PR integrating this, given that it could be useful for others having an event available at that stage

[2016-08-10 15:15] vivekannan commented on #1683
Actually, its seem that the timeupdate event is assured to be called at least once every 250ms in Chrome and other browsers. In Firefox its even worse (or better), for every frame!!! I am working on an app that uses this player as a base where battery life is important. So I re-wrote the code so that the callback itself is removed after the controls are hidden and reapplied when they are visible.

[2016-08-10 16:05] ron666 commented on #1683
@vivekannan I see. Check the PR linked to this issue and let me know if that works for you

[2016-08-10 17:37] ron666 commented on #1699
@michaeldeeter Thanks for reporting this, can you provide a URL to test this, please?

[2016-08-10 17:38] ron666 commented on #1691
@a4jp-com Change the pauseOtherPlayers options to false and test it. Let us know if that worked for you

[2016-08-10 17:38] ron666 commented on #1686
@ivanteoh Closing this since PR was merged

[2016-08-10 17:38] #1686 closed

[2016-08-10 17:41] ron666 commented on #1679
@hkasera Thanks for the work on this. Just submit a PR so we can review this. Thanks.

[2016-08-10 17:45] ron666 commented on #1710
@navyseal1987 Can you provide a URL to test this? Is this still an issue?

[2016-08-10 17:46] ron666 commented on #1681
@cmcneave Try creating a div with specific dimensions and then use the 'fill' mode on the stretching options from the player.

[2016-08-10 17:49] ron666 commented on #1670
@rekcuFniarB Do you have a URL where we can see this, please?

[2016-08-10 18:18] ron666 commented on #1669
@ghost I have prepared a PR that addressed this issue, please check it

[2016-08-10 18:29] ron666 commented on #1668
@ghost Thanks for finding this. A PR has been requested to fix this issue

[2016-08-10 18:31] ron666 commented on #1667
@ctoesca can you provide a URL to test this please? Is this still an issue?

[2016-08-10 18:36] ron666 commented on #1653
@alijaffar Currently work is being done to support iframe given that the embeds are now deprecated. Please stay tuned for more updates on this. Closing this issue for now. Thanks!

[2016-08-10 18:36] #1653 closed

[2016-08-10 18:36] ron666 commented on #1646
@johndyer Is this something we can add to the main website?

[2016-08-10 18:37] ron666 commented on #1645
@thaguitarist Is this still an issue?

[2016-08-10 18:38] ron666 commented on #1640
@thomasjoyce Is this still an issue?

[2016-08-10 18:44] thaguitarist commented on #1645
Not anymore for me, as I decided to use the player in separate html files instead of using it inside an <iframe>. But unless it was fixed with an update recently, it is still an issue.

[2016-08-10 18:44] thaguitarist commented on #1645
Inside an iframe*

[2016-08-10 18:54] ron666 commented on #1622
This is a good one to be included in 3-x.dev branch

[2016-08-10 18:55] ron666 commented on #1620
@etherElric can you provide a URL to test this, please?

[2016-08-10 18:55] ron666 commented on #1617
@alankarmore Can you provide a URL to test this, please? Is this still an issue?

[2016-08-10 18:56] ron666 commented on #1608
@sonnety Is this still an issue?

[2016-08-10 18:56] ron666 commented on #1606
@andyh4 Is this still an issue?

[2016-08-10 18:57] ron666 commented on #1605
@ollie007 Is this still an issue?

[2016-08-10 18:58] ron666 commented on #1604
@volodymyrl Can you provide a URL to test this, please?

[2016-08-10 18:58] ron666 commented on #1600
@isantolin Is this still an issue?

[2016-08-10 18:59] ron666 commented on #1599
@SeventhCycle Can you test this using the latest version of the package and confirm if this is still an issue, please?

[2016-08-10 19:00] ron666 commented on #1593
@NitroxydeX Is this still an issue?

[2016-08-10 19:01] ron666 commented on #1596
@skazhikadyadya Closing this issue since it passed 2 weeks with no answer. If you experience this using the latest version of package, please reopen this issue. Thanks!

[2016-08-10 19:01] #1596 closed

[2016-08-10 19:04] isantolin commented on #1600
@ron666 still an issue. Tested 1 week ago

[2016-08-10 19:28] uglymunky commented on #1712
I actually haven't used the library in a few months and not sure when I'll be betting back to using it.

[2016-08-10 20:00] NitroxydeX commented on #1593
@ron666 can't check this because all my systems are on Windows 10.

[2016-08-10 20:12] ron666 commented on #1645
@thaguitarist Thanks for your response. We'll close this and we can always reopen it if it appears in the future. Thanks!

[2016-08-10 20:12] #1645 closed

[2016-08-10 20:13] ron666 commented on #1712
@uglymunky Thanks for your response. We'll close this issue and we can always reopen it if it appears in the future. Thanks!

[2016-08-10 20:13] #1712 closed

[2016-08-10 20:14] ron666 commented on #1593
@NitroxydeX Thanks for your response. We'll close this issue and we can always reopen it if it appears in the future. Thanks!

[2016-08-10 20:14] #1593 closed

[2016-08-10 20:15] ron666 commented on #1600
@isantolin Thanks. Can you provide a URL when we can test this, please?

[2016-08-10 20:17] ron666 commented on #1582
@ytrezq Can you test the latest version and check if this is still an issue, please?

[2016-08-10 20:17] ron666 commented on #1579
@thejamespower Is this still an issue?

[2016-08-10 20:18] ron666 commented on #1576
@tesshsu Closing this issue since no answer has been posted in 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 20:18] #1576 closed

[2016-08-10 20:19] ron666 commented on #1567
@ca2s7l Is this still an issue?

[2016-08-10 20:19] ytrezq commented on #1582
@ron666 : because you fixed it ?

I don’t have the time to do it. Not without an example hosted online.

[2016-08-10 20:21] ron666 commented on #1565
@devin87 There's a PR (#1776) that uses hls.js and supports more events in regards of m3u8 files.  Please test it and let us know. For more information about hls.js, please refer to https://github.com/dailymotion/hls.js/blob/master/API.md

[2016-08-10 20:25] ron666 commented on #1582
@ytrezq I could test this through Browserstack using Microsoft Edge, but if you have at least one file you can provide that arose this issue so I can tell you for sure this was fixed, I'd appreciate it.

[2016-08-10 20:26] ron666 commented on #1563
@jdwwright Is this still an issue?

[2016-08-10 20:27] ron666 commented on #1512
@lsvt-casey Closing this issue since fixed was merged already

[2016-08-10 20:27] #1512 closed

[2016-08-10 20:27] ron666 commented on #1468
@zishanj Is this still an issue?

[2016-08-10 20:28] ron666 commented on #1467
@masterhafid Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-08-10 20:28] #1467 closed

[2016-08-10 20:29] ron666 commented on #1416
@biggamejames Is this still an issue?

[2016-08-10 20:48] masterhafid commented on #1467
Sorry im not open github for long. But i like your idea. And im issue in here because im cant use your idea. In a example still work but im open on folder etc or all directory not work. Im try 2 weeks include because not still work. Sory for bad english