[2016-10-26 23:02] SeventhCycle commented on #1905
Forgot to specify: This is happening on the 3.0 dev branch.

[2016-10-27 00:48] ron666 commented on #1904
Or @johndyer what do you think? Is it better if we remove it?

[2016-10-27 10:52] ron666 commented on #1905
Can be fixed with specifications on #1858; starting to work on a PR

[2016-10-27 10:53] ron666 commented on #1858
@albell I'm working on a PR that I'll release soon so you can review it to make sure we don't use setControlSize() anymore since I agree that it's complex and has a lot of issues because of error margin of pixels

[2016-10-27 12:04] FrankDaze commented on #1609
@ron666 I found a bug in mediaelement-and-player.js. If you click in the time bar and change the play position the condition is everytime unequal. I found that out, because I had to add an eventtrigger to this function for media tracking and my events got fired several times.
This is because newTime has more digits after the separator than media.currentTime, which has everytime 6 digits after the

[2016-10-27 16:47] ron666 commented on #1905
@SeventhCycle can you test #1907 and see if that fixes the glitch please?

[2016-10-27 18:21] ron666 commented on #1609
Thanks I'll check this

[2016-10-27 18:32] FrankDaze commented on #1609
meanwhile I found out that .toFix(4) works much better, because on fast pc's it's often unequal at the six digit after the seperator.

[2016-10-27 18:45] ron666 commented on #1609
Can you provide a URL where I can see how that fixes the issue before I integrate it, please?

[2016-10-27 19:33] FrankDaze commented on #1609
http://toggo-elex2.beta.eoa.de/videos/eoa/videokategorie-neu-566.htm?v=d30fc3358057c6ab580afb2153e1d22c#elexdebug

[2016-10-28 00:56] SeventhCycle commented on #1905
http://seventhcycle.net//mejsdev/test/alpha-2.html

Went ahead and redownloaded / rebuilt from 3.0-dev. Still seeing a bar glitch where the progress bar is wider than the length of the video.

Please let me know if I should use a source other than 3.0-dev and if so, where to find the build.

[2016-10-28 00:58] ron666 commented on #1905
@SeventhCycle No you must use the latest PR I created (#1908); otherwise, it's not gonna work

[2016-10-28 00:59] ron666 commented on #1905
Check the last 2 commits on this page https://github.com/johndyer/mediaelement/pull/1908; set them in your branch and recompile

[2016-10-28 10:38] ron666 commented on #1905
@SeventhCycle If you want me to set it up on 3.x-dev branch I could, but if I do that I'd ask you to test in more than FF. At least the major browsers for Desktop, including Chromium, and iOS. Is that something you can assist me with?

[2016-10-28 10:46] ron666 commented on #1609
Fix is in place now in core package. Thanks @FrankDaze

[2016-10-28 11:50] FrankDaze commented on #1609
@ron666
if I change the source after clicking the play button (for Ads) I get in Chrome this error message:

Uncaught (in promise) DOMException: The play() request was interrupted by a new load request.

can you tell me how to avoid this?

[2016-10-28 12:29] ron666 commented on #1609
http://stackoverflow.com/questions/36803176/how-to-prevent-the-play-request-was-interrupted-by-a-call-to-pause-error

[2016-10-28 16:10] FrankDaze commented on #1609
yes, I found this link also, but it's not helping, because it's an other error. This is for play() interrupted by pause(), but my problem is play() interrupted by load, because Chrome is ignoring startAutoPlay: false and preload="none" inside the video tag. So each time the original video is preloaded and at the moment when I change the source for an Ad or another video I get this error message.

[2016-10-28 16:20] ron666 commented on #1609
I'll try to find more info about it but in my experience it hasn't prevented me to continue with the flow. I'll keep you posted about this. Thanks

[2016-10-28 18:16] SeventhCycle commented on #1905
@ron666 Sure. I'm still familiarizing myself with git (still using SVN), so I'm getting used to it.

But if you put it in 3.0-dev, I'll gladly test it in more browsers. I'm on MacOS Sierra, I can test Safari / Firefox / Chrome there. I have Parallels, so whatever IE / Windows configuration you want me to test I can test. I also have iOS / Android devices, so I can test on those too.

If you need m

[2016-10-28 18:42] ron666 commented on #1905
@SeventhCycle Perfect. With IE anything IE9+ should be tested. Also iOS 8+ and Android 4.0+. I really appreciate it. Keep me posted

[2016-10-28 20:20] SeventhCycle commented on #1905
I probably won't be able to touch this until Monday. But to confirm, this is now a part of 3.0-dev, yes?

[2016-10-28 21:00] ron666 commented on #1905
Correct

[2016-10-29 11:47] #1892 closed

[2016-10-31 04:18] ron666 commented on #1902
@MosheL According to the documentation, the video resolution for live videos is max 720p (1280 x 720 or 720 x 1280), 30 frames per second.

So if you set your video tag like this:

[code]

the issue goes away. Currently there's no way in Facebook API to know the original dimensions of a video.

[2016-10-31 09:56] MosheL commented on #1902
You are right when I am knowing what is the size.
but I am not.
maybe it can found by watching the `iframe`s width/height after page load and update the player (or the iframe)  with these items.

[2016-10-31 13:20] ron666 commented on #1902
@MosheL Download the latest version; seems like I got the proper workflow to set the dimensions properly for this situation

[2016-10-31 16:51] #1858 closed

[2016-11-01 10:54] ron666 commented on #1904
@isantolin I updated it with some links that are listed on README so it will always be up-to-date. Closing this issue

[2016-11-01 10:54] #1904 closed

[2016-11-01 10:55] ron666 commented on #1849
@albell for purposes of this issue, you covered what was expected. Can this one be closed?

[2016-11-01 12:57] MosheL commented on #1902
send email with hidden URL. still not working

[2016-11-01 13:11] ron666 commented on #1902
checking it right now

[2016-11-01 14:04] ron666 commented on #1902
@MosheL Ok try again please.

[2016-11-01 14:12] #1902 closed

[2016-11-01 14:12] MosheL commented on #1902
Thanks

[2016-11-01 14:59] albell commented on #1849
Yes, closing now.

[2016-11-01 14:59] #1849 closed

[2016-11-01 17:33] albell opened #1911 "handle focus outlines better"
They're needed for accessibility, but clients generally hate them, and they often get crudely ripped out completely in the last phases of a project. So I think there should be a more intelligent default.

Here's what Youtube does:

1. assume a user is a mouse user
2. have a listener for key presses anywhere in the player, and on a key press add the class 'ytp-keyboard-focus' to the player, which h

[2016-11-01 19:10] ron666 commented on #1911
If you wanna propose a PR is very welcome and I'll be happy to review it. At this point we are trying to freeze the coding so it can be tested and bug fixed as much as possible

[2016-11-02 10:32] FrankDaze commented on #1609
@ron666
I found a new problem. On Win10 IE11 the player is correctly playing the hls videos.
mediaelement-and-player.js  is checking for isNative.

`isNative = media.rendererName.match(/(native|html5)/); `

On Win10 it's filled with native_hls but on Win7 in IE11 it's filled with flash_hls and the player stops working.

In my case I can't use a flash fallback because of the player skinning.

[2016-11-02 10:45] ron666 commented on #1609
Native HLS is supported on Win8 IE11+ and HLS.js bases its support on browsers with MSE otherwise it uses flashls to play it. There's no way around that

[2016-11-02 10:47] ron666 commented on #1609
The only thing that will change is that instead of video tag you will have an object or embed tag; the rest of the layers on the video are the same and shouldn't affect the skinning

[2016-11-02 11:12] FrankDaze commented on #1609
ah ok I understand. I think the problem is my dynamic changing of the source. I'm always awaiting a second video tag and try to change the source there. But in the flash fallback I have an object tag instead.

So I have to check if isFlashfallback and change the object src, instead of the video src if yes.

[2016-11-02 13:37] Pawluczkowycz opened #1912 "Player is not accessible in high contrast mode"
When switching to one of the high contrast settings in Windows the player is not visible, except for current and duration times. The background images used for styling of buttons and background are not utilized in high contrast mode (see below).

Has this issue been considered before?

![highcontrastme](https://cloud.githubusercontent.com/assets/7142610/19930636/bbb51750-a0df-11e6-814d-64a07ba0386

[2016-11-02 14:58] ron666 commented on #1912
No this was never pointed out. Thanks for that. @albell can you check this as a part of your current work with the stylesheet?

[2016-11-02 16:17] FrankDaze commented on #1609
@ron666 can you tell me what I have to do, to change the source of the flash fallback dynamically?

If tried
    media.setSrc("myUrl");
    media.load();
    media.play();

But nothing happens.

[2016-11-02 16:36] ron666 commented on #1609
@FrankDaze If you are out of the success method, you can do something like this:
[code]

Otherwise, inside the success method should work with what you have, but you need to pause the player before setting new source.

[2016-11-02 16:43] albell commented on #1912
From just browsing around quickly now, my understanding is that not rendering background images in HCM is an IE behavior. Edge <a href="https://blogs.windows.com/msedgedev/2016/04/20/building-a-more-accessible-web-platform/#iQoC3V4J7HA5AXWs.97">renders bg images in HCM</a>. @Pawluczkowycz what OS/browser is the screenshot above from?

It looks like there are two common solutions for this issue:

-

[2016-11-02 17:56] Pawluczkowycz commented on #1912
Yes, the pic was from Windows10/IE11, same thing for Windows7/IE10 too. (I've been avoiding Edge because of JAWS screen reader issues.)

As for a workaround, I used a high contrast detection function, checkHC(), from:
https://www.paciellogroup.com/blog/2011/10/detecting-if-images-are-disabled-in-browsers/

And then added CSS outlines around the buttons, player and sliders, and inserted play/pause

[2016-11-02 20:07] FrankDaze commented on #1609
in Win7 IE11 the player is playing fine if I use your URL, but if I use my own video url, it's doing nothing.

After loading the page I see  the unskinned player with a message "invalid source". And if click on play nothing happens anymore.

Perhaps you can see the reason, here is my testlink with Flash fallback enabled.

http://toggo-elex2.beta.eoa.de/videos/eoa/videokategorie-neu-566.htm?v=d30fc

[2016-11-03 00:33] ron666 commented on #1609
When I tested on Browserstack I got this error.

<img width="714" alt="screen shot 2016-11-02 at 8 31 14 pm" src="https://cloud.githubusercontent.com/assets/910829/19952420/77a7c772-a13b-11e6-95d7-93bccf2aa7ae.png">

Seems like the MIME type in the server is not defined or not set properly for starters.

[2016-11-03 06:49] FrankDaze commented on #1609
oh yes you are right. You mean I have to add to my server settings the mime for .M3U8 to
application/x-mpegURL or vnd.apple.mpegURL

That makes sense. Sometimes we run through live with potatoes on the eyes. :)

[2016-11-03 09:17] FrankDaze commented on #1609
@ron666
I'm not able to find the problem.
The player is requesting this URL [http://toggo-hlse-vod.dcp.adaptive.level3.net/Angelo/Shorts/manifest.m3u8?tlm=hls&streams=AN_214.mp4.m3u8:1200&stime=20161103100908&etime=20161103111408&token=07dfe698efe1515b1aad8](http://toggo-hlse-vod.dcp.adaptive.level3.net/Angelo/Shorts/manifest.m3u8?tlm=hls&streams=AN_214.mp4.m3u8:1200&stime=20161103100908&etime=201

[2016-11-03 10:12] ron666 commented on #1609
You must set them on level3.net and once set works for both native and Flash HLS ;)

[2016-11-03 10:37] FrankDaze commented on #1609
@ron666 ah ok... I contacted the support there, to set the mime types. thanks :)

[2016-11-03 10:38] ron666 commented on #1609
You are welcome :)

[2016-11-03 15:52] FrankDaze commented on #1609
@ron666 ok, problem is not the mime type. If I use our player with your test url I get the same mime error, but it's playing the video.

The problems seems to be, that we use HLSE and not a simple HLS stream. The HTML5 version has no problems with the encryption, but the Flash player ends before he gets the encryption key from the footprint server.  We tested the URL http://toggo-hlse-vod.dcp.adap

[2016-11-03 16:07] ron666 commented on #1609
I see. To be honest this might be a better question to post in the flashls project, since I don't 100% the details on how it works under your scenario, and I'd hate to give you the wrong answer. If you can post this in https://github.com/mangui/flashls the author answers fairly quickly. We can start from there

[2016-11-03 21:57] amuelle1 opened #1913 "hideControls() notworking"
The method hideControls() is not working as expected. The reason is a missing not:

if (!t.controlsAreVisible || t.options.alwaysShowControls || t.keyboardAction || !t.media.paused || t.media.ended)

I try to remove the controls after loading page and just to show the playbutton on the video. The controls will only shown after mouseover/play. But media.paused is true at this moment - so controls c

[2016-11-03 23:02] NitroxydeX opened #1914 "setSrc() strange behaviour"
`window.onload = function() {
myaudio = document.getElementById('audio-player');
button = $('.mejs-playpause-button');
i = Math.floor( ( Math.random() * 1000000 ) + 1);
source = 'http://stream.url:PORT;';
  playpause = document.querySelector('.mejs-playpause-button');
  playpause.addEventListener('click', function() {
        if (myaudio.paused) {
                myaudio.setSrc('');

[2016-11-03 23:22] ron666 commented on #1914
Can you provide a URL where you show this issue, please? The only way I knew to stop an audio streaming on html5 is by setting the source empty and then destroying the audio tag

[2016-11-03 23:45] NitroxydeX commented on #1914
You could look here: https://thgfm.de/socialradio/
The stream isn't working on this player, but this doesn't change the fact, that setSrc is not working. I always just cleared it by setSrc(''); and readded the stream later with setSrc. But audio-tag seems to refuse to do this action

[2016-11-04 00:17] ron666 commented on #1914
@NitroxydeX Ok I'll check this and let you know my findings. Thanks

[2016-11-04 02:42] ron666 commented on #1913
@amuelle1 the suggested solution for your case is to use CSS to hide the control bar from the beginning using a class and then removing it when the video can be played or when mouse over event occurs.

**CSS:**
[code]
**Javascript:**
[code]

Let me know if that works for you. We cannot modify the behavior above since that's a standard behavior in many other players

[2016-11-04 04:49] ron666 commented on #1914
@NitroxydeX Can you test the 3.x-dev branch and let me know if that's an issue there?

Use also the following code as a replacement
[code]

Let me know if it worked for you. Thanks

[2016-11-04 09:38] FrankDaze commented on #1609
@ron666 thank, last night I was in contact with "mangui/flashls" and he told me the problem is the crossdomain.xml on the https://srtlkey.secure.footprint.net server. Because the videoplayer is on the website with http protocol and is trying to get the decryption key from a server with https protocol.

Today I changed to crossdomain.xml to a new version with secure parameter set to false and now I

[2016-11-04 10:13] ron666 commented on #1609
Great I'm glad you solved that. I see that you set the width and height from the configuration. Try not to set it at all; only from the video tag and see if that works. I'll investigate this anyways

[2016-11-04 10:15] ron666 commented on #1609
In the video tag set width as 640; height as 360; and then add style="max-width:100%"

[2016-11-04 10:31] ron666 commented on #613
@leighmcculloch and @anthonyeden Please test 3.x-dev branch and try to set setSrc(''); that way it will remove the src attribute and prevent the downloading. See #1914 for more references

[2016-11-04 11:04] cheiser34 commented on #1832
I have an issue replaying an MP3 file on IE9
the player shows up in my UI but won't autoplay. If I click on the play button I get the following error:

SCRIPT16389: Unspecified error.
script block (11), line 49 character 5
which points to:
function __flash__addCallback(instance, name) {
  instance[name] = function () {
    return eval(instance.CallFunction("<invoke name=\""+name+"\" returntype=\"j

[2016-11-04 12:12] raulmellado opened #1916 "Possibility to remove Youtube video title?"
Hello,

is it possible to remove the video title when using a Youtube video?

In this example http://mediaelementjs.com/examples/?name=youtube  it would be the "Come Follow Me" that appears on the top left.

I have tried adding showinfo=0 to the video url, but didn't make any difference :-(

Thanks for your help (and overall, for this great library)

[2016-11-04 12:39] ron666 commented on #1916
@raulmellado Can you test 3.x-dev branch and see if this is an issue there? I tested the YouTube files and I didn't experience it there.

[2016-11-04 12:41] ron666 commented on #1832
@cheiser34 Try to use the latest version and see if that solves your issue. The version you are using is really old now

[2016-11-04 12:55] cheiser34 commented on #1832
will do but if the latest version is expected t solve the issue why does my IE9 also fail when directly testing the audio player example on http://mediaelementjs.com/ page ???
isn't that page supposed to use latest version?

[2016-11-04 13:06] FrankDaze commented on #1609
@ron666 I updated to the latest player version and changed my video width and hight as you told me. But now I have a problem with the rail. It's not scaling properly anymore.

Videosize if fine now.

![railing](https://cloud.githubusercontent.com/assets/22960630/20006431/cb6f6808-a297-11e6-9922-f1a8b1b9d0b2.JPG)

Fullscreen is also making not scaling correctly anymore.

![fullscreen](https://cloud

[2016-11-04 13:28] FrankDaze commented on #1609
It seems the is a bug in the siblings width caculation for the rail, because .mejs-container .mejs-controls .mejs-time has a css witdh: auto ....

If I check the width, it's something about 130 pixels. But the siblings are calculated with a width of 54px .

[2016-11-04 13:35] ron666 commented on #1609
Download the latest version and let me know if it works. There was a fix related to the way the rail is being calculated

[2016-11-04 13:40] FrankDaze commented on #1609
I already downloaded the latest version, that was the problem.

I fixed that now:
    var
    	controlElements = t.controls.children('div'),
	margin = parseFloat(controlElements.children('.mejs-time-total').css('margin-left')),
				// 1px on error margin
	siblingsWidth =  parseFloat(rail.siblings().width()) + margin - 1
	siblings = 0;
	;

	$(rail).siblings().each( function ()
	{
		siblings += pars

[2016-11-04 13:48] ron666 commented on #1832
@cheiser34 I tested this using Browserstack and I didn't see any errors. Make sure you are not using any Quirks

<img width="1074" alt="screen shot 2016-11-04 at 9 47 13 am" src="https://cloud.githubusercontent.com/assets/910829/20007673/c58b6e56-a273-11e6-9d15-15834bc2c9b9.png">

[2016-11-04 13:49] ron666 commented on #1609
Oh I see. I'll integrate that in the core package. Good catch BTW

[2016-11-04 14:10] FrankDaze commented on #1609
ok the final fix from my side will look like this:

// Get number of features siblings to obtain total width to be reduced from time rail
rail.width('100%').width('-=' + siblings);
rail.find('.mejs-time-total').width($(rail).width()-20);

I added the last line to calculate the .mejs-time-total

[2016-11-04 14:12] ron666 commented on #1609
Why minus 20px?

[2016-11-04 14:15] ron666 commented on #1609
Can you try this for me and tell if works?

[code]

[2016-11-04 14:16] FrankDaze commented on #1609
otherwise the .mejs-time-total is layerd by the playtime, so it must be a bit smaller than the rail itself.

[2016-11-04 14:19] ron666 commented on #1609
Sorry, one of the lines is missing something

[code]

should be

[code]

[2016-11-04 14:28] FrankDaze commented on #1609
your code is working fine.

without my -20 the rail looks like this:
![controls](https://cloud.githubusercontent.com/assets/22960630/20008935/bfd317aa-a2a2-11e6-8eb4-28471d5f7034.JPG)

[2016-11-04 14:31] FrankDaze commented on #1609
and without the line it looks like this:

![controls](https://cloud.githubusercontent.com/assets/22960630/20009160/b7b5972c-a2a3-11e6-9302-2fbf34ce80cd.JPG)

[2016-11-04 14:34] cheiser34 commented on #1832
just tested again and I have both browser mode and doc mode set to IE9 and I get the following:

![ie9 error](https://cloud.githubusercontent.com/assets/23258408/20009291/2c3dd91a-a2a4-11e6-85db-1bf11d4b96d4.jpg)

[2016-11-04 14:50] ron666 commented on #1609
Thanks I pushed this into the repo.

[2016-11-04 14:51] ron666 commented on #1832
Which version of Windows are you using? That might have something to do with it

[2016-11-04 14:56] cheiser34 commented on #1832
below are my windows version and IE version details

![ie version](https://cloud.githubusercontent.com/assets/23258408/20010086/27cf5298-a2a7-11e6-8c1b-d17617d6e116.jpg)
![windows version](https://cloud.githubusercontent.com/assets/23258408/20010087/27d0bde0-a2a7-11e6-98d4-e32e306d1af5.jpg)

[2016-11-04 15:22] ron666 commented on #1832
I may need to try on a real computer since I don't see any issues in Browserstack

[2016-11-04 15:32] cheiser34 commented on #1832
do you think flash player version used might explain the issue ?

[2016-11-04 15:37] ron666 commented on #1832
It's possible but I don't know. I haven't worked on IE for a long time. But it's always good to consider it

[2016-11-04 16:16] NitroxydeX commented on #1914
Well it's not working in general now... The 3.x branch is also missing flash and silverlight. Is this correct? Console also said that the code is wrong. Doesn't work like this in jQuery 3 anymore. Changed back to jQuery 2 still not working. Changed the target div-id from #player2 to #audio-player but same result. It doesn't start.

Take a look here: https://thgfm.de/test

[2016-11-04 16:19] FrankDaze commented on #1609
it would be cool if you throw an eye on my testpage: http://toggo-elex2.beta.eoa.de/videos/eoa/videokategorie-neu-566.htm?v=d37e318da49e2a724b0130a31cd6e7f0&VideoDebugMode=1#elexdebug

In the flash fallback I still have the problem that the video size is not fitting the videoplayer. Seems to play the video in it's original size. If I resize the browser window the video size is switching to the cor

[2016-11-04 16:37] NitroxydeX commented on #613
I solved this issue long time ago over here: https://github.com/johndyer/mediaelement/issues/1321#issuecomment-133440115 but atm it's not working like this anymore. Like ron said we are solving this atm in 1914

[2016-11-04 16:41] ron666 commented on #1914
Silverlight is now deprecated. I'll take a look on your code

[2016-11-04 16:52] ron666 commented on #1914
@NitroxydeX I know why it has to do with the src being in the audio tag and not in the source tag. I'm gonna check this but test your code with something like this and it should work

[code]

[2016-11-04 17:08] ron666 commented on #1914
@NitroxydeX Please download the latest version; it has the fix for this situation. Thanks for pointing it out

[2016-11-04 17:09] ron666 commented on #1609
Ok let me check and let you know

[2016-11-04 17:17] NitroxydeX commented on #1914
Yeah, thats working now. We're getting closer to a solution. It removes the Audio src now on "pause" but it seems that it doesn't load with the empty source. If you hit play again it starts playing but not the live feed instead it takes the buffered feed that still got saved and no new src is set.

[2016-11-04 17:22] ron666 commented on #1914
Gotcha checking it right now

[2016-11-05 08:23] SeventhCycle commented on #1905
Sorry for the delay on this.

Using a build from today, when doing grunt html5only, I get this:
Warning: Promise is not defined Use --force to continue.

I'm putting in --force into the batch script, however, this may be something you want to adjust in your build.

Here is a page where I did tests:

http://seventhcycle.net/mejsdev/test/hls.html

Tested on:
Firefox 49: Don't see any resizing issues

[2016-11-05 13:08] ron666 commented on #1905
Thanks for testing this. However, you tested with the simple player and the fix was done with the full player. Use `test/player-full.html` for the sake of this issue please

[2016-11-06 13:16] Kolunchik opened #1918 "Some url`s in 3-dev"
Hello!
Thanks for great software, it`s awesome!
We have problems with some radio in version 3. You can very simply check this, just add this to demo.html

[code]

[2016-11-06 16:43] ron666 commented on #1918
Sure let me check them and I'll keep you posted

[2016-11-07 04:52] ron666 commented on #1914
@NitroxydeX After a lot of research I think I finally figured out. Download the latest version and use this code to stop/resume the streaming:

[code]

Let me know if it works for you

[2016-11-07 04:59] ron666 commented on #1918
@Kolunchik I checked your sources and these are my findings:

First 2 will play properly with the code below. The third one has something else that I haven't figured out since Chrome sends this error: `GET http://pub2.player-radio.ru/svoe/svoe-128.mp3/icecast.audio net::ERR_NAME_NOT_RESOLVED`

[code]
If you give me some hints about what could be the nature of that error I'd appreciate it to assist

[2016-11-07 05:03] ron666 commented on #1916
@raulmellado If you just embed `https://www.youtube.com/embed/Lt6CUH9bVzI` you won't see the title. The URL in that source is using the `enablejsapi` element and other things I'm not familiarized with. But I tested it with the URL I provided and it works

[2016-11-07 06:26] Kolunchik commented on #1918
Thanks for answer.
Maybe this is my linux-only problem. In Firefox and Chrome same behaviour - src for player2 remains unchanged and "No renderer found" in player2-renderename.

![norendererfound](https://cloud.githubusercontent.com/assets/23293196/20048077/4503f34a-a4d3-11e6-9968-45ae3265fe85.png)

[2016-11-07 07:36] alindt opened #1919 "Customize subtitle font/color/size/style from the CC menu"
It would be a really great feature to be able to customize subtitle font/color/size/style from the CC menu in the player. Maybe even saving those custom settings in some cookies, per site?

Youtube example:
![1](https://cloud.githubusercontent.com/assets/1379385/20049659/25231f3e-a4cd-11e6-87c7-e655b8752373.png)

jwplayer example:
![](https://www.jwplayer.com/wp-content/uploads/blog/implementing-f

[2016-11-07 07:54] Kolunchik commented on #1918
Same problem in Chrome on Android 6. How i can help to debug this?

[2016-11-07 07:57] FrankDaze commented on #1609
Hi, have you an idea how to fix my scaling problem?

[2016-11-07 11:11] ron666 commented on #1609
I'll take a look today to the markup and see what's going on. I'll give you an update later

[2016-11-07 11:17] ron666 commented on #1918
Did you copy/pasted the code exactly as I sent it? What I noticed during my testing is that it may say that in the beginning but then it changes; but the command of changing the source must be in the same line as the setting media type command. I tested on Chrome in Mac so I'll try testing this on FF and Chrome on Windows environment to see if I experience other problem but so far the first 2 link

[2016-11-07 11:19] ron666 commented on #1918
Even if it says No renderer found, just hit the play button and see if you can play them. Sometimes it says that because of a sync time issue

[2016-11-07 11:40] ron666 commented on #1609
I tried to test the file in my local environment but I couldn't. One thing that occurred to me is related to #1790 where the RESOLUTION is not specified in the m3u8 file. After a resize the player right now doesn't have a way to bring it back to the original dimensions in Flash. Could you try with another HLS file to see if that happens as well, just to isolate this possibility? I tried others and

[2016-11-07 11:45] ron666 commented on #1609
This is an example I tested on IE11 and looked good to me using Flash HLS:
<img width="873" alt="screen shot 2016-11-07 at 6 44 36 am" src="https://cloud.githubusercontent.com/assets/910829/20056740/b258751a-a4b5-11e6-9ada-c534afc05085.png">

[2016-11-07 11:56] ron666 commented on #1609
Well, you can always trigger a resize event inside the `success` method:

[code]

[2016-11-07 11:57] raulmellado commented on #1916
Hi Rafael,

the test you did was with the 3.x-dev branch, right?

I tried with the latest 2.x using https://www.youtube.com/embed/Lt6CUH9bVzI as video source and the video does not play

Thanks!

[2016-11-07 12:08] ron666 commented on #1916
Yeah in the 3.x-dev branch please, since that's the one I'm actively maintaining and it will be released soon.

[2016-11-07 12:17] raulmellado commented on #1916
Thanks for the super-quick answer Rafael, I'll test on 3.x-dev and update.

Quick question: when you mean "released soon" do you mean it's going to go be ready for production in a short timeframe? Being labeled -dev was holding me back from upgrading to 3.x so far...

Thanks again!

[2016-11-07 12:20] ron666 commented on #1916
Yeah we are working on final details to be in production. Maybe by end of November, but we are trying to release it as soon as possible.

[2016-11-07 12:20] raulmellado commented on #1916
Awesome, thanks!

[2016-11-07 12:20] ron666 commented on #1916
You are welcome

[2016-11-07 13:11] marmite22 commented on #438
I've just fixed this and created a pull request
https://github.com/johndyer/mediaelement/pull/1920

[2016-11-07 13:27] ron666 commented on #1918
Just FYI I tried to access directly the third source and this is what I have now:

<img width="1156" alt="screen shot 2016-11-07 at 8 26 33 am" src="https://cloud.githubusercontent.com/assets/910829/20059372/f81bfe06-a4c3-11e6-83c1-78548666750b.png">

[2016-11-07 13:28] ron666 commented on #1918
The other 2 sources are fine if you just click in the source and hit play

[2016-11-07 13:30] ron666 commented on #1914
If this works as you expected, I'll modify the current `stop` feature to account for this workflow. Thanks for your help on this one and keep me posted. This was truly a tricky one

[2016-11-07 13:31] ron666 commented on #1620
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-11-07 13:31] #1620 closed

[2016-11-07 13:31] ron666 commented on #1739
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-11-07 13:31] #1739 closed

[2016-11-07 13:31] ron666 commented on #1658
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-11-07 13:31] #1658 closed

[2016-11-07 13:52] ron666 commented on #1918
Well glad I could assist you. Can you close this issue please if nothing else needs to be done?

[2016-11-07 14:12] Kolunchik commented on #1918
Done.

[2016-11-07 14:12] #1918 closed

[2016-11-07 15:02] FrankDaze commented on #1609
thanks. meanwhile I'm near a working result. the resize trigger was exact what I needed.

I only get an "invalid state error" when starting an Ad at this point:

    node['set' + capName] = function (value) {
						node[propName] = value;
    };

Line: 1418 in my mediaelement-and-player.js

And in IE11 on Win7 I have problems pressing the big button in the middle. The small play buttons works bett

[2016-11-07 15:12] ron666 commented on #1609
There must be an event or property not defined, when is that error being triggered?

[2016-11-07 15:15] ron666 commented on #1609
I don't know about the buttons. I haven't experienced issues with them

[2016-11-07 15:24] FrankDaze commented on #1609
ok invaled state is fixed. my fault. I had a wrong this._masterPlayer.currentTime = 0; at the point when I tried to play the Ad.

[2016-11-07 15:47] NitroxydeX commented on #1914
difficult to test. every classes have wrong names in the latest release. So instead of 'mejs-container' it's 'mejs__container'. I think this is a fail.

[2016-11-07 15:49] ron666 commented on #1914
no it's a new element in the 3.0 version using BEM naming convention. My bad I merged today and I forgot to update the code above

[2016-11-07 15:50] ron666 commented on #1914
[code]

[2016-11-07 15:50] NitroxydeX commented on #1914
ah well okay. I need to update my whole CSS as well then. will come back if i did this.

[2016-11-07 15:51] ron666 commented on #1914
FYI, I just posted the updated code hope it helps

[2016-11-07 15:53] NitroxydeX commented on #1914
well. clicked on my empty page to hit that play/pause button. it seems that it is working now like it should. will come back again when i redid the css stuff.

[2016-11-07 15:54] ron666 commented on #1914
perfect. Keep me posted. Thanks

[2016-11-07 15:58] FrankDaze commented on #1609
Do you have an idea when is the best time to fire the `$(window).trigger('resize');`
Because it works fine, but not everytime. The Ad intro and the postroll are not everytime resized correctly.
I think it should be played in an event like afterStartPlay or ifLoadisFinished  or something like this.

On a native Win7 IE11 the button problem seems to be no problem. It happend only in emulated mode on

[2016-11-07 16:04] NitroxydeX commented on #1914
Well yeah, it's working now.

Updated your code. Was the wrong order of removing and adding classes and you were missing closing });

[code]

[2016-11-07 16:14] NitroxydeX commented on #1914
but what is this "first" thing for?

[2016-11-07 16:33] ron666 commented on #1914
What first thing?

[2016-11-07 16:36] gitEdMax opened #1922 "VAST example"
Hi,

We are trying to setup Mediaelement as a player of audio- and video streams combined with a pre-roll video ads from external VAST compliant ad servers.

For a start, I wanted to remake the example as available at:
http://mediaelementjs.com/tests/mep-vast.html

The test with the 'remake' is located at:
http://powerfulpresentations.com/streams/testme.html

So far, the poster and video are shown

[2016-11-07 16:52] ron666 commented on #1609
I will give it around 250 to 500 milliseconds to trigger the resize or you can attach the resize with an event such as canplay

[2016-11-07 16:53] ron666 commented on #1914
I'm glad is working for you. Can this ticket be closed?

[2016-11-07 18:04] jrglasgow commented on #1891
[I am currently working on a plugin to add this functionality here](https://github.com/jrglasgow/mediaelement_audio_description)

[2016-11-07 18:14] NitroxydeX commented on #1914
this: 'first = true;' as a variable. you added it but what it does?

[2016-11-07 18:16] ron666 commented on #1914
Oh, that's a typo from old code I was testing. You can safely ignore that and remove it. My apologies

[2016-11-07 18:17] ron666 commented on #1891
@jrglasgow Great. You can create a PR based on `3.x-dev` branch so we can review it

[2016-11-07 18:17] NitroxydeX commented on #1914
Ah well okay ^^
yeah I think it can be closed now because we fixed the problem.

[2016-11-07 18:17] #1914 closed

[2016-11-07 18:17] ron666 commented on #1922
@gitEdMax I'll check this and keep you posted

[2016-11-07 18:18] ron666 commented on #1914
@NitroxydeX Thanks for your help on this one. I'll go and close #613 as well

[2016-11-07 18:19] ron666 commented on #613
Closing this issue since the fix is now in place. Refer to #1914 for the solution

[2016-11-07 18:19] #613 closed

[2016-11-07 21:16] ron666 commented on #1914
@NitroxydeX Just FYI we will revert the change with the BEM naming convention so keep that in mind when you download the latest version of the player.

[2016-11-07 22:21] NitroxydeX commented on #1914
.... well okay :D

[2016-11-07 23:14] ron666 commented on #1922
@gitEdMax First thing I noticed is that there's a malformed XML in your source

<img width="648" alt="screen shot 2016-11-07 at 6 13 45 pm" src="https://cloud.githubusercontent.com/assets/910829/20080113/0237c972-a516-11e6-8e86-9e792d51351c.png">

Fix that so I can continue checking, please

[2016-11-08 08:47] gitEdMax commented on #1922
Thanks very much Rafael,

That part is running OK now!

Also with the audio as follow up (powerfulpresentations.com/streams/testme3.html)

Next step is to test with an external  ‘commercial’ VAST tag.

That file should be visible at:

powerfulpresentations.com/streams/testme2.html

Do you see what’s wrong here?

Thanks,

Ed

Van: Rafael Miranda [mailto:notifications@github.com]
Verzonden: dinsdag

[2016-11-08 09:03] debasispanda opened #1923 "target origin does not match with recipient window's origin"
![image](https://cloud.githubusercontent.com/assets/8438038/20091486/06edbeec-a5b9-11e6-8c92-49b2a39a5d44.png)

`Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('http://mediaelementjs.com').`

i am using mediaelement player and got the same error. So just posting here if you people give some soluti

[2016-11-08 09:11] someonetookmyname opened #1924 "Is this expected behavior for setcurrenttime()/play()?"
Hi,

I am using 2.23.2.

If I first create a player wrapping some audio:

[code]

And imagine I would like to start the audio at an offset:

[code]

Under that usage setCurrentTime(10.0) fails and playback starts from 0.0.  Results are the same for Ubuntu and iOS.

However, if I instead directly address the underlying audio (after creating the player):

[code]

.. then playback starts as desired a

[2016-11-08 09:19] FrankDaze commented on #1609
I'm near to a working result. One last problem in flash fallback is, that I don't see a loading indicator while loading. I click on play and it seems that nothing happens. It's not the same behavior like in the HTML5 player

[2016-11-08 11:14] ron666 commented on #1609
I'll check that and let you know my findings

[2016-11-08 11:28] ron666 commented on #1923
@debasispanda Seems like there is an issue related HTTP and HTTPS and asynchronous requests; it seems intermittent and doesn't affect the player at all (https://help.clipchamp.com/hc/en-us/articles/216329537--API-How-do-I-fix-the-Failed-to-execute-postMessage-on-DOMWindow-error-)

[2016-11-08 11:31] ron666 commented on #1922
@gitEdMax So `powerfulpresentations.com/streams/testme3.html` seems to work, but `powerfulpresentations.com/streams/testme2.html` doesn't correct?

[2016-11-08 11:42] ron666 commented on #1924
@someonetookmyname The `player` instantiates the whole MediaElement wrapper and setCurrentTime is a function only related to the tag itself. Have tried with `player.media.setCurrentTime`?

[2016-11-08 11:52] ron666 commented on #1922
In http://powerfulpresentations.com/streams/testme2.html I see this error:

<img width="670" alt="screen shot 2016-11-08 at 6 45 04 am" src="https://cloud.githubusercontent.com/assets/910829/20097928/ffcee3be-a57e-11e6-8696-92c716e8ab6d.png">

using this config:

[code]
 but in http://powerfulpresentations.com/streams/testme3.html I don't see the error:

<img width="783" alt="screen shot 2016-11-0

[2016-11-08 12:29] someonetookmyname commented on #1924
Thank you for the quick reply.
`player.media.setCurrentTime` seems to work as desired so far!  (but `player.setCurrentTime` also works fine except for `setCurrentTime` only before the first `play()` (?))
Does a document/description exist for best practices of these handlings? I never saw documentation anywhere with your suggestion to use media.setCurrentTime.  That is, which calls should go throug

[2016-11-08 12:33] gitEdMax commented on #1922
That’s correct.

From: Rafael Miranda
Sent: Tuesday, November 8, 2016 12:31 PM
To: johndyer/mediaelement
Cc: Ed ; Mention
Subject: Re: [johndyer/mediaelement] VAST example (#1922)

@gitEdMax So powerfulpresentations.com/streams/testme3.html seems to work, but powerfulpresentations.com/streams/testme2.html doesn't correct?

—
You are receiving this because you were mentioned.
Reply to this email di

[2016-11-08 12:35] someonetookmyname commented on #1924
Actually, I was mistaken .. your suggestion does not work.

[2016-11-08 12:39] ron666 commented on #1924
I'll check this and also make sure that there's documentation about it

[2016-11-08 12:40] ron666 commented on #1924
For now my focus is on 3.x-dev branch so any fixes will go to that branch given that we will release it soon

[2016-11-08 12:44] someonetookmyname commented on #1924
Ok .. thanks very much for looking into it.  I'm happy to work with the 3.x-dev branch.  Please let me know if I can be of any help.  Thanks again, Andrew

[2016-11-08 12:45] ron666 commented on #1922
Seems that XML are different and that's why the plugin can't find the source to be played

[2016-11-08 12:47] ron666 commented on #1924
Of course If you test your issue I'm that branch and a test in general just to make sure we're solid I will appreciate it

[2016-11-08 12:49] someonetookmyname commented on #1924
Absolutely .. I will put that together and test against the current 3.x-dev and let you know soon ... thanks.

[2016-11-08 14:07] someonetookmyname commented on #1924
Hi,

I just made a discovery .. calling player.media.play() seems to be what determines if things work as expected (see below) .. though, that makes me more confused as to when I'm supposed to use the main wrapper functions etc.

Please shout if any questions about the example or if I can provide further help.

Thanks,

Andrew

Attached is an example .. it behaves the same against 2.23.2 and 3.x-d

[2016-11-08 14:15] ron666 commented on #1924
@someonetookmyname I'll check this right now

[2016-11-08 14:28] ron666 commented on #1924
@someonetookmyname I know why. `play` using `player` has a call to `load()` method. So it will load it first, so that causes to override the expected behavior. If you are using 3.x-dev branch, check mediaelement-and-player.js and comment line 1521. Let me know if that solves it so I can incorporate a fix in the core package.

[2016-11-08 14:47] someonetookmyname commented on #1924
Hi, Thanks for taking a look .. can you give a few lines of context? .. I just downloaded a fresh mediaelement-3-2.x-dev/, but line 1521 in build/mediaelement-and-player.js doesn't seem like what you are mentioning (unless I'm looking in the wrong file?)

Thanks, Andrew

[2016-11-08 15:21] gitEdMax commented on #1922
May I ask what tool you use to read the error messages?

Van: Rafael Miranda [mailto:notifications@github.com]
Verzonden: dinsdag 8 november 2016 13:46
Aan: johndyer/mediaelement
CC: Ed; Mention
Onderwerp: Re: [johndyer/mediaelement] VAST example (#1922)

Seems that XML are different and that's why the plugin can't find the source to be played

—
You are receiving this because you were mentioned.

[2016-11-08 15:22] ron666 commented on #1924
My apologies. Line 7369

[2016-11-08 15:23] ron666 commented on #1922
@gitEdMax  I use Chrome Dev Tools

[2016-11-08 15:37] isantolin opened #1925 "Speed Control"
A lot of Video Players already implemented Speed control

http://videosws.praegnanz.de/

[2016-11-08 16:21] someonetookmyname commented on #1924
Hi,
Thanks for clarifying.  Yes, that change resolves everything (assuming that what I'm hoping to see if the correct/preferred behavior ... smile).  So the most robust way to do what I'm trying to do is via player.setCurrentTime and player.play .. is that right?
Thanks for your help.
Best,
Andrew

[2016-11-08 16:27] ron666 commented on #1924
Exactly. I'll put the fix once I do more testing to make sure it won't affect anything

[2016-11-08 16:31] someonetookmyname commented on #1924
Awesome .. thanks.

[2016-11-08 17:39] ron666 commented on #1922
If there's nothing else you need on my side can you close this ticket please?

[2016-11-08 17:39] ron666 commented on #1922
If there's nothing else you need on my side can you close this ticket please?

[2016-11-08 17:40] #1923 closed

[2016-11-08 17:40] ron666 commented on #1913
If there's nothing else to add to this issue can you close it please?

[2016-11-08 17:42] ron666 commented on #1924
Can you do me a favor and test on iPhone please? I can't test it right now but if you can help me with that and in an iPad I'd appreciate it

[2016-11-08 17:42] ron666 commented on #1924
I haven't put the fix yet but if you can use your files to test it would be great

[2016-11-08 18:36] ron666 commented on #1925
@isantolin There's already a speed feature for MediaElementJS. Please confirm

[2016-11-08 18:57] someonetookmyname commented on #1924
Hi,
Unfortunately I only have an iPad mini for an iOS device and I only use it to confirm functionality (I don't use it for general development) .. so I'm not even sure how to (or if I can) load the local test case onto the iPad (I was surprised this didn't seem trivial to do).  However, when I swap the latest/tweaked mediaplayer (and when I use player.setCurrentTime and player.play) into the orig

[2016-11-08 19:05] someonetookmyname commented on #1924
I just had 1 test out of ~25 start from 0 instead of the offset .. it was on OS X Desktop.  Not sure how much to worry about that.

[2016-11-08 19:15] ron666 commented on #1924
I'm not sure I understand the last comment, but to give you some context of the nature of the piece of code added as a part of the play method that is messing with setCurrentTime: in 2013 a PR was submitted since they stated that there were issues with iPad when playing the video only; so to ensure that it will play properly, the added the load() method inside the play. I haven't seen this as an i

[2016-11-08 19:16] ron666 commented on #1924
I had an emulator and I tested your example on it and everything went fine BTW

[2016-11-08 19:17] ron666 commented on #1924
If you wanna do one last test, just hit the play button, and try to test including a video and audio on the same page. And then try to set the current time for both to 25. If you don't see any issues I think it's safe to say that solves the issue

[2016-11-08 20:04] someonetookmyname commented on #1924
Hi,

My last comment simply meant that I did ~25 tests trying to get some audio to start-for-the-first-time at sec 15 or so .. 24/25 of those tests worked great and started at 15 .. 1/25 started at 0.

That's great news about the emulator.

I'm certainly no expert on web audio/video .. in fact, I don't envy your job at all .. I'm amazed how finicky it is (and how stable your player has made it) ..

[2016-11-08 20:30] ron666 commented on #1924
OK I'll push in a minute the fix so you can test this; I'll do it in such a way that if the current time is 0 before playing I'd allow the loading; otherwise, only the play. I'll let you know when it's updated

[2016-11-08 20:38] ron666 commented on #1924
OK it's ready. Download the latest version so you can test, please

[2016-11-09 03:30] ron666 commented on #1609
@FrankDaze I think the only thing you can do is to call `media.load()` inside the `success` method to display that loading behavior. HTML5 has itself a very different way to handle things than Flash, but I'd give it a try doing that. Let me know if it worked for you

[2016-11-09 09:43] amuelle1 commented on #1913
There is an option "hideVideoControlsOnLoad" - but this can't work because of the problem described above. Soif you say you can't modify the behavior, you should also remove the option - or bring ist to work :-)  I think it should be possible to enable this behavior because this is an often asked feature, with was adressed by the not working option.

[2016-11-09 11:25] ron666 commented on #1913
@amuelle1 Thanks for pointing this. I forgot about the option. I'll make that work but just FYI I'm only working on the 3.x-dev branch given that it will be released soon. So that's where I'll fix this

[2016-11-09 11:54] isantolin opened #1927 "Test Question"
@ron666
https://github.com/johndyer/mediaelement/blob/3.x-dev/test/test.html

Is up-to-date with all renderers and plugins to do a full test today at night?

[2016-11-09 13:21] ron666 commented on #1927
@isantolin The most complete one is the `test/player-full.html` file

[2016-11-09 13:31] someonetookmyname commented on #1924
Hi,
I was able to do some video and audio testing, starting at both 0 and ~25.  Has worked perfectly!
Thanks for all the help.  When do you expect to release version 3?

[2016-11-09 13:33] ron666 commented on #1924
We are currently working on getting a new website and I'm fixing minor things. We hope by the end of November but we'll try to release it as soon as possible.

[2016-11-09 13:39] ron666 commented on #1924
If nothing else I need to do, can you close this ticket, please?

[2016-11-09 13:39] ron666 commented on #1913
OK Download the latest version and use the `hideVideoControlsOnLoad `. It should be working as expected now

[2016-11-09 13:40] someonetookmyname commented on #1924
Great .. thanks.
Yes .. sorry .. didn't realize I was supposed to close it .. done.

[2016-11-09 13:40] #1924 closed

[2016-11-09 13:44] ron666 commented on #1925
@isantolin Yes is there. `mediaelementplayer-feature-speed.js`. It only works for native HTML5

[2016-11-09 13:44] #1925 closed

[2016-11-09 14:01] ron666 commented on #1903
@isantolin The file is ready but I still see that the package needs to fix more things. So I won't incorporate it into the grunt tasks and neither mention it in the documentation until it solves some major things.

[2016-11-09 14:01] #1903 closed

[2016-11-09 18:42] ron666 commented on #280
@Fab1en To give you an update this seems to be fixed on `3.x-dev` branch. Please test http://vodflash.tv5monde.com/focus/legendes/4fils.mp4#t=240 with that branch and let me know if it works for you. Thanks.

[2016-11-09 18:44] ron666 commented on #1927
@isantolin Please post your results in this ticket so I can assess the results. In terms of IE just test IE9+; we are dropping support for IE8 and older browsers. Thanks

[2016-11-09 18:50] ron666 commented on #280
@Fab1en You can use `test/player-full.html` to test this

[2016-11-10 08:34] FrankDaze commented on #1609
@ron666 that wasn't helping. I handle it now by myself, with showing and hiding the BigPlay and loading DIV.

Another big problem in the HTML5 version is, that the videos in fullscreen mode are not fullscreen. They still have their original size and don't resize to full. Same problem as with the player before, if the video itself has no size settings. My resize trigger seems to show no effect in f

[2016-11-10 08:49] MosheL commented on #1609
I also see the  fullscreen problem. when I manualy (from F12) changed the width/height of the video element to 100%, it works.
maybe use an ugly timeout to fix it?

[2016-11-10 09:31] FrankDaze commented on #1609
I my version on the live server isn't that problem. Seems it came with one of the last updates.

[2016-11-10 10:12] FrankDaze commented on #1609
I see the problem is, that the fullscreen size is set to the originalNode video tag, but to to the one with the mediasource. But this one is the one that is displayed.

[2016-11-10 10:23] FrankDaze commented on #1609
I fixed that with this: In the "enterFullscreen" function ->

    if (isNative) {

				t.$media
				.width(screen.width)
				.height(screen.height);
				t.media.setSize(screen.width, screen.height);

I added that t.media.setSize and now I have always full screen video in native mode.

[2016-11-10 10:26] FrankDaze commented on #1609
in the flash fallback I got an error in around line 1109:

    if (mediaElement.renderer !== undefined && mediaElement.renderer !== null) {
	return mediaElement.renderer[methodName](arguments);

the object is not supporting the property or method "stop"

[2016-11-10 11:34] ron666 commented on #1609
@FrankDaze Thanks for pointing these things. I'll check them and integrate the necessary fixes today.

[2016-11-10 11:38] ron666 opened #1928 "Dimensions when exiting fullscreen changed in Flash"
@ale-grosselle Some time ago, you fixed an issue related to the resolution of HLS videos but in the 3.x-dev branch, the change was not migrated. Can you assist me on bringing the fix back? I noticed that when you have a video with different aspect ratio than 16:9 in the beginning the video looks fine, but once you enter fullscreen and exit it, the video is set with different dimensions. Any help w

[2016-11-10 12:08] ron666 commented on #1609
@FrankDaze I tried to reproduce the error stop on IE11 but I'm getting an error from the Ads
<img width="882" alt="screen shot 2016-11-10 at 7 08 21 am" src="https://cloud.githubusercontent.com/assets/910829/20176168/8259797a-a714-11e6-87fe-ead47625e1b0.png">

[2016-11-10 15:03] FrankDaze commented on #1609
yes, that another problem at the moment. The Ads generate a lot of errors which seems to have effect on the player.

Meanwhile I'm in contact with the Ad distributor to make shure this erros will be fixed and have no longer affect on the player. Most Ad errors seem to be also CORS header problems. I think the video Ad is requesting banner Ads which a blocked by missing CORS headers.

If fixed the

[2016-11-10 16:42] ron666 commented on #1609
Ok I'll bring the 2 changes in the code package and let you know when you can test them. Thanks for your help

[2016-11-10 17:28] ron666 commented on #1609
@FrankDaze your changes have been merged into the core packages. Thanks

[2016-11-10 18:00] ale-grosselle commented on #1928
Surely Yes, Tomorrow i Will check and i Will prepare a PR for 3x dev branch

Il 10/nov/2016 12:38, "Rafael Miranda" <notifications@github.com> ha
scritto:

[2016-11-10 18:01] ron666 commented on #1928
Thank you so much

[2016-11-10 20:13] ron666 commented on #1928
Just FYI this is an issue that not only affects HLS but the video in general rendered through Flash

[2016-11-11 20:06] Wolfcast opened #1929 "If you specify a poster that ends up being a 404 the player doesn't load"
If I use `player="something-404.jpg"` in a `video` tag the tag becomes a black box with no controls. If I remove `player="something-404.jpg"` or specifiy a non 404 image everything works as expected.

Testing with 2.23.4 with Firefox 49.

[2016-11-11 20:49] Wolfcast commented on #1324
I still see the message in the console with cureent version but all seems to work... Not sure why we see this.

[2016-11-11 21:38] ron666 commented on #1324
Use the 3.x-dev version. That has been fixed there

[2016-11-11 22:14] ale-grosselle commented on #1928
Sorry Rafael,
but I dont understand how compile flash.
Where is the file src/flash/FlashMediaElement.as?

I try to compile using grunt command.

2016-11-10 21:13 GMT+01:00 Rafael Miranda <notifications@github.com>:

[2016-11-12 00:53] ron666 commented on #1928
There's no single file anymore. Each type of file was divided so if you run `sh compile_swf.sh` it will be easier for you

[2016-11-12 00:58] ron666 commented on #1928
If you can fix this issue on one of them we can port it to the other 2 types of video files

[2016-11-12 00:59] ron666 commented on #1929
Thanks for pointing this. Can you test this on the 3.x-dev branch and let me know if that's an issue there? I'm currently maintaining that branch and it will be released soon so any fixes will go to that branch

[2016-11-12 06:22] ron666 commented on #1913
Any updates on this?

[2016-11-12 06:23] ron666 commented on #1922
We'll close this issue since no more on our end is required. We can always reopen it if it is needed.Thanks!

[2016-11-12 06:23] #1922 closed

[2016-11-12 06:25] ron666 commented on #1929
I tested on the 3.x-dev branch and on my side works correctly. I'll wait for your response in the next couple of days; otherwise, we will close this issue and it can always be reopened. Thanks

[2016-11-12 13:30] ron666 commented on #1928
Use the compile file for testing only don't submit a PR with changes on the build folder please. Thanks for your help

[2016-11-12 16:12] ale-grosselle commented on #1928
Hi rafael,
I think to have found the problem.

Now, each type of element, HLS, dash etc, on fire_setSize method, it never
execute code present in repositionVideo (
https://github.com/johndyer/mediaelement/blob/master/src/flash/FlashMediaElement.as
)
which was responsible of setting the size and position.

Now, I try to add the portion of the code of repositionVideo for HSL element

2016-11-12 14:3

[2016-11-12 16:34] ron666 commented on #1928
Probably, but I tested 2.23.4 version that has your fix for this, but when I go fullscreen with http://thronqa-view.thron.com/api/xpublisher/resources/weebopublisher/getContentDescriptor.m3u8?clientId=thronqa&contentId=9f63b7df-6060-45ec-87b2-26407463ddb8&channelType=STREAMHTTPIOSHD&v=10 and then exit the dimensions are not correct.

That's also something I need your help with given that I'm not a

[2016-11-12 16:34] ron666 commented on #1905
Any updates on this?

[2016-11-12 16:48] ale-grosselle commented on #1928
PR:
#1930

[2016-11-12 17:18] ale-grosselle commented on #1928
I don't understant why, but if send a PR always see only one modified line.

But as you can see, I changed fire_setSize (line 155), line 61 and line 368

https://github.com/ale-grosselle/mediaelement/blob/3.x-dev/src/flash/flash-video-hls/HlsMediaElement.as

[2016-11-12 18:32] ale-grosselle commented on #1928
The pr problem, it could be an indent problem.
Now i am not in front of pc, but then i Will check

[2016-11-12 18:53] isantolin opened #1931 "`webm` support on IE and unsopported browsers"
@ron666 I found a library to support Webm formats on unsopported browsers (IE 8, Safari, Opera, iOS) and works Well!!!!

http://libwebpjs.hohenlimburg.org/vp8/webm-javascript-decoder/

[2016-11-12 19:25] ron666 commented on #1928
Thanks I appreciate it

[2016-11-12 19:27] ron666 commented on #1931
I'll check this. Thanks for pointing this

[2016-11-12 20:46] isantolin opened #1932 "Test over 47fcfba commit"
@ron666 i found some errors on flash_mdash support and other minor issues

# (Common Errors)
- Soundcloud: Audio no longer valid
[code]
- Youtube:
[code]
# Chrome / Firefox
- No errors or Warnings

# Edge
- Dailymotion:
```Warning: Calling `play` method right after `apiready` is not recommended.
Are you sure you don't want to use the `autoplay` parameter instead?
See: https://developer.dailymotion

[2016-11-12 21:10] #1927 closed

[2016-11-13 01:17] ale-grosselle commented on #1928
PR: #1934

[2016-11-13 02:43] ron666 commented on #1932
Thanks I'll check the Soundcloud and the Flash missing method; at this point other than those 2 all looks good in the end.

[2016-11-14 05:00] ron666 commented on #1928
@ale-grosselle Thank you very much for fixing this issue. Closing this issue since merged into 3.x-dev branch now

[2016-11-14 05:00] #1928 closed

[2016-11-14 05:20] ron666 commented on #1932
@isantolin UPDATE: I fixed most of the issues. The warning is something related to Dailymotion's API, and if the browsers doesn't have Flash there' nothing we can do about it. I'm currently researching the Flash M-DASH issue. I'll keep you posted with more information about this one. Thanks

[2016-11-14 07:52] FrankDaze commented on #1609
@ron666 it could be that there is bug in the youtube detection.

sometimes we have an Ad call like this:
http://cdn.flashtalking.com/65328/ArcoTruck_Youtube_Annotations_simple_640x360_IP_mob_hq.mp4

But this server has not the correct CORS settings for our referrer. Instead of throwing an catchable error and skipping to the main video I have the phenomenon that it try's to call this URL instead an

[2016-11-14 11:53] ron666 commented on #1609
@FrankDaze Indeed it will try to use YouTube renderer. I think in your case you need to write your own condition to avoid this type of file, and also use this in your configuration:

[code]

That way you are ensuring that you will only load the HLS renderer and it won't try to use YouTube renderer

[2016-11-14 13:03] ron666 commented on #1932
@isantolin M-DASH issue fixed as well. Please test again and let me know. Thanks for your help

[2016-11-14 13:03] #1932 closed

[2016-11-14 15:23] isantolin opened #1936 "Test over 1b0ef6f commit"
@ron666 Ignoring the Dailymotion warning and the "No Renderers Found" error, I found just one bug on IE9 playback. Fixing that i think is ready to release

# (Common Errors)
- No errors or Warnings

# Chrome / Firefox
- No errors or Warnings

# Edge
- No errors or Warnings

# IE10 w/ Flash
- No errors or Warnings

# IE10, 9 w/o Flash
- No errors or Warnings

# IE9 w/ Flash
- video, html5, big_buck

[2016-11-14 16:03] ron666 commented on #1936
@isantolin Thanks for testing again. I'll take a look in this last issue and keep you posted

[2016-11-14 16:06] ron666 commented on #1936
@isantolin I just checked this one on Browserstack and I don't see the issue
<img width="1123" alt="screen shot 2016-11-14 at 11 05 31 am" src="https://cloud.githubusercontent.com/assets/910829/20271940/6e6699fe-aa5a-11e6-8695-d67ccb230bb5.png">

[2016-11-14 16:14] isantolin commented on #1936
@ron666 No image on video, :( (attached image)

![image](https://cloud.githubusercontent.com/assets/264640/20272262/89deb5a8-aa74-11e6-892a-af480c3d2f14.png)

[2016-11-14 16:18] ron666 commented on #1936
@isantolin Interesting. I'll try with a VBox instance to see if I can reproduce this issue.

[2016-11-14 16:34] isantolin commented on #1936
@ron666 try IE9 - Win7 from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2016-11-14 18:03] ron666 commented on #1936
@isantolin I tried with a VBox using IE9 and it worked
![screen shot 2016-11-14 at 1 02 45 pm](https://cloud.githubusercontent.com/assets/910829/20276550/b43c14b2-aa6a-11e6-96cc-593f09c9edf3.png)

[2016-11-14 18:10] isantolin commented on #1936
@ron666 I Discovered that Works well with 2D and 3D acceleration disabled on Config > Display

[2016-11-14 18:32] ron666 commented on #1936
@isantolin So I think we are good to go since that has something to do with the computer configuration and not the plugin. Can you close this issue please?

[2016-11-14 21:50] #1936 closed

[2016-11-14 21:51] ron666 commented on #1916
If any other issues raise, please log them independently. I'm closing this issue and we can always reopen it if necessary

[2016-11-14 21:51] #1916 closed

[2016-11-15 05:49] ron666 commented on #438
Closing this issue since fix has been merged in 3.x-dev branch

[2016-11-15 05:49] #438 closed

[2016-11-15 11:32] gitEdMax commented on #1922
(Sorry for the delay in my reply.)

It might be that this VAST TAG expects follow-up according to the VPAID protocol as well.

A combination of VAST and VPAID is commonly used in advertising.

I found one request for VPAID support (2014):

https://github.com/johndyer/mediaelement/issues/1205

Was this developed meanwhile?

Thanks again.

[2016-11-15 11:43] ron666 commented on #1922
No it hasn't been developed. I'll reopen that issue. Feel free to propose a PR but right now my entire focus is the release of the 3.0 version so any changes will be folded in that branch

[2016-11-15 11:57] gitEdMax commented on #1922
I understand.
Thanks

[2016-11-15 15:31] Wolfcast commented on #1929
Yes it works with the 3.x branch but in the 3.x branch the following formats no longer works (Firefox 50):
M4V, FLV, WMV, Vimeo, M4A and WMA.

[2016-11-15 15:39] ron666 commented on #1929
Can you provide a URL to see the issue in FF please?

[2016-11-15 16:23] ron666 commented on #1929
Vimeo should work as well as FLV; I assume M4A is the same as MP4 but needs to be added in the valid MIME types in the plugin. WMV and WMA are no longer supported since all major players have stopped the support.

[2016-11-15 19:22] dariusj18 opened #1938 "youtu.be detection is too permissive"
The line

`if (playback.url.lastIndexOf("youtu.be") != -1) {`

matches video URLs that look like

by changing it to

`if (playback.url.lastIndexOf("\/\/youtu.be") != -1) {`

it will make sure to only catch URLs that use youtu.be in the domain name. Further modification would be needed to truly limit the search to the domain name.

[2016-11-15 19:42] SeventhCycle commented on #1905
@ron666 Sorry, I had to go away from my computer for a bit.

http://seventhcycle.net/mejsdev/test/player-full.html

I went ahead and redownloaded / rebuilt the player this morning.

This overall seems to be better at the above URL. I do have a concern, though, that having the player fit the browser window like this is masking the issue.

Firefox 49: Don't see any resizing issues
Safari 10.0.2 (126

[2016-11-15 19:45] SeventhCycle opened #1939 "Using width=100% height=100% on 3.0-dev doesn't size the player correctly."
http://seventhcycle.net/mejs/load_problem/

This page creates a <video> element within a div that looks like this:
<div id="mediabox_parent" style="width:640px; height:480px; border:5px solid red;"></div>

The video on this page is being created with width="100%" and height="100%"

It looks like it's creating a player that's 640x640 and doesn't properly account for the height here.

Please let me

[2016-11-15 20:12] ron666 commented on #1938
@dariusj18 Thanks. I'll add this fix right now in the 3.x-dev branch.

[2016-11-15 20:18] ron666 commented on #1905
@SeventhCycle Thanks for testing this. All the renderers that use Flash have that effect of the fullscreen. This is something that exists already in the 2.23.4 version, and no work has been done to change that. Since this ticket is related to only the controlsbar behaving properly, and based on your test, I'll close this one. We can create a separate ticket to explore this.

[2016-11-15 20:18] #1905 closed

[2016-11-15 20:21] ron666 commented on #1939
@SeventhCycle You need to use `max-width: 100%` to make a video fit in the div. Let me know if that works for you.

[2016-11-15 20:21] ron666 commented on #1938
@dariusj18 Change merged into `3.x-dev` branch. Closing this issue.

[2016-11-15 20:21] #1938 closed

[2016-11-15 20:56] SeventhCycle commented on #1939
@ron666 Is this a deliberate change from 2.0?

http://seventhcycle.net/mejs/load_problem/?mode=2
vs
http://seventhcycle.net/mejs/load_problem/?mode=3

I made it so you can toggle between 2.0 and 3.0 on this page. 2.0 uses width=100% without any issues, but 3.0 can't.

It's okay if this is a new requirement for 3.0, but just wanted to make sure this was on purpose and not an oversight.

[2016-11-15 21:50] ron666 commented on #1939
@SeventhCycle No it shouldn't but we introduced a fix for the responsive mode and maybe it have an effect on this scenario

[2016-11-15 23:14] SeventhCycle commented on #1939
Okay. Is there any build I should be testing in this case? Or should I just make sure to use the new max-height method?

[2016-11-15 23:35] ron666 commented on #1939
Just use the max-width method for now; I'll check this tonight and keep you posted

[2016-11-16 00:07] ron666 commented on #1939
@SeventhCycle I tested using width and height with 100% and I get this as a result:
<img width="1380" alt="screen shot 2016-11-15 at 7 06 26 pm" src="https://cloud.githubusercontent.com/assets/910829/20329513/b65870ae-ab66-11e6-8f57-47d4119197e1.png">
Is that not the expected result?

[2016-11-16 00:12] SeventhCycle commented on #1939
http://seventhcycle.net/mejs/load_problem/?mode=2
vs
http://seventhcycle.net/mejs/load_problem/?mode=3

2.x resizes the player to a height proportional to the width of the video player.
3.x does not.

[2016-11-16 00:18] ron666 commented on #1929
I used the following files to test the player and all worked:
http://techslides.com/demos/samples/sample.m4a (with `type` as `audio/mp4`)
https://player.vimeo.com/video/59777392  (with `type` as `video/x-vimeo`)
http://techslides.com/demos/samples/sample.flv (with `type` as `video/flv`)
http://sites.lafayette.edu/newquisk/files/2011/08/ken-video.m4v?_=1 (with `type` as `video/mp4`)

[2016-11-16 00:19] ron666 commented on #1939
@SeventhCycle I see what you are saying. I'll keep looking at this. Thanks for your help

[2016-11-16 01:26] ron666 commented on #1939
@SeventhCycle After testing some more, I noticed that in the 2.x version you are using that workflow used to work; some versions later it stopped working. When you resize the video on 2.23.4 version, it doesn't do it correctly. On 3.x-dev, by using o the max-width style, it works at it should. So I'm checking the 2.19.0 version that you are using to see what's different. I'll keep you posted

[2016-11-16 02:32] ron666 commented on #1939
@SeventhCycle Please download the latest version of 3.x-dev branch and test again; seems that I fixed the workflow of this. Keep me posted

[2016-11-16 11:18] ron666 commented on #1939
@SeventhCycle Here's the proof that it's working now on 3.x-dev
<img width="1430" alt="screen shot 2016-11-15 at 9 39 25 pm" src="https://cloud.githubusercontent.com/assets/910829/20332738/0c585072-ab7c-11e6-9163-f2c33357c213.png">

[2016-11-17 05:02] ron666 commented on #1911
@albell Please review https://github.com/johndyer/mediaelement/tree/focus-outline and let me know if that works. Thanks

[2016-11-17 05:29] ron666 commented on #1911
@albell I made some improvements and it should work as expected. If you approve it I'll merge it into `3.x-dev` branch. Thanks

[2016-11-17 10:08] FrankDaze commented on #1609
@ron666 that worked fine thanks.

Now I ran into the next problem on Android devices. If I start play in fullscreen mode the video sizes correctly. If I do an orientations change from portrait to landscape mode it keeps the orientation of the portrait mode.

And in my special case, if one video has ended (the ad for example), the next video is not getting the fullscreen size. The video is scaling

[2016-11-17 11:28] FrankDaze commented on #1609
ok I found the reason for the stopping after the ad in play: Failed to execute 'play' on 'HTMLMediaElement': API can only be initiated by a user gesture.

Seems that is a Chrome on Android security option.

[2016-11-17 11:33] ron666 commented on #1609
@FrankDaze Glad you found the answer; for the orientation issue you might wanna try the window resize when orientation changes.
[code]

[2016-11-17 12:45] ron666 commented on #1911
@albell The workflow has been implemented into `3.x-dev`. Thanks

[2016-11-17 13:12] FrankDaze commented on #1609
ok, Anrdoid resizing in fullscreen is now fine.
I added an on resize listener to the onenterfullscreen function in the mediaelement-and-player.js

$( window ).on( "resize", function()
{

				if (isNative) {
					t.$media
					.width(screen.width)
					.height(screen.height);
					t.media.setSize(screen.width, screen.height);
				}

				t.layers.children('div')
				.width('100%')
				.height('100%'

[2016-11-17 14:05] ron666 commented on #1609
@FrankDaze that one I have no idea; the resize should work across devices/browsers

[2016-11-17 14:10] FrankDaze commented on #1609
@ron666 seems that the resize is not scaling both video tags.

if I use this inside the enterfullscreen function and it's on resize event then it scales correctly:

    setTimeout(function(){
					t.container.find('video')
					.width('100%')
					.height('100%').css('min-width','100%').css('min-height','100%');
				}, 500);

[2016-11-17 14:55] FrankDaze commented on #1609
for the "Failed to execute 'play' on 'HTMLMediaElement': API can only be initiated by a user gesture." problem I must find a way to trigger both video tags (mediaelement and originalnode) with the same click.

Otherwise it's not possible to fix that problem.

[2016-11-17 15:45] ron666 commented on #1609
Let me check that and ok keep you posted

[2016-11-17 15:45] ron666 commented on #1609
Let me check that and ok keep you posted

[2016-11-17 15:45] #1609 closed

[2016-11-18 02:19] SeventhCycle commented on #1939
Looks like that did the trick.
You can close this out unless there's anything else here that needs finalized.

[2016-11-18 03:40] ron666 commented on #1939
@SeventhCycle Thanks for your help

[2016-11-18 03:40] #1939 closed

[2016-11-18 18:03] sarbbottam opened #1940 "Hide volume slider when tabbing through the controls"
For a keyboard only user, there is no way to hide the volume slider once displayed.

The volume slider is displayed when the volume icon is [`mouseovered` or `focused` and hidden only on `mouseout` (sort of)](https://github.com/johndyer/mediaelement/blob/02227c4f7c024f07314251f36ffd7c870f6cb4a0/build/mediaelement-and-player.js#L4743-L4792), resulting it to be always visible if displayed for a keyb

[2016-11-18 18:52] ron666 commented on #1940
You may wanna check 3.x-dev branch. Some issues related to accessibility have been addressed there. Let me know if it works for you. We will release it soon

[2016-11-18 18:57] sarbbottam commented on #1940
Can we keep the issue open till 3.x-dev is released?

[2016-11-18 19:00] ron666 commented on #1940
Sure. No problem. I'll just label it as complete for now

[2016-11-20 00:29] shunluoifong commented on #1422
@ron666 I'm wanting to do the same thing, have a poster image for the audio tag (without having to convert an audio file to video)...I downloaded the 3.x-dev branch, but am not seeing where there is sample code that is using a poster image with the audio player. Can you point me in the right direction?

[2016-11-20 00:52] ron666 commented on #1422
Check the `test/html5.html` file. There should be an example of audio. Ring played with video tag there

[2016-11-20 01:31] shunluoifong commented on #1422
Ah, got it. Thanks!

[2016-11-20 12:39] ron666 commented on #1855
Closing this issue in favor of #1042

[2016-11-20 12:39] #1855 closed

[2016-11-21 07:18] SiddiquiImran opened #1941 "new problems in mediaelment implementation"
Hi ,

Have updated mediaelment from "3.x-dev" and found these issues:

Error in android:
now player is not working for youtube in android devices when opening it in a app with web view
now player is not working for vimeo in android devices when opening it in a app with web view

Error in ios:
![img_0002](https://cloud.githubusercontent.com/assets/20870175/20473750/bdc323bc-afe8-11e6-9ec5-91ca35629

[2016-11-21 12:10] ron666 commented on #1941
@SiddiquiImran I'll check this. However, the error you are seeing is from YouTube directly. Not from the plugin

[2016-11-21 14:28] ron666 commented on #1941
@SiddiquiImran I tested the URL above and I didn't experience any issues; I used a Samsung Galaxy with Android 4.4.4
![img_2464](https://cloud.githubusercontent.com/assets/910829/20486175/c69d83c2-afcc-11e6-8ef5-a3f333489f96.JPG)
![img_2462](https://cloud.githubusercontent.com/assets/910829/20486176/c69dc26a-afcc-11e6-9665-38c53abd4863.JPG)
![img_2463](https://cloud.githubusercontent.com/assets/91

[2016-11-21 19:06] albell commented on #1042
+1. This is really useful for webpack based workflows.

[2016-11-22 01:25] albell commented on #1911
LGTM. One nit: you might not need the extra container selector in the CSS. I was trying to move the code away from that sort of thing. You could probably also scope the selector to button and anchor elements. Star selector is relatively slow, esp on large pages.

[2016-11-22 01:48] ron666 commented on #1911
@albell Thanks for the feedback. Just to summarize: the onlt change to close this to do the following, correct?

[code]

[2016-11-22 01:50] ron666 commented on #1874
@SeventhCycle After a lot of research and playing with different plugins, I'm planning to use [Google's VR View](https://developers.google.com/vr/concepts/vrview) for this. Although there are some limitations indicated in its website, I'd rather go for a script that will be well supported and it's open source. Let me know your thoughts

[2016-11-22 02:01] ron666 commented on #1911
@albell I'm adding another selector because I noticed it gets outlines in a different way when focused:
[code]
I think this is all I need to modify, but let me know

[2016-11-22 02:05] SeventhCycle commented on #1874
@ron666: This looks interesting from what I can see. I'm really interested to see how it turns out.

Here's some things that I have off the top of my head to factor in. Some of these may already be addressed. It's more along the lines of thinking out loud for now since it's at a starting point.

- Device support: I see that something like this will work with Google Cardboard, but I'm wondering if

[2016-11-22 02:36] ron666 commented on #1874
@SeventhCycle No problem. As far as I know, the Oculus may work with this, but I don't know about the other 2. For the equirectangular panoramic format I've seen it as the most standard one, and specially if we decide to use MediaElementJS it's more manageable. For the third point, I don't think it's really needed. All the videos should work with headset, but if you don't have one I don't see why

[2016-11-22 11:21] #1911 closed

[2016-11-22 18:23] albell commented on #1911
Good catch about the slider. Three little things:

- Use a single modifier class that only ever gets added to the container. This is BEM convention stuff.
- Apply the class both with and without the :focus pseudo. This solves some [old compat issues](http://stackoverflow.com/questions/11173338/outlinenone-is-not-working-on-input-tags).
- Use `0` instead of `none` for better compat with ancient bro

[2016-11-22 18:29] ron666 commented on #1911
@albell Thanks I'll add this and submit the changes

[2016-11-22 18:37] ron666 commented on #1911
@albell Done. Change is now part of the `3.x-dev` branch

[2016-11-22 18:40] albell commented on #1911
Wait, why? If `.mejs__container--keyboard-inactive` is only ever added/removed from `.mejs__container` then you don't need a compound parent selector. The above should work. CSS `outline` isn't set anywhere else, I don't think, so you don't need the increase in specificity for an override. Am I missing something?

[2016-11-22 18:51] ron666 commented on #1911
If you just leave that there the `.mejs-container` takes precedence and doesn't consider that change when you switch between mouse and keyboard. I tested the above using your code on Chrome and didn't remove the outline when switching. Once I prepended the class, it worked as it should

[2016-11-22 20:14] Wolfcast commented on #1929
I'm still unable to play FLVs using video-flv...
If I try Vimeo with your URL it works but if I use something like http://vimeo.com/107469289 it dosen't... Is it normal?

I will try to post an example soon so you can see how I use it.

[2016-11-22 20:37] ron666 commented on #1929
I'll check the flv and for Vimeo I'll add code to parse that URL since it's only considering the structure of the URL I described above. I'll keep you posted

[2016-11-22 22:13] Wolfcast commented on #1929
Here is my test page where I test Media Element:
http://tinyurl.com/h2bo5fh

[2016-11-22 22:58] ron666 commented on #1929
Ok I'll take a look and let you know my findings. Thanks

[2016-11-22 23:55] ron666 commented on #1929
@Wolfcast I've added support for the Vimeo URL you listed above. Please download the latest version of 3.x-dev branch. Checking the markup you set up I noticed you are setting an `<object>` tag inside the video tag and that might be conflicting with the creation of the new embed/object tag that allows the proper displaying of Flash.

Try this markup:
[code]

It should work that way. Let me know

[2016-11-23 00:12] ron666 commented on #1929
@Wolfcast I did a test with your markup and seems like if you just set the proper path to the mediaelement shim correctly you shouldn't get any conflicts.

Try this:

[code]

[2016-11-23 13:56] ron666 commented on #280
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-11-23 13:56] #280 closed

[2016-11-23 14:01] ron666 commented on #1913
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2016-11-23 14:01] #1913 closed

[2016-11-23 14:28] FrankDaze opened #1942 "new Problem with HLS on IE11 Win10"
Hi @ron666 ,

today I got a new problem in IE11 on Windows 10. Normal mp4 files seem to play fine, but it does not play HLS streams anymore. I think it could be a problem with the blob inside the hls_native video tag.

On Firefox Win10 it works fine and it looks like this:
![firefoxwin10](https://cloud.githubusercontent.com/assets/22960630/20565256/20718c2a-b191-11e6-9b8f-733264a5799e.PNG)

In IE1

[2016-11-23 14:42] ron666 commented on #1942
@FrankDaze Yes it looks like something related to the hls.js package. Please submit an issue to https://github.com/dailymotion/hls.js and keep me posted on this. Thanks.

[2016-11-23 14:47] ron666 commented on #1942
I tested the `full-player.html` file in Win10 IE11 and everything was fine in both HLS files I had set up there.

<img width="903" alt="screen shot 2016-11-23 at 9 46 47 am" src="https://cloud.githubusercontent.com/assets/910829/20566072/dd8ff498-b161-11e6-8709-f8b5a54a66b2.png">

[2016-11-23 15:03] FrankDaze commented on #1942
I tested the link in the demo player on hls.js page and I get this message:

![grafik](https://cloud.githubusercontent.com/assets/22960630/20566666/2acf46d0-b196-11e6-8dc0-0cc25c6c9cef.png)

The strange thing is, it is working on Edge Win10, IE11 Win7 but not IE11 Win10.

[2016-11-23 15:26] FrankDaze commented on #1942
ok found the problem. It's the new version of hls.js.
I had an older version of hls.js on my hard disk and with this it's running well.

[2016-11-23 16:54] ron666 commented on #1942
@FrankDaze Thanks for pointing this. Just make sure you create a ticket for the HLS team so they fix this. Closing this issue now

[2016-11-23 16:54] #1942 closed

[2016-11-23 17:03] ron666 commented on #1942
I saw that it got resolved. Thanks

[2016-11-23 19:31] Wolfcast commented on #1929
Ohh I wasen't aware that the Flash shim changed names (from flashmediaelement.swf to mediaelement-flash-video.swf).

It still dosen't work even with a proper path. To make it work I have to define the option "pluginPath" otherwise it tries to find it in the build directory.

Do you have a v2 to v3 guide documented somewhere? And the doc for the proper MIME to use in "type"?

[2016-11-23 19:43] ron666 commented on #1929
In the latest version Vimeo worked for me but I'll double check. You need to read the documentation in the 3.x-dev branch since all the information is there. I recommend specifically the Usage and Installation sections

[2016-11-23 19:44] ron666 commented on #1929
Make sure you download the latest version of the branch since that's where the fix for Vimeo was set

[2016-11-23 19:51] ron666 commented on #1929
I see an error coming form loading Vimeo player API script. I need to check why because it was working a couple of days ago

[2016-11-23 19:55] ron666 commented on #1929
Indeed is an error from Vimeo (https://github.com/vimeo/player.js/issues/85)

[2016-11-23 20:07] ron666 commented on #1929
Ok Vimeo should be working now. As for the `flv` files, yes you must indicate the path with `pluginPath`; that is expected. I added a note in the documentation for this branch. If no more issues, can you close this ticket, please?

[2016-11-23 20:39] Wolfcast commented on #1929
OK, all good now thanks for the good work!

[2016-11-23 20:39] #1929 closed

[2016-11-24 15:29] Biont opened #1943 "[3.x-dev] Missing Play button overlay after returning from fullscreen on iOS"
If you leave the fullscreen view on iOS (for example, via the "Done" button), the player will return in a paused state. However the play button overlay that was previously rendered will not come back and the video itself is no longer clickable. So playback can now only be resumed with the tiny play/pause button in the player controls.

Please let me know if you need more info on this.

[2016-11-24 16:49] ron666 commented on #1943
Thanks for pointing this out. I'll check it and give an update soon

[2016-11-24 16:53] ron666 commented on #1943
Is this for iPhone or iPad? Because on iPhone I can see the Play button (although is native player)

[2016-11-24 17:07] christophwolff commented on #1943
Its for iphone. Initially the Playbutton ist there. But when you close (done) the playback, the native play button isnt there anymore.

[2016-11-24 17:26] ron666 commented on #1943
Can you send an animated gif so I can see what you are seeing please?

[2016-11-24 17:28] ron666 commented on #1943
Never mind I was able to reproduce it. I'll keep you posted

[2016-11-24 23:57] ale-grosselle commented on #403
Hi everybody,
i desire to have for the player the behavior described by @sjmog
no one has implemented this parameter?

If no, I will implement as soon as possible!

[2016-11-24 23:59] ron666 commented on #403
Can you try hideVideoControlsOnLoad configuration argument let me know if that works for you

[2016-11-25 07:48] ale-grosselle commented on #403
Hi @ron666,
I tried the param but it has no effect because:
1)On library init is coorectly called the method hideControls: ```
 if(t.options.hideVideoControlsOnLoad) {
							t.hideControls(false);
						}
[code]
if (!t.controlsAreVisible || t.options.alwaysShowControls || t.keyboardAction || t.media.paused || t.media.ended)
					return;
[code]

[2016-11-25 09:18] ale-grosselle commented on #403
PR: #1944

[2016-11-25 11:46] ron666 commented on #403
Did you try 3.x-dev branch? That's where I thought you were testing the param and currently is the branch I'm maintaining

[2016-11-26 04:44] ron666 commented on #1943
@Biont After a lot of research I decided to display MEJS play button and hide the native one completely so that way when exiting fullscreen mode you will see it. Please download the latest version of the `3.x-dev` branch and let me know if it works for you. Thanks

[2016-11-26 04:45] ron666 commented on #1941
As an update there was an issue with Vimeo's API but now it got solved. That might caused your issue. If you don't have any more issues related to this, please close this ticket

[2016-11-26 04:55] christophwolff commented on #1943
Sorry i have been incredibly busy. I will Check this Out. Thank you.
Rafael Miranda <notifications@github.com> schrieb am Sa. 26. Nov. 2016 um
05:44:

[2016-11-26 11:18] gitEdMax opened #1946 "how to include a cachebuster variable into VAST tag"
I am trying to include a cachebuster variable in a "vastAdTagUrl".

(This would be a random segment as part of the tag, resulting in an 'empty' browser cache for the VAST tag, each time a visitor opens the player.)

I tried this script to create a random variable 'ord' :

<script type="text/javascript" language="JavaScript">
var ord = Math.random()*10000000000000000;
</script>

Next is to call the

[2016-11-26 13:23] ron666 commented on #1946
@gitEdMax If you wanna get the number, you need to concat correctly the variable. Like this:

`vastAdTagUrl: 'http://search.spotxchange.com/vast/2.0/85394?VPI=MP4&content_page_url=http://powerfulpresentations.com/streams/testme2d.html&cb=+' + ord + '&player_width=960&player_height=540',`

Let me know if it worked for you

[2016-11-26 13:25] ron666 commented on #1931
@isantolin I checked this, and although it plays, I saw that it requires a lot of power processing and in a mobile device that's not good. If you have another options, I'm open to review them. But this one is old and has the issue mentioned above

[2016-11-26 13:25] #1931 closed

[2016-11-26 14:03] gitEdMax commented on #1946
I tried both.

If I ad it as +ord+  it shows the string.

If I ad it as + ord + it interrupts the link (see the example)

Thanks for your assist.

Ed

 <https://github.com/gitEdMax> @gitEdMax If you wanna get the number, you need to concat correctly the variable. Like this:

vastAdTagUrl: 'http://search.spotxchange.com/vast/2.0/85394?VPI=MP4&content_page_url=http://powerfulpresentations.com/stream

[2016-11-26 14:12] ron666 commented on #1946
You didn't use quotes. It should be eaxctly `'&cb=+' + ord + '...'`; otherwise, it won't work

[2016-11-26 21:27] gitEdMax commented on #1946
Using '&cb=+' + ord + '...' resulted in a ‘broken’ link.

See screen print and see example:

http://powerfulpresentations.com/streams/testme2d.html

[2016-11-26 21:30] ron666 commented on #1946
I tested it on my phone and I didn't see anything wrong. This is just a matter of concatenation; what I wrote above is the example of how to concatenate the ord variable but you have to indicate the rest of the URL if that's what broke it

[2016-11-26 21:58] gitEdMax commented on #1946
Thanks, I understand.

The result visually is OK, this is because the last part of the tag is not really needed to play the items. However technically we would like the browser to read all of the tag.

‘ord’  is still seen as the string, not as the value of the variable, that causes the tag to break while the ‘tag’ is expected from the first ‘ to the second ‘. The remaining part is neglected after

[2016-11-27 02:00] ron666 commented on #1946
The browser will read the tag as it is; te fact that the variable is by displaying a number there doesn't mean is not gonna be processed as one. That's the same principle with any dynamic variables in any other programming language. If you leave it like that the browser will never cache the URL since that number always change even if you can't see it directly on the tag

[2016-11-27 02:01] ron666 commented on #1943
Thank you let me know so I can close this issue

[2016-11-27 03:18] albell commented on #1911
Yeah that's because of the current cascade sequence, which is creating unnecessary specificity wars.

Current you have at line 23:

[code]

and then on line 211:

[code]

The `.mejs-container` class in the first declaration is only necessary as currently sequenced because it has to override the `dotted` style further down. If you group all the focus-outline-related styles together, and switch the

[2016-11-27 04:40] ron666 commented on #1911
@albell Thanks for pointing this. I made the change in the latest version following your advise and works perfectly. If you wanna have a conversation with one of the Wordpress developers about the BEM naming, I'd consider the one I pointed on #1917

[2016-11-27 07:47] gitEdMax commented on #1946
Aha.. thanks, that’s interesting.

I still have some doubts while the tag is interrupted at the “ ‘ “.

Is there a way to test the result?

[2016-11-27 12:35] ron666 commented on #1946
You can print the tag like this:

[code]

[2016-11-27 13:11] gitEdMax commented on #1946
Great idea!

It’s visible at:
http://powerfulpresentations.com/streams/testme2e.html

I also inserted a:

document.write(name);

for the ‘ord’ and ‘tag’ value.

This showed the result for both.
It appears, the variable can be inserted in the tag as ‘+ ord +’  (otherwise the extra ‘+’ will be added).

Thanks very much for all your input!
Ed

[2016-11-27 13:12] ron666 commented on #1946
You are welcome. Closing this issue now

[2016-11-27 13:13] gitEdMax commented on #1946
Great idea!

It’s visible at:
http://powerfulpresentations.com/streams/testme2e.html

I also inserted a:

document.write(name);

for the ‘ord’ and ‘tag’ value.

This showed the result for both.
It appears, the variable can be inserted in the tag as ‘+ ord +’  (otherwise the extra ‘+’ will be added).

Thanks very much for all your input!
Ed

[2016-11-27 13:13] gitEdMax commented on #1946
Great idea!

It’s visible at:
http://powerfulpresentations.com/streams/testme2e.html

I also inserted a:

document.write(name);

for the ‘ord’ and ‘tag’ value.

This showed the result for both.
It appears, the variable can be inserted in the tag as ‘+ ord +’  (otherwise the extra ‘+’ will be added).

Thanks very much for all your input!
Ed

[2016-11-27 13:13] gitEdMax commented on #1946
Great idea!

It’s visible at:
http://powerfulpresentations.com/streams/testme2e.html

I also inserted a:

document.write(name);

for the ‘ord’ and ‘tag’ value.

This showed the result for both.
It appears, the variable can be inserted in the tag as ‘+ ord +’  (otherwise the extra ‘+’ will be added).

Thanks very much for all assistance!
Ed

[2016-11-27 13:13] #1946 closed

[2016-11-27 15:59] ron666 commented on #1874
@SeventhCycle Just to give you an update: I have created the `vr-support` branch, where you can check the work done with Google VRView. It's still not ready since I'm asking questions to the developers about certain things, but overall it can be used. Events like duration, progress or other html5 native ones are not integrated yet since that's what I'm enquiring. If you wanna check this, please ch

[2016-11-28 22:00] milikicn opened #1947 "Clicking on Youtube video timeline does not generate 'pause' event"
Hi all,

I have previously used Youtube API directly, so I am familiar with which events are generated and when. There is a particular case that I am interested in where while video is playing, a user clicks on the video timeline.

In this particular case, Youtube API generates the following events:
- 'pause' carrying video time when the video is paused
- 'play' carrying video time from where the

[2016-11-28 22:35] ron666 commented on #1947
Can you test 3.x-dev branch and let me know if that's an issue there? Currently that's the branch that will be released soon

[2016-11-28 22:35] ron666 commented on #1947
Can you test 3.x-dev branch and let me know if that's an issue there? Currently that's the branch that will be released soon

[2016-11-29 17:03] milikicn commented on #1947
Hi Ron,

Yes, the 3.x-dev branch has the same behavior, meaning it doesn't fire 'pause' event.

Just to be clear, I don't think this is a bug, it is just that interacting with Youtube timeline is not completely replicated here. The way MediaElements works is it invokes 'seekTo(seconds)' method of Youtube API. As a consequence of invoking this method, video will start playing from the new position

[2016-11-29 20:34] ron666 commented on #1947
@milikicn Thanks for pointing this. Can you download the latest version of 3.x-dev branch and test this again? I set the workflow properly for the player and it should fire now a pause event when clicking on the rail

[2016-11-29 21:24] milikicn commented on #1947
Yes, I can see it now, don't know how I missed it in the first place. I see now that MediaElements API has changed a bit. For instance, event does not carry video time, only a timestamp. But I will dive more into the changes of this soon to be release.

I'll close this issue. Thanks for the help and for this library!

[2016-11-29 21:24] #1947 closed

[2016-11-29 22:45] ron666 commented on #1947
Thanks for testing the library. Let me know if you find anything else before the release

[2016-11-30 09:28] marjune163 opened #1948 "Flash mode: click video top right corner will go to fullscreen"
I use IE8 to test flash mode. I tried 2.23.4, and the demo on official website. When video is playing, move mouse pointer to top right corner of the video, it's shape becomes to pointer. Then clicking this area will make video becomes fullscreen. I think it's not an expected behavior because you cannot do that in HTML5 mode.

[2016-11-30 09:41] marjune163 opened #1949 "[Suggestion] Use binary search to find subtitle/caption"
Binary Search (https://en.wikipedia.org/wiki/Binary_search_algorithm) can quickly find an entry by key field if it is sorted.
I tried to change codes, but current data structure is not easy to sort. If the subtitle/caption array items can be sorted by start time, then binary search would work.

[2016-11-30 11:54] ron666 commented on #1948
@marjune163 Thanks for pointing this. Currently my focus is on the 3.x-dev branch that will be released soon, and in that branch we stopped support for IE8.

[2016-11-30 12:03] ron666 commented on #1949
@marjune163 currently the tracks are being stored as `track.entries.times`, which contains a `start` and `stop` elements. So the data structure you are trying to create is an array like: `track[start] = text`, correct?

[2016-11-30 12:10] ron666 commented on #1948
Just for curiosity, I tested this on Browserstack using IE8 on Win7 and I couldn't reproduce this.

[2016-11-30 15:45] marjune163 commented on #1949
I mean something like { from: 10.0, to 15.5, text:"blablabla" }

[2016-11-30 16:40] marjune163 commented on #1948
Hi, @ron666
I tried again in my VM and still can reproduce. By the way, if set the `mode` option to `shim`, even Chrome can also reproduce.
I try to upload the demo video:
![flash-fullscreen-demo](https://cloud.githubusercontent.com/assets/11329183/20761603/7949ebc6-b75e-11e6-9dde-a7d6b03a3808.gif)

[2016-11-30 17:17] sgautrin commented on #1371
This issue is still pertinent nowadays. Testing with mediaelement.js 2.23.4 from Chromium on a standard linux mint install (and thus with mp4 support), http://html5test.com/ will report H.264 support, however mediaelement.js still restricts media support for Chromium to webm, ogv, and ogg due to the following

	// special case for Chromium to specify natively supported video codecs (i.e. WebM and

[2016-11-30 17:29] ron666 commented on #1371
This issue has been fixed in 3.x-dev branch and will be released soon. Please test it and let me know if it solves your issue

[2016-11-30 18:15] sgautrin commented on #1371
Just tested 3.x-dev branch, and it indeed solves this issue for me. Thanks.

[2016-11-30 18:29] ron666 commented on #1949
I can create a separate branch so you can test if that's what you need and if it is we will integrate on the 3.x-dev branch is that ok?

[2016-12-01 09:26] Volune commented on #1948
Hi. In the flash, at [FlashMediaElement.as#L327](/johndyer/mediaelement/blob/master/src/flash/FlashMediaElement.as#L327) you have an invisible button to go fullscreen.
What is the intended behavior for this button?

[2016-12-01 11:44] ron666 commented on #1948
I did not know that there were controls there. Thanks for catching this. As I mentioned above my current focus is 3.x-dev branch, and I reviewed the actionscript files and that issue is not there. Please test that branch and let me know if it works for you

[2016-12-01 11:44] #1941 closed

[2016-12-01 15:45] AbdurrahmanAyyildiz opened #1950 "Estethics Problem While MediaPlayer Loading"
When you open or refresh(F5) [mediaelementjs.com](url) as MediaPlayer loading, you firstly see your browser's default html5 player skin, then your mediaelement's skin start to loading and to see browser's default skin is annoying...

This guy's approach, doesn't have this issue: [codepen.io/katzkode/pen/Kfgix](url)

Peace =)

[2016-12-01 17:09] AbdurrahmanAyyildiz commented on #1950
you can solve it with this easily :) [](http://stackoverflow.com/questions/3452226/jquery-hide-div-until-fully-loaded ) as I do here: [sonahit.com](url)

[2016-12-01 19:19] ron666 commented on #1950
Thanks for pointing this out. We are currently in the process to release a new version of the player and with it a new website. When released, please let us know if this is still an issue. I'll keep you posted about the progress of this

[2016-12-01 21:43] izar89 opened #1951 "[3.x-dev] dashjs is not defined when loading dynamic content"
I'm loading some content with a video via ajax. After the content is added to the dom I create a new MediaElement.

[code]

[code]

When the dashjs script(https://cdn.dashjs.org/latest/dash.all.min.js) gets loaded (@script.onload)(script gets loaded with statuscode 200), dashjs stays undefined.

- Using the dash source with a normal pageload works.
- Also loading the video via ajax with an HLS sou

[2016-12-01 23:05] ron666 commented on #1951
Can you provide a URL when I can check your issue please?

[2016-12-02 09:52] izar89 commented on #1951
Here you go [http://stijnheylen.com/mediaElementTest/](url)

Let me know if you need more info :)

[2016-12-02 12:45] ron666 commented on #1951
Thanks I'll check this and let you know my findings

[2016-12-02 12:45] ron666 commented on #1951
Thanks I'll check this and let you know my findings

[2016-12-02 13:25] Biont commented on #1943
Sorry for not coming back earlier. This works fine for us now. Thank you very much for reacting so quickly

[2016-12-02 13:39] ron666 commented on #1943
Thank you for testing this. Closing this issue now

[2016-12-02 13:39] #1943 closed

[2016-12-02 16:05] ron666 commented on #1951
Just FYI I have posted a question to the team of Dash.js about this; it's a very interesting bug and I haven't figured out what causes it. I'll keep you posted

[2016-12-02 16:40] izar89 commented on #1951
Yes, it's a weird one :). For now I just load the dash lib via script tags on pageload. Thanks!

[2016-12-02 17:17] ron666 commented on #1951
@izar89 I was able to reproduce this on a Mac Sierra environment using Chrome and FF; where did you reproduce this?

[2016-12-02 17:48] izar89 commented on #1951
I'm on a macbook pro (OSX el capitan). Chrome, Firefox and Safari give the same console message.

[2016-12-02 18:06] ron666 commented on #1951
Yeah that's what I thought. This is an issue with MacOS. They said they don't experience this issue with Windows. So I'll add this to the ticket. Thanks for the info

[2016-12-02 18:54] izar89 commented on #1951
Also made a version with dashjs instead of mediaelement for testing testing purposes :) [http://stijnheylen.com/dynamicDashTest/](http://stijnheylen.com/dynamicDashTest/)

[2016-12-02 19:24] izar89 commented on #1951
@ron666 I just tried to only load the mediaplayer (dash.mediaplayer.min.js) and manually start the video and that works for both pageload and dynamic loading. :)
[code]

[2016-12-02 23:20] ron666 commented on #1951
@izar89 Ok please download the latest version and let me know if it works for you now. Just an FYI this is an issue with the `dash.js` library and they are aware of it, so they will try to solve it in the next days. Thanks and let me know if it worked for you.

[2016-12-03 09:53] izar89 commented on #1951
@ron666 It's working now. Thanks!
- Another small thing to note is the version number in the package.json of the dev branch is 3.0(should be 3.0.0) which is an invalid number and makes it impossible to use npm for downloading the files. I'm git cloning them for now :)

[2016-12-03 13:23] ron666 commented on #1951
Thanks I'll change that later. Glad everything is working now. I'll close this issue and thanks for testing this again

[2016-12-03 13:23] #1951 closed

[2016-12-03 17:29] marjune163 opened #1953 "dev-3.x volume: Is it possible to remove `secondTry` for `positionVolumeHandle()`?"
Since now volume track controls are positioned by css(https://github.com/johndyer/mediaelement/pull/1952), without calculation by getting the `$element.position()`, which has some werid problem if `$element` is hidden. So is it safe to remove this `secondTry` code?
https://github.com/johndyer/mediaelement/blob/3.x-dev/src/js/mediaelementplayer-feature-volume.js#L99

[2016-12-04 02:25] ron666 commented on #1953
@marjune163 Thanks for pointing this. I removed that after testing it and confirming no issues were brought by removing it. Closing this ticket now

[2016-12-04 02:25] #1953 closed

[2016-12-04 02:25] ron666 commented on #1948
Can this ticket be closed?

[2016-12-04 02:28] ron666 commented on #887
@koenpunt The history has been rewritten; please test and let me know if it works for you

[2016-12-04 08:28] koenpunt commented on #887
Where should I look? 3.x dev branch?

[2016-12-04 15:39] ron666 commented on #887
Yes

[2016-12-04 15:48] ron666 commented on #887
Please look at the 3.x-dev branch and let me know I used the method above and seemed faster to me but let's confirm

[2016-12-05 10:27] osamasheikh28c opened #1954 "UC Browser Mobile - Youtube Support"
MediaElement.js is unable to play youtube embeded video in UC Browser Mobile. It Continues to show loading of video and when it gets to 27%, it automatically pauses the loading and then you have to click the play button again to start the loading again(will not play) thus causing kind of like loop.

No Javascript error is thrown regarding this. If we do simple integration of  mp4 with Media Elemen

[2016-12-05 11:12] ron666 commented on #1954
Thanks for pointing this. Can you test 3.x-dev branch and check if the issue exists there please?

[2016-12-05 12:30] osamasheikh28c commented on #1954
Sure i'm out of sight rightnow. Will check i  as soon as i get infront of laptop (probably in few hours).

Thanks For Reaching Out, :-)

[2016-12-05 15:33] AbdurrahmanAyyildiz opened #1955 "Media starting to load automatically :("
Media starting to load automatically :(
Example here:
http://www.quran114.org/p/38

[2016-12-05 17:05] ron666 commented on #1955
@AbdurrahmanAyyildiz I tested this on Chrome, and you have to consider that since it's a pure MP3 and not a streaming (for what it seems) the browser by default will start loading the data so it can play.

[2016-12-05 20:30] osamasheikh28c commented on #1954
Hi I just checked the 3.x branch and its showing the same error. Causing endless Load.
Check the screenshot at
https://drive.google.com/file/d/0B8NgnfxeM1p4VXF6dVdmVmZHcVk/view?usp=drivesdk

[2016-12-05 20:31] osamasheikh28c commented on #1954
For More Info the device is Samsung S6, Uc Browser Latest Version

[2016-12-05 21:30] ron666 commented on #1954
Perfect. I'll investigate this. Thanks. Can you send me a URL of the media you used to test this? Or an URL I can check with a phone?

[2016-12-05 21:35] osamasheikh28c commented on #1954
Ah Actually i tested it on local server. Actually i tested the html file uploaded on 3.x demo folder.
This one to be preceise
https://github.com/johndyer/mediaelement/blob/3.x-dev/demo/index.html

For Previous version checking you can use this url for testing
http://mediaelementjs.com/examples/?name=youtube

[2016-12-05 21:36] ron666 commented on #1954
OK I'll investigate this. Thanks for the info. I'll keep you posted

[2016-12-05 21:38] osamasheikh28c commented on #1954
Plus For your more info. By default UC Browser uses their own custom video player. It basically overrides the Default Video player View. Like try to explorer youtube.com in Uc Borwser mobile you will see.

Anyways.
Thanks

[2016-12-05 22:08] osamasheikh28c commented on #1954
Ok Just to let you know i just tried http://videojs.com/ youtube plugin. And This issue is also persistent with their API, so i guess that's something related to Youtube JS API itself.

[2016-12-05 22:30] ron666 commented on #1954
If you can post an issue on StackOverflow with the tag `youtube-iframe-api` related to this to see what's going on I'd appreciate it. Keep me posted.

[2016-12-07 04:15] #1948 closed

[2016-12-07 23:08] ron666 commented on #887
Can this issue be closed?

[2016-12-07 23:13] ron666 commented on #1955
Are you experiencing any issues with the fact is preloading? If not can you close this issue?

[2016-12-08 12:15] marcoribi commented on #1844
I've the same problem. When I open a panel (mediaplayer appearing correctly) and click the play button, the timeline (.mejs-time-rail) has a width of 1px. Please reopen this issue.

[2016-12-08 13:47] ron666 commented on #1844
Can you provide a URL to check this please?

[2016-12-08 15:35] ron666 commented on #1844
And also can you test 3.x-dev branch to see if that issue persists please?

[2016-12-08 15:52] andyh4 opened #1959 "Mobile Device Fullscreen Rotation Problem"
When on a mobile device in fullscreen mode, if you rotate to a different orientation, the video canvas no longer fills the screen, it just remains the same size.  This is fixed by adding !important to both height and width for .mejs-container-fullscreen on css line 73.

On my site I changed this:
[code]

to this:
[code]

This is a symptomatic fix, not a system-level fix, so I don't recommend it fo

[2016-12-08 16:50] laupow opened #1960 "3.x-dev volume slider issue in non-minified builds"
A recent change, possibly in #1952, seems to have busted the volume UI but _only in non-minified_ builds. Reverting to an earlier commit and recompiling eliminates the problem (in both min and non-min builds):

commit 433b74caa2ab6ff6130afa05763b200813f97a3d
![screen shot 2016-12-08 at 10 25 54 am](https://cloud.githubusercontent.com/assets/6674176/21018577/faa2ab0c-bd32-11e6-8565-184e19629818.png

[2016-12-08 16:53] ron666 commented on #1960
@marjune163 can you check this please?

[2016-12-08 17:34] sarowerj commented on #1844
Hi everybody, Actually Now I used another plugin to do this. Thanks everyone to try something. Thanks

[2016-12-08 17:34] #1844 closed

[2016-12-08 18:45] ron666 commented on #1959
Thanks I'll check this and let you know when it's fixed

[2016-12-08 22:55] ron666 commented on #1960
Nevermind, I figured out what happened. @laupow I'll push the fix tonight

[2016-12-08 22:58] ron666 commented on #1960
@laupow Pushed fix; please confirm that it is fixed now. @marjune163 FYI

[2016-12-08 23:26] laupow commented on #1960
Yeah, looks good now.

[2016-12-08 23:39] #1960 closed

[2016-12-09 01:27] ron666 commented on #1959
@andyh4 Seems like that's a potential solution; as a favor can you implement in your local environment and test the fix specified in https://github.com/johndyer/mediaelement/issues/1609#issuecomment-261255607 and let me know if that works so I can implement it in the core package, please?

[2016-12-09 07:17] andyh4 commented on #1959
Are you referring to this?
[code]

[2016-12-09 11:44] ron666 commented on #1959
Yeah I'm curious to see if that could solve this issue by adding that into the full screen feature in te enterFullscreen() method

[2016-12-09 14:57] koenpunt commented on #887
The 3.x branch is far more acceptable yes:

[code]

But I think this issue should be closed 3.x becomes master.

[2016-12-09 15:00] koenpunt commented on #887
I think the safest path to take is to make 3.x the default branch, rename master to something like `pre-3.x` or '1.x-and-2.x`, so that tags referring to the commit can still be backtraced, and then rename 3.x to master.

[2016-12-09 15:01] koenpunt commented on #887
And of course add a note in the readme about that.

[2016-12-09 16:17] ron666 commented on #887
The thing is that when you perform a rewrite you have to do it across all branches in a repo; meaning that right now master, 3.x-dev, etc, plus tags history was rewritten, because all of them had references to the removed files. So I don't know if the last part will be needed. And this is something only people that creates PR need to be aware of

[2016-12-09 16:30] koenpunt commented on #887
Doesn't clone by default just only clone the default branch?

[2016-12-09 16:31] koenpunt commented on #887
Or maybe I'm wrong there, as clone implies full copy.

[2016-12-09 16:31] koenpunt commented on #887
Is your intent to update (force push) all the tags too?

[2016-12-09 16:39] ron666 commented on #887
If they get a clean clone no issues; if the users had a prior version they need to do a `git rebase` first. And yes the tags had to be updated as well since they carried as well references to those files; I tried not to but in the end everytime I pushed back the rewritten history there were references and didn't change the size of the repo. That's why even tags had to be updated

[2016-12-09 17:13] ron666 commented on #887
For more reference http://stevelorek.com/how-to-shrink-a-git-repository.html

[2016-12-09 17:40] AbdurrahmanAyyildiz commented on #1955
preload='true'
or
preload='false'

both scenario have same preloading issue...

what you recommend for example using .ogg file type instead of .mp3 ?

[2016-12-09 17:41] AbdurrahmanAyyildiz commented on #1955
it is a problem when you using mobile data package..

[2016-12-09 17:42] andyh4 commented on #1609
Just adding 'video' in the list of other elements on in enterFullScreen() seems to do the trick for me.

change this:
`b.container.find("iframe, embed, object").width("100%").height("100%")`

to this:
`b.container.find("iframe, embed, object, video").width("100%").height("100%")`

[2016-12-09 17:55] ron666 commented on #1955
I see I'll check this ASAP thanks for giving more information

[2016-12-09 18:21] andyh4 commented on #1609
@FrankDaze fullscreen fix is working for me in iOS and android:

@FrankDaze, why is your addition wrapped in a timeout, and not grouped with all the other container.find functions in enterFullScreen()?

[2016-12-09 20:56] ron666 commented on #1955
Also you should use preload="none" to test this since preload="false" doesn't have any effect. The correct values are none or auto

[2016-12-09 22:08] ron666 commented on #1955
I think this will solve your problem since has nothing to do with the plugin itself: http://www.w3schools.com/TAgs/att_video_preload.asp.

Let me know if it worked for you

[2016-12-09 22:10] ron666 commented on #1666
Given comments on #1860 I don't think it's worth it to move to this approach. Closing this issue now. It can be reopen anytime. Thanks

[2016-12-09 22:10] #1666 closed

[2016-12-09 22:20] ron666 commented on #1950
@AbdurrahmanAyyildiz this is the website we are working on but the issue you mentioned is solved. Please check if the issue is there: http://johndyer.github.io/mediaelement/. If not we can close this ticket

[2016-12-12 10:08] AbdurrahmanAyyildiz commented on #1955
Thank you man so much! It worked =)

If you want I can close this issue? or it may help someone from google searches?

[2016-12-12 10:39] AbdurrahmanAyyildiz commented on #1950
I have report this issue 1 Dec 2016 and you solved it 9 Dec 2016 it seems solved at here: http://johndyer.github.io/mediaelement/ but not solved here: http://mediaelementjs.com/

I want to learn how you solved it because there is no commit at repo after 1 Dec 2016

I want to learn because way I have done it in my site it cause late loading.

How you done it? =)

[2016-12-12 11:12] #1955 closed

[2016-12-12 11:16] ron666 commented on #1950
Yeah it won't be solved on http://mediaelementjs.com since the other website will superseed it and there's no point to fix it if the other website will be the main website. The way I solved this is by wrapping the video/audio tag in a div and assigning a visibility hidden to the div; in the `success` callback when creating mediaelement I change the visibility to visible in the divs. That way looks

[2016-12-12 11:27] ron666 commented on #1950
Something like this:

The style:
[code]
The markup:
[code]
The callback:
[code]

[2016-12-12 11:27] ron666 commented on #1950
Let me know if I can close this ticket as well

[2016-12-12 11:29] ron666 commented on #1847
@isantolin Just FYI, this is the new website that is being worked on: http://johndyer.github.io/mediaelement/

[2016-12-12 15:59] AbdurrahmanAyyildiz commented on #1950
it is not totally worked, because I have using edited version of mediaelement by others because it has that round thing for grab and scroll it forward and backward.. it is useful when you have player design like here at quran114.org and I think maybe you consider to add example of similar design like there :)

and you can close this issue :) thanks a lot :)

[2016-12-12 16:06] ron666 commented on #1950
@AbdurrahmanAyyildiz You are welcome; before releasing the new version I'll add this workflow for the demo file we have prepared.

[2016-12-12 16:06] #1950 closed

[2016-12-13 11:29] AbdurrahmanAyyildiz commented on #1950
thank you =))

[2016-12-13 17:14] ron666 commented on #1067
@albell Can you please check the branch `various-fixes` to confirm this was integrated properly, please?

[2016-12-13 17:14] ron666 commented on #1949
@marjune163  Can you please check the branch `various-fixes` to confirm this was integrated properly, please?

[2016-12-13 17:16] ron666 commented on #1954
@osamasheikh28c I posted the issue on Stackoverflow but I haven't have any answers yet. Have you found anything on your side? Or is this fixed?

[2016-12-13 17:49] albell commented on #1067
Should a replay button go in the bottom left of the control bar a la current Youtube, or superimposed over the video? Youtube uses the main space now to signal the next video slated to play. Similar to Vimeo "up next". But Vimeo still also puts a replay button as an overlay. Thoughts?

[2016-12-13 18:06] ron666 commented on #1067
I based this on YouTube player, and it doesn't use an overlay; we could add it as part of the Play overlay, but I don't know if it will be too much to have the icon and the overlay.

[2016-12-13 18:24] ron666 commented on #1959
@andyh4 I integrated the fix in the `various-fixes` branch, can you confirm that this is fixed there before I merge it into `3.x-dev` please? Use the `test/player-full.html` file for testing this

[2016-12-14 13:11] thejamespower opened #1963 "'Respsonsive' Methods Don't Work Correctly"
If resizing the browser, video scales but then black areas are shown and aspect ratio is not maintained. Screenshot is taken from responsive demo test in repo'. This causes issues if the user resizes their viewport or on orientation change etc. Refreshing the page fixes the issue, so assume something isn't working correctly on resize events.

<img width="1487" alt="screen shot 2016-12-14 at 13 09

[2016-12-14 13:25] thejamespower commented on #1963
Below screenshot uses '../media/echo-hereweare.webm' as source, (error message still displays however). This confirms it's not an issue with the YouTube iFrame.

<img width="2245" alt="screen shot 2016-12-14 at 13 24 16" src="https://cloud.githubusercontent.com/assets/7080202/21183637/ba63ea9c-c200-11e6-8260-603c037e617d.png">

[2016-12-14 13:30] osamasheikh28c commented on #1954
Hi,
   Sorry i forgot to post, but i have posted it now. Between i added a small fall back that places youtube iframe (with play pause events) in case of ucbrowser mobile with same layers (excluding control layer that show progress bar) that you are using in Media element (i'm taking about poster, play and pause screen overlay on video). Although it wasn't perfect but it did the job for me.

Betwe

[2016-12-14 14:05] ron666 commented on #1963
@thejamespower Thanks for reporting this. Can you test the 3.x-dev branch to check if this issue is there, please? We are planning to release that branch soon

[2016-12-14 14:06] marjune163 commented on #1949
Thanks @ron666 , I added some comment for that commit.

[2016-12-14 14:09] ron666 commented on #1949
@marjune163 I added a comment back to see if you have any ideas how can we address your concern. Hope to hear from you soon to close the loop on this

[2016-12-14 14:16] ron666 commented on #1954
@osamasheikh28c You are welcome. About the progress bar, everything inside of it is calculated with percentages. Here's a screenshot to proof the progress bar uses percentages by default
![screen shot 2016-12-14 at 9 12 33 am](https://cloud.githubusercontent.com/assets/910829/21185198/b23d6168-c1dd-11e6-92cc-7c12d48361c3.png)

Let me know if you have any other questions/comments. For now, closing

[2016-12-14 14:16] #1954 closed

[2016-12-14 14:25] osamasheikh28c commented on #1954
Ah yes that's perfect then. The version you are testing is probably from 3x branch, i found this issue in previous version. So that's perfect.

Cheers,

[2016-12-14 14:54] ron666 commented on #1949
I added this workflow in 3.x-dev branch. Can you test this so I can close this issue, please?

[2016-12-14 14:59] ron666 commented on #1067
@albell If nothing else to add, can I integrate what I have in 3.x-dev branch and close this issue?

[2016-12-14 15:17] thejamespower commented on #1963
@ron666, will do. Report back shortly.

[2016-12-14 15:25] thejamespower commented on #1963
@ron666 both 'auto' and 'respsonsive' modes in the demo from 3.x-dev work perfectly. Unforunately we require IE8 support (_yeah, I know_), do you have any idea how to get 3.x working for IE8?

[2016-12-14 15:32] ron666 commented on #1963
You can test in IE8 and let me nnow if you see any issues and I can guide you from there. The first issue is the SVGs so I'll recommend you to create custom CSS to support png for the control bar and big play button. Other than that I can't think of anything else but let me know

[2016-12-14 15:34] ron666 commented on #1963
Closing this issue now

[2016-12-14 15:34] #1963 closed

[2016-12-14 15:37] #1949 closed

[2016-12-14 15:39] thejamespower commented on #1963
None of the test/demo pages work in IE8, Flash fallback doesn't seem to be kicking in. Just see a <video> element in the DOM.

[2016-12-14 15:44] ron666 commented on #1963
Ok I'll check it and let you know what you can do to support IE8 in a minute

[2016-12-14 15:45] ron666 commented on #1963
You might need to check the demo file in the 3.x branch as well to see if there are other outstanding issues

[2016-12-14 15:45] ron666 commented on #1963
Or can you provide me a URL to check it on IE8 please?

[2016-12-14 15:47] marjune163 commented on #1949
I tested with latest codes from 3.x-dev. Works without issue.

[2016-12-14 15:50] thejamespower commented on #1963
I was using the demo files from the 3.x branch to test in IE8. 2.23.4 works fine in IE8, except the Flash embedded `<Object>` doesn't scale correctly.

[2016-12-14 16:33] ron666 commented on #1963
OK I found out a couple of things that could affect IE8. I fixed some of the things but the most outstanding one was the fact that if I set the files at the top instead at the bottom it will work immediately. Can you check again please doing that change of the JS files putting them at the top?

[2016-12-14 16:55] thejamespower commented on #1963
Putting the JS files in the head doesn't fix it for me in IE8. Demo/index.html fails silently.

Trying test/flash.html in IE8 returns:

'class_name' is undefined on medialementplayer-simple.js on lines 46 and 48.

[code]

[2016-12-14 16:59] ron666 commented on #1963
Did you download the latest version of 3.x-dev? That's where I fixed that thing and tested putting the files at the top

[2016-12-15 04:03] johndyer commented on #1067
I rebuilt the icons and merged the bigplay.png and loading.gifs into one file here on #1964. Hopefully that'll make things like this easier.

[2016-12-15 11:08] kvz commented on #1566
Happens in Webpack also. I think you can reproduce by adding `'use strict'` to the headers of your sources.

[2016-12-15 12:08] ron666 commented on #1067
@johndyer I added the button in the `controls.svg`; when you re-create the PR, consider that button as well. Thanks.

[2016-12-15 12:10] #1067 closed

[2016-12-15 12:15] ron666 commented on #1067
Closing issue since button is now part of 3.x-dev

[2016-12-15 14:46] Aybee opened #1966 "setCurrentTime() starts playing unwanted"
Environment:
- Windows 10
- ver 2.23.4
- Firefox 50.1.0
- Youtube video

I've done the test with your demo/mediaelementplayer-youtube.html
[code]
The video starts playing immediately. Even this media.pause() will not help to pause it.

[2016-12-15 14:52] ron666 commented on #1966
@Aybee Thanks for pointing this. Can you try 3.x-dev version and check if the issue is there, please? That's my current focus since it will be released soon

[2016-12-15 18:33] albell commented on #1067
@johndyer file type nit: Could bigplay.png be an svg? I would really like to steer towards all-vector images if possible, for reasons of file size but also for resolution-independence. My understanding is the project is assuming support for svg-as-img as of v3.0.

[2016-12-15 19:30] ron666 commented on #1067
@albell I just pushed the PR from @johndyer. Now we'll use new SVG sprite and preserving the other for backward compatibility. The PNG files are there but they are not used at all in our stylesheet. If any users wants to support old browsers, they could use that in their own custom stylesheet

[2016-12-15 20:02] ron666 commented on #1067
@johndyer The "legacy" stylesheet also uses the new control bar styles and the old PNGs and GIF are now removed completely. Just FYI

[2016-12-15 20:03] ron666 commented on #1067
The only PNGs we have is a sprite that matches the new SVG sprite just in case somebody wants to use them

[2016-12-15 20:07] Aybee commented on #1966
It's the same with 3.x-dev - tested with test/youtube.html
[code]
Also **youtubeIframeVars** will not work. Parameter **start** does not appear in the iframe **src**.
[code]
BTW both `<video>` and `<iframe>` version are creating an **iframe**.

[2016-12-15 20:12] ron666 commented on #1966
I'll take a look and let you know asap

[2016-12-15 21:11] ron666 commented on #1966
@Aybee I tested using setCurrentTime and it worked for me using the latest version. Just FYI you cannot configure any iframe vars since it could cause unexpected behavior. And we need to maintain consistency for all the other media types, so that's why they got removed. Test it and let me know. Thanks

[2016-12-15 21:26] ron666 commented on #1959
@andyh4 I removed the branch but the solution you were talking about was:
[code]
for the `enterFullscreen()` method and
[code]
for the `exitFullscreen()`, correct? Let me know so I can add it into `3.x-dev` branch, please. Thanks

[2016-12-16 05:44] virginiadb opened #1967 "How to change the size of the button?"
How to change the size of the button?

[2016-12-16 10:06] Aybee commented on #1966
Same as before it did not work. How exactly did you do your test with the youtube video?

I will open a new ticket regarding youtubeIframeVars.

[2016-12-16 10:21] Aybee opened #1968 "Modifying the youtube embed query params"
In version 3.x-dev you removed the `youtubeIframeVars` option. But mediaelement creates those query params on the youtube URL.
[code]
So how can we modify them or didn't we have to? e.g. whit the param `start` we could set a start time in seconds and with `end` the endtime.

[2016-12-16 10:28] Aybee opened #1969 "Option for youtube nocookie"
By changing the embed youtube URL from `youtube.com` to `youtube-nocookie.com` we can strengthen the data integrity for youtube videos. So there should be an option to set this one.

[2016-12-16 10:52] thejamespower commented on #1963
Yep, still no luck. I to get 2.23.4 working correctly, and the Flash object scaling correctly in IE8, but now the poster image is a crazy size. 😔

[2016-12-16 11:46] ron666 commented on #1966
In which browser you are testing? I checked on Chrome and Firefox and worked for me. I set up the JS for the setCurrentTime option and that did the trick

[2016-12-16 11:48] ron666 commented on #1967
Can you indicate which button you are talking about, please?

[2016-12-16 11:49] ron666 commented on #1969
Thanks for pointing this. I'll provide support for this by allowing that type of URL to be accepted. The change will be placed on 3.x version

[2016-12-16 11:51] ron666 commented on #1968
You are right. Some of this parameters cannot be touched like `enablejsapi` but the ones you mention totally. I'll integrate some of them through a configuration variable so you can override them

[2016-12-16 11:53] ron666 commented on #1966
Oh I see that you tested on Firefox 50.10. Let me take a look at which version I have. For reference I'm using Mac for this, which OS you are using?

[2016-12-16 11:56] ron666 commented on #1963
That's odd. I used browserstack to test this in IE8 and worked for me. I'll try to take a second look.

[2016-12-16 13:57] ron666 commented on #1969
@Aybee Currently you can use `youtube-nocookie.com` in `3.x-dev` with no issues. Test it and let me know. This is what I used in the `/test/youtube.html`file:

[code]
Let me know if that works for you

[2016-12-16 14:00] ron666 commented on #1966
I have no issues in FF 50.10 Mac using the following code in `/test/youtube.html` in 3.x-dev branch:

[code]

Let me know if works for you or provide me a URL so I can check this issue. Thanks

[2016-12-16 14:55] ron666 commented on #1968
@Aybee Thanks for pointing this out, because I found a bug that was causing the variables to not be passed and overridden. I'll get a fix soon, and you can test again in `3.x-dev` branch

[2016-12-16 15:16] ron666 commented on #1968
@Aybee Fix is in place; please confirm that it works for you

[2016-12-16 15:16] #1967 closed

[2016-12-16 15:26] ron666 commented on #1963
@thejamespower I used the demo file in `3.x-dev`, tested in Browserstack on Win7 IE8 and it worked for me.
<img width="952" alt="screen shot 2016-12-16 at 10 24 42 am" src="https://cloud.githubusercontent.com/assets/910829/21267814/fe9b5a90-c379-11e6-9b1a-366b49ec74ee.png">
The only thing is the icons since they are SVGs.

Here's the markup I used for the demo file; please test it and let me know:

[2016-12-16 18:59] albell commented on #1067
Got it. Thx

[2016-12-18 14:12] ron666 commented on #1566
This should be fixed in 3.x-dev version can you test this please?

[2016-12-19 12:11] Aybee commented on #1968
Windows 10

It works with the video version. With iframe version the URL stays untouched - no parameter at all.

[2016-12-19 12:26] Aybee commented on #1966
I'm on Windows 10
Tested with Firefox, Chrome and Opera

http://public.andreasburg.de/mediaelement-3.x-dev/test/youtube.html

Video version runs immediately at 60s. Iframe version has no effect at all.

[2016-12-19 12:42] ron666 commented on #1966
Thanks for the URL I'll check it and keep you posted

[2016-12-19 12:44] ron666 commented on #1968
In the test file the iframe doesn't have the class that the video tag; can you add the class and let me know if it works for you?

[2016-12-19 12:45] Aybee commented on #1969
Yes I know that I can use the nocookie domain. But I thought about an option so mediaelement will alter the normal domain to the nocookie domain.
`youtubeNoCookie: true`
But maybe this is not necessary. Mediaelement is integrated in the CMS Contao https://github.com/contao/core/tree/master/assets/jquery/mediaelement/2.21.2

I thought about an option for editors that when they create a youtube cont

[2016-12-19 12:46] ron666 commented on #1966
The iframe in the example seems to not have the same class as the video tag; can you add it to the iframe and let me know if it works for you?

[2016-12-19 12:48] ron666 commented on #1969
Thanks for testing this. I'll add the option later today but closing this ticket per your answer above.

[2016-12-19 12:48] #1969 closed

[2016-12-19 15:34] Aybee commented on #1969
Thank you very much.

[2016-12-19 15:43] Aybee commented on #1966
Yes, now that you mention it. This was missing in your youtube.html. I've added the class. Now both videos play immediately.
http://public.andreasburg.de/mediaelement-3.x-dev/test/youtube.html
And this is with media.pause() activated
http://public.andreasburg.de/mediaelement-3.x-dev/test/youtube-pause.html
No preview picture but seems to work.

[2016-12-19 15:47] Aybee commented on #1968
Yes, thank you. It seems to work.
http://public.andreasburg.de/mediaelement-3.x-dev/test/youtube-start.html

[2016-12-19 15:48] ron666 commented on #1966
Good to know. Closing issue per your comments

[2016-12-19 15:48] #1966 closed

[2016-12-19 15:48] ron666 commented on #1968
Thanks for confirming. Closing issue now

[2016-12-19 15:48] #1968 closed

[2016-12-19 15:48] Aybee commented on #1968
Seems to work better than using setCurrentTime().

[2016-12-19 18:16] ron666 commented on #1959
@andyh4 Just FYI your fix was cleaner than the other approach and it's a valid approach using `!important` on the CSS styles. I pushed this fix and the latest version has this fixed. I used Android for testing and everything seems fine. Let me know if it works for you and close this ticket please

[2016-12-19 18:48] ron666 commented on #1912
@Pawluczkowycz and @albell I found a possible solution for this without disturbing the current markup. http://hardlikesoftware.com/weblog/2009/11/04/css-sprites-vs-high-contrast-mode/. Seems a smart approach and I can add a configuration element to activate the high contrast workflow as well as one to determine the location or path of the icons sprite. For the progress bar and volume, so far I thi

[2016-12-20 15:40] FrankDaze opened #1970 "double audio in video on Edge and Android"
@ron666
Hi, I have a new problem. On Win10 Edge and Android devices it seems that the video plays a 2nd time with a small loading delay. So I have picture with sound and an additional sound.

LiveURL:
[http://www.toggo.de/videos/index-103.htm](http://www.toggo.de/videos/index-103.htm)

I have the feeling that both video tags are playing at the same time.
It would be nice if you could have a look a

[2016-12-20 15:48] ron666 commented on #1970
@FrankDaze I'll check this and let you know what are my findings

[2016-12-20 16:23] ron666 commented on #1970
@FrankDaze can you test `/test/hls.js` file and see if the same behavior happens there, please? Need to confirm if it is something related to the player or to `hls.js`

[2016-12-20 18:09] FrankDaze commented on #1970
tomorrow I will build a test scenario with the /test/hls.htm
I will tell you the result.

[2016-12-20 18:10] ron666 commented on #1970
thanks

[2016-12-20 19:05] andyh4 commented on #1959
Works for me, thanks!.

[2016-12-20 19:05] #1959 closed

[2016-12-21 06:41] NayanKhedkar opened #1971 "Firefox: The video player fullscreen icon is underlined"
![issue 2](https://cloud.githubusercontent.com/assets/16237837/21390387/b9b5e3c8-c7ac-11e6-93f9-e57621d6082d.png)

[2016-12-21 06:49] sarveshwar-gavhane commented on #1971
![issue 2](https://cloud.githubusercontent.com/assets/12641875/21379927/aab4d2d8-c777-11e6-95a3-6df21f11e5a4.png)

[2016-12-21 07:50] FrankDaze commented on #1970
Before I start building a new test setup, I found out the problem is in all browsers and devices with native HLS support. This includes  Windows 10 (Microsoft Edge), OS X 10.6+ (Safari and QuickTime), iOS 3.0+ (Safari), and Android 4.1+[23] (Google Chrome). This browsers don't need the hls.js extention and it seems that is the reason why the video is played twice in this case.

[2016-12-21 08:44] FrankDaze commented on #1970
![debug](https://cloud.githubusercontent.com/assets/22960630/21382546/9c0e671e-c761-11e6-99f2-22e2436ce68b.PNG)

I debugged my page with Chrome and an Android device and I found out, that the 2nd video tag is set to display:none but is also playing the video file, but you only hear it's sound. If I remove the 2nd element the 2nd audio stops.

[2016-12-21 10:31] thejamespower commented on #1963
hey @ron666, sorry for late reply. I tried testing this just now and IE8 would crash on trying to open the page. Can't even get through to the console to debug.  I'm using a real Win7 machine, so not sure if this is a different build to BrowerStack.

<img width="409" alt="screen shot 2016-12-21 at 10 30 20" src="https://cloud.githubusercontent.com/assets/7080202/21385971/8c165d10-c768-11e6-8536-4f

[2016-12-21 10:41] thejamespower commented on #1963
In other news, I've managed to get the 2.23.4 Flash working relatively well in IE8, however the MediaElement doesn't size correctly, until the user clicks and initiates playback. (Below screenshot is from Chrome in mode: 'shim' to force Flash.
<img width="2500" alt="screen shot 2016-12-21 at 10 38 05" src="https://cloud.githubusercontent.com/assets/7080202/21386216/b38313b0-c769-11e6-97ec-3788e972

[2016-12-21 11:36] FrankDaze commented on #1970
my fix for now is to add an eventlisterner for 'playing' to the hls video tag and if it's playing I pause the mejs video tag.

[2016-12-21 11:47] ron666 commented on #1970
@FrankDaze Thanks for the research. I'll add a workflow to pause video/audio if not displayed

[2016-12-21 11:47] ron666 commented on #1971
@NayanKhedkar Can you test `3.x-dev` and tell me if the issue is there, please?

[2016-12-21 11:50] NayanKhedkar commented on #1971
@ron666 sure

[2016-12-21 13:04] ron666 commented on #1963
Interesting. Let's see if I can get a IE8 virtual box and test this directly there and I'll let you know

[2016-12-21 13:07] NayanKhedkar commented on #1971
@ron666  I had a quick test 3.x-dev, and realised that issue is still there.

![fullscreen-icon-issue](https://cloud.githubusercontent.com/assets/16237837/21390298/4911392e-c7ac-11e6-8a59-29fa9413e6a0.png)

[2016-12-21 13:56] ron666 commented on #1971
I think something is not referenced correctly since the player bar looks different on 3.x-dev can you send me a URL so I can check this, please?

[2016-12-21 14:05] NayanKhedkar commented on #1971
I have used mediaelement-and-player.js file and mediaelementplayer.css file and tested locally so I am not able to share the URL. Can you please share the link where I can upload my demo work for your reference?

[2016-12-21 16:06] ron666 commented on #1971
Just post the HTML you used and I'll take a look

[2016-12-24 01:04] SeventhCycle commented on #1874
Hi @ron666,

I went ahead and got a Gear VR. I see some promise here!

http://seventhcycle.net/mejsdev/test/player-full.html

When I choose the VR option on this page and play the video, you can put the video fullscreen. When you do, there's a series of options (2d, 360 degree Top Bottom, 180 degree Side by Side, etc) This video seems to be 360 degree Top Bottom. If you put it in that mode, you ge

[2016-12-24 13:29] ron666 commented on #1874
Thanks for your observations. I'll check it and let you know my findings. Happy holidays as well for you too!

[2016-12-24 14:12] ron666 commented on #1971
This is what I see on 3.x-dev on FF:
<img width="1163" alt="screen shot 2016-12-24 at 9 09 39 am" src="https://cloud.githubusercontent.com/assets/910829/21467360/de7e957a-c9b8-11e6-89d8-4c0d13f752f6.png">
<img width="365" alt="screen shot 2016-12-24 at 9 10 15 am" src="https://cloud.githubusercontent.com/assets/910829/21467364/fc7200e4-c9b8-11e6-825b-bffc197f1e6c.png">
Notice that the icons and co

[2016-12-24 16:21] ron666 commented on #1874
OK just download the latest version of the `vr-support` branch and use the `/test/player-full.html` file to test this; if you use demos it won't work since the code for VR has been integrated yet in the compiled files. Let me know if it worked for you now. I saw an error message but I don't see it now after the minor fix I set.
<img width="711" alt="screen shot 2016-12-24 at 11 21 17 am" src="http

[2016-12-24 16:56] ron666 commented on #1970
@FrankDaze can you check the latest version of `3.x-dev` and confirm this is solved, please? Thanks and happy holidays!

[2016-12-26 20:31] SeventhCycle commented on #1874
Hi,

The video shows up now within a browser window.

When I put the video fullscreen, I still have to set the settings in order to determine what kind of immersion playback I want.

It might be worth waiting until the WebVR spec (https://iswebvrready.org/) is ready, and Google VR View integrates with it (if possible). I noticed on KRpano 1.19 that I don't have to configure settings for my device

[2016-12-28 13:40] AbdurrahmanAyyildiz commented on #1950
but you didn't add this version to demo folder already:

![image](https://cloud.githubusercontent.com/assets/8404792/21523130/ef64830a-cd13-11e6-8d51-7a9c23741f76.png)

[2016-12-28 14:44] AbdurrahmanAyyildiz opened #1973 "New media player version for demo folder?"
Could you add this circle grab and scroll version to demo folder?

![image](https://cloud.githubusercontent.com/assets/8404792/21523130/ef64830a-cd13-11e6-8d51-7a9c23741f76.png)

I am waiting for it =))

[2016-12-28 19:04] MosheL opened #1974 "v3 is not working on Opera Webkit@Android, due a bug in webkit itself."
Video displayed. I hit - did not work on Opera on Android and on our "native" application - WebView.

tried to play via JS console - did not work.

trying to debug, and found this function: `canPlayType` (of HtmlMediaElement).

inspecting in  F12 console:

[code]

I was modified this function on this ugly way:

[code]

works.

I do not know what to say, just to note somewhere.

[2016-12-28 19:13] MosheL opened #1975 "HLS JS is fetching via HTTPS"
`https://cdn.jsdelivr.net/hls.js/latest/hls.min.js`
I found this not working on some systems due a HTTPS problems.

I think it's need to start via current protocol (E.G. HTTP if the website is HTTP only). also, there is need an option to change the URL, to use in internal networks without  Internet.

[2016-12-28 19:21] MosheL commented on #1974
for testing, I can use this on my WebView:
    http://www.leanbackplayer.com/test/h5mt.html

all MP4 are red.

[2016-12-29 04:36] ron666 commented on #1975
@MosheL Thanks for the advise. I'll see how I can integrate an option to indicate the script path for each one of the renderers and I'll let you know

[2016-12-29 05:23] ron666 commented on #1973
@AbdurrahmanAyyildiz Styles added just on demo folder along with explanation; please let me know if that works for you

[2016-12-29 05:31] ron666 commented on #1874
I'll need to check the spec since it's not my area of expertise. Google VR has some additional configuration but I haven't explored it completely. If you find anything that is useful to complete the integration of this piece into MediaElement I'd appreciate it. I'm trying to contact the authors to check some missing features that should be before releasing this, so I'm also waiting for some answer

[2016-12-29 05:56] ron666 commented on #1975
@MosheL Please test `renderers-path` branch. Each one of the renderers now includes a `path` element to indicate the location of the library, so you can use a local library if needed. Let me know if that works for you and I'll wait for your response in terms of the HTTPS protocol issue so I can modify it if necessary on this branch, and then merge it into `3.x-dev`

[2016-12-29 06:44] MosheL commented on #1975
1. the simple option is OK when we have an Internet connection witout HTTPS.

2. I need to deep test it. the "path" is needed only for `hls` / `dash`. the FB and etc is useless if you don't have an relative-open Internet connection.

[2016-12-29 06:47] MosheL commented on #1974
I know that .webm support is better, but my  system did not support this and we work only with MP4. without his ugly  hack I can't play any video in these browsers :-( .

there is a second option. If I started with HTML `<video>`,  you can test the  `tag.duration`. if it not empty, you can just skip the renderes and stay with default HTML5.

[2016-12-29 06:47] ron666 commented on #1975
I'd think that the HTTPS should cause any conflicts even if you use an HTTP connection; the reverse would actually cause issues. Let me know about this, and if it is a really valid concern I'll remove the protocol. And yes, I agree with the DASH and HLS approach. I can set up this for FLV as well, but please test and let me know if this works for you before I do anything else

[2016-12-29 06:49] ron666 commented on #1974
Interesting. I may need to research some more about this one. I'll keep you posted

[2016-12-29 07:01] MosheL commented on #1974
It works,s if `preload` did not set to none.

[2016-12-29 07:15] MosheL commented on #1975
The HTTPS make conflicts when the client is using an Internet connection with filter (e.g Internet Rimon).

They do MITM for filtering HTTPS and if you select not to trust these SSL Certificates, you are in problems like this.
so If the main website do not use SSL, skip it, for all.

[2016-12-29 12:55] ron666 commented on #1975
@MosheL I see. I'll add the path option only for DASH, HLS and FLV and remove the protocol in the libraries overall. I'll let you know when it's ready.

[2016-12-29 13:16] ron666 commented on #1975
@MosheL New enhancements described above now added in `3.x-dev` branch. Please let me know if it works for you and if so, close this ticket please. Thanks.

[2016-12-29 13:48] ron666 commented on #1974
Seems that the best solution is to implement what you just implemented, but I have 2 questions:

1) Why to do you target HLS videos as native in Android with this line: `type.indexOf("mpegURL")>0`?
2) What is the purpose of this element: `navigator.userAgent.indexOf("Android") >4`? Why not just use `navigator.userAgent.indexOf("Android") > -1`

[2016-12-29 14:49] MosheL commented on #1974
1. android support HLS out of the box, no need of hls.js.

2.  keyboard mistake. it just working.

[2016-12-29 15:33] ron666 commented on #1974
ok I'll check this and implement a solution for this. Thanks

[2016-12-30 12:21] dsslimshaddy opened #1977 "changing audio tracks"
Is there anyway to have multiple audio for a single video ? Changing audio Track while video is still playing ?
If its not a support yet would you add it in 3.0 ?

[2016-12-30 19:57] AbdurrahmanAyyildiz commented on #1973
thank you =)

[2016-12-31 03:25] ron666 commented on #1977
The request was on #1891 but nothing has been done. Can you review the approach on that issue and let me know if that's what you are talking about?

[2016-12-31 13:32] dsslimshaddy commented on #1977
Yes it think it is what i was asking

[2016-12-31 14:06] ron666 commented on #1974
@MosheL Please test the fix for this by downloading the latest version of `3.x-dev` branch and close this ticket if it worked; now it is being detected native support for HLS not just on Android but also on Safari and Edge, and your workaround to force support to MP3 and MP4 in Android has been integrated. Thanks.

[2016-12-31 14:18] ron666 commented on #1977
Since ticket has been created and tagged properly, I'll close this one and you can follow up the progress on this through the ticket listed above. Thanks.

[2016-12-31 14:18] #1977 closed

[2017-01-03 10:11] ron666 commented on #1042
@szepeviktor can you please start reviewing the `mejs-ES6` branch and provide feedback about it? It's still work in progress but another pair of eyes will help me to speed this up; also the idea is to use Travis to test code

[2017-01-03 10:15] ron666 commented on #1971
Closing this issue since no more comments added in the past 2 weeks. If you would like to be reopen please let us know. Thanks

[2017-01-03 10:15] #1971 closed

[2017-01-03 10:16] ron666 commented on #1970
Closing this issue since no more comments added in the past 2 weeks. If you would like to be reopen please let us know. Thanks

[2017-01-03 10:16] #1970 closed

[2017-01-03 15:57] andyh4 opened #1981 "Missing trailing space in buildvolume()"
There is a trailing space missing on class="...'volume-button'... in the buildvolume function, specifically, the horizontal volume append markup.  In the browser, the missing space combines classes "volume-button" and "mute" like this:

[code]

I suggest the following change be made:

Change this:

[code]

To this:

[code]

[2017-01-03 18:03] ron666 commented on #1981
Thanks for pointing this. I'll fix this asap and let you know

[2017-01-04 01:17] ron666 commented on #1981
Closing issue since fix has been placed in `3.x-dev` branch. Thanks

[2017-01-04 01:17] #1981 closed

[2017-01-04 08:11] FrankDaze opened #1982 "is it possible to disable hls.js support?"
Hi Ron,

happy new year. :)

I still have the problem with mixed content on Android devices. If I have a hls streamed video and then a native mp4 file I have to click play again, because the mp4 video tag hasn't got a click event.

HLS seems to be supported natively on Android and IOS devices, so it is not needed to use the hls.js on this devices (my theory). So, is it possible, if I detect my sit

[2017-01-04 09:29] ron666 commented on #1982
This issue is already been solved; please download the latest version that takes care of detecting if browsers supports native HLS and let me know if it works for you

[2017-01-04 09:32] FrankDaze commented on #1982
ah ok cool, I will check that.

[2017-01-04 13:16] szepeviktor commented on #1042
Please consider adding a non-global test
https://github.com/johndyer/mediaelement/blob/mejs-es6/test/player.spec.js#L1773

[2017-01-04 13:30] ron666 commented on #1982
Use the classPrefix: 'mejs-' in the configuration and use the mediaelementplayer-legacy.css style sheet. You should be fine with it

[2017-01-04 13:31] FrankDaze commented on #1982
ok, I found the class prefix setting. Looks better now. :) Testing now the Android function.

[2017-01-04 13:51] FrankDaze commented on #1982
I have still the same problem with the second click on the play button on Android devices.

You can test it here: http://toggo-elex2.beta.eoa.de/videos/eoa/videokategorie-neu-566.htm?v=d37e318da49e2a724b0130a31cd6e7f0&AdDevMode=1

First you see a short video clip "Werbung Anfang" (Start Ad) HLS Video, then the Ad mp4 and then "Werbung Ende" HLS Video.

After the first video clip I have to click on

[2017-01-04 14:01] ron666 commented on #1982
The 2 tags is expected; we preserve the original node in the event we need to extract other info, like the original URL of the HLS source before it's been converted to BLOB by hls.js. Let me check the issue with the play button, but is the issue stated on this ticket resolved?

[2017-01-04 14:53] FrankDaze commented on #1982
no it's not solved, sorry. I asked for nativ hls support on Android to use only 1 video tag on that device, to avoid the 2nd click problem.

On Android you can use the normal video tag with the video URL, the blob tag is not needed.
Then all videos run on the same video tag and you don't have to click on play again.

[2017-01-04 16:00] ron666 commented on #1982
I see. Let me test one more time, because I tested on Safari (another browser that supports native HLS) and I didn't get the second video tag

[2017-01-04 16:04] FrankDaze commented on #1982
I use a Huawei P8 with Android 6, a Nexus 9 with Android 7 and a Kindle Fire HDX 3rd Gen. with Android 4.4.2 -> all with Chrome as Browser.

A good way to test with Android devices is to connect your Galaxy via USB cable and open Chrome on your computer. Then you can do a remote debugging inside Chrome.

[2017-01-04 16:05] ron666 commented on #1982
Perfect I appreciate your help. I'll check this and keep you posted

[2017-01-04 16:37] ron666 commented on #1982
I just tested http://johndyer.github.io/mediaelement/ in my Android device and directly selected the HLS source. I see only a video tag
<img width="719" alt="screen shot 2017-01-04 at 11 34 00 am" src="https://cloud.githubusercontent.com/assets/910829/21650125/fa7d4fb6-d271-11e6-8306-52d0d7555745.png">
The website is using the latest version of `3.x-dev`. I'm gonna try to use Browserstack to see i

[2017-01-04 16:43] ron666 commented on #1982
I could test Nexus 9 with Android 5.1 and I see only a video tag
<img width="737" alt="screen shot 2017-01-04 at 11 42 35 am" src="https://cloud.githubusercontent.com/assets/910829/21650439/fc946428-d272-11e6-8b1b-b7f2e8468223.png">

[2017-01-04 16:47] FrankDaze commented on #1982
this source looks absolutely different, because it's 1 video tag with a seperate <source> and <track> tag.

[2017-01-04 17:01] ron666 commented on #1982
It should you just need to use git checkout 3.x-dev inside the folder to change to that branch

[2017-01-04 17:04] FrankDaze commented on #1982
tomorrow, I will check out the branch via git and test again. I had no idea that the zip file is not from the branch.

Thanks for you help so far. Tomorrow I will tell you the new result.

[2017-01-04 17:05] ron666 commented on #1982
Sounds good; keep me posted

[2017-01-04 17:28] dsslimshaddy opened #1983 "Youtube StoryBoard Thumbnails in <video>"
Like <iframe> is there any possibility to add a storyboard thumbnail preview while hovering over the time-rail ?

[2017-01-04 18:45] ron666 commented on #1983
Not currently. We'll need to analyze how complex is to do this particular feature

[2017-01-04 19:21] ron666 commented on #1042
Yes, this was removed in a push I made today

[2017-01-04 20:35] dsslimshaddy commented on #1983
I have a script that gets the storyboard urls from youtube.

And another from previous version that reads vtt/srt files and displays preview thumbnails https://github.com/jronallo/mep-feature-time-rail-thumbnail

Ill try to combine it and see if that works out.

[2017-01-05 08:09] FrankDaze commented on #1982
ok this morning I made a checkout of the 3.x-dev branch via GIT, but the code of the mediaelement-and-player.js is the same as yesterday. I used Winmerge to compare my files. Must be something other that is different.

I made only updates to the mediaelement-and-player.js file. Do I have to change something for the player initialization ?

[2017-01-05 08:48] FrankDaze commented on #1982
the feature list looks fine so far:
cancelFullScreen:()
fullScreenEventName:"webkitfullscreenchange"
hasFirefoxPluginMovingProblem:false
hasMozNativeFullScreen:false
hasMsNativeFullScreen:false
hasMse:true
hasNativeFullscreen:false
hasTouch:true
hasTrueNativeFullScreen:true
hasWebkitNativeFullScreen:true
hasiOSFullScreen:false
isAndroid:true
isChrome:true
isFirefox:false
isFullScreen:()
isIE:false

[2017-01-05 08:50] FrankDaze commented on #1982
oh is it possible, that my config is the problem?

var mediaPlayerConf = {
					renderers: ['native_hls', 'flash_hls','html5'],
					pluginPath: '../../rtli-video-player/mediaelement/3/',
					enablePluginDebug: 0,
					showPosterWhenEnded: true,
					alwaysShowControls: true,
					enableAutosize: true,
					features: ['playpause','stop','progress','current','duration','volume','fullscreen'],

[2017-01-05 08:52] FrankDaze commented on #1982
oh found the problem. The renderers sorting is importing.
With this sort it works: renderers: ['html5','native_hls', 'flash_hls']

[2017-01-05 11:11] ron666 commented on #1982
Glad you found the problem. So can you see the expected output in Android now?

[2017-01-05 11:14] FrankDaze commented on #1982
yes, I have only one video tag now under Android. I have to check now all other browsers and iPhone again until I can put it to the live server. But the Android problem seems to be solved now. :-)

[2017-01-05 11:16] ron666 commented on #1982
Sounds good. Let me know when you finish your tests so I can close this issue please

[2017-01-05 18:27] zerocrates opened #1984 "mejsL10n "Wordpress support" broken"
The Wordpress support was briefly taken away then restored, but in the process [one reference to `mejsL10n.language` was changed to `mejsL10n.lang`](https://github.com/johndyer/mediaelement/commit/e1728cda0718be493c140a32c5444f1844af8ff2#diff-ad9332af36a6fbfab05490269175d217R236). This seems to just be an accident, as the references elsewhere remain to `language`, and the Wordpress side of things

[2017-01-05 18:31] ron666 commented on #1984
Thanks for pointing this. I'll fix it in the 3.x-dev branch, since it is my major focus and it will be released soon.

[2017-01-05 18:53] ron666 commented on #1984
Fix set in place for `3.x-dev` branch

[2017-01-06 10:31] FrankDaze commented on #1982
@ron666 I'm still in test phase, but I found out that the volume slide has a strange behavior on my website.

Can you see any reason for this?

Same testlink as before: http://toggo-elex2.beta.eoa.de/videos/eoa/videokategorie-neu-566.htm?v=d37e318da49e2a724b0130a31cd6e7f0&AdDevMode=1

[2017-01-06 11:12] ron666 commented on #1982
Which browser are you testing so I can attempt to reproduce the issue?

[2017-01-06 11:18] FrankDaze commented on #1982
I found the problem. I had to remove to top value in my css for .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle
and for .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current

[2017-01-06 11:19] ron666 commented on #1982
Oh I see what you are saying. So what you are seeing is if you slide up the bar goes down?

[2017-01-06 11:20] ron666 commented on #1982
Gotcha. Any other issue?

[2017-01-06 11:55] ron666 commented on #1984
Since this might be affecting a great number of users, I'll put the fix on 2.x version and push a new release in a minute. Closing this ticket now.

[2017-01-06 11:55] #1984 closed

[2017-01-06 12:24] FrankDaze commented on #1982
hehe yes. It was a pilot like volume controller :-)

I think the testing procedure can take time until tuesday next week . I have to check the new version again with all possible browsers and that with Win10 and Win7 and Mac OSX.

[2017-01-06 12:50] FrankDaze commented on #1982
After pressing on the play button the videoplayer removes the http:// from my original video soure entry. This is causing an error in my VideoPlaza SDK which need URL with http:// or https://

[2017-01-06 12:57] ron666 commented on #1982
Ok let me check that

[2017-01-06 13:06] FrankDaze commented on #1982
ah ok seems to be no problem in this case. The error come from something other in my Ad Player.

[2017-01-06 13:09] ron666 commented on #1982
Can I see the issue in the same URL ?

[2017-01-06 13:09] ron666 commented on #1982
Ah ok

[2017-01-06 13:11] ron666 commented on #1982
Well keep me posted about any other issues and I'll wait for your final feedback

[2017-01-07 22:59] daveyshindig commented on #310
Hi all,

I am facing this issue in version 2.23.5. Live streaming audio shows NaN:NaN. It's source is an infinite stream, so the duration is Infinity.

When I use the native HTML5 audio player in Firefox, the default behavior is for the progress indicator to jump to the right end as the live stream plays, affording the user the option to jump to earlier parts of the stream already played, all the

[2017-01-07 23:18] ron666 commented on #310
Thanks for pointing this. Can you test this on `3.x-dev` branch and check if it's an issue there please? That's the one I'm currently maintaining and it will be released soon

[2017-01-08 00:48] daveyshindig commented on #310
Hi @ron666, thanks you for getting back to me.

I'm having a bit of trouble testing this with the using the files in the `build` folder of the `3.x-dev` branch. (Hopefully that's the correct set of files to test.) Codepen won't let me to use them directly from Github, so I've hosted the files at http://ktuh.org/temp/. This results in the error `TypeError: $(...).mediaelementplayer is not a functio

[2017-01-08 02:12] ron666 commented on #310
Well I see that in the link above you are still using 2.23.5 version, not 3.x-dev. If you can send me a URL like that so I can check it or modify it for you please do. I couldn't get the error you mentioned above using the CodePen link

[2017-01-08 02:16] ron666 commented on #310
I'm gonna take the code you have in CodePen and make a test file; once I have it ready I'll check if it is an issue, and if not, I'll post the code here. Please stand by for an update. Thanks

[2017-01-08 02:22] ron666 commented on #310
@daveyshindig Please check your CodePen. I updated the stylesheet and JS library to use the 3.x-dev branch and I confirmed it works properly. Please test it and let me know

[2017-01-08 02:32] ron666 commented on #310
I thought the changes were saved but they didn't so I'm posting my code here:
[code]
Hope this helps. Any other questions let me know

[2017-01-08 03:24] daveyshindig commented on #310
Thank you, @ron666. The dev branch does fix the issue with duration display.

I observe another issue. If the source is an infinite stream, then clicking in the progress bar results in the browser console message: `TypeError: Value being assigned to HTMLMediaElement.currentTime is not a finite floating-point value. mediaelement-and-player.min.js:12:12983`. Then mousing over the bar causes audio to

[2017-01-08 18:24] ron666 commented on #1974
Closing this ticket since fix has been merged to `3.x-dev` branch. Thanks

[2017-01-08 18:24] #1974 closed

[2017-01-08 18:24] ron666 commented on #1975
Closing this ticket since fix has been merged to `3.x-dev` branch. Thanks

[2017-01-08 18:24] #1975 closed

[2017-01-08 18:29] ron666 commented on #1983
Let me know and if it's feasible, create a PR. Closing this ticket meanwhile

[2017-01-08 18:29] #1983 closed

[2017-01-08 19:18] ron666 commented on #1042
@szepeviktor I only need to complete more unit tests and the file to test DOM and this feature will be ready 100%. Just FYI

[2017-01-09 08:37] daveyshindig opened #1987 "TypeError on progress bar click when source is an infinite stream"
Hi all,

I noticed in the 3.x-dev branch that if the source is an infinite stream, then clicking in the progress bar results in the browser console message: `TypeError: Value being assigned to HTMLMediaElement.currentTime is not a finite floating-point value. mediaelement-and-player.min.js:12:12983.` After then, moving the mouse around causes this error many additional times, and mousing over the

[2017-01-09 11:53] ron666 commented on #1987
Thanks for pointing this. Let me check this and I'll keep you posted

[2017-01-09 13:40] ron666 commented on #1987
@daveyshindig Please check your CodePen again; now that is using the latest version of `3.x-dev` branch, I just finished added that feature so you will see `Live Broadcast` as Safari does. Please let me know and close this ticket if it worked for you

[2017-01-09 20:02] prakasa1904 commented on #1865
sorry, i have some problem like this now, and still stuck... I just have some question about this :
"You need to pass a Flash variable to be used in the <object> or <embed> tag, since HLS is currently only supported using Flash"

what that mean ? can u give code example, I just add <object></object> in my <video> tag. I guess im wrong...

thx before

[2017-01-09 20:11] prakasa1904 commented on #1865
sorry, some information left behind, I use m3u8 live streaming... this still work, right ?

[2017-01-10 03:45] daveyshindig commented on #1987
Hi @ron666,

This is great, thank you. I notice just one small issue: Firefox for Mac doesn't consistently load the "Live broadcast" text. It seems to load it reliably the first time, but will oftentimes default to the progress bar when reloading the page.

[2017-01-10 04:03] ron666 commented on #1987
Ok I'll take a look to that and let you know when the fix is ready

[2017-01-10 04:04] ron666 commented on #1987
I suppose I need to use the code pen above to test this right?

[2017-01-10 04:10] daveyshindig commented on #1987
You could use the pen or the same html on your local host. I tried both and
got the same results in FF

On Mon, Jan 9, 2017, 6:04 PM Rafael Miranda <notifications@github.com>
wrote:

[2017-01-10 04:38] ron666 commented on #1987
@daveyshindig Ready it should work now. Check your CodePen and let me know

[2017-01-10 05:37] daveyshindig commented on #1987
You are amazing! It works. Thanks again.

[2017-01-10 05:37] #1987 closed

[2017-01-10 07:47] FrankDaze commented on #1982
@ron666 Thanks, you can close the ticket. We double checked the player and it seems to work fine now on all our testsystems & browsers. :-)

[2017-01-10 11:42] ron666 commented on #1982
You are welcome. Glad I could help you

[2017-01-10 11:42] #1982 closed

[2017-01-10 11:43] ron666 commented on #1987
You are welcome

[2017-01-11 12:45] ron666 commented on #1865
@prakasa1904 I strongly recommend you to check 3.x-dev branch and in the test folder you will find an example
Using HLS. That's the branch I'm currently maintaining and it will be released soon

[2017-01-12 08:26] ricking06 opened #1990 "change subs/quality of youtube video"
How do i change the settings of youtube video ? looks like you ovverrided youtube controls.

[2017-01-12 14:18] ron666 commented on #1990
@ricking06 Use the `3.x-dev` branch and using the `youtube` config you can enable the control bar. Something like this:
[code]
Let me know if that works for you.

[2017-01-12 20:51] ricking06 commented on #1990
yeah that works

[2017-01-12 20:51] #1990 closed

[2017-01-12 20:55] ricking06 opened #1991 "Show Subtitles as they speak"
If you see any youtube video for example https://www.youtube.com/watch?v=6fNWTftDyw0

the subtitles words appear as they speak the word

At first i thought the subtitles were *encoded just like that with timestamp* but when i downloaded from https://downsub.com/?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D6fNWTftDyw0
i was suprised .

Is there any possibility of showing the subtitles as they s

[2017-01-13 08:55] ricking06 commented on #1991
OK so i came around this problem did a lil bit of work and looks like its working.

[2017-01-13 13:15] ron666 commented on #1991
Glad to hear it

[2017-01-13 13:15] #1991 closed

[2017-01-13 14:43] FrankDaze opened #1992 "How to use VAST?"
@ron666

Hi I have heard the player is already able to use VAST files from advertisers. Can you tell me how to use it?
Actually I find no description.

thanks in advance
Frank

[2017-01-13 15:05] ron666 commented on #1992
Hi @FrankDaze you'll need to use the `mediaelementplayer-feature-ads-vast.js` file after the mediaelement script in `3.x-dev`. See #1946 for more details

[2017-01-13 15:05] #1992 closed

[2017-01-15 18:34] ron666 commented on #1042
Unit tests and DOM file for testing completed. Now all code is in ES6 specification and it will be pushed tomorrow as part of the 3.0 version. Closing this ticket now

[2017-01-15 18:34] #1042 closed

[2017-01-16 02:45] yang06061079 opened #1993 "chrome console the error:this.pluginApi.pauseMedia is not a function"
After I initialized the player,it can play the video.But then I hide the video player.While I show the player and give another url to the video player,the chrome console the error:this.pluginApi.pauseMedia is not a function.I guess I must initialize the video player again,but I can't find the method.

[2017-01-16 04:24] ron666 commented on #1993
@yang06061079 we are releasing tomorrow the new version of the player. Once it's out, can you check if it's still an issue, please? This new version has rewritten the core package and fixed at the same time many bugs

[2017-01-16 05:39] yang06061079 commented on #1993
I will try.Thank you!

[2017-01-16 05:39] yang06061079 commented on #1993
@ron666 I will try.Thank you!

[2017-01-16 12:37] isantolin opened #1994 "Branch 3.x-dev was removed?"
@ron666 @johndyer i cant find the branch 3.x-dev. Was removed?

[2017-01-16 12:41] ron666 commented on #1994
Yes I removed it today we will release the 3.0 version using the mejs-ES6-final branch, so I needed to do some branch cleaning

[2017-01-16 12:41] #1994 closed

[2017-01-16 19:19] ron666 commented on #1993
You can check it now

[2017-01-16 19:20] ron666 commented on #1940
3.0 version has been released.

[2017-01-16 19:20] #1940 closed

[2017-01-16 19:21] ron666 commented on #887
3.0 version released. Closing issue

[2017-01-16 19:21] #887 closed

[2017-01-17 05:34] sharathdaniel opened #1995 "Controls not hiding on mouseleave when video is not playing."
Hi,

I'm using the latest version from build folder.
Scenario:
- Video is not playing
- hideVideoControlsOnLoad: true
- Mouseover the video, control appears.
- On mouseleave the controls are not hiding

I want the controls to hide on mouseleave even if the video is not playing, this bug defeats the purpose of hideVideoControlsOnLoad option.

[2017-01-17 11:41] ron666 commented on #1995
Can you provide a URL where I can chec this please?

[2017-01-17 12:11] ron666 commented on #1995
And which browser did you use? I set the parameter on my `demo` file and controls are hiding after 2 seconds, which is the default time set with the `controlsTimeoutMouseEnter` option

[2017-01-17 13:27] isantolin opened #1996 "Silverlight in description"
"...player with Flash and Silverlight shims..."

With 3.0, Silverlight is Still valid for shims?

[2017-01-17 13:47] ron666 commented on #1996
@isantolin Not anymore. @johndyer can you remove this from the website please?

[2017-01-17 14:59] arsteam opened #1997 "Video not playing in developer IE11 for Windows Server 2008 R2"
Video's don't start in developer IE11 for Windows Server 2008 R2  at all (IE Version: 11.0.9600.18537).
Loader Pic never stops and video can not be startet.
Works with every other browser except this one.
Also tried it with the video on your home page, http://mediaelementjs.com/, same problem.

[2017-01-17 15:16] ron666 commented on #1997
@arsteam Thanks for checking this. I'll test this on Browserstack and let you know

[2017-01-17 17:23] ron666 commented on #1997
@arsteam I checked this on Browserstack and I couldn't reproduce it. Browserstack doesn't have a WinServer machine thought and I don't have a way to test it in the specific one that you are. This is more an issue with the machine itself than the browser
![screen shot 2017-01-17 at 12 21 24 pm](https://cloud.githubusercontent.com/assets/910829/22031765/b64c0222-dcaf-11e6-91e5-df4c3ad3547d.png)

[2017-01-17 22:46] daveyshindig opened #1998 "TypeError: t.mediaElement.renderer is null"
Greetings,

While 3.x was a WIP, I'd been working to update the [mediaelement Atmosphere package](https://github.com/delgermurun/meteor-mediaelement/) rather than use the NPM package (as now preferred in Meteor apps).

Post-release I found that ES6-style imports don't seem to be working from the NPM package—at least not in Meteor—but I am inexperienced with NPM and might be doing it wrong, and any

[2017-01-17 22:55] ron666 commented on #1998
Thanks for pointing this. This is actually the first time we package mediaelement in Meteor so it is also a learning experience for us. So I'll be happy to take a look to this. The styles can be fixed by using the `classPrefix: 'MEJS-'` in your configuration and use the `mediaelementplayer-legacy.css` style sheet

[2017-01-17 22:57] ron666 commented on #1998
I will add the missing documentation on the RequireJS based on my tests

[2017-01-17 22:58] ron666 commented on #1998
It will be helpful if you also post your HTML so I can try to replicate this issue

[2017-01-17 22:59] ron666 commented on #1993
This issue will be closed since the pluginApi variable doesn't exist anymore on the current version

[2017-01-17 22:59] #1993 closed

[2017-01-17 23:02] ron666 commented on #1998
Just FYI the official Meteor package was pushed during the release of this version

[2017-01-17 23:05] daveyshindig commented on #1998
Hi Ron! Very cool! I see the official package on Atmosphere now. I'll test again using that.

The audio player HTML looks just like this:

[code]

The HTML includes template code for the audio URL, which is set in the OrionJS package, and for a session variable for what's now playing. This solution was working for 2.x in a nearly identical earlier application I'd built.

[2017-01-17 23:05] daveyshindig commented on #1998
Anyway, let me have a go at this with the official package and see if that works better.

[2017-01-17 23:07] ron666 commented on #1998
Ok keep me posted because I as said this is the first time I post a package to Meteor and idk if I missed something

[2017-01-17 23:37] daveyshindig commented on #1998
I am having a different issue with this version.

[code]

In the earlier, unofficial Meteor package, `mediaelementplayer` was placed into global scope, which was typical of packages thru Meteor 1.2. If you tested this out, then could you tell me if you used another way of importing the MEJS functions? I tried these two and got the same error:

[code]

BTW I did update my CSS to use BEM, as I'm alr

[2017-01-17 23:44] ron666 commented on #1998
Interesting. Yeah I need to check that because as far as I'm concerned I did put the code to export it. Can you tell me the command you used to download the official package from Meteor? I'll try to set up a Meteor environment in my machine

[2017-01-17 23:45] daveyshindig commented on #1998
Certainly. Thank you. To add the package just type: `meteor add johndyer:mediaelement` and press enter at the command line.

[2017-01-17 23:46] ron666 commented on #1998
Oh ok I thought you had to do something else. Thanks and I'll keep you posted

[2017-01-17 23:48] daveyshindig commented on #1998
Sure thing. I should mention in case you're not super familiar with Meteor: the release of version 1.3 introduced NPM as well as ES6 imports/exports. The platform is moving toward NPM and away from Atmosphere, so if you're able to use NPM successfully in a Meteor app, you could consider deprecating the official Atmosphere package and referring people to the NPM release instead. I'm sure some peopl

[2017-01-18 00:03] ron666 commented on #1998
Oh ok. Have you tested this with NPM? That's something that was supported before and I didn't know that about meteor

[2017-01-18 00:18] johndyer commented on #1996
Done. We'll get that new website up soon!

On Tue, Jan 17, 2017 at 7:47 AM, Rafael Miranda <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2017-01-18 00:20] ron666 commented on #1996
Thanks @johndyer. Closing this issue

[2017-01-18 00:23] ron666 commented on #1996
@johndyer I checked it and still see it in the description

[2017-01-18 00:25] johndyer commented on #1996
Sorry, there's a little delay from FTP to deployment. Another reason to get
over to the github site!

On Tue, Jan 17, 2017 at 6:23 PM, Rafael Miranda <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2017-01-18 00:29] ron666 commented on #1996
And also we need to remove it from the GituHub page. I can't do it because I can't modify the header of the project

[2017-01-18 01:35] sharathdaniel commented on #1995
I'll make a jsfiddle and will get back to you. I checked in Firefox.

[2017-01-18 02:08] ron666 commented on #1998
@daveyshindig  Ok I've done a little update and when testing this I found out that the error is gone if I import the `node_module` package like this:
[code]
Let me know if that works for you, so I can add this in the documentation

[2017-01-18 02:09] #1996 closed

[2017-01-18 02:09] ron666 commented on #1995
Ok thanks

[2017-01-18 02:20] ron666 commented on #1995
Just FYI I tried with FF 50.1.0 on Mac and it worked. It delays for 2 seconds or so, because it is configured that way. If you add `controlsTimeoutMouseEnter: 1000` and `hideVideoControlsOnLoad: true` to your config you will see it hiding more quickly

[2017-01-18 03:30] daveyshindig commented on #1998
Yes, I did try the NPM package but wasn't able to use it. I tried import statements like `import mediaelement from 'mediaelement';` and others recommended [here](https://guide.meteor.com/using-npm-packages.html#using-npm), but those didn't work for me. Further documentation on config would be helpful for NPM novices like me.

[2017-01-18 03:56] ron666 commented on #1998
Could you use the line I posted above to load mediaelementplayer?

[2017-01-18 05:00] daveyshindig commented on #1998
Certainly, just a moment.

[2017-01-18 05:13] sharathdaniel commented on #1995
Here's the fiddle https://jsfiddle.net/9ghv61fj/

Seems the cdn is having old version of mediaelementjs as hideVideoControlsOnLoad is not working.

[2017-01-18 05:34] daveyshindig commented on #1998
That does the trick to let me call the `mediaelementplayer()` function. I am still having issues with typeError, though.

I'm not sure why,but setting the `pluginPath` to the same relative directory (which is `../../../../node_modules/mediaelement/build/` for me) does not seem to work. Even weirder, setting the path to an absolute path (ie. `/node_modules/mediaelement/build/`) worked once, but pro

[2017-01-18 05:39] daveyshindig commented on #1998
What path did you use for pluginPath?

[2017-01-18 10:43] neonaut opened #1999 "Unminified usage with browserify"
Currently the unminified built files cannot be used in a browserify build directly (as in `require('medialement')`).

The problem is discussed in https://github.com/substack/node-browserify/issues/374 and https://github.com/substack/node-browserify/pull/1151 . I could not figure out a clean way to do the suggested steps (adding a https://github.com/calvinmetcalf/derequire step) with the current bu

[2017-01-18 10:58] neonaut commented on #1999
Just as a side note: I noticed that babel-loader is a devDependency but i could not find out why. babel-loader itself peer-requires webpack which is not used at all here.

[2017-01-18 11:14] ron666 commented on #1998
I didn't set the path since I was trying to investigate the first issue. Let me check how to reference it properly

[2017-01-18 11:16] ron666 commented on #1999
Thanks for pointing this. Does your PR solve this issue?

[2017-01-18 11:17] ron666 commented on #1999
I'll also remove the babel-loader; during my tests I was trying to use webpack but I ended up using browserify and I forgot to remove it

[2017-01-18 11:21] neonaut commented on #1999
The PR only allows you to require files from within `src/js/` in another browserify but does not allow you to require the prebuilt files from `build/` which is what I was initially aiming for. So it is a different issue.

[2017-01-18 11:22] ron666 commented on #1995
Ok let me check since the files should be updated automatically to the CDN

[2017-01-18 11:31] ron666 commented on #1999
OK let me investigate about the `build` issue and keep you posted. Meanwhile I'll merge your PR. Thanks.

[2017-01-18 11:48] ron666 commented on #1995
@sharathdaniel Please download the package from GitHub again and test; I found out that there was a conditional missing that caused that in the `mediaelementplayer` bundle. Try it and let me know. The CDN won't get updated until I release the next version, so I'm working on some other issues and I'll try to get the next version by the end of next week

[2017-01-18 12:14] MorisatoK opened #2001 "3.x + YouTube + iOS (iPad) not working any longer"
Just tried upgrading from 2.x to 3.x and encountered this error which is also reproducable on the YouTube demo page: http://mediaelementjs.com/examples/?name=youtube

Desktop (Chrome) works fine, but opening the page on iPad results in non working YouTube video, meaning black screen and when trying to play throwing JS errors. This is also reproducable in Chrome browser emulation set to iPad.

DevT

[2017-01-18 12:30] dmitrylebedev opened #2002 "ES6 import mediaelement player"
Hi! Could you please explain, may I import mediaelementPlayer without jQuery?

[2017-01-18 12:31] ron666 commented on #2001
Thanks for pointing this. Can you download the version from github and test it again please? I just did a fix that might have solved this

[2017-01-18 12:49] MorisatoK commented on #2001
When using the current master both TypeError messages are gone :)

Is still thrown though and no video showing up. There is also no YouTube iframe generated inside the `<mediaelementwrapper>`

[2017-01-18 12:55] ron666 commented on #2002
Let me work to fix something so I can document how to use this properly. I'll keep you posted

[2017-01-18 12:56] ron666 commented on #2001
Ok I'll take a look and keep you posted

[2017-01-18 12:57] dmitrylebedev commented on #2002
@ron666, ok, thank you

[2017-01-18 13:52] ron666 commented on #2001
@MorisatoK OK Seems to be fixed now. Download the latest package from GitHub and let me know

[2017-01-18 14:05] MorisatoK commented on #2001
Thanks a lot @ron666, YouTube is now working in Mobile Safari and Chrome emulation :+1:

[2017-01-18 14:12] ron666 commented on #2001
Perfect. Closing this issue. This change will be posted in the oncoming release (3.0.1)

[2017-01-18 14:12] #2001 closed

[2017-01-19 06:19] ron666 commented on #1999
@neonaut Please download the latest version of the package and read the documentation about [Usage](../blob/master/docs/usage.md) to learn how to import the package. Let me know if that works for you. Thanks

[2017-01-19 06:21] ron666 commented on #1998
@daveyshindig  Please download the latest version of the package and read the documentation about Usage to learn how to import the package. Let me know if that works for you. I'm still checking the path for the Flash shims, but I'm tempted to say `/packages/johndyer_mediaelement/build/`; I may need to look at the shims and see if the actions are being executed or not. But I'll keep you posted

[2017-01-19 06:22] ron666 commented on #2002
@dmitrylebedev Please read the documentation about [Usage](../blob/master/docs/usage.md) to learn how to import the package; in your case I'd use the second option. Let me know if that works for you. Thanks

[2017-01-19 06:24] daveyshindig commented on #1998
Thank you. I'm just heading to dinner but will be able to check it out by
tomorrow morning at the latest :)

On Wed, Jan 18, 2017, 8:21 PM Rafael Miranda <notifications@github.com>
wrote:

[2017-01-19 06:27] ron666 commented on #1998
Sounds good time. Bon Appétit!

[2017-01-19 10:03] daveyshindig commented on #1998
Trying `import '/path/to/mediaelement/player';` gives me `ReferenceError: mejs is not defined`.

With `import '/path/to/mediaelement/standalone;'` or `import '/path/to/mediaelement/all;'` I get:
[code]

Using absolute paths does the same thing. Setting it to the earlier recommended `import 'relative/path/to/node_modules/mediaelement/build/mediaelement-and-player';` now also gives the same error. I

[2017-01-19 10:17] neonaut commented on #1999
Works like a charm. Thanks!

I am not sure if it is good to use the unminified source as the main entry though. I think most people would prefer the smaller file instead (medialement-and-player is not the smallest of "libraries"), but I'm not too confident on that.

Also I would suggest dropping the `/path/to/` from the Usage documentation. Usually you should not need that when installing it with

[2017-01-19 10:23] neonaut commented on #2002
The problem for me is, that if you only use ES6 `import` you cannot expose jQuery as `window.$` before importing mediaelement. Instead you currently have to something like:

[code]

This does not work, because of how ES6-imports work:

[code]

This would be the desired option:

[code]
 which then should require/import jQuery itself.

[2017-01-19 11:13] ron666 commented on #1998
Great recommendation. I just remember that, in order to make this valid I need to push the changes to NPM and Meteor and can only do it when a new release comes. Tomorrow I'll push it. My apologies

[2017-01-19 11:22] ron666 commented on #2002
Let me test that particular scenario because I thought that the jQuery plugin needed to expose the $ variable that way in order to work with the plugin (or any other). I'll keep you posted

[2017-01-19 11:34] ron666 commented on #1999
Thanks for the suggestion I'll remove the string per you comment above and I'm glad it worked for you

[2017-01-19 11:34] ron666 commented on #1999
Thanks for the suggestion I'll remove the string per you comment above and I'm glad it worked for you

[2017-01-19 11:35] #1999 closed

[2017-01-19 12:28] arsteam commented on #1997
Thanks for the fast reply!

Problem is our customers use Windows (mostly Windows 7 and 10)
And they run this Version of IE11 on it, nothing we can realy do about it.
I testet it again with the Browsers from Microsoft itself and the first on from this page:
(https://www.microsoft.com/en-us/download/Internet-Explorer-11-for-Windows-7-details.aspx)
Has the same Version as our customer has (and the sa

[2017-01-19 12:49] ron666 commented on #1997
i see let me see if I can get a win10 machine and install the Vbox there. Or try on Browserstack that combination. I'll keep you posted. Thanks

[2017-01-19 13:11] ron666 commented on #1997
Can you also send me screenshots of your consul so I can have a better sense of what is the problem on your side please while I try to rip produce the shoot on my side?

[2017-01-19 14:53] ron666 commented on #1847
@isantolin new website uploaded. Thanks @johndyer. Closing this issue

[2017-01-19 14:53] #1847 closed

[2017-01-19 16:07] arsteam commented on #1997
Sry no clue what you mean?!
What consul?

[2017-01-19 16:09] ron666 commented on #1997
So if you are on IE11 and you check your settings icon, you must see one option that says Developer Tools (or use F12, I believe). It will open a subwindow in which there are several options; one of them is Console. Refresh the page without closing the subwindow and it will start debugging the JS code and showing any types of warnings or errors. That's what I'm interested in seeing

[2017-01-19 16:10] ron666 commented on #1997
Sorry for the typos. My autocomplete function was a mess

[2017-01-19 16:24] johndyer commented on #1847
Justing waiting for DNS records to propagate...

On Thu, Jan 19, 2017 at 8:53 AM, Rafael Miranda <notifications@github.com>
wrote:

--
John Dyer - http://j.hn/

[2017-01-19 20:35] ron666 commented on #1998
Also refer to the comments on #1999 where it's proven to work. Just need to push the new release. BTW, I think the proper path for the Flash shims is `/packages/johndyer_mediaelement/build/` but test when it's ready please

[2017-01-19 20:56] SeventhCycle opened #2004 "Migration from v2 to v3."
Hi,

Congratulations on releasing version 3 of the player! It looks very slick, and the ability to play HLS inline on browsers like Firefox is AMAZING!

Before I get started on the issue I'm having, I was wondering if there's a way to donate money to this project? MEJS has helped out a whole lot, so I'd like a way to be able to show thanks.

Okay...

I'm currently trying to migrate over to version

[2017-01-19 21:32] SeventhCycle opened #2005 "Show Controls Graphical Glitch"
Hi,

I've been able to reproduce this issue on Chrome on your website:
http://mediaelementjs.com/

Please try:
1. Hover over the video until the controls disappear.
2. Right click, and choose "Show Controls"

You will see a menubar that looks like this:

<img width="577" alt="image" src="https://cloud.githubusercontent.com/assets/14118781/22126222/ab28acae-de4b-11e6-81c7-66442b66cbfb.png">

Wherea

[2017-01-19 22:07] ron666 commented on #2005
The screenshot doesn't reflect the current website but I'll take a look and see that is not an issue in the new website

[2017-01-19 22:09] SeventhCycle commented on #2005
I just took the screenshot about 30 minutes ago on http://mediaelementjs.com/ using the player that's there.

I was able to reproduce the issue just now on that website as well.

[2017-01-19 22:30] ron666 commented on #2005
@SeventhCycle This is the new website under http://mediaelementjs.com/ and I couldn't reproduce it
<img width="775" alt="screen shot 2017-01-19 at 5 28 31 pm" src="https://cloud.githubusercontent.com/assets/910829/22128070/e1c461a6-de6c-11e6-9ac7-98f10ea4dd09.png">

[2017-01-19 22:36] SeventhCycle commented on #2005
@ron666 I'm still seeing the old website when I go to that address. Did you just switch it over? If so, I'll wait a day or so until DNS propagates.

[2017-01-19 23:12] ron666 commented on #2004
@SeventhCycle Thanks for the idea. We are happy to help whoever decides to use this package and we certainly appreciate your words. As per issue goes I'll answer each one of your questions:

I had an example previously but I decided to favor the automated tests for Travis CI. The proper way to do it is using `renderers: ['flash_video', 'flash_hls', 'flash_dash']` if your purpose is to use only vid

[2017-01-19 23:15] ron666 commented on #2005
@SeventhCycle It was changed today early in the morning. Like you said, maybe the DNS is still propagating. So yeah wait until tomorrow and test again please

[2017-01-19 23:24] ron666 commented on #2004
Just FYI I just pushed the code and shims with `smooth` enabled by default.

[2017-01-20 00:58] SeventhCycle commented on #2005
Went ahead and successfully reproduced this on new site:

<img width="835" alt="image" src="https://cloud.githubusercontent.com/assets/14118781/22131446/54fbb624-de68-11e6-9b47-7cd82528d268.png">

Try:
1) Starting the video.
2) Don't move the mouse until the controls go away.
3) Right click on the movie and select "Show Controls"

[2017-01-20 01:01] SeventhCycle commented on #2004
This has been really helpful. Thank you!

renders
===

That seems to do the trick for getting the flash player to load.

Is there still Silverlight support for loading WMV files?

enablePluginSmoothing:
===

Awesome. Is this something that is still controlled by enablePluginSmoothing: true/false? Or is there another variable I should set this to if I wish to turn this on / off?

If it's going to b

[2017-01-20 01:20] ron666 commented on #2005
Ok I'll check it in a minute. Thanks

[2017-01-20 01:30] ron666 commented on #2004
Not anymore. We dropped support for WMV and WMA files since most of open source players don't support them anymore

It will do Flash as fallback

Always gonna be on

It has always been for Flash; however, in HTML5, if you indicate a URL with `#t` (http://vodflash.tv5monde.com/focus/legendes/4fils.mp4#t=240) it will start from that second, and that allows to seek ahead and start from there

Any oth

[2017-01-20 03:15] ron666 commented on #2005
@SeventhCycle This is a native behavior based on context menu. Even with 2.x this happened. I went to https://web.archive.org/web/20170108090313/http://mediaelementjs.com/ and I performed the test and here are the results:

<img width="992" alt="screen shot 2017-01-19 at 10 10 51 pm" src="https://cloud.githubusercontent.com/assets/910829/22134334/53c52836-de94-11e6-88b9-e849f09f8b0a.png">

I've re

[2017-01-20 03:15] #2005 closed

[2017-01-20 03:42] ron666 commented on #2002
@dmitrylebedev OK after some research and test the only thing I can say is that I cannot include jQuery inside of the bundle since it changes constantly and it will turn the bundle really big. What I found is that in order to make jQuery to work with `import` you need to create a `jquery-global` and then use it in your own script (http://stackoverflow.com/questions/35358625/jquery-is-not-defined-w

[2017-01-20 04:41] ron666 commented on #1995
Alternatively you can use https://raw.githubusercontent.com/johndyer/mediaelement/master/build/mediaelement-and-player.min.js in your Fiddle and test; I did it myself and it worked as well

[2017-01-20 06:27] sharathdaniel commented on #1995
Tried the latest build and the bug is gone. Thanks for fixing the bug and prompt response.

[2017-01-20 11:11] ron666 commented on #1995
You are welcome

[2017-01-20 11:11] #1995 closed

[2017-01-20 12:32] SeventhCycle commented on #2005
I was thinking for a moment that there was a regression between the player on the old site and the one that I've been using for installs.

I went ahead and set up an example here:
http://seventhcycle.net/mejs/gfxglitch/?p=2

And sure enough, it shows on the 2.0 player too.

My bad. Sorry to bug you with this one. I guess it was just more noticeable with the new skin since the skin.

Before we clos

[2017-01-20 13:44] ron666 commented on #2005
I'll try to see if it's possible, but it will be in a future iteration. Thanks for reporting this either way :)

[2017-01-20 13:45] isantolin opened #2007 "Missing FLV on "Try other media sources" main page"
The select element for FLV files play is missing

![captura de tela 2017-01-20 as 11 46 47](https://cloud.githubusercontent.com/assets/264640/22151593/d0fbbf60-df05-11e6-9733-0a138e4d98df.png)

[2017-01-20 13:49] ron666 commented on #2007
The thing is that I haven't found a good FLV and that's why I haven't added it yet. If you have one let me know

[2017-01-20 17:38] ron666 commented on #1997
To give you an status: I tried to emulate this environment in my Mac using VBox and installing Win7 IE11 but everything was fine. Unfortunately I can't reproduce this on my side so I'm gonna rely on the screenshots and info you can provide me. My apologies

[2017-01-20 18:38] isantolin opened #2008 "[Feature] Split between video qualities"
@ron666 Like Youtube, can add a feature to split between video qualities, or "Auto" for autosplit by bandwidth analisys?

[2017-01-20 21:33] ron666 commented on #1998
@daveyshindig Version 3.0.1 has been released so try it with the above and let me know

[2017-01-21 14:30] DrLightman commented on #1205
Hello, what's the status of this feature at present? Is one able to add let say a VAST as preroll to a video?

[2017-01-21 14:47] ron666 commented on #1205
Not yet is in the queue but we haven't done any work. Any PR are welcome for this or I'll keep you posted

[2017-01-21 15:40] ron666 commented on #1205
Vast is currently available but you'll need to bundle a custom file. See Guidelines for more instructions

[2017-01-21 16:07] #2004 closed

[2017-01-21 17:04] ricking06 opened #2009 "Does this Player Supports Adaptive Bitrate Streaming?"
Does this Player Supports Adaptive Bitrate Streaming?(ABR)  Is there any example ?

[2017-01-21 17:28] ron666 commented on #2009
If you are talking about using an HLS file with different resolution to adapt bandwidth yes. The current example in the main website is one of them

[2017-01-21 19:59] nupamore opened #2010 "Not showing controls div from youtube when mobile"
You can test with `demo/index.html`

1. Change default source
[code]
2. Open the chrome developer tools, Toggle device toolbar. And refresh the browser.

[2017-01-21 23:11] ron666 commented on #2010
Thanks. I'll check this and let you know

[2017-01-22 01:20] isantolin commented on #2007
@ron666 That page
http://www.sample-videos.com/
has some FLV sample files for use with the player

[2017-01-22 02:07] ron666 commented on #2007
Have you tried to use any of those videos with the URLs directly with flv.js? If one of them works can you point it out so I can reference the URL in the website and demo file please?

[2017-01-22 10:26] ricking06 opened #2011 "Unexpected Token import"
When using Other Features im getting
`Unexpected token import`
Is it using some dependency ?

[2017-01-22 14:18] nupamore opened #2012 "Can't control the volume from youtube"
If I try to control the volume from GUI, It becomes mute.
[code]
You can test anywhere.

[2017-01-22 15:02] ron666 commented on #2011
Can you list what other features and a code snippet so I can verify it please?

[2017-01-22 15:11] ron666 commented on #2012
Thanks I'll check it and keep you posted

[2017-01-22 16:02] ricking06 commented on #2011
im just using plain`jquery`,`mediaelement-and-player.js` and trying to add

[code]

in the `demo.js` file in here https://github.com/johndyer/mediaelement/blob/master/demo/demo.js.
I have included the `/src/js/features./speed,js` script in index file.
But im getting that error.

I'm not using any other js frameworks . Do i need any dependency ? if so which ones ?

[2017-01-22 17:02] ron666 commented on #2011
You will need to bundle it. Read the guidelines in the grunt section that will tell you how to include it properly. I'll be preparing a new repo for plugins when you won't need to do this anymore but for now that's the way you may have to

[2017-01-22 20:36] ron666 commented on #2012
Can you post a code snippet so I can reproduce this issue with YouTube please?

[2017-01-22 20:37] ron666 commented on #2009
Read more about this in https://github.com/dailymotion/hls.js/blob/master/API.md

[2017-01-22 20:37] #2009 closed

[2017-01-22 21:40] OFarukCaki opened #2013 "I can't setup on wordpress"
Hello,
Thanks for makes this awesome media player, it is working on html page very good but when I tried to install and use on wordpress I got few problems.

I coped necessary files into wordpress directory, then added necessary codes on header.php and footer.php,
I added a sample video, it is showed up but complicated. Here is the screenshot: [http://prntscr.com/dz05ys](url)

No captions showing,

[2017-01-22 23:22] ron666 commented on #2013
Thanks for pointing this. If you have a URL I can check I'd appreciate it. This seems to be a matter of the classPrefix and style sheet since now the player uses BEM naming convention but we provided a "legacy" style sheet for it

[2017-01-23 02:50] nupamore commented on #2012
1. Go http://www.mediaelementjs.com
2. Change source to youtube
3. Try control volume

It also happens in basic code.
[code]

My environment is macOS Sierra, chrome and safari

[2017-01-23 03:25] ron666 commented on #2010
@nupamore I tested this the way you mentioned and I tried all the devices in the toggle. I saw the control bar on all of them
<img width="363" alt="screen shot 2017-01-22 at 10 23 32 pm" src="https://cloud.githubusercontent.com/assets/910829/22190493/819089cc-e0f1-11e6-912f-aaa1746880d2.png">
<img width="369" alt="screen shot 2017-01-22 at 10 24 58 pm" src="https://cloud.githubusercontent.com/asse

[2017-01-23 03:39] ron666 commented on #2012
@nupamore This issue has been fixed; please download the latest version of the package and let me know if it worked for you. Thanks.

[2017-01-23 04:00] nupamore commented on #2012
Thanks! The volume controls works well.
But if I click(not drag), slider becoms max.

[2017-01-23 04:02] ron666 commented on #2012
Ok let me check that and I'll let you know

[2017-01-23 04:16] ron666 commented on #2012
@nupamore Please test again I just made the fix for this. Download the latest version and let me know if it works for you. Thanks

[2017-01-23 04:44] nupamore commented on #2012
Perfect. Thanks.

[2017-01-23 04:44] #2012 closed

[2017-01-23 05:00] nupamore commented on #2010
Please try this code.
Desktop -> Mobile is valid.
Please check below this one after toggle moblie and refresh.

[code]

[2017-01-23 05:24] ron666 commented on #2010
@nupamore If you set `hideVideoControlsOnLoad: true` as true, the control bar won't show up at the beginning, because that option is what it does. Just remove it and you will see the controls. I searched for references in demo or test files using that option and I didn't find one.

[2017-01-23 06:10] nupamore commented on #2010
Sorry. I thought it would be there.
Anyway, If that option is true, won't show at the beginning. will show controls when hover cursor.
But in mobile, won't show controls anytime
Is there an option I don't know?

[2017-01-23 09:39] OFarukCaki commented on #2013
It was installed on my localhost, then I setup on my blog to show you, but now nothing shows, even complex one. Here is the URL: http://msdos.org/test/

[2017-01-23 11:15] ron666 commented on #2013
Perfect let me take a look and let you know my findings. Thanks

[2017-01-23 12:11] ron666 commented on #2013
@OFarukCaki You are getting an error initially because you need to wrap the call of `mediaelementplayer` from `demo.js` inside a `$(document).ready()` call to ensure that once everything was loaded you will access the MEJS plugin. Start with that and let me know

[2017-01-23 12:33] ron666 commented on #2010
No it's not you must set it to false. The `hideVideoControlsOnLoad`  is only deactivated if a mouse movement occurs

[2017-01-23 12:44] OFarukCaki commented on #2013
Sory I don't understand what should I do, I doN't know much about php/js coding.  Can you explain a little bit more please?

[2017-01-23 12:50] ron666 commented on #2010
If you use a real device you won't have this issue, but in the emulator might be different and not respond to the mouse events (or touch events) properly

[2017-01-23 12:52] ron666 commented on #2013
Basically you have to modify the demo.js file by adding this before the `mediaelementplayer` call:
[code]
Seems that you copied all the example, and I don't know if that's 100% correct inside Wordpress. Keep me posted about this one

[2017-01-23 13:22] OFarukCaki commented on #2013
I added these codes before mediaelementplayer call, but nothing changed. Maybe problem caused by WordPress :(  As I know Wordpress is using  mediaelement.js player, but I couldn't find anything to add subtitles/captions on a video.

Thank you for your help.

[2017-01-23 13:50] ron666 commented on #2013
Can you list the steps so I can install Wordpress and the plugin on my local machine and that way try to debug this, please?

[2017-01-23 14:02] OFarukCaki commented on #2013
I did steps like this:
1. I installed wordpress on localhost
2. I copied build folder on main directory of wordpress.
3. I also moved demo.js into this build folder( I found it from demo folder on this repository, I tried and didn't wordked without it, because of that I also copied it)
3. Then I added necessary codes between <head> and <body> tags using wordpress footer and header file ( header fo